[2014-05-14 20:01] spyysalo opened #3 "sequence number appearing on visualizations is always "1""
illustration:
![issue-3](https://cloud.githubusercontent.com/assets/587850/3010967/f816eb56-df21-11e3-9ced-f0ceb431d877.png)

[2014-05-14 20:03] spyysalo opened #4 "cross-reference "#" number resolution only works page-internally"
The cross-reference "#"-character-to-number resolution feature only works page-internally. Fix will likely require resolution during html generation (i.e. in jekyll).

[2014-05-15 08:16] spyysalo opened #5 "jekyll conflicts w/visualizations w/words ending in dash"
For the input

[code]

jekyll replaces the double-dash in `righ--4` with an mdash, which causes the embedded visualization to fail.

General case: jekyll processing should be off in all visualization divs.

[2014-05-15 18:58] spyysalo opened #6 "exclude details by default on merged documentation pages"
could use a jekyll conditional block like

[code]

on each page with details, but some more elegant solution would be preferred.

[2014-05-18 12:31] #6 closed, assigned to spyysalo

[2014-05-19 14:30] #3 closed, assigned to spyysalo

[2014-05-19 14:33] spyysalo opened #7 "restore and fix sentence sequence numbering"
follow-up to #3 and #4.

[2014-05-19 14:38] spyysalo opened #8 "fix conversion artifacts in English documentation"
http://universaldependencies.github.io/docs/en-all.html has the literal strings `ldots`, `hspace{3em}` (there may be others).

also http://universaldependencies.github.io/docs/en/rel.html is empty.

[2014-05-19 15:19] #4 closed, assigned to spyysalo

[2014-05-19 16:10] #5 closed, assigned to spyysalo

[2014-05-20 11:46] #8 closed, assigned to fginter

[2014-05-20 11:53] fginter opened #9 "Link to relation page in the auto-generated "all" page"
It would be really nice if the auto-generated "all" page could auto-include links to the per-relation page (+ possibly also the USD relation documentation). This would be useful for editing these as well as when details are omited.

[2014-05-20 12:48] spyysalo opened #10 ""as well as" missing a mwe dep (usd/mwe)?"
On http://universaldependencies.github.io/docs/usd/mwe.html, the first example is

[code]

but should perhaps be

[code]

[2014-05-30 09:12] spyysalo opened #11 "merged documents presenting particular linguistic constructions"
suggestion from @manning :

[code]

[2014-05-30 09:13] spyysalo opened #12 "relation table in merged document"
suggestion from @manning :

[code]

[2014-05-31 16:24] manning opened #13 "Multi-line glossing"
Sampo, is it possible to support with brat doing interlinear glossing as is standard in linguistics for texts in different languages or just if you want to give more information about the morphology, etc. (http://en.wikipedia.org/wiki/Interlinear_gloss). I think that will be very useful for giving examples in different languages.

[2014-06-02 12:49] #10 closed, assigned to mcdm

[2014-06-02 13:06] #9 closed, assigned to spyysalo

[2014-06-02 13:10] spyysalo opened #14 "Cross-language links in relation documentation"
from suggestion by @fginter in #9:

[code]

[2014-06-02 13:27] #12 closed, assigned to nobody

[2014-06-02 13:29] spyysalo opened #15 "update English relation documentation"
The relation documentation for English is pulled from the SD manual and likely not to be up to date wrt recent changes made for USD.

[2014-06-02 13:32] spyysalo opened #16 "use document-internal links in merged document"
The merged docs http://universaldependencies.github.io/docs/ud-dep-all.html and http://universaldependencies.github.io/docs/fi-dep-all.html contain the same relation tables as the corresponding index docs (since #12). However, the links to the relation documentation remain to the per-relation docs even in the merged doc. The merged document links should be document-internal instead.

[2014-06-02 13:51] #14 closed, assigned to spyysalo

[2014-08-27 08:55] fginter opened #18 "Mouse hover highlights tokens/deps in all(?) examples on the page"
When there are several trees on a page, the mouse hover highlights tokens in the same position also in other trees, although it looks like not all of them.

[2014-08-27 11:03] #18 closed, assigned to spyysalo

[2014-08-27 11:14] spyysalo opened #19 "nmod appears in English relation type table but lacks documentation"
`nmod` appears in the index table http://universaldependencies.github.io/docs/en-index.html but the linked page http://universaldependencies.github.io/docs/en/nmod.html is missing (404). There is no `_en/nmod.md` source document in the repository.

@mcdm : is the issue with the table or the documentation?

[2014-09-03 10:17] dan-zeman opened #20 "Files named "aux" cause problems"
The docs.git repository cannot be fully cloned in Microsoft Windows because for silly historical reasons, this system disallows files with certain three-letter names, including "aux" (regardless case and .extension). The files affected in this repository are

_en-dep/aux.md
_fi-dep/aux.md
_ud-dep/aux.md
_ud-pos/AUX.md

Any chance to rename these so that the repository gets more portable?

Thanks
D

[2014-09-06 16:53] #20 closed, assigned to spyysalo

[2014-09-09 08:10] spyysalo opened #22 "use page.path instead of page.url to link to edit page"
https://github.com/UniversalDependencies/docs/blob/pages-source/_layouts/base.html#L22

has the overly complex and brittle part

[code]

use `page.path` instead of `page.url` to remove the need to `replace` here.

[2014-09-09 09:33] dan-zeman opened #23 "Pages about features cannot be edited on-line"
I am at
http://universaldependencies.github.io/docs/ud-feat/Gender.html
and I click on "edit page". It takes me to
https://github.com/universaldependencies/docs/edit/pages-source/ud-feat/Gender.md
which does not exist and triggers a 404 error.

The missing bit is probably that the server forgets to translate "ud-feat" to "_ud-feat". I do not know where this is done for the other folders.

The sour

[2014-09-09 14:35] #23 closed, assigned to nobody

[2014-09-10 06:42] dan-zeman opened #24 "Bad grouping of relations in relations.html?"
The upper middle cell in http://universaldependencies.github.io/docs/relations.html is named "Non-core dependents of clausal predicates". However, some of the relations mentioned in this cell do not depend exclusively on clausal predicates. For instance, the `nmod` relation and its very first example, _the Chair 's office_.

[2014-09-10 07:37] spyysalo opened #25 "Standardize on `~~~ sdparse` syntax (instead of `<div class="sd-parse">`)?"
The visualization system supports two equivalent ways to write examples, one using Markup-line block syntax (`~~~`) and the other HTML (`<div class="...">`). For example, the first visualization here http://universaldependencies.github.io/docs/embedsd.html can be equivalently written either as

[code]

or

[code]

(the hyphen in `sdparse` in the second form only is a historical accident.)

The doc

[2014-09-10 08:45] #24 closed, assigned to nobody

[2014-09-10 18:34] spyysalo opened #26 "examples in format.md should contain correct feature names and values"
Revisit http://universaldependencies.github.io/docs/format.html and check feature names and values once (initial version of) features finalized.

(Suggestion from @dan-zeman .)

[2014-09-10 18:42] #22 closed, assigned to spyysalo

[2014-09-11 11:39] spyysalo opened #27 "SD parser fails on commas"
Multiple instances can be seen on http://universaldependencies.github.io/docs/fi-dep-all.html (e.g. http://universaldependencies.github.io/docs/fi-dep/cc.html)

[2014-09-11 11:43] spyysalo opened #28 "Russian example on ud-dep/case broken"
http://universaldependencies.github.io/docs/ud-dep/case.html

[2014-09-11 11:46] spyysalo opened #29 "Allow `root(root-0, ...)` in SD?"
http://universaldependencies.github.io/docs/ud-dep/remnant.html currently has a few examples such as

[code]

The parser gives

[code]

for these

[2014-09-11 12:04] #27 closed, assigned to spyysalo

[2014-09-11 12:16] #28 closed, assigned to nobody

[2014-09-11 14:16] #29 closed, assigned to spyysalo

[2014-09-11 14:54] spyysalo opened #30 "`~~~ sdparse` visualizations get different margins than `<div class="sd-parse">` ones"

[2014-09-11 14:55] #25 closed, assigned to nobody

[2014-09-11 17:50] spyysalo opened #31 "complete CoNLL-U support"
- full parsing and validation
- visualization support for all aspects
- ...

[2014-09-11 18:37] spyysalo opened #32 "more sensible information popups"
As of 7dacf61b74f698184acf2aab9d9c1405cd73ef2e, mousing over span and relation annotations produces a basic information popup with type and (for spans) marked text.

This information is entirely redundant with that already shown in the visualization.

The info popup is likely to be useful for displaying feature values, but should probably not be shown at all in cases where no additional informatio

[2014-09-11 19:25] spyysalo opened #33 "format documentation: feature documentation details"
(More format documentation nitpicking, thought I'd avoid spamming everybody and try issues instead.)

A few questions re: http://universaldependencies.github.io/docs/format.html#morphological-annotation:
- What characters are permitted in feature names and values? Presumably at least `=` and `,` are disallowed to keep the syntax unambiguous, but is e.g. non-ASCII alphabetical OK? Or just `[a-zA-Z]

[2014-09-11 19:59] dan-zeman opened #34 "yes / no"
We need a survey of existing corpora w.r.t. the words "yes" and "no" (the latter as a response, not as in "we have no bananas"). How are they annotated there? Do we want to tag them PART, or INTJ?

[2014-09-11 21:38] spyysalo opened #35 "validate.py crashes on DOS newlines"
to replicate:
- check out https://github.com/UniversalDependencies/tools (master branch)
- `cp test-cases/valid/tanl.conll dos-newlines.conll`
- `unix2dos dos-newlines.conll`
- `python validate.py < dos-newlines.conll`

result:

[code]

expected: either accept or reject the file w/o crashing.

related issue: I didn't find comment in the format document on Unix (LF) vs. DOS (CR/LF) vs. other newlin

[2014-09-12 07:10] spyysalo opened #36 "Layered features: format documentation, validator support and test cases"
251d67a96e8340e025c59b54618e8810bf8b0b87 documents layered features on http://universaldependencies.github.io/docs/features.html. http://universaldependencies.github.io/docs/format.html, the `validate.py` script, and test cases should be updated to match.

[2014-09-12 08:47] #35 closed, assigned to fginter

[2014-09-12 09:17] #30 closed, assigned to spyysalo

[2014-09-15 07:21] spyysalo opened #37 "validate.py crashes on duplicate ID"
To replicate, for https://github.com/universaldependencies/tools,

[code]

[2014-09-15 07:50] spyysalo opened #38 "validate.py crashes on empty HEAD"
For https://github.com/universaldependencies/tools:

[code]

[2014-09-16 08:14] #33 closed, assigned to nobody

[2014-09-16 08:37] spyysalo opened #39 "format documentation: some (mostly) HEAD and DEPS questions"
Some more questions regarding the format spec (http://universaldependencies.github.io/docs/format.html):
1. It was decided (#33) that feature names and values must have the form `[A-Z0-9][a-zA-Z0-9]*`. Are dependency relations similarly required to have a particular form (e.g. `[a-z]+`)?
2. May a CoNLL-U sentence to have no words with `HEAD = 0` (`root` relations)?
3. May a CoNLL-U sentence to hav

[2014-09-16 20:04] #31 closed, assigned to spyysalo

[2014-09-16 20:05] #32 closed, assigned to spyysalo

[2014-09-18 11:02] #34 closed, assigned to dan-zeman

[2014-09-18 19:45] spyysalo opened #40 "Allow different text for auto-link"
from @dan-zeman :

"""
can I link to a label using a text other than the label itself? For example, how would I rewrite the following in your syntax?

[code]

"""

this should be supported.

[2014-09-19 06:26] dan-zeman opened #41 "Two styles of hyperlinks"
I often use HTML to create hyperlinks, partly because I like it and partly because some types of links are currently not supported in the `[]()` syntax (see #40): `<a href="../ud-pos/ADJ.html">adjectives</a>`.

Occasionally I also use the `[]()` syntax, as in `[ud-dep/case]()`.

Now I realized that the results differ in style: the HTML-defined link is underlined while the `[]()`-defined link is no

[2014-09-19 06:33] #41 closed, assigned to nobody

[2014-09-19 13:24] dan-zeman opened #42 "Shorter feature names?"
Some feature names, originally taken from Interset, may seem too long. In general, I do not favor extremely short names because longer names are more self-explanatory. However, I would not mind shortening two names: `Definiteness` and `Negativeness`. By removing the `ness` part, we would get `Definite` and `Negative`, which is probably understandable enough. Any opinions?

[2014-09-19 20:33] dan-zeman opened #43 "Guidelines for language-specific documentation"
We need a page summarizing what a language-specific description should contain as a minimum. @jnivre suggested the following:

For the language-specific entry pages, I am not sure how to structure it, but I think the following info should be compulsory:

1. A description of how words and tokens are defined (including whether range tokens are used, etc.)
2. A description of the morphological annota

[2014-09-19 20:38] dan-zeman opened #44 "What to do with words that are mentioned rather than used?"
Copying from e-mails:

@dan-zeman: I am quite okay with "yes" and "no" being interjections rather than particles. Either way would be a bit arbitrary. It is also clear that ambiguous usages should be separated ("no" in "no way", or in other languages where the same word translates as English responsive "no" or functional "not"). What about usages such as "I am waiting for his "yes" on the matter."

[2014-09-20 10:01] spyysalo opened #45 ""nondeterministic word segmentation""
The phrase "nondeterministic word segmentation"(http://universaldependencies.github.io/docs/format.html) may be misleading, as the running examples (e.g. _dámelo_ = _da me lo_, _au_ = _à le_) are AFAIK systematically split this way. Similar for "extraction of words [... ] is nondeterministic" (http://universaldependencies.github.io/docs/tokenization.html). Consider rephrasing?

[2014-09-21 19:42] #45 closed, assigned to nobody

[2014-09-21 20:40] spyysalo opened #46 "Broken links in merged documents"
Many links between pages in a single collection are broken in merged (single-page) documents (see e.g. http://universaldependencies.github.io/docs/ud-pos-all.html).

Documents created as automatic merges of pages in particular collections, such as http://universaldependencies.github.io/docs/ud-pos-all.html, are currently found in the documentation root directory (`docs/`), while the individual doc

[2014-09-22 10:30] spyysalo opened #47 "flash of unstyled content on index page (tabs)"
see http://forum.jquery.com/topic/jquery-ui-tabs-widget-flickers-hidden-divs-on-load for a candidate solution.

[2014-09-22 12:08] #47 closed, assigned to spyysalo

[2014-09-24 09:14] spyysalo opened #48 "SD parser fails on sentence-terminal space"
To replicate:

[code]

Adding an extra space character to the end of `extra space` causes the SD parser to read the whole entry as text (no dependencies), producing a visualization where the text is `extra space dep(extra, space)`.

[2014-09-24 15:50] dan-zeman opened #49 "Phrase-level vs. word-level modification"
Yoav says: Maybe we should consider some mechanism for distinguishing phrase level vs. word level modification.

Context: Constituent trees can naturally express distinctions like
(almost (at (my house)))
vs.
(at ((almost my) house))
while in dependency trees this distinction could get lost (disregarding word order, which may be different in other languages anyway).

Another example is a shared mo

[2014-09-25 09:53] spyysalo opened #50 "Avoid phrase structure language"
Parts of the documentation make frequent use of phrase structure ideas and terminology in definitions. For example (http://universaldependencies.github.io/docs/u/dep/relcl.html):

[code]

It would be better to reduce such usage, as the (exact) definitions of `NP`, `VP`, etc. are neither found in the documentation nor always obvious, not all languages intended to be covered by the UD documentation

[2014-09-25 13:05] spyysalo opened #51 "Feature specification in SD visualizations"
Suggestion from @yoavg and @jnivre : support features in SD visualizations using the format

[code]

[2014-09-25 13:50] spyysalo opened #52 "RTL support (or workaround)"
As brat _still_ doesn't have right-to-left support (https://github.com/nlplab/brat/issues/774, https://github.com/nlplab/brat/issues/1057), the visualization can't do e.g. Hebrew.  Either true RTL support or some reasonable workaround is needed.

[2014-09-25 14:06] #51 closed, assigned to spyysalo

[2014-09-25 18:45] #48 closed, assigned to spyysalo

[2014-09-26 06:23] #39 closed, assigned to fginter

[2014-09-26 06:50] #7 closed, assigned to spyysalo

[2014-09-26 13:29] #42 closed, assigned to nobody

[2014-09-26 14:28] jnivre opened #53 "Update documentation of USD relations in the light of new general principles"
We need to go through the documentation of universal relations and minimally make sure that all the text and examples are compatible with the general principles. Ideally, we should also add more information for relations to which some general principle applies (for example, explain how to treat multiple auxiliaries under "aux" and "auxpass"). Whoever does this may want to address issue #50 (avoid

[2014-09-26 15:33] spyysalo opened #54 "Move "Interset features that are not part of this standard"?"
The bottom of the morphology page (http://universaldependencies.github.io/docs/morphology.html) has a list of Interset features that are not part of the selected subset of universal features (http://universaldependencies.github.io/docs/ud-feat-index.html).

This is probably not the best possible location for this information. @mcdm suggested creating a separate page summarizing language-specific e

[2014-09-27 06:23] #40 closed, assigned to spyysalo

[2014-09-27 11:34] dan-zeman opened #55 "English glosses in visualisation?"
Is there a method to add English glosses to non-English trees? So far, I have seen two consecutive trees, one non-English and one English. Or no translation at all. I would like to be able to merge them in one picture, e.g. that the English glosses would appear aligned below the original words, perhaps in different font or color:

`Ich weiss nicht , wie man das macht .`
`I__ know_ not__ , how one

[2014-09-28 06:59] #54 closed, assigned to dan-zeman

[2014-09-28 10:15] #55 closed, assigned to nobody

[2014-09-29 04:45] spyysalo opened #56 "punct is coordination?"
@dan-zeman : re: 05d863c476d2de16cfbde9d9726719d31e53a1d9 : I appear to have missed the discussion leading up to this change, but shouldn't the presentation of punct be the same on these three (as well as any we may introduce in the future)?

http://universaldependencies.github.io/docs/ud-dep-index.html
http://universaldependencies.github.io/docs/en-dep-index.html
http://universaldependencies.gith

[2014-09-29 10:47] spyysalo opened #57 "Reorganize file / directory structure"
The website file and directory structure has grown organically without much planning and is currently fairly messy. After public release (in a few days) we'll likely get incoming links, making changes trickier. Suggest to reorganize so that
- Everything related to a language is in the same subdir (e.g. `en/`)
- Language-specific pages on POS tags / features / dependencies are found in `pos/` / `fe

[2014-09-29 10:51] spyysalo opened #58 "Frozen version of 1.0 documentation?"
There's currently just one version of the documentation, http://universaldependencies.github.io/docs/ . Following initial public release (1.0), it might make sense to provide a (mostly?) frozen version 1.0 separately from the development version being used to work on the next release (2.0?). Thoughts?

[2014-09-29 19:01] spyysalo opened #59 "Remove relations.md"
relations.md seems deprecated but is still linked from two places.

[2014-09-29 19:03] #56 closed, assigned to dan-zeman

[2014-09-29 19:15] cainesap opened #60 "Parse visualization: 'how to' page missing"
Hi, the 'how to create parse visualizations' link is broken: http://universaldependencies.github.io/docs/embedsd.html

From the 'how to contribute' section on this page: http://universaldependencies.github.io/docs/visualization.html

I remember reading it before, when the link was ok, and it was a very clear explanation! Please could you restore it?

[2014-09-30 07:39] spyysalo opened #61 ""in other languages" link broken for `aux`"
See e.g. http://universaldependencies.github.io/docs/u/dep/aux.html . The underlying issue is that the redirect fix to #20 breaks the assumption that labels and filenames match in `makedata.sh`.

Ideally, `makedata.sh` should actually parse out the label from each file, but just removing underscores would fix this specific issue.

[2014-09-30 08:19] #61 closed, assigned to spyysalo

[2014-09-30 08:29] #57 closed, assigned to spyysalo

[2014-09-30 08:33] spyysalo opened #62 ""see details" broken on merged pages"
See e.g. under "apposition" on http://universaldependencies.github.io/docs/fi/dep/all.html. Likely caused by #57.

[2014-09-30 08:36] #46 closed, assigned to spyysalo

[2014-09-30 08:45] #60 closed, assigned to spyysalo

[2014-09-30 08:50] #62 closed, assigned to spyysalo

[2014-09-30 09:11] #19 closed, assigned to mcdm

[2014-09-30 09:13] spyysalo opened #63 "check for dead links, "TODO"s etc. in documentation"
per title

[2014-09-30 09:23] #59 closed, assigned to spyysalo

[2014-09-30 12:21] #52 closed, assigned to spyysalo

[2014-09-30 12:50] spyysalo opened #64 "Hierarchical relations"
There now appears to be tentative agreement to adopt @yoavg's suggestion for hierarchical relation labels using the `general:specific` syntax (e.g. `npmod:tmod`) (with remaining discussion on two-level (option 1a) vs. multi-level (1b)).

The following language-specific types should be renamed accordingly:

Finnish (@fginter / me)
- `nsubj-cop` (`nsubj:cop`?)
- `csubj-cop` (`csubj:cop`?)
- `nmod-ow

[2014-09-30 13:12] spyysalo opened #65 "Back button support in index page tabs"
From @fginter : the tabs on the index page (http://universaldependencies.github.io/docs/) fail to keep state.

To replicate:
- click on any tab except the first (e.g. "English")
- click on any of the the links in the tab
- click back button

Result: first tab ("Universal") is selected.

Expected: previously selected tab (e.g. "English") is selected.

[2014-09-30 14:32] spyysalo opened #66 "Removing nfincl and ncmod"
Per discussion on email and #64, `nfincl` and `ncmod` are being removed (e.g. 089dcec6a39d1413adb8a7555ec1e9919d4e181a). At least the Finnish documentation should be updated to match: these relations are currently displayed at http://universaldependencies.github.io/docs/fi/dep/ as standard UD types.

@fginter : would you mind taking this for Finnish?

[2014-09-30 19:21] spyysalo opened #67 "Reorganize documentation system documentation"
(leftover from #57)

http://universaldependencies.github.io/docs/contributing.html and http://universaldependencies.github.io/docs/visualization.html duplicate quite a lot of the documentation of the documentation system that's now available at http://spyysalo.github.io/annodoc/ . The redundancy should be eliminated, preferably moving all meta-documentation to the annodoc repo so that this one onl

[2014-09-30 19:41] dan-zeman opened #68 "Visualization breaks on multi-sentence CoNLL-U excerpts"
@spyysalo says that the `~~~ conllu` command is supposed to be able to digest multiple sentences (trees) from a CoNLL-U file. However, the example below does not work for me. The tree does not appear and all subsequent visualizations on the page show only source code.

(There are two deviations from the CoNLL-U specifications I'm aware of: 1. columns are separated by multiple spaces instead of one

[2014-10-01 04:30] #68 closed, assigned to spyysalo

[2014-10-01 07:21] #44 closed, assigned to dan-zeman

[2014-10-01 07:44] #66 closed, assigned to fginter

[2014-10-01 08:57] spyysalo opened #69 "Introducing acl"
Related (inversely?) to #66, the type `acl` is being added to UD (e.g. 00d54dcd62d8646edcdd730c86015d5936225c1b). At least the following remain TODO:
1. add `acl` for Finnish (http://universaldependencies.github.io/docs/fi/dep/ etc.), likely making `relcl` a subtype (as for English, see http://universaldependencies.github.io/docs/en/dep/)
2. rename http://universaldependencies.github.io/docs/en/de

[2014-10-01 09:18] #26 closed, assigned to spyysalo

[2014-10-01 09:19] #58 closed, assigned to nobody

[2014-10-01 09:32] dan-zeman opened #70 "Parataxis vs. direct and reported speech"
Creating an issue for what I just asked the people in e-mail:
when reading the description of parataxis (http://universaldependencies.github.io/docs/u/dep/parataxis.html), the following example caught my attention:

[code]

In contrast, I would intuitively make left depend on said (ccomp would probably be the correct deprel here).
I think all of the following should be annotated similarly (especia

[2014-10-01 09:47] dan-zeman opened #71 "Second color scheme for visualized trees?"
Sometimes it may be useful to show a tree that is not correct. As a special case, language-specific extensions may want to relate the universal dependencies to annotation style of a treebank that is widely known and de-facto standard for that language.

It would be very desirable if the trees that actually do not adhere to the UD standard (such as trees adhering to standard from which we are conve

[2014-10-01 10:09] spyysalo opened #72 "Improve consistency of presentation style"
The documentation currently mixes different typographical and other styles rather freely. For example, relation labels are variously written in italics (_nsubj_),  in emphasized constant-width font (`nsubj`), and in plain (nsubj). Similarly, examples are quoted in cases ("word") and italicized in others (_word_). It would be good to improve consistency and to document the preferred style before pr

[2014-10-01 12:34] #69 closed, assigned to fginter

[2014-10-01 13:13] spyysalo opened #73 "Finnish relation table only shows 46/57 relations"
There might be some simple explanation I'm missing here, but isn't the basic assumption that the table (https://github.com/UniversalDependencies/docs/blob/pages-source/_includes/fi-dep-table.html) would list all of the relations defined for a language (https://github.com/UniversalDependencies/docs/tree/pages-source/_fi-dep)?

Counts:

[code]

What's different?

[code]

[2014-10-01 13:57] #64 closed, assigned to nobody

[2014-10-01 14:22] spyysalo opened #74 "Incomplete latex conversion in en/dep/cop.md: "section \ref{types}""
per title, see http://universaldependencies.github.io/docs/en/dep/cop.html

[2014-10-01 14:33] #74 closed, assigned to mcdm

[2014-10-01 17:43] #15 closed, assigned to mcdm

[2014-10-02 09:41] spyysalo opened #75 "Liquid substitutions failing for merged docs"
Currently on http://universaldependencies.github.io/docs/en/dep/all.html and http://universaldependencies.github.io/docs/fi/dep/all.html literal strings such as `{{ page.title }}: {{ page.shortdef }}` are being shown instead of the filled-in variable values.

This issue surfaced when moving the merged documents into the collections `_en-overview/` and `_fi-overview/`. Collection processing order?

[2014-10-02 12:22] #75 closed, assigned to spyysalo

[2014-10-02 16:52] manning opened #76 "Emoticons are symbols?"
Long ago, emoticons were mentioned in a mail thread, but never really discussed.

I presume that emoticons/emoji should get the POS tag of SYM. You could say they are sometimes like INTJ, but I think they should rather be SYM, just like currency.  The new LDC treebanks tag them as NFP (non-final punctuation) but that just seems wrong to me. They're not punctuation.

Agreed? @dan-zeman @jnivre @yoa

[2014-10-02 16:57] manning opened #77 "Docs page is somehow not compatible with non-BMP chars/Unicode 6.0"
I put a Unicode 6.0 emoji character in the documentation for SYM:

https://github.com/universaldependencies/docs/blob/pages-source/_u-pos/SYM.md

It displays fine on that page, but is turned into a square box on this page:

http://universaldependencies.github.io/docs/u/pos/SYM.html

It seems like something is not compatible with non-BMP unicode characters, Unicode 6.0 or something?

[2014-10-02 17:01] dan-zeman opened #78 "Templates for new languages"
I'm just trying to move the thread to the issue tracker @spyysalo @jnivre @manning @mcdm @fginter @rtsarfaty @yoavg

From: "Sampo Pyysalo"
Sent: Thursday, 2 October, 2014 6:08:29 PM
Subject: Re: Adding language-specific UD documentation

[code]

[2014-10-02 17:11] #77 closed, assigned to spyysalo

[2014-10-02 17:16] spyysalo opened #79 "Better font-family"
From #77 , we currently have

[code]

with

[code]

(note `subset=latin`)

which causes issues for some OS / browser combinations that don't occur with the GitHub page using

[code]

[2014-10-02 17:20] spyysalo opened #80 "Jekyll regeneration is painfully slow"
From email and #78. With the recent quick increase in the page count, the delay from commit to website update is up to ~10 min, and we only have pages for 5 languages so far.

Likely culprit: generation of collection data for each page.

[2014-10-02 17:44] spyysalo opened #81 "Positioning of CoNLL-U link on http://universaldependencies.github.io/docs/"
Separating another issue from #78 : @rtsarfaty :

"""
+1 on getting the conll-u format out of language-specific tabs, and on placing it earlier on in the universal page (earlier than the documentation specifics - tokenization, morphology, syntax).
"""

(The link is now below the table, where it's maybe not all that visible.)

[2014-10-02 18:26] manning opened #82 "temporals with prepositions"
Traditionally, a temporal modifier of ‘now’ or ‘last week’ was done as a tmod in SD (nmod:npmod:tmod in UD?), while one with a preposition like ‘by now’ or ‘by next week’ became a prep and pobj in SD (nmod in UD). Under the UD analysis as so far proposed, both cases would be headed by ‘now’ or ‘week’, and so it seems rather funny that they are getting different dependency labels. Is this a good re

[2014-10-03 07:12] #70 closed, assigned to dan-zeman

[2014-10-03 07:43] #81 closed, assigned to nobody

[2014-10-03 07:54] #63 closed, assigned to spyysalo

[2014-10-03 08:49] spyysalo opened #83 "Content of "morphology" and "layered features" pages overlap"
The documentation on http://universaldependencies.github.io/docs/u/overview/morphology.html and http://universaldependencies.github.io/docs/u/overview/feat-layers.html overlaps non-trivially in content. It would be good to avoid such redundancy.

[2014-10-03 10:20] rtsarfaty opened #84 "Source treebanks in the language-specific documentation"
One way in which the language-specific documentation is different than pure UD is in the description of the source data. What treebank is it based on? Which version? Was it manually converted, or manually validated, or automatically worked out? What kind of pre-post processing takes people have done? and also, general stats (size in words, in raw tokens, in sentences), and possibly the recommended

[2014-10-03 11:47] spyysalo opened #85 "Mark status of documentation"
@dan-zeman on #78 :

"""
we should find a way of checking and marking status of the individual sections. So that we can have work in progress while still being able (at any moment) to say what languages are considered stable and "releasable".
"""

Agreed! We previously had something like a status marker on the front page, but this was removed at some point ... I'll have a look at adding something

[2014-10-03 12:28] #83 closed, assigned to dan-zeman

[2014-10-04 10:18] spyysalo opened #86 "Check Finnish Case examples in universal documentation"
At least some of `Tra` examples are suspect (http://universaldependencies.github.io/docs/u/feat/Case.html) http://universaldependencies.github.io/docs/u/feat/Case.html#tra-translative--factive
- _venyi pitkäksi_ = _he got longer_ (no _he_, not comparative)
- _englanniksi_ = _in English_ (in/into)
- _kello kuudeksi_ = _until six o’clock_ (by)

(@dan-zeman : what's the source for these?)

[2014-10-04 19:47] manning opened #87 "clausal complement of a preposition"
Just checking on our analysis of:

We have no useful information on whether users are at risk

@mcdm @ngiordani @jnivre I guess my questions are around the ***\* points. This was the old pcomp, which in the LREC USD paper was why we left in ncmod.  According to what we came up with in the late September reform, this would come out as acl.  And I presume we would treat "on" as a second mark?

I gue

[2014-10-05 10:01] #85 closed, assigned to spyysalo

[2014-10-05 13:54] #84 closed, assigned to nobody

[2014-10-05 15:26] spyysalo opened #88 "one label for both instrumental and instructive"
(Question mostly for @dan-zeman and @fginter)

From http://universaldependencies.github.io/docs/u/feat/all.html#ins-instrumental--instructive:

"""
A semantically similar case [to instrumental] called instructive is used rarely
in Finnish to express “with (the aid of)”. It can be applied to infinitives that
behave much like nouns in Finnish. We propose one label for both
instrumental and instructi

[2014-10-06 05:04] #50 closed, assigned to mcdm

[2014-10-06 06:59] spyysalo opened #89 ""form of verb or form on the border between verbs and other parts of speech""
The captions for the `VerbForm` pages ("VerbForm: form of verb or form on the border between verbs and other parts of speech") are fairly unwieldy compared to the captions of other features (http://universaldependencies.github.io/docs/u/feat/index.html) . Could this be simplified?

[2014-10-06 07:41] spyysalo opened #90 "Adessive case in universal docs"
In the universal `Case` feature doc (http://universaldependencies.github.io/docs/u/feat/Case.html) the definition of `Ade` (http://universaldependencies.github.io/docs/u/feat/Case.html#ade-adessive) appears to be misleading at least for Finnish:

Contrary to the claim, _pöydällä_ does normally express location on the surface of a table. The online Finnish grammar (http://scripta.kotus.fi/visk/sisa

[2014-10-06 07:44] #86 closed, assigned to spyysalo

[2014-10-06 09:18] #53 closed, assigned to mcdm

[2014-10-06 09:54] #88 closed, assigned to nobody

[2014-10-06 09:56] #65 closed, assigned to spyysalo

[2014-10-06 12:06] #89 closed, assigned to dan-zeman

[2014-10-06 13:36] #71 closed, assigned to spyysalo

[2014-10-07 13:27] #80 closed, assigned to spyysalo

[2014-10-07 18:05] manning opened #91 "POS for English infinitive 'to'"
While working out USD, @jnivre got us to change the dependency of infinitive 'to' from our traditional aux to mark:
- infinitive marker:

One of the things I find problematic in the existing Stanford dependencies is the choice to annotate the infinitive marker “to” as “aux”. I am well aware of the tradition of doing this for English (starting, if I am not mistaken, with the GPSG analysis of verb p

[2014-10-07 19:01] Moustafa-Banbouk opened #92 "How to use Universal Dependencies with Stanford's CoreNLP"
Hi there,

I am planning to develop an application based on Stanford's CoreNLP engine and would like to know how can I use Universal Dependencies in Java-Based CoreNLP.

Thanks in advance,

[2014-10-08 02:27] #92 closed, assigned to manning

[2014-10-08 03:00] #87 closed, assigned to ngiordani

[2014-10-08 03:31] #11 closed, assigned to spyysalo

[2014-10-08 07:05] #79 closed, assigned to spyysalo

[2014-10-08 10:20] #78 closed, assigned to nobody

[2014-10-08 16:05] mcdm opened #93 "English ccomp/acl"
@ngiordani @manning
I am going through other examples that we had before in SD/USD, to see how they should be analyzed with the new guidelines. Do you agree with the following?

CCOMP

[code]

[code]

What about "the fact that": ACL ?

Right now, in "ccomp" for English we say (that was in our manual for SD): Clausal complements for nouns are limited to complement clauses with a subset of nouns lik

[2014-10-08 16:33] #91 closed, assigned to jnivre

[2014-10-10 07:13] jmnybl opened #94 "edit AUX link broken in POS documentation"
https://github.com/universaldependencies/docs/edit/pages-source/_fi-pos/AUX.md causes page not found error.

[2014-10-10 07:53] #94 closed, assigned to spyysalo

[2014-10-10 08:21] spyysalo opened #95 ""in other languages" links for POS tags and features"
The "in other languages" links are currently only generated for dependencies. This should be extended to cover also POS tags and features.

[2014-10-10 09:36] #95 closed, assigned to spyysalo

[2014-10-15 22:25] #82 closed, assigned to mcdm

[2014-10-16 06:59] spyysalo opened #96 "Japanese particles: ADP / PART / ?"
(This issue is a follow-up to earlier discussion over email.)

Based on previous discussion, the UD documentation currently includes (sentence-terminal) か / ka as an example of `PART`  while indicating that other words that are often called "particles" in everyday usage, such as に / ni and の / no should be tagged `ADP` (http://universaldependencies.github.io/docs/u/pos/PART.html).

This categoriza

[2014-10-16 08:53] spyysalo opened #97 "det(x, y) implies y/DET? (UD guidelines for POS tag DET)"
(This issue came up when working on the UD Finnish conversion of TDT.)

The UD guidelines for the POS tag `DET` (http://universaldependencies.github.io/docs/u/pos/DET.html) state

(The situation for Finnish is broadly similar as for Czech.)

The examples provided in the UD guideline (http://universaldependencies.github.io/docs/u/pos/DET.html) give the impression that any word _y_ that has a `det(`

[2014-10-17 17:48] #93 closed, assigned to ngiordani

[2014-10-22 07:38] spyysalo opened #101 "poss as subtype of nmod rather than case?"
UD Finnish currently defines the `case` dependency relation subtype `case:poss` as follows:

Examples include (simplified)

![image](https://cloud.githubusercontent.com/assets/587850/4732423/a5a549b6-59bb-11e4-8af4-e69f30c63d1c.png)

![image](https://cloud.githubusercontent.com/assets/587850/4732442/ea5cbc4c-59bb-11e4-818a-9177fe347c33.png)

As a subtype of `case`, it should be possible to replace

[2014-10-22 13:51] #101 closed, assigned to nobody

[2014-10-22 14:13] spyysalo opened #102 "Rename nmod:poss (Fi) or case:poss (En)?"
The dependency relation label `poss` is found in two different uses:
- In UD Finnish under `nmod` ([`nmod:poss`](http://universaldependencies.github.io/docs/fi/dep/nmod-poss.html))
- In UD English under `case` ([`case:poss`](http://universaldependencies.github.io/docs/en/dep/case-poss.html))

Despite sharing the label, these denote different relations, corresponding to SD `poss` and `possessive`,

[2014-10-23 06:51] #90 closed, assigned to dan-zeman

[2014-10-23 13:38] martinpopel opened #103 "case vs prep in English guidelines"
The example https://github.com/universaldependencies/docs/edit/pages-source/_en-dep/case.md mentions "prep" label, but I think it should be "case" label in UD.

[2014-10-23 13:41] martinpopel opened #104 "Comparative constructions"
I don't see any guidelines (with examples) on annotating comparative constructions.
See http://ufal.mff.cuni.cz/project/depling13/proceedings/pdf/W13-3721.pdf for a possible (pre-UD) solution.

[2014-10-23 14:56] #103 closed, assigned to mcdm

[2014-10-23 16:32] #102 closed, assigned to ngiordani

[2014-10-23 20:00] spyysalo opened #105 "auto-linking fails for merged ("all.html") pages"
For example, on the page http://universaldependencies.github.io/docs/fi/dep/all.html under the `acl` heading the link `advcl` points to the "universal" documentation, not to the Finnish one.

The issue is that `Collections.listing['_current']` gets (correctly) assigned the value `fi-overview`, and the auto-linker fails to associate this with the collection name `fi-dep` where the dependency relati

[2014-10-30 11:10] #105 closed, assigned to spyysalo

[2014-10-31 12:13] #16 closed, assigned to spyysalo

[2014-11-01 10:13] jnivre opened #106 "List structures"
Working on the conversion of the Swedish treebank, I have started to wonder about the treatment of lists and the use of the "list" relation. Part of the Swedish treebank consists of information brochures, which contain a lot of sentences like this one.

Special rules apply for
- people who live in Sweden
- people who live abroad
- people who live part of the year in Sweden

The original annotation

[2014-11-03 07:46] spyysalo opened #107 "Differentiating between infinitive forms [features]"
How to best differentiate between multiple infinitive forms using the UD feature specification?

Finnish has multiple infinitive forms, often labeled 1, 2, ... or I, II, ... (see e.g. http://en.wikipedia.org/wiki/Finnish_verb_conjugation#Infinitives_and_participles). The TDT representation uses a separate `INF` feature on verbs to mark these, with values such as `Inf1` and `Inf2`, following the mo

[2014-11-03 09:12] spyysalo opened #108 "Links to layered feature pages broken in listing"
In feature listings such as that on page http://universaldependencies.github.io/docs/fi/feat/, links to layered features such as `Number[psor]` are broken, linking to the non-existent http://universaldependencies.github.io/docs/fi/feat/Number[psor].html instead of the correct http://universaldependencies.github.io/docs/fi/feat/Number-psor.html .

[2014-11-03 09:34] spyysalo opened #109 ""see details" broken on merged pages (again)"
The fix to #16 made auto-links on the merged pages document-internal (as intended), which made the "see details" links pointless as they no longer link to the full page with details.

[2014-11-03 11:19] #108 closed, assigned to spyysalo

[2014-11-03 12:01] #109 closed, assigned to spyysalo

[2014-11-04 09:25] #73 closed, assigned to spyysalo

[2014-11-07 16:01] aolney opened #110 "Conllu first column is word index rather than character index?"
Might be a silly question, but how would you handle agglutination if the first column is a word index, e.g.

http://en.wikipedia.org/wiki/Longest_word_in_Turkish

It seems like it would be better to use character indexes. Then agglutination and multiword tokens could be handled the same way.

[2014-11-09 03:26] manning opened #111 "Someone interested in Chinese"
Rob Voigt @robvoigt who is a Stanford Ling PhD would be interested in doing a UD version of Chinese (a language with which we have some track record, since we did previously have a Chinese SD -- it was the only other supported language. @spyysalo: Could he be added to the project and a tab made for Chinese?  He'd be interested in moving in the direction of annotating some open source Wikipedia mat

[2014-11-11 17:52] mcdm opened #112 "POS for abbreviations and acronyms?"
I don't think we specified specific guidelines for annotating abbreviations like Mr., Dr. and for acronyms like UN, NATO, HBO. What about the following?
- Mr., Dr. and the like are tagged NOUN
- acronyms such as UN, NATO, HBO are PROPN

Also, what about things like kg, h (which in French stands for hour, similarly to am/pm in English)? I have been tagging them as SYM. What are people doing in othe

[2014-11-12 10:27] #110 closed, assigned to nobody

[2014-11-17 16:43] rcostu opened #113 "What about Dates?"
Hi,

I have been working lately on Part-of-Speech tagging in Spanish and we tend to follow the EAGLES standard which uses tag "w" to define dates.

What about using any special tag to define dates? Such as DATE?

If not, how are they supposed to be tagged within this new standard?

[2014-11-19 14:13] #111 closed, assigned to nobody

[2014-11-19 15:36] #76 closed, assigned to nobody

[2014-11-19 16:15] #72 closed, assigned to nobody

[2014-11-19 18:04] spyysalo opened #115 "Guidelines for lemmas"
The UD documentation does not currently have detailed guidelines for `LEMMA` (see e.g. [format](http://universaldependencies.github.io/docs/format.html) and [morpho](http://universaldependencies.github.io/docs/u/overview/morphology.html) overviews).

While it's desirable to allow language-specific variation in guidelines for this field, having at least recommendation-level guidelines would help re

[2014-11-20 11:32] spyysalo opened #116 "Documentation for multiple treebanks for a single language (diff etc.)"
Both the presentation and the organization of the documentation source have until now implicitly assumed that there is a single body of documentation for each language and that treebank-specific documentation (such as "diffs" documenting when a treebank fails to follow the UD standard on some point) is found under the documentation for its language.

In particular, a number of treebank-specific di

[2014-11-20 12:47] #38 closed, assigned to spyysalo

[2014-11-20 12:58] #37 closed, assigned to spyysalo

[2014-11-20 16:59] #113 closed, assigned to nobody

[2014-11-22 10:10] #96 closed, assigned to miyao-yusuke

[2014-11-22 18:29] #36 closed, assigned to spyysalo

[2014-11-26 16:59] msogrin opened #117 "Relation between common noun and modifier proper noun"
I would like to ask for clarification about the dependency relation between the name and the thing named. For example, in text "Foo Bar report" what would be the relation between "Foo Bar" and "report"?

According to existing UD documentation, it's clear that "Foo" and "Bar" are linked using "name" dependency relation to build a multi-word proper noun. But it's not fully clear how it would connect

[2014-11-27 14:47] spyysalo opened #118 "Non-initial proper name heads"
(This issue was previously discussed over email but left without a specific resolution.)

What should be done in cases where proper names lacking internal structure nevertheless carry evidence that some non-initial word is the head, e.g. when only the last part of the name inflects for case (etc.)?

The current universal guideline indicates that annotation using the [`name`](http://universaldepend

[2014-12-01 13:21] #117 closed, assigned to nobody

[2014-12-03 14:40] spyysalo opened #119 "Documentation of enhanced dependencies (e.g. xsubj)"
Should "enhanced" dependencies encoded in the `DEPS` field be documented similarly to "basic" dependencies? For example, if a language adds an "enhanced" `xsubj` dependency, should this appear along with other dependency types in the language-specific documentation, or be documented separately (where)?

We (Turku) would suggest to document these similarly to "basic" dependencies.

[2014-12-10 21:39] spyysalo opened #120 "Proposed correction to UD spec: remove function word constraint for mwe"
The current UD specification for [`mwe`](http://universaldependencies.github.io/docs/u/dep/mwe.html) reads in part

The function word constraint limits the applicability of `mwe` considerably, leaving "holes" in the UD treatment of compounding, namely MWEs that don't use/behave as function words. Further, this constraint is not currently followed in language-specific documentation for `mwe` (see e

[2014-12-10 22:24] spyysalo opened #121 "Mini-survey on Jan 1st release"
(This is for all current UD contributors.)

Dear Universal Dependencies contributors,

Our current goal is to make a first release of UD data sets and language-specific documentation by January 1, 2015. To help coordinate the release, we'd appreciate it if you could answer the following minimal survey (just three questions, one set of answers per group is enough)

[code]

Please respond by email t

[2014-12-12 07:43] #119 closed, assigned to nobody

[2014-12-12 07:58] #118 closed, assigned to nobody

[2014-12-12 07:59] #107 closed, assigned to mavela

[2014-12-12 11:36] dan-zeman opened #122 "Missing list of deprels for function words"
The standard works with the contrast between content and function words at various places, perhaps most importantly at http://universaldependencies.github.io/docs/u/overview/syntax.html#the-status-of-function-words (saying that function words are mostly leaf nodes).

However, I do not think there is any precise definition what counts as function word. Could we say that a word is function word iff

[2014-12-13 10:40] dan-zeman opened #123 "Language-specific Home link?"
Now that the home page URL can distinguish what language pane is active, would it be possible to make the "home" link in the header of each page language-specific? For instance, if I am at the Czech AUX page (http://universaldependencies.github.io/docs/cs/pos/AUX_.html) and click on "home", I arrive at the universal home page (http://universaldependencies.github.io/docs/). Could I instead arrive a

[2014-12-15 09:10] #123 closed, assigned to spyysalo

[2014-12-15 09:38] #121 closed, assigned to nobody

[2014-12-15 16:14] spyysalo opened #124 "Document dependency on jekyll-redirect-from"
The documentation system requires [`redirect-from`](https://github.com/jekyll/jekyll-redirect-from) to address #20, but this dependency is not documented in installation instructions.

Thanks to @prokopidis for reporting this issue.

[2014-12-16 10:31] coltekin opened #125 "Representation of `zero morphemes' in tokenization"
This may not exactly be an issue, but a question that I could not find an answer in the documentation. I hope this is the correct platform to ask such questions.

I am trying to work with Turkish, and meanwhile, I wanted to try to map some Turkish treebank data to UD format.

The range expressions or multi-word tokens in the new format solves a problem in the earlier formats for Turkish (although

[2014-12-16 11:40] #124 closed, assigned to spyysalo

[2014-12-18 07:52] spyysalo opened #126 "Feature representation for colloquial words"
Recently, UD Finnish added a binary [`Colloquial`](http://universaldependencies.github.io/docs/fi/feat/Colloquial.html) feature, and UD Czech added the [`Style`](http://universaldependencies.github.io/docs/cs/feat/Style.html) feature, with multiple values including `Coll` for colloquial. There should preferably be just one, consistently applied way to represent that a word is colloquial.

Part of

[2014-12-18 08:05] #120 closed, assigned to nobody

[2014-12-18 13:20] prokopidis opened #127 "acl ccomp"

[2014-12-19 13:25] #126 closed, assigned to spyysalo

[2014-12-19 16:22] prokopidis opened #128 "Future particle"
Hi,

I was wondering how I can integrate the future particle _θα_ in the Greek-specific dependency guidelines. _θα_ precedes verbs to form the future tense.

The guideline regarding language-specific relations says that they "should always be regarded as a subtype of an existing UD relation". But I cannot see a particle relation that I could use as a supertype.  I considered _mark_, but it is rese

[2014-12-20 22:37] #112 closed, assigned to nobody

[2014-12-21 00:09] #106 closed, assigned to nobody

[2014-12-21 04:05] #128 closed, assigned to nobody

[2014-12-23 15:41] prokopidis opened #129 "Clitic doubling"
Hi,

This is a question about how clitic doubling should be treated in UD-compatible guidelines for languages with this phenomenon.

In Greek we have

<pre><code>1. έδωσε της Καίτης τον αναπτήρα
gave ART.Fem.Gen Keti.Gen ART.Masc.Acc lighter.Acc</pre></code>

<pre><code>2. της τον έδωσε
PRON.Fem.Gen PRON.Masc.Acc gave</pre></code>

but also

<pre><code>3. Της τον έδωσε της Καίτης τον αναπτήρα
PRON

[2014-12-27 20:35] yoavg opened #130 "representing the Existential part of speech"
How would you represent the "existential" part of speech in the Universal scheme?

As a concrete case, Hebrew has the words `יש` (there-is / exists) and `אין` (there-isn't / not-exists). I'm not quite sure which combination of universal tag and morphological feature will capture this.

[2014-12-27 20:38] yoavg opened #131 "Modals / Copular."
The guidelines state that Modals are just verbs. Which is fine, but I'd expect to have an additional feature that could mark the modals as being modals. I couldn't find such a feature in the guidelines (the existing one expect you to choose a specific modality). I assume this comes up in many languages, what's the expected solution?

The same applies for copula verbs -- I'd like to have a feature

[2014-12-27 21:02] yoavg opened #132 "Question Words tag"
What's the "proper" way do represent Question Words? (why, how, what, which...)
Currently we (Hebrew) use `ADV+PronType=Int`, but I'd like being consistent with what's being done in other languages.

[2014-12-27 21:08] yoavg opened #133 ""prefix" tags"
How would you tag words corresponding to the English `inter-`, `intra-`, `un-`, `di-`, `post-`, when they appear as distinct tokens?

[2014-12-27 21:19] #131 closed, assigned to nobody

[2014-12-27 21:47] #132 closed, assigned to nobody

[2014-12-27 22:24] yoavg opened #134 "relativizers"
How are relativizers (like "that" in "the boy that I saw") represented? My current debate is between `ADP` and `SCONJ`, but neither is very good. In any case, I'd be happy for an indicative feature there to tease the relativzers apart from the other `ADP`s or `SCONJ`s.

[2014-12-27 22:31] yoavg opened #135 "Construct State"
Construct State is a very common construction in semitic languages such as Hebrew and Arabic. The guidelines suggest marking the construct state with a "Definite=Red" feature (http://universaldependencies.github.io/docs/u/feat/all.html#al-u-feat/Definite).

While I see the logic behind this, I find the name to be a bit opaque and unintuitive for such a frequent construction.

Another issue in Hebr

[2014-12-28 10:05] #133 closed, assigned to nobody

[2014-12-29 01:41] #97 closed, assigned to jnivre

[2014-12-29 04:24] #127 closed, assigned to nobody

[2014-12-29 06:23] #134 closed, assigned to nobody

[2014-12-29 06:25] #130 closed, assigned to nobody

[2014-12-29 21:32] manning commented on #129
This is a good question! Clitics and clitic doubling are common enough procedures that we should have something to say about what to do in our guidelines. Of course, this is in turn difficult because there are various analyses in the syntactic literature. And it may well be that different analyses are better for different languages -- at the end of the day, clitic phenomena are usually part of gra

[2015-01-02 17:06] prokopidis opened #136 "Remnants without correlates"
Hi,

This issue is about gapping when a non-core remnant does not correspond to a correlate in a preceding clause. For example, in the following

[code]

and in similar examples in other languages, where should we attach the adverbial clause?

If there isn't a relevant analysis that I missed, one solution would be to allow promotion of elements without a correlate, as dependents of the first claus

[2015-01-02 18:48] manning opened #137 "Language-specific relations in CoNLL-U"
The current CoNLL-U documentation doesn't mention the representation of language-specific relations, namely that colon (:) is okay in the DEPREL column. Maybe the regex should be:

([a-z][a-z_-]*)(:[a-z][a-z_-]*)*

[2015-01-05 09:05] #137 closed

[2015-01-05 09:06] spyysalo commented on #137
Thanks, updated the regex accordingly.

[2015-01-08 21:44] dan-zeman opened #139 "Broken auto-generating gh-pages?"
Maybe it is just a temporary outage somewhere but after half an hour, 564d968c04b5371e97f313ed97660db94a5e3eb4 and subsequent commit is still not visible on the website.

[2015-01-09 07:16] spyysalo commented on #139
@dan-zeman : the issue was introduced in a separate commit, should be fixed now.

[2015-01-09 07:16] #139 closed

[2015-01-09 07:19] spyysalo opened #140 "Notify committer when jekyll regenerate fails"
See e.g. #139. Notifications currently only go out only to the person who set up the jekyll-hook. The commit event structures have committer email, and a message should be sent there (also) when the build fails.

[2015-01-09 07:20] spyysalo commented on #140
This is really for https://github.com/spyysalo/jekyll-hook .

[2015-01-10 21:56] manning opened #141 "Language-particular repository naming"
I was wondering if it would be better to call the language-specific repositories something like UD_English or UD_Finnish rather than just "English".  The latter is a bit too general and under-informative once you have a checkout sitting on your hard disk....

[2015-01-10 22:05] manning commented on #129
This issue is quiet and there doesn't seem any disagreement, so I'm going to close it for now and regard this as settled for UD version 1.

[2015-01-10 22:05] #129 closed

[2015-01-11 08:30] fginter commented on #141
That is a good idea. GitHub automatically maintains redirects for renamed repositories, so repos that have already been cloned will continue working. On a related note: how can we decrease the chance people will clone the repos and use whatever data is there, as opposed to grabbing the official release zip file? I mean, if google brings them into the GitHub project, they see all these juicy repos

[2015-01-11 10:25] dan-zeman commented on #141
@fginter : This is exactly what Lindat is for: permanent link to the frozen data. But as a precaution, we should probably also follow your suggestion with the dev branch, if we have the need to put there anything at all. I mean, all sites probably have their primary versioning elsewhere,  and the diffs at Github are not available for large files anyway.
@manning : I'm OK with the renaming.

[2015-01-12 08:14] fginter commented on #141
@dan-zeman: definitely, I only worry about people who land directly in the repo list and miss the main page of the project. I'll rename the repos later today if I don't hear any objections.

[2015-01-12 15:24] fginter commented on #141
No objections -> repos renamed.

[2015-01-12 15:24] #141 closed

[2015-01-14 11:01] fginter opened #142 "Are we okay to remove the `data` repo?"
Does anyone know of a reason why we should not delete the `data` repo?

[2015-01-14 11:08] spyysalo commented on #142
It's possible that someone may have committed new material there after the split to language-specific repos. If the language-specific repos have the latest content, I'd support simply deleting `data`.

[2015-01-14 11:29] dan-zeman commented on #142
If someone has committed new material, they are probably able to commit it to the language-specific repos too. I strongly support deleting `data` to avoid confusion. (Previously I renamed the Czech data in `data` to OBSOLETE*, for the same reason.)

[2015-01-14 11:37] fginter commented on #142
I think Irish may have had commits after the split into per-language repos. @tlynn747 - could you pls check the status, i.e. everything that's in `data` has been propagated into `UD_Irish`? Thanks!

[2015-01-14 12:02] fginter opened #143 "Validation errors (Release 1)"
I added lists of UD relations and CPOS tags into the validator and ran `validate.py --noecho` on all the datasets currently in the language-specific repos. I am seeing quite a few validation errors. The most common cases are `_` values in these two columns. Also, there is some noise in the CPOS (eg DT for DET, ITJ for INTJ).

[2015-01-14 12:09] ryanmcd commented on #143
On Wed, Jan 14, 2015 at 12:02 PM, Filip Ginter <notifications@github.com>
wrote:

Perhaps the "_" case comes from the CoNLLU format?

1 Producto _ NOUN _ _ 15 nmod _ _
2-3 del _ _ _ _ _ _ _ _
2 de _ ADP _ _ 4 case _ _
3 el _ DET _ _ 4 det _ _
4 fin _ NOUN _ _ 1 nmod _ _

These tokens do not necessarily have tags/labels I believe.

—

[2015-01-14 12:48] fginter commented on #143
Right! I'll modify the SW to allow these selectively.

[2015-01-14 13:06] fginter commented on #143
With the fixed version of the validator Czech, Finnish, Spanish validate. English, French, Hungarian,  Irish, and Swedish do not. I am currently checking only the universal relations and CPOS against the UD lists. I'll try to have a language-specific support ready later today.

[2015-01-14 13:07] ryanmcd commented on #143
Thanks Filip. I will fix the French data (one instance of PRT).

On Wed, Jan 14, 2015 at 1:06 PM, Filip Ginter <notifications@github.com>
wrote:

[2015-01-14 14:56] fginter commented on #143
Hi. I added a `--lang` option to the validator. Currently it specifies which language-dependent relations are allowed. Run with `--lang=cs` etc. The lists are in data/deprel.XX and I gathered them from the data (i.e. the validation is a no-op now :) I checked their occurrence counts and it looked okay except for Irish, where `xcomp:prep` has only a single occurrence.  Please edit these files at wi

[2015-01-14 16:20] msimi commented on #143
Hi, could you tell me where to find the validator?
I would like to run it on the Italian data before publishing them.

--- Maria

On 14.01.2015 15:56, Filip Ginter wrote:

[2015-01-14 16:23] spyysalo commented on #143
@msimi : the validator is available from https://github.com/universaldependencies/tools .

[2015-01-14 16:24] fginter commented on #143
Hi. It is in the `https://github.com/UniversalDependencies/tools` tools repository. If you want it to validate correctly also the relation types, please add the file `data/deprel.it` which lists the Italian-specific relations and then run with `python validate.py --lang=it`.

[2015-01-14 21:23] tlynn747 commented on #142
Everything in UD_Irish is now up-to-date.

Thanks
Teresa

2015-01-14 5:37 GMT-06:00 Filip Ginter <notifications@github.com>:

--
*Slán agus Beannacht*

[2015-01-14 22:12] tlynn747 commented on #143
Will fix these errors in the finalised version of the data - due to be completed in the next week or so.

Thanks for highlighting.

[2015-01-15 07:58] fginter commented on #142
Thanks. The `data` repository has been deleted now. I have a full copy locally just in case.

[2015-01-15 07:58] #142 closed

[2015-01-15 08:11] fginter commented on #143
Hi. Just a tally of where we are at the moment: `cs, fi, fr, es` validate, `en, hu, ga, sv` do not. To validate your dataset, run `python validate.py --noecho --lang=xx file.conllu` where `xx` is the code of your language. Currently, language-specific deprels are being checked and their source is in `data/deprel.xx` under tools. To turn off checking the deprels against the lists, run with `--no-li

[2015-01-15 10:44] msimi commented on #143
Thank you. I was able to validate the Italian data.

I noticed that the ordering of morphological features is checked after reducing to lowercase, even if the features are in mixed case.
If this should be so (but I find it a little bit awkward) it may be worthwhile to add this aspect to the documentation when talking about canonical ordering of features.

It is not the same ordering. For example:

[2015-01-15 10:56] spyysalo commented on #143
@msimi : this is an intended part of the format specification, documented at http://universaldependencies.github.io/docs/format.html#morphological-annotation as follows:

Suggestions on how to clarify this are very welcome!

[2015-01-15 11:03] msimi commented on #143
Sorry, that is very clear indeed. I was reading the documentation here:
http://universaldependencies.github.io/docs/u/overview/morphology.html <http://universaldependencies.github.io/docs/u/overview/morphology.html>

— Maria

[2015-01-15 12:00] dan-zeman commented on #143
I clarified the other piece of documentation (morphology.html). Thanks for pointing that out.

[2015-01-18 05:25] tdozat commented on #136
Our approach in the English Universals Dependencies branch is basically your second suggestion, to attach the adverbial to the nearest argument that belongs to the same event as it (e.g. the event of "Tom [coming] tomorrow" in your example). If it should come in between two such `remnant` arguments--which normally degrades the acceptability of the sentence, but anything is possible in the web doma

[2015-01-18 05:25] #136 closed

[2015-01-19 19:15] #143 closed

[2015-01-20 06:31] manning commented on #115
Closing as not currently active and not a clear bug. Reopen if more discussion needed?

[2015-01-20 06:31] #115 closed

[2015-01-20 06:32] manning commented on #116
It would be nice if the pull requests could be handled and this could be resolved....

[2015-01-20 09:28] dan-zeman commented on #116
Since both the pull requests concern Finnish, @fginter & @spyysalo , could one of you please take care of them?

[2015-01-20 10:21] fginter commented on #116
Done. We have used the style suggested by @manning as well, so this pull req should be compatible. I'll check and edit as needed. Also added @jpiitula as contributor so we don't need pull requests anymore.

[2015-01-20 10:21] #116 closed

[2015-01-20 15:22] manning commented on #116
Thx!

[2015-01-20 15:59] manning opened #145 "Small website suggestions for v1.0"
A couple of little website suggestions that I think it would be great to fix. :)

1. If you go there for the first time – and we're now expecting more newcomers – I think it is less clear than it could be where to start. Two alternative ways of dealing with that would be: a) Put a little item with yellow background after "Introduction to Universal Dependencies" saying something like "Newcomers sta

[2015-01-20 21:32] spyysalo commented on #145
Missing contributors added in 56f9ffdbaa97505ccd86b27e67cdfa0bdb3fb5ad, tentatively closing as resolved.

[2015-01-20 21:32] #145 closed

[2015-01-25 22:31] manning opened #146 "Layout of UD syntactic relations table"
Hi Sampo, if sometime you're filled with energy and love, I think the UD dependencies table would be a little nicer if you swapped the positions of "Coordination" and "Case-marking, prepositions, possessive".

That way, `case` would be in a cell next to `mark` and we mainly have a verb dependent row and a noun dependent row at the top of the table (even though a few things in the noun-dependent ro

[2015-01-29 13:57] dan-zeman opened #147 "UPOS vs. UFeatures"
Some people share direct links to the description of the universal POS tagset, and they are disappointed that it does not cover "everything". They overlook that there are also the universal features. I had to explain this twice in the last week.

Would anyone object if I put a link from the UPOS page to the UFeatures page? I hope it could satisfy at least some of the potential users.

[2015-01-29 16:29] manning opened #148 "English token/POS tag escaping?"
@jnivre questioned whether we should still be escaping parentheses as "-LRB-" etc. in the words and fine-grained POS tags (following LDC conventions) or moving to just using "(". We should decide what is best here. I think this escaping was a dumb convention, but there would now be a fairly high inter-operability cost among tools to abandon it. Happy to get opinions on which seems best! (From @sla

[2015-01-29 17:27] spyysalo commented on #148
+1 for dropping these escapes, they are unnecessary in CoNLL-U and can be easily introduced if necessary when converting to other formats.

[2015-01-29 17:43] dan-zeman commented on #148
+1 for dropping them from word forms. I do not see the interoperability cost. Yes, some formats (Penn bracketing) need to escape "(", and some tools may be used to it. Some other tools want to see the real token, so if converting between "-LLB-" and "(" is a measurable cost at all, it has always been there.

Not sure whether we have to do the same with the POS tags. You could say that -LLB- was th

[2015-01-29 20:20] manning commented on #147
Sounds good to me.

[2015-01-30 11:08] dan-zeman commented on #147
ok, done

[2015-01-30 11:08] #147 closed

[2015-02-09 11:11] py3ams opened #149 "Language-specific links should default to Universal definitions if page doesn't exist"
After removing the Animacy page from the Swedish features, the link in the feature table was directed at the French definition. I have also seen links in the Swedish dependency table directed at English definitions when the Swedish page doesn't exist.

[2015-02-09 13:11] dan-zeman commented on #149
I believe that the correct way to go here is to edit the HTML table. Instead of `<a>Animacy</a>`, there ought to be `<strike><tt>Animacy</tt></strike>`. This is what I did with the `Definite` feature in Czech.

[2015-02-09 19:08] spyysalo commented on #149
I agree with @dan-zeman's solution for this specific case, but the auto-linking to a page for a different language is a misfeature at best. I think the corresponding page on the "universal" side would be a better fallback if a language-specific page is not found. Alternatively, this could just skip linking and report an error.

[2015-02-13 15:57] e-bej opened #150 "Wrong dependencies inside Czech MWEs"
In complex prepositions ("na rozdil od", "ve srovnani s", ...), each non-first word should depend on the first word. But it is not the case, e.g. in sentence no. 2314 in dev-test (search for "širokorozchodnou") or in sentence no. 2846 ("investovaly").

Edit: "its left neighbour" -> "the first word", as @jnivre pointed out. Thanks.

[2015-03-05 08:20] jnivre commented on #43
We still don't have any general instructions for the language-specific documentation, right? I think it would be very useful to add this in preparation for the second release, where the goal is to have complete documentation for the first ten languages. I could have a first go at drafting this.

[2015-03-05 08:37] jnivre commented on #122
I agree that this is an important issue, given the centrality of this distinction in the scheme, but it is not obvious what the solution is. Using postags as criteria is not going to work, since some classes (notably ADV) cut across this distinction. Using deprels looks more promising, but even there I expect to find gray areas. I would be inclined to take an empirical approach and investigate wha

[2015-03-05 09:05] spyysalo commented on #43
I'm afraid that's right, there are still no general instructions for this.
It would be excellent if you could start a draft.

[2015-03-05 09:13] jnivre commented on #125
Sorry for not responding to this sooner. I have been snowed under with other things and have only now surfaced and can get back to the exciting UD stuff. :)

First of all, I want to say this is an extremely important issue and a very good test case for the lexicalist approach in UD. If we cannot make things work for Turkish (and other similar languages), we cannot claim to provide a universal fram

[2015-03-05 09:19] jnivre commented on #150
There seems to be some confusion here. According to the general guidelines, all non-first elements in an MWE should depend on the first element, not its left neighbor. Or have I misunderstood something here?

[2015-03-05 10:01] dan-zeman commented on #150
Yes, @jnivre is right. But there definitely is a bug and the sentences mentioned by @e-bej do not adhere to either of the rules. I am looking into it.

[2015-03-05 10:20] e-bej commented on #150
@jnivre: Thanks for your comment, I updated the description. As @dan-zeman has already said, the bug is there anyway.

[2015-03-05 13:36] jnivre opened #151 "Documentation of language-specific features"
In the universal documentation, there are two sections that refer to language-specific categories:
http://universaldependencies.github.io/docs/ext-feat-index.html
http://universaldependencies.github.io/docs/ext-dep-index.html

These are rather different in nature. The first lists a large number of _potential_ language-specific features from Interset. The second lists the _actual_ language-specific

[2015-03-05 14:42] jnivre commented on #43
Here is a proposal for guidelines for the language-specific documentation, organized by sections. I have tried to make the Swedish documentation conform to these guidelines as an example.

overview/introduction.html
Short description of the treebank, size, types of texts, annotation/conversion process, etc.
Optional subheadings: "Acknowledgments", "References"

overview/tokenization.html
Short des

[2015-03-05 14:53] jnivre commented on #43
I forgot to say that known discrepancies from the guidelines should be mentioned under the most relevant heading.

[2015-03-05 14:56] jnivre commented on #43
One more thing I forgot: The owners of each language should also make sure that their language-specific features and relations are added to:
http://universaldependencies.github.io/docs/ext-feat-index.html
http://universaldependencies.github.io/docs/ext-dep-index.html

Ideally, this should happen automagically given the language-specific documentation to ensure consistency.

[2015-03-05 16:35] coltekin commented on #125
The important issue is 1 above, I believe (although my original question was about 2).  I think, saying "no" to empty word forms is easy for Turkish dependency parsing. 2 is only an issue together with 1.

I am not sure the issue addressed by "inflectional groups" in Turkish should be called incorporation (as much as I understand it), but it is definitely somewhat different than "typical" derivati

[2015-03-05 17:08] jnivre commented on #125
Thanks for clarifying. I think there are compelling arguments that we need to recognize (some of) the inflectional groups in Turkish. However, it is not clear to me why you call this a case of "multitoken words" as opposed to "multiword tokens". To me it just looks like a case where a (whitespace-delimited) token contains several syntactic words, for example, a noun (araba) and a relativizer (ki),

[2015-03-05 17:53] aboSamoor opened #152 "Updated Universal POS tagset"
The original universal POS tagset published [here](https://code.google.com/p/universal-pos-tags/) has 12 POS tags. However, it seems that your [universal tagset](http://universaldependencies.github.io/docs/u/pos/index.html) has 17 POS tags.

Is there any mapping I am not aware of that we can use to map conll datasets to the new universal POS dataset?

[2015-03-05 18:01] dan-zeman commented on #152
Yes, it is here:
http://universaldependencies.github.io/docs/tagset-conversion/index.html
and you can use it to map to both the universal POS tags and universal features.

[2015-03-05 18:36] coltekin commented on #125
The reason for the term "multitoken words" was because I thought calling (a group of) IGs "word" or "syntactic word" would raise a few eyebrows. Otherwise, I am definitely fine with name/term "multiword tokens".

About the analysis, if I understand copula analysis in English UD correctly, the analysis above should be something like:

nsubj(not-talking, problem)
cop(not-talking, is)
nsubj(not-talki

[2015-03-05 19:38] jnivre commented on #125
The analysis of the English sentence should be the same as in Turkish:

nsubj(problem, not-talking)
cop(problem, is)
nsubj(not-talking, parties)

This is assuming that "problem" is the predicate, not the subject. Nonverbal predicates are fine in UD:

[2015-03-05 21:02] coltekin commented on #125
In the example Turkish sentence, 'proplem' is the subject (of the copula). One can turn it around, but interpretation changes.

I'd translate the original example  _Sorun tarafların konuşmamasıydı_ as "the problme was (that) the parties did not talk".  The analysis of this should be:

nsubj(not-talking_N, problem)
cop(not-talking, is)
nsubj(not-talking_V, parties)

If we swap the subject and the p

[2015-03-05 21:29] aboSamoor commented on #152
Is there any written converter script?

[2015-03-07 10:07] dan-zeman commented on #151
Agree.
The primary purpose of listing the extra features of Interset is to inspire people who would think of encoding something that is already in Interset, and thus to get language-specific-but-compatible implementation of these features.
The features that were actually used in documented languages should certainly be shown first, and in a similar fashion to the page with dependency relations.

[2015-03-07 11:00] dan-zeman commented on #43
Great, thanks for the draft! I would also suggest that these guidelines adopt the way how treebank-specific diffs are described (issue #116 proposal by @manning).

[2015-03-07 20:08] dan-zeman commented on #152
Yes. One option would be using Treex (http://ufal.mff.cuni.cz/treex). But it is a whole NLP infrastructure and it is a heavy weight for people who just want to convert tags in a CoNLL-X file.

You can also use Interset without Treex. It is a Perl library and it is available at CPAN as Lingua::Interset. You should be able to install it calling

<pre>cpanm Lingua::Interset</pre>

or, if you do not h

[2015-03-07 20:34] dan-zeman commented on #152
I just tested a modification of the script where the input tagset is indicated using the -f (from) option.

<pre>conll_convert_tags_to_uposf.pl -f sl::conll &lt; sltest.conll &gt; sltest-uposf.conll</pre>

where <tt>conll_convert_tags_to_uposf.pl</tt> contains the following:

<pre>#!/usr/bin/env perl
# Reads CoNLL-X from STDIN, converts CPOS+POS+FEAT to the universal POS and features, writes the r

[2015-03-10 16:53] dan-zeman commented on #150
I found and fixed the bug in our data processing pipeline (Treex r14659). It should be OK in the next release of the data.

[2015-03-10 16:53] #150 closed

[2015-03-11 12:04] reckart opened #153 "Unclear how to reconcile token and sub-token annotation"
I have looked into implementing a reader and writer for CoNLL-U for DKPro Core, but I have some doubts regarding the format specification. The examples below come from the CoNLL-U format specification and documentation.

*Example 1*

    3-4    al        _
    3      a         a
    4      el        el

I assume this snippet means that the document text contains "al" and not "a el" - so when readi

[2015-03-11 12:40] spyysalo commented on #153
In previous discussion (e.g. #110) the consensus has been that the general case cannot be solved. Quoting @jnivre from (a quote in) that issue:

[2015-03-11 12:59] reckart commented on #153
@spyysalo I see the point. Another case where this is hardly solvable would be "à" in Portuguese which is a concatenation of "a a" ("to the").

Looking at the example you provided, for morphological features a simple concatenation might be viable. For the POS, I suppose one could use the POS of the head element in the sub-tokens, provided that dependencies are available. Is that roughly what you h

[2015-03-11 13:14] spyysalo commented on #153
I'm afraid I don't have a general algorithm -- the text isn't mine, and I'm working on a language (Finnish) where this is basically a non-issue -- so I'll defer to others (@jnivre?) on this point.

[2015-03-11 14:14] dan-zeman commented on #153
I suspect there is no general, language-independent algorithm. The heuristics I would suggest are:

  * If one subtoken is a head on which all other subtokens depend (directly or indirectly), then use the UPOS, HEAD and DEPREL of this head for the whole token.
  * Otherwise, if they have a common parent, this will be naturally also the parent of the whole token. One of the subtokens must be chosen

[2015-03-11 15:03] jnivre commented on #153
I implemented a heuristic conversion in the first validation script. I am not sure what Filip has done with this after he took charge of the validator, but it should be available somewhere. There can definitely be cases where the two subwords of a token do not have the same parent, so the conversion will always be heuristic. Character offsets are not used in UD and wouldn't help with the conversio

[2015-03-11 19:19] fginter commented on #153
The original code is in this commit https://github.com/UniversalDependencies/tools/commit/98f6cfc1220d93c1f6bbe16305fd9412e172b2b4 and the original heuristic seems to be here https://github.com/UniversalDependencies/tools/blob/98f6cfc1220d93c1f6bbe16305fd9412e172b2b4/conll-u.py#L36 Transferring this into a separate script for manipulating (validated) conllu files is on the TODO. :)

[2015-03-12 16:52] dan-zeman opened #154 "POS for words like "kolik" = "how much""
In Czech, these words are traditionally classified as (pronominal) numerals. Their behavior is indeed similar to numerals in some respects. In Czech UD, we tag them as DET to make the annotation of counted phrases parallel to the annotation of quantifiers in other languages. This is quite justifiable in sentences like "Kolik jablek má Martin?" = lit. "How-many apples has Martin?" In these cases, "

[2015-03-12 16:54] dan-zeman commented on #154
Comments welcome. I will have to decide this somehow for version 2, but I guess there are other languages where this is an issue?

[2015-03-14 08:21] jnivre opened #155 "Feedback words as non-roots"
I found twenty-something sentences in the Swedish treebank that have the following basic structure:

Yes, we have applied for membership.

My automatic converter produced:

root(ROOT, Yes)
parataxis(Yes, applied)

But I changed this to:

root(ROOT, applied)
discourse(applied, Yes)

Do people agree with this treatment? If yes, I can write a "specific construction" section about this type of sentenc

[2015-03-14 09:28] dan-zeman commented on #155
I agree with the treatment, which means we have an issue in Czech :-) In PDT, this is sometimes analyzed as coordination ("Yes" is one conjunct, the rest the other) and sometimes as parenthetical ("Yes" is attached as ExD_Pa to the predicate of the following clause). The latter is closer to the proposed treatment but it also seems to be the less frequent of the two. I have not investigated what my

[2015-03-14 21:53] manning commented on #152
Although there is a warning at the top that these tables will not and cannot always give the right answer, I suspect it is insufficiently strong. Would it be okay if I added a bit more text to that effect?

[2015-03-14 21:59] dan-zeman commented on #152
Feel free to do so, thanks!

[2015-03-19 07:24] manning commented on #155
I also agree that using discourse is best here.

(Though the parataxis analysis isn't untenable. Presumably it is what you should get for "I agree, we should apply for membership.")

[2015-03-19 08:18] jnivre commented on #155
I agree. The parataxis analysis would imply that "yes" is treated as a clause in itself, or as a zero-place predicate, which is plausible semantically but somewhat less plausible syntactically. Let's go for discourse then. Unless there are more comments, I will close this issue and write something for the specific construction documentation.

[2015-03-19 12:32] dan-zeman opened #156 "Numbers and letters used to index items in itemized lists"
Imagine a list of sentences (or just of phrases) where each item has a letter or a number instead of just a bullet character:

Entry will not be granted unless:
a) The person is an EU citizen.
b) His/her passport will not expire during the next six months.

How should we tag the "a" (and "b"), where should we attach it and what the relation label should be?

The POS tag is not `PUNCT` because it i

[2015-03-19 14:56] manning commented on #154
Hi Dan, I suspect that you have to decide wha you think is best here yourself, since there just isn't a ton of other Czech expertise - certainly not from me - but, here's an attempt at an answer. I think analogous situations arise in many places, and you have to make a decision as to whether they are in some sense elliptical, and then you can say that a word retains its normal, lexical category, o

[2015-03-20 10:00] jnivre commented on #155
I have added feedback words to the documentation of specific constructions, under a new heading "Clause-external elements" (for lack of a better term). I am now closing this issue.

[2015-03-20 10:00] #155 closed

[2015-03-20 10:41] jnivre commented on #154
I think this is something that needs to be discussed more generally. In some other cases, notably verb particles, we have decided that the part of speech doesn't change, only the syntactic function. Similarly, in multi-word expressions, the component words still retain their normal part-of-speech tag. Therefore, I agree with Chris that it makes most sense to tag "unhappy" in "the unhappy" as ADJ,

[2015-03-20 10:53] jnivre commented on #156
I checked the Swedish treebank and what comes out of the automatic conversion is _nummod_ for "1." but _nmod_ for "a)". This is basically because "1." is tagged as a numeral and "a)" as a noun. Seems somewhat arbitrary and perhaps not what we want.

[2015-03-26 17:28] manning commented on #152
Done!

[2015-03-26 17:28] #152 closed

[2015-03-26 19:23] manning commented on #154
Agree with @jnivre. In principle, I think it would be highly productive to do a number of cross-language studies of how phenomena like this have been and should be treated and then to have guidelines and corpus updates that reflect perceived best practices. In practice, I doubt we have the energy to initiate this, and so what will happen is some enterprising graduate student will write a paper poi

[2015-03-26 21:06] manning commented on #154
But I've done one little comparison that I'll put in a different issue, which will be of interest to @dan-zeman

[2015-03-26 21:19] manning commented on #156
These kind of list structures occur quite a bit in the English Web Treebank, and we have discussed them. The one thing that seems very clear is that the content and not the marker of each item should be the head. De facto, we have also been using _nummod_ – regardless of whether it is numerals or roman numerals or letters – for the dependency. But, we don't want to make a strong argument for that.

[2015-03-26 21:40] manning opened #157 "The difficult cases in mapping of Penn Treebank POS to UD POS"
@dan-zeman produced a conversion between Penn Treebank POS tags and UD POS tags using Interset. Separately @sebschu and @manning produced a converter to do the same thing (but with context-sensitive rules operating on PTB trees for the cases where you do not get enough information from PTB tags). I thought it might be useful to work out "inter-annotator agreement".  At the bottom is where our curr

[2015-03-27 06:01] jnivre commented on #156
I agree that using _nummod_ consistently is better than differentiating on the basis of form. I will try to implement this in the next version of the Swedish data -- unless we think of something better first.

[2015-03-27 06:03] jnivre commented on #156
Quick follow-up: What do you do with bullets and dashes in lists without numbering (itemize vs. enumerate)?

[2015-03-27 17:50] dan-zeman commented on #104
Thanks for the comprehensive documentation (http://universaldependencies.github.io/docs/u/overview/specific-syntax.html#comparatives) and sorry if it turns out that I did not read it attentively enough but I could not find a solution (or analogy) to this:

[1] _Home prices have more than doubled in the past decade._

Attaching _doubled_ to _more_ does not seem quite right to me, because _doubled_

[2015-03-27 22:44] msimi commented on #156
Why not use a generic “dep” or “sym” for both numbered (numbers, letters) and unnumbered (bullets, dashes) list markers?

— Maria

[2015-03-27 23:31] spyysalo commented on #104
@dan-zeman : just a meta-comment (sorry, I don't have a good solution to propose): I think the original issue (no guidelines on annotating comparative constructions) remains resolved and would like to suggest to keep this closed and open new issues for more specific cases.

[2015-03-28 05:51] jnivre commented on #156
There is no syntactic relation _sym_ (only a postag SYM). I suppose _dep_ could be an alternative, although this should be used as restrictively as possible.

[2015-03-28 21:35] manning commented on #156
Bulleted lists: There don't actually seem to be clear cases of that in the corpus that I could find ... if only because they didn't make it through LDC pre-procesing. But based on similar things that do happen, I imagine they might have become SYM/punct. It's arguable whether that is right, though. You might want to regard it as definitional that PUNCT are punct and SYM are non-punct.

[2015-03-30 19:41] tdozat commented on #104
We actually consider *more than* to be an `mwe` in quantities when it acts synonymously with *over*, because sometimes the two words (*more* and *than*) are inseparable:

[1]
[code]

[2]
[code]

[3] *More percent than 90.

While you can't really say *Home prices have over doubled in the past decade*, the fact that *more* and *than* can't be separated suggests that it should be analyzed as a whole

[2015-04-01 05:28] spyysalo commented on #153
Proposing to close as no issue remains, feel free to reopen if you disagree.

[2015-04-01 05:28] #153 closed

[2015-04-01 05:57] spyysalo opened #158 "Completing docs for intended POS-Feature combinations"
Most features in the universal documentation identify the parts of speech that they are intended to apply to, e.g. http://universaldependencies.github.io/docs/u/feat/Mood.html:

This is very helpful for validation and configuring tools for annotation. However, some features still lack an explicit statement of the parts of speech the feature is intended to apply to, namely

* http://universaldepend

[2015-04-01 14:06] dan-zeman commented on #104
@tdozat : thanks for the clarification! I will add it to the discussion of comparative constructions in documentation. I cannot think of a one-word synonym for _more than_ in the Czech problem but I believe that these instances of _more than_ are inseparable, which would allow us to analyze them as `mwe`.

[2015-04-01 14:06] #104 closed

[2015-04-02 00:12] sebschu commented on #157
@manning, @ngiordani, @tdozat and I went through this list in our last meeting. We decided to make only one change to our mapping, namely changing EX from DET to PRON for the following two reasons:

1. *it* is an actual pronoun, also in its pleonastic form.
2. The existential *there* functions as an NP and not as a determiner.

I updated our converter and I also updated the documentation. The chan

[2015-04-05 19:49] dan-zeman commented on #158
Yes, verbs (including auxiliaries) are the primary candidates here. Adjectives, adverbs and nouns cannot be excluded because of the verbal/deverbal word forms that live on the border between categories. So I propose the following:

X is typically a feature of verbs. It may also occur with other parts of speech (nouns, adjectives, adverbs), depending on whether borderline word forms such as gerunds

[2015-04-05 20:39] dan-zeman commented on #158
Done, closing.

[2015-04-05 20:39] #158 closed

[2015-04-16 15:22] manning commented on #157
I'm closing this for now, but think that we should revisit `PRP$

[2015-04-16 15:23] #157 closed

[2015-04-16 15:26] manning commented on #156
More discussion may be needed here, but I think we have an interim solution for the original question, so closing this for now.

[2015-04-16 15:26] #156 closed

[2015-04-16 15:37] manning opened #159 "Clarify guidelines and improve implementation of DET vs. PRON"
We don't always have clear guidelines or consistent implementation of a `DET` vs. `PRON` distinction. This should be improved! This overall issue has come up before in issues including #132, #154 and #157.
- The guidelines suggest that a demonstrative like _that_ should be a `DET` in _that issue_ but a `PRON` when it stands alone, as in _I like that_. Is this what we want? If so, a number of treeb

[2015-04-16 15:39] manning commented on #154
I'm closing this for now, but have opened issue #159 on the more general case, which I suggest we put off resolving until after release 1.1.

[2015-04-16 15:39] #154 closed

[2015-04-19 11:05] dan-zeman commented on #157
Sorry guys I wasn't able to get to this for a long time. DET vs. PRON indeed is a more difficult problem but there are other points in the list that I will gladly adopt in Interset, thanks!

[2015-04-19 11:21] dan-zeman commented on #156
Thanks, a bit late but I agree with the solution and will try to implement it as well.

As for the bulleted lists, we actually do not have directly the Unicode bullet character in PDT, but I think thre are dashes ("-") or asterisks ("*") with the same function. And these naturally get tagged PUNCT. ("*" could be also a SYM in other contexts, if the PDT tagset had the corresponding tag. But I'd pre

[2015-04-19 12:18] dan-zeman commented on #159
I do not have a better solution than the one currently in the documentation but I just wanted to add a few comments.

* This distinction is one of the most varying POS-related issues I've seen in corpora. All languages I saw have words like this, but some of them just do not have the notion of DET, even though some of their pronouns are actually parallel to English determiners (at least I believe

[2015-04-19 12:41] dan-zeman commented on #154
Late as with the other issues today, but I'd like to thank for the comments anyway!

I completely agree that _unhappy_ is still adjective, although I am not sure whether _kolik_ is similar enough. Let's see how #159 evolves. If we keep the borderline between `PRON` and `DET` as it is now, then I will probably make _kolik_ a `PRON` as well... until the PhD student (or anyone else) brings order to t

[2015-04-22 00:34] sebschu opened #160 "Inline links to language-specific relations not working"
It seems like links to language-specific relations are not working. On [this page](http://universaldependencies.github.io/docs/en/feat/PronType.html) the link to the ccomp relation works but the ones to acl:relcl don't.

[2015-04-22 13:24] jnivre opened #161 "Inconsistent treatment of clausal complements of copulas"
I think I have detected an inconsistency in the universal guidelines. In the description of the cop relation it is stated:

"Finally, ccomp is used with copulas. Only in this case, the structure is different, and we take the form of be as a head."

However, in the description of the csubj relation I find the following statement, which seems to contradict the above:

"A clausal subject is a clausal

[2015-04-22 13:34] dan-zeman commented on #161
It was my understanding that copulas are never heads. I believe this is how I implemented the conversion of the Czech treebank.

[2015-04-22 13:35] jnivre opened #162 "Cleft sentences"
Are there any guidelines on how to annotate cleft sentences like:

It is clefts (that) I am talking about.
It is only now that I realize they are a problem.

In the automatic conversion of the Swedish treebank, these end up being analyzed with the copula as the root, the focus element as "dep" and the rest as a relative clause. For the first example above this becomes:

root(ROOT, is)
nsubj(is, It

[2015-04-22 13:52] jnivre commented on #161
This was my understanding too. It seems most consistent with everything else, now that the previous exception involving prepositional phrases has been eliminated.

[2015-04-22 19:43] slavpetrov commented on #148
I am several months late, sorry about that. I am also in support for
dropping the escaping (of both tags and tokens). This has caused me more
trouble than it has helped for anything. Some tools might have to be
updated (e.g. tokenizers) but I think we will be better off in the long run
without the escaping.

On Thu, Jan 29, 2015 at 12:43 PM, Dan Zeman <notifications@github.com>
wrote:

[2015-04-25 09:27] dan-zeman opened #163 "Prepositional phrases and adverbs as predicates with copulas?"
@jnivre mentioned in #161: “now that the previous exception involving prepositional phrases has been eliminated...” I remember we have discussed this somewhere but I could not find the relevant issue to reference from here.

My conversion of the Czech treebank (PDT) uses the `cop` relation for the instances of the verb _to be_ that have a `Pnom` argument (meaning “nominal predicate”) in the origin

[2015-04-25 09:46] hajic commented on #163
Well if it is the case that for English & others, then we have to do it, too. (Seems of course weird to promote just about any word to be a predicate - even Russian which does not use copulas in Pnom-like constructions uses other verbs for locations ("nakhohdjitsya") and other adverbials - but if that's the least weird way "on average" across languages, then why not.)

Jan

[2015-04-25 09:56] dan-zeman commented on #162
I *think* we would get the following analysis if it was in PDT:

root(ROOT, clefts)
nsubj(clefts, It)
cop(clefts, is)
acl(It, talking)

I would find this analysis OK, despite the non-projectivity. I don't have a real example, though. I don't expect this to occur in huge numbers (perhaps even less than in English because the free word order gives us other means to shift the focus).

[2015-04-25 10:13] dan-zeman commented on #163
Well, Russian actually could omit the verb, I guess ("он в школе" = lit. "he in school" is still grammatical, isn't it?)

What I find really weird about it is that I would lose the parallelism between the following sentences within one language:

* _Dan je uvnitř._ “Dan is inside.”
* _Dan se nachází uvnitř._ lit. “Dan finds himself inside.”, meaning “Dan is inside.”
* _Dan zůstává/stojí/sedí/čeká.

[2015-04-26 15:00] jnivre commented on #162
Why would you attach the acl to "It". I think "It" is an expletive, as it would be also in Swedish (which is another problem with the automatically produced conversion). I think the one that is most compatible with the rest of our guidelines is something like:

root(ROOT, clefts)
expl(clefts, it)
cop(clefts, it)
acl:relcl(clefts, talking)

Possibly, there should be a special subtype of acl for thi

[2015-04-26 15:04] jnivre commented on #163
This is discussed in the LREC paper and it is explicitly stated that the new treatment of prepositional phrases allows us to analyze these sentences in a parallel fashion:

She is nice
She is an idiot
She is in shape

Now, when it comes to adverbs and prepositional phrases denoting locations, one can discuss whether "is" is still a copula, or whether it is the existential "is". And if a language u

[2015-04-26 15:06] jnivre commented on #163
I will add the examples from the LREC paper to the documentation for "cop" and close this issue.

[2015-04-26 15:08] dan-zeman commented on #162
cop(clefts, it) is a typo, it should be cop(clefts, is), right?

Attaching the clause to "It" is how some similar situations are analyzed in PDT. We do not distinguish expletives of this sort. (There are occurrences of the pronoun _to_ “it” that are redundant and they get a special dependency label. But they are different, they do not replace the subject.)

[2015-04-26 15:10] jnivre commented on #163
Added the example "Sue is in shape" to the documentation for cop and close the issue.

[2015-04-26 15:10] #163 closed

[2015-04-26 15:12] jnivre commented on #162
Yes, it's a typo.

[2015-04-26 15:13] dan-zeman commented on #163
OK, thanks. I will update the Czech guidelines so that the verb in the Czech equivalent of "to be in shape" is a copula, while in locational phrases it is not.

[2015-04-26 15:19] hajic commented on #163
OK, I agree. Thanks!

-- Jan

[2015-04-27 11:49] fginter opened #164 "Multiple root trees"
Just a note. As per the discussion in https://github.com/UniversalDependencies/tools/issues/3 the default now is to validate that every tree is single-rooted. On the current github data: Pass: `en,fi,ga,it`. Fail: `cs,fr,de,hu,es,sv`.

[2015-04-28 07:45] ngiordani commented on #161
These guidelines are not exactly inconsistent, although admittedly not ideal. The first one is about sentences like this:

The problem is that we don't know what to do here.
ccomp(is, know)
nsubj(is, problem)

And the second is about structures like this:

Not knowing what to do was the problem.
csubj(problem, knowing)
cop(problem, was)

[2015-04-28 10:40] #43 closed

[2015-04-28 11:01] jnivre commented on #161
Okay, thanks for clarifying, then there is no internal inconsistency at least. But I find it weird to adopt the copula-as-head analysis only for the case with a clause as predicate. The fact that one and the same predicate gets two subjects in this case is just a special instance of the fact that dependency structures can't distinguish between head modification and phrase (or clause) modification.

[2015-04-29 02:33] manning commented on #161
Following up on what Natalia wrote, I would agree that what we have now is weird/inconsistent. (Prior to the reanalysis of PPs as noun-headed, things were less weird, since there were other cases where the copula did still end up the head, but now this is indeed a rare weird exception.) It would be good to have a better solution. The problem is deciding a better solution....  Ideas welcome!

I thi

[2015-04-29 06:21] jnivre commented on #161
I agree that we don't want two subjects, and I have for the time being changed the analysis in the Swedish treebank to align with the one for English. Let's keep this for v1.1 and then decide whether to join the Finns or convince them to join us. :)

A quick follow-up: What about the infinitival case:

The trick is to avoid two subjects.

If all we care about is avoiding two subjects, it is fine t

[2015-04-29 06:42] ngiordani commented on #161
We use ccomp for this too, for exactly the reasons you brought up. And
you're correct that xcomp is not right here.

On Tue, Apr 28, 2015 at 11:21 PM, Joakim Nivre <notifications@github.com>
wrote:

[2015-04-29 06:47] jnivre commented on #161
Great, thanks.

[2015-04-29 06:56] jnivre commented on #161
One more question: What do you do with copula-like verbs like "become"? Are adjectival and nominal complements treated as xcomp. For example:

she is a teacher
nsubj(teacher, she)
cop(teacher, is)

she becomes a teacher
nsubj(becomes, she)
xcomp(becomes, teacher)

[2015-04-29 07:01] ngiordani commented on #161
Yes, exactly! Only 'be' is a copula.

On Tue, Apr 28, 2015 at 11:56 PM, Joakim Nivre <notifications@github.com>
wrote:

[2015-04-29 07:08] jnivre commented on #161
Thanks. Then I think I know what to do. :)

[2015-04-29 07:12] #161 closed

[2015-04-29 07:16] jnivre commented on #162
For v1.1 I adopted the following analysis for Swedish:

It is clefts that I am talking about

root(ROOT, is)
expl(is, It)
dislocated(is, clefts)
acl:relcl(clefts, talking)

This is a slight abuse of "dislocated", since "clefts" is not a dislocated dependent of "is" but rather of the predicate or the relative clause ("talking about clefts"). However, it is a convenient way of specifying that this d

[2015-04-29 07:16] #162 closed

[2015-04-29 07:22] fginter commented on #161
You move fast. :) Anyway: @jnivre -> yes, nsubj:cop + nsubj is what we would have the first hit of http://bionlp-www.utu.fi/dep_search/?db=Finnish&search=_+%3Ensubj%3Acop+_+%3Ensubj+_  means "Main_thing [is] that the_device works".

[2015-04-29 15:36] dan-zeman commented on #151
I have restructured the page on language-specific features. (c5277b0f5114ea0403c195b2d8443d299ff63554). The appearance is now closer to the page on language-specific relations and there are links for particular languages (I did not search in all the languages and I only found relevant stuff in Czech and Finnish. But this is enough to show how people should add links to their languages.) I also dec

[2015-04-29 15:36] #151 closed

[2015-05-01 20:33] dan-zeman commented on #164
Yes, we have over 4000 trees where the root has more than one children (i.e. several words are attached directly to the root, with the "root" relation). Although I cannot guarantee that some weird stuff is hidden there too, most of them are elliptical sentences with deleted main verb. The PDT analysis attaches the orphaned verb dependents directly to the (artificial) root node in such cases. I do

[2015-05-02 09:38] dan-zeman commented on #164
I have added a section on ellipsis in the Czech documentation and mentioned this example of multi-top-node explicitly there.

http://universaldependencies.github.io/docs/cs/overview/specific-syntax.html#ellipsis

I may change it in future if we find a better solution. I also added a section on ellipsis in the universal documentation of specific syntax but I omitted this issue there because there a

[2015-05-02 09:46] dan-zeman opened #165 "Formatting and structure of the specific syntax section"
http://universaldependencies.github.io/docs/u/overview/specific-syntax.html

The page is already quite long and it may still grow. Should we perhaps

* split it to multiple pages corresponding to current sections
* the main page would be just an index of specific problems, i.e. it would be somewhat similar to the index of dependency relations, only the scope of individual problems would be larger

[2015-05-04 10:02] spyysalo commented on #165
I guess we'll want to split it eventually, but as this will make it more difficult to add new entries, perhaps we should split late rather than early -- I believe many contributors know how to edit, but not add new pages to a collection.

How about adding a TOC for the time being?

[2015-05-04 12:46] dan-zeman commented on #165
That is absolutely right.
Is there any automated way of adding and maintaining a TOC, or should I just create it manually?

[2015-05-04 13:15] spyysalo commented on #165
Just manually, I'm afraid.

[2015-05-06 09:03] spyysalo commented on #164
Quite a few of the nulls in the TDT corpus were also fragments lacking a main verb. When converting the treebank to create the UD Finnish corpus, we created single-rooted trees by selecting one of the dependents of the null main verb (using POS- and dependency-based heuristics), making it the root, and hanging the rest on it before removing the null.

I think the important question here is whether

[2015-05-06 09:09] jnivre commented on #164
As a matter of fact, I used to think they should but I have changed my mind and think we should enforce the single-root constraint across the board. The main assumption in UD is that the root word is a predicate (or a nominal in the case of bare nominals). If the real predicate (or nominal) has been elided, the "closest in rank" has to be promoted to take its place. This is a principle that we app

[2015-05-06 09:16] spyysalo commented on #164
Thank you for the clarification! If there's agreement on this constraint, the documentation should probably be updated to state it clearly (at least http://universaldependencies.github.io/docs/format.html doesn't appear to mention the constraint at the moment).

We might also consider separately contacting the authors of the UD corpora that violate this constraint (from above, `cs,fr,de,hu,es,sv`)

[2015-05-06 09:18] dan-zeman commented on #164
But we do not apply this principle in _Peter won silver and Jane gold._ Now suppose that _And Jane gold._ occurs as a separate "sentence". If the rules force us to promote one of the arguments to the head position, what do we do? Subject? Object?

I am starting to think we should consider the NULL nodes for some future version of the UD standard. And leave it for heuristics to get rid of them if p

[2015-05-06 09:29] dan-zeman commented on #164
On the other hand, we could as well technically promote one of the orphans (maybe always the first one) and then define a language-specific relation between the promoted orphan and the other ones (`root:root`? :-) or maybe `discourse:root` or something, so that backing off to the universal relations does not yield `root`). Then it will be a perfectly reversible transformation, and people can rely

[2015-05-06 09:33] jnivre commented on #164
This is definitely worth thinking about (as are NULL nodes), but it will have to be for version 2 of the guidelines. For now, we have to live with the relations we have and either enforce the single-root constraint or not.

[2015-05-06 09:41] dan-zeman commented on #164
If it is in the language-specific documentation, I believe I can do it even now (the special relation). Until yesterday the documentation of the Czech relations was not even marked as "complete draft".

On the other hand, the single-root constraint has not been part of the frozen 1.0 universal standard, so it is questionable whether we can actually enforce it now.

I am fine either way, it would b

[2015-05-06 09:51] jnivre commented on #164
You are right. It can be done in the language-specific documentation but I would advise against doing a quick solution here. Then I would probably prefer not to enforce the single-root constraint for this release on the grounds that it wasn't explicitly part of the v1 guidelines (although I think many people implicitly assumed that it was).

[2015-05-06 10:04] spyysalo commented on #164
FWIW, we (Turku) assumed this constraint held when creating the v1 UD Finnish.

[2015-05-07 01:30] ngiordani opened #170 "Clauses with copulas"
Something we've discussed a few times in the English group but have never been truly satisfied with (or at least I haven't :)) is the treatment of sentences like:

*He didn't say it was because he felt insecure.*

*This is to inform you of changes in the upcoming months.*

Right now, we do:

root(ROOT, was)
advcl(was, felt)

root(ROOT, is)
advcl(is, inform)

I'd like to get some input on this. I'l

[2015-05-07 07:19] jnivre commented on #170
This is how they are handled in the Swedish treebank as well, and I am not sure I have anything better to off. There seems to be a sliding scale from be + predicative complement to be + adverbial modifier:

It is fun
It is a joke
It is on time
It is in the garden
It is for him
It is to help him
It is because we want to help him

Somewhere we have to draw the line between copula constructions and c

[2015-05-07 13:03] spyysalo commented on #148
This is assigned for "later", but as it seems there's consensus on dropping PTB-style escapes and implementation is technically trivial, perhaps this could still make 1.1?

[2015-05-07 13:43] fginter commented on #164
Looking at the stats of the current treebanks, the vast majority passes or almost-passes the single-root requirement. So I would tend towards standardizing it, even if it may not happen in time for the May15 release. I would also expect many parsers to make this assumption and break if it is violated by the data, so this would probably also be a friendly thing for the tool developers.

[2015-05-07 13:51] spyysalo opened #172 "Minimal guidelines for lemmas"
The documentation still lacks a guideline for lemmas (see e.g. http://universaldependencies.github.io/docs/u/overview/morphology.html, http://universaldependencies.github.io/docs/format.html) and the data has inconsistencies even in basic use of the `LEMMA` field.

Although this is late (sorry!), I was wondering if we could introduce some minimal guideline for lemmas and at least attempt to improv

[2015-05-07 13:56] spyysalo commented on #164
@fginter: thanks for injecting data into the discussion! Could you maybe quantify "the vast majority passes or almost-passes"? (Which treebanks don't?)

[2015-05-07 14:16] dan-zeman commented on #172
Thanks for noticing this. In fact, the Czech lemmas in PDT contain other information that is much more feature-like and that I already removed (converted to `FEAT` values) in v1.0. I think only two/three sort-of "features" remain:

* a numeric index that distinguishes homonymous lemmas. Example: _jen-1_. This cannot be removed.
* an optional comment that further explains what the lemma is. It is e

[2015-05-07 14:20] TomazErjavec commented on #172
Dne 07/05/2015 ob 15:51 je Sampo Pyysalo zapisal(a):

|Better "the canonical or base form" - you can't say "uninflected"
because every wordform (even if base form) is inflected. |

No use saying "should" if you then give an out. Maybe just say "If the
lemma is not available, ..."

As you note CS deviates from this. I do not have good advice, just to
consider than an "extended" lemma can enable you

[2015-05-07 14:21] spyysalo commented on #172
@dan-zeman : Thanks for the quick response! Just to clarify, I'm not suggesting to remove any of this information, only to represent it in fields other than `LEMMA`.

I don't fully see why the index distinguishing homonyms could not be moved (e.g.) to `MISC`, but in any case I think it would be a consistency improvement to move those pieces of information you agree can be moved. (Perhaps the remai

[2015-05-07 14:25] spyysalo commented on #172
@TomazErjavec : Thank you for the comments! I agree and suggest the following improved version:

[2015-05-07 14:25] dan-zeman commented on #172
@spyysalo : "I don't fully see why the index distinguishing homonyms could not be moved..."

Technically it could of course. But I don't think it would make sense. For me the lemma is the identifier of the lexeme / dictionary entry. So it should be unique to just one entry.

[2015-05-07 14:37] spyysalo commented on #172
OK, thanks for the clarification. I appreciate your position, but (unless I'm mistaken) UD Czech is the only UD treebank to adopt this use so far, and I think it's unlikely that we would be able to standardize on this due to the demands of introducing this information to the other treebanks.

How about the option of moving the other info to `FEATS` or `MISC`, documenting the index as a language-sp

[2015-05-07 14:38] TomazErjavec commented on #172
Dne 07/05/2015 ob 16:25 je Dan Zeman zapisal(a):

Well, I (also) see the reasoning why the "lemma" field (maybe a
misnomer) should have as its value just the base form: you can then e.g.
use it to train a lemmatiser model, without some ad hoc convention
telling you how to split the base form from the lemma identifier. Maybe
the idea that this should be encoded in features (even "lemma='put_2'")
is

[2015-05-07 14:59] fginter commented on #172
I think from a technical usability point of view, it would be useful to either move the disambiguating information into the MISC field and have LEMMA contain the baseform only, or alternatively agree on a divider, so the base form can be retrieved for all languages in the same manner from the lemma field.

[2015-05-07 15:06] dan-zeman commented on #172
@TomazErjavec : If I train a lemmatizer model I will definitely not strip the identifier. I will want the model to learn to distinguish between _jen-1_ and _jen-2_. Not just because of different meanings. These are completely different words with different morphological paradigms. (In this particular case, even their part of speech differs - one is particle, the other noun - but in other cases the

[2015-05-07 15:06] fginter commented on #164
As of right now, among the languages which have any data, 7 pass fully and further 3 have only a small number of deviatons (less than 100 trees total). So that is 10 passing or nearly passing. Two then don't pass with much larger number of trees. The rest of the repos contain no verifiable data.

[2015-05-07 15:10] fginter commented on #172
Very good observation. We will be inserting PropBank data into UD_Finnish and this is of great relevance. I planned to use MISC, though. Adding another column to the format should IMHO be a last resort solution because it will basically break all tools written to parse the format.

[2015-05-07 15:11] dan-zeman commented on #172
On the other hand: While for a lemmatizer I would want to have the disambiguated output, I can imagine an experiment trying to learn morphological rules of the language, i.e. how is each word form derived from the baseform. In that case, it would be useful to know that the lemma does not contain additional identifiers. (But then it would be even more useful to have a stem instead of lemma...)

[2015-05-07 15:17] fginter commented on #172
@dan-zeman  --- this is what I was aiming at when I said we should at least make sure there is a standardized delimiter so the extra information can be stripped. Stem, baseform, lemma. This will probably mean different things to different people... :)

[2015-05-07 15:21] spyysalo commented on #172
@dan-zeman : thanks, great to have your support!

In partial summary of the above, I take it that there is tentative consensus from current participants here (@dan-zeman @TomazErjavec @fginter @spyysalo) to adopt the following minimal guideline and document exceptions as language-specific diffs:

More input very welcome!

(I propose to incorporate the latest iteration of the guideline into the UD

[2015-05-07 15:59] alessandrolenci commented on #170
I definitely share your idea of extending the copula as much as possible.

Moreover I find very problematic the fact of using nmod with locative and temporal predicates in copulative sentences.  "nmod is a noun <http://universaldependencies.github.io/docs/u/pos/NOUN.html> (or noun phrase) functioning as a non-core (oblique) argument or adjunct.” But locative predicates in copulative sentences are

[2015-05-07 16:21] spyysalo commented on #170
@alessandrolenci : UD Finnish defines a subtype of `nmod`, [`nmod:own`](http://universaldependencies.github.io/docs/fi/dep/nmod-own.html). From that documentation:

following the approach of [TDT](http://bionlp.utu.fi/fintreebank.html).

[2015-05-07 16:51] ngiordani commented on #170
Joakim, I should clarify that that's actually *not* what we do in English.
We treat the two sentences you mentioned as exactly parallel:

she is in shape
cop(shape, is)
nsubj(shape, she)

she is in Uppsala
cop(Uppsala, is)
nsubj(Uppsala, she)

That makes the case I mentioned before, with the adverbial clause, even
more of an outlier... Do you think it's important to make a distinction? In
any case

[2015-05-07 16:55] jnivre commented on #170
Thanks for clarifying this. I am all for extending the use of the copula as far as possible, since I have never been impressed by the idea that "is" is a copula in one case and the existential "be" in the other. I got the impression that both Czech and Finnish make this distinction, though, so I (mistakenly) assumed that this was the official policy.

Incidentally, the Swedish treebank currently m

[2015-05-07 17:03] fginter commented on #170
In "the meeting is at 5PM in the yellow building" - which of the PP phrases should then be chosen to be the head? And what will the other become?

[2015-05-07 17:06] ngiordani commented on #170
In that case, I would choose at 5pm. The other is an nmod.

Interestingly I say this without blinking, but I'm not immediately sure how
to articulate the rationale... :)

On Thu, May 7, 2015 at 10:04 AM, Filip Ginter <notifications@github.com>
wrote:

[2015-05-07 17:09] fginter commented on #170
So how about "the meeting is in the yellow building" Now the building is the head because there is no other candidate. But in "the meeting is at 5pm in the yellow building", building is an "nmod". This gets us the exact same phrase in the exact same context, once analyzed as a head, and once as an nmod. I don't think that is right.

[2015-05-07 17:10] jnivre commented on #170
I would say it is similar to the case of double objects. One has to be chosen as the direct object; the other becomes indirect object. Here one is chosen as the predicate and the other becomes nmod. I am less sure about the criteria here, though, and my first instinct was actually to take the locative as the predicate. But perhaps it is a good idea to simply take the first one. Then these two sent

[2015-05-07 17:11] jnivre commented on #170
Again, it is not that different from:

He sent her a letter.
He sent her.

In the first sentence, "here" is iobj; in the second it is "dobj".

[2015-05-07 17:14] ngiordani commented on #170
Yeah, I agree with Joakim about the double-object analogy.

On Thu, May 7, 2015 at 10:11 AM, Joakim Nivre <notifications@github.com>
wrote:

[2015-05-07 17:16] fginter commented on #170
I don't think the double object analysis is all that optimal either. And this would now expand what I think is illogicality to a massive number of additional cases. Having the exact same phrase analyzed differently only because it happens to have a competing candidate still doesn't sound right to me.

[2015-05-07 17:22] jnivre commented on #170
A common method in syntactic analysis is to use questions:

- When is the meeting?
- 5pm (in the yellow building).

- Where is the meeting?
- In the yellow building (at 5pm).

In both cases, the predicate is the one that fills the slot corresponding to the question word, but it is always possible to add extra information. Just as:

- What is she like.
- Nice (most of the time).

The point is that

[2015-05-07 17:24] fginter commented on #170
BTW: This is very common in the Finnish data ("to be" with multiple nmods) and the nmods are also positioned to the left or to the right, any which way.  http://bionlp-www.utu.fi/dep_search/?db=Finnish&search=L%3Dolla+%3Enmod+_+%3Enmod+_   A similar search in the English data reveals much smaller frequency, which might make you think this is not too common.

[2015-05-07 17:30] fginter commented on #170
@jnivre understood. But I am unconvinced that "being the first after the verb" is a merit sufficient for being selected as the head and given a special treatment. In "the meeting is at 5PM in the yellow building" I think semantically both 5PM and building are equally good candidates, play the same function, and therefore should have the same deprel. And I also think their function (and therefore t

[2015-05-07 17:44] fginter commented on #170
I fail to see why we would want these to have different tree. Especially because in languages other than English, the order carries much less meaning.

[2015-05-07 17:47] jnivre commented on #170
So where do you draw the line in Finnish? What is required for something occurring with the verb "to be" to be regarded as a predicate? Nominative case?

[2015-05-07 17:56] alessandrolenci commented on #170
I think that they have different structures:

1. The meeting is in the yellow building at 5pm
2. The meeting is at 5pm in the yellow building

In the yellow building is the main predicate of the copula in 1.

in a locative sentence like 3. I typically can not front the PP (cf. 4.):

3. John is in the garden
4. * In the garden, John is

Similarly, if I front in the yellow building, in 1. the meanin

[2015-05-07 17:56] fginter commented on #170
The annotation manual says: The basic alternatives for predicatives are nominals (nouns, adjectives, pronouns and numerals). Words of these parts-of-speech are required to be in nominative, partitive or genitive to be accepted as predicatives. Nominals in any other case are not marked as predicatives, even if they are associated with the verb olla. They, similarly to adpositional phrases, are mark

[2015-05-07 18:02] jnivre commented on #170
Thanks a lot! That seems like a coherent position. :)

[2015-05-07 18:11] fginter commented on #170
@alessandrolenci the word order produces different focus in some (but in Finnish definitely not all) cases. Naturally. But I argue it is not the task of the UD analysis to try to encode these distinctions. Especially since they are very fine.

[2015-05-07 19:45] spyysalo commented on #170
This discussion is moving pretty fast for me, but FWIW, my intuition for Finnish agrees with Filip's, and I think it is a strength that the syntactic analysis abstracts over differences in word order also in these cases.

Indeed, for a language with fairly free word order, abstraction over word order changes is arguably one of the key benefits of parsing, and a scheme that would give a substantial

[2015-05-07 20:42] dan-zeman commented on #170
In Czech, the default is adjective or noun in nominative or instrumental (under certain conditions also in genitive). But the literature admits that the matter is complex. For instance, Grepl et al. (1995), _Příruční mluvnice češtiny,_ adds a long list of situations where also adverbs and prepositional phrases function as predicates (but these do not include locational or temporal modifiers). Also

[2015-05-07 21:12] jnivre commented on #170
So it seems that the Finnish-Czech position is that temporal or locative modifiers (whether nominals, prepositional phrases or adverbial phrases) are never predicates but anything else (regardless of form) is up for grabs. I can live with that (at least for the time being).

[2015-05-08 08:25] spyysalo opened #173 "Changelog in README"
It would be nice to document what has changed in each dataset from one release to the next. To encourage a consistent way of providing this documentation, I propose to add the following to the [release checklist](http://universaldependencies.github.io/docs/release_checklist.html) after the "*The README file should minimally contain ...*" list:

[2015-05-08 10:46] yoavg opened #174 "Within-sentence discourse relations"
@rtsarfaty and me are working on finalizing the Hebrew version. And have some cases we'd like to consult about. The first has to do with marking within-sentence discourse relations:

In many cases, one S sentence contains several S sentential clauses with some rethoric relation between them (sometimes also maintaining anaphors that tie the sentences together):

-John walked, he fell. (Temp orderin

[2015-05-08 10:47] yoavg opened #175 "Conjunctions of modifiers"
In the Hebrew constituency tree bank, which is our source, we have the following peculiarity. In a sentence like (sent 1 in the tb)

- the workers traveled from Israel to Thailand

The two PP phrases are simply modifiers of "traveled". But in:

- the workers traveled from Israel to Thailand, and from there to the US.

We have a nested conjunction : "from Israel to Thailand" conjoins PPs, "from the

[2015-05-08 10:49] yoavg opened #176 "Extraction/pre-posing"
Often in newspaper articles, we have an alternation where some "unimportant" element is being extracted and proposed. Examples

- the source of the confusion is still unknown
-->
- the confusion, the source of-it is still unknown.

The general structure is NP S where S is self contained but typically contains some anaphor that points to the extracted element. This is very different than a modified

[2015-05-08 13:05] spyysalo commented on #174
[`parataxis`](http://universaldependencies.github.io/docs/u/dep/parataxis.html) should apply at least to some of these.

[2015-05-08 13:07] spyysalo commented on #176
[`dislocated`](http://universaldependencies.github.io/docs/u/dep/dislocated.html) might apply.

[2015-05-08 16:37] dan-zeman commented on #174
In PDT, some of these would be `parataxis`; the rest would be coordination of clauses.

[2015-05-08 16:55] dan-zeman commented on #175
I would say that the first analysis (two modifiers of _traveled_, no `conj`) is correct and should be applied also in the second sentence. Then the orphaned modifiers in the second clause of the second sentence (with missing verb) should be attached to their counterparts using the `remnant` relation:

remnant(Israel, there)
remnant(Thailand, US)

I am not sure whether it is doable to recognize the

[2015-05-08 20:35] yoavg commented on #174
@dan-zeman , how do you decide which is which?

We also thought of marking it as `conj`, but note that the current guidelines state the `conj` relation is for elements connected by a coordinator (and, or, but) -- which is not the case here.

[2015-05-08 21:02] dan-zeman commented on #174
Sorry, I was a bit too vague here. PDT has a flag for "parenthesis", which would be used for injected phrases such as  "I think" in "He is now at home, I think, sitting and waiting for us." My current converter will turn the parenthesis flag to `parataxis`.

The rest is likely to end up as coordination of clauses. Comma (or other punctuation) is also a coordinator, if there is no conjunction word.

[2015-05-09 20:06] dan-zeman commented on #173
Good suggestion.

[2015-05-10 16:49] dan-zeman commented on #172
At the end of the day I decided to move all the lemma extensions to the `MISC` column (https://github.com/UniversalDependencies/UD_Czech/commit/780392e8502c2a2319950b4c9a442eea5988a445).

[2015-05-10 18:10] #175 closed

[2015-05-10 18:12] yoavg commented on #174
We'll probably also go with the `conj` relation, which seem more correct here. (For Hebrew, we will probably end up marking it as `conj:discourse` or something similar to distinguish it from coordinating conjunctions.

[2015-05-10 18:12] #174 closed

[2015-05-10 18:13] yoavg commented on #176
This is sort-of fitting, though I think the `dislocated` relation as currently described may end up being overloaded for many different phenomena.

[2015-05-10 20:01] manning commented on #176
Tend to agree with @spyysalo. I think there are two choices, which depend on a decision of headship.
 - If the clause (2nd part) is taken as the head, then I think there is no doubt that this should be `dislocated`. This is the kind of sentence that this relation was made for.
 - If there was a reason for taking the noun phrase (1st part) as the head, then you'd need to do something else. Using `p

[2015-05-11 07:38] spyysalo commented on #173
Thanks! If there are no objections, I'll add this in tomorrow.

[2015-05-11 10:44] dan-zeman opened #177 "Treebank-specific format page"
As a consequence of #172, we need to document Czech-specific features in the MISC column. (BTW, any suggestions for a fitting term other than _features_ so that it is not confused with the universal and language-specific features in the FEAT column?)

I am not sure whether anyone has done this for other languages but we should document where and how MISC should be documented, and add the guideline

[2015-05-11 10:56] dan-zeman commented on #177
Just after creating this issue I found out that the headers of other markdown files in the overview folder have the "permalink" attribute. So I also added one and hopefully it helps to create the HTML page.

But we still should provide the guidelines how to do this in other languages. I think it will be rare that a language defines any MISC extension, so we probably do not want to create the link

[2015-05-11 11:03] spyysalo commented on #177
*property* or *attribute*?

The `permalink` attribute is just what's needed to put this document where it's needed. I made a local compile and `format.html` seems to be generated correctly, this should propagate to the online version soon.

I think a language-specific format page will be more broadly useful and would be happy to follow the suggestion to generate but not initially link this page fo

[2015-05-11 15:21] jipgogak commented on #177
Dear all,

I have been looking at the documentation about a feature for denoting
interrogative elements. In the PronType feature I found the following
description:

      |Int|: interrogative pronoun, determiner, numeral or adverb

But I did not see any other mention to the feature "Int" for other POSs
different from pronoun. In the Basque treebank there are interrogative
pronouns ("who") but also

[2015-05-11 18:46] dan-zeman commented on #177
@jipgogak: Dear Koldo, the `PronType` feature is used with `DET` and `ADV`, too, despite its name (read it _pronominal form type_, rather than _pronoun type_). So for _how_, you will get:

<pre>ADV   PronType=Int</pre>

You may also want to have a look at the conversion table at http://universaldependencies.github.io/docs/tagset-conversion/eu-conll-uposf.html. It can give you some idea of how the

[2015-05-11 18:52] jnivre opened #178 "Question particles"
Hindi (and I am sure many other languages) forms yes-no questions by adding a question particle to what would otherwise look like a declarative sentence, either sentence-initially or sentence-finally. What syntactic function should we assign to this particle? I can see three possible candidates, but neither of them seems quite right:

mark - this function can definitely be used for something that

[2015-05-11 19:08] dan-zeman commented on #178
I vote for `mark`. I like the analogy to subordinate clauses.

[2015-05-11 19:42] #165 closed

[2015-05-11 21:27] yoavg commented on #178
In Hebrew we use the language-specific label `aux:q` for that, treating the particle / question word as an auxiliary verb (which makes sense in Hebrew syntax, not sure about the Hindi case).

[2015-05-12 06:25] jnivre commented on #178
Interesting. I will ask our Hindi informant about this. Using "aux" is fine as long as there is some evidence that the thing is a verb, unlike the previous usage of "aux" for "to" in "to err is human", where there is no such evidence.

[2015-05-12 06:46] dan-zeman commented on #178
Hindi क्या _kyā_ is not a verb. In a wh-question it is the pronoun “what”. In a yes/no question it is used as a question particle.

[2015-05-12 06:46] jnivre opened #179 "Tricky case of right node raising"
I found the following tricky case of RNR in the Swedish treebank [literally translated]:

... able to [handle the tasks] and [assume the responsibility] which is required by ...

Unlike the classic case of RNR, where two transitive verbs share an object ("bought and ate an apple"), we here have two conjoined verb phrases where the direct objects share a relative clause modifier. In the current ver

[2015-05-12 06:56] dan-zeman commented on #179
Extended dependency between the other object and the relative clause?

Otherwise, I would take the first analysis but instead of acl:relcl(tasks, required), I would go for acl:relcl(responsibility, required). If the relcl really modifies both objects, it will not hurt to select the one that is closer to the relcl - but the advantage is that we avoid nonprojectivity. Then there is also the optional

[2015-05-12 07:14] jnivre commented on #178
Thanks, Dan. So perhaps "expl" is not so far-fetched after all ...

[2015-05-12 07:26] jnivre commented on #179
Good points, but the morphology actually rules out the possibility that the relative clause only modifies the second noun. Attaching it to the second noun is tempting because it avoids non-projectivity, but it goes against the general principle of taking the first conjunct as the head. So it seems that attaching it to the first noun is compatible with it modifying either only the first noun or bot

[2015-05-12 07:27] yoavg commented on #178
I do not like the `expl` option, as it seem to diverge to different meaning in different languages. Maybe we should consider adding a `particle` relation in future UD versions to support such non-verbal particles.

[2015-05-12 07:48] osenova commented on #178
Hi All,

We also have in Bulgarian a question particle ‘li’ for yes-no questions.
We had a problem to find a good relation, but for the moment we resorted to using _discourse_,
although it marks not only the whole sentence, but serves also as a focalizer.

Best,
Petya

[2015-05-12 07:52] jnivre commented on #178
@yoavg Fair enough. It would be worth looking for other phenomena that could be annotated using the "particle" relation, so that we don't add a new relation for only one construction.

@osenova I think "discourse" is fine for now, but it would be good if you put something about this in the language-specific guidelines, at least in the documentation of the "discourse" relation, possibly also under

[2015-05-12 08:12] yoavg commented on #178
@jnivre why not? we added `nsubj` for only one construction... I think that if it is supported by enough languages, there is no reason not to adopt it. An alternative would be to rename `expl` to something more general, and treat the current "English" expletives as a language-specific subtype of it.

[2015-05-12 08:15] jnivre commented on #178
@yoavg Point taken. But if it is only used for question particles, we might just call it "qpart" or "question" or something. In some ways, it would be similar to the neg relation.

[2015-05-12 08:24] yoavg commented on #178
@jnivre these also make sense. Though I have a feeling that some other particles will crop up from some languages at some point. But I do like `qpart` in the sense that it is more precise.

Which leads to something I've been thinking about the "language specific" relations for a while: perhaps we need to make a clearer distinction between "language specific" and "elaboration", the later being for

[2015-05-12 08:31] jnivre commented on #178
@yoavg Yeah, this is definitely worth thinking about. It is also related to the general point, discussed earlier, of whether the entire taxonomy should be hierarchical.

[2015-05-12 08:50] dan-zeman commented on #179
Agree. If the narrow reading is ruled out, then the first conjunct should win.

[2015-05-12 09:40] GHWally opened #180 "Appositions in German"
Dear all,

I have a problem with the annotation of the following German noun phrases:

meine Tante Klara (my aunt Klara)
das Thema Arbeitslosigkeit (the topic unemployment)
der Milliardär Ross Perot (the billionaire Ross Perot)

nmod(Tante, meine)
??(Tante, Klara)

and

drei Gläser trockener Rotwein (three glasses (of) dry red wine)
ein Sack Reis (a bag (of) rice)
eine Tüte gerösteter Kastanien (a

[2015-05-12 13:20] dan-zeman commented on #180
The genitive (partitive) modifier is a `nmod` and yes, _Gläser_ is the head:

nmod(Gläser, Rotwein)

We have the same in Czech and it's in other languages too. The analysis is parallel to other genitive modifications that do not have the partitive interpretation, such as _drei Gläser meines Vaters_.

As for _meine Tante Klara_, I would do:

det(Tante, meine)
nmod(Tante, Klara)

Here both nouns (Ta

[2015-05-12 14:05] GHWally commented on #180
okay, I kind of see why nmod would make sense here. Especially if it makes it comparable to Czech and the other languages. The problem in German is that in most cases, the second noun is not going to be in genitive case, but will normally be in nominative case or it may agree with the first noun. These things depend on whether the first noun is singular or plural, or whether the second noun is mod

[2015-05-12 14:29] dan-zeman commented on #180
I see your point. If the agreement were a formal requirement for `appos`, then this would actually be a sign that we should indeed use `nmod` instead of `appos`. But you're right there is no such requirement. And even I mentioned agreement only because it was my immediate impression that this would hold for the appositions in the Czech data... I would have to check that.

Now we do have the equiva

[2015-05-12 15:15] yoavg commented on #180
Fwiw, in the Hebrew Treebank we opted to mark the "my aunt Kalara" case as appositive, regardless of whether it has a comma between `aunt` and `Klara` or not.

[2015-05-12 18:30] tlynn747 commented on #178
Irish has the same question particles.

*Mothaíonn tú sábháilte*  You feel safe

*An mothaíonn tú sábháilte? *Do you feel safe?

*Nach mothaíonn tú sábháilte?* Do you not feel safe?

In the Irish Dependency treebank, we use a '*vparticle*' label for both of
these.

In the Irish UD Treebank, we use a language-specific label '*mark:prt*' for
the interrogative cases, but we use the '*neg*' label for

[2015-05-13 02:03] slavpetrov opened #181 "Multi-word abbreviations"
Hi folks,
I see there was a discussion that touched on multi-word abbreviations, but I couldn't figure out what the verdict is. In German there are abbreviations such as ("u.a." - among others, "z.B." - e.g.). What should the POS tag for these be?
Thanks!
Slav

[2015-05-13 05:59] spyysalo commented on #181
I believe this was suggestion was adopted (from in #112):

1. General guidelines apply to (candidate) abbreviations. For example, *$* and *%* should be annotated `SYM`, but *kg* should not, following the [guidelines for symbol](http://universaldependencies.github.io/docs/u/pos/SYM.html).
2. Abbreviations for single words are assigned the part of speech of the full form. For example, *Mr.* (*mister

[2015-05-13 06:25] jnivre commented on #178
This definitely seems to be something worth discussing for future releases (and revision of the guidelines). Perhaps it is time to make working groups again. But let's do v1.1 first.

[2015-05-13 08:23] dan-zeman commented on #181
And I would add, multi-word abbreviations should be split to syntactic words in the same fashion as we do with fused words:

z.B. => z. B.

I would be fine with stopping here and saying that "z." is `ADP` and "B." is `NOUN`. Although in fact the meaning is _zum Beispiel_ and _zum_ also happens to be a fused word, which (if spelled in full) would be further split to "zu" (`ADP`) and "dem" (`DET`).

[2015-05-13 10:36] #172 closed

[2015-05-13 10:37] spyysalo commented on #172
@dan-zeman : great, thanks! Implemented as suggested.

[2015-05-13 10:46] #173 closed

[2015-05-13 15:12] slavpetrov commented on #181
Sounds good to me.

Would "etc." then become "et cetera"? And "eg" -> "exempli gratia"?

Fine by me just wanted to double check...

On Wed, May 13, 2015 at 4:23 AM, Dan Zeman <notifications@github.com> wrote:

[2015-05-13 15:53] dan-zeman commented on #181
If we take this approach seriously, then yes, they would. I am unsure though, whether we want this to become a rule. It seems in line with what we are doing elsewhere but maybe we want to limit the splitting to cases where it is necessary? I must admit I am not attempting to do this in Czech. (We have significantly fewer multi-word abbreviations because of lower-lever tokenization, but there are s

[2015-05-13 22:14] fosterjen commented on #162
Cleft constructions are very common in Irish and in keeping with our analysis of all other Irish copular constructions we analyse them as  COP PRED SUBJ.

So, for

_It is clefts that I am talking about_

we have

_cop(clefts, is)_
_csubj:cleft(clefts, talking)_

Note that we don't have the equivalent of the expletive "It" in Irish clefts. For version 1.1, we are introducing a subtype of csubj call

[2015-05-14 09:22] jnivre commented on #162
It seems that there are variations in cleft constructions across languages, and you analysis makes sense for Irish. It might be worth putting together a subgroup to work out guidelines for how to deal with these in different languages.

[2015-05-14 11:10] esolak opened #183 "Feature ordering to reflect the order of morphemes?"
We are working on adapting the UD framework to Turkish dependency parsing.

The UD guidelines dictate an alphabetical ordering of the features in CoNLL-U format. As features  correspond more or less to morphemes, this ordering would loose the information contained in the ordering of the morphemes in the inflection of the surface form of a word. However, in Turkish, the ordering of the inflection g

[2015-05-15 06:16] GHWally commented on #180
I guess, I'll go with nmod for both cases for now. I think It should in principle be possible to change the annotation later.
Thanks for the help!

[2015-05-16 00:01] manning commented on #125
Sorry, I haven't been finding enough time to put my linguist hat on lately. I agree that it is important to have a good account of languages like Turkish, and that eventually a more detailed morphology will be necessary. But I would just comment now for anyone looking at this that while "syntactic incorporation" accounts of complex word forms dominate much of current theoretical syntax (at least i

[2015-05-16 00:08] manning commented on #181
I am rather suspicious of the idea that we wish to split "etc.". The fact that something has a multiword origin (in another language!) just doesn't seem to me a convincing argument for splitting it in synchronic usage. Certainly, for English, we don't split "etc.". And the idea of claiming that there was a CC/cc "et" and a ??/conj "c." doesn't seem very appealing to me.

[2015-05-16 04:42] CatalinaMaranduc opened #184 "expl for Ro"
I disagree that appears on Ro page to the expl label.
We are in Ro a lot of dobj and iobj expl
they are mandatory, the expression is incorrect without them. Ex.:

 Ion a rugat-o și el pe mama să-i dea lui mai întâi banii.
John /asked/-her/and he/his mother/to/-him/give/to him/first/the money.

”and he” is expl, for ”John”; we are also ”-her” which is dobj:expl for ”his mother”, and we are also   ”

[2015-05-16 13:05] TomazErjavec opened #185 "Value for Czech "Foreign""
Czech documentation (http://universaldependencies.github.io/docs/cs/feat/Foreign.html) specifies the values of Foreign = [Foreign, Fscript, Tscript], but the Treebank (and /tools/data/feat_val.cs) set the value as [Yes]. Which is correct?

[2015-05-16 22:41] yoavg commented on #183
Can you provide an example on how the ordering (or the doubling) of morphological information affect the dependency relations?

[2015-05-16 22:56] miguelballesteros commented on #183
well that depends on whether you take the whole set of features as a single string or not... most people split them into a set of values using the delimiter |, but you can always use the whole string as a feature.
See MaltParser for instance, you can either Split(InputColumn(FEATS, Input[0]),\) or  simply InputColumn(FEATS, Input[0]).

[2015-05-17 21:18] coltekin commented on #125
If I understand correctly (from what I read, including the references above), incorporation is embedding a word (a free morpheme, typically a noun) into another word (typically a verb). In case of Turkish, the morphemes that cause word class/POS change are not really free morphemes.

There are a few cases that we need/want to admit a single surface word including multiple syntactic units:

* the m

[2015-05-18 07:10] esolak commented on #183
Elaborating on the examples above, a simple pair could be

masadakilerin gördüğü kitap - the book that the ones at the table saw
table.LOC.REL.PLU.GEN see.PART.P3SG book.NOM

Here, the a dependency arrow is from "gördüğü" to "masadakilerin" and its label would be "nmod" as the first two words form a GEN-POSS construction.

For the second one;

masanınkilerde gördüğü kitap - the book that he saw at

[2015-05-18 09:36] jnivre commented on #125
I think the crucial issue here is deciding where to draw the line between what we segment and what we don't segment. So far, we agree that clitics need to be split from their hosts and that contractions need to be undone, because the two elements occurring together may participate in different syntactic relations and one cannot be reduced to expressing a property of the other. For (other types of)

[2015-05-23 13:33] dan-zeman commented on #185
Oops, this is a bug in the data, thanks for reporting. "Yes" was correct previously but should have been changed to "Foreign" in this release.

[2015-05-23 13:42] TomazErjavec commented on #185
Drat, I changed it from Foreign to Yes in our corpus, seemed to make more sense.
Will change it back at some point so we don't diverge.

[2015-05-24 21:50] manning commented on #164
Dan makes some good arguments in this thread! I've historically been pro-single root and anti-empty elements. I've felt that this was just right for a simple analytic framework for regular human beings. Maybe after spending enough time in linguistics seeing sentence analyses with more empty elements than overt words, you seek solid ground in the opposite extreme.

`remnant` was an attempt to handl

[2015-05-24 22:44] manning commented on #184
I'm not very expert on Romanian, but my general understanding is that Romanian has a rich and complex system of clitic doubling of dobj and iobj arguments, somewhat similar to Spanish, but more common and with a more developed "verbal complex". Often times this doubling clitic is compulsory.

Anything is open to revision at some point - though as you probably know, @jnvre is very keen on keeping t

[2015-05-25 04:27] CatalinaMaranduc commented on #184
Yes, that's very good, we will have the label expl and his subclassifications: expl:nsubj, expl:dobj and
expl:iobj.

[2015-05-25 04:53] #184 closed

[2015-05-25 05:32] CatalinaMaranduc opened #186 "possession expression"
In Romanian we have a lot of forms for possession expressing.
Cartea Mariei. (Mary's book) - a noun in genitive case.  (1)
Cartea ei (her book) - a personal pronoun in genitive case (2)
Cartea sa (her book) - a possessive determiner (3)
Cartea-i (her book) - a personal pronoun in dative case (4)
Cartea-și (her book) - a reflexive pronoun in dative case (5)
Și-a pierdut cartea (she lost her book) -

[2015-05-25 06:43] jnivre commented on #164
I agree on both counts. The treatment of ellipsis and the way it interacts with single-rootedness and perhaps even empty categories is worth revisiting. And the work on making treebanks more consistent could lead naturally to an improved second version of the guidelines. There is a fine line between adding more specific guidelines for areas that weren't covered by version 1 and where different tea

[2015-05-25 07:59] CatalinaMaranduc commented on #186
Arguments for interpreting (6), (7) as iobj:poss = they are core dependencies of verb; the verb cannot have another iobj besides that with possessive value, and this value is often interpretative..

[2015-05-25 08:59] KirilSimov commented on #184
Dear All,

Just a comment about another language with clitic doubling – Bulgarian.
We are happy with just one label for all verbal clitics because in
Bulgarian there is no way to mix them. Having grammatical features
accusative/dative case and dependency label 'expl' (clitic in our
previous encoding) uniquely determines the role played by the clitic –
imposing additional agreement features on the

[2015-06-02 21:08] dan-zeman commented on #186
Marking (1), (2), (4) and (5) as `nmod:poss` sounds good to me and this label has been used in several other languages (en, fi, fr, es, sv – see http://universaldependencies.github.io/docs/ext-dep-index.html).

And I like the analogy of `iobj:poss` for (6) and (7) too.

[2015-06-08 16:54] ftyers commented on #178
(Sorry for the late-coming!)

Turkic and Uralic languages (and Avar, and probably tons of other languages) have this too.

I don't like the idea of a "particle" part of speech, so having a "particle" dependency relation would be even worse.

In Finnish the "-kO" is clitic, so e.g. in the Turku treebank, it is probably marked morphologically (ex. 106 in the annotation guidelines gives "oliko" the "

[2015-06-08 18:11] riyazbhat commented on #178
Hi all,

Apart from ```kya```, Hindi-Urdu has other particles as well which are mostly emphatic in function and occur freely around the head noun. ``Mark`` may probabaly work for ``kya`` as it seems to introduce or mark an interogative clause, but emphatic particles like ``to``, ``hi``, ``bhi`` etc. modify a noun. Currently I have used ``dep`` relation for all the particles in the universal versio

[2015-06-08 18:24] ftyers commented on #125
Having read through this discussion, I think there is a relevant point that has not been included:

In Turkic languages (by and large), although the third person (present/future form) of the copula is "empty", it appears in 1st/2nd person forms and in other tense/aspect forms. This is not like in Russian, where there is no copula regardless of person "Я студент." "Она студентка." etc. So for examp

[2015-06-08 18:26] esthergoldberg commented on #125
בתאריך 8 ביונ 2015 21:24, "ftyers" <notifications@github.com> כתב:

[2015-06-08 19:25] riyazbhat opened #188 "Universal Dependency mapping for Hindi-Urdu"
Hi all,

I have upload an initial version of the UD mapping for the dependencies in Hindi-Urdu treebanks. Both the treebanks use around 85 dependency labels, many of them are mapped to ``nmod`` in UD due to their finer nature. I am not sure whether I should drop the finer dependencies or use eloboration instead, for example for ``k3`` (stands for instrument) I can either use ``nmod:instrument`` or

[2015-06-09 17:52] trf0412 commented on #13
I think I'm trying to do what's described here, but since I've only just started using Brat I'm not 100% sure. Is there any way you can post an example image (or link) showing what you achieved in Brat?

Thanks,
Tim

[2015-06-10 13:05] #188 closed

[2015-06-10 13:23] ftyers opened #189 "Coordination in Kazakh and Basque"
I'm sure this has come up in the documentation somewhere before, but I haven't been able to find it.

The docs write that for coordinated NPs "We take the first conjunct as the head of the coordination." When you have prepositions this is quite nice as you will have something like:

    1    in    2    case
    2    Spain    0    nmod
    3    ,    2    punct
    4    Argentina    2    conj
    5

[2015-06-12 10:01] gcelano opened #190 "Apposition"
Hi all,

I am wondering whether there is an "agreed-on" way to annotate a that-clause like the following:

"I read books for this reason, that I get smarter"

or similarly

"I love this, that you respect everyone"

Thanks

[2015-06-16 12:07] dan-zeman commented on #188
Hi Riyaz,

in my opinion `nmod:instrument` is a good idea. Other people have also used language-specific relations to encode finer information that would otherwise get lost, even if that information was not really specific to their language.

As for ellipsis, I personally do not think we have a good solution in UD1. As you know, `NULL` nodes are currently not used in UD, but I feel we should discu

[2015-06-16 12:23] dan-zeman commented on #189
This is an interesting point. I somewhat sympathetize with making the morphologically relevant conjunct the head and saying that this is required by the specific nature of the language. The only potential issue I see is that it may make more difficult writing transformations that would convert coordination to a different style - something people may want to do for parsing experiments etc. If we ke

[2015-06-16 12:31] dan-zeman commented on #125
For the record, Russian actually has overt copula in the past and future tenses, and in the conditional. The past copula still does not distinguish person (because past participles do not mark person in Slavic languages) but it distinguishes gender and number: _Я был студентом. Она была студенткой._ = “I was a student. She was a student.”

[2015-06-16 12:38] dan-zeman commented on #178
I would use the `case` relation for _to, hi, bhi_ modifying a noun.

[2015-06-16 17:50] coltekin commented on #125
Sorry for responding slow to the earlier request to document the cases where I think sub-word units should be used.

Here are the example cases (some repeated from the conversation above):

#### `-ki` suffix

This suffix derives adjectives/nominals from inflected nouns. The derived nouns may also be inflected again, and another `-ki` may be suffixed (two of them on a row is not that uncommon, more

[2015-06-17 09:13] riyazbhat commented on #178
@dan-zeman by using `case` relation we may lose the distinction between the case-clitics and these particles in the treebanks at the dependency level. Is that fine?

[2015-06-17 10:06] dan-zeman commented on #178
It's true and I'm not saying it's fine because I'm against losing information in general. I'm not sure how much harm it would do... but it's probably better to use `case` than `dep`, and I think we occasionally use `case` for function words modifying nouns, even if they do not fall into the group traditionally described as case markers in the language.

We could also define a language-specific sub

[2015-06-17 10:14] riyazbhat commented on #178
I would perfer `case:part`, since we do have distinction for other particles like negatives and are discussing a separte relation for question particles. It makes more sense to have a separate relation for these particles as well. However, `case` would also suffice as we already have a distinction at the pos level for both particles and case markers!!

[2015-06-17 10:20] jnivre commented on #178
What exactly does "emphatic" mean here? Are they related to demonstratives? Or do they mark information structure in some way?

[2015-06-17 11:02] riyazbhat commented on #178
These particles are usually refered as "emphatic" as they lend emphasis to the modifying noun. I guess they are relevant to the information structure by probably marking the focus. Some of them are like English adverbial "only" (qauntificational function). In that sense, they are more like demonstratives.

[2015-06-17 11:26] jnivre commented on #178
Thanks. Not an easy choice (and I guess it points to a gap in the taxonomy). I could imagine using dep:mark rather than case:mark, but I am not sure we should encourage language-specific subtypes of the negatively defined dep relation.

[2015-06-17 11:35] dan-zeman commented on #178
@riyazbhat : I should have thought of that earlier. The semantics of these particles seems to overlap with something we actually had in source Czech annotation as well. I defined the language-specific relation `advmod:emph` to keep the distinction (see http://universaldependencies.github.io/docs/ext-dep-index.html or directly http://universaldependencies.github.io/docs/cs/dep/advmod-emph.html for

[2015-06-17 12:14] riyazbhat commented on #178
@dan-zeman Can you use "zvlášť " as a clausal adverbial as well and is it always local to its modifying head? Could you please share some more examples with me.
In Hindi, foucs can either be marked by local or non-local adverbials and by emphatic particles. For the former `advmod:emph` is perfect. The later, however are postpositional and are never treated as adverbials in linguistics literature o

[2015-06-17 13:18] dan-zeman commented on #178
Yes, _zvlášť_ can be used as a clausal adverbial. It will lead to a different label in the source annotation, which translates as `advmod` in UD. What does it mean that it "is local to its modifying head"?

Here are some more examples of `advmod:emph` in Czech:

_Mohli by obvinit <b>i</b> některého ministra._ “They could prosecute <b>also/even</b> a minister.”

_Začnou <b>až</b> o měsíc později._

[2015-06-17 15:52] coltekin opened #191 "Tense/Aspect/Modality in Turkish"
I am trying to map Turkish tense/aspect/modality system to UD `Tense`, `Aspect` and `Mood` features. It seems some attention to Turkish have been paid for the documented features and values, but I still have quite a few difficulties. I think a few additional universal or language-specific values (and potentially some language-specific features) will be necessary to represent the Turkish verbal ten

[2015-06-17 16:26] coltekin commented on #189
Not surprisingly, this issue is also relevant to Turkish. Just to add another example to support the case.

Besides postpositions mentioned in the original post, there are other coordinated constructions that are affected. For Turkish, quite a few suffixes are added to the final conjunct (I believe this is called delayed suffixation). So, marking final conjunct as head would be more natural.

Here

[2015-06-17 18:04] daghaug opened #192 "Ellipsis in comparison"
Is there a standard way of treating ellipsis in comparisons where two elements (but not the verbs) remain in the comparative clause? The guidelines mentions cases where the verb in the comparison clause remains ("as much flour as the recipe *called* for") or cases where only one element remains ("he plays better drunk than *sober*"). In these cases there is a clear element that can be promoted to

[2015-06-18 00:19] ftyers opened #193 "Fronted relative clauses with empty copula in Kazakh"
Hey there!

In Kazakh there is a structure like:

    Шашы       ұзын     қызды     көрдім.
    Hair.3SG   long     girl.ACC  see.PAST.1SG

    "I saw the girl whose hair is long."

You could analyse this as having an empty copula acting as a relativiser between "long" and "girl", where the dependency structure would be:

    subj(ұзын, Шашы)
    cop(ұзын, -)
    acl(қызды, ұзын)
    obj(көрдім, қ

[2015-06-18 06:38] dan-zeman commented on #193
Your Turkish analysis is what I would do in UD (except that the label for nominal subject is `nsubj`). And I would do the same thing in Kazakh, as the two sentences are almost perfectly parallel, only the copula (a leaf node) is missing in Kazakh.

BTW, does the `.3SG` tag in your example mean that there is a possessive suffix (“her hair”)?

[2015-06-18 06:45] dan-zeman commented on #192
Ellipsis needs more attention in the future versions of the standard. I guess you could use the `remnant` relation for this. Not sure whether it has been used in comparisons elsewhere.

[2015-06-18 06:51] jonorthwash commented on #193
Yes, the `.3SG` tag (which is `px3sg` in our analyser) indicates a possessive suffix.

[2015-06-18 07:05] daghaug commented on #192
I thought about using `remnant` but that misses the point that "which the others" elaborates on "same" as in other comparison constructions.

I am converting the PROIEL treebank (Ancient Greek, Latin, Gothic, Classical Armenian and Old Church Slavic) to UD. The source representation has explicit empty nodes. So I am just going to eliminate those using `remnant`for now, and then I can change my con

[2015-06-18 07:10] makazhan commented on #193
Should we emphasize relativeness, i.e.:
acl:relcl(қызды, ұзын)
acl:relcl(kızı, uzun)

[2015-06-18 07:23] dan-zeman commented on #193
Well, at the moment it is optional and up to you. It is one of the most widely applied "language-specific" relation but some languages/treebanks do not use it (yet) even though relative clauses exist in those languages. Perhaps it is better to do it (use `acl:relcl`) unless you have reasons against it (e.g. you are converting an existing corpus and the distinction is not readily available there).

[2015-06-18 07:35] makazhan commented on #189
Just minor clarifications.
Can someone confirm that Kazakh examples should read:

1    Мексика    Мексика    nom    0    nmod
2    ,    ,    _    1    punct
3    Италия    Италия    nom    *1* (not 2)    conj
4    және    және    cc    *1* (not 2)    cc
5    Германиядан    Германия    abl    *1* (not 2)    conj
6    кейін    кейін    post    5    case

1    Мексика    Мексика    nom    5    *conj*

[2015-06-18 08:10] ftyers commented on #189
The first example should read:

    1 Мексика Мексика nom 0 nmod
    2 , , _ 1 punct
    3 Италия Италия nom 1 conj
    4 және және _ 1 cc
    5 Германиядан Германия abl 1 conj
    6 кейін кейін post 5 case

e.g. Everything aside from the postposition attaches to "Мексика", the first item in the list.

And the second example should read:

    1 Мексика Мексика nom 5 conj
    2 , , _ 5 punct
    3

[2015-06-18 13:08] riyazbhat commented on #178
Thanks for the examples.
The emphatic adverbials and emphatic partciles differ in their distribution in Hindi and Urdu. Emphatic adverbials and their head can be intervened by other constituents/phrases. However, in case of emphatic particles, they always stay adjacent to their head like case markers. This is what I meant by "local to its head". Its hard to infer from your examples whether Czech p

[2015-06-18 13:46] riyazbhat commented on #188
Thanks Dan for your suggestions. Elobaration is a neat way to keep language or scheme specific information and I will be using it where ever I feel a need of it. My only concern is it may double the size of UD labels. But I guess that should not matter as treebank specific information can be easily droped whenever necessary.

I am able to handle a subset of ellipsis like the ellided conjuctions. T

[2015-06-18 14:11] dan-zeman commented on #188
Nobody is perfect :-) Quite a few of us started with an approximate conversion of their treebank and then gradually try to improve it. I have to admit that I have not been able to correctly convert ellipsis in Czech so far; not even in the cases where the `remnant` relation should apply. Something is usually better than nothing, although we should obviously try to do it as good as possible.

[2015-06-18 14:12] dan-zeman commented on #188
And BTW, any differences between the current data and the desired annotation style must be documented in the language-specific documentation.

[2015-06-18 16:10] jonorthwash commented on #193
Maybe we should note that the Turkish way of doing this type of relative clause is the way Kazakh usually does relative clauses that modify nouns—i.e., with a verb phrase where the last verb has been made into a verbal adjective.  In these cases, I suppose the main verb (whether it's last or not, since an auxiliary could have the verbal adjective morphology) would have an acl relation to the noun

[2015-06-18 17:03] coltekin commented on #191
The above proposal is probably too long for most to digest, or comment on it.
I have put updated documentation on this at
* https://github.com/coltekin/docs/blob/pages-source/_tr-feat/Tense.md
* https://github.com/coltekin/docs/blob/pages-source/_tr-feat/Aspect.md
* https://github.com/coltekin/docs/blob/pages-source/_tr-feat/Mood.md

I will close this issue now, and open a few issues with more spe

[2015-06-18 17:03] #191 closed

[2015-06-18 17:33] coltekin commented on #193
The sentence without *olan* works in Turkish too:
[code]
For me, this would be more natural (unless I want to say something like '(of those three girls) I saw the girl with long hair').

[2015-06-24 03:58] ftyers opened #195 "Coordinating clausal and non-clausal modifiers"
I can't find this in the documentation on conjunction, so will bring it up here. In Turkic languages (and in many other language families) it is possible to coordinate clausal modifiers with non-clausal modifiers. For example:

Verbal adjective:

        Арық   және  тез   жүгіретін   спортшылар   жақсы көремін.
        adj     cc   adv   v.adj       n.pl         v.pres.1sg
        Skinny and   fa

[2015-06-26 10:55] dan-zeman commented on #195
Good point. Unfortunately, the Stanford style of coordination (which is what we use in UD) cannot express that each conjunct has a different relation to the parent of the whole coordination. At least not using the _basic_ dependencies.

I would use the relation that is appropriate for whatever is the head conjunct. Then I would add an _enhanced_ dependency in the `DEPS` column. It would go from th

[2015-06-26 12:11] dan-zeman commented on #178
I have not done detailed research but I believe that the Czech emphasizers more or less always immediately precede the noun phrase (or prepositional phrase) they emphasize. They are not necessarily adjacent to the head noun because there may be intervening prepositions and adjectives.

[2015-06-29 23:27] tdozat opened #196 "Names in non-person entities"
Quick question: I'm working on implementing the `name` relation in the English treebank, and I'm wondering what to do for compounds with a proper name in them but that refer to something other than a person, like "Eastman School of Music", "Leland Stanford Jr. University", "the Colbert bump", or "the Mason Dixon line". According to the docs, `name` "is used for proper nouns constituted of multiple

[2015-06-30 03:00] tdozat commented on #190
I think this is a place for the [`dislocated`](http://universaldependencies.github.io/docs/u/dep/dislocated.html) relation:

"I read books for this reason, that I get smarter"
dislocated(reason, smarter)

"I love this, that you respect everyone"
dislocated(respect, this)

[2015-07-01 06:18] ftyers commented on #196
The documentation seems reasonably explicit here:

"For example, name would be used between the words of Hillary Rodham Clinton, New York, or Carl XVI Gustaf but not to replace the usual relations in a phrasal or clausal name like The king of Sweden or the novels The Lord of the Rings and Captured By Aliens. Words joined by name should all be part of a minimal noun phrase; otherwise regular syntac

[2015-07-01 07:02] jnivre commented on #125
Thanks for providing this careful summary. I do think there is compelling evidence to treat some of the traditional IGs as words (in the UD sense). Exactly where to draw the line will have to be determined by working out specific guidelines for different constructions. If we all agree on this, then I think this issue can be closed (and possibly more specific ones be opened, as suggested by @coltek

[2015-07-01 07:11] jnivre commented on #148
This is clearly for the UD_English team to decide, but I would strongly advocate dropping the PTB-style escapes. As far as I know, no other language uses anything similar, and for applications like cross-lingual learning it would clearly be convenient to be able to assume that identical punctuation marks really are identical across languages.

[2015-07-01 07:23] jnivre commented on #176
As far as I understand, these are both prototypical examples of dislocation:

- I think the confusion, the source of-it is still unknown
- the nice garden, we were sitting in-it for long hours

Especially given the resumptive pronoun. This makes them exactly parallel to:

- Dislocation, I don't like it
- Universal Dependencies, it has really caught on

The only difference is that in the latter cas

[2015-07-01 07:23] #176 closed

[2015-07-01 07:32] jnivre commented on #179
This one seems taken care of. Closing for now.

[2015-07-01 07:32] #179 closed

[2015-07-01 07:35] tdozat commented on #196
My concern is that the documentation only gives examples where the whole compound refers to a proper noun, but it doesn't give any examples where only a sub-part does (or refers to a different one). For example, in "Eastman School of Music", there is clear syntactic structure in "School of Music", so according to the documentation "the dependencies should reflect the syntactic modification structu

[2015-07-01 07:37] jnivre commented on #180
This one seems ready to be closed, even though there is a discrepancy between the Hebrew and the Czech (and German?) annotation that needs to be discussed at some point. Just as a piece of information, Swedish traditional grammar also uses the notion of apposition more widely:

The city Stockholm
Stockholm, the largest city in Swedish

The traditional analysis would say that "Stockholm" is the hea

[2015-07-01 07:37] #180 closed

[2015-07-01 07:40] jnivre commented on #181
I agree with Chris here. And I wouldn't like to split "e.g." either, as a matter of fact. As far as I'm concerned, "for example" is a multiword expression, which should really be tagged as an adverb. However, because it is written with spaces, we have to treat it as consisting of two words, and assign the tags ADP and NOUN to them. However, when we get the abbreviation "e.g.", which is regularly t

[2015-07-01 07:47] jnivre commented on #183
There is a long discussion about Turkish inflectional groups in issue #125 (recently closed). I think the point here is that we need to split the tokens into multiple "words" (corresponding to inflectional groups). Each unit will then have its own (unordered) set of features. An alternative is to use layered features, but that doesn't seem like the right thing to me here.

[2015-07-01 08:25] ftyers commented on #196
Thinking in terms of machine translation (and perhaps other applications), I would prefer to have "(the) Mason-Dixon line" as analysed compositionally, given its compositional translation in other languages (cat: Línia Mason-Dixon, rus: Линия Мэйсона-Диксона, nor: Mason-Dixon-linjen, etc.) This also goes for "Eastman School of Music" and "Leland Stanford Jr. University", which could be fairly triv

[2015-07-01 08:41] jnivre commented on #185
This issue seems to be resolved, so I will close it.

[2015-07-01 08:44] jnivre commented on #186
This sounds good to me too, but I think the general division between "det" and "nmod:poss" should be discussed at some point. I think we have an inconsistency across languages in that some use "det" and some use "nmod" (with or without ":poss") for possessive determiners/pronouns ("my book" and similar).

However, this particular issue seems to be resolved, so I'll close it.

[2015-07-01 08:44] #186 closed

[2015-07-01 08:50] jnivre commented on #189
This is an important issue that has come up also for Hungarian, I think, where there are cases where morphological agreement is expressed only on the second (or last) conjunction, indicating that this is the head of the coordination. It is also related to the issue of what should be the head in complex names, where the official guidelines say the first element, but many languages have good argumen

[2015-07-01 08:54] jnivre commented on #190
Dislocation can definitely be used, but note that the dislocated element should be attached to the verb, that is, to the governor of the element that it doubles for.

If you want to have it attached to the noun/pronoun, you would have to use acl, I think, but this would be a non-prototypical use of that relation.

[2015-07-01 08:55] jnivre commented on #192
Sounds good to me. I will close this issue for now, but ellipsis definitely needs to be revisited more generally, as suggested by Dan.

[2015-07-01 08:55] #192 closed

[2015-07-01 09:02] jnivre commented on #195
I agree with Dan. Use the appropriate relation for what happens to be the head and add the other info in the enhanced dependencies. This touches on a more general issue, which has been discussed before, namely the fact that Stanford relations (often) specify both the function to the head and the form of the dependent. In this particular case, one would like to abstract over the latter and simply s

[2015-07-01 09:12] jnivre commented on #196
I agree that these cases are tricky, but I think the rule of thumb is to use the name relation only when no syntactic relation makes sense, not because one of the elements is a proper noun. In "Eastman School", there is a clear intuition that "School" is the head (isn't there?), and using the "name" relation would distort this by making "Eastman" the head. However, it is still clear that there wil

[2015-07-01 10:29] gcelano commented on #190
The dislocated relation is appealing. In German, however, I see that a sentence such as

Da kann man darüber hinwegsehen, dass es außerhalb der Aachener	City liegt

is annotated as ccomp(hinwegsehen, liegt), even though I would say that the dass-clause "explains"  darüber (so I would take this example as similar to the ones I made).

My English sentences were actually fictitious examples to show w

[2015-07-01 10:33] gcelano commented on #190
Hi Joakim, I see your answer only now! It would be interesting to know how this phenomenon has been annotated for other languages.

[2015-07-01 10:40] jnivre commented on #190
Hmm ... I wonder how to search for such examples in the existing treebanks.

It is clear that acl should be used for the following similar cases:

I read books for the reason that I get smarter.
I love the fact that you respect everyone.

[2015-07-01 18:44] manning commented on #193
These answers look right to me. The optionality or non-appearance of the copula in many constructions in many languages was one of the key reasons for trying to avoid it being the head.

[2015-07-01 18:44] #193 closed

[2015-07-01 18:47] manning commented on #192
Agreed. I think our attempted method of avoiding empties via the remnant relation is in retrospect not fully successful....  Good discussion topic for the meeting in September.

[2015-07-01 18:57] manning commented on #195
I agree too. That is what we do. The role is determined by the head. In the enhanced dependencies, the correct role can be shown for each conjunct (though in practice for our software, at present we only do that for `nsubj`/`nsubjpass`).

[2015-07-01 18:59] #195 closed

[2015-07-02 10:36] coltekin opened #197 "`Voice` feature (for Turkish)"
Current `Voice` specification in UD seems have paid some attention to Turkish, but I still cannot fit the possible voice values into the `Voice` feature as specified.

Turkish verbs may inflect for four voice values, **reciprocal**, **reflexive**, **causative** and **passive**. Except for reflexive, these are already listed in current UD specification.  The problem is with multiple voice values. A

[2015-07-02 11:56] coltekin commented on #178
On the original subject of question particles, I would also appreciate a common solution.

For Turkish, the solution suggested by @yoavg looks most appealing to me. The question particle in Turkish acts somewhat like a verb, it can carry some of the tense/aspect/mood suffixes as well.

My preference would be to mark it as `AUX` and indicate that it introduces a question by a feature (`PronType=Int

[2015-07-02 15:33] coltekin opened #198 "Spelled-out numbers"
It may be a trivial question, but I could not find a direct answer or example.

In Turkish corpora, I see quite a few examples of numbers that are completely spelled out. For example, _otuz üç_ 'thirty three'. It looks natural to relate the parts with `mwe`. However, I saw (for example in English UD treebank) that the numbers like "three million" are marked using `compound`. This is not a good opt

[2015-07-02 16:23] ftyers commented on #198
What is the problem with using `compound` ?

    two hundred and thirty three
    compound(hundred, two)
    compound(thirty, three)
    conj(hundred, thirty)
    cc(hundred, and)

Looks pretty ok to me ? Couldn't something similar be done for Turkish ?

[2015-07-02 20:07] coltekin commented on #198
This looks good. The reason for my question was because the relation between *hundred* and *two* is not the same as the relation between *thirty* and *three*. The first one (for me) has a clear head, but the second one does not. But your answer resolves it for me, the second relation looks more like a conjunction than a compound.

I was not thinking about `conj` since Turkish does not use an expli

[2015-07-03 00:27] jonorthwash commented on #198
I agree with the analysis of 2*100 + 30 + 3, where + is treated as `conj` and * is treated as `compound` or similar.  Treating 30+3 (or 3+30, in this case, for some reason?) the same as 2*100 doesn't seem consistent.

[2015-07-03 07:24] coltekin commented on #198
Choice of the order in '3 + 30' is arbitrary, like in other conjunctions. But it reflects that I want to mark it head final. Although the choice of head between 30 and 3 (or 100) is arbitrary here, if the whole numeric expression is inflected, the suffixes attach to the last number.

[2015-07-03 08:51] gcelano commented on #190
Maybe acl is the best solution. In "the reason that", the that-clause explains "reason" and is focal, which is similar to what happens in "I read the books for this reason, that ...". The dislocated element seems to be more of a topical nature.

[2015-07-03 14:58] ftyers commented on #198
Agree with Jonathan here. My post should have read:

    two hundred and thirty three
    compound(hundred, two)
    conj(hundred, three)
    conj(hundred, thirty)
    cc(hundred, and)

For Turkic, switch head-initial to head-final.

[2015-07-05 23:24] #196 closed

[2015-07-07 08:00] dan-zeman commented on #181
Fair enough. But this becomes another item on the growing list of things that require more attention and harmonization across the treebanks. Maybe we should start to maintain the list physically as a new issue?

[2015-07-07 09:53] jnivre commented on #181
Starting a list of known harmonization issues is an excellent idea, especially in view of the upcoming Uppsala meeting. Should this be in the form of a github issue or is it better to start a Google doc or something?

[2015-07-07 10:15] dan-zeman commented on #181
What about a Github page here in the documentation?

+: keeping all stuff at one place; can include the tree visualizations if desirable
-: the ever growing time lag between saving and seeing the changes. But without the visualizations, saved changes are visible immediately (the page that the editor shows after saving)

[2015-07-07 16:48] jnivre commented on #181
Yeah. That's probably the best option.

[2015-07-08 09:33] dan-zeman commented on #181
OK. I started the list at http://universaldependencies.github.io/docs/issues.html.

[2015-07-08 11:56] jnivre commented on #181
Thanks, Dan. I could make some additions myself and then send an announcement on the UD list, asking for contributions. Is that a good idea?

[2015-07-08 12:01] dan-zeman commented on #181
Sure, please go ahead. I just picked the first two issues I had on my mind but I know that at some point the other threads must be searched for other topics.

[2015-07-08 12:30] dan-zeman commented on #185
@TomazErjavec : I am myself unsure what is better: `Foreign` or `Yes`. The idea was that `Yes` occurs with boolean features and by adding the `Fscript` and `Tscript` possibilities this feature stopped to be boolean. On the other hand, the other two values are used rarely.

I am now fixing the bug in the conversion tool I use for the Czech data but I can revert to `Yes` (and change documentation) i

[2015-07-08 16:28] dan-zeman commented on #185
The Czech data have been updated in the repository. `Foreign=Yes` has been changed to `Foreign=Foreign`, so the data are currently in line with the documentation. The list of language-specific feature values in the tools repository has been updated likewise.

[2015-07-15 20:08] amir-zeldes opened #199 "Converter from Stanford Dependencies to Universal Dependencies"
Hi,

I have a question: is there a script converting Stanford Dependencies to Universal Dependencies for English? I've seen the POS conversion script and Treex/Interset, but I can't seem to find a converter that takes native CoNLL data with the non-universal Stanford Dependencies and outputs Universal Dependencies (I realize this is a non-trivial task because of issues like flipping the pobj/case

[2015-08-06 13:00] makazhan opened #200 "Clarification of the xcomp definition"
The definition of xcomp reads:
_An open clausal complement (xcomp) of a verb or an adjective is a predicative or clausal complement without its own subject. The reference of the subject is necessarily determined by an argument external to the xcomp (normally by the object of the next higher clause, if there is one, or else by the subject of the next higher clause)._
And there’s also an additional

[2015-08-06 13:24] makazhan commented on #200
Here are the analyses of both versions for clarity:
[code]
[code]

[2015-08-06 16:04] coltekin commented on #200
The fist one looks like `xcomp`, but second one is certainly not `xcomp` (I have doubts whether we should analyze those as `ccomp`, but this is for another discussion). In Turkish, the subordinating suffixes are different in two cases. In the first case (xcomp) it would be "-mAK", and in the second case it would be "-mA". However, because of morpho-phonological alternations, these suffixes are som

[2015-08-06 20:26] makazhan commented on #200
coltekin,
Turkish -mAK corresponds to Kazakh -у /u/: al-mak = ал-у = to take.
About -mA I'm not sure, but we have verb-noun/adj. derivatives (not fully productive) of similar surface form, e.g. көр+ме = see+ме = exhibition; кір+ме = enter+ме = foreign/imported.
In my example I used participle form -ҒАн which corresponds to Turkish -[y]An, but -у (-mAK) could be used as well (arguably even more com

[2015-08-07 09:47] coltekin commented on #200
As I understand, the main difference between `xcomp` and `ccomp` is whether  all the arguments of the predicate of the subordinate clause are filled within the clause itself or not. In case of `xcomp`, you need to look at the main/superordinate clause to locate the subject. In `ccomp` the predicate should have its subject argument filled (not necessarily by an overt subject, but, for example, by a

[2015-08-07 11:55] makazhan commented on #200
@coltekin,

Yes, that's exactly how I understand the definition.

They certainly do.

Same in Kazakh. And when analyzing such cases I would go with `ccomp`, or with `advcl` if a given clause is not a core argument, but definitively not with `xcomp`.
But I am not talking about analyzing *actual sentences* with such clauses. I am talking about sort of a test for `xcomp`.

Suppose we have an English

[2015-08-07 15:50] jonorthwash commented on #200
One clarification I'd like to make as I'm going through the thread:

Turkish -mAk and -mA both correspond to Kazakh -GAн in this case (and -у in other cases).  It doesn't matter that Kazakh has cognates to -mAk and -mA, since they aren't used the same way.  To answer @coltekin's question regarding this topic, there's no parallel split between verbal noun types in Kazakh.

[2015-08-07 16:07] jonorthwash commented on #200
Okay, I understand the results of the discussion up to this point to be that @coltekin and @makazhan agree that `xcomp` is supposed to be a predicative or clausal complement _without its own subject_, whether or not the same structure could be easily modified to have one.  I guess the next step would be for the developers of the UD standard to confirm this.

[2015-08-14 10:31] dan-zeman opened #202 ""at least": MWE, or not?"
There seems to be an inconsistency in UD 1.1 English. The phrase _at least_ is sometimes analyzed as `mwe(at, least)`, sometimes as `case(least, at)`. Could it be done consistently? Which one is correct? Or are there context-based reasons to distinguish the two analyses?

To see examples, you may go to http://lindat.mff.cuni.cz/services/pmltq/ud_en/query and try the query

  `a-node [form="least"]

[2015-08-14 10:53] dan-zeman commented on #185
There do not seem to be diverging opinions and Czech has been fixed, so I am closing the issue again.

[2015-08-14 10:53] #185 closed

[2015-08-15 12:13] sebschu commented on #202
We do indeed treat _at least_ in two different ways depending on the context.

If it is not used for quantities, e.g. in _At least I like dogs_, then we treat it as a MWE.

If it is used with a quantity, e.g. in _She has at least two dogs_, then we analyze it as `case(least,at)`.

This is also documented at http://universaldependencies.github.io/docs/en/dep/mwe.html

[2015-08-15 12:13] #202 closed

[2015-08-15 19:05] dan-zeman commented on #202
Oh, thanks. I found it so surprising that I did not even bother to look for this example in the documentation.

[2015-08-16 15:05] dan-zeman opened #203 "Improve cross-language consistency of adpositions (case/mark/aux)"
The datasets in UD 1.1 often differ in approaches to adpositions. Besides `case`, they are also often attached as `mark` or even `aux`. Although various languages may have their own reasons for doing things differently, there seems to be room for more harmonization.

I have put together a document with more details here:

[Adpositions in Universal Dependencies.pdf](https://github.com/UniversalDepe

[2015-08-16 21:21] dan-zeman opened #204 "Improve cross-language consistency of inherently reflexive verbs (compound/expl/dobj)"
Reflexive pronouns may be used instead of normal personal pronouns as objects of verbs and then they are labeled `dobj` or `iobj`. However, sometimes a verb requires a reflexive pronoun and it cannot be interpreted as an object. There are at least two different relations used in these situations in different languages. Could one of them be recommended?

More details here:

[Inherently reflexive ve

[2015-08-20 12:31] gulsenceb commented on #125
Hi all,

We wanted to reopen this issue before Uppsala Meeting for your attention.

We apologize for participating in this discussion so late. As the ITU NLP Team, we have been working on creating a new Turkish dependency formalism (Sulubacak, U., & Eryigit, G., 2014). We reannotated the existing Turkish treebank and annotated a brand new Turkish Web2.0 Treebank according to this new formalism (Pa

[2015-08-20 14:53] jnivre commented on #125
Thanks, Gülsen. This seems to me to be a step in the right direction. It would be interesting if you could try to represent your analysis using tokens and words as required by the CoNLL-U format. See http://universaldependencies.github.io/docs/format.html.

[2015-08-22 07:06] Tugbapmy commented on #125
Our suggestion would be as seen below:

[code]

Suffixes in Turkish are usually meaningless when used alone. If the morphological representation was made directly in the CoNLL-U format, we would need to show the suffixes on their own, causing these suffixes to be seen as if they by themselves were IGs of that word. To prevent this, we propose writing each IG with the latest derivation of the word,

[2015-08-22 07:08] Tugbapmy commented on #197
It seems like a bit of a a radical change to promote these voices to features, for the sake of Turkish. The idea for multiple `Caus` and `Pass` voices is interesting, but the order of these voices in Turkish is not trivial. Perhaps voice features, as opposed to values seperated by comments, could be multiple, showing them in the order in which the suffixes have been attached. *Boya<b>-t-ıl-t-</b>t

[2015-08-22 07:30] ftyers commented on #125
The way we have approached this for Kazakh and other Turkic languages is to use `_` as the surface form for subtoken words, and then the lemma is the canonical form of the morpheme. So that would be:

    1-2 sağlamlaştırılmasının
    1   _        sağlamlaş VERB    _ Negative=Pos|Number=Sing|Person=2|Tense=Imp|Voice=Cau|Voice=Pass
    2   _        tırıl  NOUN    _   Case=Gen|Number=Sing|Person=3|P

[2015-08-22 07:33] ftyers commented on #197
This is not just relevant for Turkish, but also for all the other Turkic languages. However, I would probably consider erring on the side of creating new inflectional groups for valency changing verb derivation, where not lexicalised.

[2015-08-22 07:43] jonorthwash commented on #125
What about using _ for the lemma on 2?

[2015-08-22 07:46] jonorthwash commented on #125
Or what about something more like this?
[code]

[2015-08-22 07:52] ftyers commented on #125
(For those following by email, sorry about the post confusion. It's late and I'm half way from Kızıl to Stockholm) :)

So, my suggestion would be:

    1-3 sağlamlaştırılmasının
    1   _        sağlamlaş VERB    _ Negative=Pos|Number=Sing|Person=2|Tense=Imp|Voice=Cau
    2   _        ıl _ Voice=Pass
    3   _        ma  NOUN    _   Case=Gen|Number=Sing|Person=3|Poss=Yes|VerbForm=Inf

This gets ar

[2015-08-22 10:57] dan-zeman commented on #125
@Tugbapmy : At any rate, a dependency parser (or a preprocessor) will have to solve the transition between the token level and the word level. This is neither specific to Turkish, nor to this particular proposal. Once this step is solved somehow, it may actually profit from learning dependency relations between suffixes (because it may see the same suffix with another word, right?)

@ftyers : I do

[2015-08-22 11:02] esthergoldberg commented on #125
Samsung נשלח מהטלפון הנייד של

-------- הודעה מקורית --------
מאת: Dan Zeman <notifications@github.com>
תאריך:22/08/2015  13:57  (GMT+02:00)
אל: UniversalDependencies/docs <docs@noreply.github.com>
עותק: esthergoldberg <goldberg.esther@gmail.com>
נושא: Re: [docs] Representation of `zero morphemes' in tokenization (#125)

@Tugbapmy : At any rate, a dependency parser (or a preprocessor) will have to

[2015-08-22 11:25] jnivre commented on #125
I have not had time to follow everything in this thread, but leaving either the word form or the lemma empty does not seem compatible with the UD guidelines. I think the goal should be to find a representation of both that makes sense not only for Turkish specifically but in a multilingual perspective.

[2015-08-22 12:50] jonorthwash commented on #125
It would be possible to do something like this:

[code]

Including the segmental content that is described, while not representing anything that a lay Turkish speaker would actually recognise, does have the advantage of allowing one to keep track of what's actually being described.  That said, there may be times when the content would need to be blank, as there could be no segmental content corres

[2015-08-22 13:02] jnivre commented on #125
This looks good to me. Note, though, that there is no requirement that the token (1-3) should be identical to the concatenation of the words (1 + 2 + 3). While this might work for Turkish, it would not work for many other languages. Even in French, for example, we have things like "du" = "de" + "le". Empty strings, on the other hand, have so far not been allowed in UD.

[2015-08-23 10:46] nschneid opened #206 "Details of English AUX category"
I've written a quick Python script to convert to Universal POS tags given a PTB tree:
https://gist.github.com/nschneid/beed0bcda5b42e530011

I'm wondering if I have interpreted the [`AUX` category](http://universaldependencies.github.io/docs/en/pos/AUX_.html) correctly. E.g., there are borderline syntactic uses of "have" and "get" in "you 'll have to fight to get it resolved" (see comment with tre

[2015-08-23 15:16] ptakopysk opened #207 "Copulas in Czech"
Various things are marked as copulas in Czech. The prototypical copula is 'být', and there can be other verbs, but the non-být cases should really be looked upon, as many of them are e.g. nouns, etc.
https://lindat.mff.cuni.cz/services/pmltq/ud_cs/query
`a-node [deprel = 'cop', lemma != 'být']`

[2015-08-24 00:05] coltekin commented on #197
[small keyboard/screen: apologies for potential formatting errors/typos]

Although I had also been quite convinced that the voice suffixes should introduce new IGs (see for example [this comment](https://github.com/UniversalDependencies/docs/issues/125#issuecomment-112512320)), I do not think the current proposal is a "radical change". In fact, all grammars I am aware of define voice suffixes as "

[2015-08-25 14:21] msimi commented on #203
Hi Dan,

I read the [quite useful] document and tried to reduce the non-leaves ADP's present in the Italian treebank. We still have a few exceptions to the "rule" that ADP's should be leaves.
di_per_sé ed indipendentemente
"di_per_sé" is and adverbial locution and "indipendentemente" a conjoined adverb: this is dependent of "di".
A number of cases such as:
"a il di_là del muro" where "di_là" is an

[2015-08-28 12:19] gulsenceb commented on #125
The decision of what makes an IG and what is the best representation for these is still an open research topic for Turkic languages as may be seen from discussions in many issues. I believe that the Universal Dependency Scheme should be flexible in order to allow further research in this field. According to my experience both on manual annotation and statistical parsing stages, adding a new sub-wo

[2015-08-28 13:05] jnivre commented on #125
Thanks, Gülsen. We had a very good discussion about this in Uppsala on Sunday, and I am sure that we will be able to work something out. We also have the mechanism of layered features to handle cases where the same word encodes the same feature more than once.

[2015-08-29 12:47] dan-zeman commented on #203
Thanks, Maria. I think your non-leave examples are OK because they are a `mwe`. (Just the query I constructed is not sophisticated enough to eliminate multi-word expressions. But the query could be improved, too.)

At the end in Uppsala I was not in the group that discussed adpositions and I have to admit that I do not remember all their conclusions. But I think that the relation of a preposition

[2015-08-29 19:48] dan-zeman commented on #197
As I (a non-speaker of Turkish) see it, introducing new IGs (aka UD syntactic words) would help solve the problem but it would be a rather technical hack that at least @coltekin finds to poorly describe the inflectional nature of voice.

Well, here is another possible hack. Select one of the voices (perhaps the last one?) as the main one and create a new, language-specific feature for the rest. Us

[2015-08-29 20:00] dan-zeman commented on #197
Another comment I have involves the `Reflex` voice. The original idea in Interset was that the `Reflex` feature, now only used for pronouns, could also be used to mark reflexive verbs. But reflexive verbs in Indo-European languages could be quite different from Turkish. There usually is the reflexive pronoun anyway, either as a separate word, or as a clitic incorporated into the verb. (And we will

[2015-08-29 22:38] jonorthwash commented on #197
The Apertium Turkic group considers so-called "reflexive voice" in most Turkic languages, including Turkish, to be derivational.  It is not productive, and occurs only with a limited list of verbs.  Turkic languages, like many Indo-European languages, mostly use reflexive pronouns for real reflexive meanings.

[2015-08-29 22:41] jonorthwash commented on #197
As far as recursion, passive and causative are not infinitely recursable.  In principle I would say it is a recursive system (you create a new verb stem, and can start over from there), but like most recursive systems in language, if you get more than a few layers deep, people don't deal with it well—they don't produce such forms themselves, and they parse them only with difficulty.  That said, I

[2015-08-30 05:40] gulsenceb commented on #197
I agree with @jonorthwash's comments (both for the reflexive voice to be considered as a derivation and the recursion). The reciprocal voice may also be treated similarly.

Voice[addn] type of additions seems also ok to me.

[2015-08-30 06:56] jonorthwash commented on #197
I think there's a lot more variation in Turkic languages concerning reciprocal voice.  In Kyrgyz, I would say it's reasonably productive, but I don't know Turkish well enough to speak to its use there.  In Kyrgyz, it also has additional meanings, including that of cooperative voice.  So forms can be ambiguous (depending on the verb's semantics) between doing something for/to each other, doing some

[2015-08-30 22:44] coltekin commented on #197
**On productivity of reflexive and reciprocal suffixes**

I agree with the earlier comments that (for Turkish) the verbs that can be made reflexive and reciprocal are rather few, and if one choses to do so, it can be treated as non-productive derivation, and can even be listed in the lexicon.

However, even if they are "lexical features", they are still features.  I think there is a need for indic

[2015-08-31 20:23] nschneid commented on #206
I have found https://github.com/stanfordnlp/CoreNLP/blob/master/data/edu/stanford/nlp/upos/ENUniversalPOS.tsurgeon from the Stanford parser but am unfamiliar with the TSurgeon language. @sebschu, any advice?

[2015-09-02 23:00] sebschu commented on #206
Hi Nathan,

Yes, this is the script that we are using. We based these patterns on the UD converter patterns which have been refined over years and therefore some of them are a bit complex. But I'll try to explain which structures they match. The Tregex syntax is documented [here](http://nlp.stanford.edu/nlp/javadoc/javanlp/edu/stanford/nlp/trees/tregex/TregexPattern.html)  in case something remain

[2015-09-02 23:14] nschneid commented on #206
Thanks @sebschu. I see that the rule with forms of _get_ is commented out, though the documentation [here](http://universaldependencies.github.io/docs/en/pos/AUX_.html) says passive _get_ should be counted as `AUX`. Is the documentation page out of date?

[2015-09-03 12:59] dan-zeman commented on #197
There is no UD guideline that the features shall reflect the surface affixes (and some universal features do not map to any affix because they are lexical). This would be a language-specific decision. Non-agglutinating languages often use one affix to express several different features at once. But you may want to discuss this with the Finnish and Hungarian groups, maybe they had similar needs and

[2015-09-05 05:10] sebschu commented on #206
Yes, we only discussed this a few months ago and haven't updated the documentation since. If I recall correctly, we tag _get_ in  get + verb constructions with VERB and in get + adjective constructions with AUX.

[2015-09-05 10:54] nschneid commented on #206
Perhaps it should be the other way around? I looked through the Web Treebank for some get + `JJ` examples. Most can be paraphrased with _become_:
- gets busy: `(VBZ gets) (ADJP-PRD (JJ busy)))`
- getting infected
- got so incredibly offended at that statement
- getting older: `(VBG getting) (ADJP-PRD (JJR older)))`; getting a lot worse; get any better

There is also
- getting (ADJ-PRD (JJ close) (

[2015-09-06 01:58] sebschu commented on #206
I checked my notes again and I think you are right. I'll confirm that again at our next meeting (which probably won't be before the end of the month) but it does make a lot more sense if it is the other way round. Sorry for the confusion and I'll let you know after we discussed this.