[2017-07-21 14:27] msklvsk commented on #468
Thanks, Sylvain. We now finally know the proper term for it: a graft. In brat, we mark graft as a property of its head (to avoid multiplying :specific relations), and now wait for better times when there's an official UD inventory for it.
![image](https://user-images.githubusercontent.com/473012/28467327-3e301e52-6e38-11e7-9015-9364e497e347.png)

[2017-07-21 14:31] amir-zeldes commented on #454
I agree that relative clauses are probably present in just about any language in some form. The examples above aren't all missing from treebanks for the same reasons though:

  * `reparandum` and `goeswith` depend on whether dysfluencies/orthographic errors appear in the data, so this doesn't depend on the language so much as the underlying text type. Similarly `list` has to do with data from sour

[2017-07-21 14:40] msklvsk commented on #467
One could say that. I’m just reporting a place where annotators were unsure it’s legal (in case you consider this is worth mentioning in the docs for clarity).

[2017-07-21 14:43] martinpopel commented on #454
Yes, I agree with @amir-zeldes' analysis. I guess there are many treebanks where a deprel xy is missing rather for legacy reasons (semi-automatic conversion from older annotation, not enough time to re-annotate the whole data). But this was not my point (the data will never be perfect and I am OK with this).
I am not suggesting to make clf/compound/... language-specific. I am suggesting to documen

[2017-07-21 15:02] amir-zeldes commented on #454
Yes, agreed, in the case of `acl:relcl` it is definitely more of a universal relation. Maybe we should suggest a list of the subtypes that deserve general (non language specific) documentation. From the English subtypes I'd also nominate:

  * nmod:poss
  * cc:preconj

Both of these appear in many languages and especially the way that cc:preconj works should intuitively be standardized across lang

[2017-07-21 15:28] msklvsk commented on #473
But what about question/exclamation marks or ellipsis closing `parataxis` at the end of a sentence? Should it still belong to the global root or can we attach it to parataxis root if, for example, only parataxis clause is exlamated?

[2017-07-21 17:34] jnivre commented on #454
This is one of many things that we need to address when reworking the documentation.

[2017-07-21 21:09] dan-zeman commented on #454
Agreed that we need documentation for common types of relation subtypes.

I, too, think that `acl:relcl` is more universal than `clf`. What makes `clf` deserve its own top-level label is that it is not easy to come up with another universal relation (other than `dep`) of which it could be a subtype.

[2017-07-21 21:11] dan-zeman commented on #473
If it belongs to the parataxis, I would attach it to the head of the parataxis. I do not think we should attach something to the main predicate just because it is a particular symbol.

[2017-07-22 07:59] sylvainkahane commented on #468
Thanks Bohdan. I agree with you that the fact to be a graft id a property of the phrase itself and not of the relation between the phrase and its governor. So ok to indicate this in the description of the head of the phrase.

But the question of the relation between the graft and its governor remains. Here I have a general problem with UD. In many cases in UD, the choice of the relation is determi

[2017-07-22 08:45] sylvainkahane opened #477 "nmod:poss"
In issue #454, @amir-zeldes suggested that `nomod:poss` could be a universal relation. It is true that this relation is currently used in many treebanks for possessive pronouns.

[code]

Is it legitimate?

`nmod:poss`has been initially introduced for English. It "is used for a nominal modifier which occurs before its head in the specifier position used for ‘s possessives."

[code]
English has a pa

[2017-07-22 09:30] dan-zeman commented on #468
I would not use `parataxis` when the graft occupies the position of an adjective. (In general, I would avoid `parataxis` whenever possible.) I would use either `amod`, or `acl` (because it is a clause; although obviously this is also not the typical case of an `acl`).

As for _I bought uh I think it is called a dowel_: Although one could treat it analogically to the previous example and make "I th

[2017-07-22 09:44] dan-zeman commented on #477
I believe that possessive determiners should be attached jusing `det` or `det:poss` (used e.g. in Portuguese http://universaldependencies.org/pt/dep/det-poss.html or Italian http://universaldependencies.org/it/dep/det-poss.html) but not `nmod:poss`.

The issue is related to the long discussions we had about distinguishing `PRON` and `DET`, where possessives turned out to be a particularly hot topi

[2017-07-22 11:29] sylvainkahane commented on #468
We even have examples of clear grafts in the subject position in our corpus of Spoken French:

[code]
Note that even if the head of the graft is a verb, the graft works as a nominal phrase and I think that `nsubj`is the best choice: `nsubj(témoigne,disons)` = `nsubj(testifies,say)`

More problematic are examples introduced by a preposition:

[code]

Here I propose:

[code]

Of course the link `cas

[2017-07-22 12:09] msklvsk commented on #468
I would use `amod`, not `acl` because there's no `ncl`, only `nmod`: _my favorite episode of Better call Saul_. In general, I would use the same relations as if a graft was a single word of a usual POS for its context and export `Graft=Yes` in the MISC field. The only info left out would be that graft's dependents are not “inside” of it, but _it is a general property of dependency trees that phras

[2017-07-22 13:58] nschneid commented on #477
Is word order the crucial criterion here?

I find `nmod:poss` coherent for English s-genitives because then all case-marked nominals modifying nominals are some type of `nmod`. If we exclude from `nmod` any noun modifiers occurring to the left of the head, that would essentially mean `nmod` is for PP objects but not s-genitives.

I'm not sure how to handle possessive predicate nominals: *That is e

[2017-07-22 14:33] dan-zeman commented on #477
Word order is definitely not something you could apply cross-linguistically in a general definition of `nmod:poss`.

In _That is either mine or John's_, the possessive pronoun is the predicate and there is no room for `nmod:poss`:

nsubj(mine, That)
cop(mine, is)
conj(mine, John)

[2017-07-22 18:27] amir-zeldes commented on #477
It occurs to me that making a distinction `det:poss` versus `nmod:poss` might lead to different analyses of these Italian examples

[code]

That seems undesirable to me, but maybe someone working on Italian can chime in?

[2017-07-23 07:06] dan-zeman commented on #477
There is no universal requirement that a nominal has at most one `det` dependent. Italian uses `det` in both _mia nonna_ and _la mia pizza_ but there are different subtypes of `det`, so in _la mia pizza_, you would have

det(pizza, la)
det:poss(pizza, mia)

See http://hdl.handle.net/11346/PMLTQ-TVYF and http://hdl.handle.net/11346/PMLTQ-E04U for examples.

[2017-07-23 14:07] amir-zeldes commented on #477
I see, I hadn't realized that was their decision. I think some linguists will probably not like that, but I'm very agnostic about these things - if multiple dets work for what they want to do, that's fine by me.

I see they also have a predet type though for things like tutti, which in English is mainly motivated by not wanting a flat multi-det analysis.

[2017-07-23 20:53] gcelano commented on #477
I would expect to find Italian "mio" tagged as amod, in that it is morphosyntactically different from English "my". It looks like an undue interference of English classification.

[2017-07-24 19:58] dan-zeman commented on #477
The difference between `det` and `amod`, as I see it, is that the former is for dependent words POS-tagged `DET` and the latter for `ADJ`.

_Mio_ is a determiner rather than adjective because it expresses a reference (to the first person singular) rather than describes a quality. Otherwise, determiners are supposed to be morphosyntactically very much like adjectives (in the given language).

[2017-07-25 01:50] nschneid opened #478 "nmod:npmod and obl:npmod"
I figure it's worth reexamining [`nmod:npmod`](http://universaldependencies.org/docs/en/dep/nmod-npmod.html), which in v2 has split into `nmod:npmod` and `obl:npmod`.

Browsing the English corpus, I see the following:

__obl:npmod__ is used for:

* distance + cardinal direction: 50 <nummod km <obl:npmod west, a bit north
* duration + adjective: month <obl:npmod long, 3 years old
* duration + adver

[2017-07-25 02:15] nschneid commented on #478
This seems like an odd basis on which to lump phenomena together. I think we should consider the following groups:

1. compound involving a noun and a non-noun
   - can these just be `compound`?
2. duration/extent/cost + unit of measure, direction, or rate
   - something like `:unit` or `:scale`?
3. duration/extent/cost modifier of relation like "after", "ago", "away"
   - `(nmod|obl):adv`? `:dist

[2017-07-25 14:23] msklvsk opened #479 "Paired adverbial `cc`s in Slavic"
Czech, Ukrainian, Russian have this construction for _both A and B_: _jak A, tak i B_.
However, the annotation is inconsistent among the languages and inside Czech.
This is also about general problem of how much syntax should we put into morphology: should _jak_ become `CCONJ`?

![image](https://user-images.githubusercontent.com/473012/28575269-21682da4-7159-11e7-9768-3e1b80e0d5ae.png)

![image](h

[2017-07-25 19:02] dan-zeman commented on #479
I think the UPOS tags should be `ADV`. There are other examples of grammaticalized adverbs used as `cc` and I think the dependency label is sufficient to indicate the function. (There was a related discussion in #237 and although I tentatively voted there for tagging them `CONJ`, the position in the v2 guidelines is that POS tags should not be so much dependent on dependency relations in which the

[2017-07-25 20:39] ftyers opened #480 "Partitive with preposition in French (and other languages)"
French, and some other languages, use a preposition to make a partitive e.g. "je voudrais de l'eau" and not "je voudrais l'eau".

In the French treebank, this use of "de" seems to be annotated as a determiner(!!)

[code]

I looked in the French docs and there doesn't seem to be a description of this (e.g. no mention of "de" as a determiner in `DET.md` or `det.md`.

Would it be possible to document

[2017-07-25 20:44] dan-zeman commented on #480
Isn't it just a confusion with the determiner _des_?

The _de_ seems like `ADP` to me but I don't speak French. @mcdm?

[2017-07-25 21:22] sylvainkahane commented on #480
We are working on the guidelines for French, but we have now 6 UD treebanks for French  (including the French-Spoken coming soon) developped by at least 4 different teams. The treebank called just French (developped by Google) is the worst one and should not be taken as a reference (I already asked that its name be changed).

[2017-07-25 21:38] sylvainkahane commented on #480
The question of _de_ is very complex.
There exists a weak form of the determiner _des_ used only before an ADJ:

[code]
But _des_ itself is a portmanteau of  _de + les_ 'of + the'. And _des_ cannot occur after the preposition _de_:

[code]
This _de_ will be analyzed as an ADP but the determiner has disappeared and it could also be analyzed as a portmanteau 'de + des'.

The _de_ after a negation (_

[2017-07-25 22:14] ftyers commented on #480
Which treebank is the best one to use for reference ?

Incidentally in Basque the negative is analysed as `Case=Par|Definite=Ind` _Derbietan ez dago faboritorik_, and in Finnish as `Case=Par`, _Sisällissodan uhka ei ole pelkkää retoriikkaa._

In Basque, certain grammars like de Rijks (2008) describe -rik as being a partitive determiner along the lines of _-a_ and _bat_

Coming back to French, in t

[2017-07-25 22:45] dseddah commented on #480
Good question, I’d say the Sequoia one for its consistency (regardless of the MWEs which are still discussed a lot I’ve heard). it comes from the conversion from its native annotation scheme to UD2 by Bruno Guillaume.
The native scheme is the FTB dependency scheme  (Candito et al, 2010) + manual correction.
It will be available also in an extended version of the enhanced++ scheme super soon.

Whil

[2017-07-26 11:35] amir-zeldes commented on #477
I don't think that referentiality is generally used as a criterion for such distinctions, at least not in all languages. For example in German there is an adjective 'meinig' (mine-y), which can be used with a very similar possessive meaning to the possessive pronouns:

Das sind die Meinigen / meine  - those are mine (or 'the ones that are mine', the 'mine' ones)

I'm pretty sure these are tagged a

[2017-07-26 13:33] dan-zeman commented on #477
Agreed that _Meinigen_ in _die Meinigen_ are not `DET`, although I don't think they are `ADJ` either, I would tag them `NOUN`. But yes, there are possessive adjectives, even nonreferential ones (http://universaldependencies.org/cs/feat/Poss.html).

Morphological resemblance between `ADJ` and `DET` is actually expected.

I cannot quantify whether referentiality is used “generally enough;” languages

[2017-07-26 16:16] polm opened #481 "Clarification on Japanese POS Tag Mapping"
Hello; I'm looking at adding a mapping from Unidic POS tags to UD tags for [spaCy](https://github.com/explosion/spaCy) (explosion/spaCy#1214).

The [documentation](http://universaldependencies.org/ja/overview/morphology.html#morphology) describes the UD tags as being a mapping from Unidic tags, with some cases where the same Unidic tag can result in a different UD tag depending on the way the toke

[2017-07-26 19:14] nschneid opened #482 "WHAT-initial clauses"
As part of #454, it is difficult to tell what the conventions should be for initial clauses like these (including examples from the English treebank):

1. What was left in place was a...
<img width="1047" alt="image" src="https://user-images.githubusercontent.com/985263/28638844-2684fd74-7214-11e7-8e1a-be61b1743c6f.png">

2. What your morning paper did not tell you was...
<img width="1043" alt="im

[2017-07-26 20:15] amir-zeldes commented on #477
Yes, in my example above 'meinige' is nominalized, but that can happen to any German adjective. It's particularly common with 'meinige' because it's usually used contrastively: [your XYZ... as opposed to] den Meinigen. But it's not impossible to find cases modifying a noun, for example:

Jetzt schau mal, ob es mit den meinigen Einstellungen klappt
Now take a look whether it works with my settings

[2017-07-26 20:32] dan-zeman commented on #477
Yes, I guess we do agree on this :)
I would love to have a universally valid definition that, in German, would put _meine_ and _meinige_ on different sides of the line, but I don't think I have one.

[2017-07-27 01:53] arademaker commented on #477
@dan-zeman for the 3 cases in the http://universaldependencies.org/pt/dep/det-poss.html  two are very strange:

1. 'Nossa Senhora' is clear a name https://en.wikipedia.org/wiki/Mary,_mother_of_Jesus.
2. 'dela' (de+ela) is a contraction.

In the http://github.com/universaldependencies/UD_Portuguese we don't use `det:poss`. We have to investigate ... some cases are annotated as `nmod':

http://wnpt.

[2017-07-27 09:27] sylvainkahane commented on #477
POSs must be defined in syntactic grounds. What is universal is the fact that natural languages have POSs, that is, classes of words which have more or less the same syntactic properties (distribution, inflection, agreement, etc.).

In some languages nouns cannot easily be dependents of verbs without combining with another class of words:

[code]
Words of this class can have other properties that

[2017-07-27 12:56] sylvainkahane commented on #482
Your examples are free/fused "relative" clauses, that is "relative" clause where the antecedent is fused with relative pronoun. They must be definetely analyzed as phrases headed by WHAT. When they are subjects they must be analyzed as `nsubj` and when they are objects as `obj`:

[code]
I wouldn't have any sense to analyze this latter case as a `ccomp`, BUY can never have a `ccomp`.

[2017-07-27 14:34] nschneid commented on #482
@sylvainkahane are you saying that the tree for (1) is incorrect?

[2017-07-27 15:59] sylvainkahane commented on #482
Yes

[2017-07-28 12:05] amir-zeldes commented on #477
Agreed, thanks for those comparisons @sylvainkahane - I also think Italian belongs in the last class, with positionally distinct constructions. Whether or not one chooses two POS for words like mio based on the construction is currently a language specific decision, and I'm not sure if UD should be regulating it or not (this is maybe not a deciding factor, but often people like to be as isomorphic

[2017-07-28 16:33] gcelano commented on #477
I would argue that "mio" should get ADJ as a POS tag just because of its morphosyntax (although I think this is determined by the way it is conceptualized in Italian): you regularly found it associated with the definite article ("il"): "il mio libro" vs *the my book (and, conversely *mio libro vs my book). I take it as evidence that definiteness is included in "my" but not in "mio", whose morphosy

[2017-07-28 18:22] sylvainkahane commented on #477
We can add that ADJs are possible with proper nouns without DET (_poor John_, _little Bob_). And kinship names can be used without DET (_Father_, _Fratello_). So we could consider that even in _mio fratello_, _mio_ is ADJ.

It is also possible to use _mio_ after the noun: _fratello mio_. In this construction I think that _mio_ can really not be analyzed as a DET.

[2017-07-28 19:18] nschneid opened #483 "Attachment of "etc.""
In the English treebank it looks inconsistent: sometimes `advmod`, sometimes `conj`: [results](http://bionlp-www.utu.fi/dep_search/query?search=etc.&db=UD_English-v2&case_sensitive=True&hits_per_page=100)

Note that "X, Y, Z, etc." does not require a coordinating conjunction, but it nevertheless feels like coordination. So I lean toward `conj`.

[2017-07-29 04:20] kanayamah commented on #481
@polm, sorry, the conversion script from UniDic has not been shared yet because current UD_Japanese and UD_Japanese_KTC were generated in different ways even though the definition in the document is based on mapping from UniDic PoS schema.
As you pointed out, the PoS tag ``名詞-普通名詞-サ変可能`` (noun which can be used as a suru-verb) can be mapped to ``NOUN`` or ``VERB`` depending on its context.  Now I'

[2017-07-29 06:46] sylvainkahane commented on #483
Yes `conj`is the best solution. We analyze _et caetera_ 'and others' like _and things like that_, that is, the agglutination of a conjunct and a conjuction.

Such elements are called _lists completers_  (Jefferson 1990, Selting 2007).

[2017-07-29 10:11] sylvainkahane commented on #483
The most problematic thing is the POS. A word like _etc._ do not behave as any other word. In particular it does not behave as an ADV and can never be an adverbial modifier. We decided to give it the POS CCONJ because it can only appear in coordination and is the agglutination of a CCONJ and something else.

[2017-07-29 17:55] dseddah commented on #483
Hi Sylvain and all,

how should «et cætera » be analyzed (pos and dep), eg.   « Aux armes et cætera »  (To arms et cætera) ?

or etc in case of doubling ?

« I’m very annoying etc etc but  … » (https://twitter.com/rtnjeanne/status/891221385929949184 )
or in case like

« J’ai mangé, c’était bon etc etc mais c’était pas le problème »  (I’ve eaten, it was good etc etc but that wasn’t the point)

Best

[2017-07-29 20:20] sylvainkahane commented on #483
I would analyze all cases of _etc_ as CCONJ `conj`:

[code]

As your examples show, _etc_ is not restricted to lists of NPs. It can appear in coordination of every POS.

[2017-07-29 21:58] dseddah commented on #483
in  the second example  'etc etc’ I would have been inclined to consider it as a fixed expression with some discourse labels attached to annoying,
‘etc etc’ doesn’t have the same distribution as etc., which from a rapid check seems to occur after at least 2 phrases (would « I have apples, etc. for dinner » be acceptable? - in French, I’d say no. No idea for English).
enforcing them to be conjuncts

[2017-07-30 00:05] masayu-a commented on #481
The understanding of parts-of-speech (PoSs) in Japanese corpora can be split
into two philosophies: lexicon-based (語彙主義) and usage-based (用法主義). The
lexicon-based approach involves extracting all possible categories for one word
as labels.

BCCWJ(NINJAL word delimitation) standards have two morphological unit
layers.
'Short Unit Word' (SUW) is based on the lexicon-based philosophy.
A morphological

[2017-07-30 13:46] polm commented on #481
Thanks for the reply.

Even if it's not finalized it'd be great to have details on the mapping; I just sent a mail to the email on your profile. If it doesn't arrive for some reason please let me know.

[2017-08-02 11:01] ftyers opened #484 "todos/tous as subject or referring to the subject"
I'm looking at tous/todos, for example: "Salimos todos muy contentos" and "nous savons tous que ces tests ne sont pas encore au point sur le plan scientifique"

It sems to be done in different ways in different treebanks:

* In `UD_Spanish` it is `nsubj` where there is no explicit pronoun, although explicit pronoun is also possible: _**Nosotros salimos todos** con una bolsa para recoger los excrem

[2017-08-02 14:40] sebschu commented on #484
All these examples look like classic cases of quantifier stranding to me, so I actually think all of these analyses are wrong (except maybe the Spanish one). First, I think _tous/todos/tots_ should be tagged as `DET` instead of `PRON`.

Regarding the attachment and the relation, I'm also not sure. Looking at the English treebank, it seems like we are attaching _all_ to the noun using `det` if it a

[2017-08-02 15:34] dseddah commented on #484
Hi Sebastian,

why should « tous » be tagged the same everytime ?
 in the UD_FTB

in "Le bistouri semble être pour tous le remède miracle. »  (UD_FTB, sent_id: flmf7ad1co-370) (the bistoury seems to be for all the remedy  miracle/  the bistoury seems to be the miracle remedy for all)
tous is tagged as a PRON and it’s legit.

Here’s the POS  distribution of « tous »  in the UD_FTB (should check als

[2017-08-02 16:25] sebschu commented on #484
Sorry, I should have made this clearer. I meant in the quantifier stranding cases, _tout_ should be tagged as `DET`. But you are of course right that there are plenty of cases in which _tout_  should be tagged `PRON` or `ADV`.

[2017-08-02 16:26] ftyers commented on #484
I think the POS breakdown that @dseddah gave looks about right, but I'm not sure about the dependency labels, @dseddah do you know motivation for `iobj` ?

[2017-08-02 17:38] sylvainkahane commented on #484
This phenomenon is generally referenced as "quantifier floating".

About the POS, it is clear that it concerns PRON and not DET in French. For instance, French as the opposition between _chaque_ 'each_DET' and _chacun_ 'each_PRON' and only _chacun_ is possible:

[code]

About the relation, `iobj` does not make sense. If we do not introduce a special relation for this special construction, the best

[2017-08-02 18:09] amir-zeldes commented on #484
Just to add this to the mix: These are very common in Coptic and we have them as `advmod` before or after the verb. In fact, placement before the verb mainly occurs for left dislocated subjects, so it really seems like a variant with the same function:

The martyrs all, they did ...
The martyrs did all ...

By convention, we attach it to the NP in the first case, but in the second we attach it to

[2017-08-02 22:47] dseddah commented on #484
Actually I don’t. I suspect it’s an artefact of the automatic conversion from the native dependency format. So in anyway, totally fixable if it turns out wrong.

(5 mn later)

if you want to see where does the error come from, look a these exemple (paste the link to a browser to display the tree)

original phrase-based scheme ("tous" projects a NP-MOD)
http://talc2.loria.fr/OB2ksK5Tgk/?custom=5982

[2017-08-02 22:51] dseddah commented on #484
seems like the preferred analysis for a similar construction in english like (we all know)  is  det(all,we)  subj(we,know)
http://talc2.loria.fr/OB2ksK5Tgk/?custom=598256ced4cd6&corpus=UD_English-2.0

Djamé

[2017-08-11 13:54] vinbo8 opened #485 "Dislocation with determiners"
Marathi sentences often use what appears to be dislocation in narratives or formal text, but I'm not too sure whether the appropriate deprel in some of these instances is `dislocated` or `det`, particularly when they use determiners instead of pronouns. For instance:

_John hā bāget hotā_ `John.NOM this.MASC garden.LOC was` "John was in the garden" (this refers to John, not the garden).

or:

_Mul

[2017-08-12 20:07] MemduhG commented on #485
From what I understand the determiner is both in an abnormal place and has a different inflection than usual, and this serves some grammatical purpose. Please correct me if I am wrong.

Since this seems to appear more often in formal text, it seems to me that it isn't really similar to things where the `dislocated` relation would be used like "I ate it, the bread", which are grammatical oddities a

[2017-08-12 20:38] vinbo8 commented on #485
The determiner isn't in an "abnormal" place as such. For instance (with an intransitive verb because that's simpler),

_John hā jhoplā_ `John-NOM this-NOM slept` "John slept"

is not the same as

_Hā John jhoplā_ `This-NOM John-NOM slept` "This John slept"

There's also a clear syntactic difference between the two determiner positions, because you can have:

_John hyālā sāṃg_ `John-NOM this-DAT te

[2017-08-14 13:49] sylvainkahane commented on #485
I suppose that Marathi, as many other Indo-European languages, has words that can be both determiners and pronouns (cf. English _this, each, some, one_, …). It is traditional in European grammar to consider to different POSs, DET and PRON, for these words and UD has adopted this (debatable) tradition (See Hudson 2010 for pronouns as DET. See also Melcuk's paper on POS, where he proposes not to con

[2017-08-19 11:18] vinbo8 commented on #485
Okay, that looks good - analysing it as a pronoun rather than as a determiner (though the lines are honestly very blurry) makes this look more acceptable. Thanks!

[2017-08-19 11:18] #485 closed, assigned to nobody

[2017-08-23 13:54] vinbo8 opened #486 "Light verbs with copulas"
A light verb construction is typically a noun-verb or a particle-verb pair that functions as a verb; these are fairly widespread in the UD-Persian. UD-Persian marks the verb in a N-V pair as the head of a light verb construction. This is logical, but results in a few problems in UD-Marathi, where a few light verb pairs involve an auxiliary verb as the head. This leads to problems, for instance:

_

[2017-08-23 14:17] jnivre commented on #486
What is dodgy about 3? Many languages have verbs that do double duty as auxiliaries and main verbs, like "have" in English, for example. It is treated as AUX in (1) but VERB in (2-3), where three is a kind of light-verb construction.

(1) She has left.
(2) She has a problem.
(3) She has a smoke.

[2017-08-23 14:38] vinbo8 commented on #486
Sorry, I meant that it seems a bit dodgy in this context. I think the copula here is similar to an existential copula - this sentence would be something like "on me, information exists". Does it make sense to treat it as a main verb anyway?

[2017-08-23 14:59] jnivre commented on #486
I see. Existential verbs are sometimes treated as main verbs, even if they also have copula uses. I am not sure whether it makes sense here.

[2017-08-27 19:06] dan-zeman commented on #486
A side note: is it a good idea to tag _māhit_ as `PART`?

[2017-09-08 17:34] arademaker commented on #468
In Portuguese, we have cases where one or more sentences are quoted, a discourse being reproduced such as:

As we can see, we have 3 sentences inside the quotes. How to deal with such cases? If we choose to split them into 3 sentences, how to deal with the unbalanced quote symbols?

[2017-09-08 19:01] dan-zeman commented on #468
@arademaker : It's not specific to Portuguese, it occurs in other languages too. I think the common approach is to split on sentence boundary inside the quoted string. Each quotation mark stays in its own sentence and is attached to the head of the sentence (if the entire sentence lies between the quotes) or to the head of the quoted part (if there is just one such head) or to the head closest to

[2017-09-08 19:26] amir-zeldes commented on #468
I agree with @dan-zeman - this is almost exactly what we decided for the GUM corpus which we build at Georgetown, except we somewhat arbitrarily decided to do it only for > 2 reported sentences. If it's just 2 we used parataxis to convey that both were subordinate to the matrix verb, but I have no really good argument to defend the number (it was just fairly common at 2, and rare for 3+).

[2017-09-08 19:41] arademaker commented on #468
Thank you for the suggestions. We are thinking about using the misc field to somehow link the open/close quotation marks that end up in different sentences.

[2017-09-08 20:21] riyazbhat commented on #401
I was just looking at some CV patterns in code-mixed data that we have been annotating in UD for some time at IIITH. It seems, in case of ellipses light verbs are dropped instead of nominal host. So, if we treat light verb as the head, the arguments should be orphan, however, thats not the case if host is treated as head.

``mujhe nahi pata.``
``I-DAT not   know``
``I don't know.``

[2017-09-08 20:45] dan-zeman commented on #401
If my assumption is correct that the full version is _mujhe nahi pata hai_, then I think the verb _hai_ should be treated as copula and _pata_ should be the head anyway.

But it does not solve the more prototypical light verbs of course.

[2017-09-08 20:46] riyazbhat commented on #401
I don't think so. You can't explain dative case on First person pronoun, if you treat it as  a copular construction. ``pata hai`` would be a pysch-predicate here assigning dative case to its internal argument.

[2017-09-08 20:46] vinbo8 commented on #401
_hai_ would never be the head of the clause anyway, it would be a `cop`.

[2017-09-08 20:52] vinbo8 commented on #401
Oh no wait, sorry, you're right - these kinds of verbs are ones I've been having issues with in Marathi (#486) too.

[2017-09-08 20:55] riyazbhat commented on #401
We will be treating host nominals as head in elided constructions while light verbs in normal ones till we reach a crosslingual consensus.

[2017-09-08 20:58] vinbo8 commented on #486
I don't know whether _māhit_ as `PART` is a _good_ idea, but it never occurs outside this specific construct so I don't really have any other way to look at it. Perhaps `ADV`, seeing as it functions a bit adverbially?

[2017-09-08 21:10] riyazbhat commented on #486
Yes it does look similar to the Hindi one. I don't think these are copular. You have to treat these as pysh-predicates to explain dative case.

[2017-09-09 06:54] dan-zeman commented on #401
Isn't the pronoun an argument of _pata_ and isn't the dative required by _pata_?

[2017-09-09 07:06] dan-zeman commented on #486
@vinit-ivar : Would it be too off to tag _māhit_ as a special subtype of `ADJ`, perhaps with deficient paradigm? I have found a dictionary that classifies it as adjective: http://www.shabdkosh.com/mr/translate/%E0%A4%AE%E0%A4%BE%E0%A4%B9%E0%A5%80%E0%A4%A4/%E0%A4%AE%E0%A4%BE%E0%A4%B9%E0%A5%80%E0%A4%A4-meaning-in-English-Marathi

It seems more reasonable to me than `PART`.

[2017-09-09 07:08] riyazbhat commented on #401
Since pata is the true predicate like other host nominals in complex
predicates, it controls the argument structure and assigns case. So yes,
the pronoun is an argument of pata and will receive case from it.

On Sep 9, 2017 12:54 AM, "Dan Zeman" <notifications@github.com> wrote:

Isn't the pronoun an argument of *pata* and isn't the dative required by
*pata*?

—
You are receiving this because you

[2017-09-09 07:34] vinbo8 commented on #486
`ADJ` definitely sounds a bit off to me.. it can't really be used adjectivally except with the copula, like _māhit aslel(ā)_, where the entire construction functions as an adjective. _māhit_ by itself always occurs with the verb _asṇe_ or the negative verb _nāhī_. What justification would there be for having it marked `ADJ`?

[2017-09-09 07:59] dan-zeman commented on #486
Analogy with other languages where words used in similar constructions are adjectives or participles. (Or nouns, so `NOUN` might be another candidate.)

Assigning same labels to categories in different languages is largely about analogies anyway.

I suppose that _māhit_ is a representative of a larger class of words, right? We don't have a dedicated UPOS for this class and even if we decide that t

[2017-09-09 08:07] vinbo8 commented on #486
I'm not entirely sure that it is representative of a class - off the top of my head, no other word functions this way. `NOUN` definitely sounds better to me than `ADJ`, I had it initially glossed as `NOUN`, because it seemed like a non-standard form of `māhitī` "information".

I changed that when I realised there was no gender agreement there: _malā te māhit āhe_ `me-DAT that-NT māhit COP` "I know

[2017-09-09 08:50] dan-zeman commented on #486
Hmm, I thought that light-verb constructions are wide-spread in Indo-Aryan languages, that's why I supposed there would be a larger class of which _māhit_ would be a representative.

One possibility seems to be to say that _māhit_ is a special form of the noun _māhitī_, reserved for predicative use. Another possibility is to say that it is an adjective (or adverb, yes) derived from that noun and r

[2017-09-09 08:57] vinbo8 commented on #486
Light-verb constructions are widespread, but most of the "nouns" in LVCs can exist outside the constructions and are very clearly nouns. Adverb sounds like a better alternative to me, that'd let me neatly partition light verbs into nominal and adverbial ones.

Fair enough about the lack of gender agreement, that probably wasn't a good enough justification.

[2017-09-11 13:32] claudiafreitas opened #487 "proper nouns - flat, compound, coordination"
During the  annotation of the portuguese material, we had the following issues:

1. We are using _flat_ whenever we have a PERSON or PLACE name, no matter if it’s possible to recognize a trace of syntax/compositionality. For ex:
_Nelson Sargento_ (lit. Nelson Sergeant), a musician, got its name because he was a sergeant. But only Wikipedia knows it…
_Rio Negro_ (Black River) got its name because o

[2017-09-12 16:43] LarsAhrenberg opened #488 "Clausal dependents of adverbs"
I have a problem with clausal dependents of adverbs such as

English:  <i> now that I've got your attention I'd like to ... </i>
Swedish:  <i>nu när jag har er uppmärksamhet skulle jag vilja ...</i> lit. <i> now when I've got ... </i>

In UD_English the analysis is `ccomp(now,got)` but this doesn't fit the definition of `ccomp`as a core argument. For Swedish I'd prefer to use `advcl`: `advcl(nu,ha

[2017-09-12 19:06] amir-zeldes commented on #488
I feel like `advcl` is appropriate, otherwise maybe `acl`. Is it very different from:

_That time when you went to the party_

? I think this type of 'that' is more like 'when' than it is like 'which'.

[2017-09-13 06:49] hajimes opened #489 "Multiple nsubj on one verb?"
Short story:
Does the UD2 spec allow two `nsubj` on one verb, where one `nsubj` is subclassified into a language-specific feature like `nsubj:obl` (oblique-like nominal subject)?

e.g. (in the Ainu language),

[code]

Long story:
I have a problem regarding the annotation of the Ainu language (which were briefly discussed in my paper at the NoDaLiDa UD Workshop).

Ainu (and many languages outside E

[2017-09-13 07:02] sebschu commented on #489
I don't really know anything about Ainu, so I'm not sure if this would be a reasonable solution, but have you considered the [`dislocated`](http://universaldependencies.org/u/dep/dislocated.html) relation instead of `nsubj:obl`?

[2017-09-13 07:11] jnivre commented on #489
Yes, nsubj + dislocated is the way this is dealt with in other languages. For example, French:

Lui il arrive.
He (emph) he comes.

nsubj(arrive, il)
dislocated(arrive, lui)

Perhaps the facts in Ainu are different, but this would be my first suggestion.

[2017-09-13 08:05] hajimes commented on #489
Thank you very much for valuable suggestions.

The problem on this type of languages is that under some circumstances, secondary core arguments look like core arguments in major languages.

If we use `dislocated` (and its language-specific varints to retain meaningful semantics) for nominals and pronouns as suggested, we have

[code]

On the other hand, with my own proposal,

[code]

The two solut

[2017-09-13 08:54] ftyers commented on #489
In Chukchi (also polysynthetic), the agreement morphemes are bound morphemes (not clitics) and then pronouns are extremely rare.

I'd be curious about the reasoning for treating them as clitics (can they appear in full form unattached to the word (like "dámelo" "que me lo des") or do they attach phrasally "The king of Spain's". Do they always appear in the same place, and do they always attach to

[2017-09-13 10:12] jnivre commented on #489
Maybe I am missing something, but why can't you not simply have:

John kampi Mary kore
John book Mary give
"John gave Mary a book."

nsubj(kore, John)
obj(kore, book)
iobj(kore, Mary)
root(kore)

Compare French:

Jean parle
nsubj(parle, Jean)

il parle
nsubj(parle, il)

Jean il parle
nsubj(parle, il)
dislocated(parle, Jean)

It is only when we have two separate "realisations" of the argument (that

[2017-09-13 14:59] dan-zeman commented on #488
This problem is more general. I think we do not have guidelines (or at least have not stated them sufficently clearly and explicitly) for situations when the parent is neither predicate nor nominal. I have been struggling with `obl` vs. `nmod` in similar contexts.

I suspect that people lean towards the nominal vs. non-nominal division, i.e. `advcl` would be OK when the modified word is an adverb,

[2017-09-13 16:32] GPPassos commented on #488
Indeed, `advcl` documentation is restrictive to clauses modifying other clauses:

However, compare to `advmod`:

`advmod` is very permissive, allowing modification of other modifier words*.

Shouldn't the definition for `advcl` be relaxed in order to be more parallel to `advmod`? This would solve the problem, the difference between the two being if the dependent is a clause or a modifier word.

*A

[2017-09-13 16:57] amir-zeldes commented on #488
+1

[2017-09-13 17:41] hajimes commented on #489
@ftyers

Thank you for making issues clear and providing suggestions.

The story is actually very complicated. Among a set of 12 Ainu pronominal morphemes, 2 morphemes are clearly free morphemes, but other 10 morphemes are partly clitic-like but partly affix-like. Furthermore, the former are enclitics (or suffixes) but the latter are proclitics (or prefixes), so some Ainu linguists think they are

[2017-09-13 17:54] jnivre commented on #488
Yes, I think there are many definitions that need to reviewed. Unfortunately, work on the guidelines was stalled because of all the work that went into the CoNLL shared task and the porting of treebanks to v2. Improving the guidelines will be a top priority for the next period. More soon.

[2017-09-13 18:32] hajimes commented on #489
@jnivre

Thank you for your practical advice.

Typologically speaking, having two sets of arguments (affixes/clitics for obligatory true core arguments, nouns/pronouns for optional arguments) is a cross-linguistic phenomenon which can be seen in many languages, especially highly common in polysynthetic languages. Perhaps we might want to encode this typological fact. Or perhaps we might not, becau

[2017-09-13 18:47] jnivre commented on #489
What you suggest looks very reasonable to me. I think we need to review more systematically the different types of (multiple) realisation of arguments across languages and possibly revise our guidelines in the process. As you say, the motivation for UD is mostly practical, and we do not aspire to be a linguistic theory, but we also want to avoid to do things that do not make linguistic sense.

[2017-09-13 19:07] hajimes commented on #489
@sebschu @jnivre @ftyers
I'm sincerely thankful to your comments! I'll try to examine both the `dislocated` approach and the `aux` approach more carefully and rethink my annotation scheme whether they improve annotation consistency for Ainu.

[2017-09-13 20:36] sylvainkahane commented on #488
Same construction in French  (_Maintenant que vous êtes là, je voudrais vous dire que …_).
For me it's clear that it's a relative clause:

Adverbs such as _now_ are very close to temporal nouns and can be considered as temporal pronouns (Kahane S. (2010), Entre adverbes, noms et pronoms : le cas des modifieurs temporels, Actes de CMLF, La Nouvelle Orléans.):

Although the construction with _now_ i

[2017-09-14 00:10] nschneid commented on #488
I think "now that" + clause is a multiword expression/construction with a syntax similar to subordinator "so that" and meaning similar to subordinator "since". It can't be paraphrased as "currently that", nor is "yesterday that" or "soon that" possible. So I vote for `fixed(now, that)`, mirroring `fixed(so, that)`.

[2017-09-14 09:46] lauma opened #490 "Nominal predicates together with modality."
Hi!
Due to working with Latvian, we got a general question about UD - how it is ment to annotate sentences where predicate consists of a verb describing some kind of modality, a copula and a noun?
E.g., _es gribu būt skolotājs_ "I want to be a teacher".

If I understand correctly, in sentence _es esmu skolotājs_ "I am a teacher", the word "teacher" should be the root, but in the sentence _es gribu

[2017-09-14 09:54] ftyers commented on #490
If you are treating _gribu_ as a modal auxiliary, then it should probably be:

[code]

Otherwise, if you want to treat _gribu_ as a main verb with a non-verbal predicate complement:

[code]

[2017-09-14 09:54] dan-zeman commented on #490
@lauma : Since you say that _gribu_ is the root in _es gribu peldēt_ (I.e. it is not considered auxiliary in Latvian), the first solution is correct.

[2017-09-14 09:55] jnivre commented on #490
If "want" takes an xcomp in "I want to swim", then it also takes an xcomp in "I want to be a teacher", so the only difference is that the second xcomp has a noun as its head. However, it is important not to rely on translation to English, because languages may differ in this respect. So, for example, while English "want" takes an xcomp, the closest equivalent to "want" in Swedish behaves syntactic

[2017-09-14 12:11] lauma commented on #490
So, basically everything boils down to how we consider "gribēt" in Latvian. Currently it seems that modality for this verb in Latvian is mostly semantical feature, so we will stick to the solution with `xcomp`. Thanks for explaining this!

[2017-09-14 12:11] #490 closed, assigned to nobody

[2017-09-15 08:05] dan-zeman commented on #487
Ad 1: I tend to agree. _Nelson Sargento_ could be `flat` even if it weren't a surname. As for _Rio Negro_, these lexicalizations may work differently in different languages (or even phrase by phrase), but if you feel that the original _amod_ relation has disappeared, then I think it is OK to use `flat`.

Ad 2: I don't see why `compound` is better than following the UD guidelines and annotating the

[2017-09-15 12:55] arademaker commented on #487
@dan-zeman,  in the case 4, we agree with you. But it is interesting to highlight that in the singular form, the head of the flat structure should be the word `President` (since with `flat` all "subsequent words in the expression are attached to the first one", http://universaldependencies.org/u/dep/flat.html). In the plural form `Obama` is the head of the structure for UDPipe, trained with ud-eng

[2017-09-15 15:26] GPPassos commented on #487
Regarding 1, there are names of people and places with internal ADPs (such as _Chica da Silva_), and a previous issue shows there's still no standard about this yet: https://github.com/UniversalDependencies/docs/issues/400

About the general issue, while I do understand the point that usually people won't remember the origin of the name, I see three issues:

a) it's pretty suggestive and sounds a

[2017-09-15 16:20] sylvainkahane commented on #487
For our (Spoken) French treebank we were very unconfortable with `flat`, because `flat` is dedicated to headless constructions, but many constructions analyzed as `flat` in the guide are quite clearly headed in French. In French contrary to English, N1 is always the head in an N1 N2 constructions.

In consequence we decided not to use `flat` and to use `appos`. More exactly, `nmod:appos` because w

[2017-09-15 16:48] dseddah commented on #487
Hi Sylvain and all,
I agree that those kind of examples should also have named entities  labels. In the case of the French QuestionBank[1] we had  cases of question about movies  (with and without quotes, with and without capitals) like

1) Who directed Who Framed Roger Rabbit?
 with movie titles either in English or French which causes trouble because foreign titles would have FW pos tags and a f

[2017-09-15 20:02] dan-zeman commented on #487
We have stressed on many occasions that the UD guidelines and structural representation is not about named entities. If there is in the future a UD-based corpus with named entities, it will be an extension over UD (or a new version of UD guidelines). Some datasets still violate this perspective and have non-nominal words in multi-word entities tagged as PROPN, but it is an error.

I would be absol

[2017-09-18 18:21] jonorthwash commented on #488
I usually call adverbs with dependents adpositions.  Or perhaps [non-attributive and non-core-argument] adpositions are just adverbs that take dependents.

(This comment may seem a bit trollesque, but I'm happy to discuss my reasoning, at least as it relates to certain cases or languages.)

[2017-09-18 22:00] sylvainkahane commented on #488
@jonorthwash Yes ,adpositions are transitive adverbs (more or less said in Tesnière 1959 or Mel'cuk 1988). But some adverbs with a complement are not adpositions, if the complement is not direct (e.g. _according (to sth)_).

[2017-09-18 23:04] jonorthwash commented on #488
I don't totally understand the reasoning here. "according to" seems like more of a canonical adposition than, say, "focussing on" (potentially not the best example).

[2017-09-18 23:06] nschneid commented on #488
I don't have access to do a corpus search now, but isn't "according to" a
multiword expression (fixed)?

On Sep 18, 2017 7:04 PM, "Jonathan Washington" <notifications@github.com>
wrote:

[2017-09-19 00:24] jonorthwash commented on #488
I'm speaking more generally, not necessarily UD-specifically.

[2017-09-19 06:46] sylvainkahane commented on #488
@nschneid Two answers:

1) Even if you consider _according to_ as a MWE, you have to give a POS to _according_, which can never be ADP

2) that's really not the topic of this discussion, but I don't think that's a good idea to consider that _to_ is part of MWE. This _to_ is part of the sub-categorization (French _rection_) of _according_, exactly as _to_ is part of the sub-categorization of _talk_

[2017-09-19 13:35] amir-zeldes commented on #488
I'm not sure I follow what @jonorthwash is saying - is it the idea that every adverb that takes an argument is an adposition? I would think much like an adjective can take an argument, so can an adverb, and neither is necessarily an adposition as a result. I think it's easiest to look at deadjectival adverbs:

A similar idea to B is ...
amod(idea, similar)
obl(similar, B)

A works similarly to B
a

[2017-09-19 13:39] amir-zeldes commented on #488
@sylvainkahane about the current topic: I prefer `advcl` to `acl`, since I don't think it specifies a restrictive or non-restrictive relative clause:

"now that we know" != "that now which we know (and not other nows)"
"now that we know" != "a now, which we incidentally know"

I think `advcl` captures this paraphrase, which seems closer to intended reading:

"now, when we know, ..."

Do you feel t

[2017-09-19 22:52] nschneid opened #491 ""according to""
The English UD treebank is [not completely consistent](http://bionlp-www.utu.fi/dep_search/query?search=according&db=UD_English-v2&case_sensitive=True&hits_per_page=50).

- POS: It looks like the analysis is `VERB` for "according" and `ADP` for "to". Even though "according" is not exactly acting as a verb in this expression (it cannot have a subject, for example), `VERB` seems to be the best tag a

[2017-09-19 23:05] nschneid commented on #488
I see @amir-zeldes's point that the ordinary meaning of "now" is somewhat transparent with "now that". OTOH, it seems to me that "now that" has a causal meaning mixed in that is not normally present with "now". Consider:

- I think we should get a cat now that we have a larger apartment.

"When?" does not seem like the most pertinent way to question the "now that..." part of the sentence, but rath

[2017-09-21 20:52] nesor opened #492 "A treebank POS missing in the conversion table"
Hi,

There is DET in the Polish treebank, but I didn't find it in the pl::ipipan conversion table. There is also AUX in the Czech PDT treebank, but I didn't find it in the cs::pdt table. Is it because the tables are based on UD v1?

Thanks!

Alexandr

[2017-09-22 08:49] sylvainkahane commented on #491
_according_ is originally a gerundive form of a verb, which lexified as an adverb/preposition as other gerundive forms. When the verb is transitive,the gerundive becomes a preposition (_following_, _concerning_, etc.), when the complement is oblique, it becomes an adverb (_concerning_ (to)).

I think it doesn't really matter if _according_ is tagged `VERB`+VerbForm:Ger or `ADV`, because both have

[2017-09-22 09:18] sylvainkahane commented on #488
@amir-zeldes Yes the _that_-clause does a selection between all the possible _now_ s.

_now that you have finished your homework_ = 'many nows were possible and we are in a now in which you have finished your homework'

This is exactly what does a relative clause:

_the day you didn't finished your homework_ = 'many days are possible and I consider the day in which you didn't finished your homewor

[2017-09-22 10:52] hajimes opened #493 "XML or JSON for pos/features/deprels?"
Does the UD project provide the list of items under data serialization formats such as XML and JSON (other than  auto-generated `stats.xml` for each language)?

Something like:
[code]

[2017-09-22 11:43] martinpopel commented on #493
I am not aware of any XML/JSON with this info. You can create it from [the guidelines](http://universaldependencies.org/) and [lists of language-specific labels](https://github.com/UniversalDependencies/tools/tree/master/data).

[2017-09-22 13:16] #493 closed, assigned to nobody

[2017-09-22 13:41] dan-zeman commented on #492
No. While the conversion tables at http://universaldependencies.org/tagset-conversion/index.html are indeed v1 and need to be updated, this is rather related to the disclaimer at the top of that page. Neither `DET` in Polish nor `AUX` in Czech can be derived directly from the source tagset. The conversion procedure has to look at lists of lemmas and (in the latter case) at the tree structure to fi

[2017-09-22 13:41] #492 closed, assigned to dan-zeman

[2017-09-22 13:56] nesor commented on #492
Thanks, Dan! Are the conversion procedures available? Perhaps people could contribute and improve them.

[2017-09-22 14:32] dan-zeman commented on #492
Yes. They are implemented in Treex (http://ufal.mff.cuni.cz/treex), which is versioned on Github. Specifically, the PRON-DET decision for Polish is currently done here: https://github.com/ufal/treex/blob/master/lib/Treex/Block/HamleDT/PL/Harmonize.pm#L101-L193 and the VERB-AUX decision for Czech can be changed at multiple places, depending on whether it is an auxiliary verb in periphrastic verb fo

[2017-09-22 21:19] vinbo8 opened #494 "Infinitives vs. participles"
Whilst the docs do provide language specific examples of each, it isn't very clear to me how one might draw a line between the two cross-linguistically. Both appear to be usable in periphrastic verb forms, both are non-finite. It seems like the most "rigid" way to define an infinitive is its appearance as the citation form, which doesn't hold for Marathi - the citation form is a gerund, although (

[2017-09-22 22:23] jonorthwash commented on #494
@vinit-ivar It would help to have an example of what you're asking about.  And are you asking for morphological labels or dependency labels?

[2017-09-22 22:33] jonorthwash commented on #494
On a related note, "infinitives" in Turkic languages are almost always verbal nouns of one sort or another—the term basically just refers to whichever verbal noun is used as the preferred citation form.  In some languages, however (e.g., Tatar), there are other uses: I think the "infinitive" in Tatar is used in auxiliary constructions and as a verbal adjective, making it a traditional "converb" (t

[2017-09-22 22:39] jonorthwash commented on #494
As I see it, there are four primary types of non-finite verb forms / four primary ways that non-finite verbs can be used:
- verbal noun (taking `csubj`, `ccomp`, etc. as appropriate)
- verbal adjective (taking `acl`)
- verbal adverb (taking `advcl`)
- head of an auxiliary construction (taking whatever the main role is, with an `aux` dependent)

From what I'm seeing of your examples on IRC, this "i

[2017-09-22 22:42] vinbo8 commented on #494
Ah fair enough, my bad.

_mī baghū ṣakto_ `I see-??? can-PERF` "I can see"

is an example of the "infinitive". It'd have an `aux` relation with 'see' as the head - but would the morphology have `VerbForm=Inf` or `VerbForm=Part`?

[2017-09-22 23:32] hajimes commented on #493
@martinpopel
Thanks for your clear answer!

[2017-09-23 04:24] jonorthwash commented on #494
How is each of those terms defined, and how does each line up with the four types of non-finite verbs I listed?

[2017-09-23 05:07] sylvainkahane commented on #494
Jespersen, Tesnière or Melcuk consider 4 basic forms for the verb:

1. finite form when it is the head of a main sentence
2. infinitive when it commutes with nouns
3. participle when it commutes with adjectives
4. gerund when it commutes with adverbs

When the verb co-occurs with an auxiliary, it's generally not a finite form. For instance in English it is a participle with the copula (_is sleepin

[2017-09-23 08:41] dan-zeman commented on #494
As with POS, the names of the categories are used cross-linguistically but their definition is language-specific, and their properties overlap only partially across languages. AFAIK, in Indo-Aryan languages infinitives and verbal nouns are more or less the same category while e.g. in Slavic languages they are clearly distinct. As Sylvain says, participles are verbal adjectives; in languages like M

[2017-09-23 11:52] vinbo8 commented on #494
@jonorthwash - the third amongst those seems like `VerbForm=Conv` to me, which is how they are labelled in UD_Russian, AFAIK. On the other hand, Russian grammars refer to the same verb form as a gerund. The docs do say that `Ger` ought to be avoided, so unless I'm mistaken, the fourth class of verbs that @sylvainkahane mentioned are converbs in UD. The fourth is a bit murky - `VerbForm=Inf` is, ac

[2017-09-23 17:47] amir-zeldes commented on #488
@sylvainkahane yes, I'm also not happy with `mwe`, and I wouldn't think this is `ccomp` for the clause, since you can use now equally without the clause. The 'that' is not mandatory, you can omit it as in:

So now we have an idea about what love is , let 's think about things that we love . (UKWAC)

What I find more curious is that you can't use 'which':

`* Now which you've finished your homework

[2017-09-23 19:20] arademaker commented on #493
Hi @hajimes you may find some information at http://www.acoli.informatik.uni-frankfurt.de/resources/olia/. One of my students is working on UD 2.0 modeling, possible extending the ideas of olia for consistency checking.

[2017-09-24 11:01] dan-zeman commented on #494
Yes, the fourth form of @sylvainkahane should be labeled `VerbForm=Conv`.

`VerbForm=Inf` is not required to have an `aux` dependant. In Czech (and AFAIK all Slavic UD treebanks) modal verbs are not considered auxiliary (unlike in English), but they do subcategorize for an infinitive, i.e. the infinitive is their child node (`xcomp`) but it does not take any auxiliary. There are other verbs that a

[2017-09-24 15:15] vinbo8 commented on #494
I'd also prefer labeling the -ना/णे forms `VerbForm=Inf`. For reference, this is all Masica has to say about it:

M. a separate form in -u-, despite its similarity to the Hindi form) has no such
identity problems: its functions are purely nominal.

For now, I'll gloss both of them as infinitives. I can't, off the top of my head, think of anything that differentiates the Marathi _-u_ (in this const

[2017-09-27 04:49] hajimes commented on #493
@arademaker
Thank you for introducing interesting work. I found several xml/owl files for UD 1.3 at the web site. Linguistic infrastructures based on ontological modeling sound promising and I hope UD 2.0 version will come soon.

[2017-10-02 14:09] myavrum opened #495 "language-specific features of definiteness"
Dear colleagues,

while trying to set the POS tags of Nouns, we had a question: how is it preferable to describe some inflectional features in UD standards, to introduce language-specific features or to apply the lexical feature PronType to nouns?

after some discussions, maybe its preferable to introduce language-specific features to Definite: definiteness or actualization, with the values - def:

[2017-10-02 14:20] MemduhG commented on #495
As far as I understand the `PronType` should be kept to pronouns. As for definiteness there are already features like `Definite=Def` or `Definite=Ind`.

For the issue of possessives, in Turkish we also use layered features, so there would be both  `Person` and `Number` features as well as `Person[psor]` and `Number[psor]` features, so I think it would be at least consistent to do something in line

[2017-10-02 14:23] ftyers commented on #495
This is also what is done in Kazakh and Finnish and other Turkic and Uralic languages which have morphological possession. Would you be able to give some examples of full sentences for each of the functions you describe ? I would also not recommend the use of `PronType` on nouns.

[2017-10-02 14:28] jnivre commented on #495
I would strongly advise against letting things like Poss and Dem be values of Definite. For Poss, there is a separate feature (Poss=Yes) that should be used instead. For Dem there is PronType, which we used to think of as reserved for pronouns and determiners, but if these things are really encoded by inflections on the noun we have to extend its use. This, however, raises the question of whether

[2017-10-02 14:30] ftyers commented on #495
Regarding examples like:
[code]
It would be morphologically possible to annotate this the same as "I read my book", and then use a different syntactic relation to show that this is an `as` adverbial.

[2017-10-02 14:56] ftyers commented on #495
How about something like this for the Armenian noun paradigm:

[code]
It would also be possible to have `Definite=Ind` for all those where there is no explicit definiteness marker.

Also, are there any forms missing ? (I got the inflection table from Wiktionary)

[2017-10-04 20:02] dan-zeman commented on #495
I agree with @jnivre that `Definite=Psor`, `Definite=Dem`, `Definite=Prsor` etc. seem like a bad idea. If all the possessed, demonstrative and personalized nouns are definite at the same time, then the feature should be `Definite=Def`. (Or you may decide to omit it completely because the possessive features will be there anyway and will be understood as entailing definiteness.) Also `PronType` for

[2017-10-09 12:17] myavrum commented on #495
@dan-zeman, yes, morphologically, without the context (only the morphs) it is not possible to distinguish the 1st person possessive suffix (my student), 1st person personal suffix (I the student) and demonstrative suffix (this student), except the cases when we have the so called double plural with the possesive suffix (šorners - our dresses, šorers - my dresses). double plural is possible only wi

[2017-10-10 08:29] mcandito commented on #476
I fully agree with this proposal: syntactic handling of optional secondary predicates, and recovering the semantic link in enhanced dependencies
Marie

[2017-10-10 08:43] jnivre commented on #476
I find this argumentation convincing as well. This should definitely be taken into account when working out the new and improved guidelines. I am not sure whether we should set up a working group specifically for secondary predication, or whether it can be subsumed under some other topic. I will add a note to the "brainstorming page" for now. (See my email on the UD list two days ago.)

[2017-10-10 14:24] amir-zeldes commented on #476
+1
And I believe this is also the way the Stanford Dependencies handled adverbial `vmod`, so others have found such an analysis sensible before.

[2017-10-10 15:37] jnivre commented on #476
I think it would be very useful to have a working group looking at this in the larger context of non-finite modification (and complementation). Examples like:

she entered the room sad
she entered the room crying
she entered the room holding a handkerchief
she entered the room (with) a handkerchief in her hand

[2017-10-16 03:09] nschneid opened #496 "Multiword preposition "next to""
Structurally, both words are attached to the noun object as `case`. But the POS tag of "next" is inconsistent: sometimes `ADV`, sometimes `ADP`.

(Related to #491)

[2017-10-16 05:11] kimgerdes commented on #496
This is an important question because the problem of complex prepositions causes inconsistencies inside many treebanks and across languages. One of the recently projected tasks is to come up with functional and consistent annotation guidelines for these cases.

The first question is the distinction of function and content words. You say that "Structurally, both words are attached to the noun" and

[2017-10-16 09:34] jnivre commented on #496
I created a page for this: http://universaldependencies.org/workgroups/. The idea is that different working groups can create their own subpage (there are currently two, one for MWEs and one for enhanced dependencies). Feel free to create new subpages (unless you think this belongs under MWEs).

[2017-10-17 05:46] Oneplus opened #497 "Copula in Chinese"
Hi all,

We've been working on creating a UD treebank of simplified Chinese. We found that the part-of-speech of `是` (shi4) was annotated differently between UD_Chinese and UD_Chinese-CFL. It seems in UD_Chinese-CFL which, we believe, was more recently created and more consistent with the guidelines. `是` (shi4) was annotated as `VERB` when either it's used as a copula or not. However, the UD_Chine

[2017-10-17 07:34] jnivre commented on #497
Great to hear that there is more interest in developing Chinese treebanks in UD. You are quite right about the relation between UD_Chinese-CFL and UD_Chinese. The latter has unfortunately not been maintained actively since it was first created by Google.

Regarding your other question, I think @ermanh should be able to answer. It sounds like a "bug" to me, since the "cop" relation requires the "AU

[2017-10-19 10:08] vinbo8 opened #498 "Leaving out inflectional information"
Is it acceptable to leave out inflectional information when it clearly does not reflect morphologically in certain instances? Eg. Indo-Aryan adjectives typically do not agree with anything in the oblique case. Is it a better idea to add contextual gender/number/person or just leave all of them out if the adjective is in the oblique?

[2017-10-19 11:34] jnivre commented on #498
I don't think we have a clear policy on this, and I therefore suspect that different treebanks have different practices, but I would say it is okay to leave them out.

[2017-10-19 13:50] ermanh commented on #497
Thanks @jnivre, and hi again @Oneplus, yes, this is a known discrepancy between the overall UD guidelines vs. the UD Chinese guidelines that we wrote up regarding the copular usage of 是. Part of it is my fault for not noticing the discrepancy while adapting v2, but part of it was also a decision to keep a unified POS tag for the verb regardless of its many uses, which we unfortunately didn't have

[2017-10-19 14:09] martinpopel commented on #497
[Yes](https://github.com/udapi/udapi-python/blob/3fe163a4c0feb5e844e325024b5f6e6da66c5764/udapi/block/ud/convert1to2.py#L113-L116)

[2017-10-19 14:14] Oneplus commented on #497
@ermanh Thank you for the clarification. I believe `AUX` is the better tag.

[2017-10-19 16:03] xsway opened #499 "Morphological features in English"
I guess it's rather an improvement plea than a question. As I understood from the documentation, morphological features in English treebanks were added automatically and consequently they are quite sparse and incomplete.

I found, for example, that only singular forms of verbs/auxiliaries are annotated with the number feature (`Number=Sing`) but not the plural ones.

It would be great to see some

[2017-10-19 19:16] jnivre commented on #497
Whether or not it is the better tag, it is the one required by the guidelines. :)

[2017-10-19 21:28] dan-zeman commented on #498
I agree with @jnivre that this is not standardized (and not easily standardizable). I think the features should in the first place describe the word itself. If it is an adjective and if adjectives do not inflect for person (which, I believe, is the case not only in Indo-Aryan but in many other languages), then there is no reason to include the feature, regardless whether the case is oblique or not

[2017-10-20 00:20] Oneplus commented on #497
@jnivre Sure, we will adopt the `AUX`.

[2017-10-20 00:20] #497 closed, assigned to nobody

[2017-10-20 08:33] sylvainkahane commented on #498
If the lexeme can have different forms in a given language, I cannot guess what is the form that is used in positions where the agreement is blocked. So I think the features concerning the whole paradigm of the lexeme are needed in every position. And/or maybe an additional feature is needed to say that the agreement is blocked in this position and the default form is used.

[2017-10-20 08:44] ftyers commented on #498
My opinion is that the analysis/features should give enough information to correctly produce the surface form (ideally unambiguously -- but some of the extra information, e.g. paradigm for words that have ambiguous lemmas --- e.g. _lie_ --- could be in the `MISC` column)

[2017-10-20 13:33] vinbo8 commented on #498
Having `Case=Obl` is enough morphological information to generate the surface form, so that's probably what I'll do for now. @sylvainkahane, I don't think I understand what you mean by not being able to guess what the form is - could you elaborate?

[2017-10-21 08:09] sylvainkahane commented on #498
@vinit-ivar If you have only one form with `Case=Obl`, it's ok, you can guess what the form is knowing the lemma and the morphosyntactic features. Same recommendation than @ftyers.

[2017-10-22 02:35] Oneplus commented on #426
Hi @ermanh, I went through the UD_Chinese-CFL dataset and didn't found an example of the suffix (`k` category). I believe it's because UD_Chinese-CFL follows the CTB segmentation standard. Well, for other standards, like that for CDT and sinica dataset, suffix (or decorator) is treated as a single word. So what's the UD suggestion on their POS tags? It seems UD guideline didn't document this.

I t

[2017-10-22 08:48] ermanh commented on #426
@Oneplus, yes, UD_Chinese-CFL currently follows the [CTB segmentation guidelines](http://repository.upenn.edu/cgi/viewcontent.cgi?article=1038&context=ircs_reports), which does not seem to recommend tokenizing the so-called "suffix" (k) or "prefix" (h) categories apart in many cases.  As for the Chinese UD guidelines, tokenization is described [here](http://universaldependencies.org/zh/overview/to

[2017-10-22 19:23] CatalinaMaranduc opened #500 "coordinating conjonctions between sentences - discourse"
In the Gospels of 1648 there are many sentences that begin with a coordinating conjunction that establishes a relationship with the previous sentences.
I have noticed that in the Romanian treebank in UD similar cases are considered the root of the sentences and the true nucleus of the sentence is subordinated to them and has the relation ”discourse”.
Ex:
sent_id = train-2964
4      dar	dar	CCONJ	C

[2017-10-23 07:06] jnivre commented on #500
The verb should definitely be the root here, but the relation to the initial conjunction should normally be cc, not discourse. See: http://universaldependencies.org/u/dep/cc.html

[2017-10-23 10:02] CatalinaMaranduc commented on #500
ok

On Mon, Oct 23, 2017 at 10:06 AM, Joakim Nivre <notifications@github.com>
wrote:

[2017-10-23 11:02] CatalinaMaranduc commented on #500
But if the first word is a subordinating conjunction, it should be
annotated as ”mark”, it is not a ”cc” ?

On Mon, Oct 23, 2017 at 1:02 PM, Catalina Maranduc <
catalinamaranduc@gmail.com> wrote:

[2017-10-23 11:11] dan-zeman commented on #500
@CatalinaMaranduc : Yes, I think it should.

[2017-10-23 11:13] CatalinaMaranduc commented on #500
ok, thank you.

[2017-10-23 11:13] #500 closed, assigned to nobody

[2017-10-27 04:58] nschneid opened #501 ""Fort Smith", "Lake Superior", "Mount Fuji": flat or compound?"
For named entities with a descriptive term at the beginning like “Fort Smith”, it’s not clear to me how to decide between [`flat`](http://universaldependencies.org/u/dep/flat.html) and [`compound`](http://universaldependencies.org/u/dep/compound.html). The UD_English corpus has just 3 tokens of “Fort” and it’s always attached as `compound`. Same for “Lake Superior” and “Mount Fuji”.

The use of `c

[2017-10-29 18:42] manning commented on #501
I agree that we would be helped greatly by having conventions for things like this described in the docs.

I suspect that you should discount what is currently in UD_English, since the reality is that it was treebanked in a mixture of UD beta and UD v1, when flat did not exist, and despite attempts to update things, I think the choice here clearly reflects the UD v1 reality not careful thought.

M

[2017-10-29 20:13] sylvainkahane commented on #501
@nschneid you said "“Fort Smith” is a kind of fort, so it would be nice to have “Fort” as the head. Perhaps this is an argument in favor of `flat`.", which sounds strange for me, because `flat` is for headless constructions.

If you want to have "Fort" at the head you should use `compound` or `appos`. The question is internal to English. English has a productive compound construction N2 N1 (with N

[2017-10-30 02:28] Oneplus commented on #483
Hi @nschneid, so what's the conclusion? Should `etc.` be analyzed as `advmod` or `conj`?

Hi @ermanh , it seems Chinese guideline suggest to tag Chinese etc. marker -- `等` as a particle (PART). Should we update the guideline to make it more consistent with similar cases in English?

[2017-10-30 03:02] nschneid commented on #483
I think it is syntactically valid to say *I'll have fish etc. for dinner* (in a context where other items can be inferred from the explicit one). Perhaps there is a menu item with a long description, and *fish* is sufficient to identify it uniquely, so the *etc.* indicates everything else that comes with fish.

I take it the conclusion is `CCONJ` as the POS and `conj` as the relation for *etc.*, a

[2017-10-30 09:02] Oneplus commented on #483
@nschneid Great, thanks!

[2017-10-30 14:43] amir-zeldes commented on #501
I'm with @nschneid in wanting 'fort' and 'river' as the head, and with @sylvainkahane in thinking this speaks against `flat`. My worry is this, and I'm sure I'm repeating other here: We're trying to make syntactic annotation guidelines based on whether or not we think it's a named entity. But in my view that's not the job of treebanks, but of NER annotations.

To me `flat` means 'we can't figure o

[2017-10-30 15:08] nschneid commented on #501
What I think is really going on here is that speakers have fairly specific constructions for certain kinds of NEs. They know that it is "Fort \_" but "\_ River". Yet we can identify heads based on the semantics. So how about:

compound:name(Fort, Smith)
compound:name(River, Mississippi)

This could give the best of both worlds: the headedness coming from `compound` and the fact that these are idio

[2017-10-30 15:43] dan-zeman commented on #501
@manning Agreed with what you say about "people in Prague" :) although I don't know how large a proportion I represent; anyway, I would love to see a doc page devoted in depth to this, and taking a perspective of many languages. It's true that morphology in some languages speaks against a `flat` analysis where English seems "flatter". But in general I tend to agree with @amir-zeldes 's comment tha

[2017-11-01 11:52] wongtaksum commented on #497
Guys, thank you for your contributions!
So, according to the guideline, every copula uses AUX with cop?  If so, I will update the data tomorrow.

[2017-11-01 12:02] jnivre commented on #497
Yep!

[2017-11-07 21:22] sylvainkahane opened #503 "le président Macron and President Trump: flat?"
in discussion #501 we concluded that English has two constructions N N:

- N2 N1 for _pizza boy_ or _Michigan Lake_
- N1 N2 for _Fort Alamo_ or _Mount Rushmore_

And that both constructions could be analyzed with `compound(N1,N2)`.

My first question is: why this analyses does not apply to _President Trump_? Do you really think that _President Trump_ is headless? (I mean the expression, not the re

[2017-11-07 22:40] dan-zeman commented on #503
I do not see it as a problem if two expressions with the same meaning have different analyses in two languages. If there are grammatical clues in one language that are not so obvious (or non-existent) in the other language then perhaps we can say that the two languages use different strategiees to encode the same construction.

[2017-11-08 02:10] nschneid commented on #503
I think occupational titles like *President*, *King* fall somewhere between person-honorifics like *Mr.* and location-types like *Fort*. I would definitely not want to say that *Mr.* is a head, because *Mr.* must always precede a name.

[2017-11-08 02:17] nschneid commented on #501
It occurs to me that it is usually *the Mississippi River*, with a determiner, unlike *Fort Smith* (type on left) or *New York City* (type on the right). Is this relevant to deciding between `compound` and `flat`? If so, would this criterion extend to other languages? I know there are idiosyncrasies in the use of determiners with names—e.g. in English, most countries do not except *The Netherlands

[2017-11-08 07:45] XinyingChen commented on #503
It is not that straightforward in Chinese...

I agree that intuitively President somehow feels like Mr., however, in
Chinese (with relatively fix word order), we can only put Mr. behind a name
while President can fall behind as well as infront of a name. So they are
not really equivalent in those structures.

Meanwhile, it can be a problem for using flat to annotate *President Trump*,
since it mea

[2017-11-08 07:50] jnivre commented on #503
The thing about "flat" is that you have to remember that it literally means what it says, that is, that none of the elements is (a clearly discernible head). So, if there is variation between X Y and Y X, but there is no clear indication that either X or Y is the head, then think of the flat annotation as just a bracketing [X Y] and [Y X], not as structures with different heads X -> Y and Y -> X.

[2017-11-08 08:07] sylvainkahane commented on #503
I agree with @dan-zeman that we can have different analyses in different languages. The universal part of the guide must be very clear about that. Because most examples are in English, it is not always clear whether the examples that are given concern a specific construction of English or a universal recommendation. It is the case with the [flat page](http://universaldependencies.org/u/dep/flat.ht

[2017-11-08 08:10] jnivre commented on #503
I also agree with @sylvainkahane and @dan-zeman. This is one of the aspects of the documentation that needs to be improved. We will start this work for real once we are done with release v2.1.

[2017-11-08 11:39] arademaker commented on #501
@manning, how do you prefer to analyse these cases of `Ludwig van Beethoven` and `Río de la Plata`?

@amir-zeldes I believe the problem is that different annotators would probably analyze in different way, making it difficult to obtain a consistent treebank.

[2017-11-08 12:38] sylvainkahane commented on #501
@arademaker in which language? I think that _Rio de la Plata_ can have different analyses in Spanish, in languages related to Spanish (like French where _de_ and _la_ exist) and in an unrelated language where this name is used. For English, I think persons in charge must decide whether it is transparent or not for an average speaker.

Same remarks about your second remark to @amir-zeldes. The prob

[2017-11-08 17:51] amir-zeldes commented on #501
I agree with @sylvainkahane , and would like to add that the problem @arademaker mentioned is true and important to deal with, but it is not solved by using `flat`, since annotators can disagree about whether or not `flat` applies. Either way, clear guidelines are needed, and these depend to some extent on the applications we have in mind.

Maybe my view is skewed since I'm interested in entities:

[2017-11-10 05:04] wongtaksum commented on #483
What do you think is the best way to tag 等 in the Chinese treebank?

[2017-11-13 08:57] evelinacs opened #504 "relation subtype descriptions are not available"
Visiting any of the links on the language-specific relations page (http://universaldependencies.org/ext-dep-index.html) results in a 404 http error.

[2017-11-13 08:59] jnivre commented on #504
Thanks for reporting this. We'll look into it. As announced on the UD mailing list, we are in the process of reorganising the entire documentation. Bear with us. :)

[2017-11-13 09:54] CatalinaMaranduc commented on #504
I will use the universally specific UD relationship that the other treebank
uses for Romanian.
I just notice that advcl:tmod is no longer used, it has been replaced by
advcl:tcl and has not been deleted from the list.
Also note the absence of nsubj:pass in the list, used in the two Romanian
treebanks.

Cătălina Mărănduc

On Mon, Nov 13, 2017 at 10:57 AM, evelinacs <notifications@github.com>
wrote:

[2017-11-13 10:13] perrier54 commented on #210
The conclusion of the discussion is that the syntactic relation between the day and the month is language specific: in some languages, the day is the head and other languages, the month is the head. I disagree with this conclusion and I believe that the day as head of a date is a universal property. The philosophy of Universal Dependencies is that the syntactic annotation must be as closed as poss

[2017-11-13 10:15] jnivre commented on #504
This page has not been updated to v2 and will probably be replaced by a completely different structure eventually. Sorry for the inconvenience.

[2017-11-13 12:20] jnivre commented on #210
I don't agree that UD annotation must be as close as possible to semantics. In cases of syntactic alternations at the clause level, for example, we consistently follow morphosyntax, not semantics. We treat "the window" as a subject in "the window broke" but as an object in "John broke the window" despite the fact that it has the same semantic role in both cases. The same holds across languages. If

[2017-11-13 12:21] jnivre commented on #210
I suggest that the treatment of dates can be handled by the working group on MWEs, where complex names should also be discussed.

[2017-11-13 15:32] sylvainkahane commented on #210
It seems that during the discussion about dates the question of the POS of day and year numbers was not treated. In French these numbers behave like nouns. The day number cannot be used without a determiner or day name: _Je viendrai le 13 / lundi 13 / le lundi 13 / *13_ 'I will come the 13 / Monday 13 / the Monday 13 / *13'. The year number behaves like a month name: _Je viendrais en 2017 / en nov

[2017-11-13 16:23] jnivre commented on #210
POSTAGs were discussed at the beginning of the thread, where it was noticed that there was some inconsistency w.r.t. the use of NOUN or PROPN for month names, for example. But we probably need to revisit it.

[2017-11-13 17:26] CatalinaMaranduc commented on #210
In Romanian, the month names are written in lower case and considered
nouns. there are differences between languages.

On Mon, Nov 13, 2017 at 6:23 PM, Joakim Nivre <notifications@github.com>
wrote:

[2017-11-13 22:28] amir-zeldes commented on #210
I'm all for making the day head in English, and I agree with @perrier54 that the semantics is not negligible. Especially if multiple syntactic interpretations are possible, I would prefer for the day to be head, since the entire date is a kind of day.

For English, I think such an analysis is possible for various constructions:
  * Monday, May 3 - this is an apposition, so it would be convenient i

[2017-11-14 09:51] prokopidis opened #505 "Ellipsis in relative clauses"
Hi,

The guidelines for ellipsis focus on constructions that involve some type of coordination. In Greek (and, I believe, in other languages as well) there are constructions that could be seen as relative clauses with an elided predicate:

[code]

[code]

[code]

In the examples above, a variation with a coordinating conjuction is often used:

[code]

Example 3 is a variation of one of the English

[2017-11-14 10:12] jnivre commented on #505
We had a discussion in another thread about whether gapping is possible in comparative constructions, and it seemed to be in some languages but not in others (perhaps). So I suppose the same could be true of relative clauses. The question is whether they can all be expanded to full relative clauses, which would increase the plausibility of the analysis.

[2017-11-14 11:38] prokopidis commented on #505
Thank you. In the second of the examples above, the most obvious way to construct a full relative clause would be to repeat the verb of the main clause. But such a sentence would never be observed in actual texts.

[2017-11-14 17:10] sebschu commented on #505
Gapping is definitely possible in relative clauses in some languages (for example, in Dutch, see example (17) in our [UDW paper](https://nlp.stanford.edu/~sebschu/pubs/schuster-lamm-manning-udw2017.pdf)).

But I'm also not sure whether these are really examples of gapping. In the English translation of example (3), "many of whom" would be the subject of an elided "left" and "for good" an oblique m

[2017-11-14 17:35] sylvainkahane commented on #505
One of the constructions is possible in French:

The ellipsis analysis has only a diachronic value. Today it is quite fixed and _parmi lesquel(le)s_ works as _including_ in English.

[2017-11-14 17:41] dan-zeman opened #506 "Guidelines for train-dev-test data splits"
We need better guidelines for data splits. We have previously issued some recommendations, most notably in connection with the CoNLL 2017 shared task, but these were too much focused on the task (and were changed on the fly).

I have created a proposal at http://universaldependencies.org/workgroups/split.html and would like to collect feedback here so that we can provide better guidance in the doc

[2017-11-14 20:29] prokopidis commented on #505
It is possible to "reconstruct" the relative clauses with overt predicates that have roles for "among which" and "Sifnos" for all examples:

[code]

[code]

But example 1 is very formal and rare compared to the construction without the predicate. On the other hand, the repetition of the verb in example 2 would not be actually observed in real life, which I guess is needed for the expansion criteri

[2017-11-14 20:34] jnivre commented on #505
At least one of them seem to parallel to the French example brought up by @sylvainkahane, so it would be interesting to hear how it is analysed in French.

[2017-11-15 11:30] dan-zeman commented on #505
I don't think it is needed. Or at least there is some flexibility (is it still just highly improbable, or is it already ungrammatical?)

[2017-11-15 12:31] perrier54 commented on #484
When « tous » is a modifier of a verb, it is an adjective according to Grevisse. Therefore, the dependency of the adjective “tous” on the verb must be labelled ADVCL, because an adjective that is a verb complement is considered as a predicate in UD. In the following examples, the dependencies of “tous” and “seuls” must be labelled in the same way ADVCL.
Ils viennent tous (they all are coming)
Ils

[2017-11-15 12:51] jnivre commented on #484
In general, I think the use of "advmod" for floating quantifiers is reasonable. The whole idea of floating is that it is something that semantically belongs to a noun phrase but syntactically behaves like an adverb at the clause level. However, if we agree that it is a pronoun, then "obl", rather than "advmod", would strictly speaking be the required relation.

[2017-11-15 12:53] dseddah commented on #484
According to the French Treebank guidelines, p.16, morpho-syntax guide, (from which are derived  Sequoia, the FSMB and the FQB), the rule was to tag  all "tout" variants that attach to the verb as PRO. So given the automatic conversion to UD that was applied here, unless I've missed something, I'm expecting the current scheme to follow that pattern.

Tous:PROmp viendront:VF3p
Elles:CL3fp viendront

[2017-11-15 13:27] CatalinaMaranduc commented on #484
Are there languages in which adverbs have gender and number? In Mr.
Perrier's examples the ”adverb” is plural !
I thought that for such cases there is the xcomp relation.

Cătălina

On Wed, Nov 15, 2017 at 2:51 PM, Joakim Nivre <notifications@github.com>
wrote:

[2017-11-15 13:34] jnivre commented on #484
We are not saying it is an adverb. We are saying that it is used in a syntactic position normally reserved for adverbial modifiers. But since it is nominal (or adjectival) in character, the relation "obl" is more natural than "advmod", as this is used for nominals used as modifiers at the clause level. The "xcomp" relation is reserved for open clausal complements and does not seem to apply. Even i

[2017-11-15 13:39] CatalinaMaranduc commented on #484
Ah, it was V1 the equivalence predicative element=xcomp !
In V2 xcomp can be only a subordinate clause?

ok, I will annotate the predicative element as member of the large family
of obl.

On Wed, Nov 15, 2017 at 3:34 PM, Joakim Nivre <notifications@github.com>
wrote:

[2017-11-15 14:20] prokopidis commented on #505
Well, I looked at a sample of 100 sentences from newspaper articles containing the string `μεταξύ των οποίων/among which`. When the non-relative dependent is a subject, there are a few instances where an overt verb (translated as either `is included` or `stands out`: `... διεθνείς παρατηρητές, μεταξύ των οποίων ξεχωρίζει το Κέντρο Κάρτερ/ ... international observers, among which the Carter Center

[2017-11-15 14:20] jnivre commented on #484
The definition of "xcomp" has not changed in v2. It is still used for predicative complements like "blue" in "she painted the house blue". The difference compared to the case discussed here is that "blue" is regarded as a complement of "painted", and that "blue" is predicated of "house". By contrast, a floating "all" can be optionally added to any predicate, and it is not clear that there is any p

[2017-11-16 08:39] PeterisP commented on #506
I would strongly recommend doing any split only on document boundaries, and avoiding sentence shuffling between train/test whenever possible.

The major difference is that if the test set consists of sentences that come from documents seen in training data, then there is an artificially low amount of out-of-vocabulary words, unseen proper names and entity mentions, since a rare term or name in suc

[2017-11-16 15:27] amir-zeldes commented on #506
I agree and would like to add how important coherent documents are for any discourse-level tasks we might want to use the corpora for (coref, discourse parsing, information extraction...)

[2017-11-17 14:43] dan-zeman opened #507 "Comparative constructions"
Request for comments:

http://universaldependencies.org/workgroups/comparatives.html

is a draft of a new-style UD documentation of comparative constructions, describing all annotation layers (tags, features, tree structure) and showing plenty of examples from various languages. It merges whatever I found under old language-specific documentation of specific constructions, and adds a lot more.

Co

[2017-11-17 21:16] martinpopel commented on #104
If anyone feels this old discussion is too short, see #507 for a continuation.

[2017-11-18 01:12] Oneplus opened #508 "obl:tmod in Chinese"
Hi folks,

As mentioned in Chinese guidelines (http://universaldependencies.org/zh/dep/obl-tmod.html), the temporal noun in a prepositional phrase is attached with `obl:tmod` when it acts as a temporal modifier, even there is a preposition (在 zai4) before it.

However, it's not consistent with UD_English. In UD_English, obl:tmod is only used when there is no preposition ahead. See that in http://b

[2017-11-18 12:54] dan-zeman commented on #508
I don't see why preposition should make a difference. If you see a pattern in data, it does not necessarily mean that the pattern is a rule. It is also possible that there is an annotation error.

The English documentation has not been updated to UD v2 and the relevant page was named nmod-tmod until now. I just renamed the page and replaced `nmod` with `obl`. The second example clearly shows that

[2017-11-22 13:53] rueter opened #509 "Nominalisation of a finite VP in Russian and Erzya"
Это сова кричала
/eto sova kričala/
That owl screached
‘that was an owl screaching.’
(0) you first hear the screach.
(1) someone asks: "What was that?"

nsubj(nsubj(кричала, сова), это)
nsubj(nsubj('screached', 'owl'), 'that')

What should the dependency relation be?

Or would it be better to do this:
ccomp(это, nsubj(кричала, сова))
ccomp('that', nsubj('screached', 'owl'))

‘that was an owl screa

[2017-11-22 14:01] jnivre commented on #509
Assuming that "that" is referential, it looks to me like a case of nonverbal predication, where the predicate is a clausal structure. So, in principle, I think it should be:

nsubj(screeching, owl)
nsubj(screeching, that)

However, this is the kind of structure that is dispreferred because the predicate inside the clausal structure is assigned two subjects. For English, we therefore switch to trea

[2017-11-22 14:12] dan-zeman commented on #509
There are somewhat similar examples in Czech. We attach the _to_ “that” as a `discourse` dependent of the predicate of the clause.

http://hdl.handle.net/11346/PMLTQ-SW6Y

[2017-11-22 14:26] sylvainkahane commented on #509
It seems that is a predicative construction where in surface syntax the copula has two complements, an "obj" and an "xcomp".
screeching cannot be the head because and can be deleted, at least in in English: _that was an owl_.
According to UD choices, I think I would do that:

nsubj(owl,that)
xcomp(owl,screeching)

[2017-11-22 14:42] dan-zeman commented on #509
I would not necessarily expand it as "it was an owl who screached" or "it was screaching of an owl". I don't like the amount of fantasy that is needed to postulate this structure from the words that were actually uttered. _Это_ is a demonstrative PRON/DET and it is quite possible that sentences like this evolved from one of the "it was"-like hypotheses here, but synchronically, I don't think that

[2017-11-22 14:43] jnivre commented on #509
If the facts are in English, I support Sylvain's analysis, except possibly that it should be "acl" instead of "xcomp" if it is really an optional modifier. (But this is an area of the guidelines that need more investigation.)

[2017-11-22 15:00] dan-zeman commented on #509
@sylvainkahane you can delete either _eto_ or _kričala_ or both; if you delete _kričala_ however, you are reducing the meaning. You are essentially saying "this is an owl". It could be a reference to a sound that you and the addressee just heard, but it could also be a reference to a dead animal that you see lying on the path.

In any case, _sova kričala_ is a finite past-tense clause meaning "the

[2017-11-22 15:14] amir-zeldes commented on #509
If this is like Polish and Hebrew, which have a functionally similar construction, then I agree with @dan-zeman . I think one way to check would be with negation. In Polish you can do "to nie...", which in this case would NOT mean that it's not an owl. It would mean: "It's not that an owl was screeching".

The discourse versus nsubj distinction I find trickier - in many colloquial situations the d

[2017-11-22 15:29] ftyers commented on #509
With negation in Russian it would be like "это не сова кричала", and you could add ", а барсук [кричал]" to get the meaning something like "It wasn't an owl that screeched, but a badger [that screeched]".

[2017-11-22 15:45] dan-zeman commented on #509
To continue the projections to neighboring languages :), here is a Czech negated counterpart:

_To nekřičela sova, ale jezevec._ “It wasn't an owl that screeched, but a badger [that screeched].”

Interestingly, negation in Czech is done using the bound morpheme _ne-_, so it is obvious that we negate _screeched_ and not a hypothetical copula (which would have to be overt in Czech anyway). Attaching

[2017-11-23 07:18] olesar commented on #509
'that' is labeled as expl in this particular construction in Russian. We discussed this case with the developers of Russian SynTagRus, so this is a motivated decision. I think that understanding of expl as the argument double (second subject, second object, etc.) is ok here. Cf. also the second part of expl documentation:http://universaldependencies.org/u/dep/expl.html

[2017-11-23 07:47] dan-zeman commented on #509
There are some doubts that this is clitic doubling, though. The owl is feminine in Russian (as well as in Czech) and the gender is cross-referenced by the verb form. The demonstrative is neuter. If its function were to “double” the owl, I would expect it to take the feminine form, too. But it is always neuter in this construction, regardless of the gender of the subject.

[2017-11-23 09:04] sylvainkahane commented on #509
It is spossible that the demonstrative does not refer to the owl but to the general situation. That's what we have in French where we often have the demontrative instead of a personnal pronoun in impersonnal construction (_c'est sur qu'il dort_ 'it is certain that he is sleeping', lit. that is …) as well as the kind of construction we are discussing (_c'est une chouette qui crie_ 'that's an owl th

[2017-11-23 13:47] rueter commented on #509
Thank you this has been helpful. I have given this some further thought:

Главная проблема — это не коррупция.

'The main problem, it's not corruption.' Here it would seem merited to
consider an expl reading.

but what would be the relation between 'problem' and 'that/it'?

dislocated(это, проблема) In Russian, there is no correspondence between
gender, so THIS does not seem likely.

In Erzya ther

[2017-11-23 17:42] dan-zeman commented on #509
_Главная проблема — это не коррупция._
_Glavnaja problema — èto ne korrupcija._
Main problem — this not corruption.

    amod(проблема, Главная)
    nsubj(проблема, коррупция)
    advmod(проблема, не)
    cop(проблема, это)
    punct(проблема, —)
    punct(проблема, .)

[2017-11-23 20:04] rueter commented on #509
And then, of course, in the past tense:
Главная проблема -- это не коррупция было.
cop(проблема, было)
?cop(проблема, это)
so maybe:
amod(проблема, Главная)
dislocated(коррупция, проблема)
advmod(коррупция, не)
expl(коррупция, это)
cop(коррупция, было)

Sent from my iPhone

[2017-11-23 20:18] dan-zeman commented on #509
Sorry, Jack, this sentence is beyond my competence in Russian. Especially the neuter copula _было_ sounds odd to me. Anyone else?

[2017-11-23 21:33] rueter commented on #509
sorry Dan,
my mistake.
-- это была не коррупция.

Sent from my iPhone

[2017-11-24 09:18] dan-zeman commented on #509
Ah, I see.

_это была не коррупция_
_èto byla ne korrupcija_
this was not corruption

So I think this one is easy and prototypical:

    nsubj(коррупция, это)
    cop(коррупция, была)
    advmod(коррупция, не)

However, if we reintroduce the “problem”, we have a problem :-)

_Главная проблема – это не была коррупция_
_Glavnaja problema – èto ne byla korrupcija_
Main problem – this not was corrupti

[2017-11-24 10:08] sylvainkahane commented on #509
Problem: words like _problem_ can be involved in another construction:

Such construction are also observed in spoken productions.

Semantically, they can be analyzed as an equational sentence: 'my first remark is "do that before" '. But I don't think it makes sense to consider _remark_ as a subject.

I'm not sure how to encode them. When we have encounter them, we have analyzed the first member a

[2017-11-24 10:56] dan-zeman commented on #509
Could we use `parataxis` for the examples with colons? Or even `list`?

[2017-11-24 14:38] bulbulistan commented on #509
In the upcoming Maltese UD treebank, I use list  for whatever precedes the colon. In parliamentary debates, for example, these are often names of PMs.

_____________________________
From: Dan Zeman <notifications@github.com>
Sent: divendres, de novembre 24, 2017 11:56
Subject: Re: [UniversalDependencies/docs] Nominalisation of a finite VP in Russian and Erzya (#509)
To: UniversalDependencies/docs

[2017-11-24 15:17] jnivre commented on #509
We have used parataxis for similar constructions in the Swedish treebank.

[2017-11-24 17:47] ermanh commented on #509
We also recommended parataxis for similar constructions in our Chinese
guidelines.

[2017-11-24 17:59] ermanh commented on #508
Second @dan-zeman here. The "obl" relation itself is not limited to whether a case marker or adposition is present or not, so I don't see why a subrelation would have a limitation on that as well. Temporal modifiers that are NOUN should be treated with obl:tmod regardless of whether an adposition is there or not.

[2017-12-10 06:08] kristiank opened #510 "Appos and directionality"
All examples I can find in the documentation that pertains to version 2 has the ``appos`` arrows going to the right. Is this a requirement of version 2?

I ask, because we got it as a requirement for annotating, but the traditional notion of appositional modifiers in our language is wider and the head can be on either side (cf jnivre's comment on #180). This would impose choosing the first paritic

[2017-12-10 08:48] martinpopel commented on #510
The rule that appos should be left-headed is encoded in UDv2 svalidation rules [here](https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/markbugs.py#L93) and [here](http://universaldependencies.org/svalidation.html#appos-is-right-headed).
The [guidelines](http://universaldependencies.org/u/dep/appos.html) say "immediately following the first noun", which implies the direction is requ

[2017-12-10 09:46] jnivre commented on #510
I can see the point about directionality, and the truth of the matter is probably that "appos" is not a pure dependency relation. The idea is that an apposition (in this narrow sense) is an elaboration, a non-restrictive modifier in the form of a co-referential noun phrase, and it follows that the elaboration must follow the first referential noun phrase. It can always be debated whether this is a

[2017-12-11 07:15] kristiank commented on #510
Thank you for elaborating on this. Perhaps it would be a good idea to add something on the non-purity of the "appos" dependency relation in the docs. I find that other non-linguistic relations do this very nicely in the docs, and I guess this kind of conventions is what often is forgotten when some kind of linguistic truth is started to be searched for instead, not realising they both are simply c

[2017-12-12 08:11] olesar commented on #510
A note about "_immediately_ following the first noun": What about hesitation markers, particles, reparanda, punctuation marks that pop up between two nominals?And it seems that most of examples in the guidelines likeSam , my brother , arriveddo not suit the definition as well. Olga

[2017-12-12 09:04] sylvainkahane commented on #510
There are some constructions, which I think must be formalized with `appos`, where the second conjunct is not adjacent to the first one (and the tree is not projective):

Here I think we would like:

[2017-12-12 09:23] jnivre commented on #510
Agreed. I think the word "immediately" should be removed from the definition.

[2017-12-12 09:32] martinpopel commented on #510
First, I would suggest to keep this issue about directionality of appos and start a new issue about the word "immediately" in the appos guidelines (if there is more discussion on the topic). I think now we all agree that appos is always left-headed, so @kristiank can close this issue and possibly start a PR which adds a sentence about "non-purity" to the guidelines.

@olesar: as obvious from the g

[2017-12-14 06:57] rueter opened #511 "Ideophones in Erzya and English, what is the deprel"
Ideophones are often classified as Interjections for part-of-speech. Instead of describing a subjective emotion expressed by the speaker as a result of an event (e.g. Ouch! he said. Wow! she said.), ideophones are vocalizations that illustrate events, such as Poof! the fairy disappeared.
Since the words can be reordered: He said "wow". She said "ouch", the first two (ouch; wow) might be seen as di

[2017-12-14 12:06] jnivre commented on #511
I think parataxis is the least evil here. The dislocated relation is for displaced arguments or argument-like phrases and should not be used, and I don't think there is a clear discourse function either. In fact, in the fairy example, there seem to be two independent clause-like entities, which could have been written as two separate sentences:

Poof! The witch disappeared.

This suggests to me th

[2017-12-14 16:54] lauma commented on #511
Inside the Latvian UD part we recently also had some discussion about idiophones and interjections. We concluded that at least in Latvian interjections tend to creep in the roles usually fulfilled by nouns, e.g., one can say not only _viņš pateica paldies_ (he said a "thank you") or _viņš teica au_ (he said ouch), but also _man nevajag tavu paldies_ (I don't need your "thank you"), where possessiv

[2017-12-14 20:40] jnivre commented on #511
It is clear that any word or phrase can be used as a noun when quoted or forming part of a title, etc., and I wouldn't expect interjections to be any different. When they are, they should be given the proper syntactic relation, but there is no need to change the part-of-speech tag. This is discussed under "Using a word vs. mentioning it" in the guidelines on Morphology: http://universaldependencie

[2017-12-17 15:57] nschneid opened #513 "Should lemmas use normalized spelling?"
The current guidelines for [Lemmas](http://universaldependencies.org/u/overview/morphology.html#lemmas) say very little about what the canonical form of a word should be.

In the UD_English corpus, there are some clear typos, e.g.:

* Be warned - they 'll **ltake** you for everything they can .
* This is one of the best farms I have ever been **too** .

The first is an example of a typo resulting

[2017-12-17 16:01] dan-zeman commented on #513
I think the lemma should follow the correct spelling. And ideally, the morphological features should indicate that the actual surface form is incorrect (`Typo=Yes`).

[2017-12-17 17:17] sylvainkahane commented on #513
I think we really need additional columns in the conll. At least one for glosses. Corpora of "exotic" languages come with glosses and we need them if we want to work with such corpora. It would also be useful for corpora of social media or of language learners to indicate corrections. Of course we can put everything in the same column as feature values, but it is not very convenient. Even for the

[2017-12-17 17:30] martinpopel commented on #513
An additional column would be a huge change of CoNLL-U (though possible to do in UD v3), which will brake many existing tools. All data not using this column would be more difficult to read&write (unless we allow to omit it). Also, it is convenient to have MISC as the last column. The FEATS column is reserved for morpho-syntactic features (ideally with a fix-sized list of possible values for each

[2017-12-17 17:32] dan-zeman commented on #513
@sylvainkahane : This is a different thread, so please start a new issue if you want to extend the discussion. However, for glosses, there is an optional MISC attribute, already used in some treebanks, so please use it. See http://universaldependencies.org/format.html#other-miscellaneous-attributes

[2017-12-17 17:36] nschneid commented on #513
@dan-zeman: Can we start using `Typo=Yes` now or is that currently invalid? `Typo` appears in the v2 [feature list](http://universaldependencies.org/u/feat/index.html) but its [documentation](http://universaldependencies.org/u/feat/Typo.html) says v1.

[2017-12-17 17:47] dan-zeman commented on #513
It is in the "language-specific" (or here, treebank-specific?) domain, both in v1 and in v2. (In the v2 feature list, it only occurs in the automatically generated alphabetical listing in the lower part of the page, but it is not listed in the upper part; this should be fixed somehow.)

So you can start using it but you will have to list it as a treebank-specific feature, otherwise the validator w

[2017-12-17 17:54] sylvainkahane opened #514 "Gloss and transliteration"
Currently, glosses and translitterations are considered as marginal features in the UD format (CoNLL-U), as well as in the UD guidelines. See http://universaldependencies.org/format.html#other-miscellaneous-attributes. There are optional MISC attributes and as said in the guidelines "The final MISC field is for storing any additional information that does not fit into any of the other fields". But

[2017-12-17 17:57] nschneid commented on #513
@dan-zeman you mean by adding it to https://github.com/UniversalDependencies/docs/tree/pages-source/_en/feat?

@sebschu, do you want me to go ahead and do this? Tomorrow I'm planning to go through the typos that we've encountered in lexical semantic annotation, so I could use that opportunity to fix the lemma and set `Typo=Yes`.

[2017-12-17 17:59] dan-zeman commented on #514
Note: three initial comments pertaining to this thread appeared in https://github.com/UniversalDependencies/docs/issues/513#issuecomment-352270767

[2017-12-17 18:04] dan-zeman commented on #513
@nschneid : No, I did not mean the English-specific documentation. (Of course you can add it there but we no longer assume that every language will have a complete mirror of the documentation of all tags / features / deprels, and this one already has a doc page.) What I meant is the data file for validator, here:

https://github.com/UniversalDependencies/tools/blob/master/data/feat_val.en

Note th

[2017-12-17 19:37] amir-zeldes commented on #513
That's an interesting idea for UD_English-GUM, and in fact we already have an annotation layer for errors (not all of which are typos though), and we have coincidentally been following this guideline already (lemma has the 'corrected' lemma form). We used the TEI `<sic>` annotation, which is very much the same as saying 'there's some kind of error here', so just like `typo`, for example:

https://

[2017-12-17 20:05] nschneid commented on #513
@amir-zeldes Right, the general issue of errors is more complex: see #330.

[2017-12-17 20:06] nschneid commented on #513
For the more limited cases I was raising here, I propose we alter the [guidelines](http://universaldependencies.org/u/overview/morphology.html#lemmas) where it says

to add

[2017-12-17 20:36] amir-zeldes commented on #513
Agreed - the incorrect segmentation issue is tricky, esp. for 'goeswith' cases. One example we had was 'before hand' spelled separately - we ended up lemmatizing separately, as 'before' and 'hand', but putting a <sic> tag around the whole thing and using 'goeswith' for the dependency...

[2017-12-17 23:51] nschneid opened #515 "Lemma of English possessive clitic"
There is a spelling rule that if a noun has been pluralized with *-(e)s*, then it is made possessive by adding *'*, and if not, by adding *'s*. Because this is merely a spelling rule, I think both should have *'s* as the lemma.

The English treebanks are currently inconsistent on this: [UD_English-LinES](/UniversalDependencies/UD_English-LinES) has *'s* as the lemma if the token is *'* ([query](ht

[2017-12-19 03:37] nschneid commented on #513
Another issue relevant here is abbreviations. For uncommon abbreviations/shortened forms (like *w* for *with*, *btwn* for *btwn*, *thru* for *through*), I'm inclined to say we should use the canonical spelling in the lemma and apply the feature `Abbr=Yes`. For common abbreviations like *vs.* for *versus* and *etc.* for *et cetera*, perhaps we should keep the surface form in the lemma.

[2017-12-19 04:59] nschneid commented on #513
Actual sentence in the corpus: "Thi$ $ervice will co$t." `OrthographicWordplay=Yes`? :D

[2017-12-19 11:19] sebschu commented on #513
@nschneid I think it will be quite hard to distinguish what constitutes a common/uncommon abbreviation (for example, I think _w_ for _with_ is actually quite common...). So I'd suggest we normalize all abbreviations/short forms of single words but keep abbreviations for multiple words (e.g., _UN_ or _CPU_) intact. I think that would allow for more consistent annotations.

[2017-12-19 15:07] nschneid opened #516 "Lemma of abbreviation"
Spawned off of #513 and UniversalDependencies/UD_English#40.

I proposed:

There has been further discussion about single-token abbreviations that would expand to multiple words, and whether to expand frequent single-word abbreviations.

[2017-12-19 21:11] dan-zeman commented on #516
Possibly related old issues:
https://github.com/UniversalDependencies/docs/issues/112
https://github.com/UniversalDependencies/docs/issues/181

[2017-12-21 00:42] nschneid opened #517 "Lemmas of English personal pronouns"
It is not obvious how pronouns should be lemmatized (cf. #276 for Slavic). The [UD_English](/UniversalDependencies/UD_English) corpus does the following:

Nominative (`PRP`):

    I -> I
    you -> you
    he -> he
    she -> she
    it -> it
    we -> we
    they -> they

Accusative (`PRP`):

    me -> I
    you -> you
    him -> he
    her -> she
    it -> it
    us -> we
    them -> they

Depen

[2017-12-21 10:20] rueter commented on #517
For morphologically rich/normal languages, the lemma serves also as a point of disambiguation in company with its pos sibling. Since spelling normalization is being discussed, it might serve our purpose to provide a spelling[norm]=xxx
in misc to cover the for the misspellings.

Sent from my iPhone

[2017-12-21 11:11] wongtaksum commented on #489
Dear all,
     So have we reached a consensus here?
     In the case of:
John kampi Mary kore
John book Mary give
"John gave Mary a book."
, where word order is not free, I suppose.

Shall we use:
nsubj(kore, John)
obj(kore, book)
iobj(kore, Mary)
root(kore)

or

dislocated:nsubj(kore, John)
dislocated:obj(kore, book)
dislocated:iobj(kore, Mary)
root(kore)

or

nsubj:obl(kore, John)
obj:obl(kore,

[2017-12-21 11:20] jnivre commented on #489
For the English example 2, we should definitely just use "obj". Topicalisation may be less common in English than in other languages, but it doesn't change the syntactic relation. In general, I would be very restrictive with using "dislocated" when there is not a double realisation (despite the Japanese example in the guidelines), and I would advise against subtypes like nsubj:obl (at least until

[2017-12-22 03:45] wongtaksum commented on #489
Oh Thank you very much for your comments!

[2017-12-23 19:32] dan-zeman commented on #517
Case normalization in lemmas is expected in languages where `Case` plays a more important role than in English and I would expect it in English as well.

[2017-12-24 02:47] nschneid commented on #517
I guess I am not sure what the guiding principles are/should be for pronoun
normalization. It is clear that English nouns should be normalized by
number and verbs by number, person, and tense. So why are the pronouns
normalized by case but not person or number? If the goal is to remove all
inflectional information, shouldn't all personal pronouns map to the same
lemma?

Or is the goal to collapse

[2017-12-25 15:20] amir-zeldes commented on #517
I think different language-specific guidelines differ on this, and it would be good to stay consistent with other corpora in the respective languages, since what 'lemma' means in each language is rather different. We already have a split between UPOS and language-specific tags, I wouldn't want to see 'native vs. UD lemmas' as well if possible...

For GUM, we've simply used the behavior of the Tree

[2017-12-26 12:11] kristiank commented on #510
@martinpopel Where do I find the guidelines texts to edit?

[2017-12-26 12:11] #510 closed, assigned to nobody

[2017-12-26 17:06] martinpopel commented on #510
@kristiank: I've included the link to appos guidelines in my first post: http://universaldependencies.org/u/dep/appos.html
There is an "edit page" button on top of the page, which brings you to GitHub editing, where you can suggest a change as a Pull Request (or commit directly if you have the rights to do so and if there is no controversy about the edit).

[2017-12-27 16:42] nschneid commented on #496
Listed under http://universaldependencies.org/workgroups/mwe.html

[2017-12-29 12:10] wongtaksum opened #518 "displaying letters with diacritics"
http://universaldependencies.org/zh/pos/ADJ.html

Like in this page, the letter í in the words  qūbiécí  and  xíngróngcí looks very different.  Does anybody know the reason?

[2017-12-29 12:26] dan-zeman commented on #518
They look pretty much the same on my screen:
![pinyin-diacritics](https://user-images.githubusercontent.com/663752/34437058-409a755c-ec9b-11e7-921b-99dfc48a03bb.png)

I have also checked how they are encoded and all three are identical, i.e., "LATIN SMALL LETTER I WITH ACUTE" (unlike the _ó,_ which is not "LATIN SMALL LETTER O WITH ACUTE" but a combination of two characters, "LATIN SMALL LETTER O"

[2017-12-29 15:20] wongtaksum commented on #518
![default](https://user-images.githubusercontent.com/29035987/34440236-c9e54014-ecee-11e7-8f50-25f8541bf19a.png)
but on my screen they are entirely different....

[2017-12-29 16:03] martinpopel commented on #518
The words appear multiple times on the page. @dan-zeman's screeshot captures the first occurrence, while @wongtaksum's screenshot captures the second, where í in qūbiécí is written with a single Unicode character 'LATIN SMALL LETTER I WITH ACUTE' (U+00ED), but in xíngróngcí it is written using a decomposition into 'LATIN SMALL LETTER I' (U+0069) and 'COMBINING ACUTE ACCENT' (U+0301). Modern bro

[2017-12-29 16:03] dan-zeman commented on #518
I see. This is a different occurrence of the two words. Here, the first word really uses the single character for _í_ while the second word employs the combining diacritics. Apparently your system does not know how to render the glyphs correctly. They still look the same on my screen (Microsoft Windows 10, Chrome browser). But you can see below that the encoding differs. I would suggest that you n

[2017-12-29 16:43] wongtaksum commented on #518
I have modified.  It looks fine on the preview.  Hope everything is fine after commit.

[2017-12-31 15:24] myavrum commented on #443
Dear colleagues, what about such a solution?
http://universaldependencies.org/hy/dep/goeswith.html

[2017-12-31 23:47] nschneid commented on #517
For future reference, I'm finding many inconsistencies between columns in UD_English that point to tagging, morphology, or parse errors involving pronouns. Some commands:

    fgrep $'PRP\t_' */*.conllu
    egrep 'PRP\$.*i?obj' */*.conllu
    egrep $'PRP\t.*nmod:poss' */*.conllu

`egrep 'PRP\$.*nsubj' */*.conllu` turns up several possessed gerunds (*our agreeing to the deal*, etc.). Not sure if th

[2017-12-31 23:54] martinpopel commented on #443
This contradicts [the universal guidelines on goeswith](http://universaldependencies.org/u/dep/goeswith.html) which say that "the head is always the first part". This is also covered by tests (e.g. in [Udapi](https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/markbugs.py#L93)).

Also the link to the [tokenization page](http://universaldependencies.org/hy/overview/tokenization.html) d

[2018-01-02 08:25] msklvsk opened #520 "Treebank development in master branch"
UD’s current model is to push new commits to dev, and merge to master twice a year. This often causes confusion: people expect new commits to be at master: they visit treebank’s main page (which is master) to see what’s happening. Instead of news they see a 3-month-old state (on average).
You tell a friend to go and check your updates, and he writes back there aren’t any because you forget to ment

[2018-01-02 08:35] wongtaksum opened #521 "Dead link"
At the top of the docs pages, there is a line, like for Mandarin Chinese:

home zh/zh edit page issue tracker

The link for zh/ah is supposed to be http://universaldependencies.org/zh/zh but now it is a dead link.

This is the same for other languages like English.

[2018-01-02 10:45] wongtaksum commented on #518
The issue has been solved!  Thank you!

[2018-01-02 10:45] #518 closed, assigned to nobody

[2018-01-02 10:47] wongtaksum commented on #521
Another similar issue is that on the CCONJ pages of many languages, if not all, only link to [u] is found at the bottom of page:

CCONJ in other languages: [u]

[2018-01-02 11:05] jnivre commented on #520
The main motivation is to promote reproducibility of scientific results. Ideally, published experiments should always be performed on official releases, downloaded from the Lindat server. However, we know that many users prefer to download from GitHub instead, and we therefore want to ensure that the master branch is in sync with the latest official release.

[2018-01-02 14:02] sylvainkahane commented on #514
I would to come back to my first message which contained two questions and to reformulate the first question. Concerning translitteration and gloss, there are well established conventions which consist to align them with the text (see the [Glossing Rules of the Max Planck Institute](https://www.eva.mpg.de/lingua/resources/glossing-rules.php)). Would it be possible to have a new presentation for th

[2018-01-02 14:15] dan-zeman commented on #514
@sylvainkahane : The visualization question has actually been already asked and it is one of our longest open issues, here: https://github.com/UniversalDependencies/docs/issues/13

The problem is that UD infrastructure relies on Brat visualization, therefore the new feature would have to be implemented there. @spyysalo, do you know about any new development of this?

[2018-01-02 14:30] martinpopel commented on #514
I am not sure what is the goal of this issue (how to make transliterations, glosses and translations "less marginal"):
* Improve guidelines for storing transliterations, glosses and translations in the CoNLL-U format. I think this is already done for transliterations and glosses. For translations (of the whole sentence), some treebanks use a sentence-level comment `english_text` (in addition to th

[2018-01-03 13:30] lauma commented on #511
What I am suggesting is: maybe "wow" in "He said "wow"" is just an object, not parataxis?

[2018-01-03 13:45] jnivre commented on #511
That seems perfectly fine to me. The parataxis relation should only be used for speech verbs when they are parenthetical or post-posed.

[2018-01-04 05:54] wongtaksum commented on #521
The third issue is all.html is only available to [u] but not other languages
http://universaldependencies.org/u/dep/all.html

[2018-01-11 19:16] kimgerdes opened #522 "orphan: ellipsis in first conjunct"
I wonder how to preserve the obligatory right branching of the `conj` relation in case of an ellipsis in the first conjunct.

I see two possible analyses, which one should be chosen?

1. The first analysis follows the idea of ellipsis: The verb isn't present and the first argument (_er_) becomes the new head (with `aux` and `advmod` relations).
The good: projective, natural phrases (?)
The ugly: v

[2018-01-11 20:44] jnivre commented on #522
We generally promote auxiliaries when main verbs are elided, so an alternative would be to let "hat" be the root of the first clause "angerufen" the root of the second. This would avoid the use of the orphan relation completely.

[2018-01-11 22:50] dan-zeman commented on #522
One could also say that "hat angerufen" belongs to the first conjunct and the position of "angerufen" is the result of the German "bracketing" word order, not because it has more to do with the second conjunct. I think it would be my preferred perception of the sentence. But it would have strange consequences for our `conj` guidelines: now the head of the first conjunct would appear to the right o

[2018-01-12 00:22] kimgerdes commented on #522
Joakim's proposal doesn't work for subordinates (or similar cases in any verb final language):
![screenshot-2018-1-12 arborator quickedit](https://user-images.githubusercontent.com/12749873/34853729-ac80457c-f735-11e7-9584-ae5c48c5e8f8.png)

Here's Dan's reversed conj proposal (if I understood correctly):
![screenshot-2018-1-12 arborator quickedit 1](https://user-images.githubusercontent.com/12749

[2018-01-12 06:19] dan-zeman commented on #522
My proposal (yes, it would look like Kim's second tree in the previous post) was primarily motivated by the unwillingness to separate _hat_ from _angerufen_; that would not be a problem in subordinates. German is not a verb-final language in general. When preparing v2, we had a lengthy discussion about allowing each language to select `conj` direction (but then the language would have to use it ev

[2018-01-12 10:16] kimgerdes commented on #522
So we follow the principles that Dan recalled:

1. orphan is used where the head is furthest away
2. `conj` has to keep going from left to right

We conclude that this for subordinates this is the correct UD analysis:
![screenshot-2018-1-12 arborator quickedit](https://user-images.githubusercontent.com/12749873/34869776-4eca1946-f788-11e7-814f-74a13c00c3a6.png)
![screenshot-2018-1-12 arborator qui

[2018-01-12 10:28] jnivre commented on #522
I agree that these are the analyses that are most consistent with out current principles. I also agree that it is unsatisfactory not to have a verb as the root despite the fact that there is a verb available. Maybe we need to consider exceptions to the rule that conj relations are always attached to the left. But these would open a big can of worms, so it must be considered carefully ... :)

[2018-01-12 16:32] kimgerdes commented on #522
Ok, so let's just conclude by clarifying the remaining points:
1. where to attach the marker (_dass_)?
2. where to attach other modifiers (_gleich_ in "dass er _gleich_ seine Frau und sie ihre Mutter angerufen hat")?
3. how about the names of these links from the "replacement governor" (here "er" or "그는") to its dependents (_dass_, _gleich_, ...)? are they all `orphan` or do we keep their "natural

[2018-01-12 16:59] jnivre commented on #522
1-2. The marker and the adverb should attach to the root of the clause, hence ”er” in this case.

3. For the marker, it is definitely fine to use the ordinary label (mark). The adverb is borderline, but I would be willing to accept advmod, I think.

4. I would say yes, but I may not have thought through the consequences.

5. Definitely no. Since we decided to use obliqueness and not linear order t

[2018-01-12 23:49] kimgerdes commented on #522
Ok. Perfect.
I try to resume:

1. In case of gapping, the highest element in the obliqueness order is promoted to be the head of the gapped clause.
2.  `conj` always goes from left to right, even in case of left conjunct gapping. This means that in verb final constructions, the head of the sentence is no longer the verb but the promoted head of the gapped phrase.
3. Relations that also appear in t

[2018-01-13 11:23] dan-zeman commented on #522
In general I agree. I am only not so sure that the distinction between 3. and 4. is defined strictly this way (although this seems to be a reasonable approximation). In fact, I don't think there is such a detailed definition at all. We have agreed that function dependents such as `mark` or `cc` should not become `orphan` just because they are attached to the promoted argument/adjunct. We did not s

[2018-01-13 15:32] jnivre commented on #522
I agree with Dan. The relevant criterion is not whether the function appears in the non-gapped clause (although there is often a correlation). Functional relations like cc and mark remain as they are. Core relations definitely are replaced by orphan. Relations like obl, advmod and advcl are borderline. I think the guidelines say that orphan should be used only for core arguments, but I think this

[2018-01-13 16:56] dan-zeman commented on #522
At present, http://universaldependencies.org/u/dep/orphan.html says that core arguments are a typical example (that is, not the only possibility). http://universaldependencies.org/u/overview/specific-syntax.html#ellipsis sounds as if orphan were used only with core arguments. However, we have shown with @Kira-D in the UDW paper that the orphan relation is needed (and indeed used in some treebanks)

[2018-01-14 00:36] sebschu commented on #522
I also think that only markers and conjunctions should be attached with the respective relation and everything else, including modifiers, should be attached using `orphan` (that's also what I've implemented in the English treebank). The `orphan` relation is as Joakim said not for indicating whether something should be shared across conjuncts or not but instead, for signaling that the `orphan` depe

[2018-01-14 01:21] sebschu commented on #522
Regarding the sentence with the V2-auxiliary: I was also struggling with these at some point and didn't come up with a satisfying solution. I agree with Dan that the analysis that does not separate the aux and the main verb is the most sensible one despite the flipped `conj` relation. So at the risk of opening a can of worms, I'd actually be inclined to allow the `conj` relation from right to left

[2018-01-14 18:06] myavrum commented on #443
tokenization -
https://github.com/UniversalDependencies/docs/blob/pages-source/_hy/tokenization.md

[2018-01-15 13:54] kimgerdes commented on #522
We have essentially two choices here:
1. constituent-centered approach: the constituent should be a subtree, the two subtree of coordination are connected by the `conj` link. Then we can decide to always make `conj` go from left to right, and orphans are always in the incomplete constituent.
2. dependency-centered approach: the dependency tree should be the same, independently of word-order constr

[2018-01-15 14:00] jnivre commented on #522
I also support the constituent-cantered approach here. Sebastian's analysis looks superficially appealing in that it has many dependency relations between words that look like plausible head-dependent relations, but the price to pay is that it completely distorts the structure of the coordination, essentially embedding one conjunct inside the other. This price is too high, in my opinion.

[2018-01-15 18:12] GPPassos opened #523 "Apposition, acl and clauses"
In the [appos page](http://universaldependencies.org/u/dep/appos.html), it is stated that

An example is given:

However, there is a very similar construction in the [acl page](http://universaldependencies.org/u/dep/acl.html):

Is there any significant difference between the two examples?

[2018-01-15 18:38] jnivre commented on #523
I would say that the first is a mistake. (I don't know who wrote it.) But the overview table of relations makes very clear that an "appos" should itself be a noun phrase, not a clause. Hence, "acl" is the right relation for this cases.

[2018-01-16 20:30] dan-zeman commented on #523
Git blame says it was @manning in https://github.com/UniversalDependencies/docs/commit/eed6397d7a1f5149f2a1970bdb402aa35e8c2442 :-)

[2018-01-16 21:39] jnivre commented on #523
I still think it is a mistake. :)

[2018-01-18 21:20] sebschu commented on #522
I gave this some more thought and I actually agree with you. Like Dan, I was initially really uncomfortable with separating the auxiliary and the main verb --  in part because one cannot separate them across sentences and a discourse such as  the following is not possible:

   A: *_Er hat gleich seine Frau._  (He has immediately his wife)
   B: *_Und sie ihre Mutter angerufen._  (And she her mothe

[2018-01-18 22:26] kimgerdes commented on #522
Cool. Thanks to all of you for the debate. It's much clearer now for me.

[2018-01-18 22:26] #522 closed, assigned to nobody

[2018-01-19 08:19] gossebouma commented on #522
Our Dutch treebank (the underlying data for the Dutch UD treebanks) certainly has cases  @sebschu thinks are marginally acceptable (ie with gapped main verb in 1st conjuct):

[Van dit totaal zou de VS 95 miljard en de EU 106 miljard dollar voor haar rekening nemen .](http://haytabo.let.rug.nl:8067/tree?db=lassysmall&names=true&mwu=false&arch=/net/corpora/paqu/lassysmallmeta.dact&file=WR-P-P-J-0000

[2018-01-19 10:24] gossebouma commented on #522
I notice now that I missed the bit about repeating the aux in both conjucts while omitting the main verb in the first conjuct. These seem rare, but I found some in the corpus of spoken dutch:

[ge moogt xxx niet tegen de wand en je moogt ook niet tegen uw eigen aankomen](http://haytabo.let.rug.nl:8067/tree?db=cgn&names=true&mwu=false&arch=/net/corpora/paqu/cgnmeta.dact&file=comp-a/vl/fv400065/fv40

[2018-01-19 14:50] kimgerdes commented on #522
It is very interesting that you bring up spoken language because the reason we got interested in this was actually not coordination but rather elaboration and similar structure which are very common in spoken data.

I guess from this discussion it evolved to treat these cases as usual head-gapping in the first conjunct. This means like the first analysis here:
![screenshot-2018-1-19 arborator quic

[2018-01-23 09:44] perrier54 opened #524 "Shared dependents and governors in coordination"
1)	Basic dependencies.
According to the annotation guide, shared dependents and governors are attached to the head of the first conjunct.
This principle cannot apply when a dependent is not shared by the heads of the two conjuncts but by words more or less deeply embedded in the conjuncts. Consider the following example:
_Il pense obtenir et obtiendra sûrement son diplôme_ (word for word : _he thi

[2018-01-23 10:32] martinpopel commented on #524
Good point. I agree that "diplôme" should be attached to "obtiendra" (head of the second conjunct) in basic dependencies (and that there will be no clue in the basic dependencies that the object is shared also with "obtenir").

I like your suggestion for changing the guidelines to attached shared dependents to the head of the **nearest** conjunct instead of the **first** conjunct. I know it will b

[2018-01-24 10:45] perrier54 commented on #524
If my suggestion is adopted in the guidelines, the re-annotation of corpora will not be a difficult task because it can be done automatically: when a dependent that follows a coordination is attached to the head of the first conjunct, it will be attached to the head of the last conjunct.
In some cases, the transformation will not be correct, when the dependent must be attached deeply in the second

[2018-01-24 11:48] martinpopel commented on #524
I don't say it is a problem, we just need to define clearly what does "closely as possible" mean. Imagine e.g.
*There comes very quickly a man and goes away.*
Here according to the word-order distance *man* is closer to *goes* than to *comes*, but it seems counter-intuitive to change the attachment of *man* just because *very quickly* was added.

Yes, this is what I meant by "cannot be done fully

[2018-01-24 13:53] dan-zeman commented on #524
Changing the guidelines would be a long-term goal; at present there is no schedule for UD v3. And I do not think the benefit is so great to justify re-annotation of 100+ treebanks.

On the other hand, examples like _Il pense obtenir et obtiendra sûrement son diplôme_ (however marginal they are) need a solution and this solution will be just a more detailed specification of the current guidelines,

[2018-01-24 17:55] sylvainkahane commented on #524
I just want to add some linguistic data to the debate. Data are from French but I’m sure that similar constraints occur in other languages if not all.

First, agreement. French adjectives agree with the noun they depend on and in case of coordination, the masculine wins (this was imposed by male grammarians in the 17th century and the rule is under debate now). So we have:

It is very difficult to

[2018-01-24 18:57] dan-zeman commented on #524
@sylvainkahane I see your point and it is valid of course, but UD is a compromise that tries to satisfy various conflicting goals. This sort of linguistic relevance is one of the goals but we cannot always satisfy it – for example, we do not make auxiliary verbs heads although they are the verbs that morphologically mark features of subjects.

I think the main claim from the UD point of view here

[2018-01-25 07:38] sylvainkahane commented on #524
@dan-zeman  Our answer is interesting because it touches the foundations of dependency and constituency.
We are analyzing a configuration X & Y M, where M is a so-called shared dependent of X and Y. So we are tempted to consider that X & Y form a constituent C and M depends on C. In fact, it is not possible to encode this analysis in DG: we cannot attach M to C, we have to decide to what word in C

[2018-01-25 13:17] dan-zeman commented on #524
Well, _blancs_ is `Gender=Masc` AND `Number=Plur`. The masculine gender supports your claim that it first combines with Y (_plat_). The plural number suggests that it combines with the entire C.

Is there a reason to say that the gender feature is more important than number?

[2018-01-25 13:36] gossebouma commented on #524
You can use agreement in/of relative clauses to find similar puzzles in the Dutch:

[De grote publiekstrekkers van Oudenaarde zijn echter het stadhuis en de kerk van Sint-Walburga , die beide aan de markt liggen ](http://haytabo.let.rug.nl:8067/tree?db=lassysmall&names=true&mwu=false&arch=/net/corpora/paqu/lassysmallmeta.dact&file=wiki-7543.p.13.s.1.xml&global=true&marknodes=20)
(the big attractio

[2018-01-25 14:11] jnivre commented on #524
We had a discussion about proximal agreement and related phenomena at one of our first meetings (http://universaldependencies.org/2015-08-23-uppsala/coordination.html). We concluded that there was not sufficient evidence for abandoning the general principle that, in the interest of cross-lingual consistency, all coordination should be annotated by attaching other conjuncts and shared dependents to

[2018-01-25 14:12] dseddah commented on #524
@dan-zeman " Is there a reason to say that the gender feature is more important than number?"
at least in French and (some) romance languages, gender is not marked in the verb flexion (except for past participles of course but that's a another story).
(he/she eat)

il/CL-MS mange-V-S
elle/CL-FS mange-V-S

(they eat)
ils/CL-MP mangent-V-P
elles/CL-FP mange-V-P

so I wouldn't say gender is more impo

[2018-01-25 14:41] sylvainkahane commented on #524
@dseddah If you consider spoken French (and spoken language is the true language, the one you speak at five when you are already a speaker), it is clear that gender is much more marked in French than number.

@dan-zeman But I don't understand this question about number and gender, because you don't have the number agreement with one of the conjunct. It is difficult in a dependency-based representa

[2018-01-25 14:50] dseddah commented on #524
You’re probably right for spoken Fr, would be interesting to see evidences  though (I’m sure it already exists).  Anyway, that’s not the case with other romance languages, where spoken is much closer to written forms.

Djamé

[2018-01-25 15:22] perrier54 commented on #524
I agree with @sylvainkahane  on his last statement : the examples given in [http://universaldependencies.org/2015-08-23-uppsala/coordination.html)](http://universaldependencies.org/2015-08-23-uppsala/coordination.html) concern shared governors and no shared dependents. For shared governors, I agree with the proposal of attaching the dependency from the shared governor to the head of the coordinati

[2018-01-25 19:44] jnivre commented on #524
It is true that shared dependents are not discussed on the page I pointed too, but I think they were discussed at the meeting. Sorry for not being clear about this.

As for cross-linguistic consistency, my point was not that one of the analyses is per se better than the other, only that we want some analysis to be applied consistently. And since attachment to the first conjunct (of both governors

[2018-01-25 23:32] dseddah commented on #524
@perrier54, there's an extensive discussions about right-node rising here
https://github.com/UniversalDependencies/UD_v2/issues/16
and shared arguments here too
http://universaldependencies.org/v2/enhanced.html
and here as well
http://universaldependencies.org/v2/ellipsis.html

@all
While I'm here I'm not sure I understand the rationale behind the ghost token naming scheme..
1 John
2 loves
3 Mary

[2018-01-31 05:34] nschneid opened #525 "Broaden the use of `compound` in UD_English?"
[`compound`](http://universaldependencies.org/u/dep/compound.html) sounds like it should include adjectival compounds, yet *nuclear free*, *ill - fated*, *tip top*, etc. are analyzed as `amod(ADJ, ADJ)` in UD_English.

cf. #478: `obl:npmod` includes some noun-verb compounds and `nmod:npmod` includes some adj-noun compounds. I think it would make sense to include these under `compound` as well.

[2018-02-02 20:02] dan-zeman commented on #506
Thanks for the feedback. Since there were no new comments for a while, I strenghtened a bit the urge to 1. split on document boundaries and 2. not to shuffle sentences if possible. I have moved the guidelines to the release checklist page (http://universaldependencies.org/release_checklist.html#data-split) and I am closing this issue.

[2018-02-04 19:33] ceramisch commented on #204
I found this old issue related to a current problem discussed by the pt_BR team (@claudiafreitas @vcvpaiva @arademaker). We are discussing the labels to use for representing reflexive clitics. Are the recommendations of the Uppsala meeting included in UD2.0 guidelines somewhere?

A problem not covered by the document above is the distinction between inherently reflexive verbs (the clitic is "part

[2018-02-04 19:47] jnivre commented on #204
Right or wrong, the current UD guidelines recommend "expl" for inherent reflexives. See: http://universaldependencies.org/u/dep/expl.html

[2018-02-04 19:59] ceramisch commented on #204
Right, but the `expl` guidelines define _inherently reflexive verbs_ as _verbs that cannot occur without the reflexive pronoun and thus the pronoun does not play the role of a normal object_. This is too restrictive in my opinion.

I cannot find any explicit recommendation to use `expl` for:
(a) verbs that, when occurring with the reflexive clitic, have a different sense or subcat frame (what we c

[2018-02-04 21:06] dan-zeman commented on #204
I think we should copy the Uppsala recommendations to the current description of `expl`, although they also talk about relation subtypes. To make things clearer. (I find myself pointing people to the Uppsala report quite often.)

Implicitly, it can be understood (and indeed is understood in some treebanks, e.g. UD_Czech) as a different verb. Then it may fall under the cited definition of inherentl

[2018-02-05 20:05] kasteph opened #527 "Aspect in Tagalog"
In Tagalog, we can have a sentence: `Kailangan ko ang kuwalta`.
[code]
I want to annotate the `Aspect` feature of `kailangan` to be `neutral` or `infinitive` as suggested [here](http://www.hawaii.edu/filipino/Grammar_Topics/Grammar_2-1.html) (`kailangan` is a root verb cf. [this table](http://www.seasite.niu.edu/Tagalog/Grammar%20Activities/Grammar%202/Verbal%20Focus/Verbalfocus-fs.htm)). This als

[2018-02-06 07:27] dan-zeman commented on #527
If the aspect-neutral forms are used (among others) to denote habitual actions, then `Aspect=Hab` is probably a good choice. I would advise against introducing a new value `Aspect=Neut`. The more UD-like way of saying that this form does not subscribe to any particular aspect would be simply omitting the `Aspect` feature.

[2018-02-06 10:36] kasteph commented on #527
Thanks @dan-zeman. I will annotate these cases with `Aspect=Hab` unless there will be a new value added in the future for Aspect 😃

[2018-02-06 10:36] #527 closed, assigned to nobody

[2018-02-07 16:26] ceramisch commented on #204
@dan-zeman I see your point about different sense = different verb (and yes, it's a fuzzy line). But it would be good to mention this explicitly.

Also, the use (b) above, of reflexive clitics to indicate middle/passive alternations, is very frequent in some langues (more frequent than inherently reflexive verbs) and it would be good to mention this in the guidelines.

I have checked the consisten

[2018-02-07 17:15] jnivre commented on #204
Improving the guidelines is always a good idea, and we need to develop better mechanisms for making this happen. The universal guidelines are the responsibility of the core guidelines group, so we should assign this issue to someone in that group, who can implement the necessary changes once the issue has been resolved. In this case, however, we should also coordinate with the working group on exp

[2018-02-07 18:04] sylvainkahane commented on #204
Marking the inherent reflexivity  is quite semantic, especially when the verb has other senses where the reflexive marker can commute with other words and phrases. I am not sure we should annotate that at the syntactic level of UD. This concerns an annotation of verbal idioms.

The main problem for the syntactic annotation of  inherently reflexive verbs which do not have another sense, such as Fr.

[2018-02-08 03:39] yuvalpinter commented on #162
With regards to POS tagging, would this make the `is` an AUX?

[2018-02-08 08:20] jnivre commented on #162
Yes. The current guidelines for AUX say: "The class AUX also include copulas (in the narrow sense of pure linking words for nonverbal predication)."

[2018-02-08 09:10] gossebouma commented on #204
The[ dissertation](https://searchworks.stanford.edu/view/11849252) by Natalie Silveira discusses SE in Romance languages from a UD perspective. She concludes that in all cases mentioned above these should be labeled expl.

[2018-02-13 10:49] lauma commented on #424
Just a note: I am currently redoing some parts of Latvian UD transfromation scripts and I got to this problem as well. I will at least for now use "head_lemma=reconstructed_lemma, nonhead_lemma=empty, upos=X" variant, as it is the one I can get from the original data.

Explanation about original data: In original data we have PDT-inspired error correction, thus, there is available information that

[2018-02-17 18:04] michaelizer opened #529 "Spanish translation for the entire documentation"
Greetings,

I would love to contribute to the project with the Spanish translation, primarily to help Spanish speakers understand and get involved into it. Spanish is my native language so don't panic. I work for the Utopian.io community. Say it and I'll start immediately.

Thanks in advance for your time.

[2018-02-17 20:05] dan-zeman commented on #529
It would be obviously useful to have but I'm afraid it would get out of sync sooner or later. "The entire UD documentation" is not a fixed body of text, it is constantly evolving and it will never be finished. If the Spanish translation shall help the users rather than confuse them, then all translated pages should contain a disclaimer pointing to the source text, indicating the exact revision tha

[2018-02-18 00:01] michaelizer commented on #529
sounds good fo me

[2018-02-19 15:35] ioan2 opened #530 "annotation of "se" and "dont" in French"
Hello,

This issue is close to issue #461, since the annotation of the reflexive pronoun "se" has been discussed, but no decision seems to have been taken.
In fr-ud-train.conllu V2, "se" has been annotated 1487 times as an "obj" relation and 574 times as "expl". I would like to understand the motivation for this. In traditional French grammar there is an distinction between "verbes pronominaux" an

[2018-02-19 15:38] dseddah commented on #530
Hi,
Can I ask if you noticed the same patterns in the other French treebanks (the se was annotated manually in the Sequoia and the FTB treebanks for example) ?

Djamé

[2018-02-19 15:40] ioan2 commented on #530
Hi Djamé,
not yet, but I will check as sson as I can

Johannes

[2018-02-20 09:32] gossebouma commented on #530
I counted nsubj + verb + _se_ in UD_French, UD_French-Sequoia and UD_French-ParTUT (v2.1). By checking for nsubj I hope I avoided including occurrences of _se_ in passives. French-PUD and French-FTB do not have lemmas so I skipped those.

Here is an overview of the number of distinct verb lemmas occurring with _se_ as obj, with _se_ as expl, and the number of roots that occur with both se/expl and

[2018-02-20 11:00] ioan2 commented on #530
Hi
I just checked UD_French-Sequoia for "dont" and there are instances of "iobj" as in UD_French:

- sent_id = emea-fr-dev_00024: "...la perfusion dépend de la manière dont le SCA doit être traité: "
- sent_id = Europar.550_00003: "...les producteurs de viande de boeuf et de mouton, dont on attend aujourd'hui qu'ils vendent leurs produits..."

Johannes

[2018-02-20 13:40] perrier54 commented on #530
Regarding the annotation of _"se"_, there is a very simple criterion for deciding between EXPL, OBJ and IOBJ:

- If it is possible to replace _"se"_ with _"le",_ without changing the meaning of the verb, put OBJ.
- f it is possible to replace _"se"_ with _"lui"_, without changing the meaning of the verb, put IOBJ.
- In other cases, put EXPL.

Some examples:
_Il se lave (he is washing himself)_ ->

[2018-02-20 16:21] claudiafreitas commented on #204
In portuguese, `-se` as passive voice doesnt exist anymore. We interpret this kind of `-se` construction as an indication of impersonalization. So, as to `-se`, both sentences are interpreted in the same way:

1. - "_Vendem_-`se` _casas_" ("house for sale"; lit. _Sell_`-se` _houses_) is understood as "someone sells houses"
2. - "_Precisa-_`se` _de casas_" (lit. _Need_`-se` _houses_) is understood

[2018-02-20 17:16] ioan2 commented on #530
I agree with this differentiation for OBJ/EXPL, and I checked the first 10 examples of "se" in fr-ud-train.conllu, and I think 8 of them which are OBJ should be EXPL in this case

[2018-02-26 15:31] gossebouma opened #531 "relative pronouns that head a relative clause"
When validating my first attempt at enhanced dependencies for Dutch, the following (abbreviated, translated) gives an error:

He became chairman, which he still is

Basic dependencies:

acl:relcl(chairman,which)
nsubj(which,he)
cop(which,is)

The underlying treebank analyzes the relative pronoun as a predicative complement of the copula is, which seems reasonable. Conversion to enhanced, however,

[2018-02-26 15:49] jnivre commented on #531
It seems to me that what we want to infer in this case is that "he" is an nsubj of "chairman", and possibly that "is" is a cop of "chairman". Hence, when the relative pronoun is the root of the relative clause, we should NOT add a relation from its head to its co-referential element, but relations from the co-referential elements to its dependents, possibly excluding functional relations. The acl:

[2018-02-26 20:12] dan-zeman commented on #531
I agree with Joakim.

And I think that this is an excellent example that should be added to the guidelines.

[2018-02-27 09:58] gossebouma commented on #531
It does make sense, but I was afraid someone would suggest this, as it complicates things quite a bit.

For now, I will do the minimal modifications to avoid the self-reference (ie NOT add acl:relcl(chairman,chairman).

I will think a bit more about  part 2 of the proposal (add relations from the antecendent noun to all other dependents in the relative clause), as that adds quite a bit of complexi

[2018-02-27 11:10] jnivre commented on #531
It seems to me that the case with the relative pronoun being the root of the relative clause should only occur precisely when it is a nominal predicate. Therefore, we can perhaps simplify the rule to say that, if the relative pronoun is the root of the relative clause then we should add an nsubj relation from the antecedent to the nsubj of the relative pronoun.

[2018-02-27 13:34] gossebouma commented on #506
I support the idea of doing splits on the document level. For the UD_Dutch-LassySmall (Wikipedia) corpus, the current split is based on random sentence shuffle. I could redo it based on document ids but then the next release would be significantly different from the current release, with material from one (current) split possibly ending up in the other (new) split. Is this advisable? (Even if we w

[2018-02-27 19:29] claudiafreitas commented on #331
@dan-zeman , any news here?

And what about ADV? "Adverbs are words that typically modify verbs for such categories as _time_..."

1. The meeting will be at _3:30pm_
2. The meeting  will be at _15h30min_
3. The meeting will be _tomorrow_

Should we consider 20h30min a single token? (I think so, just checking). And what if there is a blank? “20h 30min”? Still a single token? (I think so…)

[2018-02-28 16:56] dan-zeman commented on #506
Since this would be a one-time, well motivated change, and the new split would be arguably better, I would vote for making an exception from the stability across releases rule. @jnivre, what do you think?

[2018-02-28 18:07] jnivre commented on #506
It is clearly a case of two sound principles coming into conflict, and I therefore have no strong views either way. But I agree with Dan that an exception may be motivated.

[2018-02-28 21:58] dan-zeman commented on #331
I don't think we must introduce tokens with spaces just because they happen to be complex time expressions. Connecting _20h_ and _30min_ via a `flat` relation looks perfectly satisfying to me.

[2018-02-28 22:30] arademaker commented on #331
What about http://universaldependencies.org/u/dep/nummod.html ??

We will have cases with flat and  nummod ? I suspect many parsers will not take into consideration the misc column for learn the spaceAfter as a justification for the flat. We will introducing inconsistencies for the parsers.

We can also use the multiword tokens.

Sent from my iPhone

[2018-03-08 07:35] lauma opened #533 "Elided non-predicates in enhanced dependencies"
Enhanced dependency description suggests to use null node for elided predicates. Treebank we convert Latvian UD from does the same not only for predicates but also for other parts of sentence if such part has dependants.

For example, _Es dzeru baltu kafiju, tev patīk melna_ "I drink white coffee, you like black [coffee]" would feature elided node for coffee in original data, because this missing

[2018-03-08 08:05] lauma opened #534 "Typographical error correction and missing punctuation"
The treebank we are converting Latvian UD data from contains PDT inspired typographical error correction system, and we are currently working on how to incorporate the most of this information in the UD treebank.

While regarding misspelled words it feels that I understand how it is intended to be in UD, I would like to have some discussion/clarification about punctuation.

The thing is, Latvian h

[2018-03-08 11:36] jnivre commented on #534
I don’t think we have any general guidelines for how to deal with typographical errors, but it should definitely be kept outside the morphological and syntactic annotation, so MISC sounds right. In particular, null nodes should never be used for punctuation (nor any other items that do not take dependents of their own). That would be clear violation of the guidelines.

[2018-03-08 11:38] dan-zeman commented on #534
Related: https://github.com/UniversalDependencies/docs/issues/330

[2018-03-08 11:39] jnivre commented on #533
UD is very restrictive null nodes, so they should only be used for predicates in gapping constructions. For noun phrases we simply promote the adjective or similar to be the head of the phrase. Please see the guidelines.

[2018-03-21 16:12] Stormur opened #536 "Appositions and their introducing elements"
Looking at the discussion and the guidelines, I found no satisfying way to define what an apos is but, more fundamentally, what the deprel of an element introducing an apposition is.

1) The `appos` deprel seems to be much more restrictive than the PDT `Apos` construction: "a nominal immediately following the first noun that serves to define, modify, name, or describe that noun". But this ignores

[2018-03-21 17:33] jnivre commented on #536
The UD notion of apposition is quite restrictive and (at least according to the current guidelines), should only be used for a non-restrictive co-referential noun phrase. In this sense, it can be thought of as a subtype of nmod, conceptually but not formally. For other types of non-restrictive modifiers and parentheticals, other relations should be used. If the head word is a predicate, "acl" is o

[2018-03-28 01:09] arademaker opened #537 "mark versus case deprels"
The deprel `mark` introduces clauses:

http://universaldependencies.org/u/dep/mark.html

But the `case` deprel description can also be used for clauses? See the  'noun or clause' in the last sentence in the fragment below:

http://universaldependencies.org/u/dep/case.html

[2018-03-28 02:51] nschneid commented on #537
Good point—guessing that "clause" shouldn't be there. For example, in the UD_English-EWT corpus *of* in *thinking of waiting* is treated as a subordinator with `mark`.

[2018-03-28 07:33] jnivre commented on #537
Yes, this is a mistake. I actually fought for allowing "case" also with clauses, because I think there are cases in Swedish where you lose a generalisation otherwise (and my colleague @LarsAhrenberg agrees), but I lost this battle and have changed the annotation for Swedish in order to be consistent with other languages. See #257.

I will update the documentation.

[2018-03-28 07:33] #537 closed, assigned to nobody

[2018-03-28 07:41] gossebouma commented on #537
So does this mean that in general, whenever a finite clause is introduced by a preposition, the preposition should be assigned the rel mark instead of case? In Dutch there are verbs selecting for a obl PP that can contain either an NP or a clause:

hij overtuigd hem van zijn gelijk
he convinces him of his point-of-view

hij overtuigd hem er van dat Arnhem kan worden veroverd
het convinces him EXPL

[2018-03-28 07:50] jnivre commented on #537
Yes, this is what the current guidelines say. The examples in Dutch are parallel to the ones in Swedish that I originally thought motivated a "case" analysis. Maybe we are suffering from "anglocentricity" here, as it seems that English is peculiar among Germanic languages in not readily allowing prepositions with nominal clauses. :)

The question of whether "mark" implies "SCONJ", or whether it is

[2018-03-29 07:41] ioan2 opened #538 "Gender for nouns in UD_Arabic"
Hello,
I have just realised that nouns do not have a Gender value in ar-ud-train.conllu nor ar-ud-dev.conllu, neither has the taglist conversion table (http://universaldependencies.org/tagset-conversion/ar-padt-uposf.html). However, adjectives, numerals, pronouns and verbs to have Gender information.
Is this a bug or something missing in the underlying original (PADT?) treebank.
I could provide a

[2018-03-30 20:26] sylvainkahane commented on #537
In French (as well as in many other languages), a NOUN, an infinitive VERB and a finite verb introduced by a SCONJ can commute in many syntactic positions (see the transfer theory of Tesnière about infinitive and SCONJ). It is true in subject positions, in object positions and after a preposition. It would be very problematic considering that an ADP cannot introduce an infinitive verb or a finite

[2018-03-31 07:04] jnivre commented on #537
It is precisely because of the third type of example that we keep ADP in Swedish, to distinguish it from the first transfer, which is SCONJ. However, the syntactic relation is mark in both cases.

[2018-04-03 17:03] EricaBiagetti opened #539 "filling the MISC field in ranges for Sanskrit compounds"
In the Sanskrit Treebank every form has a feature <code>Gloss</code> in the MISC field, in which a translation of the form (and *not of the lemma*) is provided.
The problem arises for compounds words, which happen to be very common in Classical Sanskrit: in Sanskrit compounds the first element lacks morphological inflection and surfaces as the stem, this will be recognized with a feature<code>Comp

[2018-04-04 06:43] dan-zeman commented on #539
The Gloss attribute can be put on the line of the multi-word token. This line must have underscores in most columns but the MISC column is an exception (http://universaldependencies.org/format.html#words-tokens-and-empty-nodes).

[2018-04-04 11:55] dan-zeman commented on #538
It is missing in the original PADT (ElixirFM) tagset. Apparently the tags cover inflectional gender but not lexical gender. I am not sure that guessing gender is a good idea because otherwise the source tags have been manually checked.

[2018-04-05 12:22] lauma commented on #533
Thanks. We corrected our data for v2.2.

[2018-04-05 12:22] #533 closed, assigned to nobody

[2018-04-05 12:26] lauma commented on #534
For version v2.2 we ended up with flags in Misc column to indicate (a) wrong wordform, (b) missing comma after the wordform or (c) that the comma is unmotivated.

If some guidelines are formed in future, we can tweak our representation.

[2018-04-05 12:26] #534 closed, assigned to nobody

[2018-04-12 07:18] tzshi opened #540 "punct having dependents"
From http://universaldependencies.org/u/dep/punct.html , it says `punct` "can never have dependents".
However, there are many cases in the current version that they do have dependents.

I checked English, French, German, and Czech. All of these treebanks found such instances.
I used Grew to identify: http://match.grew.fr/?custom=5acf06b85566b&corpus=UD_English

Most cases should be due to annotati

[2018-04-12 08:45] dan-zeman commented on #540
I think that cases like _(...)_ should be an exception, although the current guidelines do not mention it. In case of paired punctuation (brackets, quoatation marks) within one sentence, where the only contents is punctuation, the rule might be that the paired symbols are still attached as dependents of the symbol inside. But it is also possible that the punctuation inside is tokenized into multip

[2018-04-12 08:46] martinpopel commented on #540
Udapi has a svalidation tool which highlights these cases and several more punctuation-related bugs (e.g. non-projectivities), see [ud.MarkBugs](https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/markbugs.py#L134).
It has even a tool which fixes punctuation bugs -- [ud.FixPunct](https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/fixpunct.py).
I agree there are exception

[2018-04-12 08:52] olesar commented on #540
Other examples:* * *- - - - -that can be used as separators between text sections.

[2018-04-12 09:02] dseddah commented on #540
Hi,
what's the policy in term of punctuation used as interjection eg.
he said "the sky was yellow" (!!!)

best,
Djamé

[2018-04-12 09:53] dan-zeman commented on #540
@dseddah : No official policy so far, as far as I know. Otherwise this is what this issue is mainly about :-)

[2018-04-12 13:48] Stormur opened #541 "Veni, vidi, vici - parataxis or conj?"
As the title suggests, I found a contradiction in the documentation regarding the treatment of the Latin sentence

`Veni, vidi, vici`
`I came, I saw, I won`

In the [documentation](http://universaldependencies.org/u/dep/conj.html), it is listed as an example of asyndetic co-ordination, so deprels are `conj` there; in slide 26 of the [UD tutorial](http://universaldependencies.org/eacl17tutorial/con

[2018-04-12 14:25] amir-zeldes commented on #541
+1 for parataxis here, but I think you can also have conj for verbs with zero VP coordination, i.e. if they share a subject:

[code]

Here conj would let you recover the subject deterministically, but parataxis wouldn't. In the Latin pro-drop cases this doesn't really make a difference, but if there's a shared subject I would go with conj (that's what we did in UD_English-GUM anyway).

[2018-04-12 15:02] nschneid commented on #541
To me the clearest case of `conj` without a coordinating conjunction is seen in headlinese:

    Budget's oil provisions divide Congress, White House

The comma is just a terse substitute for "and". A full sentence paraphrase might be *The budget's oil provisions divide Congress and the White House.*

[2018-04-12 15:06] dan-zeman commented on #541
I would not restrict asyndetic coordination to non-verbs (and I would not restrict parataxis to verbs).

This boundary indeed is blurred and I suspect that different UD'ers have different opinions here but unlike some of the more prominent issues, we haven't tried to sort it out and come up with more detailed guidelines.

I am personally not fond of `parataxis` competing with `conj`. I would alway

[2018-04-12 15:18] nschneid commented on #541
I think I have the opposite instinct: for me, the so-called "comma splice" is prototypical [parataxis](http://universaldependencies.org/u/dep/parataxis.html):

    I lost my wallet, hopefully somebody will find it.

This can be paraphrased either as separate sentences or with a coordinating conjunction.

@dan-zeman, would you think `conj` could apply there? If so, maybe we should consider renaming

[2018-04-12 15:29] amir-zeldes commented on #541
I agree with @nschneid and I think the example with Congress + White House is also `conj` because it is also a case of structure sharing (they're part of the same argument structure). In the wallet example, both clauses are fully independent.

[2018-04-12 15:37] dan-zeman commented on #541
@nschneid : Yes I would think `conj` could apply there and I believe we would find such examples of `conj` in UD Czech because it was converted from data where such things are annotated as coordination. (And because the source corpus distinguishes parentheticals, but not parataxis in the broader UD sense.)

But I'm also pretty sure that other people who participated in shaping the guidelines would

[2018-04-12 16:00] sylvainkahane commented on #541
We have to face this problem everytime when we work with spoken copora. You have no punctuation and you have to decide when a sentence ends or not. We use the following criteria for coordination:

I think it is a good criteria, easy to apply.

Example: _Veni, vidi, vici_. No governor, I can't use conj. So I use `parataxis`. If it was a spoken data, I would have considered that I have three sentenc

[2018-04-12 16:05] dseddah commented on #541
talking about parataxis, would you make the same analysis for

No. Way!

?

or

IM. POS. SI. BLE !

without the period I would have gone with goes_with for the second case  but here it could  be parataxis:goes_with (if it doesn’t exist yet, I’m voting for it)

Djamé

[2018-04-13 11:05] Stormur opened #542 "The preposition between iobj and obl"
Reading [the tutorial](http://universaldependencies.org/eacl17tutorial/intro.pdf), at page 5 I found this example:

`Valencia da la bienvenida a los participantes de EACL`
`Valencia welcomes the participants to EACL (= "... gives the welcome to the participants ...")`

Now, we find here the deprel `iobj(da,participantes)`. However, in the [documentation](http://universaldependencies.org/u/dep/iobj

[2018-04-13 11:37] jnivre commented on #542
The tutorial example (embarrassingly enough) is an error. It should have been obl. Thanks for catching this.

The Spanish obj with prepositions is a special case, because Spanish regularly (for all verbs) use a preposition in case the direct object is (a) animate and (b) specific. Hence, it has minimal pairs like:

busco una secretaria = I am looking for a secretary (non-specific)
busco a una secr

[2018-04-13 13:20] Stormur commented on #542
OK, so probably my confusion lies in thinking more semantic-orientedly than morphosyntactic-orientedly, and I can understand the different take on cores and adjuncts.
However, don't you think that "dative phrases" in some languages, e.g. in Italian, are regularly enough introduced by an adposition to warrant them the status of `iobj`, using the same point as for a-direct objects in Spanish? For ex

[2018-04-13 13:57] Stormur commented on #536
I understand that `appos` is a very narrow subclass of `nmod`. I'm OK using other types of deprels for other non-restrictive modifiers, even if it is not fully coherent with the source data we are converting into UD, but still I'm uncertain with regard to the introducing element, for example `scilicet` in Latin. We resolved for now to label it as `advmod:cc`, since it clearly can not be a `mark`,

[2018-04-13 14:23] amir-zeldes commented on #536
We had adnominal cases of "i.e." in UD_English-GUM and went with appos from noun to noun, and attached "i.e." to the second noun as advmod. I'm not sure if this is a good solution for clausal cases, but for NPs it looked pretty much like normal apposition (coreference, and if we interpret i.e. as modifying the second noun, then adjacency as well).

[2018-04-13 14:25] amir-zeldes commented on #542
+1 for allowing obj with an adposition (this is normal e.g. in Japanese, and many languages alternate by construction, e.g. Hebrew, Coptic)

[2018-04-13 14:33] bulbulistan commented on #542
We’re talking about differential object marking here, aren’t we? So it’s a
question of, well, differences in marking of the object based on various
semantic criteria, but the primary criterion is still the coreness of the
argument and, by extension, the valency of the verb. Take Spanish “amar” in
“Amo a Lucía”: the “a” does not change the valency frame of the verb,
 “Lucía” is still an obj.

El dv

[2018-04-13 15:03] jnivre commented on #542
Yes, that is precisely the point. There is no general rule in UD that says that a core argument can never be accompanied by an adposition. It all depends on how core arguments are encoded in the given language. But it has to apply to all (or the majority) of core arguments and shouldn't depend on lexical properties of the verb.

I agree that "dative objects" in Romance (and other) languages are bo

[2018-04-13 15:56] jnivre commented on #536
I think advmod sounds reasonable for the introducing element. Keep in mind that UD is a coarse-grained system that cannot capture all the fine distinctions that you can have in a language-specific system.

[2018-04-13 17:37] tzshi opened #543 "fixed having dependents"
Although not explicitly mentioned in the documentation (or I didn't find it), it seems that for `fixed` (and maybe applies to `flat` as well) MWEs, the current analysis assumes a rather flat structure that the first word is treated as the head, and all other words are dependents to the first word. Out of this "local" structure, the entire MWE will behave as a single unit.

There are some current a

[2018-04-13 18:03] martinpopel commented on #543
I agree, the guidelines should say whether a non-first word of a `fixed` or `flat`structure may have any dependents or not (in which case it is easy to automatically re-attach them to the first word). Currently, I don't see any reasons for such dependents.

As for the Czech "než-li" example: usually upos=PUNCT implies deprel=punct and in that case, there is [a rule](http://universaldependencies.or

[2018-04-14 07:11] sylvainkahane commented on #543
I agree that the dependent of a `fixed` construction can only be on the first node.
But not for `flat`. `flat` is for headless constructions, not for frozen constructions: AB is `flat` if you cannot decide which of A and B is the head. But A and B can be complex phrases.

[2018-04-14 07:22] jnivre commented on #543
@sylvainkahane  is right. There is a clear difference between `fixed` and `flat`in this respect.

[2018-04-14 08:22] martinpopel commented on #543
OK, so
- the documentation of `flat` needs an example where non-first word has (non-`flat`) dependents
- the documentation of `fixed` needs a rule that non-first words cannot have (non-`punct`?) dependents.

What about the punctuation in fixed expressions?
Should we make an exception that `punct` can be attached to `flat`? Or should we make (explicit) an exception that PUNCT can be `fixed` (instea

[2018-04-14 09:23] dan-zeman commented on #543
I think that punctuation should be always attached as `punct` and never as `fixed`. I would also support the rule that punctuation is exception and can be attached (if it accords with the other rules for punctuation) to a word whose deprel is `fixed`.

[2018-04-14 17:04] dseddah commented on #543
never as "fixed" ? idk, how about  dashes in cities name (Pont-à-Mousson) or in some multi word expression such as "peut-être" (maybe), "c'est-à-dire" (meaning, that is,..)  those punctuations are part of the mwe and so should labeled as fixed.

[2018-04-14 17:38] mcdm commented on #543
The words you give as examples should probably not be split, I think.

[2018-04-14 17:57] jnivre commented on #543
I agree. Why go to the trouble of splitting them only to connect them by "fixed"?

[2018-04-14 19:11] martinpopel commented on #543
There are no clear universal guidelines when to
* keep as one token and one word
* keep as one token, but multiple words (using multi-word token)
* split into multiple tokens with SpaceAfter=No.

According to @dan-zeman there should be language-specific guidelines for this. My suggestion is: it should be consistent within the language (and related languages) and for a given punctuation symbol. We

[2018-04-14 19:39] dan-zeman commented on #543
Even if the hyphen is a separate token and part of a fixed expression, it does not necessarily mean that it must have the `fixed` deprel. It can still be `punct` if the special rule for punctuation gets higher priority than the special rule for fixed expressions. Elsewhere, punctuation is part of coordination and we also attach it as `punct`, not as `cc`.

[2018-04-14 20:57] olesar opened #544 "two or more words not split by space"
UD has relations such as *goeswith* to label words written separately in text that is not well edited.
However, there might be the opposite case in not-well-edited/crawled texts and especially web texts (media, blogs..) when two or more words are written together:
If therearesuch beings, then, theremight be a miracle...

Are there any guidelines on their tokenization (at least in those languages w

[2018-04-14 21:15] martinpopel commented on #544
@dan-zeman in [Typos.pdf](https://github.com/UniversalDependencies/docs/files/428471/Typos.pdf) suggests, we should just use `SpaceAfter=No` in the "*thecar*" example.

However, I would say tokens boundaries can be only on whitespace or punctuation, so *therearesuch* must be one token.
Obviously, we would like to annotate it properly, so we should split it to multiple words via a multi-word token.

[2018-04-14 21:16] dseddah commented on #544
Hi,
what we’re doing in our own UGC TB is to treat them like regular contraction and spaceafter=no   but it’s only a workaround bc the spaceafter here is not mandatory at all (it’s just to make sure we could train a proper tokenizer at some pont)

1-2 thereis
1 there ….	spaceafter=no
2 is

what’s more difficult is case like  "the reis » or french c t (for c’était, it was). Here you would need a 2

[2018-04-14 21:32] olesar commented on #544
Djamé @dseddah, thank you for bringing the "the reis" (instead of the "there is") case, it is very common in my data. Typo.pdf does not include such cases.

[2018-04-14 21:37] dseddah commented on #544
if you think about it, we can even imagine cases where disambiguation such sequence would be impossible, so only lattices input would be viable.

[2018-04-15 13:14] #542 closed, assigned to nobody

[2018-04-15 18:01] dseddah opened #545 "UGC, verbs out of NPP and UD "Home Alone'd""
Talking about UGC, I just saw this on twitter

"When he was 8, he Home Alone'd a Nazi"

https://twitter.com/CharmingGrump/status/984899840189476864

How should we annotate "Home Alone'd"  ?

1-3 Home Alone'd
1 Home    ?         3   goeswith
2 Alone    ?         1    flat
3 'd                     V    ....

Djamé

[2018-04-15 18:10] nschneid commented on #545
Ha, nice example of zero-derivation of a verb!

I don't think the past tense marker should be a separate syntactic word here—just treating "Home" as goeswith and "Alone'd" as a verb seems fine.

[2018-04-15 18:49] dseddah commented on #545
Yeah, we could but we're loosing the game play with the movie title by treating it as if the poster would have written "googled". He intentionally separated Home Alone and the past marker.
Let say someone writes
"I love those Home Alone-based  stories!"  it should be expected that we can retrieve all references of Home Alone according to some patterns.   For example in that example, the -based wou

[2018-04-15 19:20] nschneid commented on #545
It feels odd to separate a bound morpheme. My understanding of the POS categories is that they all are intended for words with free morphemes or clitics. "'d" is not really a verb; rather, "Home Alone'd" is a verb derived from a proper name (and "Home Alone" could similarly be used as a present-tense verb, without any overt verbal morphology).

UD is a lexicalist framework—it doesn't normally deco

[2018-04-15 19:34] bulbulistan commented on #545
Well, I don't know about intentionally: if you were to ask the user why, do
you think they could offer a halfway coherent explanation? More likely they
saw a similar usage somewhere else and think this is how it should be done.
And let's not get bogged down by orthography (which is also why we have
goeswith): whether written separately, together or with a hyphen, what we
have here is a verb [hoʊmə

[2018-04-15 20:02] dseddah commented on #545
Actually, i did ask him. I let you know if he answers something.

Let’s not get started with the orthography, I’m in the « let’s handle this at the token level » camp.
« goeswith » is a workaround to avoid the need of a proper tokenization layer.

what bothers me is not the morphological analysis itself, it’s the fact that looking for that kind of pattern
is almost difficult in our treebanks. I kn

[2018-04-15 20:24] bulbulistan commented on #545
You can't have it both ways: if you want to deal with the token level, you
have to deal with the orthography, because that is the major reason we have
"home alone'd" but "double-booked". And that's still a relatively new
thing, until recently you'd even get "work'd" and "explain'd" (I wonder how
diachronic treebanks of English handle this).
Here, however, UD rules apply: we are dealing with syntac

[2018-04-15 20:41] dseddah commented on #545
I’m not sure I’m following why do you think I want anything « both ways » ?

just to make myself clear, I wasn’t discussing the fact that ‘d is a suffix,
I was asking how best to analyse this new verb so that we can keep
track of its compositional nature.

This is important for everyone working on non-canonical texts and I think
 that being more flexible in that aspect could be actually helpful.

[2018-04-15 21:43] dseddah commented on #545
so quick follow-up, the poster answered this to my questions
(sorry to disturb you but we're discussing your use of "Home Alone" in "home alone'd" in a linguist mailing list (https://github.com/UniversalDependencies/docs/issues/545 … ) may I ask why you added the quote ? was it to separate clearly the movie from the past tense marker?
or is it just a common pattern  like "googled" or smthg? )
----

[2018-04-16 07:55] bulbulistan commented on #545
You said "Let's not get started with the orthography" and at the same time
described yourself as positioned in the "« let’s handle this
at the token level » camp." Tokenization, however, strongly depends on
orthography, as I illustrated with my examples.

And I believe the consensus so far is that separating out the 'd as V is
probably not the best way to go. Also, and that's only my opinion, the

[2018-04-16 07:56] bulbulistan commented on #545
Thank you. So there is no actual linguistic analysis behind it, is there?
It looks to me like a mere convention of genre/social group (or perhaps
scribal practice)...

On Sun, Apr 15, 2018 at 11:43 PM, Djamé <notifications@github.com> wrote:

[2018-04-22 19:25] nschneid commented on #517
@sebschu do you have an opinion on pronoun lemmatization?

[2018-04-23 15:15] dan-zeman commented on #228
Closing. No new comments for a long time, and there does not seem to be plans for standardizing this in the foreseeable future.

[2018-04-23 15:15] #228 closed, assigned to nobody

[2018-04-23 15:17] dan-zeman commented on #146
Closing. This issue seems obsolete now that 1. the table has been upgraded to v2; 2. the documentation is being reworked with much less focus on these tables.

[2018-04-23 15:17] #146 closed

[2018-04-23 15:18] dan-zeman commented on #270
Closing. We now have `flat:name` (or just `flat`) and the validator makes sure it is left-to-right.

[2018-04-23 15:18] #270 closed, assigned to manning

[2018-04-23 15:22] dan-zeman commented on #266
@jnivre, have these bugs been fixed?

[2018-04-23 15:30] dan-zeman commented on #253
Closing as this is a v1 issue (now we have `flat:name` instead of `name`) and there are (or have been) newer issues with a similar topic.

[2018-04-23 15:30] #253 closed, assigned to jnivre

[2018-04-23 15:34] #289 closed, assigned to nobody

[2018-04-23 15:37] #277 closed, assigned to osenova

[2018-04-23 15:39] #255 closed, assigned to nobody

[2018-04-23 15:40] #249 closed, assigned to slavpetrov

[2018-04-23 15:42] jnivre commented on #266
Embarrassingly enough, the answer is no. I will take care of this (but not now).

[2018-04-23 15:46] dan-zeman commented on #232
Making a static copy completely self-contained is not (and apparently will not be any soon) our top priority. Closing.

[2018-04-23 15:46] #232 closed, assigned to nobody

[2018-04-23 15:47] #203 closed

[2018-04-23 15:49] #200 closed

[2018-04-23 15:51] dan-zeman commented on #198
Closing as obsolete. In UD v2, words of a number are connected via `flat`.

[2018-04-23 15:56] #125 closed

[2018-04-23 16:00] dan-zeman commented on #294
Closing as there is now an issue for this bug directly at the treebank repository: https://github.com/UniversalDependencies/UD_Portuguese-GSD/issues/5

[2018-04-23 16:00] #294 closed, assigned to dan-zeman

[2018-04-23 16:16] amir-zeldes commented on #198
@dan-zeman this is currently not the case in English-GUM, which was modeled after EWT (both corpora currently use `compound`). This is convenient because then SD `number` can be converted directly to compound, and there's no need to ensure left-to-right. Is there a plan to change to flat in English/other languages? Also @sebschu

[2018-04-24 04:17] nschneid commented on #311
Reopening as this remains inconsistent in English-EWT.

## Not X but Y

E.g. "Not cheep , but very fast"; "They are not a national park , but are extremely beautiful .". This is treated as coordination, and "not" attached as `advmod`.

## Not only X (but (also)) Y

This is the harder and more frequent case. Several analyses are found:

### With *but*

1. Not only are these people completely ineffi

[2018-04-24 07:04] dan-zeman commented on #198
I do not know what is the current situation in the individual treebanks. I know that the v1 guidelines recommended `compound` for this. But somehow this sneaked into the v2 guidelines for `flat`: http://universaldependencies.org/u/dep/flat.html#dates-and-complex-numerals

[2018-04-24 07:07] dan-zeman commented on #260
Tentatively closing, although there does not seem to be a single conclusion.

[2018-04-24 07:07] #260 closed, assigned to jnivre

[2018-04-24 07:14] dan-zeman commented on #308
Tentatively closing. Feel free to reopen if unresolved issues remain in UD v2.

[2018-04-24 07:15] #310 closed, assigned to nobody

[2018-04-24 07:18] dan-zeman commented on #341
Closing, as the original issue has been fixed in UD_Russian-SynTagRus.

[2018-04-24 07:18] #341 closed, assigned to nobody

[2018-04-24 07:22] #297 closed, assigned to nobody

[2018-04-24 07:24] #276 closed, assigned to dan-zeman

[2018-04-24 07:31] dan-zeman commented on #364
The documentation of the enhanced representation of relative clauses has improved, so I am closing this issue.

@nschneid : I believe that in _Whose mother became a pirate?_, we have either `det(:poss)` or `nmod(:poss)` between _mother_ and _Whose_, depending on how the language distinguishes possessive determiners/pronouns. I suspect that in English it would be `nmod:poss` but I did not check.

[2018-04-24 07:31] #364 closed, assigned to nobody

[2018-04-24 07:37] #381 closed, assigned to nobody

[2018-04-24 07:39] #363 closed, assigned to spyysalo

[2018-04-24 07:44] dan-zeman commented on #356
@spyysalo : Feel free to draft! Others can add their thoughts and we can have a holistic documentation of coordination at the end. You may want to start a working group for coordination in the [working groups section](http://universaldependencies.org/workgroups/).

[2018-04-24 07:50] #372 closed, assigned to nobody

[2018-04-24 07:52] #384 closed, assigned to nobody

[2018-04-24 07:54] #393 closed, assigned to dan-zeman

[2018-04-24 07:58] dan-zeman commented on #250
The discussion has shifted from the original issue and the documentation ecosystem has changed a lot, so I am closing this issue but feel free to open new, more focused issues.

[2018-04-24 07:58] #250 closed, assigned to fginter

[2018-04-24 08:00] #373 closed, assigned to spyysalo

[2018-04-24 08:13] dan-zeman commented on #274
OK, @tlynn747, can the issue be closed then?

[2018-04-24 09:13] jnivre commented on #311
First of all, I think it is coordination in all cases. Depending on your preference, you could perhaps use parataxis when there is no overt "but", but there is no evidence that there is subordination, so "advcl" is out. I am less certain about the relation for the "not only". At first, I thought "advmod" seemed fine (and I think this is what we have in the Swedish treebanks) but I agree that "not

[2018-04-24 11:05] #409 closed, assigned to nobody

[2018-04-24 11:06] #416 closed, assigned to nobody

[2018-04-24 11:11] dan-zeman commented on #419
I think that this section is OK now. "Promotion by Head Elision" is a subsection of "The Status of Function Words", and I would argue it belongs there. The superordinate section is not _only_ about the fact that function words cannot have dependents.

[2018-04-24 11:16] dan-zeman commented on #421
No new posts for more than a year, so I am closing this. I'd say that the outcome is (still) that `PUNCT` <=> `punct`.

[2018-04-24 11:25] dan-zeman commented on #427
The new (but external) validation page, http://quest.ms.mff.cuni.cz/cgi-bin/zeman/unidep/validation-report.pl, now has it. Metadata are not checked by `validate.py` but by a separate script, [check_files.pl](https://github.com/UniversalDependencies/tools/blob/master/check_files.pl#L12-L20), which takes the name of a UD treebank repository as the argument, assumes that a clone of the repository is

[2018-04-24 11:25] #427 closed, assigned to fginter

[2018-04-24 11:34] dan-zeman commented on #429
I think that the English annotation of _#_ is a bug according to the current guidelines. Getting rid of `SYM` would have to be a major change of the guidelines, i.e., UD v3.

Personally, I am indifferent about this. I agree that treating _§_ as a `NOUN` would have some advantages because you could say that only `NOUN` is allowed in certain constructions. But the current approach has its own advant

[2018-04-24 11:36] #430 closed, assigned to nobody

[2018-04-24 11:43] dan-zeman commented on #431
It seems that the bug has been fixed, so I am closing the issue.

[2018-04-24 11:43] #431 closed, assigned to nobody

[2018-04-24 12:29] dan-zeman commented on #432
@msang : Has the bug been fixed and can we close the issue now?

[2018-04-24 12:30] martinpopel commented on #421
OK, so if this is the outcome, we should first fix the guidelines before closing this issue.
Otherwise, someone else will open a new issue on the same topic.
I don't see any changes in http://universaldependencies.org/u/dep/punct.html
Should I add the rule "upos=PUNCT iff deprel=punct" there?

[2018-04-24 12:33] msang commented on #432
Yes, definitely. Thank you @dan-zeman for the reminder!

[2018-04-24 12:33] #432 closed, assigned to nobody

[2018-04-24 12:33] dan-zeman commented on #434
Is this related to the recent discussion about Erzya in https://github.com/UniversalDependencies/UD_Erzya-JR/issues/1?

[2018-04-24 12:41] dan-zeman commented on #433
There are emerging guidelines for standoff annotation in connection with the PARSEME annotation of multi-word expressions (@ceramisch, @savary). We hope to have them incorporated in the UD guidelines later this year. Leaving this issue open as a reminder.

[2018-04-24 12:43] olesar commented on #421
Any emoji as a full stop / question mark / bracket mark? Sometimes they do not fulfill any other (discourse) function.If one labels them as PUNCT, I assume that PUNCT is not a closed class anymore.24.04.2018, 15:30, "Martin Popel" <notifications@github.com>:OK, so if this is the outcome, we should first fix the guidelines before closing this issue.
Otherwise, someone else will open a new issue on

[2018-04-24 12:46] #444 closed, assigned to nobody

[2018-04-24 12:51] ftyers commented on #434
@dan-zeman ... related yes, this is the current analysis:

[code]

[2018-04-24 13:35] dan-zeman commented on #446
Fixed in https://github.com/UniversalDependencies/UD_Arabic-PADT/commit/3fe42b9b2bd21b89cd3bb3c3d8cf6a914bc82e8e

[2018-04-24 13:35] #446 closed, assigned to dan-zeman

[2018-04-24 13:49] dan-zeman commented on #448
Maybe `AUX` + `aux` is not a bad solution in Khasi if it is the way of providing the `Person` and `Number` features (because they are not marked directly on the verb). It resembles some constructions in European languages where we have a non-finite main verb, combined with a finite auxiliary verb; the auxiliary provides the `Person` and `Number` features.

[2018-04-24 13:53] dan-zeman commented on #386
Tentatively closing.

[2018-04-24 13:53] #386 closed, assigned to nobody

[2018-04-24 13:55] #451 closed, assigned to nobody

[2018-04-24 13:57] #452 closed, assigned to nobody

[2018-04-24 14:08] nschneid commented on #311
I found a discussion in the Cambridge Grammar of the English Language (p. 1314):

![img](https://user-images.githubusercontent.com/985263/39192302-e777ed44-47a6-11e8-9793-8d6810d65d9d.png)

"It is questionable whether this construction is a case of asyndetic coordination or simply one of juxtaposition."

[2018-04-24 14:12] jnivre commented on #311
Juxtaposition would imply that "parataxis" is the right relation.

[2018-04-24 14:18] dan-zeman commented on #453
I was surprised to find out that _all_ [is usually tagged](http://hdl.handle.net/11346/PMLTQ-B2XW) `ADV` in _after all_. But if the tag is correct, then the `advmod` relation is correct and `obl` is wrong.

[2018-04-24 14:24] dan-zeman commented on #459
Is there anything that needs more discussion in this issue or can we close it?

[2018-04-24 14:31] dan-zeman commented on #463
Fixed in UD 2.2.

[2018-04-24 14:31] #463 closed, assigned to nobody

[2018-04-24 14:35] dan-zeman commented on #464
Tentatively closing as there does not seem to be enough interest and development in this direction. Feel free to reopen if there are any news.

[2018-04-24 14:35] #464 closed, assigned to nobody

[2018-04-24 14:37] #465 closed, assigned to nobody

[2018-04-24 14:39] #469 closed, assigned to nobody

[2018-04-24 14:40] #470 closed, assigned to nobody

[2018-04-24 14:43] dan-zeman commented on #471
Leaving this open because of the unresolved inconsistency in the Czech data. Setting a new milestone.

[2018-04-24 14:45] dan-zeman commented on #472
I suppose it should be fixed but the English teams have to negotiate here.
@sebschu @amir-zeldes @manning

[2018-04-24 14:55] dan-zeman commented on #467
Link: this is the page that should be extended: http://universaldependencies.org/u/overview/simple-syntax.html#nonverbal-clauses

[2018-04-24 14:59] EricaBiagetti opened #547 "Sanskrit relative-correlative nonverbal clauses with no copula"
In reviewing Sanskrit sentences one problem is how to handle clauses which lack a fine verb form and which are indeed very usual in Sanskrit.
UD guidelines show how to annotate nonverbal clauses with no linking word and clauses with no copula. What is less clear to me, is how to proceed in cases such as the following, with a relative-correlative clause lacking the verb _asti_ "to be".

- यस्यार्था

[2018-04-24 15:00] dan-zeman commented on #467
Added a short note in 4d75e648613471d7ca82e08321a8978dcef88a2b.

[2018-04-24 15:00] #467 closed, assigned to nobody

[2018-04-24 15:07] #473 closed, assigned to nobody

[2018-04-24 15:08] #425 closed, assigned to nobody

[2018-04-24 15:12] #480 closed, assigned to nobody

[2018-04-24 15:17] dan-zeman commented on #482
We need documentation of free relative clauses in the guidelines.

[2018-04-24 15:20] #477 closed, assigned to nobody

[2018-04-24 15:21] #481 closed, assigned to kanayamah

[2018-04-24 15:23] #468 closed, assigned to nobody

[2018-04-24 15:30] #487 closed, assigned to nobody

[2018-04-24 15:36] amir-zeldes commented on #381
Just noticed this and wanted to add an option for posterity: we've been using `nmod:tmod` for the year (so paraphrased: "Smith 2010" = "Smith in 2010"). We were unhappy with `nummod` for the same reasons.

[2018-04-24 15:37] #488 closed, assigned to LarsAhrenberg

[2018-04-24 15:48] dan-zeman commented on #495
Can we close this issue now?

[2018-04-24 16:09] dan-zeman commented on #499
Is this something that applies to multiple English treebanks? (There are 5 at the moment.) Or would it be more suitable to move the issue to a particular treebank repository?

[2018-04-24 16:12] #498 closed, assigned to nobody

[2018-04-24 16:14] #426 closed, assigned to nobody

[2018-04-24 16:20] dan-zeman commented on #504
Fixed, thanks @spyysalo! Blue links work. Red links do not work because nobody has written the target page so far.

[2018-04-24 16:20] #504 closed, assigned to nobody

[2018-04-24 16:29] dan-zeman commented on #507
Closing the issue. The documentation of comparative constructions is now linked from the main guidelines (and ready to become their part).

[2018-04-24 16:29] #507 closed, assigned to dan-zeman

[2018-04-24 16:30] #508 closed, assigned to nobody

[2018-04-24 16:32] #509 closed, assigned to nobody

[2018-04-24 16:33] #529 closed

[2018-04-24 16:36] dan-zeman commented on #515
+1 for making _'s_ the lemma of both forms.

Has the inconsistency been fixed and can we close the issue?

[2018-04-24 16:40] myavrum commented on #495
Yes, please

thanks Dan !!

Am 2018-04-24 19:48, schrieb Dan Zeman:

--
Dr. Marat M. Yavrumyan
Project Manager, ArmTDP
http://armtreebank.yerevann.com/
http://universaldependencies.org/hy/

Department of Arabic Studies
Yerevan State University
1 Alex Manoogian St., Suite 7/330
Yerevan, 0025

myavrum@ysu.am
https://www.linkedin.com/in/maratyavrumyan

[2018-04-24 16:51] #489 closed, assigned to nobody

[2018-04-24 17:53] amir-zeldes commented on #311
The examples in 66 in the Cambridge grammar all don't have 'but', so I think parataxis is right, but if there is a 'but', I would say it's a regular conj. I also like sticking the negation on 'only'. I think there is a prosodic difference if it's (not (only X)), and the default reading I get for these is ((not only) X). But that may be subjective...

[2018-04-24 17:58] amir-zeldes commented on #198
I don't think flat is a good idea here, as flat mandated left-to-right. In some complex numerals there might be a motivation to prefer one part (e.g. fraction is added to non fraction part of a complex number?) and certainly for dates. Maybe flat happens to work for the example:

1 December 2016

But if it's:

December 1, 2016

I think the head should be the day, and flat removes that option. In t

[2018-04-24 18:00] amir-zeldes commented on #472
I'm happy analyzing this superficially like a PP (so, obl + case, or nmod+case for "anyone at all").

[2018-04-24 18:04] amir-zeldes commented on #499
At least EWT and GUM get their morphology automatically from CoreNLP, with the exception of Polarity=Neg, which is added on top.

I can also answer the question by @xsway : yes, there are automatic conversion tools - you can convert PTB brackets to UD using CoreNLP, and you can convert non UD-English (Stanford Dependencies) into UD as well, though in both cases, conversion of names depends on NER

[2018-04-24 18:06] amir-zeldes commented on #515
In GUM this is already the case (also normalizing over various apostrophe glyphs):

https://corpling.uis.georgetown.edu/annis/#_q=cG9zPSJQT1MiIF89XyBsZW1tYQ&_c=R1VN&cl=5&cr=5&s=0&l=10

[2018-04-24 18:16] #511 closed, assigned to nobody

[2018-04-24 18:19] #443 closed, assigned to nobody

[2018-04-24 18:38] nschneid commented on #515
Yes, e.g. "-s" in http://bionlp-www.utu.fi/dep_search/query?search=Jack%20%3E%20-s&db=UD_English-EWT-dev&case_sensitive=True&hits_per_page=10

Incidentally, I had been searching http://bionlp-www.utu.fi/dep_search/query?search=Jack%20%3E%20-s&db=UD_English-dev&case_sensitive=True&hits_per_page=10, but that is not up to date—maybe it does not reflect the renaming of UD_English to UD_English-EWT.

[2018-04-24 18:42] dan-zeman commented on #531
http://universaldependencies.org/u/overview/enhanced-syntax.html#relative-clauses

[2018-04-24 18:45] #506 closed, assigned to dan-zeman

[2018-04-24 18:46] #331 closed, assigned to nobody

[2018-04-24 18:48] dan-zeman commented on #521
The zh / zh issue should now be fixed, I have removed the link from the page layout.

[2018-04-24 18:48] #521 closed, assigned to spyysalo, dan-zeman

[2018-04-24 18:49] #538 closed, assigned to dan-zeman

[2018-04-24 18:53] #539 closed, assigned to nobody

[2018-04-24 18:56] #536 closed, assigned to nobody

[2018-04-24 19:12] dan-zeman commented on #545
@nschneid :

Since `goeswith` implies ill-edited text, and since the space between _Home_ and _Alone'd_ is not an error, I would favor `compound` over `goeswith`.

[2018-04-24 19:15] dan-zeman commented on #517
Related discussion for Slavic languages was in #276.

[2018-04-24 19:31] dan-zeman commented on #547
The problem I see in your analysis is that _artha_ should not be be the head of the clause _yasyā artha_ “whose wealth”. It is a clause with non-verbal predicate, type 4 Possession in [this section of the guidelines](http://universaldependencies.org/u/overview/simple-syntax.html#nonverbal-clauses). The possessed noun, _artha_ “wealth” is the subject of the clause, and the wh-word _yasyā_ “whose” i

[2018-04-24 19:32] martinpopel commented on #198
There is an open issue for dates: #455 (as well as several closed issues, e.g. #113 and #210).
I would suggest to discuss dates there and keep this issue for (other) spelled-out numbers.
Of course, taking into account e.g. the (not only Turkish) spell-out years, which are in the intersection of both issues.

[2018-04-24 19:55] vcvpaiva commented on #331
but @dan-zeman  just to be clear,  do we say that _4:30pm_ or _4h30min_ are NUM, just as much as _4:30_?
or de we say _4h and 30 min_  is flat, so _4h30min_ is flat too?
maybe the question was answered in a meeting somewhere, but it's not in the thread. sure tomorrow is an adverb, but the specific times don't feel adverbial to me.

[2018-04-24 20:15] dan-zeman commented on #434
So maybe the issue can be closed, or shall we wait whether @tlynn747 has anything to add?

(For the record, there are “inflected prepositions” in Irish, see http://universaldependencies.org/ga/pos/ADP.html. It seems that they keep it as one syntactic word and attach it via a language-specific relation, `obl:prep`: http://hdl.handle.net/11346/PMLTQ-IZ2L)

[2018-04-24 20:23] ftyers commented on #434
I think it can be closed. The differing treatment of these contractions/inflected prepositions in Breton and Irish is something me and @tlynn747 need to discuss :)

[2018-04-24 20:24] #495 closed, assigned to nobody

[2018-04-24 20:30] dan-zeman commented on #198
For spelled-out numerals, such as _four thousand_, `flat` seems better than `compound` exactly because it does not attempt to make one part the head. It may not be the preferred approach in all languages but I remember I was struggling with identifying the head when I was using `compound` in Czech, and I think there is no evidence of headedness in English either.

[2018-04-24 20:32] #499 closed, assigned to nobody

[2018-04-24 20:33] #515 closed, assigned to nobody

[2018-04-24 20:39] amir-zeldes commented on #198
Doesn't four modify thousand? If I had to guess, I'd go with the normal Germanic right headed rule, and it fits nicely with German where it looks like a normal compound (viertausend).

[2018-04-24 20:39] dan-zeman commented on #331
No, I don't think it has been discussed in a meeting. Looking at the thread above, it seems acceptable (or at least not worse that the other options) to say that _4:30pm_ is `NUM`. Same for _4h30min_ if it is one token.