[2016-06-15 11:05] dan-zeman commented on #315
Well, the motivation behind the whole mechanism for “multi-word tokens” is that these splittings may in general require a lexicon and are supposed to be done by a lemmatizer rather than an RE-based tokenizer. So the second option above would make it easier for Portuguese-specific tools, but a language-independent tool cannot rely on it anyway. The option 2 would also mean that we postulate a new w

[2016-06-15 12:40] jnivre commented on #315
I think this is something that needs to be addressed at the universal level for v2. We have similar stuff going on in many languages, like English "n't" vs "not" for the second element of "don't". Ideally, we should come up with general principles from which the language-specific instantiations can be derived. These principles may or may not refer to the presence of hyphens or apostrophes. Right n

[2016-06-15 12:58] dan-zeman commented on #315
Good point, @jnivre – we are actually not going to release data before v2, so it does not matter too much what we do in the Portuguese dev branch now. However, @andre-martins has one immediate advantage in favor of option 2 :-) We actually do not have the additional info readily available in the data. So unless André or someone else volunteers to provide the list of verbs and their changes, we can

[2016-06-16 23:16] andre-martins commented on #315
OK, so I'm going with option 2 for the time being. I'll do a pull request shortly on the UD_Portuguese repo. I'm adding x-y tokens, so it should be easy to switch to option 1 later.

[2016-06-17 05:56] dan-zeman commented on #315
OK, thanks. I am leaving the issue open for discussion. It may be used as input for the universal level discussion, and the universal principles will in turn hopefully lead to a final solution here.

[2016-06-22 17:27] sebschu commented on #312
Yes, that's correct.

Currently, we (or actually the LDC) are tagging "home" as an `ADV` and attaching it with an `advcl` relation.

Yes.

[2016-06-22 17:41] sebschu commented on #309
We use the [`parataxis`](http://universaldependencies.org/u/dep/parataxis.html) relation for tag questions. I added an example to the documentation.

[2016-06-22 17:41] #309 closed, assigned to nobody

[2016-06-22 18:04] ngiordani commented on #305
Yup, just idiomatic!

[2016-06-22 18:05] ngiordani commented on #307
Well, mwe is (in theory at least :)) only for function words and goeswith is for things that would normally be spelled together, so I think compound is a good option here.

[2016-06-22 18:05] #307 closed, assigned to nobody

[2016-06-22 18:06] manning commented on #310
Presumably we'd call _both_ and _all_ a det even when following a pronoun.

[2016-06-22 18:07] ngiordani commented on #306
We've been making them advmod on the root. But discourse is certainly not crazy. I guess we've been trying to keep the list of discourse-labeled items small.

[2016-06-22 18:08] ngiordani commented on #302
Yes! And @sebschu worked on changing this for the enhanced dependencies, but in the basic flavor we treat these as PPs.

[2016-06-22 18:08] #302 closed, assigned to nobody

[2016-06-22 18:09] ngiordani commented on #304
We also treat those as compound! I think the documentation was probably imported from the old nn relation docs for SD, which were in fact concerned only with nouns. No longer the case!

[2016-06-22 18:09] #304 closed, assigned to nobody

[2016-06-22 18:11] manning commented on #310
_alone_ is tricky, since it's a sort of adverbial snuck into a noun phrase. But are we better off nevertheless calling it a post-posed amod? Presumably the same analysis would be used for _else_. Not so sure on these ones. Open to discussion of what seems best. (The Penn Treebank people never seemed to be sure either. Sometimes they become an ADVP inside an NP, sometimes an ADJP, sometimes they ha

[2016-06-22 18:53] manning commented on #310
UD_English does mainly analyze _else_ as amod. At least in the 90% of cases when the LDC annotators called _else_ an adjective. We should probably fix the remainder to be consistent.

[2016-06-27 12:52] nschneid commented on #310
[Query for `amod` postmodifiers](http://bionlp-www.utu.fi/dep_search/?db=English&search=_+%3Camod%40L+_) — includes "else" and "alone"

[2016-06-27 13:17] nschneid commented on #310
1. The postmodifying `amod` examples in the corpus include:
   - another looting...similar to the one that took place last April: `amod(looting, similar)`
   - employees unable to attend: `amod(employees, unable)`
   - diplomats intimately involved with the meeting: `amod(diplomats, involved)`

   Should these be treated as reduced relative copular clauses and thus [labeled with `acl`](http://univ

[2016-06-27 15:54] amir-zeldes commented on #310
About 2: This has always seemed a bit off to me, but in OntoNotes, ages after commas are treated as appositions on the coreference level as well. Their argumentation was that in something like "Labat, 24", the "24" can be taken to stand for "a 24-year-old", so it's really a normal NP.

I can also see how 24, taken literally, is really just an attribute of Labat, but if consistency with coref annot

[2016-06-28 10:21] jnivre commented on #273
I support this, but I think we should standardize sentence-ids as well, and perhaps make them globally unique by having a treebank-specific prefix as in the French example. This can be useful if people want to add additional (standoff) annotation to UD treebanks, and also for alignment information in parallel treebanks.

[2016-06-28 13:22] martinpopel commented on #273
Thanks for reviving this issue. What should be decided here:
- [ ] format of attribute-value pairs in comments. My suggestion: **`# attribute value`**. Alternatives: `# attribute = value`, `# attribute: value`.
- [ ] name of the sentence plain text attribute. My suggestion: **`sentence`**. Alternatives: `sentence-text`, `text`, ...
- [ ] name of the id attribute. My suggestion: **`sent_id`**. Alte

[2016-06-30 15:09] amir-zeldes commented on #273
Thanks for suggesting these, I think it makes a lot of sense. I would be against `#attribute value` since people put all sorts of things in comments, and a simple prose comment could then be confused with key-value pairs.

Between these options I'd vote for a=b, because it's least likely to occur by chance (colons are more prose like). In fact, I would almost  prefer to have a text delimiter for t

[2016-06-30 15:48] dan-zeman commented on #273
Text delimiters tend to complicate parsing of the line, and so do multiple attributes on one line. I prefer to keep it simple. The key, then perhaps the equals sign, and the rest of the line is the value, leading and trailing whitespace removed.

We only need to standardize those key-value pairs that we foresee to be of general interest and used in multiple treebanks (or, in the cases like the sen

[2016-06-30 16:27] martinpopel commented on #273
@amir-zeldes thanks for your suggestions.
- Double-quote delimiters would mean a need to define escaping `# sentence "I say \"Hello!\""`. I agree with @dan-zeman: let's keep it simple at the cost of forbidding values with leading/trailing whitespace and with newlines. The whole UD is about simplification anyway.
- Personally, I would also prefer to add the equal sign (with optional space on both s

[2016-06-30 16:47] amir-zeldes commented on #273
Agreed, that all makes sense. I think insisting on the = sign is a good idea, even if some of the existing resources with `# sent_id 123` will have to be updated (also easy to fix automatically).

So that means that space-containing values are generally allowed, and the value is always stripped? Is there any situation where we might want a leading/trailing space kept?

My original thinking was for

[2016-07-01 10:29] fginter commented on #273
:+1: from me on this one. I would myself prefer `tree_id` over `sentence` and would like to keep a notion of `document_id` as well. This is quite important for search tools which need to return a context of a hit (plus minus a handful of sentences) - ie they need to know the document boundaries. `url` is another which could be listed. I think `^# ([a-z_]+) *= *(.*)$` would be a good common ground.

[2016-07-02 06:55] TCGWim commented on #253
In Latin grammar both "King George" and "George, King of England" are called appositions. The former is a restrictive apposition and the latter a non-restrictive apposition (Pinkster 2015 §11.80). A motivation to use nmod for the former is that you are free to decide which of the two nouns you make the head. But that is not a good argument. It would be better to have freedom of choice for the head

[2016-07-02 09:13] jnivre commented on #253
This is exactly as in Swedish grammar (and we presumably got it from Latin). However, the current guidelines seem to follow the current NLP tradition, where apposition is only used about the non-restrictive case. Maybe something to discuss for v2.

[2016-07-02 17:01] flammie opened #320 "Vocative in imperatives in Uralic"
We are currently in process of writing the general guidelines for Uralic languages, and have come upon a disagreement.

In sentences such as:

[code]

Should the relations dep(Nysid, Sam) and dep(Avaa, Sam) be nsubj or vocative?

I was thinking that cause it agrees with plurals like so:

   "Avatkaa ikkuna, Sam ja Max"

it seems like nsubj could be right?

[2016-07-02 20:53] manning commented on #320
If the nominal is clearly vocative, as in the examples here (I believe), then I think the right answer is to label them vocative. Even though vocatives commonly co-occur with a null subject, it seems that the correct grammatical relation here is vocative.

[2016-07-02 21:19] dan-zeman commented on #320
I agree with @manning. In a sense, `vocative` can be seen as a special type of subject, if we admit that imperative verbs have subjects at all. If we label it `nsubj` here, then we should probably use `nsubj` everywhere, and the `vocative` relation would have no use. But I like the idea of having a separate label for vocative “subjects”.

(NB: In Czech, the imperative would also use 2nd person plu

[2016-07-04 06:33] vinczev commented on #320
I'd say it is vocative, as at least in Hungarian we can easily add the
pronominal subject ("te") in such cases, which should be nsubj then:

"Te nyisd ki az ablakot, Sam!" (Open the window, Sam or You should open
the window, Sam)

Thus:

nsubj(nyisd, te)
vocative(nyisd,Sam)

We can do that in the plural too:

"Ti nyissátok ki az ablakot, Sam!" (You guys should open the window, Sam)

So I think it

[2016-07-04 10:17] osenova commented on #320
Thank you all for the nice discussion!

In Bulgarian we always differentiate between vocative and nsubj in cases with proper or common names:
E.g.: Ivan/Mister (vocative), pro-drop/you (nsubj) come here.

In cases with ‘hey you’ we assume that the pronoun ‘you’ has two syncretic forms – vocative and nominative.
So, we could have two situations: Hey you (vocative), come here! and You (nsubj) come h

[2016-07-06 17:55] martinpopel opened #321 "sent_id format and parallel treebanks"
In #273, it was suggested that each sentence in CoNLL-U should have its ID encoded in header (comment) in a standardized way, e.g. `# sent_id = 123`. This issue is about the format of the ID itself (i.e. the `123` part) and also about a related question of storing parallel treebanks in CoNLL-U.
## My motivation
-  CoNLL-U format should be used not only for storing UD treebanks (frozen in v1.2, 1.3

[2016-07-06 18:26] martinpopel commented on #273
OK, I change my suggestion to **`# attribute = value`** (i.e. `^# ([a-z_]+) *= *(.*)$`) as @amir-zeldes and @fginter support this.

Note that the `sentence` is meant to store the plain text string of the sentence, so it is not a substitute for `sent_id`/`tree_id`. It should be possible to reconstruct (up to redundant whitespace) the sentence string from the forms and SpaceAfter=No (if multi-word t

[2016-07-08 20:44] jeanm opened #322 "Tokenisation issues in CoNLL-U format description"
The [CoNLL-U format description](universaldependencies.org/format.html) has several examples in English which contain contractions, presumably to illustrate how multiword tokens should be annotated. One example:

[code]

These examples might be a bit confusing/misleading, because this is not how English text is normally tokenised. Even the English Web Treebank, which is the source of the `UD_Engli

[2016-07-11 13:06] dan-zeman commented on #322
This issue is closely related to https://github.com/UniversalDependencies/UD_English/issues/5. Whatever the final solution there (and in the data), the examples in documentation should follow.

[2016-07-11 16:01] nschneid opened #323 "Serial verbs"
What is the convention for serial verbs? I don't know any Chinese, so looking at the Chinese data won't help me.

In English we have `go get me a sandwich`. Hebrew has something similar. @omriabnd

Presumably a solution should be documented at http://universaldependencies.org/u/overview/specific-syntax.html.

[2016-07-12 21:05] nschneid opened #324 "Use and documentation of `name`"
1. Should "Microsoft Corporation", "Google Inc.", and similar use the `name` or `compound` relation? Results of [this query](http://bionlp-www.utu.fi/dep_search/?db=English&search=_+%3C+Inc.) mostly have `compound`, but at least one has `name`.
2. Honorific titles before names like "Mr.", "Dr.", and "Rev." currently seem to have `compound`, though I'm not sure why `name` isn't preferred (as they o

[2016-07-12 21:32] dan-zeman commented on #324
I would say that _President Obama_ should be analyzed as nmod(Obama, President), and the same for "Mr." etc.

Note that this issue overlaps with #253 where a relevant discussion has occurred.

Along the same lines, I would do a non-`name` relation between Microsoft/Google and Corporation/Inc. (which also means I would not tag Corporation or Inc. as `PROPN`).

[2016-07-12 21:41] nschneid commented on #324
Thanks, @dan-zeman. I don't have a strong opinion one way or another, but I would like to see a clearer definition of the boundaries of `name`. It says "Words joined by `name` should all be part of a minimal noun phrase"—is that to say that within a minimal name, there's no apparent modification structure? I.e., in personal names, neither forename nor surname is intuitively the head; whereas title

[2016-07-12 21:53] dan-zeman commented on #324
That's how I feel it, although Mr being a modifier seems more a convention than obvious fact. It may depend on the focus. You could state that this Obama is a president, or vice versa, that this president's name is Obama. But rather than trying to guess the right interpretation in each sentence, I'd prefer a fixed rule here (at least within one language).

[2016-07-12 22:06] nschneid commented on #324
An observation that may or may not be relevant: it's unusual to use "Mr." or "Dr." (not spelled out) anywhere but before a proper name. Whereas someone's full name can be abbreviated with either the forename or the surname. Similarly with "Inc." in the U.S./"Ltd" in the UK/"GMBH" in Germany (it can only go after the name of the company). Perhaps these abbreviations are parasitic on proper names in

[2016-07-13 04:04] amir-zeldes commented on #324
I think I prefer `name` to `nmod` for Mr. and Inc., or even `compound` (though I think that term normally means something different for me). For some applications, particularly entity recognition and coreference, nmod implies a full NP (or dependency chain equivalent thereof), which is a candidate for being an entity or mention.

For example, if we have `[the King of [Spain]]`, Spain is nmod, and

[2016-07-13 08:49] dan-zeman commented on #324
@nschneid : What about _Mr. President_?

@amir-zeldes : While I am not completely sure what to do with _Mr._ (although I don't think that name is a suitable term to describe it), in general I am hesitant to formulate a rule just because it is good for named entity recognition. NER is a complex task that operates on a different level than our dependencies. We will never be able to solve it with the

[2016-07-13 10:01] nschneid commented on #324
If the conclusion is that "Mr." is a modifier, I think that still works with "Mr. President". Spelled-out titles like "President", "Senator", and "Doctor" can occur on their own (or with an article). Perhaps one could even argue that "Mr." and similar are determiners, as it is unusual to combine them will an article.

[2016-07-13 14:06] amir-zeldes commented on #324
@dan-zeman : I agree completely that NER can't be the deciding factor for a syntactic analysis, but I do think the distinctions involved are symptomatic of the differences between nmod and "Mr.". The ability to be a referring expression has been used as an argument in the analysis of compounds, so I thought it could be relevant here too. But let me give a couple of more purely morphosyntactic argu

[2016-07-14 03:49] sebschu commented on #324
@amir-zeldes Yes, `nmod` is typically used for adpositional modifiers or case marked NPs, but there already exist some exceptions to this (e.g., we use `nmod` - or actually its sub-relation `nmod:npmod` -  to attach _a share_ in _IBM earned $ 5 a share_). Therefore I don’t think that using `nmod` would necessarily be problematic just because `Mr.` is neither an adpositional modifier nor case marke

[2016-07-14 13:11] nschneid commented on #275
While I see the structural argument that copulas are like auxiliaries, I worry that expanding the definition of the `AUX` tag will confuse people used to the traditional definition of auxiliary as a function word that accompanies a main verb. (Is there a standard term that covers verbal function words? I think "support verb" is in the right ballpark but not quite right.)

If we want to use the POS

[2016-07-14 13:34] dan-zeman commented on #275
One thing that I like about copulas becoming `AUX` is that ambiguity between periphrastic passive on one side, and copula+participle on the other side, will only affect the deprel and not the POS tag. (Example: _the contract <b>was signed</b> after the lunch_ ... auxpass(signed, was) vs. _the contract <b>is signed</b> at the last page_ ... could be cop(signed, is), because the phrase describes the

[2016-07-14 13:37] jnivre commented on #275
I would definitely rather remove the AUX tag than add a COP tag. The AUX/VERB distinction is great for parsing, but only if the tagger gets it right. For Swedish there is a 5 percent absolute difference in parsing accuracy between using gold and predicted tags, which is due almost exclusively to the AUX/VERB distinction.

[2016-07-14 13:41] nschneid commented on #275
What happens if `AUX` and `VERB` are collapsed into one tag—is the parser able to learn the distinction?

[2016-07-14 13:48] jnivre commented on #275
Sort of but not quite. When you go from gold to predicted tags with the AUX/VERB distinction, you lose 4-5 percentage points. If you then go to predicted tags without the distinction, you lose another 0.5-1 points (if I remember correctly). Then again, this is only evidence from a single language. It would be interesting to know what happens in other languages.

[2016-07-14 13:48] jnivre commented on #275
On 14 Jul 2016, at 15:41, nschneid <notifications@github.com<mailto:notifications@github.com>> wrote:

For Swedish there is a 5 percent absolute difference in parsing accuracy between using gold and predicted tags, which is due almost exclusively to the AUX/VERB distinction.

What happens if AUX and VERB are collapsed into one tag—is the parser able to learn the distinction?

—
You are receiving t

[2016-07-14 14:03] nschneid commented on #275
Interesting. Is the POS tagger trained on the same data as the parser? If so, it's curious that it can capture the distinction a bit better.

[2016-07-14 14:17] nschneid commented on #275
http://aclweb.org/anthology/W/W16/W16-1202.pdf, Table 6 might be relevant here: I think the first 4 rows are with gold POS, τ_o = original POS, τ_a = ambiguous (collapsed AUX into VERB). Collapsed tags drop performance by 1.1 points in Slovenian and .4 points in Czech.

[2016-07-14 14:26] jnivre commented on #275
Yes, they are with gold tags.

For Swedish POS tagging, the situation is complex. Most Swedish taggers are trained on the Stockholm-Umeå Corpus, which is 10 times larger than the treebank (1M vs. 100K tokens), but this corpus does not make the AUX/VERB distinction. So we have to train a second tagger on the treebank itself, but we only trust the second tagger for the AUX/VERB distinction (and only

[2016-07-14 15:36] amir-zeldes commented on #275
Regarding the tag issue for copulas, I'd like to point out that in many languages they are not verbs at all:
- Arabic huwa etc.: personal pronoun
- Hebrew ze, Polish to, Russian eto: demonstrative
- Japanese da/desu: idiosyncratic semi-verb like thing(??)
- Coptic, Hausa: idiosyncratic semi-demonstrative like thing..

The list goes on... I think the `cop` deprel captures what all of these do quite

[2016-07-14 15:38] jnivre commented on #275
Good point. They should obviously not tagged as either VERB or AUX if they are not verbs at all. But this doesn't resolve the issue of what to do with languages where they are verbs.

[2016-07-14 16:42] amir-zeldes commented on #324
@sebschu - not that this is necessarily a crucial argument here, but I think "a share" would probably be case marked in many languages, and it's substitutable for a PP 'per share'. It would be an oblique PP in Hebrew for example, and the share is, referentially, certainly not part of IBM, so that falls in line with what I was saying above.

[2016-07-14 17:38] fginter commented on #275
If you go offline don't drop @fginter :)

[2016-07-14 17:45] nschneid commented on #308
@ngiordani, any comment? We're struggling over for-infinitivals in our data.

Another possibility that we've considered is to treat the for-PP as an argument of the adjective, and the embedded verb as an `xcomp` to indicate that it shares an argument:

[code]

But in "I contracted for HDS to deliver the furniture.", it really does seem like "for" just marks the infinitival subject:

[code]

[2016-07-14 20:58] ngiordani commented on #308
Sorry for the delayed response, @nschneid! The guidelines that we used in the EWT for tough-movement are given in [this paper](http://nlp.stanford.edu/pubs/demarneffe13more.pdf), pp. 2-3. By the guidelines, the analysis, updated for UD, would be as below... but keep reading, I suggest modifying this. Also, I'd ask if @tdozat has anything to add, since he's thought a lot about tough-movement.

PREV

[2016-07-14 22:41] nschneid commented on #308
@ngiordani, thanks! It looks like your recommendations parallel the cleft examples (108) and (109) of the [English syntax notes](http://universaldependencies.org/en/overview/specific-syntax.html): (108) uses `nmod`/`case`, and (109) uses `nsubj`/`mark`.  [Updated URL for link: [en v1 syntax specific constructions](http://universaldependencies.org/docsv1/en/overview/specific-syntax.html).]

[2016-07-14 22:49] ngiordani commented on #308
That's true. Although, 112, which is basically the sentence we are talking about here, uses _xcomp_. I'm not sure how that happened, but it's wrong...

[2016-07-14 23:21] nschneid commented on #308
It does seem to fit pretty well with the definition at [`xcomp`](http://universaldependencies.org/en/dep/xcomp.html). With the current analysis in (112), the `xcomp` makes it clear that "solve" should get a semantic argument from "problem" (in fact, it should get two!).

The paper linked by @ngiordani comments that it doesn't fit the classical definition of `xcomp` in LFG, but I wonder if the prac

[2016-07-14 23:43] ngiordani commented on #308
I don't agree about _xcomp_. Open complements are defined to take their **external** argument from (the lowest argument of) the higher clause, which as you point out yourself, doesn't apply to the relation between "problem" and "solve". This isn't just a historical tie to LFG; it's a generalization that allows us to make inferences to identify arguments of predicates labeled _xcomp_. If you want t

[2016-07-14 23:52] nschneid commented on #308
In any case there would need to be a special rule to infer the semantic arguments for these for-infinitivals, right? I was thinking that calling it `xcomp` would make it clearer that _something_ needs to be inferred, and the rules would have to distinguish the different kinds of `xcomp`s based on the syntactic environment. But I haven't tried to write such rules before, so perhaps there's too much

[2016-07-15 08:14] dan-zeman commented on #324
Maybe we actually do not need the `name` relation in UD. Maybe we need something that could be called just `chunk`. It would work similarly to `name` and it would cover the prototypical name-surname pairs, but its scope would be broader and it would be defined morphosyntactically rather than semantically, in line with what @amir-zeldes notes above. It would be the minimal noun phrase where no inte

[2016-07-15 09:47] nschneid commented on #324
Another distinction that _could_ be made for names is to distinguish between the parts of the name that are completely arbitrary (up to whoever performed an act of naming, without any semantic relationship to the entity in question) vs. parts which have transparent semantics.

As a point of reference, [AMR](https://github.com/amrisi/amr-guidelines/blob/master/amr.md) includes a type and a name for

[2016-07-15 14:19] amir-zeldes commented on #324
This has been really interesting to discuss, thanks! @dan-zeman I see what you're saying about the use of `name` so far - initially, when I was trying to write a conversion script from Stanford Typed Dependencies to UD, this was the category that had me stumped, because you need semantic knowledge to distinguish it from the more compound-like `nn` cases. I don't know if the `chunk` terminology wil

[2016-07-15 16:47] nschneid commented on #324
Yeah, `name:pre` for "Mr.", "President", etc. used at the beginning of the name and `name:post` for "Inc." and similar might work. If these are well-defined phenomena, it could be better to give them names rather than force annotators/users to remember whether they're `nmod`, `amod`, `compound`, or `name`.

[2016-07-15 20:01] amir-zeldes commented on #324
That makes sense to me. Just one question though: when you say `name:pre`, do you envision linking backwards from the first token of the 'actual' name? Or would we stick to 'left to right', and just label the first deprel `name:pre`?

[2016-07-15 20:17] nschneid commented on #324
I was thinking of linking backwards. So "Rev. Dr. Martin Luther King , Jr." would be

[code]

"Secretary of State Hillary Clinton" would be

[code]

"Mr. and Mrs. John Smith , Esq." would be

[code]

[2016-07-15 22:02] sebschu commented on #324
The structure of all these trees makes sense to me and there might be a case for `name:pre` so that we don't have to use `nmod`, but I really don't see the benefit of `name:post` over simply using `name`. @nschneid and @amir-zeldes: Do you have any examples or tasks in mind where this distinction would be important?

[2016-07-15 22:08] nschneid commented on #324
I agree that `name:post` is probably less important than `name:pre`, at least for English. But there are a few words like "Jr." and "Inc." that have a restricted distribution, attaching at the end of names.

[2016-07-17 18:28] amir-zeldes commented on #324
I'm not sure if it's a relevant argument, but in many languages, the elements that do the same work as "Mr." are postposed, e.g. Chinese of Japanese (-xiansheng, -san etc.).

The main advantage of marking pre and post as separate from regular name, at least for me, is being able to determine the lexical head for tasks like NER and coreference resolution. If something is "IBM Inc", then it's a ment

[2016-07-19 18:03] flammie opened #325 "acl:relcl consistency issues in Uralic"
We are comparing Uralic languages and treebanks for dependencies now.

There is an inconcsistency between UD_Finnish and UD_Estonian, and UD_Finnish_FTB and UD_Hungarian for the acl:relcl dependency relation, the former two using it and latter two aren’t.

In general the relcl seems to us like a uralic-wide feature at least, a short explanation should appear in http://universaldependencies.org/urj

[2016-07-19 18:32] ftyers commented on #320
We have stated vocative as a Uralic standard in the documentation, with examples from Estonian and Finnish. There is only one example in the Hungarian treebank, which is pretty long:

So I haven't included it yet.

https://github.com/UniversalDependencies/docs/blob/pages-source/_urj-dep/vocative.md

[2016-07-19 20:44] nschneid opened #326 "English conventions for free relative clauses"
The [English syntax notes](http://universaldependencies.org/en/overview/specific-syntax.html) devote a section to free relatives.
1. Some of the examples use `rcmod`, which I take it has been replaced by `acl:relcl`. Should they be replaced?
2. I am confused about the distinction between free relatives and other WH-clauses.

The page states: "In the canonical case, wh-clauses function as interroga

[2016-07-19 20:50] nschneid commented on #326
CC: @ida-szubert

[2016-07-20 00:03] #326 closed, assigned to nobody

[2016-07-20 00:10] sebschu commented on #326
Yes, this is wrong. I replaced all of these with`acl:relcl`.

Yes. I also fixed that.

In case you are interested, you can find more information on free relatives in [de Marneffe et. al (2013)](http://www.ling.ohio-state.edu/~mcdm/papers/depling.pdf) and in [Bresnan and Grimshaw (1978)](https://www.jstor.org/stable/4178069?seq=1#page_scan_tab_contents).

[2016-07-22 00:11] nschneid opened #327 "Should 'going to' future get special treatment?"
Currently, there is no disambiguation between "going to" when it marks future time (= "gonna") vs. when it marks a destination or purpose of motion.

[This query](http://bionlp-www.utu.fi/dep_search/?db=English&search=going+%3Excomp+%28_+%3E+to%29) shows both kinds of results: "2005 is going to rock" and "I am going out tonight to get wasted" both have an `xcomp` linking "going" to the infinitive

[2016-07-22 00:20] sebschu commented on #327
Thanks for pointing this out -- this is actually an annotation error. _wasted_ in "I am going out tonight to get wasted" should actually be attached to _going_ with an `advcl` relation, as "to get wasted" is not a complement of the verb.

If _going_ is used as a motion verb, the locative goal is attached with an `nmod` relation.

I'll fix the example in the treebank but I think in general it is ea

[2016-07-22 00:30] nschneid commented on #327
OK great. I looked through the first 60 examples that from the above query. The only other one that looks suspicious is:

"I was just going to sleep anyway"—ambiguous without more context, but my default reading is not future

[2016-07-26 13:59] flammie opened #328 "Features for infinitives and participles / Uralic consistency issues"
This is an inconsistency we noticed while describing Uralic best practices for dependencies: most Űralic languages have numerous verbal forms called infinitives and participles, and there are inconsistencies in features used to mark these. (Sorry for sending two issues in one report, I think they cannot be solved separately from each other)

For Infinitives:
Finnish UD uses `VerbForm=Inf` and `Inf

[2016-07-30 08:02] dan-zeman commented on #328
Note that Finnish infinitives have also been discussed in #107.

[2016-08-06 07:15] vinbo8 commented on #178
Chiming in here with another parallel - I'm working on UD for Marathi (an Indo-Aryan language), and the question particle का _kā_ is similar to Hindi, though as a wh-question, it's "why", not "what", which is more adverbial than pronominal. I was contemplating using `advmod` when I came across this thread - it seemed okay, given that the word is essentially an interrogative adverb.

There is a sem

[2016-08-06 08:41] jnivre commented on #178
Thanks for chiming in. I would advise against "mark", which is a marker of subordination. I assume we are talking about main interrogative clauses here. For the time being, I think "advmod" is the best choice. However, I think we need to think more about this for v2. In particular, I think we should have a systematic strategy for annotation mood (declarative, interrogative, imperative) and perhaps

[2016-08-13 13:16] dan-zeman commented on #321
+1

From the UD perspective, this proposal just reserves certain characters ("/") for specialized usage, which goes beyond the current scope of the UD project, yet I find it useful, and it has actually been deployed already. We will have to modify sentence IDs in Arabic UD, where the slash is used, but that should not be a problem.

The specification should go into the version 2 of UD guidelines.

[2016-08-13 20:46] nschneid commented on #178
+1. Two related talks that I saw in Berlin:
- Friedrich (@annefried) et al., [Situation entity types: automatic classification of clause-level aspect](http://aclweb.org/anthology/P/P16/P16-1166.pdf)
- Zeldes (@amir-zeldes) & Simonson (@thedansimonson), [Different Flavors of GUM: Evaluating Genre and Sentence Type Effects on Multilayer Corpus Annotation Quality](http://aclweb.org/anthology/W/W16/W1

[2016-08-13 22:35] nschneid opened #329 "v2 conventions for copula"
The [standing proposal for v2](http://universaldependencies.org/2015-08-23-uppsala/copula.html) concludes that the copula should serve as the head in special constructions like existentials (already in v1) and non-equational predications like "The book is on the table".

I would like to offer a counterproposal that addresses some arguable weaknesses of that policy:
1. Annotators (and conversion ru

[2016-08-14 18:32] amir-zeldes commented on #329
Seconded. I think it's more robust to have the PP be the head of the predication, since in many languages the copula is optional. What's guaranteed to be there is the locative expression itself. In Coptic, for example, locative predication does not take a copula at all:

ti mmau - lit. 'I there'
ti hm-p-eei - lit. 'I in the house'

Making all languages mark locative predication on the locative phr

[2016-08-14 18:44] amir-zeldes commented on #178
Thanks for bringing this up @nschneid . I agree that sentence types can give very important information and that they can be useful for parsing, but I don't know if I'd go so far as to put sentence types on the sentence or clause root labels (if then as a sublabel?). The fact that something is ccomp seems more relevant than whether or not it's a question, and I'm also not sure that that's always s

[2016-08-14 18:49] dan-zeman commented on #329
Would you then extend it to all adverbials and PPs, not only locative? E.g. temporal in _the show is today_?

What would you do with multiple adverbials such as

I am here today (and there tomorrow).
I am here in Prague.

[2016-08-14 18:52] dan-zeman commented on #329
The more I think of it the more I wonder whether the entire copula business is worth it. It feels like we are striving to achieve cross-linguistic parallelism on one side, but the price is that on the other side, we lose parallelism between similar constructions within one language.

[2016-08-14 18:58] nschneid commented on #178
Wouldn't this neglect information about embedded sentences, e.g. reported speech? "'Why are you smiling?' John demanded." vs. "'Give me that cookie,' John demanded."

[2016-08-14 19:11] nschneid commented on #329
Yes, I think it's fair to say _today_ is the main predicate and should therefore be the head (though by not using `nmod` we wouldn't get the refinement of `nmod:tmod`).

I think one of the adverbials would have to be designated as the head of the other. I would definitely go with _here_ in the first sentence and probably also in the second sentence. Note that omitting _here_ in the first sentence

[2016-08-15 18:34] amir-zeldes commented on #178
Yes, I agree that's the most compelling kind of case for putting it on the label. I do like this annotation layer a lot, don't get me wrong, I'm just wondering if it's something everyone will get on board with annotating, since it's a further level of information on some level.

Would you still want to keep `ccomp` as the primary label in the above cases? I would definitely like to have an easy wa

[2016-08-15 18:43] amir-zeldes commented on #329
I agree - I can think of a number of other ways to annotate these, including coordination or apposition, but I think @nschneid 's proposal is the most reliable. From some perspective I feel arguably 'here' and 'in Prague' are a kind of oblique apposition (if taken literally, then they both fulfill exactly the same semantic role). But the UD `appos` definition is explicitly limited to nominal, and

[2016-08-15 18:54] nschneid commented on #178
I'd be fine with `root:imper`, `root:q`, `ccomp:imper`, `ccomp:q`, etc.—assuming two of the sentence types are imperatives and questions. We could keep plain `root` and `ccomp` for declaratives.

[2016-08-20 19:21] dan-zeman opened #330 "How to deal with typos and grammatical errors in the underlying text"
We do not have a common guideline for the preferred way of dealing with typos. As pointed out by @vcvpaiva in https://github.com/UniversalDependencies/UD_Portuguese/issues/5, annotators of some treebanks (that are now converted to UD) were explicitly asked to keep typos intact, but this may not be true everywhere, and at least new, native-UD annotation efforts may benefit from knowing what is the

[2016-08-21 09:30] dan-zeman opened #331 "POS tags of time specifications"
In expressions like _they close at 4 pm_, the number _4_ is a separate token and there is no doubt it shall be tagged `NUM`. If the time specification is _4:30_ instead, some treebanks tag it `NUM` too, apparently as an analogy to decimal numbers (_3.14_ or _3,14_ depending of what the local decimal separator is). However, the specification could also read _4h30_. Now it is clearly no longer a pur

[2016-08-22 19:59] foxik opened #332 "Allow representing all space characters of the original text in the CoNLL-U format."
CoNLL-U format currently does not specify how to represent all space characters of the original plain text. It only specifies the `SpaceAfter=No` feature denoting that the current token is not followed by a space in the original text.

However, the ability to represent all space characters would be useful both for:
- UD treebanks, where the exact (or closer) correspondence with the original corpus

[2016-08-22 20:00] foxik commented on #332
Also if a consensus is reached, it will be implemented in [UDPipe](http://ufal.mff.cuni.cz/udpipe).

[2016-08-23 08:18] yaqinwang opened #333 "Can "not only" and "but also" be marked as mwe?"
Can the fixed expression "not only" and "but also" be marked as mwe?

[2016-08-23 14:04] dan-zeman commented on #332
Why would you use `\p`? "|" is not a whitespace character, thus it should be a normal token and not a `SpacesAfter` attribute. On the other hand, people may need to encode `TAB`, `CR` and `LF`.

[2016-08-23 14:19] foxik commented on #332
I can imagine that in some circumstances the `SpacesAfter`/`SpacesBefore` might contain non-space characters. Although this is not useful from point of view of UD treebanks, it is useful when using CoNLL-U as a pipeline format. For example, if the input is some kind of XML file with elements encoding some meta information, it would make sense to consider the XML elements "non-tokens" and save then

[2016-08-23 14:26] nschneid commented on #333
[Treebank search for "not only"](http://bionlp-www.utu.fi/dep_search/?db=English&search=not+%3C+only)

It looks like the annotations are not entirely consistent. Some attach "only" to its head with `cc:preconj`, others use `advmod`.

Something to keep in mind is that "but (also)" is optional: "Bush not only showed up, he showed up a lot."

There are also "but also" occurrences without "not only":

[2016-08-23 14:28] nschneid commented on #333
See also #311

[2016-08-23 14:29] dan-zeman commented on #332
Fine with me. Then it actually is a "space" from the point of view of treebank annotation. But this should be briefly mentioned in the documentation, too.

[2016-08-23 14:38] foxik commented on #332
Noted, I will mention it if the proposal gets in.

Do you have any thoughts about the escaping scheme?

[2016-08-23 14:51] dan-zeman commented on #332
Not sure whether we also want/have to escape the other space characters in the higher Unicode space. Otherwise, the `\s` etc. sound reasonable to me. First, it is short => readable. Second, it is what I often use elsewhere (but this is quite subjective argument of course).

Note that the `MISC` attributes are not required to appear in alphabetical order (unlike `FEATS`) and I think it is OK so. Th

[2016-08-23 16:22] liljao commented on #332
I definitely second this proposal!
Based on our recent effort to align the Norwegian treebank with the corresponding raw texts we felt there was important information lost regarding spacing.

Just a minor detail: should there be an order of preference for the `spacesBefore=...|spacesAfter=...`. E.g. in `sentence1 \n sentence2`, should we use `spacesAfter`on the last token of `sentence1` or spacesB

[2016-08-23 17:38] foxik commented on #332
Regarding the preference -- the current proposal allows `SpacesBefore` on the first token of every sentence. Therefore, both possibilites in the above example are valid.

In theory it would be possible to allow `SpacesBefore` on the first token of the first sentence only (i.e., in the above example, `SpacesAfter` on last token of `sentence1` would have to be used). However, such a rule is inconven

[2016-08-24 01:01] yaqinwang commented on #333
Thanks for your comments! The search page is helpful for me.

[2016-08-24 01:01] #333 closed, assigned to nobody

[2016-08-25 03:00] sebschu commented on #332
Yes, I also think that would be a great thing to have (we already have something similar in CoreNLP so that people can reconstruct sentences after tokenization) and I'm also in favor of C-like escaping.

Instead of having the `SpacesBefore` attribute as a token property, we could also consider having an optional sentence-level comment before each sentence. Then we wouldn't have this token-level pr

[2016-08-25 08:16] dan-zeman commented on #332
I would not make it a sentence-level comment when the remaining pieces are token-level attributes. Allowing `SpacesBefore` on every token sounds OK to me, in the sense that the validator would not complain, and processing software should be able to deal with it. Generating it on non-first tokens would not be recommended in the normal cases, but e.g. when it is used to hide XML markup, as @foxik su

[2016-08-25 11:13] foxik commented on #332
Allowing `SpacesBefore` everywhere sounds reasonable (actually, the same argument I used for allowing `SpacesBefore` in every sentence can be used for allowing it on every token, as Dan does above).

I will prepare the changes as a pull request, so that others can discuss them. (But probably at the beginning of the next week.)

[2016-08-26 07:38] andre-martins commented on #332
Is SpacesBefore/SpacesAfter covering all cases of interest? Some tokenizers
do some small reorderings sometimes (e.g. switching double quotes and
punctuation, depending on the language) and normalize characters (e.g.
punctuation and some unicode characters). Do we want to support this? The
standard approach here is to have the full sentences somewhere (maybe in a
separate file) and to encode the c

[2016-08-26 07:46] fginter commented on #332
Hi

Sorry I'm a bit late to this discussion. I think @andre-martins follows the right lead here, with the character offsets. I myself would much rather see that, than a complex mixture of SpacesBefore/SpacesAfter and escaping. A single attribute `charoff=3:7` saying that characters 3,4,5,6 of the original sentence form this token, would imho cover all situations.

Filip

[2016-08-26 07:52] dan-zeman commented on #332
SpacesBefore/After would probably be a rare feature while CharOff would have to be present at every single token in the data (and the full sentence would have to be there in addition, of course).

But I agree that if replacements and reorderings have to be supported then this is the way to go. Not sure whether they have to, though.

[2016-08-26 08:13] foxik commented on #332
I think both use cases are useful at times. Sometimes you want to reconstruct the data at some point (for example when you started with a XML) and you would like all the data to be in the document -- then `SpacesBefore` and `SpacesAfter` seem the straightforward way to do it.

Note that if we want to use something like `TokenRange=3:5`, we should also specify how to encode the original sentence --

[2016-08-26 08:26] fginter commented on #332
I think the defaults are a good idea, so we do not clutter the file. Orig sentence as a comment is I think the way to go (we already do this for Finnish). I know that some treebanks will not be able to provide the orig sentence, but will be able to provide the SpaceAfter=No (legal reasons), so that usecase is also supported.

[2016-08-26 08:51] foxik commented on #332
(BTW, even if you could not provide the original sentence, but could provide the spaces only, it would still be possible to do it -- the sentence would consist of spaces only and the TokenRanges would have zero length :-)

Note that "standardizing" the sentence in the comment interacts with #273 -- especially the format. The last suggestion in #273 is `^# ([a-z_]+) *= *(.*)$`, but that has a serio

[2016-08-26 08:55] foxik commented on #273
We are discussing how the original sentence can be encoded in sentence-level comments in #332. The latest suggestion from this issue, `^# ([a-z_]+) *= *(.*)$`, cannot represent spaces at the beginning of the sentence. Therefore I suggested `^# ([a-z_0-9]+)=(.*)$` with C-like escapes of the value (only `\n`, `\r` and `\\`). I also suggested we use `text` instead of `sentence` for the attribute stor

[2016-08-26 09:08] foxik commented on #332
BTW, it seems to me that the `SpacesBefore`/`SpacesAfter` are simpler than the sentence_text+ranges+defaults [because they are quite straightforward and do not require sentence-level comments], and slightly more effective when no reorderings and replacements are used [as they do not need to store the original tokens]; however, they do not support reorderings and replacements. One possiblity would

[2016-08-26 09:09] dan-zeman commented on #273
I would prefer to keep the spaces around `=` for readability. Also, I don't like trailing whitespace to be semantically significant - occasionally CoNLL-U files are edited manually, and then you have to double-check whether your editor preserves trailing whitespace (e.g. I have set my editor to remove it). But since I also opposed using quotation marks around attribute values, I guess I am for esc

[2016-08-26 09:19] dan-zeman commented on #332
@foxik I second that.

I don't see why we should support reordering. To me it is something else than what UD is about, and people who want to do it in CoNLL-U should define the mechanism separately.

Supporting replacement sounds reasonable, it also interacts with handling of typos, see #330, but then something like `OriginalToken=...` is quite OK.

Full text of sentence (the `# text` comment) can

[2016-08-26 09:38] fginter commented on #332
For the record: I think the current `SpaceAfter=No` was just fine as it was and I personally do not see CoNLL-U as a universal data communication format. If the original sentence text is given as a comment, the tokens can be found in it, if someone really cares about extra spaces. So my primary vote would go to "include the sentence as a comment, leave the rest as is".

But if this still needs to

[2016-08-26 09:51] fginter commented on #273
I personally do not see the need to represent leading and trailing whitespace on sentences (with or without escaping). We should make the format user-friendly and dealing with escaped and double-escaped characters is such a hassle.

This of course all boils down to the question of whether CoNLL-U is meant to faithfully represent a text corpus with its annotation. I personally do not see that as th

[2016-08-26 10:06] martinpopel commented on #273
OK, we can name the attribute `text` instead of `sentence` (we'll have to change also the API in [Python](https://github.com/udapi/udapi-python/blob/5da890b945dab87608f5d22f4cfef069c056d6c1/udapi/core/root.py#L41), [Perl](https://github.com/udapi/udapi-perl/blob/master/lib/Udapi/Core/Node/Root.pm#L21) and [Java](https://github.com/udapi/udapi-java/blob/master/src/main/java/cz/ufal/udapi/core/Root.

[2016-08-26 10:37] martinpopel commented on #332
I would like to know what are the use cases for
- preserving the distinction between a single space and multiple spaces
- preserving the distinction between a standard space and CR/LF/TAB or other Unicode spaces (e.g. non-breaking space and U+2000...U+200B)
- preserving the info about (missing) spaces between sentences

Of course, all these are necessary for reconstructing the original raw text, b

[2016-08-26 13:29] amir-zeldes commented on #332
I think the use case for preserving whitespace has to do with aligning the dependencies to a different format. Some multilayer corpora might have typographical or document-structural annotations that refer to stand-off offsets in an original plain text or HTML file, often with XML + x-pointer (examples include the PAULA XML format and GrAF). NLP tools might also need to return dependency informati

[2016-08-26 17:05] dan-zeman commented on #332
@amir-zeldes - I would personally prefer saying that characters before and after the last token of a sentence are not part of the sentence. If it is necessary to store such inter-sentence material, it should not go to the `text` attribute, and (on a second thought) I would not put it to individual tokens either. I would put it to sentence-level comment _different from_ `text`. And I now lean towar

[2016-08-26 19:17] foxik commented on #332
I agree that having a sentence comment relying on spaces is weird.

Note that there seemed to be people interested in the functionality (preserving multiple spaces). There are also people in companies asking us about this. I thing it would be a shame not to deal with the multiple spaces between tokens just because it seems complicated and nonelegant.

Personally I am in favor of the original propo

[2016-08-26 19:20] foxik commented on #273
Oh -- if you are already using `sentence` in UDApi alread, I think it is not worth the rename. It was just a minor thing. So back to `sentence`?

[2016-08-26 20:41] martinpopel commented on #273
[Udapi](http://udapi.github.io) is not in a stable version yet, so it is no problem to change `sentence` to `text` if there is an agreement that it is a better name.

[2016-08-30 15:03] MemduhG opened #334 "Apposition in Kurdish"
We came across a sentence the annotation of which seems to be tricky, with regards to subject, apposition and their relation.

_Hingê ez û xweha xwe Cûlya; em her du jî du-salî bûn_
So I and my sister Julia; we both were two-year-olds.

Either _ez û xweha xwe Cûlya_ "I and my sister Julia" or _em her du_ "we both" should be the subject, with the other one attached as `appos`. I am not sure which o

[2016-08-30 19:47] dan-zeman commented on #334
This looks like a perfect example of the `dislocated` relation, http://universaldependencies.org/u/dep/dislocated.html

I would make _em her du_ the subject and _ez û xweha xwe Cûlya_ a dislocated dependent, both attached to the main predicate.

[2016-09-01 11:35] ftyers commented on #334
This looks good, thanks! :)

[2016-09-01 11:35] #334 closed, assigned to nobody

[2016-09-05 18:04] manning commented on #329
I support what @nschneid and @amir-zeldes are proposing and their arguments. At Stanford, we have honestly spent many, many hours analyzing and reanalyzing the copula and trialling different alternatives. (As usual) one can find a disadvantage for every choice, but overall, I'm quite convinced that the UD v1 of having _house_ as the root of "He is in the house" is a marked improvement over what we

[2016-09-05 20:48] yoavg commented on #329
I support the proposal by @nschneid and @amir-zeldes .

@manning , re Hebrew: the common analysis is that the present tense form of the verb היה (was) is homophone with a pronoun. I think analyzing it as a resumptive pronoun is a bit weird.  While some generative linguists do follow the resumptive pronoun analysis, this issue is still open afaik. But I am certain the very vast majority of users of

[2016-09-05 21:20] gcelano commented on #329
While I understand why it makes sense to have a label for the verb "to be", I am wondering whether  "copula" is the most appropriate here. I would have no problem redefining "copula" in the UD context, but admittedly this name is a bit confusing.

[2016-09-05 21:42] amir-zeldes commented on #329
I'd like to back up what @yoavg is saying, coming from a Hebrew linguistics education, my knee jerk reaction would definitely be to expect it to be called copula rather than resumptive, and it alternates with a morphological verb in other tenses, as Yoav mentioned.

As for @gcelano 's point, I think if we call it 'copula' this is actually a standard use, as opposed to 'copula verb', which designat

[2016-09-06 03:38] nschneid opened #335 "(sorry wrong repo)"

[2016-09-06 03:39] #335 closed, assigned to nobody

[2016-09-06 11:47] foxik commented on #332
I am not sure what the current consensus is. To sum up:
- me, @liljao, @sebschu expressed interest in the proposal
- @dan-zeman seemed neutral
- @andre-martins was concerned if we wanted to also support replacements and reorderings (@dan-zeman and I stated that we probably do not)
- @fginter was against the `SpacesAfter/Before` design and suggested to use character offsets, possibly including the

[2016-09-07 08:55] fginter commented on #332
Hi. My thoughts:
- I think @foxik is right that storing the whitespace around the the sentence and, in effect, being able to learn sentence splitters from the data is a good property
- I still don't think the MISC field is the place for this stuff to go because of the heavy escaping needed
- I think it would be fine to say (and trivial to implement) that all whitespace after `# text:` matters and

[2016-09-07 09:03] fginter commented on #332
A text like:

[code]

would then look like

[code]

Note:
- Of course the newlines between the sentences can be split any which way between them, but I don't think it really matters. People will simply have to deal with it. Or we say that except for the first sentence, whitespace is only at the end. Or something such.
- Most treebanks won't have this data, seeing they don't have the original texts

[2016-09-07 10:03] foxik commented on #332
Thanks @fginter for writing. My thoughts:
- if we have the whole sentence including inter-sentence spaces, that would give us all features for UD treebanks
- note that spaces at end of sentences are still problematic -- preserving spaces at end of lines is not very reliable (some people's editors might automatically remove them); similar issue is at the beginning of the sentence (if we use syntax

[2016-09-07 10:19] fginter commented on #332
- I would simply say that the `text` property is special in the sense that whitespace matters and that's it
- There's so many whitespace and invisible characters in Unicode that I would simply only escape the newlines and nothing else - that is the only thing that must be escaped as far as I can see
- I don't have a solution for "editors silently eat line-final whitespace" - do we really have to c

[2016-09-07 10:28] fginter commented on #332
PS:
- yes, you can reconstruct where the tokens start and end because they are repeated in the FORM fields of the syntax annotation, so you can loop over characters in the FORM fields and keep a counter in the text line. I've done that many times, it's just few lines of code and could be in a library too. I don't think we need to assume all information is pre-generated and present in the conllu fi

[2016-09-07 11:20] foxik commented on #332
Thanks @fginter for your answers. I think we both know each other's positions (and that they are different :-)

Any other opinions and preferences, anyone?

[2016-09-07 12:28] spyysalo commented on #332
`# text:` (or `# sentence-text:`) is already used and there appears to be general support for standardizing it in #273. As this proposal has (partially) overlapping goals and no clear consensus, I would suggest to postpone decisions until `# text:` is standardized (or removed, if so happens).

After we know how `# text:` gets defined, we can re-examine whether there are use-cases for `spacesAfter`

[2016-09-07 14:18] dan-zeman commented on #332
OK, here is my position:
- I prefer to have all this information at token level and not in sentence comments. So that I can collect the original raw text while iterating over tokens, and ignoring the comments.
- No objection to `# text:`, but as @spyysalo writes, it would then be redundant, which has a downside, too.
- However, I still object to the trailing whitespace being significant anywhere (

[2016-09-07 16:37] Bjartensen opened #336 "Advice on contributing a new language (Faroese)"
Hello,
I hope this is an acceptable place to pose this question.

There is a 100k word POS-tagged (by hand) corpus in a language not currently in the UD list, and I was wondering how compatible/strong the corpus is.

It is tagged according to [this scheme](http://imgur.com/a/yEmkG). So a word could be tagged with **SFSNP**, meaning its **substantive, feminine, singular, nominativ, proper noun**. I

[2016-09-07 16:48] dan-zeman commented on #336
Hi @Bjartensen, welcome to the UD community! It's great to hear that Faroese can join the family of languages covered by UD.

As for "contributing the new language", there are two possible steps. The first one is that we can create a section about Faroese in the documentation and you can describe your language-specific examples there (possibly using documentation of another language, e.g. Swedish,

[2016-09-07 17:08] martinpopel commented on #332
And here are my opinions:
- We still need `# text =` for other purposes (e.g. in pipelines for storing documents after segmentation and before tokenization). I think we have agreed in #273 we want to standardize it (no one objected), we are just discussing details of the format (`=` vs `:`). I would suggest that `# text =` is not required in CoNLL-U, but recommended (and maybe required in future U

[2016-09-07 17:09] Bjartensen commented on #336
@dan-zeman yeah the idea was to actually release the corpus, but I expect that I will have to write some scripts to convert the tags to some other format. I will have to ask for permission before releasing the actual data, but I don't expect any problem there.

Thanks for the quick reply!

[2016-09-07 20:12] amir-zeldes commented on #332
I also agree that:
- SpaceBefore / SpaceAfter can be useful and should be allowed
- I personally prefer `# text=` and plan to use it
- I support the suggestion to allow one word tokens à la `1-1`
- Just because we're all reiterating positions :) much like @martinpopel also mentioned, I prefer delimiting with quotes to trailing \s, but this may be an aesthetic preference (# text="This is some sente

[2016-09-07 20:48] dan-zeman commented on #336
The tagset looks pretty standard and it could be converted via Interset (http://ufal.mff.cuni.cz/interset)
where I just added the description of your tagset
(https://github.com/dan-zeman/interset/commit/17bd81eda41d233b1441c9b3ead13a0dbfdb6e10). However, there are some pieces missing in the description and I would need your help to fix it. More in a separate issue: https://github.com/dan-zeman/int

[2016-09-07 22:19] ftyers commented on #336
Hey! Trond Trosterud has written a rule-based parser that might be partially applicable. [1][2]

I'd be happy to help out with any conversion tasks.

PS. Where can this 100k word corpus be found ? :D
1. http://www.lrec-conf.org/proceedings/lrec2010/pdf/254_Paper.pdf
2. http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.574.7029&rep=rep1&type=pdf

[2016-09-08 08:21] fginter commented on #336
Hi, I added Faroese into the docs and main page, and created the repository. Welcome on board. :)

Filip

[2016-09-08 10:30] spyysalo commented on #273
👍 for naming this `text` and avoiding delimiters (such as double-quotes), 👎 for having most sentences end with `\s`. I agree with @fginter and @martinpopel to ignore spaces between sentences.

[2016-09-08 10:37] spyysalo commented on #296
Good idea, I would like to see this change. @stranak: would you mind writing a few sentences with links explaining why CC licenses are better for data that could be used to explain this issue to the corpus creators?

(Not sure why Finnish is listed, both Finnish treebanks are CC..?)

[2016-09-08 11:26] stranak commented on #296
I contacted proper professionals, colleagues from CLARIN-D Legal Helpdesk (http://www.clarin-d.de/en/help/legal-information-platform) and they were kind enough to promise to formulate the argument properly. Paweł Kamocki should write his reply here shortly.

(I have no idea about the Finnish in the list, although it was clearly me who put it in. Maybe some previous versions of treebanks used GPL?

[2016-09-08 11:30] pkamocki commented on #296
Well, technically you can license non-software works under GPL. What is really impossible is to do it the other way round (license software under a data licence like CC). Licensing data or articles, or other non-software works under GPL, however, is not a good idea, and for several reasons:
- the GPL is unnecessarily complex for non-software works. Please note that the text of the licence uses wor

[2016-09-08 11:48] dan-zeman commented on #296
I think Finnish is there because FTB has a dual license. We could probably just ignore the other one.

[2016-09-08 11:49] pkamocki commented on #296
Yes, if there are several licenses, you can chose the one you prefer and comply with it.

[2016-09-08 15:11] dan-zeman commented on #332
FWIW, I do not like abusing the multi-word token ranges for single-word replacements (`1-1`). These are meant for grammar-conditioned contractions. Mere presence of such lines says something about the language, while this would be just about the particular tokenization/normalization approach. Although it could be distinguished by _i_ being equal to _j_, I strongly oppose it.

Any modifications rel

[2016-09-08 15:12] ftyers commented on #336
Is the corpus already dependency analysed, or just part-of-speech tagged ?

If it is not dependency analysed, and the licence is not free, then it might be worth taking another corpus (e.g. Wikipedia) and analysing that.

I've extracted the some sentences from the Faroese Wikipedia, and run them through the tools I mentioned earlier. The dependency syntax rules aren't working (I've let Trond know

[2016-09-08 16:00] Bjartensen commented on #336
Thanks for the replies everyone!

I have just sent an email asking for permission on trying to get Faroese on UD, but I'll go ahead and link you to the corpus. It's on a website anyone can access, and has some GPL and Mozilla open source licenses attached, so it should be good.

[You can find the corpus on this site](http://stava.fo/), on the bottom ("Tak niður" is download).
[Direct link](http://

[2016-09-08 16:03] dan-zeman commented on #296
Thanks @pkamocki for all the insights. I have now tried to contact the people who I believe have the power to allow a CC license for Alpino, AnCora, DDT and Składnica. Asked them for that, and referred them to this discussion. So let's hope they find it a good idea, too.

[2016-09-08 21:44] gcelano commented on #329
The term "copula" is used with different meanings in the literature. Some authors also use "copula" for locative be ("the book is on the table") or even - rather hazardously - for existential be ("there is a book"). More recently, however, Huddleston and Pullum (CGEL) reserve the name only for the verb "be" when it is accompanied by a predicative complement (ie, only a NP or AP, not a PP). This la

[2016-09-09 00:25] ftyers commented on #336
@Bjartensen ok! ... Yes, I took a look and the corpus is POS tagged, but without lemmas or dependency analysis. In order to make this useful for UD it would need to be annotated for dependency structure. If you are interested in doing this, please feel free to contact me and I would be happy to help out... :) Around 1,500 sentences, or 10,000 tokens would be a good baseline to start training a sta

[2016-09-09 06:18] dan-zeman commented on #336
@Bjartensen thanks for the link! I completed coverage of the tagset by Interset, converted the corpus and added it to the UD_Faroese repository. Redistribution is OK, they have released it under GPL (and also LGPL and MPL). However, if you know where to ask about licensing, it won't hurt if you do so, because we would actually prefer to use one of the CreativeCommons licenses; the reasons are disc

[2016-09-09 06:28] dan-zeman commented on #336
@Bjartensen, I have generated an invitation for you to UniversalDependencies; look in your e-mail. After accepting the invitation you should have push access to UD_Faroese and edit rights for the language-specific documentation on universaldependencies.org.

Add your name to the Contributors line in the README.txt file (more on metadata format here: http://universaldependencies.org/language_metada

[2016-09-09 13:59] amir-zeldes commented on #329
I agree with Giuseppe that 'strong' uses of the copula, such as existential predication, should not be marked as `cop` - that is functionally a very different thing, and many languages (including Hebrew) distinguish copula constructions from strong existentials.

However I would be against the requirement that copulas should be verbs. Huddlestone and Pullum's CGEL is, as its name suggests, as gram

[2016-09-09 16:27] Bjartensen commented on #336
@dan-zeman Thanks! I added my name to the contributors field.

I got a reply on the license, and they said there is no problem using it. Not sure about changing licenses, but I could ask them. How important is it to change the license at this time?

[2016-09-09 16:37] ftyers commented on #336
@Bjartensen not important at the moment. Do enquire if you can use it under the CC-BY-SA licence too though.

[2016-09-09 16:38] Bjartensen commented on #336
@dan-zeman @ftyers How would one best proceed improving/adding to the corpus? Does it involve manual linguistic work? If it does, is a native speaker like me enough, or do we need to pull faroese linguists into this? FMD (Føroyamálsdeilin, or the Faculty of Language and Literature of the University of the Faroe Islands) have expressed interest in improving the corpus. But I'd like to spare them of

[2016-09-09 16:40] Bjartensen commented on #336
@ftyers ok, I'll ask them the next time I correspond with them.

[2016-09-09 16:42] ftyers commented on #336
@Bjartensen ... the next step is to start analysing the sentences for dependency structure. You don't need to be a trained linguist, but if you've never done dependency analysis before you will likely need to do some reading and receive some help (and training). I'm more than happy to give you a brief introduction online if you have some means of chat-like communication. If you know IRC, I'm on #_

[2016-09-09 19:02] dan-zeman commented on #336
OK, I think we can close this issue, as the seed has been planted (feel free to reopen if you think otherwise). @Bjartensen, @ftyers I'm leaving it to you but let me know if I can be of any help of course.

[2016-09-09 19:02] #336 closed, assigned to dan-zeman

[2016-09-10 16:03] Bjartensen commented on #336
@dan-zeman alright thanks for all the help!

@ftyers yes I'm interested in seeing how I can start analyzing dependency structure. I'll hang around in IRC.

[2016-09-12 21:48] alanakbik opened #337 "Determiners in German UD Data"
Hello all,

we have been looking into the German UD datasets to see why numbers reported for German are generally lower than for other languages (for instance, the monolingual baselines reported [here](https://pdfs.semanticscholar.org/481e/de306724e285225f00898d6305a0593d424b.pdf)).

We found a number of inconsistencies and potentially suboptimal annotations and would like to check back with the c

[2016-09-13 13:19] dan-zeman commented on #337
Thanks for the report. Genitive nouns attached as `det` are clearly a bug; fixed in https://github.com/UniversalDependencies/UD_German/commit/8912522fd89f80733fb2428f9b36cd4c72804059. Attachment of possessive determiners was unified to `det:poss` in https://github.com/UniversalDependencies/UD_German/commit/ba56df74028a156a473ec19f2e84fce8baed6107.

[2016-09-13 13:19] #337 closed, assigned to dan-zeman

[2016-09-13 14:10] emilymbender opened #339 "ISO 639-3 Language codes"
The current ISO standard for language codes is the three letter language codes of ISO 639-3:

http://www.iso.org/iso/home/store/catalogue_tc/catalogue_detail.htm?csnumber=39534

The codes can be found here:

http://www-01.sil.org/iso639-3

The two letter codes do not scale to the worlds' 6000+ languages; a project with "universal" goals should use ones that do scale.  In addition, work citing the

[2016-09-13 14:18] fginter commented on #339
Completely agreed. This was a poor choice at the beginning of the project. Unfortunately, the current two letter codes are right now extremely prevalent throughout the documentation system, the data validation scripts, basically everywhere. Porting everything to the three letter codes would be great IMHO, but I personally wouldn't want to be the one having to do it. :) As a first approximation, we

[2016-09-13 14:20] emilymbender commented on #339
Would it be possible to set up an equivalence table somewhere that lists all the languages with three-letter codes and then (for backwards compatibility) links to the two-letter versions where those are still present? (And perhaps encourages people who are publishing on this to use the three-letter codes?)

[2016-09-13 14:23] fginter commented on #339
Producing such compatibility links would need changes very deep in the guts of the documentation system. It's totally doable, but someone would then need to do it and make sure nothing breaks. Right now, at least I cannot promise this.

[2016-09-13 14:25] dan-zeman commented on #339
I think we are following the common practice that ISO 639-1 codes are used for languages for which they exist, and three-letter codes otherwise. It was even sort-of standardized in the Internet RFC 4646 (http://www.ietf.org/rfc/rfc4646.txt), but that RFC takes the three-letter codes from ISO 639-2T, while ISO 639-3, which came later, is IMHO better. But I like using the 639-1 for the "big language

[2016-09-13 14:28] fginter commented on #339
I didn't know that was actually a common practice to do it this way. :) Live and learn. So I guess the tentative conclusion is to leave this as is because (a) it's not a bug it's a feature and (b) the change would be very labour-intensive.

[2016-09-13 14:33] emilymbender commented on #339
I learned something today, too! I still think it is more appropriate for a linguistics project to use three letter codes (and not give preferential treatment to "big" languages).  And I still think that linguistics publications should indicate which languages they are addressing using the three letter codes --- perhaps UD could provide a (flat, text, not linked) table that maps all codes into the

[2016-09-13 14:44] dan-zeman commented on #339
Such a list can be created easily and I agree that it would be potentially useful.

I know I will not use it in my publications though. Not only because I like 639-1, but also because publications have page limits and tables are too large even now :-)

[2016-09-13 15:01] dan-zeman commented on #339
There is a nice langcode conversion list in Wikipedia, so maybe we could just link there?

http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

[2016-09-13 17:32] alanakbik commented on #337
Sure! Glad we could help!

[2016-09-13 18:03] nschneid commented on #323
If I had to guess I'd say `compound`, but it doesn't really feel like compounding.

Any thoughts on this, @ngiordani? @dan-zeman? @jnivre?

[2016-09-13 18:19] dan-zeman commented on #323
I would not use `compound`. I see two possible parallels:
1. Coordination. _Go [and] get me a sandwich._ `conj(Go, get)`
2. Subordination. _Go [there so that you can] get me a sandwich._ `advcl(Go, get)`

Of these two, coordination sounds more natural to me.

[2016-09-13 18:46] nschneid commented on #323
What is done for languages like Chinese where serial verbs are frequent?

[2016-09-13 19:55] dan-zeman commented on #323
No idea. @ryanmcd, could you ask Mo?

[2016-09-14 06:55] fginter commented on #339
Okay. Good. Reopening and assigning to myself. I'll try to add that link to some reasonable place or even extract the codes for the languages we have and add them somewhere.

[2016-09-14 14:08] emilymbender commented on #339
Thanks, Filip!

[2016-09-16 13:28] dan-zeman commented on #295
Introduction fixed in cb01eb38b69b2489fad36be3b9fcb21dc384f568. Closing the issue.

[2016-09-16 13:28] #295 closed, assigned to dan-zeman

[2016-09-16 13:47] dan-zeman commented on #314
Apparently the adverbial instances of _muito_ have already been fixed. There are still a few others which are tagged `DET` but these indeed modify a noun, as in _muito tempo_ "much time". I think these are fine as determiners. Tentatively closing the issue.

[2016-09-17 22:03] olesar opened #340 "det:predet is not attested in the Russian treebanks"
det:predet is mentioned as a language-specific relation for Russian. Why?
I could not find any traces of this relation in two Russian treebanks (Google and SynTagRus) and in the documentation.

[2016-09-18 06:34] dan-zeman commented on #340
Did you mean in the lists of language-specific relations for the validator, in the tools repository (http://github.com/UniversalDependencies/tools/tree/master/data)? I suspect that these files were just cloned from English. I removed `det:predet` and also `conj:preconj` now.

[2016-09-18 06:34] #340 closed, assigned to nobody

[2016-09-24 22:45] nschneid commented on #323
Any opinion, @amir-zeldes?

[2016-09-26 16:05] ftyers opened #341 "Verbs, aspect and choice of lemma in Russian"
I've been looking at the Russian-SynTagRus data, and there is a choice made in selecting the lemma, that aspect seems to be treated as an inflectional feature. So, the lemma of the perfective verb is the imperfective.

[code]

I'm bringing this up here, as I think for other Slavic languages (I've looked at least at Polish and Czech), the lemma is always the same aspect. Is this something that we w

[2016-09-26 17:23] dan-zeman commented on #341
Wow! I did not know that. I believe we should standardize this Slavic-wide, and the standard should say that aspect is lexical / changing aspect is derivation. (Edit: although it may be useful to keep the information about aspect pairs somewhere.)

[2016-09-26 17:43] amir-zeldes commented on #323
Well, my Chinese is pretty rudimentary, but from what I can see they seem to be tagging qu4, which I guess is the most similar to 'go' in this context in at least two ways - either as governing xcomp (go VP, go to do something), or as a mark to the verb following it. This is because as a 'light verb' qu4 is kind of ambiguous between 'go' and a function word 'in order to'. Here are some graphs inst

[2016-09-26 17:44] ftyers commented on #341
Yeah, I agree with you. I think this is basically because in SynTagRus it is done like that. It should be possible to convert it automatically using a morphological analyser. The original (aspect pair) lemma could be left in the MISC column.

[2016-09-26 17:50] amir-zeldes commented on #323
I think the case we're talking about here is more similar to the xcomp one in Chinese, but I think for Hebrew and English it's not a very intuitive analysis, since you can insert 'and' with no real difference in meaning. So overall I'd be for the coordination analysis (`conj`).

I'd like to point out against my own opinion that in colloquial Hebrew, where you find this 'go do' construction more, t

[2016-09-26 18:00] dan-zeman commented on #341
I just did some investigation. (WRT Slovak, this data has not been released for UD, but I have access to it and was curious how they do it.)

Czech
- aspect is lexical
- many verbs lack the feature although they are not biaspectual (incomplete lexicon)

Slovak
- aspect is lexical
- biaspectual verbs have "Imp,Perf" instead of omitting the feature
- present participles are tagged VERB but have adje

[2016-09-26 18:09] daghaug commented on #341
For Old Church Slavonic, we use the aspect feature to code the
inflectional distinction between Imperfect and Aorist, since they are
both past tenses and the difference is clearly aspectual. I actually
think there is also a lexical aspectual system in OCS, but this is
controversial and so not suitable for corpus annotation.

As far as I know, modern Bulgarian has the same double system, with both

[2016-09-26 18:17] danielhers commented on #323
You mean @omriabnd :)

[2016-09-26 18:28] dan-zeman commented on #341
`Tense=Imp` admittedly differs from `Tense=Past` in aspect rather than in tense proper. The feature is available because of Bulgarian, where it can occur even with perfective verbs. I guess it could be used in OCS, too.

The other option would be to re-design the system using layered features, e.g. `Aspect[infl]`. I am not sure I am proposing this—I kind of got used to the current system, and like

[2016-09-26 19:50] amir-zeldes commented on #323
I did, thanks! Actually, your judgment is good too - what do you think: is lex teshev the same as lex shev?

[2016-09-26 20:02] osenova commented on #341
As it was already pointed out, in Modern Bulgarian the Aspect feature is lexical (imperfective/perfective), while Aorist/Imperfect distinction is treated as a Tense difference.
Thus, these features combine. Verbs in both aspects can inflect in both tenses as a rule. The situation should be quite close to the one in Old Church Slavonic.

[2016-09-26 23:39] manning commented on #321
Approve!

[2016-09-27 04:46] danielhers commented on #323
Well, pragmatically, I think they are the same. I feel they are the same syntactically, too, and the only difference is the imperative, which gives a stricter tone.

[2016-09-27 04:49] nschneid commented on #323
It sounds to me like none of the options are ideal. Should we just go with `dep`, leaving the possibility of a more appropriate label later?

[2016-09-27 04:53] dan-zeman commented on #323
Dep is not ideal either and should be avoided if possible. I think conj is better.

[2016-09-27 05:06] nschneid commented on #323
A colleague points me to this Zwicky paper which may be relevant: http://web.stanford.edu/~zwicky/serial-verbs.pdf

[2016-09-27 06:30] omriabnd commented on #323
Amir, all,

I agree that the serial verb construction analysis is not the most
intuitive for the Hebrew and English examples above (I don't have a strong
intuition about the Hebrew distinction you mentioned).

We're currently working on converting the CHILDES dependency annotation to
UD, trying not to correct things unless we see them as clearly wrong. Hence
our question as to whether UD recognize

[2016-09-27 06:45] olesar commented on #341
In the first round of conversion (v.1.3), lemmatisation in Russian treebanks was not changed. SynTagRus was initially parsed by ETAP-3, a tool developed for machine translation (Russian-French-Russian and Russian-English-Russian, as far as I know). That is why aspectual pairs there are treated as inflectional.However, in v.1.4 we are going to convert lemmas according to the Russian National Corpus

[2016-09-27 07:11] dan-zeman commented on #323
@nschneid : thanks for the pointer to the Zwicky paper. He has quite a variety of examples there and I don't think that all of them should be analyzed the same way (nor do I think that Zwicky thinks they should). I start to think that your original suggestion to use `compound` is not too bad either, although you are right that it does not really feel like compounding. (But note that Zwicky advocat

[2016-09-27 07:26] dan-zeman opened #342 "Tokenization of words with hyphens"
Originally mentioned by @olesar in #341 but it is a separate issue, hence I am moving it here:

In UD_Russian-SynTagRus v.1.4:
- words with hyphen are treated as separate tokens linked with "goeswith", in line with UD-Russian-Google
- do we really need this?
- http://universaldependencies.org/u/overview/tokenization.html has no guidelines on that.

Olga

[2016-09-27 07:49] ftyers commented on #342
In some languages bound morphemes are written with a hyphen, consider Mari:

[code]

I wouldn't like to split this. And I think that clitics in the Romance languages (as in Portuguese, Catalan, Sardinian [where they use · not -]...) are better kept as a single token and dealt with using the CoNLL-U standard.

[2016-09-27 08:15] dan-zeman commented on #342
I think that dealing with hyphens should be language-specific. Sometimes it may be even useful to have different rules for different usage within one language.

Unfortunately, there are interferring technical issues. It would be nice if the low-level tokenization could work independently of the language, using just Unicode character properties and maybe a few regular expressions to capture things

[2016-09-27 09:45] olesar commented on #342
Exactly, we use "different rules for different usage" (i.e. lemmas) in the Russian National Corpus. However, it is not convenient if we evaluate other tools. In RU-EVAL evaluation tracks, we use the maximum split strategy.On the other hand, this involves the over-use of "X" pos-tags in a treebank, or it changes the usage pattern of other pos-tags (ADV, ADJ, NOUN). Olga

[2016-09-27 13:48] amir-zeldes commented on #323
I could see `conj` or `xcomp` (potentially with `:serial` if that's used), but I really feel `compound` is not appropriate. I see compounds as 'morphological', meaning they are 'complex words'. What this means in different languages varies a lot, but generally, there is some way in which they are 'one thing'.

In English or German, compounds only take one agreement marker (case/number/gender), so

[2016-09-28 06:08] danielhers commented on #323
After reading the Zwicky paper @nschneid linked to, I'm not sure the 'go
<verb>' construction should even be analyzed a serial verb construction at
all (meant in a specific theoretical sense as something we don't yet know
how to analyze, rather than in the umbrella term sense). Why not tag the
'go' as a modal? I think it should be similar to the 'do' imperative marker
in 'do <verb>'.

On Tue, Sep

[2016-10-05 14:13] MacMachin opened #343 "Error in ADP POS tag for French language"
There are errors in the page ADP for French language due to orthographic errors in the initial texts:
- "à" is <b>never</b> an <code>AUX</code> or a <code>VERB</code>, the <code>VERB</code> is "a" without the accent ;
- "à" is not a <code>NOUN</code>, in the example it should be written with quotes because the text speaks about the word "à" ;
- "par" is <b>never</b> a <code>VERB</code>, the <code>

[2016-10-05 14:14] olesar commented on #343
I am mostly out of email until October 11.
Olga

[2016-10-05 21:56] mcdm commented on #343
@MacMachin These are not errors. The statistics below the POS guidelines are automatically computed. As you say, there are orthographic errors in the original texts, but we annotate the data with the intended POS. So if "à" is used as a verb, it is tagged VERB.

[2016-10-05 21:56] #343 closed, assigned to nobody

[2016-10-06 07:15] MacMachin commented on #343
@mcdm What a silly answer ! These are not errors but there are errors !
Your parser is not able to detect errors and you are proud of that ? And you want to keep them ?
If your data are not reliable they are not useful. You should better correct them.

[2016-10-06 12:27] mcdm commented on #343
@macmachin I think you are misunderstanding things here. The statistics are just counts, not results from a parser. We are doing corpus annotation, and we keep the text _as is_: if the text is incorrect, we don't modify it.

[2016-10-07 13:57] arademaker commented on #314
From @dan-zeman comment on https://github.com/UniversalDependencies/UD_Portuguese/issues/1#issuecomment-241219083

[2016-10-07 19:21] dan-zeman commented on #314
@arademaker : So what is the issue now?

[2016-10-07 20:26] alanakbik opened #344 "Unified Semantic Role Labels for UD Datasets"
Hello all,

at IBM Research, we have been working on a layer of unified semantic annotations for a range of languages. We use a data-driven approach in which we re-use existing English Proposition Bank frame and role labels for new target languages, followed by a process of manual curation ([ACL 2015](http://alanakbik.github.io/papers/acl2015.pdf), [ACL 2016](http://alanakbik.github.io/papers/acl2

[2016-10-07 22:28] nschneid commented on #344
@alanakbik, thanks for posting this! I'm very much interested in the broad-coverage, multilingual semantic role labeling space, and I think it would be great to explore whether a UD-like project in this direction makes sense—perhaps using UD itself as a syntactic starting point.

That said, I'm under the impression that the UD project wants to stay focused on syntax, not semantics. (UD core member

[2016-10-08 14:01] arademaker commented on #344
@nschneid it seems to me some directions to semantics. As @dan-zeman said once: "UD's philosophy is to make relations between content words the backbone of the dependency structure" and it may be a better structure for capturing the meaning. Moreover, the addition of further columns in the conllu format would not impose a problem and I found some mentions on the UD website about the presence of so

[2016-10-09 08:31] dan-zeman commented on #344
The UD project stays focused on syntax because there is a limit to the amount of things one can focus on. Personally I think that this is one of the potentially useful extensions of Universal Dependencies. (Other possible extensions include named entities and MWEs.) I can imagine that it appears as an additional tarball within a UD release: there will be only languages for which SRL annotation is

[2016-10-10 16:21] alanakbik commented on #344
@nschneid @arademaker @dan-zeman thanks for the feedback!

I like the idea of adding the SRL annotated data as separate files next to the unannotated files. This also is in line with what we discussed with @jnivre at ACL. This would be then be an optional layer of annotation available only for supported languages.

Synchronizing data would not be difficult unless there are major changes that affec

[2016-10-10 16:53] dan-zeman commented on #344
@alanakbik : You are right that these changes are not frequent but they do occur. We have seen sentences added and removed in multiple languages. I have no evidence of 2 but it cannot be excluded. I recommend that you at least monitor the dev branches of the corpora for which you have SRL. Maybe even get in touch with the maintainers, because sometimes the real development takes place elsewhere, a

[2016-10-10 18:11] jnivre commented on #344
Anything can happen in principle between versions, but these changes should be rare in general. The important thing is to be careful about versioning, but it would be nice if we could have such mechanism so that treebank providers are automatically alerted when they make changes that could mess up additional annotations. Any ideas?

[2016-10-11 09:28] bguil opened #345 "Inconsistency in dislocated doc page"
on page http://universaldependencies.org/fr/dep/dislocated.html:
it is written:

_"Dislocated elements are attached to the same governor as the dependent that they double for."_

but in the example, the governor of _Pierre_ is _l'_; it should be _aime_.

[2016-10-11 18:09] amir-zeldes commented on #344
Thumbs up from me for separate files - then you can independently commit to a treebank and run a script to check for identical tokenization, with warnings, but not conflicts if it fails.

[2016-10-11 20:37] alanakbik commented on #344
That sounds like a good idea. Since most of the additional annotations suggested so far (MWEs, NEs, SRL) seem to be more loosely coupled to the underlying treebanks, this would place the burden of maintaining consistency on the committers of the additional layers - which seems appropriate. No need to burden the treebank maintainers with this.

Separate files could be placed either directly next to

[2016-10-12 11:37] spyysalo commented on #296
@pkamocki: thank you for the detailed argument!

@dan-zeman : did you hear anything back?

[2016-10-12 11:40] spyysalo commented on #140
Assigning to @fginter as I'm no longer maintaining the documentation generation system, sorry Filip :-))

[2016-10-12 11:42] dan-zeman commented on #296
Partially. I got permission to relicense Danish and Dutch, and I have already modified these two. I got a reply from Poland but they are not sure whether they need to acquire a permission further up the chain, so that is on hold. No response from Spain so far (Spanish + Catalan).

[2016-10-12 22:22] MemduhG opened #346 "Sorani Clitics with Verbs and Segmentation"
The segmentation of Sorani is an issue that I believe concerns many similar languages, particularly those in the Iranian family like Persian. Working on the morphological analysis of the language I saw that with ergativity in particular, Sorani can get quite complicated, with regards to the positions of agreement affixes and pronominal clitics. I am not yet going to go into possessives or compare

[2016-10-12 23:24] borstell opened #347 "Repeated items in Swedish Sign Language"
I'm part of the group annotating a set of Swedish Sign Language (SSL) data using the UD scheme. One issue that is particularly common for SSL data (and several other sign languages) is the repetition of certain items. The most notable ones are (1) repeated pronominal subjects, and (2) so-called "verb sandwiches". Examples are given below (sign glosses translated to English for convenience).

For e

[2016-10-13 06:35] dan-zeman commented on #347
While I am not sure about the best solution, I would advise against `remnant`. It was meant for ellipsis and it is becoming obsolete: it is probable that it will be removed from UD v2 guidelines, which are being prepared now.

The reduplicated pronouns in (1) somewhat resemble clitic doubling that we already have in a couple of languages (e.g. Bulgarian). The solution there is that the superfluous

[2016-10-13 07:02] dan-zeman commented on #346
Since the agreement morphemes can attach to other words and not just the verbs, separating them as syntactic words is probably the best way to go. (If they stayed with the verb, we could also say they are the `Person` feature of the verb.)

So is there any issue with attaching the clitic to the verb as `nsubj`? (And in the case of _khward-im-î_, the _î_ would be attached as `dobj`.)

[2016-10-13 08:16] hectormartinez commented on #347
Well, Turkish has a compound:redup, would that fit?

2016-10-13 8:35 GMT+02:00 Dan Zeman notifications@github.com:

[2016-10-13 11:06] ftyers commented on #346
I think your description and proposal is pretty fine. And agree with Dan that using standard relations `nsubj` and `dobj` is the way to go. However, is it possible to have an expressed pronoun too ? e.g. would something like "Man sêvaka-m dawe" be possible ?

[2016-10-13 13:17] xsway opened #348 "PoS tagging of participial adjectives in Russian and other Slavic languages"
I have been looking at how participial adjectives are annotated in UD since I’d like to study them using treebanks across several Slavic languages and a uniform annotation would be very desirable for my purposes. I first looked in detail at Russian, since it's my native language.

According to the documentation http://universaldependencies.org/ru/pos/ADJ.html, deverbal adjectives (passive, present

[2016-10-13 20:59] simon-clematide commented on #203
Is the following now decided for German UD 2?
- all `aux` dependents have to be verbal
- the word "zu" in the construction "zu" + infinitive is a `mark` dependent
- the word "um" in German has 3 different admissible word classes: '`SCONJ`' (subordinating conjunction expressing a purpose as defined in http://www-01.sil.org/linguistics/GlossaryOfLinguisticTerms/WhatIsAnAdverbializer.htm, which is re

[2016-10-13 21:36] dan-zeman commented on #203
In general `aux` may be a particle, but yes, in German it should be verb. _zu_ should be `mark`. I do not remember how _um zu_ is done in the data but `mark` sounds reasonable to me; I could even imagine _zu_ connected to _um_ via `mwe`.

[2016-10-13 22:25] simon-clematide commented on #203
Currently, the subordinating _um_ in German is tagged as `ADP` (against common linguistic practice, IMHO) and connected via `mark` in order to distinguish it from the real preposition _um_.
[a ud 1.3 SETS query](http://bionlp-www.utu.fi/dep_search/query?search=um%20%3Cmark%20_&db=UD_German-v13&case_sensitive=True&hits_per_page=50) shows this.  Italian _per_ and  French _pour_ follow the `ADP <mark

[2016-10-14 06:29] jnivre commented on #203
I think the use of ADP for "um" stems from the ambiguous use of IN for both prepositions and subordinating conjunctions in the English Penn Treebank. The German UD treebank was originally annotated (before UD existed) by a team whose instructions were to follow the guidelines for English Stanford Dependencies as closely as possible but modify the guidelines when needed. This seems to be a case whe

[2016-10-14 08:10] simon-clematide commented on #203
I fully agree that the overloading of IN as a kind of "preposition" for verbs from the Penn Treebank shows through this annotation philosophy. We at the Department of Computational Linguistics in Zurich have decided to use Universal Dependencies in our courses and practical work with our students. We are also willing to push the consistency and quality of this resource further in order to  show th

[2016-10-14 08:16] olesar commented on #348
Hi Kristina,

just a couple of comments on your examples from SynTagRus.
Actually, all postnominal uses you cite:

[голос] доносившийся [из кабинета] ДОНОСИТЬСЯ VERB
[догматизм] перерастающий [в ..] ПЕРЕРАСТАТЬ VERB
[закон] регулирующий [сотрудничество] РЕГУЛИРОВАТЬ VERB

are verbs rather than deverbal adjectives. Both meaning and valency patterns are preserved.

See more on diagnostic criteria of

[2016-10-14 08:47] xsway commented on #348
Thanks for your reply, Olga!

The UD docs say however that the cases such as the one I cited should be tagged as ADJ:
"сделанный “done” (passive participial adjective)
делающий “doing” (present participial adjective, derived from present transgressive)
сделавший “having done” (past participial adjective, derived from past transgressive)"

My question is whether the annotation of Russian correspond

[2016-10-14 09:42] dan-zeman commented on #203
@jnivre : I think the distinction between `ADP` and `SCONJ` is also related to our discussion about the extent to which we want the POS tag to be determined by syntactic function. _Um_ can indeed function as a preposition in a nominal phrase but I agree that it is different from the _um zu_ + infinitive construction. The STTS tagset used in Tiger is very functionally oriented, so it would be unthi

[2016-10-14 09:48] MemduhG commented on #346
I think a pronoun is usually not present if there is a pronoun of the same number/person as a clitic on the verb, but I do not think it is impossible. In the case of _Min sêvaka-m dawe_ how would it be parsed? It looks more like agreement when there is both a pronoun and an agent clitic. This could be a possible solution:

[code]

When they are _not_ the same person it would probably end in the un

[2016-10-14 10:15] simon-clematide commented on #203
@dan-zeman Ok, now I found the dev branch of the German UD with your recent commits, great:-) I will look into that.

Regarding `mwe`, ok, I understand. Still, _um_ and _zu_ can be in contact position sometimes, but there can be an unrestricted amount of constituents be between them. Therefore `mwe` is still not applicable for me in this case.

Regarding `name`: Yes, we also saw that there is a bi

[2016-10-14 10:28] jnivre commented on #203
@simon-clematide @dan-zeman @slavpetrov @wbwseeker I think it's great if you are willing to put some effort into fixing some of the "bugs" in the German UD treebanks. I also have a German student here in Uppsala, who might be interested in contributing. She noticed, for example, that verb particles are annotated as "mark" instead of "compound:prt" as in English and the Scandinavian languages (unle

[2016-10-14 10:33] tsamardzic commented on #248
@dan-zeman
We have just started working on Serbian UD and we came across the issue of the distinction **dobj** vs. **iobj** right away. It seems to me that allowing **iobj** in the sentences where there are no **dobj** is necessary for Slavic languages. If not, then we will annotate differently **im**  in

and **mi** in

(examples cited above) while they are grammatically identical.

If this is a

[2016-10-14 11:18] dan-zeman commented on #203
@simon-clematide : Regarding `mwe`, on a second thought I came to the same conclusion but you were faster to write it :-) Let's forget `mwe` here.

Regarding `compound:prt`, it was on my to-do list but today I realized that I did not fix it in August. Fixed (almost—I rely on a tagger's opinion on what's `PTKVZ`, so there will be a few errors) and committed a minute ago.

[2016-10-14 11:56] KirilSimov commented on #248
Dear All,

In our view we have to represent the difference between dobj and iobj
independently from their realization in a given sentence, because
the UD treebank could be accompanied with other resources like
valency lexicon where the difference (in case, for example) will be
presented. Thus, if a verb allows for an accusative dobj and a dative iobj
in a sentence with only iobj realized, it will

[2016-10-14 13:45] simon-clematide commented on #203
Oh, yes, that was another issue.  Great it is fixed!

I was wondering whether there is a language-specific agreement regarding the UPOS tag of a verb particle (given that in the annotation schemes I know best, this words would have been treated as particles). The UD guidelines state:

As I interpret the current annotation, there is a global lexical preference relation which says:
- if the word for

[2016-10-14 13:58] jnivre commented on #203
I don't think there is a universal preference for ADP over ADV. This has to be settled on a language-specific basis. Verb particles can even be ADJ sometimes ("cut short"). The basic idea is that we regard "verb particle" as a syntactic function, not a part-of-speech category. Different languages allow different word classes to have this function (none at all in most languages).

[2016-10-14 14:13] gossebouma commented on #203
In general, I think Dutch annotation should be very comparable to that for German. However, a quick check for verbal particles for the Dutch LassySmall corpus gives (we are not using compound for anything else I think):

grep compound *.conllu  |cut -f 4 |sortnr
    762 PART
    178 ADP
    176 ADV
    134 NOUN
     98 ADJ
     14 VERB
      2 DET

We use PART for the 'prepositional' particles, an

[2016-10-14 14:18] simon-clematide commented on #203
Ok, then the universal guidelines are somewhat incomplete by not mentioning adjectives  (_schön|reden_ in German) or even nouns (_staub|saugen_ in German). But we still need a guideline for German, I would say. If verb particles are not pos-tagged by a special tag as in all other German Treebanks, we **have** to resort to other POS tags. Origin or semantics are not very clear-cut to me, and verb p

[2016-10-14 14:37] jnivre commented on #203
I completely agree. This is why we in general need language-specific guidelines. The universal guidelines lay down the general principles. The language-specific guidelines describe how this principles have been implemented in a specific language. Ideally, the language-specific implementation should be consistent across related languages (like German and Dutch) and making this explicit will make it

[2016-10-14 15:25] dan-zeman commented on #203
`PTKVZ+case` changed to `APPR`, `APPO` or `APZR`.

I did not change the UPOS anywhere. I am not sure whether there is a consensus but I also do not have more time now.

[2016-10-14 15:38] dan-zeman commented on #346
This sounds like clitic doubling to me, in which case one of the pronouns (_min_?) would be `expl`. What would it mean if the full pronoun is not the same person and number as the clitic?

BTW, shouldn't _bichim_ in the above examples be `xcomp` instead of `ccomp`?

[2016-10-14 18:31] dan-zeman commented on #348
The more I think about it, the more I lean towards tagging (and lemmatizing) all Slavic participles except for the l-participle as deverbative adjectives. That does not prevent them from having verbal features such as `VerbForm=Part`, `Tense=Pres|Past`, `Aspect=Imp|Perf`, `Voice=Act|Pass`. Valency is also not a problem, deverbatives usually inherit valency, even if it is sometimes transformed to d

[2016-10-14 18:56] dan-zeman commented on #248
I am not very happy with how UD v1 defines `dobj` and `iobj`, although I am not sure how the perfect solution should look like. I think our life might be easier with just a plain `obj`. _If_ `iobj` is understood as the addressee role with verbs of giving, then it would be natural to label this role `iobj` even when no other object is present. It is intuitive to understand `iobj` that way, but it s

[2016-10-15 00:48] olesar commented on #348
@Dan: ok, got it. We will get more chaos at the morphological level (tagging ADJ with tense and voise), but I see your point. So, will we tag these participles acl or amod here:[голос] доносившийся [из кабинета] ДОНОСИТЬСЯ VERB[догматизм] перерастающий [в ..] ПЕРЕРАСТАТЬ VERB[закон] регулирующий [сотрудничество] РЕГУЛИРОВАТЬ VERB The only question left is the following:why do we still have VERBs f

[2016-10-15 01:25] olesar commented on #248
@dan-zeman, @tanja, @KirilSimov we had a meeting with @jnivre on that topic in Russian and he convinced us that any second argument of the verb (marked with case) should be tagged as dobj in UD v1. So it looks like a PropBank style now, dobj/ARG1 being nouns in Acc, Ins, Dat, and Gen. At the same time, if we have ccomp/xcomp in the argument structure, then we assign iobj to the arguments in Ins an

[2016-10-15 11:24] MemduhG commented on #346
I would be happy with `expl` for doubled clitics. AFAIK if they are not the same number and person then the full pronoun is an indirect object.

As for _bichim_, I neglected to put in the verbal agreement in my original comment, it has first person singular agreement. Since it has agreement and works as a clausal object I thought `ccomp` would fit, however I am happy to make any changes on advice.

[2016-10-15 13:17] simon-clematide commented on #203
@dan-zeman: Great! Things are going very fast now:-)

@jnivre: I could contribute to the language-specific documentation
- [ ]  `SCONJ`  (about _um_)
- [ ]   `mark` (about _um_)
- [ ]  `compound:prt`, also mentioning the general lexical POS preference for the separated prefixes: ADP<ADV

However, this documentation would be for Version 1.4 of the German UD and it would not reflect the situation of

[2016-10-15 13:21] jnivre commented on #203
There will be a 1.4 release for those who wish to release new or improved data, but we recommend people to devote their efforts to v2. This has been announced on the UD mailing list. Aren't you a subscriber?

[2016-10-15 13:40] dan-zeman commented on #203
@simon-clematide : We take documentation (guidelines) as describing the desired state. If the current data differs from the desired state because we were not able to make it comply with the guidelines, there should be a "Diff" section for the particular treebank on the doc page(s) to which the difference applies. However, we rarely refer to the previous release if we know that it is going to be fi

[2016-10-16 08:33] dan-zeman commented on #346
OK, I am not sure about _bichim_. If its agreement could differ from that of _damawe_, resulting in something like English _I want him to go_, then it is indeed `ccomp`.

[2016-10-16 08:44] dan-zeman commented on #348
I do not believe that there is a universal rule for participles being either `ADJ` everywhere or `VERB` everywhere. We could define such a rule but I am afraid it would feel odd in some languages regardless what we do. (Maybe we need a separate tag `PTCP` :-)) That's why I am only aiming at Slavic-wide consistency.

Regarding converbs/transgressives, we could probably do what you suggest, although

[2016-10-16 08:46] MemduhG commented on #346
Yes, you could say "I want him to go" with different agreement, _damawe biche_.

Something I am concerned about is that in situations like "I want the apple" _Sevakam dawe_, there is no agreement on the verb _dawe_. If it were a past/ergative construct we could say it was 3rd person singular, but I am not quite sure what to make of its agreement now.

[2016-10-16 11:32] dan-zeman commented on #346
If I am understanding it correctly, the only agreement in _damawe_ was the clitic that we separated. If you have _Sevakam dawe_, you again separate the clitic (now from _sevakam_) and attach it to _dawe_ as the subject. So the two situations are similar. Seems that _dawe_ itself does not have the `Person` and `Number` features, as long as we consider the clitic a separate syntactic word.

[2016-10-17 09:18] xsway commented on #348
@dan-zeman Thank you for the link! Your paper clarifies a lot the situation and answers all my questions at the moment. And it's a very useful reference for this type of constructions in Slavic in general!

[2016-10-17 12:56] tsamardzic commented on #248
Thanks everybody for your comments and explanations.

@olesar :  It's good to know that you have already had a discussion on this with @jnivre. Is there maybe some documentation on the discussion? It would be very useful for us to go through the arguments.

@dan-zeman :
I agree with you that **mi/im**  is more easily omitted with _hladno_ than with _žao_, but this does not make the two constituent

[2016-10-17 13:09] jnivre commented on #248
In addition to the universal guidelines for `dobj` and `iobj`, you can find some discussion of core arguments: http://universaldependencies.org/v2/core_dependents.html. Especially the section "Chris on iobj" is relevant to the discussion here.

[2016-10-17 21:28] nschneid commented on #275
Is there a more natural name we could use if AUX is broadened to include copular verbs? I don't necessarily object to giving them the same tag, I just worry that the name AUX will confuse people if it includes the copula, which is traditionally considered a main verb (at least in English grammar). In my mind, "auxiliary" means a verbal word that accompanies the main verb.

"Function verb" is the b

[2016-10-19 13:30] tsamardzic commented on #248
Thanks @jnivre for pointing me to the relevant discussion. I completely agree with the idea of using  `iobj` to label all "other objects" and

This makes a lot of sense in the case of Serbian.

My concern is the following sentence in the [universal guidelines](http://universaldependencies.org/u/dep/iobj.html):

As I think I show in the previous posts, applying this general principle as a strict ru

[2016-10-19 14:28] jnivre commented on #248
The proposal for v2 is to use a general "obj" relation for both of these. I think this captures the essence of the original UD philosophy without being offensive to people who want to see a tighter association with case and/or semantic roles. See: http://universaldependencies.org/2016-09-05--06-prague/core-dependents.html

[2016-10-19 23:33] olesar commented on #248
In this context (and echoing the discussion at http://universaldependencies.org/v2/core_dependents.html), I am a bit worried about the assumption that PPs (prepositional / postpositional phrases) should be mostly tagged as nmod (aka anom/advnom in v2) in UD.
It is not uncommon that in many case-marking languages we would have a pattern like this for a number of synonymous verbs (teach 1,2,3):

She

[2016-10-20 06:43] tsamardzic commented on #248
General `obj` label works well for us.

Just to come back to the starting topic of this thread, ~~we will use this label for "dative/logical subjects" too~~.

Actually, following:

"dative/logical" subjects should be oblique, that is `advnom`.

Is this right?

[2016-10-20 10:14] jnivre commented on #248
@olesar This is definitely very tricky. Working out the application of the core-oblique distinction across different languages is going to be one of the major challenges in improving consistency under v2. One idea we have is that the universal guidelines for v2 will be organised by major construction types, instead of definitions of single relations, and use examples from many languages. I hope yo

[2016-11-01 21:40] alanakbik commented on #344
Quick update: We are still preparing the release on our end. We will also be at EMNLP from tomorrow to Friday, so please contact me if you'd like to meet up and discuss release details in person!

[2016-11-02 07:49] jnivre commented on #344
Unfortunately, I won’t be at EMNLP this year. Have fun!

Joakim

[2016-11-06 10:31] reckart commented on #332
I might have missed it - this thread is quite long - but did you consider text between sentences, e.g.

[code]

So here would be a segment of text with two line breaks between the two sentences.

Cf. discussion on this over at WebAnno: https://github.com/webanno/webanno/issues/313#issuecomment-232486111

[2016-11-06 10:37] dan-zeman commented on #332
We did not reach a consensus (I think) but we did consider it. If it is represented it will be at least technically part of either the preceding or the following sentence. Whether it is part of the `#text` comment (which I personally do not welcome) or some other type of comment (either sentence-level comment, or token-level `MISC` attribute), is mostly what this thread is about.

[2016-11-06 23:11] manning commented on #347
(I also know nothing about Swedish sign language, of course...)

For the repeated _I_ in (1), I would strongly suggest that the right relation is `dislocated`. I think it would be correct to say that this is the same phenomenon as you get with right dislocated repetitions in languages including French, as illustrated at the bottom of this page: [dislocated](http://universaldependencies.org/u/dep/d

[2016-11-07 02:21] manning commented on #345
I agree, this is wrong. I've corrected the documentation example, but the one example of actual use in the treebank is also wrong in the same way, as this page also shows. This anti-pattern has also been picked up in other languages. There are also a couple of examples in English which are wrong in the same way. We should try to get this all correct for v2.

[2016-11-07 08:24] jnivre commented on #347
Swedish does not have serial verb constructions, but I should probably become more active anyway. I think compound:svc is a good compromise for now, but I hope we can provide something better for v2.

[2016-11-07 12:11] olesar commented on #347
The repetition of words and word parts is an important property of spoken languages associated with many semantic and pragmatic functions rather than just "self corrections / mistakes". I believe that the sign languages and spoken languages are kind of similar in this respect. If we get the data of the clinical linguistics (somewhere somehow in the distant future), we'd come across yet more functi

[2016-11-17 11:37] dan-zeman commented on #288
This should be partially fixed in UD 1.4.

[2016-11-17 11:37] #288 closed, assigned to nobody

[2016-11-17 11:47] dan-zeman commented on #232
This seems like something none of us is able to fix with the current website-building system. Postponing indefinitely.

[2016-11-17 20:33] dan-zeman opened #353 "Language-specific PronTypes in Italian"
http://universaldependencies.org/it/feat/PronType.html
http://universaldependencies.org/v2/features.html

When looking for possible extensions of the feature set for UD v2, I came across several Italian-specific values of the `PronType` feature: `Clit`, `Predet` and `Ord`. I was wondering whether there are possibly better ways of annotating these words.

The examples in the documentation of `PronT

[2016-11-18 09:22] dan-zeman commented on #250
We now have dev branches in all repositories but we have not really solved locking the master branches, and we have not reached a consensus about what statistics the docs should show, so I am leaving the issue open, with a new milestone.

[2016-11-18 09:25] #220 closed, assigned to nobody

[2016-11-18 09:27] #327 closed, assigned to nobody

[2016-11-18 09:29] dan-zeman commented on #272
Can this issue be closed again?

[2016-11-18 09:38] dan-zeman commented on #246
@fginter : Anything new here, or shall we just close the issue?

[2016-11-18 09:39] #306 closed, assigned to nobody

[2016-11-18 10:17] fginter commented on #246
I think the fixed links pretty much removed this problem. So maybe we can close

[2016-11-18 10:17] #246 closed, assigned to fginter

[2016-11-18 10:19] fginter commented on #272
This should happen as a part of the CoNLL-ST and the data will be available in the spring.

[2016-11-18 10:19] #272 closed, assigned to nobody

[2016-11-18 12:05] dan-zeman commented on #294
We have not merged the pull request (https://github.com/UniversalDependencies/UD_Portuguese-BR/pull/1) because it had minor issues of its own but we clearly want to fix this. I am rescheduling this to the next milestone.

[2016-11-18 12:12] dan-zeman commented on #310
I wonder whether this issue is still an issue or is it ready to be closed?

[2016-11-18 12:18] #312 closed, assigned to nobody

[2016-11-18 12:22] #320 closed, assigned to nobody

[2016-11-18 12:34] #346 closed, assigned to nobody

[2016-11-18 12:36] dan-zeman commented on #347
Tentatively closing the issue, as it seems that we do not have much more to say to the original question.

[2016-11-18 12:36] #347 closed, assigned to nobody

[2016-11-18 19:03] msimi commented on #353
Hi Dan,

we discussed (with Simonetta, Cristina and the rest of the team) your proposal for UD v2 concerning Italian PronTypes and here are the conclusions.

Maria & c.

[2016-11-19 10:52] dan-zeman commented on #353
Great, thanks. As for the pronominal ordinals, I did not know that you were actually distinguishing specific usage. I am still slightly in favor of keeping them as `ADJ` because I believe that this is what most UD treebanks do, and one POS category can indeed perform different functions.

[2016-11-19 10:52] #353 closed, assigned to nobody

[2016-11-23 08:12] ftyers opened #354 "Copula in Arabic"
Caveat lector: I'm not confident with Arabic, but leave this here as a placeholder for discussion about copula in Arabic.

I understood that the situation was as follows:
1. Present tense: Zero or pronoun like _huwa_
2. Past tense negative: laysan
3. Past tense positive: kanan

In the UD-Arabic treebank, we seem to have 2 and 3 as `cop`, but not 1.

[code]

Compare with:

[code]

Where "huwa" gets

[2016-11-23 16:52] amir-zeldes commented on #354
This was discussed for Hebrew in #329 and I think the Hebrew speakers' consensus was to definitely treat these as copulas. Hebrew allows both the exact same as Arabic (hu/hi = huwa/hiya), or a demonstative (ze/zot), which is not allowed in Arabic. These constructions are generally considered copular in their respective grammar traditions. In any case, Arabic and Hebrew should behave the same here.

[2016-11-23 18:01] dan-zeman opened #355 "nmod:comp in Turkic"
The Turkish documentation defines a language-specific relation `nmod:comp` (http://universaldependencies.org/tr/dep/nmod-comp.html). It is not listed in the table of Turkish relations but it is listed in the documentation of `nmod`, and although the current link from `nmod` is broken, the page exists.

However, the Turkish data (UD 1.4) does not use `nmod:comp`. Is it because there are no instance

[2016-11-23 18:07] MemduhG commented on #355
There are a number of places we have deviated from Çağrı's ideas, certain
types of nmod are part of this. We are making some more corrections in our
treebank as of now, we will update the documentation as we go.

I am happy to contribute to these discussions for the time being, until the
documentation is fixed.

On Nov 23, 2016 8:01 PM, "Dan Zeman" notifications@github.com wrote:

[2016-11-23 18:14] dan-zeman commented on #355
@MemduhG thanks! Just to make it clear: I am interpreting your answer so that

* you are not going to introduce `nmod:comp` in the data
* you intend to remove it from the documentation

right?

[2016-11-23 18:19] ftyers commented on #355
In the Kazakh treebank, following the Finnish treebank, we were planning to use `advcl` for this relation (planning to, but haven't yet as we haven't yet got any examples in our data). Although in the English treebank `nmod` seems to be used. Perhaps this should be something to look at cross-lingual standardisation for ? In any case Turkish--Uyghur--Kazakh should do it the same way.

[2016-11-23 21:35] MemduhG commented on #355
Yes on both accounts @dan-zeman .

I am not quite sure how `advcl` would be used here, @ftyers , could you give an example?

[2016-11-23 21:45] ftyers commented on #355
Here is how it is done in Finnish:

http://universaldependencies.org/fi/overview/specific-syntax.html#Comparatives_and_superlatives

Taking a second look, it seems like we might have chosen the wrong language to base the Kazakh annotation on, as it seems like "Keittiö on pienempi kuin olohuone ." could also be "Keittiö on pienempi kuin olohuone _on_ ." ... e.g. it's treated as some kind of ellipti

[2016-11-24 13:24] MemduhG commented on #355
We are fine with `nmod:comp` too then. We're going to convert them for v2. We should go through some other similar situations in Kazakh/Turkish/Uyghur in the near future.

[2016-11-24 16:02] dan-zeman commented on #355
Agreed, thanks.

[2016-11-24 16:02] #355 closed, assigned to nobody

[2016-11-24 16:17] arademaker commented on #322
It seems people are not using the suggested format for annotating multiword.

http://universaldependencies.org/format.html

In the English corpus https://raw.githubusercontent.com/UniversalDependencies/UD_English/master/en-ud-test.conllu I found examples of contractions without these lines with the range of tokens.  Is it true? Should be ignore these explicit annotation of contractions?

[2016-11-24 19:05] dan-zeman commented on #322
Perhaps it would be better to use examples from a language other than English in the universal guidelines. The exact set of contractions is specific to each language but if we cannot find a consensus about English then we should move to a language where the data do not deviate from the guidelines.

The version 2 of the guidelines is being prepared right now. I am leaving this issue here as a remin

[2016-11-25 00:18] manning commented on #345
Sending to @mcdm

[2016-11-25 00:24] manning commented on #331
In English, following what the LDC annotators do, we do regard "4:30" and purely numeric data expressions like 7/11/2004 as NUM. The argument for calling these NUM isn't very strong, but I tend to feel that there's even less reason to call them SYM or NOUN. Are there any clear arguments from other languages, or should we just call them NUM and move on?

[2016-11-25 00:27] manning commented on #325
I guess that to some extent it is optional whether languages/treebanks want to use the specializations of universal dependencies like "relcl". But, yes, it does seem to me too that Hungarian also has the same kind of finite relative clauses for which relcl was intended.

[2016-11-25 00:40] manning commented on #348
I'm sure we can't aim for universal consistency on POS assignment for participles, but for the v2 docs, we should maybe try to at least have some suggestions in the universal docs as to when and why it is more appropriate to choose one POS vs. another.

[2016-11-25 06:55] dan-zeman commented on #331
Should we extend the same treatment to "4h30" then?

[2016-11-26 01:08] kanayamah opened #356 "Coordination in Japanese"
As discussed in #236, the current left-head principle in coordination structure makes a lot of confusion in head-final language such as Japanese and Turkish, and actually there are lot of inconsistencies in Japanese-KTC.  As a much better "technical solution", we are considering to change from

[code]
to
[code]
if the head direction can be defined in each language.

[2016-11-26 01:09] kanayamah commented on #236
@coltekin, @dan-zeman, Let me add a comment to this old issue since it is still open.
We are considering to change the Japanese coordination structure which has been compliant to the left-head principle to more practical representation, because the current data (namely Japanese-KTC) has a lot of inconsistency due to the confusion of the coordination structure.
As well as Turkish, in Japanese, the

[2016-11-26 01:20] kanayamah commented on #356
Also we want to change the PoS tag for a conjunctive marker "と".  So far it is
[code]
but syntactically "と" is quite close to `ADP` as well as other case markers, so it might be better to make
[code]
if `conj` is allowed to appear without corresponding `cc`.

[2016-11-26 10:08] dan-zeman commented on #236
Coordination "heads" have been heavily discussed during preparation of the upcoming version 2 UD guidelines. It has been proposed (http://universaldependencies.org/v2/coordination.html) that a language can opt for right-headed coordination. However, the subsequent discussion in https://github.com/UniversalDependencies/UD_v2/issues/3 inclines (although by no means unanimously) back to the all-left-

[2016-11-26 10:13] dan-zeman commented on #356
Coordination "heads" have been heavily discussed during preparation of the upcoming version 2 UD guidelines. It has been proposed (http://universaldependencies.org/v2/coordination.html) that a language can opt for right-headed coordination. However, the subsequent discussion in https://github.com/UniversalDependencies/UD_v2/issues/3 inclines (although by no means unanimously) back to the all-left-

[2016-11-26 10:20] dan-zeman commented on #356
@kanayamah : Is the construction with と still coordination (paratactic)? Isn't it then more hypotactic, i.e. more like _John with Mary_ than like _John and Mary_? Because if it is, then the analysis should be
[code]

[2016-11-27 02:52] kanayamah commented on #356
@dan-zeman thank you for your comment.   In most of "A と B", A and B are exchangeable (unlike "A に B"), so I think it is coordination which can be mapped to "A and B" in English.
But considering noun-noun coordination can be regarded as a special case of `nmod` relationship, it is one of reasonable idea to say `nmod` and it can reduce intra-language inconsistency and further discussion in coordina

[2016-11-30 17:35] spyysalo commented on #321
The "slash is special" constraint made it to http://universaldependencies.org/v2/conll-u.html but doesn't appear in the current v2 draft of the format page. Was this rejected or or just forgotten? ( @jnivre )

[2016-11-30 17:43] spyysalo commented on #329
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 17:43] #329 closed, assigned to nobody

[2016-11-30 17:54] jnivre commented on #321
Just forgotten. Can you add it?

[2016-11-30 17:55] spyysalo commented on #324
Closing due to lack of recent activity and `name` being removed in v2 (replaced with `flat` with option to use `flat:name`). Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 17:55] #324 closed, assigned to nobody

[2016-11-30 17:57] spyysalo commented on #177
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 17:57] #177 closed

[2016-11-30 17:58] spyysalo commented on #219
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 17:58] #219 closed, assigned to dan-zeman

[2016-11-30 18:05] spyysalo commented on #296
As there is no recent activity, I'll go ahead and close this. If anyone is willing to continue the discussion with the copyright holders of the treebanks that remain GPL-licensed (Catalan, Faroese,  Galician-TreeGal,  Polish, and Spanish-AnCora), feel free to reopen.

[2016-11-30 18:05] #296 closed, assigned to nobody

[2016-11-30 18:09] dan-zeman commented on #296
Galician-TreeGal is actually a different case, they use LGPLLR. Since that license's name says it's for language resources, it hopefully does not have the issues that GNU GPL has.

[2016-11-30 18:12] spyysalo commented on #159
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 18:12] #159 closed

[2016-11-30 18:17] spyysalo commented on #275
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 18:17] #275 closed, assigned to nobody

[2016-11-30 18:20] spyysalo commented on #322
@dan-zeman : gentle reminder that now would be a very good time if you're willing to address this issue before the v2 release :-)

[2016-11-30 18:22] spyysalo commented on #236
@dan-zeman : I'd suggest to close this as this issue has been extensively discussed for v2 and the v2 guidelines are now being published.

[2016-11-30 18:24] spyysalo commented on #49
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 18:24] #49 closed

[2016-11-30 18:25] spyysalo commented on #122
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 18:25] #122 closed

[2016-11-30 18:47] spyysalo commented on #321
Updated to add

which I hope is sufficient for the initial release. If anyone is interested in documenting and linking these use cases, please do!

[2016-11-30 18:47] #321 closed, assigned to spyysalo

[2016-11-30 20:01] nschneid commented on #323
It looks like there is a solution for serial verbs in v2. From the [MWE changes](http://universaldependencies.org/v2/mwe.html):

[2016-11-30 20:09] jnivre commented on #323
Indeed there is. It may not be perfect, but it is a start.

In case you are interested, you can have a sneak preview of v2, which went live 5 min ago. We are still working on some parts of it, and it will not be publicly announced until tomorrow, but if you promise not to tell anyone. :)

[2016-11-30 20:14] #236 closed, assigned to nobody

[2016-11-30 20:23] mcdm commented on #345
This has been fixed in the French treebank in v1.4.

[2016-11-30 20:41] #345 closed, assigned to mcdm

[2016-11-30 22:06] spyysalo commented on #178
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 22:06] #178 closed

[2016-11-30 22:08] spyysalo commented on #237
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 22:08] #237 closed, assigned to mcdm

[2016-11-30 22:30] spyysalo commented on #214
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 22:30] #214 closed, assigned to hajic

[2016-11-30 22:33] spyysalo commented on #135
Closing as there is no recent activity and the v2 guidelines are now being published. Please consider opening a new issue with reference to the new guidelines and this discussion if there are open questions relating to this issue.

[2016-11-30 22:33] #135 closed

[2016-11-30 22:38] spyysalo commented on #330
`Typo=Yes` didn't make it to v2, and I believe the issue remains open. Moving to later.

[2016-11-30 23:55] vcvpaiva commented on #330
Thanks for the manuscript @dan-zeman . One more issue on that:

third example in parataxis http://universaldependencies.org/pt/dep/parataxis.html
is wrong, "serie" is not "serei". the word "serie" is a NOUN, not the VERB that was intended, so this is a corpus typo, in the guidelines too.  bad form.

[2016-12-01 00:04] arademaker commented on #330
@dan-zeman I can't find the errors above in the source file ```parataxid.md```. I am still waiting for instruction from @fginter for testing the documentation pages. I also noted that now we have a yellow line on the top of the PT doc pages saying that they are outdated, right? How to fix it?

[2016-12-01 00:36] spyysalo commented on #332
Closing as v2 is now being published.

For reference, comments used to specify the original sentence are in v2 with the format `# text = ` (http://universaldependencies.org/format.html). These permit but do not standardize escape sequences (e.g. `# text =  ...\n\n`). `SpaceAfter` is likewise in and its use is strongly encouraged:

`SpacesAfter` and `SpacesBefore` are not part of the v2 standard, b

[2016-12-01 00:36] #332 closed, assigned to foxik

[2016-12-01 00:41] spyysalo commented on #226
@manning : if this is still relevant, I'll volunteer to convert examples to CoNLL-U for the v2 intro page if somebody can send me some of those slides.

[2016-12-01 00:49] spyysalo commented on #323
@nschneid and other issue participants: as v2 as now being published, I would suggest to close this issue. If some questions relating to this issue remain open, you can open new issues referencing the relevant parts of this discussion and the v2 documentation. (Of course, if you disagree, feel free to reopen this :-))

[2016-12-01 00:49] #323 closed, assigned to nobody

[2016-12-01 00:54] spyysalo commented on #252
@dan-zeman : was this issue resolved in v2? (i.e. should this be closed or moved to a later milestone?)

[2016-12-01 00:56] spyysalo commented on #250
Bumping to later milestone.

[2016-12-01 00:58] spyysalo commented on #273
Resolved in v2 as `# sent_id =` (mandatory) and `# text =` (optional) (http://universaldependencies.org/format.html)

[2016-12-01 00:58] #273 closed, assigned to ryanmcd

[2016-12-01 01:01] spyysalo commented on #276
Bump to lg-specific v2.

[2016-12-01 04:59] jonorthwash commented on #214
@spyysalo, does v2 address this issue?  Otherwise, I don't think "no activity" constitutes a valid reason to close an issue—it simply means that the issue was not receiving attention from those who might able to address it.

[2016-12-01 11:19] arademaker commented on #330
@dan-zeman I found. The example cited by @vcvpaiva is actually a sentence from the UD_Portuguese corpus under the section **Treebank Statistics (UD_Portuguese)**. The example seems right regarding the use of parataxis, but it does contain a corpus typo.

[2016-12-01 13:24] dan-zeman commented on #252
@spyysalo : I think it has been resolved and any further discussion would deserve a new issue, referencing v2 docs (and possibly also referencing this issue if relevant).

All: UD v2 now has `Evident` (evidentiality) as a universal feature. `Aspect=Hab` is also available. `Register` stays language specific (there is now universal `Polite`(ness) but it does not seem to be suitable for this case).

[2016-12-01 13:24] #252 closed, assigned to nobody

[2016-12-01 13:45] dan-zeman commented on #214
@jonorthwash : Agreed that "no activity" is not a good reason to close the issue. However, the v2 guidelines have reshaped the `VerbForm` landscape so I think if further discussion is needed, it would be better to open a fresh issue as @spyysalo suggests.

In a nutshell: verbal nouns should now be `VerbForm=Vnoun`. The value `Ger` still exists but its usage is discouraged in cases where an alterna

[2016-12-01 15:33] spyysalo commented on #226
I've added two examples from @dan-zeman (thanks!) to http://universaldependencies.org/introduction.html . Closing this, please consider opening new issues for changes or extensions.

[2016-12-01 15:33] #226 closed, assigned to nobody

[2016-12-01 17:35] livyreal commented on #276
For Portuguese, we decided to consider only case for lemmas of personal pronouns. I mean, we understand that number, person and gender are not inflections of a single pronoun. So:

[code]

The learnability argument was considered, but the decision was based on linguistic features of Portuguese: only pronouns have case in Portuguese, then we understand "me" (en: me) as a form (required by syntax) o

[2016-12-01 21:18] dan-zeman commented on #276
@livyreal : I think that is reasonable in Portuguese.

I was wondering whether I should now close this issue because it is not clear what should or could be the outcome. I decided to keep it open and give it some more time, but relabel it as Slavic-specific. While I do consider the observations in my original post an inconsistency that could be cured within Slavic, I don't think there is any unive

[2016-12-01 21:28] martinpopel opened #360 "Enhanced dependencies documentation"
For clarity, all the examples in [Enhanced dependencies](http://universaldependencies.org/u/overview/enhanced-syntax.html) should show both the _basic_ and _enhanced_ dependencies, ideally side by side.
Currently, only the Relative clauses subsection shows both.

Even better than side-by-side visualization would be if the `sdparse` extension could parse the full CoNLL-U format and show the enhance

[2016-12-01 23:07] sebschu commented on #360
Yes, I agree that would make it easier to understand the differences between the basic and the enhanced representation.

@fginter @spyysalo Is there a way to have two trees side by side or should I simply put them below each other for now?

[2016-12-02 01:00] martinpopel opened #361 "Lost links?"
I cannot find a link from the [main page](http://universaldependencies.org/) to [contributing.html](http://universaldependencies.org/contributing.html), only to [contribute.html](http://universaldependencies.org/contribute.html), which I cannot find in this repo (not even under [_v2](https://github.com/UniversalDependencies/docs/tree/pages-source/_v2)).
As a result, I cannot find a link to [visual

[2016-12-02 01:34] nschneid commented on #361
contribute.html is generated from contribute.md at the root of this repo (on the pages-source branch). Does that answer your question?

[2016-12-02 10:20] dan-zeman commented on #361
The page contributing.html is still reachable via contribute.html and http://universaldependencies.org/release_checklist.html (very end). I am not sure whether this is what we want, @jnivre ? Maybe contribute.html should list a separate item, when you want to contribute to this documentation site?

[2016-12-02 10:21] martinpopel commented on #361
Oops, I was blind.

Only partially. What is the relation between `contribute.md` and `contributing.md`? A replacement or should there be a link "for details see [contributing.md]"?
My main point is that `visualization.md` is unreachable now.

[2016-12-02 11:24] jnivre commented on #361
Short answer: Someone should clear up this mess!

Long answer: The problem with all of these links was that things were reachable in too many ways, which made it very hard to know where to go. In addition, the links to contributing.md were confusing (in context) because they gave the impression that it was about contributing to UD in general and not to the documentation. My intention with reorgani

[2016-12-02 11:26] martinpopel commented on #360
see an exampe of side-by-side using html table: http://universaldependencies.org/sandbox.html#conll-u-example
it seems that the `width` parameter is needed

[2016-12-02 11:43] spyysalo commented on #361
This was actually confusing me too, I was trying to remind myself of the syntax for `# visual-style` yesterday and had to use google because I couldn't find http://universaldependencies.org/visualization.html by clicking around the new site.

I wouldn't mind a densely interlinked site as long as it's clear what the links are pointing to. I do agree that "contributing" is a bad name for the page ht

[2016-12-02 12:09] jnivre commented on #361
Having contribute.html as a hub is what I was aiming it, but I admit that it was only a first hack. Post-COLING is probably the only realistic thing for many of us, so perhaps we should just put a link to visualization.html somewhere temporarily and then fix this properly. Couldn't visualization go under tools for example?

[2016-12-02 12:19] dan-zeman commented on #360
And BTW it is also possible to use colors to distinguish relations added in the enhanced representation from those that are also part of the basic representation. (I would not use this in case that basic relations are _removed_ from enhanced representation, although one could use a third color for that. But if relations are only added, a colored structure may be better.)

See here for an example:

[2016-12-02 14:22] dan-zeman commented on #361
Added a pointer to the hub page (http://universaldependencies.org/contribute.html) and added another link to visualization from the Brat section in tools.

[2016-12-02 14:22] #361 closed, assigned to nobody

[2016-12-02 17:55] martinpopel opened #363 "Brat fails on empty nodes"
According to the v2 [specification of CoNLL-U](http://universaldependencies.org/format.html#words-tokens-and-empty-nodes), empty nodes and enhanced dependencies are allowed, but [Brat](http://universaldependencies.org/visualization.html) fails on empty nodes, e.g.
[code]

Also, Brat should distinguish *basic* and *enhanced* dependencies. I have two suggestions:
- Enhanced-only deps in red, basic-o

[2016-12-03 11:13] martinpopel commented on #360
Thanks Dan, I like the idea with colors (maybe even for the removed dependencies), see http://universaldependencies.org/sandbox.html#pirate-example and a related issue #363.

[2016-12-03 11:29] martinpopel opened #364 "Relative clauses documentation"
The [v2 documentation of enhanced dependencies](http://universaldependencies.org/u/overview/enhanced-syntax.html#relative-clauses) shows two simple sentences where the relative pronoun is attached to the main predicate of the relative clause in basic dependencies. However, there are "more complex" relative clauses (sorry for not knowing the correct linguistic name), e.g. "I saw a man whose mother

[2016-12-03 11:52] martinpopel opened #365 "Fully annotated CoNLL-U examples in docs"
I suggest almost* all examples in the documentation are fully annotated (all CoNLL-U columns) and allow the users to show the source CoNLL-U using the [tabs=yes](http://universaldependencies.org/visualization.html#editing) Brat feature.

I often encounter examples where I would like to see e.g. the features or other dependencies than those selected by someone as relevant for the example. Also in [

[2016-12-03 12:04] dan-zeman commented on #365
While I agree it would be sometimes useful to have, I do not think it is doable with the manpower we currently have. Most examples are made up for the documentation, not taken from corpora, and the difference in effort needed to create a full CoNLL-U sentence (or just anything in CoNLL-U) vs. a simple "sdparse" excerpt, is significant. I only use the CoNLL-U format when I need to show something th

[2016-12-03 12:14] martinpopel commented on #365
One possible solution: use the [UDPipe web service](http://lindat.mff.cuni.cz/services/udpipe/run.php), select the English model, input plain-text sentence and copy-paste the output CoNLL-U (and check the svg image for errors in the automatic analysis). Of course, you need to post-edit it - the models are v1 so dobj->obj etc. is needed.

It would not be difficult to implement sdparse-to-conllu con

[2016-12-03 14:45] arademaker commented on #365
@Martinpopel what would be a sdparse-to-conllu converter ? In http://universaldependencies.org/visualization.html#editing   I saw that besides the sdparse we also have the conllx and conllu 'readers' right ?

[2016-12-03 15:04] martinpopel commented on #365
There are two issues:
1. sdparse is probably a bit easier to enter manually than conllu (which is about the same complex as conllx, but conllx is not really suitable for UD). However, once you need the features, you need to use the `Token/TAG[Feat1=Val1|Feat2=Val2]` syntax (which is about the same complex as conllu, I think) and I am not aware of a way how to enter MISC, DEPS, empty nodes and mult

[2016-12-03 16:45] nschneid commented on #364
Agree that a "whose" example would be good. Relative clause examples of "whose" can be found in [the English data](http://bionlp-www.utu.fi/dep_search/).

Relatedly, an annotator I work with was unsure about "whose" questions, e.g., "Whose mother became a pirate?" Unfortunately there are no examples in the data. The closest I can find is "Which one should I get?", but there the relation between th

[2016-12-05 11:57] spyysalo commented on #363
Thanks! The CoNLL-U v2 issue is not with brat but rather with conllu.js, the JS library that is used to parse and convert CoNLL-U data into the brat format. I've opened an issue for that here: https://github.com/spyysalo/conllu.js/issues/15 .

Please open a separate issue regarding the visualization of enhanced dependencies. I think others might have opinions on the best way to do this, and the na

[2016-12-05 12:11] spyysalo commented on #365
I agree with @dan-zeman that the cost of switching to CoNLL-U for all examples is likely to be excessively high. I also don't think any automatic solution that has the potential to introduce errors is likely to be accepted, and I would oppose applying one to the parts of the documentation that I'm maintaining. As the `sdparse` format is arguably easier for people to read and write, removing it as

[2016-12-05 12:17] spyysalo commented on #360
@martinpopel : nice, I like the side-by-side idea. Would you be willing to prepare a pull request implementing this for the http://universaldependencies.org/u/overview/enhanced-syntax.html page?

@jnivre : would you accept a revision of the enhanced-dependencies documentation where the basic and enhanced version were shown side-by-side?

[2016-12-05 12:24] martinpopel opened #366 "Visualization of enhanced dependencies"
[Brat](http://universaldependencies.org/visualization.html)+[conllu.js](https://github.com/spyysalo/conllu.js) should provide a nice visualization of CONLL-U v2, including the enhanced dependencies and empty nodes. Brat should do this automatically when using the conllu input format (i.e. without having to enter manually `visual-style` comments). This is related to issues #360 and #363, but @spyys

[2016-12-05 12:52] martinpopel commented on #365
I see. I meant the automatic solution only as a pre-annotation, which *must* be checked by a human (this way I think it is less error-prone than annotating from scratch, where humans tend to forget which all features should be included etc). I didn't want to remover `sdparse` as an option. I am just not sure if it is really easier to read and write once all the info from CoNLL-U is included.

It w

[2016-12-05 13:44] spyysalo commented on #365
This would be a good option to have, but a lot of work would be required to apply it to all examples:

    universaldependencies-docs smp$ find . -name '*.md' | xargs cat | egrep '^\~\~\~ .' | sort | uniq -c | sort -rn
    6469 ~~~ conllu
    2651 ~~~ sdparse

Making a systematic manual revision of thousands of examples in ~50 languages with documentation maintained by as many people would probabl

[2016-12-05 14:00] spyysalo commented on #366
Dependencies below the sentence would require changing the brat rendering code (not trivial) and would compete with space that's been considered for showing features in one long-standing request.

Automatic coloring would be comparatively easy to do, and I'd be happy to work on this if there's support for the idea. ( @jnivre @dan-zeman , others, what do you think ?)

[2016-12-05 14:07] bguil commented on #366
I have some experience with colors (together with dependencies below the sentence).
In LREC 2014, we have proposed an annotation format for French which was called "deep-syntax" (see http://www.lrec-conf.org/proceedings/lrec2014/pdf/494_Paper.pdf).
We also used colors as @martinpopel proposes (with a switch between red and blue): black for common dependencies, red for surface only dependencies, bl

[2016-12-05 14:24] jnivre commented on #360
Either side-by-side or color is fine by me, and I agree that it is a good idea to show both basic and enhanced in the documentation of enhanced.

[2016-12-05 14:27] martinpopel commented on #360
OK, I will try to prepare a PR with side-by-side examples for the enhanced-syntax.html with colors (switched: red=basic-only, blue=enhanced-only, as suggested by @bguil in #366).

[2016-12-05 14:41] dan-zeman commented on #366
+1 for the automatic coloring using the blue-black-red scheme.

[2016-12-05 18:30] spyysalo commented on #366
OK, will do.

[2016-12-05 18:48] spyysalo commented on #298
@hectormartinez : should we still keep this issue open?

[2016-12-06 09:58] spyysalo commented on #342
@dan-zeman : did v2 bring any clarity to this issue?

This does not agree with the definition of http://universaldependencies.org/u/dep/goeswith.html .

[2016-12-06 10:19] spyysalo commented on #356
I think it would be very unfortunate to lose the inter-language correspondence for basic noun coordination. `A と B` is the "direct translation" of `A and B` (for nouns `A` and `B`) and we should seek to capture this in UD annotation.

As @kanayamah writes, it is coordination (paratactic). If I were to encounter your (@dan-zeman) suggested UD analysis of `Mary と John` in a corpus, I would assume it

[2016-12-06 10:59] jnivre commented on #356
Thanks @spyysalo for bringing this issue to my attention. I would also strongly advise against not using "conj" for Japanese. It seems that we would be losing a very important and real parallelism with other languages if we do no use "conj". I also think the whole left- vs. right-headed issue rests on a misconception about the nature of coordination (which is not a dependency relation in the narro

[2016-12-06 11:07] spyysalo commented on #356
@jnivre : thanks! I think some more discussion of how coordination is understood in UD at http://universaldependencies.org/u/dep/conj.html might help, as this and related issues have been raised multiple times. Perhaps some materials from http://universaldependencies.org/v2/coordination.html could be used?

(I would be happy to join a discussion of the topic at Coling.)

[2016-12-06 12:33] jnivre commented on #356
I think the current versions of the doc pages you point to are not very helpful in this respect. I hope I can find the time to improve them soon (but definitely not before COLING).

[2016-12-06 13:15] arademaker opened #368 "wrong example"
http://universaldependencies.org/u/dep/all.html#al-u-dep/expl

Example 96 the REFLEX is presented as a word in the sentence but it should be a feature. Not clear for me the current structure of the docs repo to submit a PR.

[2016-12-06 13:21] arademaker commented on #368
OK, it was just a word inserted in the translation.

[2016-12-06 13:21] #368 closed, assigned to nobody

[2016-12-06 13:27] kanayamah commented on #356
@spyysalo @jnivre Thank you for your comments.  Surely we know the importance to annotate `conj` for coordination structure.   The current version does not have `conj` to reduce confusion in structures, but the conversion to get `conj` is much more straightforward and the outcome is intuitive if right-head coordination is allowed, both for nominal and verbal coordination.
I will join the discussio

[2016-12-06 14:47] hectormartinez commented on #298
I fixed it a while ago but forgot to notify. Please close it.
Also, the bug only applies to Ancora-Spanish and not Catalan.

2016-12-05 19:48 GMT+01:00 Sampo Pyysalo <notifications@github.com>:

[2016-12-06 14:49] dan-zeman commented on #342
@spyysalo : I do not think it has been discussed during the preparation of v2 guidelines.

`goeswith` is wrong, and it is still (UD release 1.4) used in UD_Russian, see the treebank statistics at http://universaldependencies.org/ru/dep/goeswith.html. I am re-classifying this issue as a bug in UD_Russian. It seems to have been fixed in UD_Russian-SynTagRus: `grep goeswith` returns nothing there.

[2016-12-06 14:58] dan-zeman commented on #356
Agreed that we don't want to lose coordination in Japanese and looking forward to the discussion next week. (Don't get me wrong—I was not really _proposing_ a different annotation of coordination. Not knowing Japanese, I was just asking _whether_ this construction is coordination :-))

[2016-12-06 15:11] #298 closed, assigned to hectormartinez

[2016-12-06 16:15] jnivre commented on #356
Okay. It seems we all agree that Japanese has "conj" structures, which is good. Let us try to sort out the details when we meet. One thing to keep in mind for everyone is that UD sometimes forces you to do things that you are not used to in the interest of cross-linguistic comparability. At the same time, we of course do not want to impose an incorrect analysis on a language. That would be going t

[2016-12-07 00:44] olesar commented on #342
In UD_Russian-Google, we just kept them "as is" using data from Google - while waiting for the decision. Now it is clear that it is definitely a bug, so we will work with that.In the original UD_Russian-SynTagRus treebank, they have a separate POS and separate deprel for such things, which is converted into ADJ;compound in UD.1. I am not sure that this is the right way to go. The main issue with t

[2016-12-07 09:32] dan-zeman commented on #342
If it is three tokens, the hyphen should be attached to the dependent word using the `punct` relation.

Which word is the dependent and what is its relation to the governor should be decided individually for different classes. There are two instances in the treebank statistics referenced above, and they are not the same. In the case of _Буркина - Фасо_, I think we should do

flat(Буркина, Фасо)
pu

[2016-12-07 09:38] dan-zeman commented on #342
Edit: Perhaps I was mistaken in claiming that _Буркина_ can inflect. _Burkina_ can inflect in Czech but maybe not in Russian. In the cited example, it should actually be in genitive _(Burkiny)_ but it is in the base form instead.

[2016-12-07 22:09] olesar commented on #342
The right example is Moskva-reka and Rostov-na-Donu. Indeed, Burkina-Faso is like Pa-de-Kale in Russian (not inflected). Some toponyms can follow both models so we would like to distinguish them.

[2016-12-08 18:44] #314 closed, assigned to dan-zeman

[2016-12-08 23:24] kanayamah commented on #356
@jnivre, thank you for good material.  As mentioned with Korean example (57b) in Martin Haspelmath's survey, it is difficult to draw a line between verb-verb conjunction and subordinate.  I think this supports the feasibility of right-head structure in conjunction to make the annotation more consistent.

@dan-zeman, surely I know your intention.

[2016-12-09 03:10] alanakbik opened #369 "Universal Proposition Banks v1.0 online"
Hello all,

we have made the first "**universal proposition banks**" for multilingual SRL publicly available here: https://github.com/System-T/UniversalPropositions

As described in an [earlier post](https://github.com/UniversalDependencies/docs/issues/344), the project aims at annotating text in different languages with "unified" semantic role annotation based on the English Proposition Bank. The

[2016-12-09 08:50] fginter commented on #366
Thank you for willing to code this in. Just few comments / wishes:
1. Please make it so that these default colors can be overriden using the style
2. Please not red as it evokes "incorrect". I would suggest:
   - Gray for base only (gray evokes - disappearing, less relevant, replaced)
   - Black for base+enhanced
   - Blue for enhanced-only

Thanks

F

[2016-12-09 17:10] martinpopel commented on #366
I agree red may not be the best choice as it evokes "incorrect". I've tried gray in #370, but the distinction between black and gray was not clear enough and the goal of #370 was to highlight all the differences between basic and enhanced deps. So, I have chosen **green** for the basic-only deps.
That said, #370 is about the [documentation of enhanced deps](http://universaldependencies.org/u/overv

[2016-12-09 18:41] #369 closed, assigned to nobody

[2016-12-09 18:46] alanakbik commented on #344
Hello all,

we have made the first "**universal proposition banks**" for multilingual SRL publicly available here: https://github.com/System-T/UniversalPropositions

The version currently online covers three languages: [Chinese](https://github.com/System-T/UniversalPropositions/tree/master/UP_Chinese), [French](https://github.com/System-T/UniversalPropositions/tree/master/UP_French) and [German](h

[2016-12-09 22:38] brendano opened #371 ""Let PRONOUN VERB" inconsistencies"
We noticed these recently in the UD_English treebank... (version 1.4)

For "let PRONOUN VERB", it seems to always have either xcomp(let,VERB) or ccomp(let,VERB).

But for some cases there's
 - dobj(let, PRONOUN)

and in others
 - nsubj(VERB, PRONOUN)

I could see arguments either way of course.  Here are two examples for "let me know" with the inconsistency.  Or is there a consistency we're not se

[2016-12-09 22:47] brendano commented on #371
Oh yeah I guess the construction actually is "Let NP VERB"

[2016-12-10 02:23] nschneid commented on #371
"Make" can also have this argument structure, right? "let/make them eat cake"

Unlike classic examples of control (e.g., "want them to eat cake") the second verb is not preceded by infinitival "to". Nevertheless, [xcomp](http://universaldependencies.org/u/dep/xcomp.html) seems to fit.

("Let X know" is an idiom, but that probably doesn't affect its syntactic analysis.)

[2016-12-10 03:00] brendano commented on #371
On Friday, December 9, 2016, Nathan Schneider <notifications@github.com>
wrote:

this interp has obj(let/make, them)
and not nsubj(eat, them)
?

--
-brendan [mobile]

[2016-12-10 04:31] nschneid commented on #371
Judging by [this query](http://bionlp-www.utu.fi/dep_search/query?search=encourage&db=UD_English-dev&case_sensitive=True&hits_per_page=50) of "encourage", the pronoun is the dobj of the matrix verb. I will add this to the documentation of [xcomp](http://universaldependencies.org/docs/u/dep/xcomp.html).

[2016-12-10 04:33] nschneid commented on #371
FYI, `dobj` is renamed to `obj` in UD v2.

[2016-12-10 04:33] amir-zeldes commented on #371
I agree with @nschneid (I think he's saying it is nsubj(eat,them)). What's strange is I remembered the Stanford Parser outputs the structure @nschneid is suggesting, but with `ccomp` instead of `xcomp`, despite the non-subject pronoun being governed as a subject in the subordinate clause. I was just able to reproduce it with the Stanford parser and its conversion from gold PTB data, so it seems in

[2016-12-10 04:39] nschneid commented on #371
No, I meant dobj(make, them). I've updated http://universaldependencies.org/u/dep/xcomp.html to reflect what I understand the convention to be based on the data. AFAIK this wasn't listed as one of the changes for v2.

[2016-12-10 04:50] jnivre commented on #371
This looks like inconsistencies and/or conversion errors to me. It is definitely not a change in v2. As far as I know, the intended analysis has always been:

obj(let, them)
xcomp(let, know)

This is the "object cum infinitive" analysis, as opposed to the small clause analysis, which has been popular in generative grammar and which would yield:

ccomp(let, know)
nsubj(know, them)

But @manning or

[2016-12-10 05:03] mcdm commented on #371
Joakim is right. We talked about this construction and the analysis we adopted (obj and xcomp) in our DepLing 2013 paper "More constructions, more genres: Extending Stanford Dependencies".

[2016-12-10 05:11] jnivre commented on #344
Great news indeed! Thanks for sharing this. Giving better guidelines and support for adding additional annotation on top of UD treebanks is definitely on our todo-list but we have simply been too busy with v2 lately.

[2016-12-10 05:12] jnivre commented on #371
Or @mcdm of course. Sorry, Marie. :)

[2016-12-10 10:58] dan-zeman commented on #366
@fginter : At least for me, red evokes "highlighted", not necessarily "incorrect".

@martinpopel : The two-color label sounds good to me.

[2016-12-10 11:28] #360 closed, assigned to nobody

[2016-12-10 13:02] dan-zeman commented on #360
Thanks for the PR. I have edited a few minor points in the examples and added a few new examples.

[2016-12-10 16:31] fginter commented on #344
Excellent! Thank you. We should look into integrating our Finnish Propbank http://turkunlp.github.io/Finnish_PropBank/

[2016-12-10 21:10] sebschu commented on #360
@martinpopel thanks so much for doing this -- looks great! Just one thing, could you perhaps add glosses to the Czech(?) examples? (either below the examples or as the lemmata as you did for they German example.) Thanks!

[2016-12-10 21:35] martinpopel commented on #360
The Czech example was added by @dan-zeman (who also fixed errors in my examples, thanks Dan). I can add the English glosses, but in this case I would prefer to give an English example "the man in whose house we live" (or "the man whose house we live" - as non-native speaker I am not sure which is better English). Generally, I think the universal docs should use English examples, unless illustratin

[2016-12-10 23:27] dan-zeman commented on #360
@martinpopel : Yes, there was a reason for using Czech. First, I was confident that this is correct and fluent language. Second, I was confident that this is how I would do it in the Czech data and I can make it happen (while I was not completely sure that the English team would have the annotation exactly the way I would show here). And finally (and most importantly), it better illustrates what I

[2016-12-11 05:21] dan-zeman commented on #360
@sebschu : English glosses, UPOS tags and features added throughout the section on relative clauses.

[2016-12-11 16:37] brendano commented on #371
It may be helpful to have that paper on this list: http://universaldependencies.org/introduction.html

[2016-12-11 21:16] nschneid commented on #371
Good suggestion. Done!

[2016-12-11 23:30] manning commented on #371
Thanks @brendano, @nschneid and everyone! Yes, should be `obj` and `xcomp`, but doesn't seem to have been very consistently/reliably so annotated….

We’ll try to correct this shortly in UD_English dev branch.

@amir-zeldes:  As @jnivre notes, UD uses an "object cum infinitive" or "raising to object" analysis, not the kind of small clause/ECM analyses of GP/P&P/MP. The nsubj(know, me) dependency ap

[2016-12-12 07:33] alanakbik commented on #344
@fginter Yes, absolutely! Are you at COLING? @kanayamah will also be there with whom we're looking at creating a Japanese Propbank over the Japanese UD. If so, we could all meet up this week?

[2016-12-12 08:32] jnivre commented on #344
@fginter is not at COLING, but some of us are. We are having a get-together on Tuesday evening.

@spyysalo can give you the coordinates.

[2016-12-12 11:53] arademaker opened #372 "about neg and the Polarity=Neg"
Not clear for me what word should receive the feature `Polarity=Neg` and what relation to use between the negative indicator and the word being negated.

How should we annotate the english example:

[code]

In Portuguese, the `neg` relation is used many times to negate a verb. I didn't find any example in the documentation besides the general comments in the pages:

1. http://universaldependencies

[2016-12-12 12:41] jnivre commented on #372
Thanks for raising this issue, which clearly is important and needs to be clarified in the guidelines. I would say the default assumption is to use "advmod" for clause-level negation like English "not" and to add the feature Polarity=Neg to this word, rather than to the verb. This is analogous  to putting Definite=Def on "the" rather than "dog" in "the dog". Other languages that use a morphologica

[2016-12-12 12:49] livyreal commented on #372
Thanks, Joakim.

"advmod" works for most of the cases in Portuguese, but we still need guidelines for cases as:

`No, I don't believe.`

Where "No" is an `INTJ`. I would use the `parataxis` relation, but I'm not sure if it is the best relation to be used here.

[2016-12-12 12:58] jnivre commented on #372
We recommend "discourse" for yes and no in this position. See http://universaldependencies.org/u/overview/specific-syntax.html#paratactic-constructions.
In case of "no", adding the feature Polarity=Neg seems fine to me.

[2016-12-12 15:00] amir-zeldes commented on #371
@manning : thanks for the clarification, I also agree with this analysis, and we've been following it in an English corpus we're building as well. I was just surprised to see the Stanford parser seems to regularly produce this in the conversion from gold constituent data.

[2016-12-12 15:04] livyreal commented on #372
another Portuguese issue we need to address is double negation: "nobody sees nothing", "I did not see nothing" and "never nobody asks nothing". Should all negative words have this polarity feature, right? Including "nobody"?

In "I did not see nothing", we could mark "nothing" as `obj` but double negation in Portuguese is an interesting phenomenon to mark differently. We also have "I did not see n

[2016-12-12 15:17] dan-zeman commented on #372
- _nobody_ is `PRON PronType=Neg` and `nsubj`
- _nothing_ is `PRON PronType=Neg` and `obj`
- _never_ is `ADV PronType=Neg` and `advmod`
- _not_ is `PART Polarity=Neg` and `advmod`; in the "odd" example it is `obj` because the word is mentioned there, not used, i.e. it functions as a noun (our rules say that the POS tag should not change to `NOUN` when the word is mentioned, but I think the depende

[2016-12-12 15:53] arademaker opened #373 "instructions for UD annotation tools"
http://universaldependencies.org/tools.html#brat-rapid-annotation-tool

says "brat is a browser-based tool for text annotation. The brat visualization component is used in the UD documentation system and the tool can be easily configured for UD annotation (TODO: link instructions)."

Does anyone knows the step-by-step? I would be glad to help on debug it and publish the revised instructions.

[2016-12-12 17:32] martinpopel commented on #372
Another related issue: I think we should distinguish between _inflectional_ features and _lexical_ features and we should define for each language which feature is inflectional/lexical and when. (I am sure the linguists here have better names than _inflectional_ and _lexical_, so let's take these names just as placeholders.) I think this is very important for downstream applications.

What I mean

[2016-12-12 19:19] livyreal commented on #315
any decision?

We are also looking to how to treat mesoclitics:

[code]

The clitic comes inside the verb, splitting it into "root"(infitive) + clitic + "inflection". In those cases we tokenize the expression as inflected verb + clitic (above), but maybe there is a better solution. To me, it seems bad to treat it as

[code]

Since `á` is only an inflection and not a word. My point is we have two w

[2016-12-13 17:07] olesar commented on #372
@martinit is not that easy.. Sometimes we have the "plural only" nouns, and then have to switch between Number as an inflectional feature and Number as a lexical classifier. And even if you compile the list of nouns belonging to both categories, then some of them occur ... occasionally... in the "odd" number.In the Russian National Corpus, we had such a practice initially, but refused to move data

[2016-12-13 18:11] arademaker commented on #372
Hi @martinpopel , this is indeed a meaningful discussion and good point. @livyreal and @claudiafreitas, what do you think for Portuguese? @olesar this example of exceptions that you gave invalided the idea or only makes the task more difficult?

[2016-12-13 18:17] arademaker commented on #372
BTW, I recently came across another distinction of features: variable vs. inherent features. This variation is not covered by UD, right?

source: http://www.grammaticalframework.org/gf-book/

[2016-12-13 23:52] dan-zeman commented on #372
@arademaker : This seems to be exactly the distinction that @martinpopel (and the UD documentation) call inflectional vs. lexical features.

[2016-12-14 00:11] olesar commented on #372
@alexander: exactly, it makes it invalid (i.e. practically inapplicable in corpus annotation). I can provide tons of examples for each pos class, if you want.Structuralism is dead, guys;) The modern theories work with scales rather than "black or white" categories. A scale between coordination and subordination, a scale between participles and deverbal adjectives, and so on.

[2016-12-14 01:15] martinit commented on #372
Why do I get these letters? 14.12.2016, 10:11, "Olga Lyashevskaya" <notifications@github.com>:@alexander: exactly, it makes it invalid (i.e. practically inapplicable in corpus annotation). I can provide tons of examples for each pos class, if you want.Structuralism is dead, guys;) The modern theories work with scales rather than "black or white" categories. A scale between coordination and subordi

[2016-12-14 01:26] dan-zeman commented on #372
@martinit : Because @olesar made a typo when attempting to address @martinpopel .

Please click on "mute this thread" at the end of this message and you should no longer get copies.

[2016-12-14 08:47] ermanh opened #374 "Classifiers - clf"
Hi, I'm working on the Cantonese and Chinese-HK corpora with @kimgerdes and was happy to see that v2 has now included classifiers as a relation (http://universaldependencies.org/u/dep/clf.html).

However, the dependency parse in the Mandarin examples (`nummod(noun, num)` and then `clf(num, classifier)` for the sequence [NUM + CLF + NOUN]) seems to be somewhat at odds with the language data, and I

[2016-12-14 12:20] jnivre commented on #374
Thanks for bringing this up. Classifiers were added late in v2 and it is quite clear that we need better guidelines. There was a previous discussion that led to the conclusion that classifiers should go with numerals (or demonstratives) rather than nouns, but perhaps this needs to be reconsidered. The fact that the numeral/demonstrative can be dropped is not a problem in principle because the clas

[2016-12-14 12:54] livyreal commented on #372
I agree with @olesar, however most of the features are inflectional (at least in Portuguese).

@martinpopel, do you think the lemma of "unhappy" would be "happy"? I would not go for it.

@dan-zeman you said `never is ADV PronType=Neg`. Why do not use `Polarity=Neg` in this case? It is not clear to me how to document polarity in the case of adverbials.  If we try to distinguish `PronType` as more l

[2016-12-14 13:46] martinpopel commented on #372
My primary point is that we should not have lemma=unhappy and `Polarity=Neg` and treat `Polarity` as inflectional/variable feature. This does not make sense from the semantic (and downstream applications) point of view.

In case of regular negative adjectives, I would vote for lemmatizing the negative prefixes. So yes, form=unhappy, lemma=happy, Polarity=Neg. This is in line with the UD guidelines

[2016-12-14 14:03] dan-zeman commented on #322
Hopefully fixed in 9a98cb9e66159be77cdf00393afd60bc01645d78.

[2016-12-14 14:03] #322 closed, assigned to nobody

[2016-12-14 14:46] amir-zeldes commented on #372
+1 for the lemma/negation decision being language specific. I agree with @martinpopel that reconstructibility of the form is desirable, but this is generally not 100% possible (think about capitalization in the word form - this is not predictable from lemma+feats).

In general I think lemmatizing away negation is more common in languages where the negation is more or less inflectional, in the sens

[2016-12-14 14:48] jnivre commented on #372
Note that UD annotation covers inflection but not derivation, because we are covering grammar but not lexicon. I cannot vouch for all languages, of course, but I would say that "unhappy" in English is a clear case of derivation and that the lemma should therefore be "unhappy".

[2016-12-14 15:27] dan-zeman commented on #372
@livyreal : `PronType` is more or less lexical feature, a finer categorization of pro-forms, i.e. pronouns, pro-adjectives (determiners) and pronominal adverbs. `Polarity` is inflectional, used e.g. for verbs or non-pronominal adjectives when switching their polarity is regarded as inflection rather than derivation.

The negating particle does not fit well into this picture. Its negativeness is ra

[2016-12-14 19:11] livyreal commented on #372
@dan-zeman what is pronominal adverbs? Is "never" a pronominal adverb?

In Portuguese we do not have inflectional negativeness, it is always lexical (inherent or derived, but for sure a lexical feature). However, if we want to document the polarity of words as "unhappy", we need to use `Polarity=Neg`, right? Or there is any feature to document polarity of adjectives? If labeling adjectives with `P

[2016-12-15 01:58] spyysalo commented on #373
Thanks for offering to help! The basic steps are

1. Tokenize source texts
2. Set up tokenized texts in brat
3. Copy in UD config (https://github.com/nlplab/brat/tree/master/configurations/Universal-Dependencies)
4. Annotate
5. Convert brat standoff format to CoNLL-U

Caveats: the config is for UD v1 and needs to be updated, I'm not aware of a published brat-to-CoNLL-U conversion that I could be c

[2016-12-15 02:28] dan-zeman commented on #373
I have written a script that I used to convert the annotation of the Cairo Cicling Corpus. You may want to have a look whether it helps you. It resides at

https://github.com/UniversalDependencies/cairo/blob/master/weaver/brat2conllu.pl

[2016-12-15 02:32] spyysalo opened #375 "Visualizations broken on enhanced dependencies page"
Visualizations on the page http://universaldependencies.org/u/overview/enhanced-syntax.html currently show "edit" tabs despite being defined in the source as

    <div class="conllu-parse" tabs="no">

Additionally, clicking on some of the edit tabs fails to bring up the edit window in FF 50.0.

Possibly related: #370

[2016-12-15 02:38] spyysalo commented on #375
Worse, mousing over the labels makes them disappear (still FF 50.0, doesn't happen in Safari)

<img width="514" alt="image" src="https://cloud.githubusercontent.com/assets/587850/21209961/ed90a97c-c2ba-11e6-924f-b928f5caf70f.png">

[2016-12-15 02:39] spyysalo commented on #375
@martinpopel : could you please check if this is related to the changes in #370?

[2016-12-15 02:45] spyysalo commented on #375
The tab hiding appears to relate to sloppy checking of the `tabs` option in annodoc: https://github.com/spyysalo/annodoc/blob/gh-pages/lib/local/annodoc.js#L1085

[2016-12-15 02:55] spyysalo commented on #375
Tab issue fixed, disappearing labels remain.

[2016-12-15 03:19] dan-zeman commented on #375
They do not disappear in my Chrome 55. I also tried Firefox and had to apply several updates (did not use FF for a while). While I did observe the disappearing of labels in FF 40, it was OK in 43.0.1, 47.0.2 and 50.1.0.

[2016-12-15 04:52] nschneid opened #376 "v1->v2 conversion script?"
I'm involved in an annotation project that has produced some v1 data for English (POS + basic dependencies). We'd obviously like to automate as much of the conversion to v2 as possible. Does anyone have a converter tool? I didn't see any listed on http://universaldependencies.org/tools.html.

Also, we'd appreciate guidance on which aspects of the conversion CANNOT be automated. My impression from

[2016-12-15 05:09] spyysalo commented on #375
@dan-zeman : thanks for checking! I tried updating FF to 50.1.0, but the issue unfortunately persists for me.

[2016-12-15 05:22] sebschu commented on #376
I don't think we have anything like that so far but I'll definitely write some scripts to convert the English Treebank to UDv2 and I can share them with you once I have them ready (probably at some point in early/mid January).

And yes, most of them can be done automatically, but as you say, elliptical constructions cannot be automatically converted but these examples should be quite rare and you

[2016-12-15 05:41] spyysalo opened #377 "Definition of word"
Recent discussions have suggested that the UD documentation could benefit from a more detailed definition of "word". We can use this issue to discuss the existing definition and possible improvements.

( @jnivre @dan-zeman @ftyers , others? )

[2016-12-15 05:45] spyysalo commented on #377
Currently, http://universaldependencies.org/u/overview/tokenization.html reads in part

[2016-12-15 05:51] spyysalo commented on #377
Joakim's Coling keynote included the following related heuristic:

[2016-12-15 05:58] spyysalo commented on #377
Greg Pringle has written at length on the topic in the context of UD Japanese at http://www.cjvlang.com/Spicks/udjapanese.html . One specifically relevant part:

[2016-12-15 06:05] jnivre commented on #373
There is also WebAnno, which Richard Eckhart de Castillo set up specifically for UD last year, so that it allows two-level word segmentation and a distinction between basic and enhanced dependencies. We should really test this and see how it works.

[2016-12-15 06:14] jnivre commented on #376
@sebschu Thanks for sharing your efforts. Everyone will have to do this, so to prevent a huge duplication of effort and give support to teams who are less familiar with the annotation scheme, it would be great if we could provide a script for the whole community that does automatic things directly and flags other cases for manual inspection. We have not promised such a script, because we didn't kn

[2016-12-15 06:16] jnivre commented on #377
This is a great initiative. However, Pringle's characterisation does not quite work for syntactic words, because it seems to exclude clitics. This paper is very relevant as well:
http://coltekin.net/cagri/papers/coltekin2016turcling.pdf

[2016-12-15 06:33] spyysalo commented on #375
Issue does not show up on Chrome 55.0.2883.95 or Safari 9.1 (11601.5.17.1),  but does on FF 50.1.0 (all on OSX 10.11.4 (15E2066)).

Also, I could not replicate this in http://universaldependencies.org/sandbox.html (b4af97352e1add5f1570bfbb530b4a41efaf6bd1).

Closing as likely browser bug.

[2016-12-15 06:33] #375 closed, assigned to spyysalo

[2016-12-15 07:38] martinpopel commented on #376
I am also working on the script (using [Udapi](http://udapi.github.io/)). My plan is to mark unclear cases with a comment in MISC. I will let know once I have something.

Another issue is adding enhanced dependencies for [Propagation of conjuncts](http://universaldependencies.org/u/overview/enhanced-syntax.html#propagation-of-conjuncts). Dependencies of the first conjunct cannot be automatically d

[2016-12-15 07:38] sebschu commented on #376
@jnivre I plan to get started with this next week and I'll try to have a first version of this before the holidays.

I agree that it would be useful to prevent duplicate work as much as possible. I am just a bit worried that what I have in mind might not produce correct results for all languages. For example, in English, `neg` will always be replaced with `det` or `advmod` but I'm not sure if this

[2016-12-15 07:46] jnivre commented on #376
@sebschu @martinpopel Thanks for doing this. I completely understand that you cannot take responsibility for producing something that will work for all languages, so disclaimers will be necessary. However, if you try to "think universally" whenever possible, I am sure it will be easier for people to adapt the script to new contexts.

[2016-12-15 07:51] spyysalo commented on #373
+1 for including WebAnno! ( @reckart )

[2016-12-15 08:00] reckart commented on #373
@spyysalo I have submitted a pull request ;)

[2016-12-15 08:28] spyysalo commented on #377
Thanks! @coltekin proposes the following criteria

[2016-12-15 08:34] spyysalo commented on #373
Thanks, merged!

[2016-12-15 08:38] jnivre commented on #377
Clause a. only works for languages and words that inflect, but it can be generalized to postags, I think. Fusions are a case in point. Something like French "au" does not have conflicting inflectional features, because the preposition "à" does not inflect, but it has conflicting postags, ADP vs. DET.

[2016-12-15 12:46] fginter commented on #376
I'll try to breathe some new life into a tool we have developed here in Turku for treebank conversions. Over the years it was used on numerous occasions, but also transformed itself into one huge hack. It reads a config file with rules that match arbitrary structures in the source and produce a single dependency in the target.

If I succeed in reviving the monster, I will post it here. :)

[2016-12-15 14:30] amir-zeldes commented on #376
I was planning on using a DepEdit job to update the Coptic data, see: https://corpling.uis.georgetown.edu/depedit/

It's true not everything will be 100% automatable, and many things will be language specific, but it might be a good start for some people who don't want to delve into programming too much (it's just a 3-column configuration file specifying tokens to find, their subgraph relations, a

[2016-12-15 14:39] amir-zeldes commented on #373
Should we add Arborator to this page?

https://arborator.ilpga.fr/

It has both a great project management system and a quick copy-paste mode without setting up a project, very convenient:

https://arborator.ilpga.fr/q.cgi

It's what we use for UD_Coptic.

[2016-12-15 15:07] dan-zeman commented on #373
@amir-zeldes : Yes, please go ahead and add it.

[2016-12-15 15:42] nschneid commented on #373
I opened an issue here: https://github.com/kimgerdes/arborator/issues/6

[2016-12-15 22:32] amir-zeldes commented on #373
I've added it, but I can't seem to make the image work. I added it to docs/img/ - is that wrong?

[2016-12-15 22:39] arademaker opened #381 "how to annotate citations in scientific articles ?"
Examples:

But we can also have things like

Besides the format, the citation can be related to the whole sentence or only to a specific word or phrase.

[2016-12-15 23:49] nschneid commented on #373
Looks good to me.

[2016-12-15 23:51] nschneid commented on #381
See http://www.isi.edu/~ulf/amr/lib/amr-dict.html#citation — does that answer your question?

[2016-12-16 00:00] jnivre commented on #381
For parenthetical citations, I would use parataxis. For syntactic citations, whatever relation is relevant in the syntactic structure (nsubj in the above example). For the internal structure of the citation, I would probably choose flat in v2. How does that sound?

[2016-12-16 00:02] nschneid commented on #381
(Oops, I got my GitHub issue trackers crossed. Ignore my comment about AMR.)

[2016-12-16 00:05] spyysalo commented on #376
Piling on: I'm also interested in developing / contributing to the development of an automated conversion. I wouldn't mind working with @fginter 's monster, but would be happy to use any other reasonable framework.

[2016-12-16 00:08] livyreal commented on #381
cool, @nschneid, we are thinking on AMRs too. :)

@jnivre I think parataxis is good too, but for internal structure I was thinking on using `nummod`. `nummod` is for quantity, but I'd like to preserve the information that we have dates (numbers) inside the reference.

[2016-12-16 00:16] fcbr commented on #376
Still in early stages, but we are building a Common Lisp library to manipulate CoNLL-U files (https://github.com/own-pt/cl-conllu) and using it to do the automated parts of our conversion (e.g.: https://github.com/own-pt/bosque-UD/blob/master/scripts/fix-issue-108-nao-VERB.lisp)

[2016-12-16 00:20] spyysalo commented on #373
Updated title to reflect the broader discussion here. The description of other tools would also benefit from step-by-step instructions for how to get started using them for UD annotation.

[2016-12-16 00:49] dan-zeman commented on #381
I agree with @jnivre about the external relations. Within the citation, I would stick with normal guidelines whenever applicable. _Graehl and Knight_ is coordination. _2004_ is `nummod` – although I think it would be nice to distinguish numbers-identifiers from numbers-quantities, we do not do that in UD (except for SynTagRus, which I believe has a language-specific extension of `nummod` for that

[2016-12-16 01:00] amir-zeldes commented on #373
Oh, weird, it just took much longer to appear than the text edit. I see it fine now too.

[2016-12-16 01:15] dan-zeman commented on #377
Wrt clitics, I was wondering how we would explain the difference between clitics attached to a verb (Spanish _dámelo, vámonos_) and morphemes that encode agreement of the verb with one or more arguments (and which could be interpreted as hidden pronouns when the respective argument does not appear as an overt nominal). Spanish _vamos_ itself could be said to encode _nosotros vamos_, and head-marki

[2016-12-16 01:20] jnivre commented on #381
Graehl and Knight is definitely coordination. Using nummod for 2004 is fine too, although I think eventually some subtype of flat could be an alternative (to capture the distinction @dan-zeman cares about).

[2016-12-16 01:25] jnivre commented on #377
I agree that the distinction between pronominal clitics and inflectional endings that mark agreement is a bit fuzzy and that the former could develop into the latter historically. For the Spanish case, I would appeal to language-internal arguments about systematicity. Subject agreement is present in all verbs in Spanish, even with a separate overt subject, but "object agreement" is not. Therefore,

[2016-12-16 01:25] dan-zeman commented on #377
On a more general note: I think that the default practice in UD is that we take orthographic words (in languages where they exist) as units. Only when we see good reasons to treat certain cases as contractions of multiple syntactic words, we split them; but if they work reasonably well as one word, we keep them together even though a parallel expression in a related language is rendered as multipl

[2016-12-16 03:33] dan-zeman commented on #377
@jnivre : sounds good to me, thanks. If this discussion results in a set of guidelines for UD-wordness, we should include the Spanish example with this explanation.

[2016-12-16 03:50] spyysalo commented on #377
Stupid question: what's the rule against analyzing e.g. *joined* as `join/VERB ed/AUX`? Would it work the same if English didn't use space?

[2016-12-16 04:17] dan-zeman commented on #377
@spyysalo : irregular verbs? If the English writing system did not use space, it would still not be clear where the auxiliary begins in _threw_.

[2016-12-16 04:35] spyysalo commented on #377
Nice :-)  How might that look as a general rule? Are there other arguments that could apply?

[2016-12-16 05:07] spyysalo commented on #363
Now renders as shown below (see also http://universaldependencies.org/sandbox).

<img width="298" alt="image" src="https://cloud.githubusercontent.com/assets/587850/21252262/cf746530-c398-11e6-8bd0-f16cda565553.png">

[2016-12-16 05:22] manning commented on #377
There is a lot of literature in linguistics on distinguishing clitics from morphology. Among others, Arnold Zwicky has written a lot on this issue. Of course, as @jnivre notes, the results are not always crystal clear due to grammaticalization. There is an argument that some have pursued that romance "clitics" should really be treated as morphology. So I suspect that @dan-zeman's "On a more genera

[2016-12-16 06:26] dan-zeman commented on #377
Awesome, thanks!

[2016-12-16 06:44] spyysalo commented on #377
@manning: thanks, that great! I'll dig in after recovering from Coling :-)

The reason I'm asking this particular question now is the proposed UD Japanese analysis of e.g. 食べた *tabeta* “ate” as `食べ/VERB` `た/AUX` (with `aux` dependency: http://universaldependencies.org/ja/overview/syntax.html#special-clausal-dependents). 食べた strikes me as equally obviously a single-word past form verb as the Englis

[2016-12-16 07:12] spyysalo commented on #356
Bump. I think it would be great to extend the documentation on coordination. As @jnivre writes:

and

I'd volunteer to draft something on this, but I don't think I'd be able to write on this as clearly as the topic deserves.

[2016-12-16 09:00] spyysalo opened #382 "Sentence-initial empty nodes?"
The brief section on empty nodes at http://universaldependencies.org/format.html states

This suggests that empty nodes cannot appear in sentence-initial position. Is this correct? (If not, are IDs 0.1, 0.2 etc OK?)

(Related to #363)

[2016-12-16 09:07] fginter commented on #376
Seems we have lots of options here. :) My archaeological excavation site is here:  https://github.com/TurkuNLP/dep2dep/ and an example config file here: https://github.com/TurkuNLP/dep2dep/blob/master/dtreebank/dep2dep/example_rules.lp2lp   I guess this is what Turku will use for our v1->v2 conversion. The primary advantage of this tool is that it can handle non-trees on input, ie it can convert a

[2016-12-16 10:09] ermanh commented on #374
Hi @jnivre, thanks for the quick reply, and for linking the previous discussion. It appears there was no clear conclusion yet?

Does the idea of promotion predicate on the analysis that a numeral/demonstrative was actually there but got dropped (due to ellipsis, for example)?

If that's the case, this actually seems fine for the Mandarin indefinite [CLF + NOUN] situation, because it is perfectly f

[2016-12-16 14:44] amir-zeldes commented on #377
@spyysalo I think what you're looking for is what this paper calls "MUW" (Middle Unit Word):

http://www.lrec-conf.org/proceedings/lrec2016/pdf/122_Paper.pdf

[2016-12-16 15:08] dan-zeman commented on #382
I do not see why sentence-initial empty nodes should be forbidden. I think that this is just an oversight.

[2016-12-17 01:03] spyysalo commented on #377
@amir-zeldes: this work is certainly highly relevant (and discussed at length in http://www.cjvlang.com/Spicks/udjapanese.html, referenced above), but unfortunately even the longest "LUW" (Long Unit Word) in the paper splits 食べた into `食べ/VERB` and`た/AUX` (see Figure 1).

[2016-12-17 01:07] spyysalo commented on #382
I would tend to agree. If there are no objections, I'll revise the documentation to indicate that sentence-initial empty nodes are allowed and should have IDs of the form 0.1, 0.2, etc. (@jnivre)

[2016-12-17 01:14] jnivre commented on #382
OK

[2016-12-17 01:35] #382 closed, assigned to spyysalo

[2016-12-17 04:24] amir-zeldes commented on #377
You're right, sorry for the confusion! I agree, it's odd for this to be a token while other agglutinative morphemes (e.g. potential) are not.

[2016-12-18 12:02] dan-zeman opened #383 "Polarity in UD Slovak"
The Slovak treebank treats verb negation as derivational. It does not use the `Polarity` feature, and the negative verb has a lemma different from the affirmative counterpart (e.g. _nesúhlasiť_). In the UD context this is a bug. Negation is productive and it should be treated the same way as in Czech.

[2016-12-19 09:14] ermanh opened #384 "Infixes"
The discussion on mesoclitics in Portuguese in #315 raises a similar question we had about how infixes should be treated in UD. From what I can gather from the Portuguese discussion, the solution for now would be simply to separate them like the following?

[code]

It seems the only unavoidable(?) drawback is that we would always have to display the original word/sentence alongside the tree becaus

[2016-12-19 10:02] jnivre commented on #384
This is not different in principle from many other cases where the original form of the token is not obtainable by a simple concatenation of the corresponding words, like French "du" = "de le". However, the crucial question is whether the segments surrounding the infixed segments have to be regarded as one word, or whether they can be analysed with, say, the "compound" relation. In the simple case

[2016-12-19 10:29] martinpopel commented on #384
Another question is if `xxx1` and `xxx2` appear without the INFIX, whether it will be still analyzed as two words (`compound(xxx1, xx2)`) or just as one word.
E.g. in English, we probably don't want to analyze _abso-lutely_ as two syntactic words just because you can infix it in some slangs.:-)

[2016-12-19 10:41] jnivre commented on #384
Good point. It seems like a good principle would be to posit multiple words only when required by the (exceptional) circumstances.

[2016-12-19 11:26] ermanh commented on #384
The infix can come between both actual compounds and non-compounds. In the non-compound case for Cantonese, they're adjectives that are considered one word (some may be compounds historically, but some just happen to be bisyllabic and cannot be broken apart at all -- the example of 論盡 leon6zeon6 'clumsy' I gave above is one example).

So what it sounds like is if there is no infix, then just treat

[2016-12-19 11:38] dan-zeman commented on #384
How large or how open is the set of possible infixes? If it is a closed set then we could also say that this is just an operation of morphology. Maybe unusual and Cantonese-specific, but still word-internal. If that is the solution then the lemma will be 論盡 for both 論盡 and 論鬼盡, and a language-specific morphological feature will be defined to annotate the infixed case. The feature could be somethin

[2016-12-20 08:35] jnivre commented on #376
I started a table at http://universaldependencies.org/v1_to_v2.html for specifying the desired behavior of v1-to-v2 converters and (eventually) changes needed to the validation script. Please feel free to contribute. :)

[2016-12-20 10:22] LarsAhrenberg commented on #372
A feature is basically a specification of a set of words (cross-linguistically). Words with a clause-level negative impact form a natural linguistic class whatever their part-of-speech. So to me, unlike @dan-zeman words such as English _no_ or _nothing_ could well be both `PronType=Neg` and` Polarity=Neg`. This is not saying the same thing twice, as 'Neg' in itself has no independent meaning in th

[2016-12-20 21:05] vinbo8 opened #385 "Formality levels"
The Marathi treebank that I'm working on uses `Infm`, `Form` and `Elev` as values for `Polite`. This doesn't quite cover it, though, as there's two "levels" that fit into `Form`. Either I could just use `Form` for both of them, or add a `Form2`. What do you reckon a better approach might be?

Hindi has a similar three level system, although (as far as I'm aware) it uses two informal pronouns and o

[2016-12-20 22:13] vinbo8 opened #386 "Compound verbs in Marathi"
Marathi has multi-verb compounds where non-main verbs are bleached of semantic value and only modify Aktionsart. Typically, the main verb has `VerbForm=Conv`, whilst the non-main verb has `VerbForm=Fin`.

There's also similar constructs, though, where the non-main verbs _do_ have semantic value and represent a sequence of actions, similar to how the converb functions in Slavic languages. For insta

[2016-12-21 08:30] dan-zeman commented on #386
Agreed that `advmod(जेवतो, बसून)` is the way I would go with the first example, or at least it would occur to me as the first option. There is actually another option, to label the relation `xcomp` instead of `advmod`, because the subject of _basūn_ is inherited from _jevto_. But this construction does not seem to fit very well into the (quite diverse!) set of situations where `xcomp` is used (htt

[2016-12-21 08:32] jnivre commented on #386
I agree with Dan. The use of "auxiliary" should be restricted to grammaticalised expressions of TAME. Light verbs should not be treated as auxiliaries.

[2016-12-21 08:34] jnivre commented on #386
Could the second case possibly be analysed as a serial verb construction using compound:svc?

[2016-12-21 10:13] vinbo8 commented on #386
These seem a bit distinct from the English _take a picture_, though - that seems more similar to Persian-style light verbs, and _take_ is the only verb in that context anyway. I'm using `compound:lvc` for similar constructs (they're very common in Marathi).

I do see the logic behind using `advmod` in this context, though I'm still a bit iffy about that. For instance, there's other compound verb p

[2016-12-21 10:17] dan-zeman commented on #385
Hmm, good question (for which I do not have a good answer). A poor man's solution would be to say that the middle level is neutral, and to omit the `Polite` feature there, but I am not sure I am really proposing this.

If we go for adding a new value, maybe it could also be placed in the middle? Then if Hindi and Marathi both use a set of three pronouns, which may even be historically related, but

[2016-12-21 11:09] dan-zeman commented on #386
I admit that लागलो looks more like an auxiliary to me but I would have to know much more about Indo-Aryan languages to be able to propose a boundary between auxiliary and main verbs. Auxiliaries are supposed to be a closed, and typically rather small class. You should be able to enumerate them, together with the list of constructions in which they appear (that would be good to do anyways, for the

[2016-12-21 11:15] jnivre commented on #386
The "compound:svc" is new and is not used anywhere yet, but it has been discussed for Chinese and Hebrew in #323.

[2016-12-21 19:59] vinbo8 commented on #385
I don't think I'm very comfortable with having the middle level as neutral. In Marathi, the middle level is the standard polite pronoun. The highest one is more literary (similar maybe to _Ihr_ used in second person in German), or extremely formal outside a literary context; if anything should be `Form`, though, it should definitely be the middle one.

I can't tell whether being very specific abou

[2016-12-21 22:00] vinbo8 commented on #386
I'm aware that UD Hindi isn't very good, I've run into several annoyances with it myself. Looking through it, it looks like the UD Hindi solution to both kinds of compound verbs that I mentioned is indeed to use `aux` - however, if the copula follows the secondary verb, there's an additional `auxpass(V2, cop)`. Does `auxpass` (or `aux:pass` for v2) really work here? It seems like `aux(V1, V2)` and

[2016-12-21 23:23] andre-martins commented on #315
I agree `tratar-se-á` = `tratar' `se` `á` (3 tokens) looks bad. Doing

`tratar-se-á` = `tratará' `se`

and keeping a range token ("tratar-se-á") looks the best solution to me. E.g. in https://github.com/UniversalDependencies/UD_Portuguese/blob/master/pt-ud-train.conllu
we have

7-8	far-se-á	_	_	_	_	_	_	_	_
7	fará	fazer	VERB	v-fin|FUT|3S|IND	Mood=Ind|Number=Sing|Person=3|Tense=Fut|VerbForm=Fin	0	ro

[2016-12-22 19:45] jcsg commented on #385
Hello, Vinit and Dan,

@vinit-ivar , I'm glad that you weighed in because I don't know much about the semantics of the second person pronouns in Marathi apart from what I could determine from published grammars.

It sounds like `Infm`, `Form`, and `Lit` would be appropriate for the three pronouns in this case.

Would you use तू tū only with a person with whom you're close or with someone "lower" t

[2016-12-22 21:13] vinbo8 commented on #385
Hi @jcsg, thanks for weighing in. तुम्ही is also the second person plural, yes, and I had intended to mark it `Number=Plur|Person=2` in those contexts. It would never be neutral for the singular, though, so `Polite=Form` for तुम्ही in the singular and `Polite=Lit` for आपण sounds fine to me.

All of this is based on my experience with the language, mind - आपण is also used as a generic formal in som

[2016-12-22 21:40] MemduhG commented on #386
We've been discussing similar constructs for Turkish (and other Turkic languages, where @ftyers could probably weigh in better than me) for a while. There are some verbs that can modify the aspect (aktionsart?) of the previous verb, which is usually  `VerbForm=Conv`. The following example is adapted from UD Turkish, still in UD1 style.
[code]
_Dolaşıp durma_, "don't wander (continuously)". Wander.

[2016-12-22 22:30] vinbo8 commented on #386
To sum it up - "verbs" that have no semantic value but assign aspect or Aktionsart _could_ be marked `advmod` or `advcl` but a better solution would be ideal. Perhaps something similar to `aux` (maybe a subtype?) as some verbs in these contexts sometimes assign only aspect (and sometimes Aktionsart). Verbs in similar contexts that _do_ have semantic value could be marked with `advmod`, `advcl`, or

[2016-12-23 10:47] dan-zeman commented on #385
I think that marking something as literary style is separate from the formal-informal level of politeness. BTW, some treebanks already have a `Style` feature, although it is only language-specific at the moment (http://universaldependencies.org/ext-feat-index.html#style). I would then find appropriate to use `Polite=Form|Style=Lit` for आपण. @vinit-ivar 's comment on dialects and sarcasm only suppo