[2015-09-06 12:54] nschneid commented on #206
Thanks. To be clear, my script currently applies `AUX` if the candidate auxiliary has a subsequent VP sister. This even works with VP fronting because (at least in new-style PTB trees) there is a second VP with a trace. But it does not match _get_ in _get it done_.

[2015-09-06 14:41] flammie opened #209 "web site language links don’t work on chromium with https everywhere extension"
If I open the https://universaldependencies.github.io/docs/ on my chromium, none of the language links work. In address bar there's a shield icon telling me: https://support.google.com/chrome/answer/1342714?hl=en-GB

This may confuse some of the users. It may be caused by https everywhere extension I have installed though.

[2015-09-06 17:26] dan-zeman commented on #209
I confirm that this happens in Windows Chrome 45.0.2454.85 m, but only if you use the HTTPS protocol instead of plain HTTP. So it probably is caused by the extension in your case, although in theory other users may decide to use HTTPS even without the extension. ( @spyysalo may know how to avoid the issue; I don't )

[2015-09-06 21:35] spyysalo commented on #209
Thanks for the report!

Replicated on Chrome 47.0.2503.0 canary, which gives console messages like the following:

[code]

Switching to HTTPS for all `<link>`s might work.

[2015-09-06 23:32] sebschu commented on #206
We strip all traces before processing trees (because the tagger and parser also don't generate traces and we don't want to maintain two converters) but your solution will probably still work.

And _get it done_ is in my opinion not an auxiliary but a `VERB` with a `ccomp` relation to _done_.

[2015-09-07 01:03] sebschu commented on #209
You can also omit the protocol name, e.g. "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic&subset=latin&effect=smoothing".

The browser will then load the font via http or https depending on the protocol of the embedding site.

[2015-09-07 11:42] coltekin commented on #197
Thanks for the clarification on features vs. suffixes.  I guess there is no "pure" agglutinating - non-agglutinating language difference after all.  Even for Turkish which is generally considered as a typical example of agglutinating languages, there are suffixes that express multiple functions/features. For Turkish, a direct mapping from the morphemes give a good first approximation to the morpho

[2015-09-07 13:07] spyysalo commented on #209
@sebschu : thanks, I didn't know about that!

1c8bea3082b70b48f9f4d68385799e9b2f2632a6 implements the `https://` option, but feel free to switch if the protocol-relative form is preferred.

Works for me now. @flammie, could you please check and close if the original issue is resolved?

[2015-09-07 14:27] flammie commented on #209
Seems to work, thanks.

[2015-09-07 14:27] #209 closed, assigned to spyysalo

[2015-09-12 00:16] manning commented on #199
I think the general answer is: no, sorry, there isn't. We have two converters that do the best job they can to convert Penn Treebank trees to each of Stanford Dependencies and Universal Dependencies, but we don't really have the 3rd side of the triangle.

That said, @ngiordani has written various code to convert various of these pieces of structure for various experiments, and you could ask her wh

[2015-09-12 00:16] #199 closed

[2015-09-12 00:53] manning opened #210 "Improve cross-language consistency of dates"
While I think it would be very good to improve consistency of linguistically interesting constructions, in some ways an easy and more annoying issue is inconsistency in formulaic special constructions. One such construction is dates. @danqi observed that they're very inconsistently annotated.

Here's some data.  (Sorry if I've messed something up in the description of what happens in some language

[2015-09-14 09:39] fginter opened #211 "Faster documentation update"
A faster back-end has now been deployed for the docs system by @fginter and @spyysalo. The documentation regeneration times, i.e. from push to edit visible online, are now about 1 minute give or take. Only few seconds of this is spent on the regeneration, the rest is GitHub's webserver update which is out of our control. The new back-end relies on a beta version of Jekyll so it may break. Sorry if

[2015-09-14 16:16] amir-zeldes commented on #199
OK, thanks! Someone pointed me to the code here:

https://github.com/stanfordnlp/CoreNLP/blob/master/src/edu/stanford/nlp/trees/UniversalEnglishGrammaticalStructure.java

So I hope I can get some idea of what it's doing. I think I might try to write something myself for dep -> unidep directly, since I have manually annotated dependency data that doesn't exist in constituent trees. I can let you kn

[2015-09-16 19:05] msimi commented on #211
Sorry if this is only a temporary problem, but it seems that clicking on the links under Alphabetical listing in a page like http://universaldependencies.github.io/docs/u/dep/index.html http://universaldependencies.github.io/docs/u/dep/index.html
leaves you in the same page so that I cannot see the details.

— Maria

[2015-09-16 20:21] fginter commented on #211
Thanks for the report. Yes, this is broken. I'm temporarily switching over to the older, slow version, pending a proper fix.

[2015-09-16 20:57] dan-zeman commented on #211
Is the older version so slow that 30 minutes is not enough, or is it broken too?

[2015-09-16 21:28] fginter commented on #211
Thanks. I re-adjusted a timer, now it works. Update time is about 9 min.

[2015-09-17 06:42] jnivre commented on #210
Swedish follows what seems to be the majority view and takes the month as the head, which in our case is tagged as NOUN, perhaps because like the French we don't capitalize the names of months.  A preceding date number is NUM/nummod, as is a following year. Thus:

1  1  NUM  2  nummod
2  januari  NOUN  10  nmod
3  1972  NUM  2  nummod

If the date + month is followed by a descriptive NP like "next

[2015-09-17 06:47] jnivre commented on #203
I was leading that group, and we identified two clear bugs in your document:
1. In the Spanish treebank, infinitive markers still have the relation "aux" instead of "mark". This should definitely be fixed. The question is whether the postag should also be changed to PART, to align with other languages, or whether there is enough evidence that these are in fact ADP in Spanish. @ryanmcd
2. In the Ge

[2015-09-17 06:52] jnivre commented on #204
The group in Uppsala had specific recommendations here, but they are not (yet) included in the report. But if I remember correctly, the reflexive should either be "dobj/iobj", in case it corresponds to a real argument, and else "expl" (possibly with subtyping). @mcdm

[2015-09-17 06:56] jnivre commented on #181
I think the only conclusion drawn at the Uppsala meeting about the original issue was that, if multiword abbreviations are split, the "mwe" relation should be used. Regarding postags, we would just have to use the same heuristics as for ordinary words. Thus, if "i.e." is split into "i." and "e.", then "e." is linked to "i." by an "mwe" relation, and I suppose the postags would have to be PRON and

[2015-09-17 09:19] dan-zeman commented on #203
I believe the _a_ in Spanish is clearly an `ADP`. It is actually not an infinitive marker in the English sense—the infinitive is marked morphologically in the first place (the _-ar/-er/-ir_ suffix). So it should be `ADP` and `mark`. @miguelballesteros , @Elena-Pascual , @hectormartinez , do you agree?

[2015-09-17 13:57] miguelballesteros commented on #203
yes, -ar, -er, -ir suffixes marked the infinitive. This should be enough.

I tried to find infinitive markers withe the relation aux but I couldn't, I
checked the whole dev set. Maybe if we see an example ?
Also I'm confused to what is an infinitive marker, if it is the "a" in "a
comprar" or "a cambiar" this is a preposition and depends on the verb that
has before like "voy a cambiar", but I'm not

[2015-09-17 14:07] jnivre commented on #203
Well, separate infinitive markers are used also in languages that have an unambiguous morphological marking of the infinitive, like Swedish. However, not all languages use them. Here is a classic example:

Navigare necesse est.
To sail is necessary.
Att segla är nödvändigt.

Latin has a bare infinitive, but English and Swedish require a marker ("to" and "att", respectively). I guess Spanish is lik

[2015-09-17 16:01] miguelballesteros commented on #203
yes,  in Spanish you only need the "-ar", "-er", "-ir" morphemes, which
indicate that the verb is in infinitive as Dan mentioned above,.

and yes, there are such things words with pos=ADP and deprel=aux in the
current version of the treebank,

1       Ella    _       PRON    _       Gender=Fem|Number=Sing|Person=3 4
    nsubj   _       _
2       comenzó _       AUX     _
Gender=Com|Number=Sing|Per

[2015-09-17 16:30] jnivre commented on #203
Yes, this is exactly the examples I was thinking of. To me they look like infinitive markers, and then they should be ADP/mark or PART/mark. If you insist that they are prepositions, then they should be ADP/case. The point is that they should never be ADP/aux. I think it would be worth checking how these are treated in French and Italian, since the Romance languages behave similarly in this respec

[2015-09-17 16:32] jnivre commented on #204
My apologies to @mcdm. I looked at the report too quickly and misinterpreted the headings. The report does include a recommendation that is consistent with my earlier comment.

[2015-09-18 13:42] dan-zeman commented on #210
Same in <strong>Czech,</strong> the month is the head. Names of months are not proper nouns in Czech, thus they are tagged `NOUN` (unless written as numbers, then they are `NUM`) and I prefer to keep it that way.

_na 8. května 1991_ “for 8th May 1991”

<pre>
1 na ADP 4 case
2 8 NUM 4 nummod
3 . PUNCT 2 punct
4 května NOUN 0 root
5 1991 NUM 4 nummod
</pre>

If the phrase includes the day of the we

[2015-09-18 14:07] spyysalo commented on #211
@msimi: thank you for the report! I've fixed what I believe was the root issue in the Annodoc library (a change in the jekyll `site.collections` data structure; see https://github.com/spyysalo/annodoc/issues/16).

@fginter : I think we could try the update again.

[2015-09-18 14:07] dan-zeman commented on #203
@miguelballesteros : `mark` does not necessarily say that it is an infinitive marker (although it is used for infinitve markers, too). It is often used with subordinating conjunctions. It is also used with prepositions (instead of `case`) when they are attached to clausal predicates instead of nominals. (Example: English _before coming here, ..._) But here we are less consistent across languages a

[2015-09-18 14:32] miguelballesteros commented on #203
Understood. Let's do it.
On Sep 18, 2015 3:07 PM, "Dan Zeman" notifications@github.com wrote:

[2015-09-21 09:55] fginter commented on #211
Switched over to the faster version. Thanks you for the fix @spyysalo.

[2015-09-22 07:43] dan-zeman commented on #210
What about <strong>Spanish:</strong> _(el) 6 de noviembre de 1630_

The preposition _de_ (parallel to English “of”) makes this example different. It would feel strange not to have the _6_ as head in this case. Elsewhere in UD, genitive and “of” modifiers are attached as `nmod` to the preceding nominal. The dates are also analyzed that way in Spanish UD 1.1 (thus if “month is the head” is our rule,

[2015-09-22 10:34] vinczev commented on #210
In Hungarian, we also opted for choosing the day as the head so it also
violates the rule of marking the month as the head. We have two reasons
for that:

First, the morphological inner structure of dates is that of a possessive
construction:
1. szeptember 10. (or 10-e, both are in use) = 10th of September 1998

On the day, we have a regular possessive suffix (-e) like in "szék" -
"széke" (chair -

[2015-09-22 15:35] jnivre commented on #210
Okay. So there seems to be a consensus that the year depends on the month, but there are two proposals for the relation between day and month. There seems to be good arguments for taking the day as the head in Spanish and Hungarian. Are there equally good arguments for taking the month as the head in other languages, in which case this will be a case of "metataxis". Or is it more arbitrary in othe

[2015-09-22 16:56] dan-zeman commented on #210
I think it is language-dependent. In Czech it is more natural to modify the month by the day. You say "the third October"; even though semantically you mean "the third day of October" (as opposed to the third element in a sequence of Octobers), morpho/syntactically it is different. The ordinal number works like an adjective and agrees with the month also in case (_třetího října_ is the most freque

[2015-09-22 18:33] osenova commented on #210
The same for Bulgarian – without the “case” agreeing, of course, since we lack cases in the nominal system:
трети [‘third’ ordinal numeral behaving as adjective on syntactic level] септември [September]

[2015-09-22 19:26] wbwseeker commented on #210
German does it like Czech and Bulgarian

der zweite Mai
literally: the second May
the second of May

the ordinal inflects in agreement with the month as in Dan's example of Czech:

am zweiten Mai
on the second of May (in dative case)

[2015-09-22 19:29] dan-zeman commented on #210
So the space for standardization is limited but still larger than zero. I hope we can avoid the `compound` relation that is currently used in Finnish, @fginter ? The year depending on the month as `nummod` (or `nmod` if not expressed numerically) seems also acceptable to me. Then the languages should decide and document whether there prevail linguistic reasons for either month or day as the main h

[2015-09-22 19:32] mojgan-seraji commented on #210
I also think that this is language-dependent. In Persian, there is ezafe construction (-e) that links the elements in the phrase, indicating the semantic relation between the joint elements, e.g.: in third-e October-e 2015. However, the ezafe is not always marked in text (it is only marked after vowels, I only marked it to show the construction) but it syntactically covers a possessive relation. A

[2015-09-23 17:24] jnivre commented on #210
I think this is a good proposal. The default is:

month -> day
month -> year

But if there is clear linguistic evidence that the month is a modifier of the day (in particular, case marking, either morphological or syntactic), then the alternative is:

day -> month
month -> year

The relations should be standard modifier relations taking the form into account: nummod if numerical, otherwise nmod (o

[2015-09-24 06:23] msimi commented on #210
Torniamo al giorno come testa?

— Maria

[2015-09-24 06:45] honnibal opened #212 "Mapping tables that go (Form, Treebank POS) --> (Lemma, UD POS, Morphological features)"
Hi all,

I've been working on moving spaCy (an NLP pipeline, http://spacy.io ) to the UD scheme for some time now. I'm currently trying to produce some mapping files, which I think might also be of use to others. Some of what I'm doing might exist already --- if so, I'd appreciate pointers to the resources :). If not, I'm looking for a little help in making sure I'm applying the annotation schemes

[2015-09-24 07:07] fginter commented on #212
Hi Matthew,

Can't speak for other languages and your question might be specifically targeting English, but FWIW this is what holds for Finnish:
1. The mapping is `LEMMA+XPOS+XFEAT` -> `POS+FEAT` and in two cases even `LEMMA+XPOS+XFEAT+DEPREL` -> `POS+FEAT` (where `X` marks original data in the original treebank). Note that `XFEAT` is not present in the final UD file.
2. The mapping is implemented

[2015-09-24 07:28] honnibal commented on #212
Thanks. I'm targeting multi-lingual. I'm hoping the simpler mapping will work for most languages, although I know some languages might need to work differently.

How does your lemmatization work? Do you go `ORTH+XPOS` -> `LEMMA+XPOS+XFEAT`?

[2015-09-24 07:35] fginter commented on #212
Finnish lemmatization uses the two-level morphological analyzer `OMorFi`. That is distributed with the parser. So we go `ORTH` -> [morpho analyzer] -> several `LEMMA+XPOS+XFEAT` alternatives -> [bunch of scripts] -> several `LEMMA+POS+FEAT` alternatives. And then a CRF (Marmot) to disambiguate the competing readings.

[2015-09-24 07:53] ftyers opened #213 "Universal feature for Transitivity"
In our work on Kazakh, we have labelled verbs as transitive or intransitive. Transitive basically means they can take an object (either bare accusative or definite accusative) and when passivised the object becomes the subject.

I have looked for an equivalent in UD but have not been able to find it. Should I new feature be made or should we leave out this information when converting the morpholog

[2015-09-24 08:00] ftyers commented on #212
We were working on this for Kazakh at the TurkLang conference last week. Here is the spreadsheet we've been writing to be able to have a consistent mapping between our two standards (KNC, Apertium) and UD. Note that we conceive the mapping as unidirectional.

https://docs.google.com/spreadsheets/d/1Q4J3axzxYFFZebhfaCOvgtIy26OgpZcym-mVA_yX7FI/edit#gid=130548646

As Filip mentioned in the worst case

[2015-09-24 08:24] ftyers opened #214 "The VerbForm feature"
In Kazakh and the other Turkic languages (not sure about Turkish, will leave that to Çağrı to comment), we have a 5-way distinction in verb forms:[1]

1) Finite forms "I _write_ the letter"
2) Verbal nouns "I like his _writing_", "I think that _writing_ is fun"
3) Verbal adjectives "He is a book _writing_ man" [a man who writes books]
4) Verbal adverbs "While _writing_ this I had a peculiar though

[2015-09-24 11:13] coltekin commented on #214
A few comments and some data from Turkish:
- For Turkish (I think) the line between participles and verbal adjectives are very fuzzy. So far, if the construction as a whole is used as an adjective, I have opted for marking them as  `VerbForm=Part`. There is a special form, that involves a verb that looks like a participle form followed by _ol-_ that matches the participle example above (_O kitabı

[2015-09-24 12:13] dan-zeman commented on #212
@honnibal : These tables of yours could be quite useful and they can obviously improve over Interset. But as others mentioned, even with lemma it cannot be perfect. Beyond that, it is probably easier to write scripts than tables, and to consider the tree structure (that's what I do).

As for your specific questions, I would say that _myself_ is `Case=Acc`. I would not mark case for _mine_ because

[2015-09-24 12:43] dan-zeman commented on #213
It is not in the Universal Features and it is not even mentioned (yet) in the list of language-specific features at http://universaldependencies.github.io/docs/ext-feat-index.html, although it actually is in Interset (because there are a few tagsets that distinguish it). I did not find it interesting enough to propose it for UD (because subcategorization in many languages is much more complicated

[2015-09-24 12:55] honnibal commented on #212
Thanks all. It sounds like I'll need an additional process to add further morphological features after parsing for many languages, which I hadn't thought about.

`As for your specific questions, I would say that myself is Case=Acc. I would not mark case for mine because it can be used both as subject and object, without changing form.`

_myself_ makes sense as `Case=Acc`, thanks. But I don't under

[2015-09-24 13:58] dan-zeman commented on #214
While I have no strong opinion at the moment about what to do with the Turkic verb forms, let me contribute some examples from Czech and Russian (in a sense Czech was very influential on what you find in universal features because it was the first language covered by Interset; that's how the term of _transgressive_ got there):

https://docs.google.com/spreadsheets/d/1p-pAsIxjFUkKfPpn1xvrsuuZ52Qvr1

[2015-09-24 14:07] dan-zeman commented on #212
_mine_ ... English is not my native language and it is quite possible that I am using it wrongly. I thought I could say something like: _Your car is green. Mine is red._ Is that ungrammatical?

[2015-09-24 14:23] honnibal commented on #212
Ah --- yeah, of course.

[2015-09-24 14:26] fginter commented on #212
All cases in UD English are [here](http://bionlp-www.utu.fi/dep_search/?db=English&search=Mine%7Cmine+%3Cnsubj+_)

[2015-09-25 06:40] dan-zeman commented on #181
I am now looking at the Czech data to see what (and whether anything) should be done w.r.t. multi-word abbreviations. It turns out that the vast majority of instances are abbreviated multi-word expressions that are not function words (expressions). There are normal syntactic relations between the member nodes, so I am not going to change them to `mwe`. The most frequent examples:
- _a . s ._ = _ak

[2015-09-25 09:59] jnivre commented on #181
I am still not convinced that it is a good idea to split them at all. But if you do split them, you say that the components should be treated exactly as the words they abbreviate, contrary to the recommendation of the discussion group in Uppsala. Is that right? Do you also think that, let's say, USA (which is sometimes written U.S.A., although less frequently so, it seems) should be analyzed as am

[2015-09-25 10:56] dan-zeman commented on #181
Unfortunately I was not present in that group so I do not know what exactly was the discussion about. Until now I had the impression that this was mostly about abbreviations that are closer to function words than to content words. The report from Uppsala does not say that, but on the other hand, we used the `mwe` relation only for function expressions so far, so this supported my impression.

I sh

[2015-09-25 11:33] jnivre commented on #181
Thanks for clarifying, Dan. I had obviously misunderstood this issue completely, perhaps because of some of the earlier discussion about splitting etc. into "et" "cetera" and so on. So the general conclusion is that we prefer a compositional analysis whenever possible and resort to mwe only when the choice of head (and relations) would be completely arbitrary. This applies regardless of whether th

[2015-09-25 11:33] #181 closed

[2015-09-26 15:45] dan-zeman commented on #211
Due to the recommendation of the Uppsala groups, the Czech documentation now (a2030edf6d36a62d794c025500642e5454637a99) has a page on `expl` that did not exist before. The page has been generated and can be viewed at http://universaldependencies.github.io/docs/cs/dep/expl.html.
However, the short links from other pages do not work. The page on specific syntax (http://universaldependencies.github.i

[2015-09-26 15:59] spyysalo commented on #211
@dan-zeman : thanks for reporting this. I think this is almost certainly related to the new rendering; @fginter can confirm by running `jekyll --full-rebuild` on the generating server.

The links to other pages are generated using data from https://github.com/UniversalDependencies/docs/blob/pages-source/lib/local/collections.js, which was previously regenerated (along with everything else) every t

[2015-09-26 16:51] fginter commented on #211
`--full-rebuild` broke all links. I'm falling back on the slow rendered. @spyysalo - nothing changed on the site as far as I can tell, have you changed the annodoc include possibly?

[2015-09-26 16:58] spyysalo commented on #211
No changes to annodoc after the first post-switch fix (https://github.com/spyysalo/annodoc/issues/16). A reset should surely work -- just `rm -r _site` and regenerate.

[2015-09-26 17:15] fginter commented on #211
Same problem persists. Switching back to the slower version and let's get back to this... Most peculiar.

[2015-09-26 17:19] spyysalo commented on #211
Huh. You've got me, I thought that would do it for sure. I'll have time to look into this in detail tomorrow, hope to have good news then.

[2015-09-27 19:02] spyysalo commented on #211
Note: 3acd140bfd12f6f3e63f7b6e1a0da3e5ae372349 fixes the issue introduced in attempting to fix Dan's issue; the original requires a separate fix (being implemented by @fginter).

[2015-09-28 14:40] fginter commented on #211
@dzeman's issue should now hopefully be fixed. When a new file is added or an existing file detected, `--full-rebuild` is forced now, to make sure all the inter-linking of the pages works. Please report any new issues and bear with us. :)  @spyysalo FYI https://github.com/fginter/jekyll-hook/commit/66bdb0677ba01efe5f672e653b7b1064a14a71f9

[2015-09-29 13:10] fginter opened #215 "www.universal-dependencies.org"
Wouldn't it slowly be the time to grab that domain?

[2015-09-29 14:05] spyysalo commented on #215
+1 (maybe without the hyphen?)

[2015-10-03 02:21] honnibal commented on #212
@fginter  --- Thanks!!! That search engine is fantastically helpful.

[2015-10-05 04:08] manning commented on #215
Yes. :)

[2015-10-05 06:34] dan-zeman commented on #215
+1

[2015-10-06 20:35] SimonettaMontemagni commented on #210
For Italian, we have linguistic evidence supporting the choice of having the day as the head of dates.

Dates in text can take one of the following forms, where the day always precedes the month:
1) il 29 settembre 2015 ‘the 29 September 2015’
2) il 29 settembre del 2015 ‘the 29 September of 2015’
3) il 29 di settembre 2015 ‘the 29 of September 2015’
4) il 29 di questo mese ‘the 29 of this month’

[2015-10-06 20:56] SimonettaMontemagni commented on #210
For Italian, we have linguistic evidence supporting the choice of having
the day as the head of dates.

Dates in text can take one of the following forms, where the day always
precedes the month:
1) il 29 settembre 2015 ‘the 29 September 2015’
2) il 29 settembre del 2015 ‘the 29 September of 2015’
3) il 29 di settembre 2015 ‘the 29 of September 2015’
4) il 29 di questo mese ‘the 29 of this month’

[2015-10-07 07:31] jnivre commented on #210
This sounds convincing to me, and I think the same arguments apply at least to Spanish. In fact, I think that for most (European) languages, these expressions started out with something like "the Nth day of (this) MONTH", where "day" is clearly the head. The word "day" was later dropped, thereby promoting the day number to the head. This seems to be the current status for Italian and Spanish, even

[2015-10-07 19:30] dan-zeman commented on #210
Agreed.

Out of curiosity, I just ran a few quick queries over a diachronic corpus of Czech. I found some examples from the 16th century that confirm the hypothesis formulated in Joakim's comment. Like

_dne 27 . měsíce ledna_ “day 27 th month January”

There is no preposition like _de_ in Spanish but everything is in genitive, which is our equivalent of the preposition. So here we would have

num

[2015-10-13 12:55] fginter opened #216 "new front page (please read - you need to edit your readmes)"
Hi all,

@spyysalo @jnivre @dan-zeman @mcdm @fginter spent some time behind the scenes preparing a new frontpage for the UD site, sporting a "treebanks at a glance" table. This is something which was raised in Uppsala, namely that there is not a good overview of all the UD treebanks and the tab interface does not do the trick. This, we hope, will be an improvement.

The data for the table is gathe

[2015-10-14 09:36] fginter opened #217 "Docs master branch should be removed"
I see a sporadic activity in the `master` branch of the docs, and someone seems to be merging `pages-source` into it occasionally, but it is now some 300 commits behind. As far as I know, nothing should be going on there, and we should all be editing the `pages-source` branch. I suggest `master` be removed to avoid mishaps.

[2015-10-14 09:39] spyysalo commented on #217
related: http://stackoverflow.com/a/17396552

[2015-10-14 09:47] fginter commented on #217
I think @ftyers may have been the last one touching `master`. I'll wait a day or two and if I see no objections, I will wipe it.

[2015-10-14 11:25] ftyers commented on #217
Yeah, that was my mistake, I merged into the wrong branch (git newbie here). No complaints from me to remove it.

[2015-10-14 21:41] dan-zeman opened #218 "Negative=Yes vs. Negative=Neg"
I originally meant to create this issue at the UD_Finnish repository but then I realized it applies to UD_Finnish-FTB too. The Finnish treebanks use a language-specific value `Negative=Yes` while the universally available values are `Neg` and `Pos`.

I understand that there is no use for `Negative=Pos` in Finnish. It is used in some languages where certain parts of speech systematically mark or do

[2015-10-14 22:21] spyysalo commented on #218
A quick look at the converter code suggests `Negative=Yes` is generated from OMORFI `SUBCAT=Neg` for verb forms other than participles (which have `PartForm=Neg`) and further that only forms of the negation verb _ei_ have this feature. (http://universaldependencies.github.io/docs/fi/feat/Negative.html agrees.)

I'm inclined to agree that `Negative=Neg` and `Negative=Yes` are the same. Given that i

[2015-10-14 23:16] yoavg commented on #218
Negative=Pos sounds very weird to me. Perhaps we should consider at some
point to change this to Polarity=Neg/Pos ?
On Oct 15, 2015 12:21 AM, "Sampo Pyysalo" notifications@github.com wrote:

[2015-10-15 06:15] fginter commented on #218
I found that discussion in https://github.com/TurkuNLP/UniversalFinnish/issues/89 as well. This does seem like a bit arbitrary departure from the UD standard, so I guess it would not hurt to replace these using a perl one-liner. But of course we then need to remember to update the parsing pipeline as well.

[2015-10-15 07:25] fginter commented on #217
No prob, @ftyers. The very existence of this branch in `docs` is confusing. I wiped it now.

[2015-10-15 07:25] #217 closed, assigned to nobody

[2015-10-15 07:33] dan-zeman commented on #218
@yoavg : I agree that `Negative=Pos` sounds weird. The feature used to be called `negativeness`, and `negativeness=pos` sounds a little bit less weird to me, but still weird. I think that years ago the value was `aff` (for _affirmative_, instead of _positive_) and I do not remember the reason why it was changed to `pos`.

`Polarity` is not bad. If we decide to go for it in the future, then `Pos` w

[2015-10-15 08:12] spyysalo commented on #218
+1 for making UD Finnish conform, +1 for making renaming a separate issue

[2015-10-15 08:34] dan-zeman opened #219 "Renaming universal features and/or their values?"
In the future versions of the UD standard we may want to add features/values (i.e. shift them from the language-specific zone to the universal zone), which is easy, or refine their definitions, which is less easy but may become necessary.

Do we also want to consider renaming existing features/values? One suggestion has been raised by @yoavg here: https://github.com/UniversalDependencies/docs/issu

[2015-10-15 08:35] dan-zeman commented on #219
Copying my own comment from #218 regarding negativeness:

@yoavg : I agree that `Negative=Pos` sounds weird. The feature used to be called `negativeness`, and `negativeness=pos` sounds a little bit less weird to me, but still weird. I think that years ago the value was `aff` (for _affirmative_, instead of _positive_) and I do not remember the reason why it was changed to `pos`.

`Polarity` is not

[2015-10-15 08:38] dan-zeman commented on #218
Thanks, @spyysalo ! I am leaving this issue open for now, feel free to close when it is done.

I started a new issue #219 about renaming, to keep this one about Finnish.

[2015-10-15 09:21] fginter opened #220 "ext-dep-index.html has many broken links"
http://universaldependencies.github.io/docs/ext-dep-index.html does not seem to be particularly up-to-date. This file could be generated from the https://github.com/UniversalDependencies/tools/tree/master/data  deprel files of the validator and be kept in sync.

[2015-10-15 09:34] dan-zeman commented on #220
I recently added many relation-language instances, trying to sync it manually. But I did not add the corresponding documentation pages. Maybe it is even better to leave the links "broken" so that it is highlighted that the doc is pending (I mean better than just creating a template page, which makes the link ok but the target is still useless).

The same holds for features, http://universaldepende

[2015-10-15 09:38] fginter commented on #220
Some of these do not exist in the languages. E.g. `ccomp:nf` is not used in Finnish (it used to be at some point in the past). Agreed, let's not force-create the documentation and leave the red links for those relations that do exist in the data but have no docs.

[2015-10-15 10:33] fginter commented on #218
I removed Negative=Yes from the validator data, so now Finnish doesn't validate. That will keep reminding us. :)

[2015-10-16 03:57] manning commented on #216
Looks great!

Question: Should we define the boundary better between "automatic conversion + manual check" vs. "native UD annotation".  Many, many treebanks used pre-labeling tools plus manual correction and refinement.  E.g., the Penn Treebank.  Which would it count as?  Specifically for our English UD, if it was done by starting with an SD conversion but then humans went through the whole thing,

[2015-10-16 06:48] jnivre commented on #216
Good idea. I think it should count as native UD. Perhaps we should say something like:

automatic = completely automatic, no manual check except for basic sanity checks

automatic + manual = automatic + some form of systematic manual validation (for example, some specific construction types all through the corpus, but not sentence by sentence and word by word)

native UD annotation = every sentenc

[2015-10-16 07:17] fginter commented on #216
That sounds very good

[2015-10-16 07:27] dan-zeman commented on #216
+1

[2015-10-16 08:25] dan-zeman commented on #216
If every sentence has been reviewed by a human, then I believe it counts as "native UD annotation". Preprocessing is just an annotation tool, even if it involves a parser. It makes the job of the human annotator easier but it does not take the responsibility from them.

Dan

[2015-10-16 14:21] manning commented on #206
Late to the party, but all Sebastian's answer are 100% ! There are a good range of semi-auxiliary constructions in English – and many other languages – but our position at the moment is to only use AUX for the core auxiliary constructions, not semi-grammaticalized things. We can re-evaluate anything, but as @sebschu suggested, our position was to make passive auxiliary _get_ an AUX but not any oth

[2015-10-16 14:35] nschneid commented on #206
OK, thanks for the clarification!

[2015-10-16 14:35] #206 closed

[2015-10-16 15:05] dan-zeman opened #221 "conj:preconj vs. cc:preconj"
@kajad pointed this out; I am not sure whether it has been discussed but I don't see the corresponding issue here.

The documentation of the language-specific relations (http://universaldependencies.github.io/docs/ext-dep-index.html) lists `cc:preconj` for English. So does the English documentation (http://universaldependencies.github.io/docs/en/dep/cc-preconj.html). However, the version 1.1 Engli

[2015-10-16 16:58] jnivre commented on #221
Definitely OK.

[2015-10-16 20:35] manning commented on #221
Agreed. This was (yet another) bug.

[2015-10-16 21:59] manning commented on #212
For English, we have a translator from Penn Treebank trees to UPOS tags: https://github.com/stanfordnlp/CoreNLP/blob/master/data/edu/stanford/nlp/upos/ENUniversalPOS.tsurgeon .  It's a Tsurgeon translation file. Unlike for Google's universal POS, there are a number of instances where a translation from XPOS just isn't possible without seeing syntactic context.

[2015-10-17 03:16] manning commented on #13
@spyysalo You might be able to answer the above question from June. I presume we should move this to "later" since it's not being worked on for release 1.2....

[2015-10-17 07:34] dan-zeman commented on #13
I am not sure if @trf0412 's question was directed at me but anyway. Consider the above code, which I am repeating here:

<pre>~~~ conllu
# give the toys to the children
1     donner    donner   VERB   _   VerbForm=Inf               0   root   _   give
2     les       le       DET    _   Definite=Def|Number=Plur   3   det    _   the
3     jouets    jouet    NOUN   _   Gender=Masc|Number=Plur    1

[2015-10-19 17:13] amir-zeldes commented on #199
@manning @ngiordani I've written a basic configurable Python script to find/replace some dependency edges. There's a configuration file doing a first try on Stanford typed to universal dependencies included:

http://corpling.uis.georgetown.edu/depedit/

It doesn't do everything yet - in particular I'm not sure how to go about changing 'nn' to 'name' and reversing the order if something is a proper

[2015-10-20 03:18] ngiordani commented on #199
Thanks, @amir-zeldes! This is useful, I'll definitely play with it and let you know if I have any suggestions. I'm sure people will find this useful. As for the problem you mentioned: we ended up using NER. I don't think there's a good way of doing it from just the dependency tree, unfortunately.

[2015-10-20 06:07] ngiordani opened #222 "Auxiliary chains in Spanish"
I noticed that in Spanish the auxiliaries are chained together. The UD standard recommends that they be annotated flatly (here: http://universaldependencies.github.io/docs/u/dep/aux_.html). Is there a specific reason for this? Are there plans to change it in v 1.2? (I can help!)

@miguelballesteros @dan-zeman @hectormartinez

Natalia

[2015-10-20 06:23] riyazbhat commented on #222
I have the same problem with Hindi and Urdu. VPs follow an X-bar style hierarchical structure rather a flatter one.

[2015-10-20 13:57] amir-zeldes commented on #199
OK, great, feel free to use the issue tracker to report bugs or requests directly.

I was thinking the same thing with the NER, I'm not entirely sure if the guideline for 'name' is going to be 100% decidable. I might do a heuristic using a large list whenever the head and modifier are proper nouns, and have a human go over my particular corpus to produce a stop list.

[2015-10-21 07:11] fginter commented on #216
Do I go ahead and replace the strings to "automatic" "semi-automatic" and "manual" in all readmes?

[2015-10-21 07:17] jnivre commented on #216
Fine with me.

[2015-10-21 08:26] fginter commented on #216
Done.

[2015-10-21 08:26] #216 closed, assigned to nobody

[2015-10-21 08:27] fginter commented on #211
I think this has been quite reliable recently, so closing.

[2015-10-21 08:27] #211 closed, assigned to fginter

[2015-10-21 17:25] liljao opened #223 "Relative clause markers"
The guidelines state that relative clause introducing words like English "that" should be tagged as `SCONJ`.
I have two questions:
1. I noticed that in the English data these are tagged as determiners. Is this an inconsistency in the guidelines or possibly in the English data?
2. What are the consequences of choosing an `SCONJ` analysis for a relativizer? Would this element have an argument relati

[2015-10-25 20:14] dan-zeman commented on #223
I would say that there is ambiguity between two (three?) different "that"s in English:
- _that_ `SCONJ` `mark` ... _I know that he came yesterday._
- _that_ `PRON/DET` `nsubj/dobj/nmod` ... _I know the man that(who) came yesterday._
  - _I saw the car that the man bought._
  - _I know that._

Just my two cents and intuition; I did not study the English documentation nor data now.

[2015-10-25 20:16] dan-zeman commented on #223
PS I do not think that inflection (like who-whom) is a necessary condition for a word to be a pronoun and to act as an argument of a verb.

[2015-10-25 20:25] dan-zeman commented on #222
It is a violation of the UD guidelines. Either the data or the guidelines should be changed (preferably the data, because we had a lot of endless discussions about this particular bit of guidelines last year).

I don't think it is on the TODO list for this release and I probably won't be able to do it now. If you, @ngiordani , want to fix it yourself, please coordinate with @hectormartinez and @mi

[2015-10-25 21:07] miguelballesteros commented on #222
the token is free on my part. Hector (in cc) is the last one working on the
Spanish data,  we should wait for his confirmation.

On 25 October 2015 at 16:25, Dan Zeman notifications@github.com wrote:

##

Miguel Ballesteros
http://miguelballesteros.com

[2015-10-25 21:13] ngiordani commented on #222
Let me know when you're done with the data; I can probably fix this
auxiliary problem!

On Sun, Oct 25, 2015 at 2:07 PM, Miguel Ballesteros <
notifications@github.com> wrote:

[2015-10-26 06:59] hectormartinez commented on #222
Great, I need to change a couple things from the transformations I am
running. So @ngiordani , if I get two days, you are free to modify the
Spanish treebank.

2015-10-25 22:13 GMT+01:00 ngiordani notifications@github.com:

[2015-10-26 09:11] liljao commented on #223
I see that the universal guidelines for `SCONJ` contains a reference to Loos et al (2003) who distinguish between relativizers (like English 'that') and relative pronouns (like English 'who'). I assume that a `SCONJ` analysis entails a `mark` relation for the relativizer then, please correct me if I am wrong.

@dan-zeman I agree that inflection is not a necessary condition for pronominal status, h

[2015-10-26 09:20] dan-zeman commented on #223
Sorry, I am afraid I would need some knowledge of Norwegian to be able to comment on _som_. However, you may want to look at the Swedish and Danish data, and to discuss this with @jnivre , @bplank and others. As these languages are much closer to Norwegian, I suppose that you guys want to have the same solution in all three.

[2015-10-26 09:37] liljao commented on #223
Yes, that is probably a good idea :-)

However, I would still be curious about the universal guidelines for relativizers vs. relative pronouns. Should the choice of `SCONJ` as opposed to `PRON/DET` have syntactic consequences as well (`mark` vs `nsubj/dobj` etc.)?

[2015-10-26 09:40] dan-zeman commented on #223
Yes, if it is `SCONJ` then it should be `mark` and not `nsubj/dobj/nmod`.

[2015-10-26 11:29] jnivre commented on #223
Sorry for not being up to date, but are we talking about universal guidelines or language-specific English guidelines here? I would argue for treating "som" as a relative pronoun in the scandinavian languages, regardless of the theoretical linguistic discussion, because we lose too much information otherwise when we don't use empty elements. I would argue the same for English "that", which is why

[2015-10-26 11:56] daghaug commented on #223
I was just about to write that you'd have to work really hard to find a
definition of pronouns that would extend naturally to "som" in
Scandinavian, but I agree with Joakim that preserving information on the
grammatical relation being relativized on trumps the desire for a
coherent definition.

Dag

On 10/26/2015 12:29 PM, Joakim Nivre wrote:

[2015-10-26 12:49] liljao commented on #223
The universal guidelines state that the `SCONJ` category should encompass relativizers (as opposed to relative pronouns), with the example of English _that_, so I guess both?

[2015-10-26 14:11] jnivre commented on #223
Thanks, Lilja. I think we need to work on this for version 2. :) I think the important point is that we want to preserve the information about the relation being relativized. Whether that is compatible with tagging the word as SCONJ is something that we can discuss, but for the time being I would use PRON instead (as we do in UD_Swedish). In a way, this is what UD_English does as well, despite wha

[2015-10-27 11:22] verginicabm opened #224 "alternatives"
In case you confronted a similar example to the one below, please let me know how you annotated the texts between brackets. Otherwise, maybe you have a solution. Meanwhile, we marked them as "dep", of course.

Here is the example:

Testul (ele) efectuat (e) arata ca...
Test-the (s-the) made (plural agreement) show that.... ("arata" is a homonymous form: both for 3 sg and 3 pl)
"The test(s) made sh

[2015-10-27 11:36] dan-zeman commented on #224
Very interesting. It actually occurs in Czech too, but I did not encounter it in the data we have, so I don't have a solution.

I would be tempted to abuse the `reparandum` relation for this, although its original purpose was different (http://universaldependencies.github.io/docs/u/dep/reparandum.html).

[2015-10-27 19:20] hectormartinez commented on #222
Just pushed an update to UD_Spanish. @ngiordani you are free to rearrange
the aux chains.

2015-10-26 7:59 GMT+01:00 Hèctor Martínez hector.martinez.a@gmail.com:

[2015-10-27 19:22] ngiordani commented on #222
Great, will look into it later today. More soon.

N.

On Tue, Oct 27, 2015 at 12:20 PM, Martínez Alonso, Héctor <
notifications@github.com> wrote:

[2015-10-28 03:47] manning commented on #221
Fixed in our version 1.2 release candidate.

[2015-10-29 09:06] ngiordani commented on #222
Hi @hectormartinez, @dan-zeman and @miguelballesteros -- I just ran a script that moves aux and auxpass dependents of auxiliaries and copulas (i.e., nodes labeled aux, auxpass or cop) to their parents. Auxiliaries now uniformly attach to predicates. I just pushed.

In French, I talked to @mcdm about also moving negation and cliticized objects or reflexives (which in the Spanish corpus, as in Frenc

[2015-10-29 10:38] jimmycallin opened #225 "Invalid dependency relation 'subj:cop' in Hebrew"
The dependency relation _subj:cop_ can be found in the Hebrew treebank:

Examples:

[code]

_subj_ isn't a valid relation, and should probably be _nsubj_.

[2015-10-29 12:56] yoavg commented on #225
This is correct, the relation should be nsubj.
We will fix this for the next release, hopefully sooner.

[2015-10-29 13:23] jnivre commented on #225
Well, since the next release is on Sunday, I guess sooner would have to be tomorrow or the day after. :) I wonder how this slipped through the validation process, though. @fginter Was it possibly the case that the validation script only checked whether the language-specific relations were listed in the documentation and had the form "uni:spec" without actually checking that "uni" was a valid unive

[2015-10-29 14:40] yoavg commented on #225
Wow. I am a bit out of sync with the world, apparently :)
I will do my best to squeeze this fix in my schedule..

[2015-10-29 15:02] jnivre commented on #225
If it is just a matter of replacing "subj:cop" by "nsubj:cop", you might be able to delegate. Then again, it looks like a 5 minute job. :)

[2015-10-29 15:10] yoavg commented on #225
It is just a matter of changing subj:cop to nsubj:cop , but I wanted to apply the fix at the level of the automatic conversion chain, and not as a post-process. In any case, this proved to be easy enough, so done, and the fixed version is now pushed.

[2015-10-29 15:10] #225 closed, assigned to nobody

[2015-10-29 15:14] jnivre commented on #225
Great, thanks!

Joakim

On 29 Oct 2015, at 16:10, Yoav Goldberg <notifications@github.com<mailto:notifications@github.com>> wrote:

It is just a matter of changing subj:cop to nsubj:cop , but I wanted to apply the fix at the level of the automatic conversion chain, and not as a post-process. In any case, this proved to be easy enough, so done, and the fixed version is now pushed.

—
Reply to this

[2015-11-02 19:02] manning opened #226 "Improve Introduction to UD web page"
The Introduction to UD web page would be way more useful to newcomers if it actually gave an **example** of UD, perhaps the same sentence in 2 or 3 languages. I.e., the kind of thing that we have in our intro UD slides.

[2015-11-03 20:41] laufrant opened #227 "Intersections between datasets"
Hi,

I ran some tests to check for intersections between train/dev/test datasets and I was surprised by the large numbers I found. Some are duplicates inside train or very short sentences, but there are also many long sentences present in both train and test sets (around 8% of the Spanish test set). More importantly, in many cases the train and the test occurrences have different annotations.

I h

[2015-11-03 21:01] spyysalo commented on #227
@laufrant : thank you, that's a very interesting finding, I don't think this has been reported previously. To further summarize your results, I checked the number of overlaps found, excluding short sentences (<10 tokens):

[code]

(hope I got that right.)

[2015-11-03 21:23] spyysalo commented on #227
Regarding Finnish (only) (@fginter): I checked the Finnish cases of overlap between sentences longer than 10. All but two involved the apparent boilerplate legalese sentence

The other two were

I expect these duplications in Finnish represent a real property of the domain text (EU legal documents) and are likely not a cause for concern, although it would be good to cross-check that their annotati

[2015-11-03 21:26] msimi commented on #227
Do you have a script to check overlappings that I can use?

— Maria

[2015-11-03 22:36] spyysalo commented on #227
@msimi : sorry, no, I only had seven cases in Finnish so I just checked the lines in @laufrant's document in a text editor.

@laufrant : could the program you're using to check this be used to show the overlapping sentences?

[2015-11-04 09:52] laufrant commented on #227
I changed slightly my output, it should be easier to check the sentences now : http://pastebin.com/raw.php?i=A8BW3Pj1
It is not easy to give you my script, since it is basically a small tweak in my own pipeline. Sorry for that.
Do you need any other output?

At least de/es/fr/it seem to me like true overlaps. For English they are mostly redundancies inside each set, but with annotation divergences

[2015-11-04 12:29] jimmycallin opened #228 "Inconsistencies in German usage of compound label"
I noticed that there are quite a few more compound relations in German compared to similar languages like Swedish. Looking closer, I found that there is a discrepancy in how German uses the label. If there is a hyphenated word, such as _T-shirt_, the treebank splits this into three tokens, _T_, _--_, and _shirt_, with a dependency from _T_ to _shirt_ labeled as _compound_. In the Swedish treebank,

[2015-11-07 18:21] dan-zeman commented on #218
Both Finnish treebanks have been fixed. Closing this issue.

[2015-11-07 18:21] #218 closed, assigned to spyysalo

[2015-11-07 18:25] dan-zeman commented on #221
I found the same issue in Persian, @mojgan-seraji .

[2015-11-08 02:01] manning commented on #228
The choice of tokenization is not something that we have strongly dictated so far, and so there is variation. For what it's worth, this is something that changed in the history of English Penn/LDC treebanks: In the original Penn Treebank, "TV-series" would be one token, but in the revised LDC tokenization used for OntoNotes and the Web Treebank – and hence for the data annotated for UD English, si

[2015-11-08 02:05] manning commented on #148
We have unescaped the tokens back to ( and ) now!  So, I'm going to close this issue. At present, the language-particular tags are still -LRB- and -RRB-. It's less clear to me whether we should change those.

[2015-11-08 02:05] #148 closed

[2015-11-08 14:39] mojgan-seraji commented on #221
Fixed!

[2015-11-08 14:43] dan-zeman commented on #221
Wonderful, thanks!

[2015-11-08 14:43] #221 closed, assigned to mojgan-seraji

[2015-11-08 21:59] manning opened #229 "Change naming in CoNLL-U: CPOSTAG --> UPOSTAG"
Should  we maybe change the field naming on the CoNLL-U documentation page and anywhere else it occurs?  With the current CPOSTAG and POSTAG, the implication has to be that the POSTAG is primary, which is clearly now wrong.

How about UPOSTAG and XPOSTAG or something like that?  (XPOSTAG is inspired by the fact that @honnibal chose to refer to the detailed tags as XPOS in #212.

[2015-11-08 22:04] fginter commented on #229
This has been bugging me ever since.  +1

[2015-11-08 22:08] dan-zeman commented on #229
Definitely yes. I have been actually referring to the first one as "UPOS" in most communication with strangers and was not even aware that we still use the CPOS(TAG) label in our documentation.

XPOS(TAG) sounds good, too. I would not necessarily include the "TAG" part but that's not a real problem.

[2015-11-09 04:09] manning commented on #229
Okay, I'm calling this a (small) quorum and have changed it. So I'll close this for now. I left it as UPOSTAG, XPOSTAG for now. I'm not against changing it to UPOS, but maybe UPOSTAG is clearer to a new user?

[2015-11-09 04:09] #229 closed, assigned to nobody

[2015-11-09 07:24] dan-zeman commented on #229
Thanks! You're right, `UPOSTAG` is more self-explaining. Besides, if I now say UPOS somewhere inofficially, it will be much easier to match it against existing documentation.

[2015-11-12 07:57] ftyers opened #230 "Possession in Hungarian and Finnish"
Hey all, there is a discrepancy in how Hungarian and Finnish treat the absence of nominal possession:

[code]

vs.

[code]

Is this an intended difference, or a result of automatic conversion ? What is the preferred way in of dealing with features like this which are not expressed in UD ?

[2015-11-12 08:10] vinczev commented on #230
Hi Fran,

The preferred way is not to include those features, that is, the Finnish
way. The Hungarian version was due to automatic conversion, which has
been corrected in v1.2 of the data.

Best,
Veronika

On 2015.11.12. 8:57, Francis Tyers wrote:

[2015-11-12 08:25] ftyers commented on #230
Excellent news, thanks!

[2015-11-12 08:25] #230 closed, assigned to nobody

[2015-11-14 07:06] dalton opened #231 "Treebank links are broken"
The links on https://universaldependencies.github.io/docs/index.html are broken and you cannot download treebanks,

Both links result in

[2015-11-14 08:17] dan-zeman commented on #231
Thanks for reporting. To me it seems as an error around the handle.net service (a provider of persistent IDs), which I am reporting further.

As a temporary measure, you can use the direct link to the repository (a link that is not declared as persistent, but currently works for me):

UD1.1 ... https://lindat.mff.cuni.cz/repository/xmlui/handle/11234/LRT-1478
UD1.0 ... https://lindat.mff.cuni.cz/r

[2015-11-14 08:32] dan-zeman commented on #231
It works for me now. Closing the issue. Hopefully it was just a temporary outage.

[2015-11-14 08:32] #231 closed, assigned to nobody

[2015-11-14 21:53] manning commented on #224
I have no great answer either.  To the extent that it is showing a singular/plural alternative, it doesn't seem to me that `reparandum` is right -- there is no repair where the previous _test_ is overridden. If I were to use a non-`dep` relation, I'd go with `goeswith` since the second half can be seen as part of the word of the first half. But maybe `dep` is just okay here?

[2015-11-14 21:53] manning commented on #224
I'm going to close this issue for now, since it seems like there's not something to fix here, and it's been up for a couple of weeks....

[2015-11-14 21:53] #224 closed, assigned to nobody

[2015-11-14 22:01] dan-zeman commented on #224
I would not use `goeswith`. It sort of works in English where you just glue _test_ and _s_. But in other languages you would have to first remove a suffix from the first part, then add the suffix corresponding to English _s_. Czech would be the case in some instances. I am not a speaker of Romanian but I suspect the above example of _testul_ is also the case—I would first remove _ul_, then add _el

[2015-11-14 22:58] spyysalo opened #232 "Auto-links broken in static HTML export"
Auto-links stop working when the documentation is exported as static HTML and opened from the filesystem.

This is likely related to failure to identify the root "URL".

[2015-11-14 23:16] manning commented on #223
Sorry - I'm even less able to keep up with things than @jnivre ....  I think we can work on this even for version 1.3, since it's more at the level of "clarification" than fundamentally changing the system!

TL;DR: I'll try to improve the documentation; the current English POS but not dependencies are buggy.

Linguistically, I think it is clear that sometimes relative clauses have at their left ed

[2015-11-15 00:07] manning commented on #212
Seems like basically all questions are answered, to the extent they will be ... so closing this.

[2015-11-15 00:07] #212 closed, assigned to nobody

[2015-11-15 09:53] jnivre commented on #223
I agree with @manning. For languages like Swedish and English, treating that/att as a relative pronoun is an extremely practical solution as long as we haven't worked out detailed guidelines for the enhanced representation, and it is not obviously wrong from a linguistic point of view either despite alternative proposals. At the same time, we still want to allow other languages to treat the words

[2015-11-15 12:08] dan-zeman commented on #232
Pardon my ignorance about how Jekyll works and what are “our” additions to the page-generation process.

I do not think that we can or shall identify the root position on any filesystem in an offline copy of the pages. I thought that we should aim for relative paths in hyperlinks. When linking from `/en/pos/index.html` to `/en/pos/ADJ.html`, the link would not be `<a href="/docs/en/pos/ADJ.html" c

[2015-11-15 13:38] dan-zeman opened #233 "Auto-validation clutters the history"
There are automatic validation runs every two hours, and their result is displayed in the Github pages (http://universaldependencies.github.io/docs/validation.html). This proved extremely useful especially in the period before the new release.

We may want to turn this feature off until about a month before the next release. Or we may even leave it running permanently. Either case however, I wonde

[2015-11-15 13:49] verginicabm commented on #224
Indeed, mere adding inflection (as in English test/s) is not enough, when morphology allows for alternations in the stem (floare/flori "flower/s").

Verginica Mititelu, PhD

Senior researcher III, NLP Group
Research Institute for Artificial Intelligence "Mihai Draganescu",
Romanian Academy

----- Original Message -----

From: "Dan Zeman" notifications@github.com
To: "UniversalDependencies/docs" do

[2015-11-15 15:51] fginter commented on #233
Agreed. This is nuisance. I'll turn this off now and will try to find a way to only run the validation when some data changes. I think the timestamp is quite useful so people know they were picked up by the system. I hope organization hooks could be used here so we don't have to set up a hook for every repo.

[2015-11-15 20:50] dan-zeman commented on #227
The main issue here has been addressed in UD release 1.2. Thanks for reporting it! It came in the last minute but people did examine their languages and removed overlapping text from dev or test where appropriate (de, es, fi, fr, it). Naturally occurring repetitions were retained.

What may not be solved are inconsistent annotations of duplicate sentences that were retained. I am going to close th

[2015-11-15 20:50] #227 closed, assigned to nobody

[2015-11-15 21:08] dan-zeman commented on #213
The feature `Subcat=Intr|Tran` has actually been used in UD 1.2 Dutch:

<code xml>
    &lt;feat name="Subcat" value="Intr" upos="AUX,VERB,X"&gt;6964&lt;/feat&gt;
    &lt;feat name="Subcat" value="Tran" upos="AUX,PUNCT,VERB,X"&gt;12217&lt;/feat&gt;
</code>

It is a conversion from the original tagset (apparently with at least one error, otherwise it could not co-occur with `PUNCT`). So I think the

[2015-11-15 21:08] #213 closed, assigned to nobody

[2015-11-15 21:13] dan-zeman commented on #204
I have removed the “standard needed” label because the standard has been set. However, I am not closing the issue yet because we should verify to what extent the standard is now met in UD 1.2.

[2015-11-15 21:19] dan-zeman commented on #164
Although the Uppsala meeting has not found a widely acceptable solution to ellipsis, the original issue of this thread has been clearly decided: multi-root trees are disallowed even if it means that top-level ellipsis must be annotated using promotion. AFAIK this rule is now followed in all treebanks of UD 1.2, so I'm closing the issue.

[2015-11-15 21:19] #164 closed

[2015-11-15 21:20] dan-zeman commented on #160
It apparently works now; closing.

[2015-11-15 21:20] #160 closed

[2015-11-15 21:39] #183 closed

[2015-11-15 21:44] dan-zeman commented on #189
The Uppsala meeting / coordination discussion group decided that the current rule should not be changed and the first conjunct should always be the head of coordination. See here for details:

http://universaldependencies.github.io/docs/2015-08-23-uppsala/coordination.html

[2015-11-15 21:44] #189 closed

[2015-11-15 21:58] dan-zeman commented on #198
Since Uppsala has confirmed that the `conj` relation must go left-to-right, head-final is not an option here (but there is no such restriction for `compound`).

Also I find it strange to analyze compound numerals as coordination, unless there is an overt conjunction as in English. I have tried to analyze all such examples just with the `compound` relation. (But I do not have many examples. Vast ma

[2015-11-15 23:12] spyysalo commented on #232
The generation of links from the `[tag]()` syntax is ours -- this is the auto-linking feature that aims to simplify the link syntax in the documentation and abstract over the directory structure. The latter was required to make links work e.g. in the single-page pos/feats/deps documents, which are located at the root: a static relative link could work either on the single-page document or the tag/

[2015-11-16 07:37] dan-zeman opened #234 "Underscore-glued multi-word expressions"
Some treebanks in UD 1.2 (especially those ported from HamleDT) still contain nodes that correspond to multiple surface tokens. This is a legacy of the MWE treatment in the original treebanks from which the data was converted. These nodes should be split so that every node corresponds to just one surface token. All nodes generated from one node with underscore should form a subtree where the first

[2015-11-16 09:43] dan-zeman opened #235 "Syntactic words in Tamil"
UD 1.2 Tamil contains tokens split to syntactic words but it is not encoded in the way prescribed by the CoNLL-U format. At present the only way of reconstructing the original sentence is using the `full_sent` comment; unfortunately, there is no direct mapping between individual surface tokens and individual tree nodes. It is not trivial to reconstruct the mapping (the original splitting tool is n

[2015-11-17 15:29] coltekin opened #236 "Head direction (again)"
This is to stir up the earlier discussion about the universal left-to-right marking of `conj` (also a few others including `name`).  I have read the report at http://universaldependencies.github.io/docs/2015-08-23-uppsala/coordination.html, but did not find the arguments convincing.  In general, report argues why left-to-right marking is _not **so much** of a problem_, but I do not see any argumen

[2015-11-17 17:08] dan-zeman commented on #236
Just referring to the original issue, now closed: #189

[2015-11-18 07:31] dan-zeman commented on #236
I will try to show some benefits of the current approach to coordination. I was not part of the Uppsala discussion group on coordination and I am not a strong supporter of the current approach. But it is indeed good to think about why we actually want to use this approach.

Coordination is not a normal dependency relation. Ideally we would want a model where the whole coordination (i.e. all conjun

[2015-11-18 16:37] coltekin commented on #236
I am aware, and I agree, that most annotation choices in coordination is arbitrary. However, I also hope that my post above shows that there is some usability/linguistic reasons for having a language-specific head direction for the relations that are "technical solutions" rather than linguistically motivated ones.

Besides the reason I mentioned above (immediately accessible features on the head),

[2015-11-19 15:27] coltekin commented on #198
Some more data on this: In Turkish, it is very common to use numbers as noted earlier.

[code]

An overt conjunction is never used, but "understood". If there is a _ve_ "and" in between two numbers, these must be two different numbers. In spoken language, intonation would also indicate (I think) which parts are to be understood as conjunction (addition) and which parts should be compound (multipli

[2015-11-19 19:23] dan-zeman commented on #198
FWIW, such “or/to” covert coordination of numerals exists in Czech, too. Here I would not object to `conj`, although we don't use it in UD Czech 1.2. The original treebank was not able to represent coordination if there was neither coordinating conjunction nor punctuation, which is this case. Therefore both numerals are attached to the same counted noun as `nummod`.

http://hdl.handle.net/11346/PM

[2015-11-21 04:36] manning commented on #159
FWIW, for English v1.2, we have improved the treatment of DET vs. PRON, so that for words like "this" or "those" they do now become "DET" vs. "PRON" depending on whether they are modifiers or stand alone.

The one case where we don't follow the UD guidelines, - and I think that the guidelines should be changed - is for "possessive pronouns" or what the page for DET calls "possessive determiners" -

[2015-11-21 09:39] dan-zeman commented on #159
Well, then the possessive pronouns/determiners are clearly a language-specific phenomenon in which English differs from Czech. Because if determiner is supposed to be similar to adjective, then the possessives in Czech are the only group of traditional pronouns where I am confident they should be included in determiners. Even if the modified noun is elided. And parallel annotation to _'s_ in Engli

[2015-11-24 12:06] kajad opened #237 "Adverbial connectives"
I am not sure whether this topic has already been discussed, but I have observed some issues in cross-lingual consistency for adverbial discourse connectives, in particularly those that can appear in different positions without much change in their (discursive) meaning.

For example, in the English Treebank, adverbial connectives (conjuncts), such as _thus, therefore, however etc._ are consistentl

[2015-11-24 13:53] dan-zeman commented on #237
I was surprised to learn that our morphological analyzer tags _tedy_ as adverb. For me, it is a coordinating conjunction (or a particle, but that would be a different context). I find it difficult to apply usual adverbial tests to it. After some research I admit that it is at least a border case. An old but large and influential dictionary classifies it as adverb.

Nevertheless, the degree of gram

[2015-11-28 12:47] dan-zeman commented on #236
For the record, if the dependency direction in the technical phrases is ever allowed to be specified differently for each language, the `mwe` relation in Czech could be made head-final. The argumentation would be similar to that of coordination in Turkish. The `mwe` relation is currently used in Czech exclusively for multi-word prepositions. The last token is almost always a simple preposition and

[2015-11-29 12:32] dan-zeman opened #238 "Reduplicative plural in Indonesian"
Indonesian forms plural of nouns by repeating the noun twice. Example: _oleh negara-negara nordic_ “by nordic countries”; _negara_ = “country”. This is called reduplication and it is not limited to Indonesian.

It could be analyzed at the level of morphological features (`Number=Plur`) but tokenization would have to keep _negara-negara_ as one token; this is not what we have in our Indonesian tree

[2015-11-29 12:43] ftyers commented on #238
How about using `goeswith` and mark the first (or last) noun as plural.

[code]

The docs say "This relation links two parts of a word that are separated in text that is not well edited. ", you could consider this just suboptimal tokenisation.

[2015-11-29 22:29] coltekin commented on #236
I would add the `name` (and possibly `foreign` and `list`) relation to the list as well. All are affected by the same issue to some extent. But, in general, if we opt for a "language specific default head direction" for these technical phrases, then it may be better to stick to it for all of them.

A related note: [`goeswith`](http://universaldependencies.github.io/docs/u/dep/goeswith.html), which

[2015-12-04 11:06] passarom opened #239 "New text for the Introduction page of the Latin-ITT treebank (and slightly changing the name of the treebank)"
The current Introduction page for the the Latin-ITT treebank is wrong. The Latin-ITT is not based on the Latin Dependency Treebank, but on the Index Thomisticus Treebank.
Please, change the contents of the Introduction page, by replacing the current text with the one reported below. Please, link the words "Index Thomisticus Treebanks" to the following URL: http://itreebank.marginalia.it.
Furthermo

[2015-12-06 09:04] daghaug opened #240 "Textual references"
One of the users of our biblical data (Greek, Latin, Gothic, Old Church Slavonic) has asked whether we could add textual references to the CoNLL-U files. This makes particular sense for our data because it is parallel across four languages, and because there are unannotated translations available in lots of languages. We do make the textual references available in other exports of our data, but th

[2015-12-07 08:48] fginter commented on #240
I think we have been informally keeping the MISC field in the format attr=value|attr=value so that is probably fine. If the divisions cut across sentences only rarely, you could also consider the sentence metadata:

[code]

this would be quite readable and wouldn't populate the MISC field with same values most of the time.

[2015-12-07 16:00] dan-zeman commented on #240
I would avoid spaces in any token-related values, regardless the quotation marks. (And the space would actually violate our guidelines, see http://universaldependencies.github.io/docs/format.html.) So I vote for something like this in the MISC field:

<pre>ref=LUKE_7.17</pre>

A related point: I have been thinking that some corpora (Ancient Greek and Latin in particular) should have the `sent_id`

[2015-12-07 16:19] gcelano commented on #240
If in a considerable number of treebanks sentence identifiers are desirable, the idea to introduce a specific column for this information is well worth considering.

[2015-12-07 16:22] dan-zeman commented on #240
Unlike Dag's references, a sentence ID is not different for different tokens, so it does not go to columns.

[2015-12-07 16:31] gcelano commented on #240
I meant word identifiers, of course. These are particularly relevant for poetry, for example.

[2015-12-07 17:22] gcelano commented on #239
Hi Marco,

The introductory page is common to all Latin treebanks. I have provisionally modified it, so it comprises a brief description for each of them, including the one for the ITT(B). As for the name of the repository, I am not sure whether changing it without concomitant changes can raise errors anywhere else.

@fginter, @dan-zeman, or anyone else who knows, any suggestions?

[2015-12-07 17:48] fginter commented on #239
Changing the name is a relatively major operation because all links from external resources like the query system etc will need to be changed as well.  I hope this could wait till the next release now that the docs page is fixed and makes it clear what is what.

[2015-12-07 18:32] passarom commented on #239
Sure, we can wait the next release before changing the name of the Index Thomisticus Treebank from Latin-ITT to Latin-ITTB.
Many thanks, Giuseppe, for changing the Introduction. It looks perfect. Following what said above and to be consistent with the name of the treebank in the current release, may you please rename the name of the IT Treebank in the Introduction from Latin-ITTB to Latin-ITT?
Tha

[2015-12-07 20:59] dan-zeman commented on #239
I just changed the introduction to mention Latin-ITT, and added hyperlinks to the websites of ITTB and PROIEL. Sent invitation to @passarom so you get write access to the documentation. As for renaming the repo, I agree with @fginter (anyway, people are not supposed to take the data directly from the repo. And the official release 1.2 contains ITT. Sorry, Marco, I should have asked you whether the

[2015-12-07 20:59] #239 closed, assigned to nobody

[2015-12-09 11:48] daghaug commented on #240
OK, so we will go for Dan's solution, and perhaps add sent_id comments as well. They are certainly useful.

[2015-12-09 11:48] #240 closed, assigned to nobody

[2015-12-30 20:13] manning commented on #238
Still lots of details to work out in UD!

I would like to suggest using `compound`.  Probably as a language specific `compound:plur`, as @dan-zeman suggests.  I can see the argument for `goeswith`, but I originally thought of that more clearly as mistakes of writing, which isn't really the case here. That is, if we take the 5 relations in the "Compounding and unanalyzed" bucket, `name` and `foreig

[2016-01-17 19:41] flammie opened #241 "Finnish AdpType missing from docs and AdpType + *[psor] complement"
I just noticed that there's an AdpType in Finnish that's not part of the documentation which is now linked on https://universaldependencies.github.io/docs/fi/pos/ADP.html statistics (thanks for the statistics by the way, very useful for me when debuging omorfi's UD outputs). Is this feature under construction and subject to change or has the existing features been verified? I left the decision ope

[2016-01-18 11:54] spyysalo commented on #241
@flammie: thanks for noting this! @fginter: can you (Turku) follow up on this?

[2016-01-19 18:36] martinpopel opened #242 "Validity of CoNLL-U"
We would like to use CoNLL-U as a data interchange format and define two levels of "validity". The first level (analogy to XML well-fomedness) means that any CoNLLU-conforming tool can read the file. The second level (analogy to DTD validation) means that the file strictly conforms to UD definition for a given language/treebank (including sets of language-specific deprel, feats and misc values).
-

[2016-01-19 19:52] foxik commented on #242
The similar issue happens in multiple columns:
- for LEMMA, it makes sense to have `_` as "not assigned" (it is currently used in UD-1.2 fr, for example), but one would have to deal with `_` form which would have `_` as lemam. Note that currently the semantics allow `_` in LEMMA position (as in UD-1.2 fr), but it means "lemma is underscore", instead of "no lemma is assigned"
- for HEAD, it makes s

[2016-01-19 20:12] fginter commented on #242
ID, UPOS, HEAD, DEPREL are not allowed to be empty ie _. At least not in UD treebanks. If form is _ the lemma will be same. Yes. But this is probably not a problem because it's quite simple to deduce from the form or other lemmas what the underscore means.

validate.py in tools checks for both forms of validity you mention. It checks the data is structurally ok and it also checks the tagsets are c

[2016-01-20 12:41] foxik commented on #242
I understand that UPOS, HEAD and DEPREL are not allowed to be empty.

What I propose is to _allow_ them to be "unassigned" or "empty" -- specifically, mention it in the docs at http://universaldependencies.github.io/docs/format.html. Even if UD treebanks themself will not benefit from such possibility, I believe there are important use cases:

We are working on a pipeline which will allow standard

[2016-01-20 13:14] fginter commented on #242
Myself I'm totally fine with that. Sure. We could add a `--relaxed` switch to the validator or something such which would allow these to be empty. Then when validating specifically UD data, we would not use it and force `--lang`. I would prefer the default to be strict as we've had some prior mini-disasters with the validator being too permissive by default and broken data sneaking in.

[2016-01-20 13:23] foxik commented on #242
I agree with the strict default -- I believe the validator is used mainly for UD treebanks, where it is important to check all fields.

I only want the possibility to use the CoNLL-U with empty fields outside of UD treebanks, so using `--relaxed` or something is fine. What I really need is only mentioning the possibility in the description of the format -- we could leave `validate.py` to be UD tre

[2016-01-20 13:33] martinpopel commented on #242
Yes, `--relaxed` sounds reasonable, this is the first level (well-formedness) I mentioned. So maybe also the [CoNLL-U specification](https://universaldependencies.github.io/docs/format.html) should distinguish the two levels: valid (generic) CoNLL-U format file vs. valid UD1.2 treebank content (saved in CoNLL-U file).

Side note: for some use cases (delexicalized parsing, treebank "patches" where

[2016-01-20 13:37] fginter commented on #242
So I guess if you add something to the effect of "Underscore `_` is used to denote unspecified values in all fields except `ID`, however in UD treebanks the `UPOS`, `HEAD`, `DEPREL` columns are not allowed to be left unspecified" - would that work?

[2016-01-20 13:40] fginter commented on #242
@martinpopel UD_Japanese is an example. No forms due to licensing issues: [try here](http://bionlp-www.utu.fi/dep_search/?db=Japanese-KTC&search=_+%3Cnsubj+_)

[2016-01-20 14:00] foxik commented on #242
Yes, that is nearly what I have in mind. The only issue is the FORM and LEMMA field, where `_` is an unavoidable value which we need to represent. Do you have any idea how to handle this? We could:
- leave the semantics unspecified and sat that Undersocre denotes unspecified values in all fields except ID, FORM and LEMMA (probably a way to go)
- we could devise some other representation of empty v

[2016-01-20 19:48] fginter commented on #242
Yes. I would let the form/lemma underscore thing be as is. Devising some special coding for these would I think cause more trouble than good.

CRLF. I think using only single newline option has lots of advantages. Things like SVN can bite if you happen to change the newline character because they see it as a full line change. So I personally  would leave it as is. But since I'm only in charge of v

[2016-01-21 01:07] martinpopel commented on #242
I agree the semantics of underscore as form/lemma can be left unspecified to keep it simple. This means that during serialization to CoNLL-U, an empty string or `None` value (in Python) will be encoded as the underscore, but during deserialization it will be decoded as "_" string (with one character). To decode it as `None`, users will have to provide a special parameter depending on the particula

[2016-01-21 04:40] fginter commented on #242
Oh. Sorry. When I said leave as is I meant LF only. The docs should say that of course.

[2016-01-21 19:00] foxik commented on #242
Great. So what about modifying the docs in the following way:
- changing
  _Annotations are encoded in plain text files (UTF-8) with three types of lines:_
  to
  _Annotations are encoded in plain text files (UTF-8 using only the LF character as line break) with three types of lines:_
- after the two items
  _Fields must not be empty._
  _Fields must not contain space characters._
  adding
  _Unde

[2016-01-21 19:23] dan-zeman commented on #242
+1 on @foxik 's proposal.

Maybe add explicitly what we just discussed about FORM and LEMMA?
_An underscore in the FORM and LEMMA fields may mean either an unspecified value or a `_` literal; users must define their own means of distinguishing the two cases if they need it._

[2016-01-21 19:25] foxik commented on #242
@dan-zeman I was also considering to mention the underscore in FORM and LEMMA, so +1 here :-)

[2016-01-21 19:29] fginter commented on #242
Ok

[2016-01-21 20:05] martinpopel commented on #242
ok

[2016-01-21 20:23] foxik commented on #242
BTW, I was thinking some more about the line endings. Note that disallowing CR+LF line breaks will make it more difficult to generate valid CoNLL-U on Windows, as files opened in text mode use CR+LF automatically. So to create valid CoNLL-U, you will have to open files in binary mode and then manually convert the data to UTF-8 (because binary files do not allow automatic Unicode converters).

This

[2016-01-21 20:31] dan-zeman commented on #242
A matter of taste, I would say. Unlike other Windows-specific issues, this one can be handled. I'm a Windows user and I use two text editors (Notepad2 and WinEdt), both UTF-8 capable and both permanently set to write LF only.

I have met someone who was creating a CoNLL-U file in Excel, though. But the Excel output required postprocessing anyway.

[2016-01-21 20:33] fginter commented on #242
I'd stick to LF-only. :)

[2016-01-21 20:40] martinpopel commented on #242
What about this: "_All tools should accept both LF and CR+LF newlines on input, but produce only LF newlines on the output._"? This should be robust.

[2016-01-21 20:47] dan-zeman commented on #242
I like it.

[2016-01-21 21:30] fginter commented on #242
ok

[2016-01-22 08:24] foxik commented on #242
Personally I am still not convinced. If we are specifying that applications should accept CR+LF, I see no harm in allowing both LF and CR+LF.

My reasons for allowing CR+LF:
- if we want Windows binaries to produce only LF, there will have to be some Windows-specific exceptions in the source. Note that when a text file is opened on Windows, any LF written to the file is _automatically_ converted t

[2016-01-22 08:59] martinpopel commented on #242
OK, @foxik convinced me (but I had no real preference to start with, I just wanted the specification to be consistent with the validator). I agree that if _all_ tools accept both CR+LF and LF on input, there is no point in preferring LF on output. (My motivation was that there are already some tools which handle only LF newlines, that is they leave the CR as part of MISC, but this is easy to fix.

[2016-01-22 10:08] fginter commented on #242
Well. Originally CoNLL-U has been standardized with LF newlines. We discussed it back then, this was the result for a number of reasons, especially to avoid problems in line-for-line comparison use cases. I do not personally see a particularly compelling need to change this. I would still like to stick with LF, as was the original specs. But I am repeating myself. :)

[2016-01-22 10:11] spyysalo commented on #242
My vote is for sticking to LF only.
- The validator is the practical definition of the format (as was decided early), so the issue is really just that the documentation has been incomplete.
- No issues have risen so far from this constraint, and all existing UD data follows it.
- Loosening the format now will break existing UD-supporting software in unpredictable ways.

[2016-01-22 10:17] fginter commented on #242
Thanks for the vote @spyysalo. So @dan-zeman @spyysalo and me all expressed the "let's stay with LF as was the original definition of the format". I think we could close this now.

[2016-01-22 10:19] spyysalo commented on #242
With all due respect to the carefully considered points presented here, the newline issue is looking a lot like bikeshedding to me (https://en.wikipedia.org/wiki/Law_of_triviality). Agree to close, please open new issues for any separate subissues of the original that may remain unresolved.

[2016-01-22 10:19] #242 closed, assigned to nobody

[2016-01-22 10:22] foxik commented on #242
There seem to be clear consensus that the LF-only line endings are already standardized (which I did not know about, I could not find it on http://universaldependencies.github.io/docs/format.html -- is there any other CoNLL-U format description?) and that the issue was discussed in the past.

In that case, allowing CR+LF is much bigger change (because some tools were already developed assuming LF

[2016-01-22 10:33] fginter commented on #242
`_` is used to denote unspecified values in LEMMA in most of the UD treebanks, and for Japanese also in the FORM. So if you want to be super-precise, I guess "Underscore _ is used to denote unspecified values in all fields except ID. Note that no format-level distinction is made for the rare cases where the FORM or LEMMA is the literal string `_` - processing in such cases is application-dependent

[2016-01-22 10:55] martinpopel opened #244 "CoNLL-U validator more strict than the spec"
As a result of #242, the [validate.py](https://github.com/UniversalDependencies/tools/blob/master/validate.py) should accept underscores as UPOSTAG, HEAD, and DEPREL if no `--lang` is specified (or if `--lang=ud`).

A related problem: `validate.py -h` says that _It's also possible to use 'ud' for checking compliance with purely ud._ But when I try it, I get errors even for fully valid input:

[cod

[2016-01-22 11:01] fginter commented on #244
OK. Thx. I'll look into this.

[2016-01-22 14:50] jmnybl commented on #241
AdpType is our attempt to map the Omorfi's Pr and Po subcategory tags. This feature exists also in other languages so I guess it's plausible to have it also in Finnish. We should add the Finnish documentation, thanks for noting @flammie!

I could not find any internal discussion of the topic, so there probably there was not deep discussion on this during our conversion. The problem in Finnish is a

[2016-01-26 21:32] spyysalo commented on #215
I think it would be appropriate for @jnivre to own this, but I can grab it if it helps.

[2016-01-27 08:27] jnivre commented on #215
I would be very proud to own this. Maybe without the hyphen?

[2016-01-27 08:35] dan-zeman commented on #215
I have no opinion whether it is better with or without the hyphen. (It would be good to own both but I have no idea what are the costs, maybe it is not worth it.)

[2016-01-27 10:54] jnivre opened #245 "Drop restriction on (non-)finiteness for xcomp"
The universal documentation of the comp relation still says that these complements are always non-finite. If we agree that the defining characteristic is obligatory control, then this is too restrictive. Persian, for example, has cases of finite complements with obligatory control.

[2016-01-27 14:02] spyysalo commented on #215
Without the hyphen is my preference too. If nobody objects, perhaps this is enough to move ahead on? It would be nice to have this cleaner URL in the LREC camera-ready.

@jnivre : I'd be very happy to help with the technical side, please email me if I can be of any use in making this happen.

[2016-01-27 15:04] jnivre commented on #215
@spyysalo I would appreciate any help I can get. I know very little about these things, but I am happy to pay. :)

[2016-01-27 21:20] spyysalo commented on #215
Check out http://universaldependencies.org/ :-)

@fginter : now we just need to get the content there. The repo is https://github.com/UniversalDependencies/universaldependencies.github.io/ (the name is mandated by GitHub pages), and this should hopefully work just by reconfiguring the jekyll-hook.

[2016-01-27 21:22] jnivre commented on #215
Does this mean I actually managed the DNS setup correctly? I am truly amazed. :)

[2016-01-28 12:46] fginter commented on #215
I updated the docs generation scripts and http://universaldependencies.org/ is now live and updated. By some mysterious mechanism, all universaldependencies.github.io traffic gets redirected onto the new domain, so that's a bonus. But all new links please point to http://universaldependencies.org/. I bulk-edited all hard-coded links in the docs to the new place as well. Thanks @spyysalo and @jnivr

[2016-01-28 12:49] spyysalo commented on #215
Thanks Filip! I'm very happy to close this one, please open new issues if any are caused by the move.

[2016-01-28 12:49] #215 closed, assigned to nobody

[2016-01-28 13:41] jnivre commented on #245
On second thought, I think we should address this properly in v2 of the guidelines, so I am closing this.

[2016-01-28 15:00] dan-zeman commented on #245
Don't we want to collect issues here that will affect the v2 guidelines? We could create a milestone and tag the issues properly.

[2016-01-28 16:36] jnivre commented on #245
Sounds like a good idea. But we should probably go through many of the old issues and tag them appropriately too.

[2016-01-28 16:55] dan-zeman commented on #245
Reopening and assigning to the milestone "universal v2".

[2016-01-30 15:54] dan-zeman opened #246 "Refreshing web contents of http://universaldependencies.org/docs/"
Following https://github.com/UniversalDependencies/docs/issues/215

I edited (& committed & pushed) https://github.com/UniversalDependencies/docs. The change caused automatic regeneration of https://github.com/UniversalDependencies/universaldependencies.github.io, so far so good. But after 20 minutes I still do not see the change at http://universaldependencies.org/docs/ on reload.

I hope it's no

[2016-01-30 17:19] spyysalo commented on #246
Is http://universaldependencies.org/ updated? I think `/docs` is no longer attached to the update system, and should probably be replace with a redirect.

[2016-01-30 20:47] dan-zeman commented on #246
Aha, http://universaldependencies.org/ is updated. But http://universaldependencies.github.io/docs/ redirects to http://universaldependencies.org/docs/. We need to fix this redirect because http://universaldependencies.github.io/docs/ has long been _the_ homepage of UD and it is likely referenced from many places by now.

[2016-02-01 08:30] fginter commented on #246
Hi. I'd love to fix this redirect but I have no idea how this redirect happens, it's a part of GitHub magic. What do you guys think we should do? One option would be to kill the gh-pages branch of docs. This would probably result in a 404 on the old address. Other option would be to keep the .io pages updates as well in parallel with the .org ones.

[2016-02-01 09:04] fginter commented on #246
I think I now understand why we get a redirect to universaldependencies.org/docs. The reason is that universaldependencies.org stands for the whole organisation and the docs repo has a gh-pages branch. This is great, because we will be able to get universaldependencies.org/tools to work, etc. I now added a redirect for index, so now navigating to universaldependencies.org/docs gets you to the righ

[2016-02-05 12:23] ftyers opened #248 "Structures with "dative subject" and "adverb" in Russian"
Hello all, I'm looking at Russian and am curious how UD suggests to deal with structures such as:

[code]

Would something like the following be ok:

[code]

I imagine a similar structure exists in Czech and other Slavic languages, but I cannot find it described.

[2016-02-05 12:42] dan-zeman commented on #248
For Czech it's not described because we did not change the original Prague annotation (except for translating the labels). Check this query:

http://hdl.handle.net/11346/PMLTQ-N0OS

I am not particularly fond of the prospect of having non-nominative subjects, but it actually happens more than by chance, see here:

http://hdl.handle.net/11346/PMLTQ-WAKH

So we've got inconsistency here, thanks for

[2016-02-05 13:00] dan-zeman commented on #248
BTW the original annotation does not mark the adverb as a "nominal predicate" (because it's an adverb), hence our conversion procedure does not treat the verb _to be_ as copula. If dative subjects are allowed then @ftyers 's proposal makes sense to me, but it will be difficult to correct the Czech cases that violate it. Sometimes there may be two adverbs attached to _to be_, such as in:

_Je tomu.

[2016-02-05 13:16] ftyers opened #249 "Multiword prepositions in Russian"
In some Russian treebanks, multiword prepositions like "в течение" (during) are tokenised as a single unit:

[code]

In different treebanks we find different ways of dealing with this kind of thing:

1) In English, "in front of":

[code]

2) In Czech, "v průběhu":

[code]

Are there any cross-lingual guidelines for which structure to prefer ? In principle these are the same, with a preposition, fo

[2016-02-05 13:50] dan-zeman commented on #249
UD guidelines are quite clear in that we do not collapse MWEs into single nodes (although some datasets still do that), so the original Russian annotation of _в течение_ as one node is not possible. Then I believe that `mwe` is the most straightforward solution (actually just a different means of saying that it is one unit).

I think both 1) and 2) are possible, and the difference is whether we be

[2016-02-05 17:24] #223 closed, assigned to nobody

[2016-02-05 17:28] manning commented on #245
In your initial comment, I presume you mean xcomp where you write comp @jnivre.

I agree. And I even think we could just change the definition right now. In my head I've distinguished between clarifications, improvements and extensions appropriate for other languages of this sort as okay to do in v1 versus more major changes, which include changing the dependency or UPOS set for sure.

[2016-02-05 18:40] jnivre commented on #245
Yes, it should be comp. Shall I just change the definition and close the issue then?

[2016-02-05 20:21] dan-zeman commented on #245
+1 :-)

[2016-02-09 12:40] jnivre commented on #248
I can't follow the discussion about the Russian/Czech examples, but as a general principle there is nothing wrong with dative subjects. Our notion of core arguments makes no assumptions about case marking, so nsubj is a priori compatible with any (morphological) case marking. Turkish, for example, consistently has the subject in the genitive in complement clauses.

[2016-02-09 17:52] dan-zeman commented on #248
It is clear that such a rule could not be universal. It would not be a simple rule either: even Czech grammar admits, in certain contexts, subject in the genitive (although nominative is the default). Anyway, this is an interesting issue that we should try to standardize in the Slavic languages. I think the dative can also be analyzed as an object. But I would like to hear more opinions on that.

[2016-02-09 20:10] sjut commented on #248
Hello! I am dealing with annotation of syntax relations in Russian. I have some comments on Russian.
1. There are certain theoretical approaches where Datives are subjects in the constructions with predicatives and with "reflexive" verbs such as "xotet'sya" 'to want' in "mne hochet-sya" - 'I.Dat want-refl' - 'I would like'. There is an evidence that these Datives have some formal Subject propertie

[2016-02-09 21:16] ftyers commented on #248
I agree with @jnivre that nominative/non-nominative should not be the only criterion for subjecthood. There are plenty of languages where formal subjects are not in nominative case.

@dan-zeman: I believe Serbo-Croatian works similarly "hladno mi je." --- so yes, a pan-Slavic standard would be a good idea.

@sjut: Could you give an example for when you have хотеться in verbal adverb form ?

In (2)

[2016-02-09 22:05] sjut commented on #248
Maybe, the "хлеб" example is not a good one for iilustrating the construction of gentitve of negation. There are constrcutions as: "Волков (Gen) не водится в этом лесу" "There is no wolves (Gen) in this forest" (see B. Partee etc.). There is no possibility to add Dative or Dummy subject. We just have a Genitive countepart in Negative predication to the Nominative case in positive one.

As for dati

[2016-02-09 22:21] simonkrek commented on #248
In the canonical Slovenian grammar, similar cases with dative are called "logical subjects", however, in our treebank they are treated as objects. E.g. se ji.DAT je sanjalo ('(it) dreamt to her', see line 14).

13  se  se  PRON    17  expl    _   Dep=17|Rel=PPart
14  ji  on  PRON    17  iobj    _   Dep=17|Rel=Obj
15  je  biti    AUX     17  aux _   Dep=17|Rel=PPart
17  sanjalo sanjati VERB    0

[2016-02-09 22:23] osenova commented on #248
In the Bulgarian tradition the subject is nominative as a rule.
In dative structures the datives are considered indirect objects.
We have in Bulgarian the example, given by Francis for Serbo-Croatian: "hladno mi je."/ хладно ми е.
We consider such constructions impersonal with dative indirect objects.

From: Dan Zeman
Sent: Tuesday, February 09, 2016 7:52 PM
To: UniversalDependencies/docs
Subject:

[2016-02-09 22:51] jnivre commented on #248
Just to clarify: I am not advocating a view of subject that is based on semantic roles. Subject is a grammatical notion that has to be identified using grammatical criteria, such as subject-verb agreement. And for some languages, this notion may coincide perfectly with a particular grammatical case, but there are clearly also languages where this is not the case.

Note also that the non-criterial

[2016-02-09 22:55] mojgan-seraji commented on #248
Dative subjects have been marked as nsubj:nc (nominal subject: non-canonical) in the Persian_UD.

In Persian, non-canonical subjects appear in dative-subject constructions. In such case, the verb, which normally inflects for number and person with the subject, always stays in third person singular instead and never agrees with the dative subject. Dative subjects often appear as pronominal clitics

[2016-02-09 23:03] mojgan-seraji commented on #248
Just one clarification: the pronominal clitics have been separated in the Persian UD.

[2016-02-09 23:25] jnivre commented on #248
It looks to me like we have inconsistent analyses here. Without knowing all the facts, it looks to me like the Bulgarian and Persian cases are rather similar, with an impersonal construction and an oblique argument that has some semantic resemblance to a subject. Yet, in one case the argument is analysed as "iobj" and in the other as "nsubj". Moreover, I think it could be argued that they should n

[2016-02-10 13:47] fginter opened #250 "Master + Dev branches, source of data for the main page table"
One of our problems is that some users tend to grab data directly from GitHub, often unaware of the fact that the data may have been updated since the last official release and might even be broken. This has far-reaching consequences for result comparability etc. I would suggest that the `master` branch of every language repository holds the last officially released version of the data and a `dev`

[2016-02-10 13:49] ftyers commented on #248
@sjut

At least for нравиться I would be wary of calling мне a subject here, as there is subject agreement with what is liked "мне нравятся эти люди" (I like these people) / "мне нравится это" (I like this) / "ты мне нравишься" (?, I like you) ... much like with "gustar" in Spanish. With хочется it is not the same, as an impersonal you cannot conjugate it for other persons/numbers.

[2016-02-10 17:21] sjut commented on #248
As for "нравиться, here we have the same situation as for predicatives. We have two (three) different constructions: Мне хочется спать N.Dat Verb+Refl Inf and N.Dat Verb+Refl N.Nom.

As for Subjecthood.
There are syntactic criteria for Subjecthood: structural priority. NP in Subject position should c-command agreement (not only verb agreement, it might be floating quantifier agreement, adjectival

[2016-02-10 22:27] dan-zeman commented on #250
Sounds reasonable. But you would have to watch ourselves because now _we_ cannot use the default commands :-) if someone accidentially modifies the `master` branch, someone has to notice it and revert the change (or better: to move the commit under the `dev` branch. Also, we would need a rule, who and when exactly merges the `dev` branch into the `master` branch. (It could be the last step of the

[2016-02-11 06:32] dan-zeman opened #251 "Clarify documentation of formal vs. logical subjects in existential phrases"
https://github.com/UniversalDependencies/UD_English/issues/9#issuecomment-182407227 revealed a gap in our guidelines. I am tentatively targeting this issue for the UD v2 milestone. It may require changing the UD English data, thus it may be viewed as change of the guidelines rather than just making them clearer.

[2016-02-11 06:46] fginter commented on #250
Yes. I am hoping it is easier to watch ourselves than to watch anonymous users. Agreed on having `dev` as the official dev branch and source for validation. Makes automation easier. I think there may be a way to lock the master branch between the official releases to avoid mishaps. Will investigate.

[2016-02-12 14:56] MemduhG opened #252 "Progressive Aspect in Turkish"
The Turkish verbal suffixes _-mAktA_ and _-(I)yor_ are both marked as progressives in the METU-Sabancı Treebank. We use the same convention in our own treebanks at ITU and mark _-(I)yor_ and _-mAktA_  as `Prog1` and `Prog2` respectively. I believe Prof. Çağrı’s TRmorph uses the labels `cont` for  _-(I)yor_ and `impf` for _-mAktA_ .

_Eve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;g

[2016-02-13 01:49] coltekin commented on #252
I think both of these suffixes primarily indicate `Aspect=Prog`.  However, both may sometimes indicate a _habitual_ aspect which currently does not have a label in UD. I mark ([here](https://github.com/coltekin/gk-treebank)) clear cases of  _habitual_ aspect  as `Aspect=Hab`, but not these two suffixes.

The labels produced by TRmorph are just labels that correspond to suffixes. And, although Turk

[2016-02-15 18:35] MemduhG commented on #252
Distinguishing between the two `Aspect=Prog` suffixes using a `Register` feature seems like a good idea to me.

This might be better discussed in a separate issue, but is there no case in which _-DIr_ can be a copula? Beyond the possiblity of any such case I would also support the `Mood=Gen` for generalizing modality.

With regards to _-mişti_ I am assuming, then, that we will not segment the past

[2016-02-15 21:37] dan-zeman commented on #248
@sjut : Adverbs vs. predicatives: The corresponding Czech words _možno_ (possible), _třeba_ (needed) are tagged `ADJ`. However, _chladno_ (cold) is tagged `ADV`, although it could also be a form of the adjective _chladný._ There are no instances of _Mně bylo chladno._ in the treebank, although the sentence is perfectly grammatical. There is an “existential” example without the dative pronoun: _Več

[2016-02-15 21:41] dan-zeman commented on #248
I also had a short look at the treebanks of the remaining two Slavic languages we already have.

Croatian (@zeljkoagic): I found only three instances of `nsubj + Case=Dat`. Two seem to be clear annotation errors. The third one is less clear: _velikom broju ljudi postaje neugodno_ “a lot of people find it uncomfortable” (lot of people is in dative but it is labeled `nsubj`). In contrast, I found an

[2016-02-15 22:18] dan-zeman commented on #248
I think this thread is ripe to summarize. In the beginning, @ftyers asked how UD analyzes structures like _Мне было холодно._ lit. “to-me it-was cold.” The answer for most Slavic languages currently present in UD (except Old Church Slavonic) is that we do not label dative nominals as subjects because 1. the canonical grammar does not support it, and 2. arguments for doing so would be rather semant

[2016-02-15 22:38] daghaug commented on #248
Sorry to reopen the question just after it was closed, but since the
issue of OCS was brought up, I thought I'd just say that there are a
couple of frequent non-finite structures (infinitives, absolute
participles) that require a dative subject in this language. This has
nothing to do with particular verbs selecting for dative subjects, it's
a constructional effect. I don't think there is any conv

[2016-02-16 09:54] jnivre opened #253 "Titles and names in Germanic languages"
For phrases of the type "King George", we find four different analyses in the Germanic treebanks:

Danish:
appos(King, George)

English:
name(King, George)

Norwegian:
appos(George, King)

Swedish:
nmod(George, King)

The Norwegian analysis violates the guidelines, which say that appositions should follow the head noun. The English analysis is dubious as "King" is arguably not a proper name (altho

[2016-02-16 10:01] jnivre opened #254 "Mix of "name" and "foreign" in Norwegian"
The Norwegian treebank has a mix of "name" and "foreign" relations in the names of dishes like "Coquilles St. Jacques Prince de Norvège", where "de" is "foreign" and the others "name". This is reflected also in the postag, which is "X" in the former case and "PROPN" in the latter. Ideally, I think these should be given a compositional analysis, but a mix of "name" and "foreign" should definitely b

[2016-02-16 10:13] spyysalo commented on #254
Related SETS search: http://bionlp-www.utu.fi/dep_search/?db=Norwegian&search=_+%3Ename+_+%3Eforeign+_

Hits also for Danish: http://bionlp-www.utu.fi/dep_search/?db=Danish&search=_+%3Ename+_+%3Eforeign+_

[2016-02-16 10:30] mojgan-seraji commented on #248
It doesn't seem that UD explicitly avoids semantics. So far UD has nicely supported LVCs, with their underlying syntactic structures hand-in-hand with semantics. If UD chooses to go for pure syntax then the entire Persian verbal system will be collapsed (as LVCs are pervasive in the language). Let's have a look at the following example:

Form (transcribed):  Sam       zamin          xord-ø.
Gloss:

[2016-02-16 11:09] jnivre commented on #248
Question about LVC (although we should probably start a new thread about this): Can "floor" be inflected in this usage? Can it take modifiers? Or is it frozen in combination with "eat" when it means "fall down"? If it is, then it should NOT be treated as a regular direct object. Then it is different from (most) English support verb constructions, which do allow modification and inflection:

She to

[2016-02-16 11:25] spyysalo opened #255 "Light verb constructions and avoiding semantics"
(Detached from #248)

@mojgan-seraji:

@jnivre:

[2016-02-16 11:25] spyysalo commented on #248
I support @dan-zeman closing this issue and have opened #255 for discussion of LVCs.

[2016-02-16 12:13] dan-zeman commented on #248
@mojgan-seraji : I apologize for deliberately ignoring the dative arguments (subjects?) in Persian in my summary. Since the criteria for subjecthood differ across languages, I restricted myself to languages that are most closely related to Russian. Persian might have its own reasons for dative subjects and my not seeing them may as well just reflect my lack of knowledge of the language. Note howev

[2016-02-16 12:37] liljao commented on #254
Thanks for pointing this out, this will be fixed for the next release.

[2016-02-16 12:43] dan-zeman commented on #253
German: I found at least two different analyses, see http://hdl.handle.net/11346/PMLTQ-PN9I

appos(King, George)

compound(George, King)

but the `compound` analysis clearly violates the guidelines.

[2016-02-16 12:47] dan-zeman commented on #253
Dutch: http://hdl.handle.net/11346/PMLTQ-CRUM

appos(King, George)

But note that this search goes to UD1.2.

[2016-02-16 12:53] dan-zeman commented on #253
FWIW, in PDT (Czech) we have nmod(George, King) in sentences like "the England's king George tried to..." but we would use appos(George, King) in sentences like "George, the king of England, tried to..."

[2016-02-16 13:29] jnivre commented on #254
Great! Question of procedure: Should we close this issue now that it has been resolved, or should Lilja close it when the change has been implemented?

[2016-02-16 13:30] spyysalo commented on #254
I'd suggest to close when fixed.

[2016-02-16 13:36] jnivre opened #256 "Auxiliaries and copula verbs in Scandinavian languages (and English for comparison)"
This document gives an overview of the verbs used with the functions "aux", "auxpass" and "cop" in Danish, Norwegian and Swedish. English verbs have been added for comparison:
http://stp.lingfil.uu.se/~nivre/download/scand-aux.pdf

The table gives rise to a number of observations:
- The "aux" verbs that are found in all languages are (the equivalents of) "have", "can", "must", "shall" and "will",

[2016-02-16 13:40] jnivre commented on #253
FWIW, this is exactly as I think it should be. George is the head in both cases, but only the second case fits the definition of apposition (under the current guidelines).

FYI, in the Swedish grammar tradition, the term "apposition" would be used in both cases, but with a subdivision between "fixed apposition" ("King George") and "loose apposition" ("George, King of England"). Perhaps this is wha

[2016-02-16 13:51] dan-zeman commented on #254
I would assign the issue to Lilja and leave it open until a fixed version of the data is available in the dev branch.

Odesláno ze Samsung Mobile

-------- Původní zpráva --------
Od: Joakim Nivre notifications@github.com
Datum:16. 02. 2016  14:29  (GMT+01:00)
Komu: UniversalDependencies/docs docs@noreply.github.com
Předmět: Re: [docs] Mix of "name" and "foreign" in Norwegian (#254)

Great! Questi

[2016-02-16 13:58] liljao commented on #254
I agree, leave it open until I get around to fixing (and closing) it.

Lilja

2016-02-16 14:51 GMT+01:00 Dan Zeman notifications@github.com:

[2016-02-16 14:03] jnivre opened #257 "The use of "case" vs. "mark" in subordinate clauses"
In many languages, adverbial clauses are introduced by a combination of a preposition or adverb and a general complementiser like English "that" or Romance "que". In the Scandinavian treebanks, there are three different treatments of these (with Swedish being inconsistent):

Danish: mark + mark
Ex: for/mark at/mark ... VERB/advcl

Norwegian: case + mark
Ex: for/case at/mark ... VERB/advcl

Swedish

[2016-02-16 14:05] hectormartinez commented on #256
About the Danish treebank:

2) For the second item of the list (være as "aux"), it indeed, is for the
perfect of movement verbs ('er ankommet', is arrived).

3) For "være" as auxpass, we used it during conversion for
copula-participle structures like "is mentioned" (er nævnt), where
"mentioned" was labeled as verb in the original treebank. We kept
'mentioned' as verb instead of making it an adject

[2016-02-16 14:08] jnivre opened #258 "Sentence-initial coordinating conjunctions"
When a sentence starts with a coordinating conjunction, this is treated as "cc" in Norwegian and Swedish, but as "discourse" in Danish.

Da:
Men/discourse [når hun får opereret knæet], slipper/root hun for smerten.

This seems to contradict the guidelines for "cc".

[2016-02-16 14:13] jnivre opened #259 "Clauses treated like nominals in Danish"
The Danish treebank has a number of cases, where a nominal type label is used instead of the corresponding clausal label. For example:

At rende/nsubj med aviser som bibeskæftigelse kunne vara lykken/root, hvis an også fik/advmod en rimelig løn ud af det

Here "rende" should be "csubj" instead of "nsubj", and "fik" should be "advcl" instead of "advmod". This appears to be quite common and needs to

[2016-02-16 14:16] liljao opened #260 "Verbal amod"
Participial adjectives in attributive position, e.g. _the shouting boss_ are treated differently in Germanic treebanks:

Swedish and Norwegian: are adjectives (i.e. no verbal amod's)
Danish and English: are often verbal (i.e. have verbal amod's)

Clearly, delimitation of verbal participles and adjectives is difficult. It seems that the Swedish solution has been to adopt an adjectival analysis, but

[2016-02-16 14:19] liljao opened #261 "Treatment of reported speech"
The treatment of reported speech varies in the Germanic treebanks.

For a sentence like _The guy left early in the morning, John said_:
- Danish and English: have _said_ as root
- Swedish and Norwegian: have '_said_ as parataxis

According to the guidelines, this should be parataxis.

[2016-02-16 14:21] jnivre opened #262 "Use of mwe in Scandinavian languages"
The use of the "mwe" relation differs a lot between the Scandinavian treebanks. Just frequency says a lot:

UD_Swedish has 16.6 "mwe" relations per 1000 words.
UD_Danish has 4.9 "mwe" relations per 1000 words.
UD_Norwegian has 0 "mwe" relations per 1000 words.

The zero frequency in Norwegian is certainly by design, but the difference between Danish and Swedish is too large to be compatible with a

[2016-02-16 14:42] jnivre commented on #260
Yes, this is tricky. Participles behave more like adjectives, more like verbs in some languages, and (perhaps) more like nouns in some languages. This is also related to the more general issue of whether postags should be (more) formal, or (more) functional. For Swedish, participles are predominantly used adjectivally, and verbal uses are rather marginal. This is especially true for the past parti

[2016-02-16 14:45] jnivre commented on #256
I agree that drawing the line between passives and copula + adjective is tricky in many cases. In Swedish (and I guess Danish too), we have series like:

han jagas av vargar = morphological passive
han blir jagad av vargar = periphrastic passive
han är jagad av vargar = ?

A good thing is that "jagad" will be the root regardless of which analysis is adopted, so it is only the label on "är" that ch

[2016-02-16 14:50] jnivre commented on #253
There is another case found in UD_Norwegian, which probably has to be seen as a bug given the current version of the guidelines:

svenskekongen, Carl Gustaf, [the Swedish king, Carl Gustaf,]
appos(Carl, svenskekongen)
name(Carl, Gustaf)

Given the guidelines, it seems it would have to be:

appos(svenskekongen, Carl)

Because of the punctuation, we get this minimal pair:

svenskekongen Carl Gustaf

[2016-02-16 14:55] jnivre opened #263 "Extraposition with expletive subject in Danish"
Extraposed clausal subjects with an expletive place-holder should according to the guidelines be analysed as expl + csubj:

It surprised me that she came.
expl(surprised, it)
csubj(surprised, came)

However, in UD_Danish, these sentences seem to be systematically analysed like this:

nsubj(surprised, it)
acl:relcl(it, came)

I am pretty sure this is because of the underlying CDT but it needs to be

[2016-02-16 14:55] mojgan-seraji commented on #255
Other elements such as the future auxiliary verb, negative morpheme, and adverbs can be placed between the preverbal element (floor) and the light verb (eat). The meaning of "floor" in combination with "eat" is always "fall down" and this is frozen regardless what comes in between them, e.g.:

Form (transcribed): Sam zamin xāh-ad xord-ø.
Gloss: Sam floor will.fut-3sg eat.past-3sg.
Translation: Sam

[2016-02-16 15:10] mojgan-seraji commented on #248
@dan-zeman: I understand! No problem at all! Perhaps wrong thread for Persian. :)

I still believe that the structure of dative subjects in Persian is deeply tied to LVCs. That was my reason to bring this up in the same discussion. The LVC part was my starting point to get into dative subjects and what kind of grammatical criteria should be considered in identifying a subject.

[2016-02-16 17:14] dan-zeman commented on #257
German: `mark` + `aux` prevails but there are other solutions including `aux` + `aux`
Ex: um/mark ... zu/aux VERB/advcl
http://hdl.handle.net/11346/PMLTQ-RRUF

[2016-02-16 17:19] liljao commented on #259
Possibly related, I also noted copula clauses treated as nominal modfiers, as in:

Foruden at være et tilløbsstykke/nmod [...] er Robinson Crusoe et paradis/root for dem

I guess *tilløbsstykke* should be `advcl`.

[2016-02-16 17:35] dan-zeman commented on #256
For comparison, here is the corresponding query for German: http://hdl.handle.net/11346/PMLTQ-YVNV
German UD 1.2 does not contain lemmas, so it shows word forms. A manual list of lemmas follows (but without deprels and counts). I marked with question marks verbs that look suspicious to me.

sein (be)
werden (become)
zu (not a verb!)
können (can)
haben (have)
sollen (shall)
müssen (must)
wollen (wa

[2016-02-16 17:38] dan-zeman commented on #256
And here for Dutch:
http://hdl.handle.net/11346/PMLTQ-CRP8

[2016-02-16 17:53] yoavg commented on #260
An additional data-point re the participle form is the Hebrew treebank.

Participles are very common in Hebrew, and are ambiguous between adjectives, verbs and nouns ("shouting" as above can be either verb or adjective, while "guarding" can mean either a present verb or the occupation "a guard". That is "he is guarding" can mean "he is guarding _now_" (verb) or "his job is guarding" (noun) ).

The

[2016-02-16 18:48] dan-zeman commented on #252
@coltekin : Do you suggest to remove the value `Tense=Nar` (http://universaldependencies.org/docs/u/feat/Tense.html) and replace it by two feature-value pairs, `Tense=Past|Evidentiality=Nfh`? (I am not objecting, just making sure I understand.)

As for adding the `Register` feature, Interset currently has a feature called `politeness`, and a corresponding feature `Polite` has been proposed in UD a

[2016-02-16 18:51] liljao commented on #256
Thanks @jnivre, this is really useful. I will have a look at the low-frequency Norwegian verbs.

Wrt the use of _være_ "to be" as `auxpass`, this difference is partially an inconsistency and partially based on a real linguistic difference. In the conversion from the Norwegian Dependency Treebank, there is no way of automatically differentiating a _være_-passive from an auxiliary use of the same ve

[2016-02-16 19:52] dan-zeman commented on #246
My main concern was about docs/index.html because we have been distributing the URL leading to that file for quite a while. Adding redirects from all docs/*.html files would certainly not hurt. When (if) the time comes to rethink the directory structure (maybe because we add a gh-pages branch for tools or another repo), hopefully we will have had a long enough grace period for users to learn the n

[2016-02-16 19:57] spyysalo commented on #246
http://universaldependencies.org/docs/index.html and http://universaldependencies.github.io/docs/index.html redirect to http://universaldependencies.org/ for me (as intended), are you getting a different result?

[2016-02-16 20:00] dan-zeman commented on #246
No, I'm getting the same result. What I meant to say was that the issue is resolved but @fginter 's suggestion for additional redirects sounds also good.

[2016-02-17 14:56] jnivre commented on #245
Fixed and closed.

[2016-02-17 14:56] #245 closed, assigned to jnivre

[2016-02-17 15:00] jnivre commented on #260
In the western grammatical tradition, participles were for a long time treated as their own part of speech, distinct from both verbs and nouns (and adjectives). Perhaps it is time for a revival?

[2016-02-17 15:15] jnivre commented on #257
The use of "aux" for the infinitive marker is a well-known bug in the German data (inherited from the original Stanford dependencies via UDT), so we shouldn't take this too seriously.

In general, I think we need to distinguish two cases here. The first is a compositional construction involving a preposition (often selected by the matrix clause verb) and a subordinate clause. For example:
1. Jag r

[2016-02-17 15:21] jnivre commented on #256
Thanks, Lilja. With regard to copulas, the traditional list in Swedish is "vara, bliva, heta, kallas", sometimes extended to a longer list with "utses, väljas, verka, förefalla, anses, betraktas, tyckas, synas, ...". I think this needs some discussion, but I think at least "bli" is a serious candidate as essentially an aspectual variation on "vara". The fact that it is also used to form passives i

[2016-02-17 16:31] coltekin commented on #252
@dan-zeman: Yes, `Tense=Nar` can go. "Narrative" does not fit into `Tense` as I understand it. The `+Nar` symbol in most tools and resources around maps to `Tense=Past|Evidentiality=Nfh` most of the time, but it interacts with others. For example, as in my earlier example, if it is together with the symbol `+Past`, it does not indicate non-first-hand evidentiality, but just `Tense=Pqp`, or if we a

[2016-02-18 11:38] jnivre opened #264 "Norwegian bugs"
Here are a couple of minor things I found when going through the Norwegian data. Some of them look like bugs, others are less clear, but it may be worth looking at them (both in the specific sentences and generally in there treebank). Sentence numbers start from 1 at the beginning of the training set.

17: "Bak" compound:prt -> advmod
49: acl -> acl:relcl, mark -> advmod
20: "det" should be attach

[2016-02-18 15:14] jnivre commented on #259
Here are more examples from UD_Danish (sentence numbers start at 1 in the training set):

6: amod -> xcomp ("betragtes som ...")
17: dobj -> xcomp (infinitive)
19: blive + nmod -> xcomp
19: advmod -> advcl

[2016-02-18 15:17] jnivre opened #265 "Bugs in Danish"
Here are a number of suspicious things I found when looking through the Danish data. I think most of them are conversion bugs, but they may be worth looking at. Sentence numbers start at 1 in the training set. Let me know if you need more info.

2: acl:relcl for non-relative clause
4: acl:relcl for parenthetical (should be parataxis)
5: nmod -> appos
6, 50: conj attached to cc instead of first con

[2016-02-18 15:21] jnivre commented on #265
Here are some more:

20: Alene i Hamburg; ophobet skrab
21: wrong root (parataxis); ud = nmod -> compound:prt; nmod attached to particle
28: garbled; main clause treated as xcomp
29: garbled: dels på - dels på
30: wrong structure for "Berlingske Tidendes afslag"; nmod:tmod -> advmod
39, 41: wrong root (expl)
43: skyldige = amod -> nmod [bug]
44: wrong root [clausal predicate with copula] + parenth

[2016-02-18 15:21] liljao commented on #264
Thanks, this is really helpful!

[2016-02-18 15:22] jnivre commented on #259
More examples:

25: dobj -> ccomp
27: dobj -> xcomp
49: amod -> xcomp

[2016-02-18 15:25] jnivre opened #266 "Bugs in Swedish"
Some things that I noticed in the Swedish data:

21: lever tillsammans = compound:prt -> advmod
28: det räcker = nsubj -> expl?
38: annan kommun än hemortskommunen = det + ... + acl -> amod + ... + advcl?
41: för skattskyldig = advmod -> nmod

[2016-02-18 15:35] jnivre opened #267 "Elliptic noun phrases with "annan/annen/anden" = "other""
There is an inconsistency in Scandinavian treebanks when it comes to NPs of the type "en annan" (lit. "an other"), which can be understood as elliptical for "en annan X".

Norwegian/Swedish:
det(annan/annen, en)

Danish
nmod(en, anden)

The No/Sw analysis can be seen as a case of promotion through head elision (although they differ in that No treats "annen" as a determiner (DET/det) and Sw "annan"

[2016-02-18 15:41] jnivre opened #268 "Clefts in Scandinavian"
There seems to be an inconsistency in the treatment of clefts in Scandinavian treebanks.

det är X som/der ... VERB

Da:
root(ROOT, X)
nsubj(X, det)
cop(X, är)
acl:relcl(det, VERB)

Sv:
root(ROOT, är)
expl(är, det)
dislocated(är, X)
acl:relcl(X, VERB)

No:
???

[2016-02-18 16:38] liljao commented on #268
The corresponding Norwegian analysis of clefts is:

root(ROOT, er)
expl(er, det)
nsubj(er,X)
acl:relcl(X,VERB)

So, mostly like the Swedish analysis except for the relation of X. The analysis is described in the documentation with an example [here](http://universaldependencies.org/no/overview/specific-syntax.html).

[2016-02-18 17:58] vsoto opened #269 "Possessive Determiners/Pronouns in English"
In the universal POS documentation, the following are listed as possessive determiners: "possessive determiners: my, your, his, her, its, our, their".

However  in the english documentation page for PRON, those possessive determiners are treated as Pronouns, and the same can be observed when inspecting the English Corpus. That corpus is described as "a gold standard Universal Dependencies corpus f

[2016-02-18 18:04] dan-zeman commented on #269
The borderline between pronouns and determiners has been disputed quite a bit in UD, see e.g. https://github.com/UniversalDependencies/docs/issues/159 or http://universaldependencies.org/2015-08-23-uppsala/determiners.html. It will be probably changed in the version 2 of the guidelines but it is not yet clear how exactly. For the time being, the approach taken in UD English is a language-specific

[2016-02-18 18:05] #269 closed, assigned to nobody

[2016-02-18 19:40] fginter commented on #246
+1 will look into it when I have a moment

[2016-02-18 21:19] jnivre commented on #268
Thanks! Does the relation of X reflect its relation in the underlying unclefted sentence, so that it would be dobj in something like:

det var Pelle som jag såg

[2016-02-19 08:43] dan-zeman commented on #257
I prefer saying that if a preposition is attached to a verb, the relation is `mark` and not `case`. (I would also extend the rule to non-verbal predicates but here one would have to be careful whether the preposition performs the subordinating function for the whole clause, or whether it is really a case-like modifier of the nominal, i.e. there is a prepositional phrase functioning as predicate).

[2016-02-19 10:46] jnivre commented on #257
I understand the idea that subordinating markers on predicates should be "mark" and not "case", but in the first batch of examples the point is that you have both a subordinating marker ("att") and a case marker ("med"). This is a type of structure that is rare in English but quite frequent in other Germanic languages. In some sense, the first marker ("att") attaches to the predicate in order to t

[2016-02-19 13:28] dan-zeman commented on #257
For me, a case implies a nominal, but that is probably biased by "my set of languages". In Czech you could not escape it: you would say either "I count with winning" (where "winning" is a normal noun) or "I count with it, that.SCONJ you win" (where the case is applied to the pronoun, not to the subordinated clause). There are probably languages where clauses can have morphological cases (at least

[2016-02-19 15:11] jnivre commented on #257
I am not sure what I am proposing, but the general rule would be that ADP is case and SCONJ is mark, and that ADP and SCONJ sometimes merge to form an MWE as mark. But I can clearly see the value of restricting case to nominals, so perhaps we should try to find another solution. Perhaps it should be viewed as analogous to "from under X", where even though there is a recursive structure such that "

[2016-02-19 15:43] liljao commented on #268
The original analysis in NDT has X as a PSUBJ (a "potential subject") and there is a corresponding POBJ relation which I guess would be used for these types of Xs, but I have not been able to dig up any example. Seeing it now, however, I think there is some loss of information in the conversion of the PSUBJ to `nsubj`, so a `dislocated` analysis might be a good choice to distinguish these from reg

[2016-02-19 15:51] jnivre commented on #268
Thanks, Lilja. I considered using language-specific subtypes "dislocated:nsubj" and "dislocated:dobj" but in the end decided against it, because I don't think this is what subtypes are for. Possibly, what we should do is just have "dislocated" in the basic dependencies but add an "nsubj" relation (from the VERB) in the enhanced dependencies. This is yet another issue where guidelines for basic dep

[2016-02-20 16:23] jnivre opened #270 "Right-headed names in English"
Names appear to be mostly (always) right-headed in English. See, for example, sentence 1 and 11 in the training set.

[2016-02-20 16:41] jnivre opened #271 "Bugs involving complement clauses in English"
I have found instances in the English treebank of interrogative complement clauses annotated as if they were conditional averbial clauses. Examples:

"You wonder if he was manipulating the market with his bombing targets."
"... you never know where you may get stuck."

I have also found instance of main clauses being annotated as a complement clauses:

"My neighbourhood has been surrounded by Amer

[2016-02-23 21:43] dan-zeman commented on #210
@vcvpaiva on Portuguese (copied from https://github.com/UniversalDependencies/UD_Portuguese/issues/1): I re-read the UD documentation, but couldn't find anything about "dates":e.g. the first of May, 2015. clearly the whole thing is a nominal phrase, but how do people treat the components? Because we have several "1º de maio/novembro/setembro" where "1º" is considered an adjective, this doesn't see

[2016-02-23 21:51] dan-zeman commented on #210
I think the Portuguese case is largely parallel to Spanish and Italian, except that the day is represented by an ordinal number (adjective) rather than a cardinal. It seems to me that the it/es solution is still the best option here, but we have to accept that the hidden head is _dia_ “day” and that it has been elided.

[2016-02-23 22:05] vcvpaiva commented on #210
Thanks for the reply. Mostly the Portuguese dates are as in Italian/Spanish, as you say. For Guy Fawkes night (5th November), Chris' example, we'd be just like the Italian and Spanish, no problem. It's just that "first/second" dates bring problems of their own, as then we use the ordinal, instead of the cardinal. the the "day" dia has definitely been elided.

[2016-02-24 07:04] #210 closed, assigned to dan-zeman

[2016-02-24 12:45] vcvpaiva commented on #210
hmm, don't people find it strange that it's a nominal phrase, but the head (following the suggestion of Italian and Spanish) is an adjective?

[2016-02-24 13:24] dan-zeman commented on #210
I think that is what we do elsewhere when a noun is elided and its modifying adjective is promoted to the head position.

[2016-02-24 13:29] vcvpaiva commented on #210
ok, thanks.

[2016-02-24 20:01] dan-zeman commented on #250
As for locking a branch, people have proposed to use the update hook:
http://stackoverflow.com/questions/2471340/is-there-a-way-to-lock-a-branch-in-git

[2016-02-24 20:37] fginter commented on #250
I have now a setup which can warn on push to master of any UD language repository. Got it running few hours ago. It uses the webhooks of the UD project. Same thing will also react to data updates in dev. Etc. It's getting there.

[2016-02-25 12:01] dan-zeman commented on #250
Great!

I have a related issue that I want to discuss here: the statistics in the docs pages. Personally, I am most interested in statistics of the current development version, to spot potential bugs. (And we just discussed with @vcvpaiva that it would be useful to see them for the new datasets such as UD_Portuguese-BR.) And I want to see them on the website, because of formatting, visualization e

[2016-02-25 12:25] fginter commented on #250
Yes. That's in the works - giving people access to stats / validation / etc. for the `dev` branch of the language repos. I am working on this, but it needs a while yet. Since we now have good 40 language repos, a cron job like we had for v1.2 doesn't really cut it.

The `docs` I would leave be as-is before we have a real use-case for a `dev` branch, setting this up would be a little bit of a night

[2016-03-21 18:10] jeisner opened #272 "unannotated text in UD languages?"
Suppose someone wanted additional unannotated text in each of the UD languages -- e.g., to compute word embeddings, or for some other purpose.  Is there a standard, curated collection of this sort?

Thanks! -jason

[2016-03-22 08:56] fginter commented on #272
@jeisner: There is no _official_ such collection, but at least the [W2C dataset](https://lindat.mff.cuni.cz/repository/xmlui/handle/11858/00-097C-0000-0022-6133-9) has data for the majority of UD languages. Some of these corpora might not be large enough to induce embeddings, but many will.

Filip

[2016-03-22 15:17] jeanm commented on #272
I noticed `UD_French` has a comment above each annotated sentence with the unnanotated text. For example:

[code]

Many other treebanks have some sort of sentence id in the comments too, but they all use different formats. It would be nice if these conventions could be standardized, perhaps by specifying an optional `# sentence-text: <unannotated text>` line before each annotated sentence.

[2016-03-22 19:04] jeisner commented on #272
Thanks very much!   -cheers, jason

[2016-03-22 20:12] dan-zeman opened #273 "Standardize sentence-level comments that are used in multiple treebanks"
Originally reported by @jeanm in https://github.com/UniversalDependencies/docs/issues/272#issuecomment-199861257

I noticed `UD_French` has a comment above each annotated sentence with the unnanotated text. For example:

[code]

Many other treebanks have some sort of sentence id in the comments too, but they all use different formats. It would be nice if these conventions could be standardized, pe

[2016-03-22 20:13] dan-zeman commented on #272
@jeanm : Your comment is a separate issue, moving to #273 and closing this one.

[2016-03-29 12:28] liljao commented on #254
This has now been fixed.

The bug basically ocurred in two types of structures:
- foreign names, such as _Alice in Chains_, where _in_ received the `foreign` relation and the other elements `name`. The updated version assigns `name` to all elements of the foreign name.
- whole clauses or sentences in a foreign language where punctuation due to a bug received the `name` relation. This has now been

[2016-03-29 12:28] #254 closed, assigned to liljao

[2016-04-03 18:13] manning commented on #273
This seems to me a very good idea. I like the idea of making comments a key-value pair and to attempt standardization of the keys across corpora.  (Maybe "sentence-text" could be shorter though, like just "text"?)

This seems like a good issue to put someone else in charge of! I'm nominating Ryan. :)

[2016-04-03 20:39] manning commented on #249
Agree with @dan-zeman that under current guidelines, в течение as one node is not possible.

This leaves the choices of having a multiword case marker vs. using an analytic analysis as in English above, where "front" is still the syntactic head. On the one hand, from a more semantic viewpoint, viewing "in front of" as a multi-word preposition makes a lot of sense -- and Sebastian and I have actual

[2016-04-03 23:24] olesar commented on #249
Under the current scheme, we assign "case"/"advmod"/etc. to the first word, and "mwe" to all other words in Russian MWEs. It is a well-known problem where to draw the line between MWEs and non-MWEs. Different Russian resources provide different lists, as most MWEs are regular from the morphosyntactic viewpoint. At present we consider the merge of two lists (based on the RNC http://ruscorpora.ru/ob

[2016-04-06 08:51] LarsAhrenberg commented on #257
Maybe there are too many distinctions here: ADPs and SCONJs perform similar functions as Joakim notes. Many words, such as 'before' or 'after' will be ambiguous in POS-assignment with the suggested parallellism. 'Before Christmas' is clearly nominal while 'Before they arrived' is clearly clausal. But both 'before arriving' and 'before arrival' is possible, I think. Similar examples can be found fo

[2016-04-08 09:48] MathieuDehouck opened #274 "Improve cross-language consistency of feature values."
Dear All,

When working in a multi-language setting some features occurring in different languages have the same surface value while having different semantic.

The problem appears for example for Case=Com.

In Irish, Com is the value representing the 'Common' case (Nominative, Accusative), while in Estonian, Com represents the Comitative.

Maybe the Irish 'Com' could be replaced by 'Nom,Acc', or

[2016-04-08 09:57] spyysalo commented on #274
@MathieuDehouck : thank you for reporting the discrepancy.

`Case=Com` is part of the universal feature inventory (i.e. not a language-specific extension) and is defined as standing for comitative: http://universaldependencies.org/u/feat/Case.html#com-comitative--associative . It should not be used with different meanings.

@tlynn747 : could you please check this?

[2016-04-11 09:03] dan-zeman opened #275 "Copula: VERB vs. AUX"
Since the first release of the UD guidelines in October 2014 copula verbs were to be tagged VERB and not AUX. But the stance was not unanimous in the core UD group. Should we revise the decision for version 2 of the guidelines?

The discussion at that time was done by e-mail. I am going to post the relevant messages here so we have a base for further arguments.

[2016-04-11 09:04] dan-zeman commented on #275
@jnivre (15.9.2014): AUX: Part of the definition of AUX says that it should be associated with a lexical verb. This would seem to imply that the copula is not an auxiliary verb (whereas the use of “be” to form the progressive form and passive voice is). Is everyone happy with this? I have also suggested that an exact definition of AUX (for languages that have auxiliaries at all) should be included

[2016-04-11 09:05] dan-zeman commented on #275
@dan-zeman (17.9.2014): I agree that copula is not the same as auxiliary and it also is not a normal verb. Since we do not have a dedicated tag for copulas, we have to put them somewhere i.e. either VERB or AUX. The same holds for modal verbs. I have no strong preference here but I am slightly inclined to keep copulas among main verbs and modals among auxiliaries.

@jnivre (17.9.2014): Thanks, Dan

[2016-04-11 09:10] dan-zeman commented on #275
@manning (26.9.2014): Hi Joakim and everyone,

While generally agreeing with what you’ve been writing up for principles, you put in:

Note that copula verbs, despite being dependents of their predicates, are treated as main verbs in this respect and take auxiliaries as dependents. The general rule is that an auxiliary should always attach to a verb (if there is one).

![pastedgraphic-1](https://cl

[2016-04-11 09:11] dan-zeman commented on #275
@jnivre (27.9.2014): On second thought, I tend to agree with @manning. Always attaching to a verb seemed like a nice idea at the time, but always attaching to the predicate is probably better in the long run. I think the Finnish treebank attaches auxiliaries to copulas, but this is probably because they use a nested structure for auxiliaries in general.

[2016-04-11 09:13] dan-zeman commented on #275
@fginter (29.9.2014): This is in line with the rest of the decisions, so for consistency
reasons I'm okay(-ish) with it and will rehang the auxiliaries in TDT.
But since this is not how we did it in TDT, I suppose it says we think
the earlier analysis was more in agreement with our intuition.
Especially since the auxiliaries can never be there without the main
copula verb, they seemed to be clearl

[2016-04-11 09:36] jnivre commented on #275
It seems to me that the logical conclusion of this discussion should have been that copulas are AUX because they are treated structurally as auxiliaries (not taking auxiliaries themselves, and being siblings of auxiliaries). Unless there are strong arguments to the contrary, I would therefore advocate this change for v2.

@dan-zeman: Thanks for digging this discussion out of your email archive and

[2016-04-11 14:41] gossebouma commented on #256
For Dutch, I prefer a somewhat more restricted list than Dan's.

Passive auxiliaries: worden or zijn, if marked by the parser as 'passive' or the (original, non-UD) dependency tree co-indexes the subject with an object in a subordinate clause, or the sentence has no subject (impersonal passive)
Other auxiliaries: zijn/to be, hebben/to have, zullen/shall, mogen/may kunnen/can, gaan/go , laten/let,

[2016-04-11 16:07] jnivre commented on #256
@gossebouma: This sounds completely right to me, except for the fact that, as Dan has pointed out to me, copulas should not be tagged AUX under the current version of the guidelines. Will you be able to produce a new conversion of Dutch for the upcoming release?

[2016-04-11 16:14] jnivre commented on #257
All things considered, it seems that the best solution is to use "mark" whenever an adposition or subordinating conjunction is attached to a predicate that heads a subordinate clause. This means that Swedish and Norwegian should change the "case + mark" cases to "case + case". It is still possible to use the "mwe" analysis for cases where the ADP + SCONJ combination is really a fixed MWE. This mea

[2016-04-11 16:18] jnivre commented on #256
We seem to converge on having a restricted set of auxiliaries that can be clearly motivated on syntactic grounds. This means that we need to do some pruning for Norwegian, Dutch and German (at least). In addition, we should only allow the verb corresponding to "be" with the relation "cop" (but with the postag "VERB").

Is there anything else we need to discuss before closing this issue?

[2016-04-11 16:19] jnivre commented on #253
Does anyone want to argue against the conclusion that this is what we should do:

King George
nmod(George, King)

George, King of England
appos(George, King)

Are we ready to close this?

[2016-04-11 16:21] jnivre commented on #260
Do we have enough information to resolve this issue either way, or should we postpone this until v2 and let language differ in the meantime?

[2016-04-11 16:22] jnivre commented on #261
Does anyone want to argue that this is not a bug in Danish and English? Or can we close it and let people make the necessary changes?

[2016-04-11 16:23] jnivre commented on #262
Any hope to make progress on this before v1.3?

[2016-04-11 16:24] jnivre commented on #268
Any more thoughts on this?

[2016-04-11 16:41] wbwseeker commented on #256
about the German list of auxiliaries that Dan made (a while ago, sorry that it took so long):

these are the classic auxiliaries:
sein (be)
haben (have)
werden (become)

these are the classic modal verbs which are labeled as aux as well
können (can)
sollen (shall)
müssen (must)
wollen (want)
dürfen (may)
mögen (may)
(and maybe brauchen (need) depending on usage)

the standard copula is
sein (be)

[2016-04-11 17:13] LarsAhrenberg commented on #257
Don't you mean 'This means that Swedish and Norwegian should change the "case + mark" cases to "mark + mark" (when attached to a predicate that heads a subordinate clause)??

[2016-04-11 17:28] liljao commented on #256
I have had a look at the auxiliaries reported for the Norwegian data set and observe the following:
- a few of the low-frequency verbs (_danse_, _høre_) are bugs and will be fixed
- the other verbs which are found in the Norwegian data result from the automatic conversion where verbs that have a direct, non-finite dependent are auxiliaries. For example: _har blitt erklært avgjort_ "has been declar

[2016-04-11 17:31] liljao commented on #262
I think that is not realistic for the Norwegian data unfortunately seeing that it will require a large manual effort.

[2016-04-11 17:35] liljao commented on #268
I will try to conform the Norwegian data to the analysis adopted for Swedish, i.e. changing `nsubj` to `dislocated`.

[2016-04-11 19:38] jnivre commented on #257
Yes, I do. Sorry.

[2016-04-11 19:40] jnivre commented on #262
I agree. We should probably change the milestone then.

[2016-04-11 19:45] jnivre commented on #256
@wbwseeker: Sounds good. Regarding copulas, the current position is to use "cop" only for the equivalent of "be". I agree that one could argue that "bleiben" and "werden" (or their Swedish counterparts "förbli" and "bli") could be given the same analysis, but for consistency under the current version of the guidelines we should keep it restrictive.

@liljao: Sounds great!

[2016-04-11 20:56] yoavg commented on #135
Not quite sure what to do with this, actually. The current solution (Definite=Red feature for all marking construct state) works, is unambiguous, and is consistently annotated in both the Hebrew and Arabic treebanks. The problem is with the name which is somewhat opaque. I'd rather have something like `Definite=Construct` or `State=Construct` as a feature, but (a) at the end of the day it is just

[2016-04-12 05:20] dan-zeman commented on #135
We should keep the current solution for UD 1.3 in May because renaming the feature value is a change of the guidelines. But we can consider renaming for v2 of the guidelines this fall. I agree that `Construct` or its abbreviation is better than `Red`(uced), referring to established grammatical terminology. (I would prefer to shorten it a bit, as most our feature values have names between three and

[2016-04-12 07:22] liljao commented on #253
I agree with the analysis and am taking steps to adopt this analysis for Norwegian.

[2016-04-12 12:38] dan-zeman commented on #256
@wbwseeker : I would restrict the list as you suggest, i.e. _sein, haben, werden, dürfen, können, mögen, müssen, sollen, wollen._ I would not include _lassen._ (And the current UD_Dutch is messy, hence not a good source of inspiration.)

In general, I don't think that every verb that takes an infinitive as argument should necessarily be tagged modal and auxiliary.

[2016-04-12 12:51] dan-zeman commented on #260
FYI, I have been trying to find a consistent solution of the same problem in the Slavic group and it is hard (just to find it – not speaking about convincing others to use it :-)). Some types of participles are closer to adjectives than others. Some are used only attributively, some only predicatively, and many work both ways. I think we have to accept that participles share properties of both ver

[2016-04-12 13:24] wbwseeker commented on #256
I wouldn't include lassen either, it is still different from the other auxiliaries. I just noted the inconsistency there because it is sometimes annotated as an auxiliary.

one more thing about mögen: this one is tricky because it can be used either as an auxiliary or as a proper main verb. Some of the other auxiliaries can do this too,
but with mögen, the auxiliary usage is less frequent than the

[2016-04-12 13:29] jnivre commented on #256
I don't think we assume that verbs that can function as auxiliaries will always be tagged AUX, regardless of their actual use. Think of "have" and its correspondents in other languages, for example. This should be tagged VERB when it is used as a main verb ("I have no clue") but AUX when it is used to form the perfect tense ("I have lost").

It is true that we are still discussing whether part-of-

[2016-04-12 13:30] dan-zeman commented on #256
Re: the "policy". This is something that keeps popping at various places and there probably is no single good policy. My position: actual usage should not be the main guiding principle for assigning POS tags, **but:** it is useful to be able to say that a word is ambiguous between two or more tags. `AUX` vs. `VERB` is a good example. Other verbs, such as _sein_, can also be both, depending on usag

[2016-04-12 13:33] wbwseeker commented on #256
okay, great. then there is no problem with mögen. thanks for the clarification :)

[2016-04-12 15:09] dan-zeman commented on #219
Another possible renaming has been suggested in https://github.com/UniversalDependencies/docs/issues/135#issuecomment-208557752

[2016-04-12 15:11] dan-zeman commented on #219
Yet another candidate would be to rename `VerbForm=Trans` to `VerbForm=Advp` (adverbial participle), see also https://github.com/UniversalDependencies/docs/issues/214

[2016-04-13 08:54] dan-zeman opened #276 "Lemmas of personal pronouns"
There are diverse approaches to lemmatization of personal pronouns. An extreme position would be that personal pronoun is just one lexical unit that inflects for person, number, gender and case (depending on language). But many of these “inflections” are morphologically unrelated words, which is probably the reason why they do not share one lemma in some treebanks. On the other hand, making them f

[2016-04-13 09:15] dan-zeman opened #277 "Possessive pronouns in Bulgarian"
In UD_Bulgarian 1.2, possessive pronouns are attached to the possessed noun using the `case` relation. Perhaps this is meant as an analogy to the attachment of the English possessive morpheme _-’s_ but I believe it is wrong. It should be `nmod` or `nmod:poss`.

[bg] Ротата им , кажи-речи , е цялата нашенска .
Their platoon , pretty much , is all ours .
The possessive pronoun им “them” is attached

[2016-04-13 09:20] dan-zeman opened #278 "Possessive adjectives in Croatian"
Many possessive adjectives in Croatian (`ADJ Poss=Yes`) are attached as `nmod` but it should be `amod` because they are adjectives.

See also this treebank query: http://hdl.handle.net/11346/PMLTQ-IEED

[2016-04-13 09:28] dan-zeman opened #279 "Relative pronouns vs. subordinating conjunctions"
I found the following in Croatian UD 1.2 but I suspect there might be other treebanks with similar issues.

[hr] Ali na Kosovu , kritičari kažu da je pravni proces koji se odnosi na privatizaciju složen i politički naelektriziran , što ima dugoročan utjecaj na gospodarstvo .

Pronoun koji (lemma koji) “who, which, that” is classified as `PronType=Ind` but it should be `PronType=Rel`. Moreover, it

[2016-04-13 10:38] yoavg commented on #276
From what you describe, and precisely because we are talking about pronouns (a small, closed class) the lemma can be determined deterministically purely based on the POS and the morph-features.

Another way to view it is that different lemmatization standards reflect different ways of grouping the morph features and assigning relative importance to them.

So, in terms of learning the lemmas are al

[2016-04-13 10:47] dan-zeman commented on #276
I agree that standardization would not be interesting for machine learning. It could be somewhat interesting for people querying the corpus (just sort of tideness on the desk - if all langs do the same thing you do not have to apply the trial-and-error method).

I do not agree with the small argument against. The differences in the approaches taken in the six treebanks I examined are arbitrary. Th

[2016-04-13 10:49] yoavg commented on #272
I am sorry to re-open a closed issue, I wanted to comment while it was still open but somehow other things took precedence.

I think @jeisner raised an important issue, and that we may want to consider curating and providing standarized unannotated corpora for the different languages. Precisely because of the move of many researchers to methods that involve the use of un-annotated data (and someti

[2016-04-13 10:53] dan-zeman opened #280 "Advmod used with non-adverb"
A bug observed in Czech: a subtree is attached as `advmod`, although its head is not `ADV`. Usually the correct relation would be `nmod`. Pronouns and numerals are often involved. We are probably too restrictive when determining whether to use `nmod`.

See also http://universaldependencies.org/svalidation.html#relation-advmod-used-for-node-that-is-not-adv. In PML-TQ use the following query:

<pre>

[2016-04-13 11:14] yoavg commented on #276
People querying the corpus could just use the POS+Morph features across all languages even today and get the same results.

Re the approaches taken by the treebanks being arbitrary -- maybe. I really don't know. I am sure they were not decided based on "learnability" and maybe even not based on informed discussion, but I do believe that (at least some of them) do reflect some linguistic insights (

[2016-04-13 13:03] hectormartinez commented on #262
For Danish we only inserted mwe relations for words that:
a) had been underscored_together in the original Copenhagen Dependency
Treebank.
b) worked as function words

The only analysis we performed was to identify the form, lemma and UPOS of
the formants of the mwe so we could split them into syntactic-word tokens.

Here is a Dropbox link to the file we created for the conversion, maybe it
is a u

[2016-04-13 13:08] jnivre commented on #262
@hectormartinez: Thanks! This is very useful. At some point, we should definitely try to harmonise this across the three languages (to begin with), but there is no way we can do this for 1.3. I will change the milestone until 1.4.

[2016-04-13 19:55] osenova commented on #277
Thanks, Dan! I know this problem - it was really paired with the English possessive 's, but surely it is not adequate for Bulgarian. I will change this, but I think that it is better to use the relation DET as for full-fledged possessive pronouns мой, моя, мое / ми.

[2016-04-13 20:01] dan-zeman opened #281 "Slavic l-participles should not be VerbForm=Fin"
The l-participle, also called past participle, active participle or just past tense (because it can be used without auxiliary in some languages and contexts) is still a participle and thus it should be `VerbForm=Part`, not `VerbForm=Fin`. It also has (should have) `Tense=Past` (or in some cases in Bulgarian `Tense=Imp`) and `Voice=Act`. Further features are `Aspect` (lexical), `Gender`, `Number` (

[2016-04-13 20:16] dan-zeman opened #282 "Retokenize agglutinating auxiliary verb morphemes in Polish"
[pl] _Zerwał em suchą trawkę i zaczął em ją powoli żuć ._
(I plucked dry grass and began to chew it slowly.)

In the example, _zerwał em_ (I plucked) and _zaczął em_ (I began) are two pairs of syntactic words, namely past participle + finite auxiliary verb. In text, each of them would be written as a single orthographic word: _zerwałem, zacząłem._ The information has been lost in the original Poli

[2016-04-13 20:19] osenova commented on #281
Hi Dan,

Yes, I agree that we should do that. Actually, it applies to all the participles.

Best,
Petya

[2016-04-13 20:37] olesar commented on #281
VerbForm=Fin is in use for Russian forms like pisa-l, too. Could we stick to it? Otherwise we would get a language without any past tense (or just with the Past Passive) and lots of decisions related to this feature would be lost.

At present, Russian -l- fails all possible diagnostics to be a Part.
Natasha (@gnatko), what about Ukranian?

Olga Lyashevskaya

School of Linguistics, Faculty of Human

[2016-04-13 21:06] dan-zeman commented on #281
@olesar : The diagnostic for Part is that it inflects for `Gender` (unlike any verb form that I would call finite) and it does not inflect for `Person` (ulike most finite forms, except conditional auxiliary _by_, which is frozen in Russian, but inflects for `Person` in other Slavic languages).

Why would you have a language without past tense? `Tense=Past` can and should be one of the features of

[2016-04-13 21:51] sjut commented on #281
The l-form is grammaticalized into tense form in Russian. There is no contexts where it has any property of a participle. It is not possible with auxiliary/copula verbs, for instance. In grammars and in all the standards it is never treated as a participle (only in historical grammars). The only position it can occupy in a sentence is a position of a finite verb.
(As for typological glossing, the

[2016-04-13 22:21] olesar commented on #281
@dan: And what about Kayardild or Lugbara which have case-marking on verb in one morpheme with tense? You are trying to formulate constraints that are just wrong from a wider typological perspective.

We really need a Bielorussian team to get more votes:)

Olga

14.04.2016, 00:06, "Dan Zeman" notifications@github.com:

Olga Lyashevskaya

School of Linguistics, Faculty of Humanities
 Higher School

[2016-04-13 22:30] ftyers commented on #281
I vote for писал to be Fin in Russian. The "inflects for gender not person" is not the best diagnostic in this case. A better one is co-existence (or not) with other finite-verb forms.

[2016-04-14 07:01] fginter commented on #272
Hi. Agreed. In an attempt to do something about this, we have launched a language recognition run on the CommonCrawl data and hope to gather plenty of web data for most of the UD languages. Of course that does not fulfill the "must be similar to the treebank" requirement, but hopefully will eventually fulfill the "is big enough" requirement.

[2016-04-14 08:36] dan-zeman commented on #281
@sjut: I think we have a clash of terminologies here. The l-form is called participle in some traditions while it sounds alien in others. So the question is whether we want to maintain that the l-forms are still parallel across Slavic languages, with different established names in different languages, one of them selected for UD. Or we want to admit that in the East Slavic languages they are so di

[2016-04-14 10:15] dan-zeman commented on #237
Two more remarks.
1. It does not matter whether the connective is the first word of the sentence. The Czech coordinating conjunctions _však, avšak_ “however/but” are synonyms but they differ in word order. _Avšak_ occurs at the beginning of the connected phrase/clause/sentence, while _však_ occurs at the second syntactic position: _Pozvali jsme Pavla, avšak on nepřišel. Pozvali jsme Pavla, on však

[2016-04-14 10:36] dan-zeman opened #283 "Deficient sentential coordination in Croatian and Polish"
[hr] _A postoji i etnička komponenta , s obzirom da pojedinci iz različitih zajednica mogu reći da diskriminacija -- bilo sada ili ranije -- utječe na mogućnost da izvuku korist iz privatizacije ._

The coordinating conjunction _A_ at the beginning of the sentence is attached to the main predicate as `discourse` but it should be `cc` (see also http://universaldependencies.org/u/dep/cc.html and htt

[2016-04-14 10:51] natko5 commented on #281
@dan-zeman, @olesar: Actually there are a few remnants of l-participles in Ukrainian with a wider functioning than just past finite verbal forms, e.g. замерзла вода (= frozen water), compare: Вода замерзла. (= Water _has_ frozen.). The former is treated as an adjective, moreover, it has a different (long) masculine form: замерзлий (adjective) vs замерз (verb). It is possible to say Вода є замерзла

[2016-04-14 10:54] dan-zeman opened #284 "Compounds vs. named entities in Croatian"
The Croatian treebank uses the `compound` relation for multi-word named entities that have internal syntactic structure and could be analyzed as normal phrases. (They actually are normal phrases, but in the given context the whole phrase also refers to a concrete entity.) Normal non-compounding relations such as `nmod`, `amod` and `case` should be used instead.

[hr] _Osim toga , mnoge tvrtke koje

[2016-04-14 11:12] dan-zeman opened #285 "SpaceAfter=No in Slovenian"
[sl] _Kaj se je zgodilo, sem izvedel šele naslednjega dne iz časopisja," je v intervju za Stampoiz Torinaizjavil morilec._

In UD 1.2, multiple sentences seem to have issues with the `SpaceAfter=No` feature (MISC column). Like this one: “Stampoiz”, “Torinaizjavil”.

[2016-04-14 11:25] dan-zeman opened #286 "Croatian does not use VerbForm=Fin"
All `VERB` and `AUX` tokens should have a non-empty value of the `VerbForm` feature. I believe that all Croatian verbs which currently have this feature empty should be tagged as finite.

[2016-04-14 11:49] gossebouma commented on #256
For the 500 sentence Dutch (sample of Lassy Small)  fragment I am currently working on, I define aux and auxpass lexically (i.e. it is a restricted set of the verbs that take a non-finite VP complement).

Copula is not restricted lexically (although the annotation guidelines might contain a  list), but I select those verbs that in a given sentence,  take only a subject and a predicative complement

[2016-04-14 11:51] dan-zeman commented on #277
`DET/det` is indeed better for the full-fledged possessives. I was not sure how the short _ми_ relates to them; but no objection :)

[2016-04-14 12:00] dan-zeman opened #287 "More-than should be fixed but is not in Czech"
In _více než 30 %_ “more than 30%” we should have `fixed(více, než)`.

[2016-04-14 13:40] jeisner commented on #272
That's great - thanks so much!!

[2016-04-14 14:31] jnivre commented on #256
When you say that aux and auxpass are defined lexically, I assume it means that only a fixed set of verbs can have these relations, but not that every token of these verbs have such a relation. For example, I assume that the equivalent of "have" ("hebben"?) is aux when used to form a perfect tense but root when used as an ordinary transitive verb.

For copulas, the current guidelines explicitly sa

[2016-04-14 14:59] dan-zeman commented on #146
+1
(but I'm afraid it means writing a script that changes all current languages, and changing the script that adds a new language)

[2016-04-14 15:13] dan-zeman commented on #170
Note: the [Uppsala meeting](http://universaldependencies.org/uppsala.html) included a discussion group on copulas ([report here](http://universaldependencies.org/2015-08-23-uppsala/copula.html)).

Can we close this issue now?

[2016-04-14 15:34] jnivre commented on #170
I'd be happy to close the issue, but what is the conclusion? The copula is limited to the verb "be" occurring with what types of complements/modifiers?

[2016-04-14 18:27] dan-zeman commented on #170
The copula is limited to the equivalents of _to be_ (and I would vote for both _ser_ and _estar_ in Romance languages). It looks like extensions have been discussed in Uppsala and elsewhere but without clear outcome, so the previous rule holds until further notice, doesn't it?

Local and temporal modifiers are not copula constructions. Clauses are also excluded (that was the original @ngiordani 's

[2016-04-14 18:47] dan-zeman commented on #190
Seems like this issue can be closed. Before doing so, just a note on that German sentence by @gcelano :

_Da kann man darüber hinwegsehen, dass es außerhalb der Aachener City liegt_
[en] Here can one about-the-fact ignore that it outside the Aachen City lies.

I agree that the clause modifies _darüber_ and not the verb. I have seen a few treebanks (Czech for sure but I believe there were more) whe

[2016-04-14 18:47] #190 closed

[2016-04-14 18:56] jnivre commented on #170
Thanks for the summary. Let's close this for now and possibly revisit it for v2.

[2016-04-14 18:56] #170 closed

[2016-04-14 19:26] dan-zeman commented on #200
Looks like this thread has been forgotten for a long time, maybe scaring away the unenlightened of us by the “Turkic” label :-)

I tend to agree with @jonorthwash 's summary but I would like to nominate @manning to finally confirm or modify it.

[2016-04-14 19:30] dan-zeman commented on #233
Looks like it works much better this time, so I am closing the issue. Thanks, @fginter !

[2016-04-14 19:30] #233 closed, assigned to fginter

[2016-04-14 19:55] dan-zeman opened #288 "The mwe relation in German"
As the content validation reveals, German has a number of right-headed instances of the `mwe` relation, see http://bionlp-www.utu.fi/dep_search/?search=_+%3Cmwe%40R+_&db=UD_German-dev

In some cases (e.g. _ein wenig_ “a little”), simply switching the direction will help. However, elsewhere (e.g. the _Alles in Allem_ “all in all” instances), the multi-word expression has normal dependency relations

[2016-04-14 20:46] dan-zeman commented on #203
Note that https://github.com/UniversalDependencies/docs/issues/257 significantly overlaps with the topic of this issue, although 257 focuses specifically on Germanic languages.

[2016-04-14 20:48] dan-zeman commented on #203
Spanish has been fixed in UD v 1.2. German has not (see above: _zu_ should be `mark` but it is still `aux`). I am adding the Germanic label here too (the issue probably arises also in other languages, but since the German case has been specifically mentioned here, we should probably not close the issue before the data is fixed).

[2016-04-14 20:51] dan-zeman commented on #203
Also, for reference: the [Uppsala meeting](http://universaldependencies.org/uppsala.html) had a discussion group on adpositions and the report is [here](http://universaldependencies.org/2015-08-23-uppsala/particles.html).

[2016-04-14 20:58] dan-zeman commented on #207
Permanent link to the search query: http://hdl.handle.net/11346/PMLTQ-OMDL
See also: http://bionlp-www.utu.fi/dep_search/?search=%28%21VERB%29+%3Ccop+_&db=UD_Czech-dev

[2016-04-14 21:07] dan-zeman commented on #207
Note also this general issue about copulas: https://github.com/UniversalDependencies/docs/issues/170#issuecomment-209994648

[2016-04-14 21:11] dan-zeman commented on #204
For reference: the [Uppsala meeting](http://universaldependencies.org/uppsala.html) had a discussion group on reflexive pronouns and verbs, and the report is [here](http://universaldependencies.org/2015-08-23-uppsala/clitics.html).

[2016-04-14 21:18] dan-zeman commented on #234
Fixed in current version of UD_Portuguese. Similar procedure applied to two AnCora treebanks newly imported from HamleDT, Catalan and Spanish.

I have also run Dutch through it, although the procedure should be significantly modified to fit well the Dutch data. It is probably not needed because Gosse Bouma is now working on a new Dutch conversion directly from the Lassy treebank. But at least the

[2016-04-14 21:18] #234 closed, assigned to dan-zeman

[2016-04-15 05:15] dan-zeman commented on #178
As there is UD_Hindi in the meantime, I searched it for क्या (see http://hdl.handle.net/11346/PMLTQ-9VJT) and found out that it is tagged `PRON` and attached as `advmod`. I am not sure whether this is the best solution though.

[2016-04-15 06:45] dan-zeman commented on #159
For reference, the [Uppsala meeting](http://universaldependencies.org/uppsala.html) had a discussion group on pronouns vs. determiners. There is a [long report](http://universaldependencies.org/2015-08-23-uppsala/determiners.html) but no clear outcome. I think nobody has objected to changing the definition to something less strictly function-oriented, so let's work on it for the next version of th

[2016-04-15 09:00] jnivre commented on #178
PRON seems fine because (if I understand correctly) it is an interrogative pronoun, and "advmod" is not totally out either, since this is the function that negation would have if there wasn't a specialized neg. Of the syntactic alternatives proposed so far, I would argue against "mark" and "discourse". For "mark", the problem is that this is generally a marker of subordination, and there is no sub

[2016-04-15 15:49] #235 closed, assigned to dan-zeman

[2016-04-16 14:54] dan-zeman commented on #255
For reference, the [Uppsala meeting](http://universaldependencies.org/uppsala.html) had a discussion of light verb constructions, see the report [here](http://universaldependencies.org/2015-08-23-uppsala/mwe.html). From what I see in the report, it looks like the current recommendation is to treat [fa] _eat floor_ as if there was no difference to _eat apple_, and mark the idiomacity elsewhere (enh

[2016-04-17 10:32] jnivre commented on #255
I agree. This was definitely the conclusion at the Uppsala meeting.

[2016-04-19 14:03] mojgan-seraji commented on #255
Thank you Dan and Joakim! LVCs have already been marked accordingly in the Persian UD. However, I am still not convinced with your earlier comment that UD avoids semantics. Because it doesn't. On the contrary, UD in some extent supports semantics even now when the semantic layer is not officially applied to all tokens. The labels "mwe" and "compound", for instance, are to be mentioned as such case

[2016-04-21 08:30] ftyers opened #289 "Subordinating conjunctions as parts of imperatives"
In Russian there is an example of the use of 'чтоб(ы)', meaning something like 'that' or 'in order to'

  Чтоб ты сдох!

It is similar to Spanish

  Qué te mueras!

Which would translate something like "Die!" (imperative)

I haven't been able to find examples in the Spanish UD corpus. It seems a bit strange to use `mark` here. Does anyone have thoughts on how this might be treated ?

[2016-04-21 09:09] dan-zeman commented on #178
There is an interrogative pronoun homonymous with this word. This is not the same as saying that the word is an interrogative pronoun (in any context), and I am not sure I want to say the latter. It is an instance of our form-function dilemma. Also, if it is `PRON`, wouldn't we use `nmod` instead of `advmod`?

I tried to do a survey of treebanks where we have question particles and what we know ab

[2016-04-21 09:34] dan-zeman commented on #289
This usage looks similar to the Czech particles _ať, kéž, nechť_ (http://universaldependencies.org/cs/pos/PART.html). I am not sure what should be the best relation to attach them. Based on the original PDT annotation and on my conversion procedure, they currently often end up as `mark`. Examples here: http://hdl.handle.net/11346/PMLTQ-4E4E, but some of them are genuine subordinate clauses, althou

[2016-04-21 20:30] kajad commented on #289
I agree with Dan on the diachronic elliptical interpretation. Slovenian has
similar modal constructions with both subordinate [1] and coordinate [2]
conjunctions, not necessarily limited to imperatives. Although the
traditional grammar also treats them as particles, due to their
syntactic/discourse function, we prefer to annotate them as SCONJ/mark and
CONJ/cc in the current annotation scheme, alt

[2016-04-23 16:23] ftyers opened #290 "obj vs. iobj vs. obl in Catalan, Spanish and Italian for the verbs "agradar", "gustar" and "piacere""
I've noticed what might be an inconsistency between how the verbs "agradar" (cat) and "gustar" (spa) are treated in Catalan and Spanish. In both languages they mean "like", and are used like "It likes to.me". In the Catalan treebank "to.me" gets the `dobj` label, while in the Spanish treebank, "to.me" gets the `iobj` label.

Other Romance languages: Portuguese has "gostar" which does not work the

[2016-04-23 22:20] manning commented on #251
I tried to make some small clarifications and improvements to the wording of nsubj and dobj, which I think are in line with current practice. Certainly they are for English. So maybe we could close this issue, since any guideline revisions would be part of a more general process.

[2016-04-24 09:28] #251 closed, assigned to nobody

[2016-04-24 16:42] manning commented on #281
I'm no expert on Slavic, but under the current lexicalist view of UD, we should be marking word forms not the analytical parts of word forms, and to the extent that I understand the arguments, I think I agree with @olesar & @ftyers that treatment of pisa-l as a finite verb is right for Russian. There is always going to be a conflict between diachronic and synchronic behavior, and some messiness in

[2016-04-24 16:51] manning commented on #275
@jnivre: I also see how making copulas AUX seems more consistent with the predicate-as-head structures we assign in cases like "She is smart".

[2016-04-24 17:00] manning commented on #270
I agree that this doesn't conform and reflects the original assumptions of right-headed NPs in the Penn Treebank. But there isn't the time/energy to fix this for v1.3....

[2016-04-24 20:28] manning commented on #271
I checked 40 files somewhat randomly (taking files with "if" or "whether" in them and only looking for "if" and "whether" clauses) and changed 7 decisions, 5 from `advcl` to `ccomp` and 2 from `ccomp` to `advcl`. So, my feeling is that the annotation quality could be higher (!), but that there isn't a systematic problem here. I also then fixed the cases mentioned in @jnivre's issue above - thanks!

[2016-04-24 20:28] #271 closed, assigned to manning

[2016-04-25 09:57] jnivre opened #291 "Equivalence of PUNCT and punct"
The current guidelines seem to presuppose that PUNCT always has the function punct and vice versa. (At least our content validator seems to presuppose this.) We have two systematic cases in the Swedish treebank that seems to violate this assumption (in one direction):

room + board
conj(room, board)
cc(room, +)

9 - 5
nummod(9, 5)
case(5, -)

There is a clear intuition that + and - are alternative

[2016-04-25 10:03] dan-zeman commented on #291
As I understand the guidelines, these symbols should be tagged `SYM` and not `PUNCT`.

As for the equivalence, the current guidelines support at least one direction (PUNCT => punct), although I would find violating the other direction rather weird:

http://universaldependencies.org/u/dep/punct.html
_This is used for any piece of punctuation in a clause, if punctuation is being retained in the type

[2016-04-25 10:28] jipatsaa commented on #290
I think you are right, according to the DIEC (Diccionari De l'Institut
d'Estudis Catalans) or (Fábregas etal., 2012: 164), there are three
kind of psychological verbs depending on the syntactic position
occupied by the experiencer:
- 1st type formed by verbs like témer (fear) , odiar (hate), estimar
  (appreciate)... where the experiencer is the subject
- 2nd type formed by verbs like molestar (di

[2016-04-25 10:58] jnivre commented on #291
You're right. I should have known this. Closing and fixing.

[2016-04-25 10:58] #291 closed, assigned to jnivre

[2016-04-25 11:33] ftyers commented on #290
I think that from the traditional grammatical sense, these are definitely `iobj`, however from a UD case, it isn't so clear. In terms of these verbs, they cannot have an "accusative" object, so, the experiencer here could be considered the "second most core argument after the subject" (as in the definition of `dobj` below).

It would be good to hear from the people making the treebanks, incidental

[2016-04-25 11:35] hectormartinez commented on #290
I prefer the dobj analysis, regardless of the experiencer being marked in
dative.

[2016-04-25 11:52] jipatsaa commented on #290
In the Basque treebank, and following several authors (Oyarzabal 2003,
Artiagoitia 1995, 2000) who analyzed Basque psychological verbs in the
past, we tagged the experiencer as iobj as next sentence shows.

1   Bikiei  biki    NOUN    _   Case=Dat|Definite=Def|Number=Plur   3   iobj    _   _
2   gehien  gehien  ADV _   _   3   advmod  _   _
3   gustatzen   gustatu VERB    _   Aspect=Imp|VerbForm=I

[2016-04-25 12:14] jipatsaa commented on #290
I guess that the definition

comes from the thematic role hierarchy defended among others by Dowty
(1991) as a way to capture generalities. But psychological verbs are
complex in lexico-semantic terms, but in the romance treebanks you
mentioned they used "iobj", we also used it in Basque so I would say
that the description appearing in the UD "dobj" tag means to capture a

## generalization that m

[2016-04-26 12:22] liljao commented on #264
I have now had a look at the reported bugs in the Norwegian data and have fixed some of them and left others for later, as they represent well-known issues that require some manual effort.
I am closing this issue now.

[2016-04-26 12:22] #264 closed, assigned to liljao

[2016-04-29 19:34] #207 closed

[2016-04-29 19:36] dan-zeman commented on #207
Most of the cases turned out to be annotation errors in PDT 3.0. Fixed in UD 1.3.

[2016-04-30 18:31] kajad commented on #285
Fixed for release v1.3.

[2016-04-30 18:31] #285 closed, assigned to kajad

[2016-05-03 09:35] dan-zeman commented on #281
I have fixed the Polish data for UD 1.3.

[2016-05-03 09:40] osenova commented on #281
It was fixed also in the Bulgarian treebank for UD 1.3.

From: Dan Zeman
Sent: Tuesday, May 03, 2016 12:35 PM
To: UniversalDependencies/docs
Cc: osenova ; Mention
Subject: Re: [UniversalDependencies/docs] Slavic l-participles should not be VerbForm=Fin (#281)

I have fixed the Polish data for UD 1.3.

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on G

[2016-05-03 14:04] dan-zeman commented on #281
I think the issue can be closed then. The majority vote is that l-forms are `VerbForm=Fin` in Russian (and probably in the whole East Slavic group). In West and South Slavic languages they are `VerbForm=Part` and the data have been updated accordingly.

[2016-05-03 14:04] #281 closed, assigned to nobody

[2016-05-04 07:32] yv commented on #288
MWE is relatively non-specific in that it applies to a lot of constructions.
also <advmod (dieser Bäcker hat ...)
which would be consistent with the second solution.

I could not edit the trees in SETS. I hope everything is ok.

[2016-05-08 08:06] TCGWim commented on #253
An example in Latin: "flumen Rhodanus, qui ..." = the river Rhone, that ...
Now 'flumen' is neuter, 'Rhodanus' is masculine and 'qui' is masculine (not neuter), so 'qui' is agreeing with 'Rhodanus', not with 'flumen'.
So in Latin 'Rhodanus' is head of the NP, with 'flumen' as modifier.
When we use 'appos' as deprel, 'flumen' would be the head of the NP, or we should make the guidelines more flexib

[2016-05-08 08:28] jnivre commented on #253
Thanks, Wim. This seems perfectly consistent with the analysis we adopted for the Scandinavian languages.

[2016-05-08 08:34] dan-zeman commented on #253
I know this thread is primarily about Germanic languages, but for the record, it would be different in Czech, where you could say (paraphrasing Wim's example) _řeka Rýn, která..._ = "the river Rhine, which". _řeka_ and _která_ are feminine while _Rýn_ is masculine.

[2016-05-08 08:36] jnivre commented on #253
Good point! This seems to indicate that the head status is different in different languages.

[2016-05-09 12:30] jnivre commented on #268
I will close this issue and open a new issue to fix Danish for the next release.

[2016-05-09 12:35] jnivre commented on #267
I am inclined to say that this is a bug in UD_Danish to be fixed for version 2. Any other ideas? I would be happy to assign this issue to someone from the UD_Danish team, but I don't know who.

[2016-05-09 12:36] jnivre commented on #268
I am inclined to say that this is a bug in UD_Danish to be fixed for version 2. Any other ideas? I would be happy to assign this issue to someone from the UD_Danish team, but I don't know who.

[2016-05-09 12:40] jnivre commented on #265
I have changed the milestone to v2 for this one, but I would be happy to know that someone in the UD_Danish team is actively working on these issues. My impression is that Anders is not active anymore. Who else should we assign?

[2016-05-09 12:40] jnivre commented on #263
I have changed the milestone to v2 for this one, but I would be happy to know that someone in the UD_Danish team is actively working on these issues. My impression is that Anders is not active anymore. Who else should we assign?

[2016-05-09 12:41] jnivre commented on #259
I have changed the milestone to v2 for this one, but I would be happy to know that someone in the UD_Danish team is actively working on these issues. My impression is that Anders is not active anymore. Who else should we assign?

[2016-05-09 12:41] jnivre commented on #258
I have changed the milestone to v2 for this one, but I would be happy to know that someone in the UD_Danish team is actively working on these issues. My impression is that Anders is not active anymore. Who else should we assign?

[2016-05-09 12:43] jnivre commented on #257
I fixed this issue for Swedish in v1.3. As far as I know, it has not been fixed for Norwegian, so I am assigning it to Lilja for v2.

[2016-05-09 12:45] jnivre commented on #256
It seems that we have converged on this one. I have fixed Swedish and Lilja Norwegian. Not sure about Danish, but I am closing the issue for now.

[2016-05-09 12:45] #256 closed, assigned to jnivre

[2016-05-09 12:47] jnivre commented on #178
I have changed the milestone to v2, since it seems we haven't reached consensus yet. I am assigning it to myself for now but would be happy to give it to someone else.

[2016-05-09 15:07] bplank commented on #265
Hi Joakim,

All the members of the Danish team changed country and affiliation in the last 2 months, which was why it was so silent from our side.. @hectormartinez is nowadays more involved in Catalan and Spanish; but we'll try to fix issues for v2 now established in the Germanic issues section.

In the long run, however, we might have to find other members of the Danish NLP community to help the

[2016-05-09 17:14] jnivre commented on #265
Thanks, Barbara. This is what I suspected. Let's hope that someone can take over.

[2016-05-09 17:21] liljao commented on #257
I actually fixed this for v1.3 but forgot to update here. I am closing this issue then.

[2016-05-09 17:21] #257 closed, assigned to liljao

[2016-05-09 17:38] jnivre commented on #257
Excellent, thanks!

[2016-05-16 10:58] pedrobalage opened #294 "Tokenization issue in UD_Portuguese-BR"
In the UD_Portuguese-BR corpus, the CONJ 'de' and both the DET 'a' (feminine) and 'o' (masculine) are agglutinated as 'ea' and 'eo' tokens.

This is not usual for Portuguese and I believe it must be a tokenization/conversion problem. Example:

[code]

Should be:

[code]

The European Portuguese version is correct. For exemple:

[code]

[2016-05-16 11:10] pedrobalage commented on #294
Suggested a pull request on UD_Portuguese-BR repository fixing the issue with the following script

https://github.com/pedrobalage/UD_Portuguese-BR/blob/fixing_CONJ_ART_bug/correct_pt-br.py

[2016-05-16 11:36] pedrobalage opened #295 "Missing Portuguese-BR specific info pages"
In the landing page (http://universaldependencies.org/#pt_br), the linked pages for Portuguese-BR are the same as the Portuguese (European) ones.

http://universaldependencies.org/pt/overview/introduction.html

This might be an issue because the corpora used are different for both variants of Portuguese. The Portuguese (European) is correct, hence it is missing the Portuguese-BR pages.

[2016-05-16 14:52] dan-zeman commented on #295
The first part is actually a feature rather than a bug, we want to have one documentation per language, not per treebank. And the two varieties of Portuguese are considered one language for this purpose.

But you are right that the Introduction does not reflect UD_Portuguese-BR, which was added later. So we need to extend the Intro.

[2016-05-17 08:41] stranak opened #296 "Consider GPL → CC"
GPL license for data is confusing and hard to interpret at best. Please consider changing the license to CC-BY-SA, or at least adding it as an alternative.

This concerns following treebanks:
- Catalan
- Danish
- Dutch
- (Finnish)
- Polish
- Spanish AnCora

[2016-05-18 09:05] slavpetrov opened #297 "Coarse <-> Fine Tags"
It has been pointed out to me that the Italian and Spanish treebanks have a non-deterministic mapping of fine to coarse tags. In particular, the same 'fine' tag is mapped to different 'coarse' tags depending on the context. In both languages the fine POS-tag NO (ordinal number) is mapped both to PRON and ADJ coarse POS tags. I don't know whether we ever explicitly said that coarse and fine tags ne

[2016-05-18 09:57] akutuzov commented on #297
The same is true for the English treebank, by the way. For example, the fine tag VB is mapped to VERB and AUX coarse tags, but there are many other cases as well.
Because of this, SyntaxNet is unusable on the UD English treebank, until one manually fixes these inconsistencies.

[2016-05-18 10:05] dan-zeman commented on #297
We don't have anything like "coarse" and "fine" tags in UD. We have UPOS and XPOS. The latter is optional, taken from a language-specific tagset, if people want to keep it. So it can be really anything. I don't think we need any hierarchy here; that would kill the freedom people have in preserving their "national" tagsets.

If SyntaxNet needs to interpret these two columns differently, then I thin

[2016-05-18 10:14] dan-zeman opened #298 "Broken contractions in Spanish AnCora"
Reported by Alessandro Raganato:

It seems that there are cropped sentences in the Spanish-AnCora treebank.
For example in the es_ancora-ud-test.conllu file, in the "sent_id es-s8" "orig_file_sentence 001#8", the last four lines of the sentence are the following:

43  un  uno DET DET Definite=Ind|Gender=Masc|Number=Sing|PronType=Art   45  det _   _
44  único  único  ADJ ADJ Gender=Masc|Number=Sing

[2016-05-18 10:17] dan-zeman commented on #298
@fginter : Shouldn't the validator have caught this? If there is a "74-75" line, then the "74" and "75" must follow, otherwise the format is not valid.

[2016-05-18 10:22] fginter commented on #298
:-( I checked the code and it looks for the interval starting at the right place, but doesn't check the end of the interval. Ah. There's always the next way to break the data... I'll add a check for this.

[2016-05-18 11:05] hectormartinez commented on #298
Chances are that also happens on UD_Catalan. I'm on it.

2016-05-18 12:22 GMT+02:00 Filip Ginter notifications@github.com:

[2016-05-18 13:47] dan-zeman commented on #297
Related: https://github.com/tensorflow/models/issues/118

[2016-05-18 14:01] hectormartinez commented on #298
A Filip said,"there's always new ways to break the data." There was some discord between the module that splits verbal clitics and the module that splits ADP+DET contractions, which caused a retokenization problem in sentences that showed both phenomena. This also means it only happens in UD_Spanish-Ancora but not UD_Catalan because verbal clitics are treated differently.

I am pushing the correct

[2016-05-18 14:42] dan-zeman commented on #297
Perhaps we should put a warning about this somewhere on universaldependencies.org? And there was another format-related problem when people used CoNLL-U in programs which expected CoNLL-X, such as MaltParser; that could be described in the same section.

[2016-05-19 13:31] ftyers opened #299 "complement of 'llamar' in Spanish"
In the Spanish corpus, the verb "llamar" (when used like X is called Y) takes `iobj` for X and `acl:relcl` for Y... But Y is not a clause, it is often just a noun phrase.

I couldn't find anything in the language-specific docs about this, so thought I'd ask it here...

[code]

Also sometimes it's just bare `acl`:

[code]

And also sometimes `xcomp`:

[code]

[2016-05-19 14:40] dan-zeman commented on #299
The first example looks wrong to me. Not only because of `acl:relcl` but also because _llamar_ is analyzed as copula there.

Otherwise I suppose that the annotators attempted to analyze it as double predication, described here: http://universaldependencies.org/u/overview/specific-syntax.html#secondary-predicates
That would explain `xcomp` and maybe even `acl`, although then it should not be attach

[2016-05-19 15:27] ftyers commented on #299
(You're right about the English gloss, it was poorly thought out).

Regarding copula analyses for 'llamar'... there are 38 in the treebank.

I agree with the `xcomp` analysis, some more examples:

[code]

I think all of these {Begoña, feudalismo} would work with `xcomp`, following the "paint the house red", although it would be good to hear from people working on the Spanish treebank who have more

[2016-05-19 15:39] dan-zeman commented on #299
Yeah, but I'm afraid those people aren't listening, as this is a converted version of a Google treebank (later improved by @miguelballesteros , @hectormartinez, @ngiordani and myself, but we did not do the annotations). So if we identify a bug, it's up to us to fix it.

[2016-05-19 15:45] ngiordani commented on #299
Funnily I am right at this moment revising a 40-page chapter for my dissertation which touches on both of these issues -- SE and xcomp vs. cop. :)

The Spanish treebank tags every instance of SE as iobj. It's true that we don't have a consensus yet (in fact, I'd be more inclined to call this a true reflexive than a passive, @dan-zeman! This stuff is hard!) but I think it's safe to say that iobj is

[2016-05-19 16:28] miguelballesteros commented on #299
If you are thinking about me, my knowledge about this is limited, I'm more
in the computational side :-), but I think @dan-zeman description is
correct.

Note that "llamarse" is a pronominal verb in all the examples of the first
mail of this chain: (
http://www.elearnspanishlanguage.com/grammar/verb/pronominalverbs.html)

_Nos llaman *
*Les llaman_
_Se llama_
_Me llamo_

and it is different from _

[2016-05-19 16:39] ftyers commented on #299
@miguelballesteros: yes, argh the agreement, this is what you get for copypaste examples :)  ... but I think "le llama a la chica Begoña" is ok... I checked here in the office (in Donostia) and people say it's a bit redundant but grammatical (unlike in Italian), maybe "A la chica la gente le llama Begoña" sounds better?

[2016-05-19 18:08] jipatsaa commented on #299
Llamarse, apodarse, particular verbs.
Definitely is not a passive, nor reflexive or aspectual clitic.

Pasive: se venden pisos (Flats are sold)
Reflexive: Ella _se_ seca las manos (she dries her hands, in a literal
reading she _herself_ dries hands)
Aspectual: Ella _se_ bebe 12 cervezas (she drinks _up_ 12 beers)

In general the clitics of these pronominal verbs (llamarse, apodarse)
are called pre

[2016-05-19 18:52] dan-zeman commented on #299
The "almost" bit is significant because UD currently restricts `cop` to the equivalents of English _to be_ and people seem to agree that in Spanish both _ser_ and _estar_ qualify, but not other verbs. So `xcomp` seems to be the right solution, optionally with a secondary dependency in DEPS:

<pre>
1 La    el     DET   _ _ 2 det   _       _
2 chica chica  NOUN  _ _ 4 nsubj 5:nsubj _
3 se    se

[2016-05-22 23:48] manning commented on #299
I agree that acl is definitely wrong -- this is an argument of _llamar_. The most likely choice is xcomp for the secondary predication. That is definitely the right analysis for something like Engish "Sue called him a liar" where "[be] liar" is predicated of "Sue". It's probably the right analysis here too, though it's a little less motivated for naming sentences like "She called the tortoise Fred

[2016-05-24 13:49] omriabnd opened #300 "Nitpicking"
Hi,
I there might be an inaccuracy in the phrasing here:
http://universaldependencies.org/u/overview/syntax.html
"This means that the dependencies can be thought of as a directed acyclic graph which is a tree (i.e., which has a single root)."
But it is not equivalent for a DAG to be a tree and to have a single root. Are UDs required to be trees or single-rooted DAGs?
Thanks,
Omri

[2016-05-24 14:01] fginter commented on #300
The validator enforces single-rootedness, so currently all UD data is single-rooted trees and I believe will stay so also in the future. I think you can just go ahead, edit the docs to be more clear in this respect, and close the issue. :)

[2016-05-24 14:06] omriabnd commented on #300
OK. Thanks. I proposed a change.

[2016-05-24 14:07] #300 closed, assigned to nobody

[2016-05-28 16:12] nschneid opened #301 "Suggested clarification: English dative objects"
The [`iobj`](http://universaldependencies.org/docs/en/dep/iobj.html) documentation doesn't specify whether _to_-datives are included. It might be worth mentioning that they fall under `nmod`, as [that page](http://universaldependencies.org/en/dep/nmod.html) makes clear with an example.

[2016-05-28 16:13] nschneid opened #302 "Partitives"
Are English partitives/collectives/measure phrases treated as regular PPs ("some of the answers", "a bunch of kids", "a grain of salt")? The [`nmod` documentation](http://universaldependencies.org/en/dep/nmod.html) has an _of_ example, but not a partitive.

[2016-05-28 16:25] nschneid opened #303 "English nsubj documentation could use more examples"
The text of the [`nsubj` documentation](http://universaldependencies.org/en/dep/nsubj.html) notes that the governor is not always a verb. I think it would be helpful if it listed examples of:
- a governor which is a predicate adjective or nominal (e.g., "we are lazy")
- a governor which is the object of a predicate PP (e.g., "we are in the barn")
- a relative pronoun, like "who" or "that" ([as in

[2016-05-28 16:26] nschneid opened #304 "English compound documentation"
The definition of [`compound`](http://universaldependencies.org/en/dep/compound.html) only mentions noun compounds. What about adjectival compounds like "a medium-large company"? Or "high-achieving student"? Or "rate-limited API"?

[2016-05-28 16:28] nschneid opened #305 "English compound:prt clarification"
Should [`compound:prt`](http://universaldependencies.org/en/dep/compound-prt.html) only apply to _idiomatic_ verb particles, or also spatial ones like "She brought down the bed/She brought the bed down"? What about "Come over (here)"?

[2016-05-28 16:29] nschneid opened #306 "English sentential adverbs"
The guidelines don't explicitly address sentential adverbs (like "maybe" or "unfortunately" when indicating the speaker's perspective). Should they always be dependents of the head of the sentence, via a [`discourse`](http://universaldependencies.org/en/dep/discourse.html) relation?

[2016-05-28 16:31] nschneid opened #307 "Imitative reduplication"
This happens in English and probably other languages as well: "The pig went oink oink oink." "The bunny went hop hop." `mwe`? `goeswith`? `compound`?

[2016-05-28 16:33] nschneid opened #308 "Tough English sentence with "tough" adjective"
In the [English syntax notes](http://universaldependencies.org/docsv1/en/overview/specific-syntax.html), the discussion of "tough" adjectives gives an example (112) for "This problem was hard for me to solve".
- What about "This was **a hard problem** for me to solve"?
- In (112), "me" is arguably the subject of "solve" rather than the modifier of "hard" as in (111)—though it may actually be subtl

[2016-05-28 16:36] nschneid opened #309 "Tag questions"
The [English syntax notes](http://universaldependencies.org/en/overview/specific-syntax.html) don't seem to address tag questions: "You don't like my hair, **do you?**" [`dislocated`](http://universaldependencies.org/docs/en/dep/dislocated.html), perhaps?

[2016-05-28 16:37] nschneid opened #310 "English NP postmodifiers"
What to do about NP postmodifiers like:
- "else"
- "both"/"all" in "we both/all had hamburgers" (these are sometimes called postdeterminers)
- "alone" in "One cannot live by bread alone"

[2016-05-28 16:38] nschneid opened #311 "English "not X but Y" construction"
"Not X but Y" or "Not only X but (also) Y": Should the first part be a [`cc:preconj`](http://universaldependencies.org/docs/en/dep/cc-preconj.html)? It seems analogous to both-and, either-or, etc.

[2016-05-28 16:41] nschneid opened #312 "English nmod:npmod documentation"
[`nmod:npmod`](http://universaldependencies.org/docs/en/dep/nmod-npmod.html) lists several scenarios in which a noun phrase functions as an adverbial modifier.
- Presumably this excludes adverbial PPs? The noun is just an `nmod` of the verb, right?
- Should adverbial nouns like "home" in "We went home" be listed?
- "Nominal modifiers not introduced by a preposition or not ‘s genitives": should thi

[2016-05-28 16:41] nschneid commented on #312
@sebschu

[2016-05-28 16:41] nschneid commented on #311
@sebschu

[2016-05-28 16:41] nschneid commented on #310
@sebschu

[2016-05-28 16:41] nschneid commented on #309
@sebschu

[2016-05-28 16:41] nschneid commented on #308
@sebschu

[2016-05-28 16:42] nschneid commented on #307
@sebschu

[2016-05-28 16:42] nschneid commented on #306
@sebschu

[2016-05-28 16:42] nschneid commented on #305
@sebschu

[2016-05-28 16:42] nschneid commented on #304
@sebschu

[2016-05-28 16:42] nschneid commented on #303
@sebschu

[2016-05-28 16:42] nschneid commented on #302
@sebschu

[2016-05-28 16:44] dan-zeman commented on #301
Fixed through https://github.com/UniversalDependencies/docs/commit/3b5dd583df6c034ccf12ff26d0f3dd155ef5943d

[2016-05-28 16:44] #301 closed, assigned to nobody

[2016-05-28 17:38] dan-zeman opened #313 "Improve MWE annotation in Czech"
As suggested by @e-bej, the tectogrammatical layer of PDT (although it is not available for all sentences) may contain additional information about MWEs and related stuff. Groups of nodes that form multi-word expressions are described in the t-root nodes. Some of them are idioms like _natáhnout bačkory_ “to kick the bucket” and we do not want to annotate them in the current surface layer of UD. So

[2016-05-30 20:21] manning commented on #303
Hi Nathan, thanks so much for all your feedback on the documentation and on UD in general! We probably won't be able to deal with many of them for a while, since Stanford is still in session for another couple of weeks.... Maybe we should work out a way to get you more directly involved. Would you be interested in that?

At any rate, I have dealt with this one, and have added a better range of exe

[2016-05-30 20:21] #303 closed, assigned to nobody

[2016-05-30 20:25] nschneid commented on #303
Thanks! And yes, I'd be happy to get more directly involved, as I'm now starting some projects that will make heavy use of UD.

[2016-06-03 20:32] dan-zeman commented on #222
I was tempted to close this issue because @ngiordani has fixed the aux chain issue in UD_Spanish. However, we now (UD 1.3) have 28 hits in UD_Spanish-AnCora (http://bionlp-www.utu.fi/dep_search/?search=_+%3Caux+%28_+%3Caux+_%29&db=UD_Spanish-AnCora-dev) and 36 in UD_Catalan (http://bionlp-www.utu.fi/dep_search/?search=_+%3Caux+%28_+%3Caux+_%29&db=UD_Catalan-dev), so I am leaving it open for the mo

[2016-06-04 06:50] dan-zeman opened #314 "Fix POS tags of “muito” in UD_Portuguese"
Most of the occurrences of _muito_ were originally tagged "adv &lt;quant&gt;". The "quant" part caused Interset to take it as indefinite quantifier, which later led to `DET` in UD. It should be `ADV` instead.

[2016-06-07 11:15] hectormartinez commented on #222
Of course. I will also wait for that before closing issue #298 (misplaced
multiword tokens on Spanish Ancora)

[2016-06-11 02:17] nschneid commented on #308
An even cleaner example that arose in our semantic annotation of prepositions: "I contracted for HDS to deliver the furniture." ("I contracted for HDS." cannot have this meaning unless it is construed as ellipsis.)

[2016-06-13 11:26] dan-zeman commented on #308
In (112), I would maybe make `nsubj(solve, me)` a secondary dependency in the enhanced representation, but on the surface level I would keep nmod(hard, me).

In “This was a hard problem for me to solve”, I would do
nsubj(problem, This)
cop(problem, was)
det(problem, a)
amod(problem, hard)
nmod(hard/problem, me)
case(me, for)
xcomp(hard/problem, solve)

The subtle distinction with the two "hard/pro

[2016-06-13 14:40] nschneid commented on #308
I agree: the more likely reading in my view is that it is a problem that is "hard for me to solve".

What about "I contracted for HDS to deliver the furniture."? nmod(contracted, HDS) would be a bit weird because I wouldn't say "I contracted for HDS"; it is the use with the infinitival that licenses "for". (Otherwise it would probably be "with": see PropBank examples of [contract.02](http://verbs.

[2016-06-13 16:21] dan-zeman commented on #308
This sentence is outside of the limited English language model in my head :) so it is definitely for the English team to answer. I can see your point but if the weirdness means that we should attach "for HDS" to the infinitive, then I am not sure whether the borderline will be clear in other cases.

[2016-06-14 20:14] dan-zeman opened #315 "Clitic splitting in Romance languages"
Copied from e-mail by @andre-martins : are there guidelines to handle clitic pronouns? Right now there are some inconsistencies. For example,

fazê-lo -> faze-|lo
dotá-lo -> dotá-|lo
Fê-lo -> Fez-|lo

I think part of the differences come from a different handling of the sentences coming from the European and the Brazilian corpus.

If there are no current guidelines, I propose handling clitics as i

[2016-06-14 20:17] dan-zeman commented on #315
We do not have any Portuguese-specific guidelines for clitic pronouns yet (because we have no documentation for Portuguese, unfortunately). But we have some general guidelines, and an example from Spanish that we show quite frequently in UD _(vámonos = vamos + nos)_.
Now the important difference in Spanish is that no hyphen is used and you really have to split a surface token that cannot be split

[2016-06-15 10:21] andre-martins commented on #315
I see your point. I also don't like the technical characters "#" much. So I think the two remaining options are:

[code]

and

[code]

where the first option is closer to Spanish 1.3 and the second one to Catalan 1.3.

For languages where clitics have hyphens (Portuguese, Catalan), I have a preference for the second option, for the following reasons:
- It's much simpler to tokenize: for Portuguese