[2016-12-23 11:22] dan-zeman commented on #386
I agree. Just note that there is probably a continuous scale of verbs with different levels of "semantic value", while the annotation approach has to suddenly change at some point of the scale. That gives you some freedom (but also vagueness). We have had similar issues all over UD and sometimes we have been rather restrictive about what qualifies as a function word (e.g., with copulas we strongly

[2016-12-23 23:00] vinbo8 commented on #386
One could argue that the verbs are on a spectrum, yes - some are semantically empty, some still retain _some_ semantic value, but which/how much is honestly up to personal interpretation and is pretty debatable. For me, seeing as these V2s are a closed class that have been enumerated in several grammars, I would tend to agree with having all of them marked with maybe something like `aux:lvb` (they

[2016-12-24 09:58] jnivre commented on #386
I don't object to using aux for the closed class, but I woul advise against the subtype "lvb", since the general policy is to treat light verb constructions either as compounds (for example, in Persian) or as completely compositional. I agree that there is probably a continuum from light verbs to auxiliaries (via so-called semi-auxiliaries) but if we treat them as aux we are in fact saying that th

[2016-12-24 11:44] vinbo8 commented on #385
The formal pronouns do trigger plural verbal agreement, but both तुम्ही and आपण do so the same way, so distinguishing between them rather than using `Polite=Form` for both seems semantic. I like the idea of using `Style=Lit`.

Leaving तुम as neutral in Hindi also sounds fine to me.

[2016-12-24 15:01] dan-zeman commented on #386
@vinit-ivar : Yes, there are converbs (also called transgressives, gerunds or adverbial participles) in Slavic languages. Their frequency differs by language; in Czech for example they are either frozen expressions or archaic style. Past/perfective converb would correspond to the "do something and then something" sense, and I believe it would be clearly `advcl`. Present/imperfective converb would

[2016-12-25 10:55] dan-zeman commented on #385
I have added Marathi to the website and also created a UD_Marathi repository for the data (please use the dev branch, not master). You should now also be able to document this and other decisions by clicking on the "edit" link of the Marathi pages. (But we still need to switch all the templates to version 2; the script now generated v1 templates, hence the page for `Polite` has to be added manuall

[2016-12-27 01:07] arademaker commented on #376
It is good to know about so many tools under development: Udapi, depedit and dep2dep.

As @fcbr mentioned above, we are working on a Common Lisp library for working with CONLLU files. I hope to add a rule processing engine for tree transformations. So far, we are trying to define what would be the necessary expressivity for that rules language.

To define our rules language we are trying to _forma

[2016-12-28 15:01] jorgtied opened #389 "language codes in treebank subdirs"
At some point, the UD repository changed the naming policies to use language names for treebank sub-directories instead of ISO language codes. I would prefer to have consistent identifiers for languages in both, file names and their paths within the repository. This would make it much easier to loop through all languages with scripts and makefiles without mapping ISO codes to language names and vi

[2016-12-28 15:28] fginter commented on #389
I think symlinks would work. Renaming the repos probably not. This is also related to #339 so I'll take care of both. Maybe I could produce a script in `tools` which would generate these symlinks...?

[2016-12-29 07:49] gcelano commented on #389
As for the codes, there is a new resource,  http://glottolog.org, which aims to provides ID for all languages, including minority ones. This is extremely useful.

Il giorno 28 dic 2016, alle ore 16:28, Filip Ginter <notifications@github.com> ha scritto:

I think symlinks would work. Renaming the repos probably not. This is also related to #339 so I'll take care of both. Maybe I could produce a scr

[2016-12-29 08:58] fginter commented on #389
@jorgtied How should we handle languages with multiple treebanks? I.e. what kind of naming/symlink structure would be good for English which has 3 treebanks? Should top-level be something like
[code]

So you could loop over the directories and in each directory you could assume the existence of `${DIRNAME}-(train|dev|test).conllu`

?

[Edit: dashes, not underscores]

[2016-12-29 12:23] fginter commented on #389
https://github.com/UniversalDependencies/tools/commit/14359ba66d8c68803225d37066bb39fe5ddf76c3

I think this should do the trick. Feel free to reopen, if the script doesn't do what you need.

[2016-12-29 12:23] #389 closed, assigned to fginter

[2016-12-29 12:27] fginter commented on #339
In reaction to #389 I now added a script which creates symlinks with ISO 639-3 language codes.

[2016-12-29 12:27] #339 closed, assigned to fginter

[2016-12-29 14:31] arademaker commented on #389
Hi @fginter it is not clear what we must do in the repos . What does this script do?

[2016-12-29 14:40] fginter commented on #389
You point this script to a directory with UD repositories (downloaded or cloned from GitHub) and it will generate a directory with all the necessary symlinks named consistently using the 3-letter codes. It does not require nor make any changes to the repos, and is provided only to make the easy-to-script directory structure which @jorgtied hoped for.

Running

[code]

will output:

[code]

which c

[2016-12-29 14:43] arademaker commented on #389
OK but we haven't made any change in the rules yet, right? No changes in the repos names or files are mandatory, right?

[2016-12-29 14:54] fginter commented on #389
Everything stays as is. I do not believe we will want to rename all the repositories and all the files. This would have major consequences throughout the validation pipeline and the docs system. So this script should let us have our cake and eat it.

[2016-12-30 17:22] nschneid opened #390 "Echo questions"
Mark Steedman writes:

What relations should we use for "WHAT" in the above examples? Should we treat B' like a normal noun, B'' like a normal NP, B''' like a normal VP, and B'''' like a normal sentence—or is there a more elegant solution?

[2016-12-30 19:12] jnivre commented on #390
Syntactically, WHAT is "obj" in both B' and B'' and "root" in B''' and B''''. Morphologically, it is PRON as usual in all cases.

[2016-12-30 19:41] nschneid commented on #390
Mark again:

[2016-12-30 23:17] amir-zeldes commented on #390
@nschneid I think the phrase is an object either way; those arguments about extraction and passivization without the article apply to common nouns too:

*Dog did you buy the?
The dog, did you buy? (probably only possible using Yiddish movement)
*Dog was bought a (by Mary)
A dog was bought (by Mary)

The object is the entire phrase [a what], which is headed by what (and the head has the function 'o

[2016-12-30 23:19] amir-zeldes commented on #390
Oh and for the non-NP cases I'd do:

What? root(what)
You what? root(what), nsubj(what,you)
You bought what? obj(bought,what)
You bought a what? obj(bought,what), det(what,a)

[2016-12-30 23:52] nschneid commented on #390
Yes, I think the more relevant observation is that it's odd to passivize the entire NP:

- non-echo:
  A Picasso was bought (by Mary)
  The Picasso was bought (by Mary)
- echo:
  ?A WHAT was bought (by Mary)
  ?The WHAT was bought (by Mary)

"A WHAT was bought?!" certainly sounds more marginal than "She bought a WHAT?!" But I don't know if the marginality reflects the syntactic relation or the sem

[2016-12-31 00:55] nschneid commented on #390
I cannot think of other constructions where a pronoun is preceeded by an article: *the it, *a something, *the who ([rock band names](https://en.wikipedia.org/wiki/The_Who) excepted). This gives me pause about `det(what, a)`. According to [this query](http://bionlp-www.utu.fi/dep_search/query?search=who%7Cwhom%7Cwhat%20%3Edet%20_&db=UD_English-dev&case_sensitive=True&hits_per_page=10), there are no

[2016-12-31 02:23] nschneid commented on #390
OK, the pronoun "one" can follow an article: definite determiners as in [this query](http://bionlp-www.utu.fi/dep_search/query?search=one%20%3Edet%20_&db=UD_English-dev&case_sensitive=True&hits_per_page=10), and the expression ["not a one"](https://en.wiktionary.org/wiki/not_a_one). But it is not a WH-pronoun, and it is actually tagged as a noun in the treebank.

[2016-12-31 02:35] nschneid commented on #390
Aha—Huddleston & Pullum, p. 891: "In _You need to buy a new what?_, the echo-question word _what_ is a common noun with a determiner and adjectival modifier as dependents: interrogative _what_, by contrast, is a pronoun, unable to take such dependents." I'd feel better about `det(what, a)` if "what" was tagged as a noun.

[2016-12-31 09:31] dan-zeman commented on #390
In UD v2 we do not change the UPOSTAG each time the function of a word changes. So _what_ can stay `PRON` in UD even if Huddleston & Pullum call it a common noun in a specific construction.

[2016-12-31 18:04] dan-zeman commented on #315
Agreed. _tratar-se-á_ should be treated as one multiword token, consisting of the words _tratará_ and _se_. Which is an argument for solving the other verb-clitic combinations on the level of multiword tokens as well.

[2017-01-01 08:23] jnivre commented on #390
I did not mean that "WHAT" by itself is the object in "You bought a WHAT". I only meant that the incoming dependency is labeled "obj". Thus:

nsubj(bought, You)
obj(bought, WHAT)
det(what, a)

But I think Amir made this clear in his comments.

[2017-01-02 06:47] ashwinivd commented on #386
In the example मी बसून टाकतो. mī basūn ṭakto. "I emphatically/vehemently sit." (PRN-1SG sit-CONV **drop**-1MSG), I would argue that the sentence in this case is perhaps better translated as "I sit, somehow finishing it off)", where ṭakto is contributing the meaning of 'getting it over with', rather than some kind of emphatic meaning. It is of course, different from its 'full' verb meaning of drop

[2017-01-02 10:53] MemduhG commented on #386
@ashwinivd  : as far as I have seen, at least in Turkic and Iranian languages, `compound:lvc` is used for nominal + verb compounds. I think there is at least some syntactic difference between this case and using non-finite + finite verbs. It might make the nomenclature unintuitive for people approaching from this perspective with IA languages, but I think this warrants a different dependency label

[2017-01-02 23:35] reckart opened #391 "Images on the tools page overlap with following sections"
The screenshot images on the tools page float right, but the float is not cleared when the section for the next tool starts. That makes the screenshots stack up in odd ways.

To fix this, I see two options:

* a CSS `clear: both` could be added before each section in `tools.md`
* change the `css/style.css` and add `clear: both` to the `h3` style

However, I am unsure what is the better option. Add

[2017-01-03 10:12] fginter commented on #391
Let's test `clear:both` in `css/style.css` and click around to see if anything got affected badly, and undo if yes. :) The docs don't take *that* long to rebuild. :)

[2017-01-03 12:45] reckart commented on #391
The tools page looks better now. I clicked around through some other pages which also still look good - so I guess this was a good fix.

[2017-01-03 12:45] #391 closed, assigned to reckart

[2017-01-03 12:45] fginter commented on #391
Thanks!

[2017-01-03 12:57] fginter commented on #376
In case this would be relevant to anyone, I got our `dep2dep` thing up and running, and even made it rehang `punct` and `cc` from head to the following conjunct. So I suppose it does something, and Turku will use that. I will try to keep the config file somewhat documented and modular (general UD vs Finnish specific parts). https://github.com/TurkuNLP/dep2dep/blob/master/example_rules.lp2lp

[2017-01-03 13:06] fginter commented on #384
Not a native speaker, but I don't think Finnish has infixes of this kind. @jmnybl can correct me.

[2017-01-03 16:03] dan-zeman commented on #384
I should have used more accurate wording. I did not necessarily mean Finnish has infixes. What I meant was that the Finnish UD data contains language-specific features whose values are actual Finnish morphemes, e.g. `Clitic=Han (Ka, Kaan...)` or `Derivation=Lainen (Llinen, Minen...)`.

[2017-01-04 06:52] fginter commented on #384
Ah, sorry, I misunderstood your question. Yes, we have those features for the various derivations and clitics. The tag is pretty much the derivation suffix / clitic itself. Easy to read and remember.

[2017-01-04 14:59] kanayamah commented on #377
@spyysalo, one strong reason to split 食べた (ate) into ``食べ/VERB`` and ``た/AUX`` is other elements such as a polite marker can be inserted between these two words (食べました - ``食べ/VERB`` ``まし/AUX`` ``た/AUX``).  Considering English perfective and French passé composé, I think it is quite natural to represent a past form with two words.

[2017-01-04 15:22] dan-zeman commented on #377
@kanayamah, considering simple past in English as well as in good many other languages, it is also quite natural to represent a past form with one word :-) Is the range of "words" that you can insert before た wider than just the politeness morpheme? Like in English "I have just eaten", "I have not eaten", "I have already eaten" (and the inserted thing is always indisputably an independent word).

[2017-01-04 15:25] amir-zeldes commented on #377
@kanayamah I think one of the reasons some people are uncomfortable with this but have less problems with French is that the French auxiliary can stand by itself: it is white-space separated, it looks identical to either the verb 'be' or 'have' as used outside of the past tense construction, and it can be separated from the lexical verb by adverbs: 'il est déjà arrivé'. The morpheme た behaves more

[2017-01-05 23:46] tknorr opened #393 "German treebank"
If anyone is working with this, there are a lot of problems with the German deposit. Some are because of known tagging problems with the TreeTagger (mis-tagging), some are because the input text hyphenation was not removed before the tagging. Looks like it even has some OCR Fraktur mis-spellings. I can run the files against the NeuroCollective which can mark-up and correct some of the issues, then

[2017-01-06 08:24] dan-zeman commented on #393
I do not know NeuroCollective (and Google is not of much help here) but if you can fix errors in the data, it is welcome! Please submit the changes as a pull request against the `dev` branch, not the `master` branch.

[2017-01-06 13:03] ermanh commented on #384
Thanks for all the responses! Currently we're not doing features or lemmas but perhaps we might reconsider (@kimgerdes ?). The inventory of infixes is indeed quite small (all with the same emphatic function of 鬼; they're basically all swear words and unlikely to show up in corpora).

Otherwise, the best alternative (?) seems to be to follow the Portuguese mesoclitic example of

[code]

with the ca

[2017-01-06 16:10] tknorr commented on #393
Will do, give me about a week, I can indicate what I would consider tagging defects based on NC knowledge vs. treebank knowledge. I need to figure out how to best translate that list into edits in the treebank. The data cleanup should have been done before it was processed into the treebank. I suspect there is more data around since google's book scans are all full of Fraktur OCR issues and the Tr

[2017-01-06 17:02] manning commented on #371
I've also added a description and some examples of the object control case to the [Complex Clauses documentation page](http://universaldependencies.org/u/overview/complex-syntax.html#subordination).  (Fixes to the corpus are yet to come, but hopefully soon!)

There is some code in the Stanford parser that tries to get this right, but one of the reasons why it is difficult is that the Penn Treebank

[2017-01-06 18:35] jnivre commented on #384
A dependency tree is in principle unordered and the numerical order of indices does not encode word order

[2017-01-06 18:37] jnivre commented on #384
Sorry. Hit the wrong button. What I meant to say was that it is not assumed in general that concatenating the words in numerical order gives the original word order. It is precisely for discrepancies like these (among other things) that we have the multiword tokens.

[2017-01-06 18:54] jnivre commented on #393
I was not aware that TreeTagger had been used on the German treebank. I thought it was the result of manual annotation. It would probably be a good idea to run this by @slavpetrov.

[2017-01-06 22:01] tknorr commented on #393
It looks like TreeTagger was the original tagger. Some of the UD-Tags are different from the TreeTagger, so it is quite possible that it got reviewed.

[2017-01-06 22:24] dan-zeman commented on #393
I believe that UPOSTAGS, which come from the original annotation by Google, were assigned manually. I later applied TreeTagger to get the features, lemmas, and, as a side-effect, also the XPOSTAGS. Some rule-based heuristics were applied on top of that. But I think I did not touch UPOSTAGS. Definitely not in the TreeTagger part of things.

BTW, pretty much the same process has been applied to UD S

[2017-01-06 23:40] tknorr commented on #393
One thing I see pretty consistently is that adjectivized proper names are tagged in the UDPOSTAGS as PROPN and tagged in the TreeTagger correctly as ADJA.
Example: 'Leopoldskron' is a place and deserves a PROPN, a 'Leopoldskroner' could be a noun in the right context and designates a person from 'Leopodlskron' (NOUN). The term 'Leopoldskroner' can also be an ADJ, as in the example of the 'Leopolds

[2017-01-07 08:33] dan-zeman commented on #393
If the non-German words are part of named entities (such as _Google Maps_ or _Piazza Italiana_) then it seems OK to tag them `PROPN` (even if in a similar German named entity they would not get that tag). Otherwise I would tag them `X`.

On the other hand, I agree that in _Leopoldskroner Schloss_, _Leopoldskroner_ should be `ADJ`. And even worse, in _Best Western Hotel des Nordens_, all words are

[2017-01-07 13:08] reckart commented on #393
Actually... that is a proper noun. *Best Western* is the brand and *Hotel des Nordens* is the name of the hotel - which makes for a composite proper noun, doesn't it? See their [website](http://www.hotel-des-nordens.com/de).

[2017-01-07 14:26] dan-zeman commented on #393
UD does not care about multi-word named entities. `PROPN` is not (should not be) used automatically whenever a word occurs inside of a multi-word named entity. Personally I think that foreign named entities are an exception because it is better to use `PROPN` than just `X`. But once it is German inside the German treebank, the normal part of speech has higher priority. _Hotel_ is `NOUN`, _des_ is

[2017-01-07 16:00] tknorr commented on #393
I agree with Dan, in principle, but I think it has to be qualified by the use case. If you are looking for a syntactic parsing, the individual components of the sentence need to be tagged in their roles. It should be possible to tag 'Hotel' as NOUN as well as 'PROPN' and a later process of named entity recognition should eliminate the not applicable tagging. GATE has some YAPE rulings for that, bu

[2017-01-07 19:19] jnivre commented on #393
The crucial point is that UD annotation is syntactic and does not include named entity annotation. Hence, PROPN should only be used for words whose primary use is to function as names, which in particular includes person names and (many) place names. For people who want to do joint syntactic and named entity analysis, the named entity annotation has to be added in a separate layer.

[2017-01-09 10:49] fginter commented on #250
This issue now got worse because the test sets were removed from `dev` and the token counts on the main page dropped accordingly. As a stopgap measure, I think we should switch the source of the stats to `master`. That is at least less wrong. :)

[2017-01-09 10:52] dan-zeman commented on #250
In principle I agree. But for datasets that have not been released so far, should we perhaps show the current statistics from dev, if it is not empty? Maybe marked somehow, in brackets or whatever.

[2017-01-09 10:53] dan-zeman commented on #250
Or maybe simply shift them to the "upcoming" section. That will be even more accurate. And maybe it will happen automatically, because Sampo's code will find master empty. Only the optional drawing information from dev would have to be added, if desirable.

[2017-01-09 18:51] tknorr commented on #393
I hate to be such a spoiler but the next problem is the actual text. There are some spelling errors, which I figured do not really matter for a pure POS tagging application e.g. 'würklich' should be 'wirklich', 'Bröchten' should be 'Brötchen' since the context is a bakery. A bigger problem is mis-spelling in articles, which will inevitably lead to markup problems. E.g. ... besonders auf **dem** Ku

[2017-01-09 19:15] jnivre commented on #393
If the "errors" occur in the original text, they should not be "fixed". A very important purpose of collecting and annotating naturalistic data is to be able to train annotators that are robust to spelling mistakes and grammatical errors. The point is that we as humans can easily interpret these texts despite the problems, and we want to be able to build machines that have the same capacity. If yo

[2017-01-09 19:34] tknorr commented on #393
Ok, glad I asked.

[2017-01-09 19:39] dan-zeman commented on #330
Another discussion of typos: https://github.com/UniversalDependencies/docs/issues/393#issuecomment-271370394

[2017-01-10 15:10] gossebouma opened #394 "punctuation in coordination"
The V2 documentation for punct says
"A punctuation mark separating coordinated units is attached to the first conjunct."

but gives an example:
We have apples , pears , oranges , and bananas

where the comma's are attached to pears, oranges and bananas, respectively. Shouldn't all comma's in this example be attached to apples, if we follow the guidelines?

[2017-01-10 15:27] dan-zeman commented on #394
That is a bug. The example is right, while the guideline is V1, not V2.

[2017-01-10 18:32] arademaker commented on #394
Thanking the same example, why not use the relation `cc` instead of `punct` for cases where the punctuation is having the role of conjunct like "and" ?

[2017-01-11 07:47] jnivre commented on #394
The analysis of commas as coordinating conjunctions is controversial and there would be lots of tricky borderline cases. On a more general note, we lack a good theory of the role played by punctuation in syntactic structure and the UD policy is therefore (a) to give all punctuation marks the relation "punct" and (b) to exclude these links when evaluating parsers. Any exception from this policy wou

[2017-01-11 10:24] arademaker commented on #394
hi @jnivre , thank you for your answer. Can you point me some references about the issues?

[2017-01-11 12:08] jnivre commented on #394
Not easily. There is very little written on these issues, so it is mainly based on practical experience. On the theoretical side, there is the issue that punctuation does not exist at all in spoken language, which is the primary form of all languages.

[2017-01-12 01:00] arademaker opened #396 "Ellipsis in v2"
From http://universaldependencies.org/v2/ellipsis.html and http://universaldependencies.org/format.html it seems that null nodes can only be referenced in the  enhanced dependencies field of conllu files. Is that right? Why can't we mention them in the regular HEAD field?  We liked the solution of null fields for ellipsis but we would like to avoid making harder for tools to deal with the enhanced

[2017-01-12 01:07] sebschu commented on #396
Yes, that is correct. The reason behind this is that one of our core principles is that basic UD trees should always be strict surface syntax trees and we would have to give up this principle if we allowed empty nodes in the basic representation.

Can you say more about why this makes it harder for tools to deal with the enhanced UD graphs? Or do you mean that it makes things more complicated if w

[2017-01-12 08:52] spyysalo commented on #373
@arademaker : are you still interested in testing and publishing more detailed instructions?

[2017-01-12 09:18] spyysalo commented on #377
I agree with the points raised by @dan-zeman and @amir-zeldes. Specifically regarding the argument given by @kanayamah, I don't think the occurrence of`ます` between `食べ` and `た` in `食べました` is a reason to analyze `た` as an independent (syntactic) word rather than as a morpheme, as we can either consider `食べました` as a word or `た` as an inflectional morpheme on `ます`.

[2017-01-12 09:42] spyysalo commented on #377
@kanayamah : to clarify my concern a bit: the currently proposed UD Japanese representation implies the radical claim that Japanese has (effectively) no inflectional morphology. To the best of my knowledge, this is is a departure from both traditional and previous theoretical linguistic analyses of Japanese verb behavior.

Some of the published UD Japanese material suggests that you agree that the

[2017-01-12 11:42] spyysalo commented on #250
The piece of code I wrote for `index_page.py` is only aware of a single data source (i.e. either dev or master) (https://github.com/UniversalDependencies/docs/blob/pages-source/gen_index/index_page.py#L209) and is currently just pointed to dev (https://github.com/UniversalDependencies/docs/blob/pages-source/gen_index/generate_index.sh#L5).

(@fginter please correct me if I'm wrong.)

A bit of a re

[2017-01-12 13:10] martinpopel opened #397 "Empty nodes syntax in CoNLL-U"
http://universaldependencies.org/v2/conll-u.html says empty nodes should have ID starting with "E", e.g. E5.1.
http://universaldependencies.org/format.html says empty nodes should have ID without any prefix, e.g. 5.1.
So should we use the "E" prefix or not?

Filtering out empty nodes is easy in both cases (ID =~ /./). Personally, I have very slight preference for the 5.1 syntax.

[2017-01-12 13:24] miyao-yusuke commented on #377
@dan-zeman @spyysalo Many other expressions (aspect, modality, passive, causative, benefactive, etc.) can appear between 食べ and た.  Their composition is very systematic (no exceptions like "threw"), and some expressions can appear multiple times (e.g. double negation) and sometimes can be coordinated.  I don't find any reason to prevent from segmenting them.

@spyysalo Modern syntactic theories co

[2017-01-12 13:49] fginter commented on #397
Good catch. I would like to keep the `E` prefix.
1) it is agreed upon in Prague (the format page is just somehow ends up missing it)
2) it is trivially grepable
3) it is less likely to be confused with the token/word notation

[2017-01-12 14:22] dan-zeman commented on #397
My impression was that it was not agreed upon _in Prague_ (at least I do not remember it) but then it somehow appeared in the post-Prague write-up, no one objected, then it somehow disappeared again from the final documentation, again without objections (until now) :-)

I am personally undecided – I agree with @fginter's argumentation but still I like the form without `E` more (just a matter of ta

[2017-01-12 15:04] jnivre commented on #397
The E-prefix was not agreed in Prague. My preference is definitely to **not** have the E-prefix.

[2017-01-12 15:16] fginter commented on #397
Oh, okay. I think "1-3" and "1.3" are unpleasantly similar and mean totally different things, so the E is a safety measure screaming "I am different". But whatever, really, feel free to drop it.

[2017-01-12 15:19] ftyers commented on #397
+1 for no E-prefix.

[2017-01-12 15:25] fginter commented on #397
Removed now from the docs. If anyone finds it yet somewhere, eradicate. I would have liked to keep it in as a visual clue for people who read the data files and not the docs which come with them, but I don't care enough. :smiley:

[2017-01-12 15:25] #397 closed, assigned to nobody

[2017-01-12 15:34] fginter commented on #250
On my TODO

[2017-01-12 17:28] arademaker commented on #396
Thank you @sebschu. Well, I have just learned in the mailing list that this page that I mentioned is not part of the documentation but only an archived discussion . We have also another similar confusion with the two pages about the format:

1. http://universaldependencies.org/format.html
2. http://universaldependencies.org/v2/conll-u.html

About the tools, what I mean is that most tools will not

[2017-01-12 17:30] arademaker commented on #373
@spyysalo , yes, I can help on that. We will try to document it probably opening a new subpage for brat linked to http://universaldependencies.org/tools.html. Does that make sense?

[2017-01-12 18:15] jnivre commented on #396
Anything that starts with http://universaldependencies.org/v2/ is only archival. Sorry for the confusion, we will figure out a way to make it clear. Please only consult the documentation that is at the top level directly under http://universaldependencies/.

[2017-01-12 20:17] spyysalo commented on #373
@arademaker Works for me, thanks!

[2017-01-12 21:38] spyysalo commented on #377
@miyao-yusuke : thanks for the quick response, your input is much appreciated! Some comments:

*Very much* agreed! In the absence of more qualified volunteers, I've been trying to draft a rough proposal on this, but the more I read on attempts to define "word" cross-linguistically (e.g. [Haspelmath 2011](https://zenodo.org/record/225844/files/WordSegmentationFL.pdf)), the less confident I am...

W

[2017-01-12 23:44] spyysalo commented on #67
Closing as no longer relevant with the recent reorganization (and related issues).

[2017-01-12 23:44] #67 closed

[2017-01-12 23:52] spyysalo commented on #241
@fginter @jmnybl ping: http://universaldependencies.org/docs/fi/feat/AdpType.html is still 404 and

[code]

[2017-01-13 00:41] sebschu commented on #376
Sorry that this took longer than expected but I just pushed a first version of my conversion script to

  https://github.com/UniversalDependencies/tools/tree/master/v2-conversion

(I put it in the tools repo, so that other people can also make edits/contribute. I hope that's okay.)

If you intend to use the script, make sure to read the README on the limitations. Also, I haven't run it on any othe

[2017-01-13 06:59] miyao-yusuke commented on #377
Popular analysis is する is inflected to さ, し, せ, する, すれ, etc., and function words/morphemes attach to one of them; e.g. し + ない, ている, た, よう, etc.  くる and いく are similar.

They avoid defining "word".  The important message here is that the distinction between word and suffix/morpheme is not very clear nor meaningful in Japanese, and considering everything as "syntactic unit" can explain various compl

[2017-01-13 07:49] jnivre commented on #377
I think we should form a working group on universal guidelines for word segmentation, with representation from diverse language groups. I still think we can use the paper by Cagri on principles for Turkish as a starting point, but it obviously needs to be refined and extended to cover typologically different languages. My own superficial impression of the Japanese situation is that we need a compr

[2017-01-13 07:51] jnivre commented on #376
Thanks! This is really useful. Why don't you also send a message to the ud list. I think many people are waiting for something like this.

[2017-01-13 09:44] dan-zeman commented on #396
Moving here e-mail discussion about precedence of orphans:

@arademaker :

http://universaldependencies.org/u/overview/specific-syntax.html#ellipsis
http://universaldependencies.org/u/dep/orphan.html

@dan-zeman :

@jnivre :

[2017-01-13 09:58] spyysalo commented on #377
@miyao-yusuke :

I appreciate that, and I understand the merits of segmenting down to morphemes and representing morphological and syntactic structures in a unified fashion.

However, UD does not (currently :-)) address word formation, and I'm concerned that not defining a word unit above the morpheme level will have a negative impact on the value of UD Japanese annotations for cross-linguistic us

[2017-01-13 10:10] rtsarfaty commented on #377
@jnivre :

Great idea! happy to join the working group and represent the Semitic angle.

[2017-01-13 10:46] dan-zeman commented on #396
@jnivre : I guess that the obliqueness hierarchy, if employed, would look something like this (not sure about the placement of the clausal dependents but they are more likely to have arguments of their own, so placing them lower might make the result more readable):

`nsubj > obj > iobj > obl > advmod > csubj > xcomp > ccomp > advcl`

[2017-01-13 11:51] dan-zeman commented on #394
Fixed the documentation in 983a0638ce343ea035df2b2b7a2248e8bd77d359, closing the issue.

[2017-01-13 11:51] #394 closed, assigned to nobody

[2017-01-13 11:55] mojgan-seraji commented on #377
I would also be happy to join the working group and represent the Indo-European languages with Perso-Arabic script. Word segmentation is a major challenge in the languages like Persian with regard to its special characteristics of different writing styles of "words".

[2017-01-13 12:36] spyysalo commented on #377
I'd be happy to represent the Finnic language family :-)

[2017-01-13 14:05] livyreal commented on #396
In sentences where the conjunct elements are present in both clauses (the head/ROOT of the sentences), I'd prefer to relate them and them attach all the orphans to the second element of the conjunction:

" The total value is 50 million and the deficit, 40 million" (translated from a Portuguese example)
I would like to have:
conj(million1, million2),
orphan(deficit, million2)
det(the, deficit)
numm

[2017-01-13 15:52] jnivre commented on #396
A conj link from "million1" to "million2" is fine, but there should be no "orphan" link here, because the omitted copula is not the root of the clause. The analysis should be:

nsubj(million1, value)
cop(million1, is)
conj(million1, million2)
cc(million2, and)
nsubj(million2, deficit)

[2017-01-13 15:53] dan-zeman commented on #396
We usually use the `deprel(parent, child)` notation, i.e. the head word is mentioned first in the brackets.

But even if I reverse your notation, I would not do what you propose. This is a non-verbal predicate situation, which can occur (cross-linguistically) with or without copula. I understand that using copula is the norm in Portuguese and that it has been elided here, but it is just a missing

[2017-01-16 16:03] livyreal commented on #396
tks a lot @dan-zeman and @jnivre

I was thinking in having an `orphan` relation to (always) mark when an ellipsis (of a core element, at least) occurs, but following the guidelines ("If the elided element has no overt dependents, we do nothing."), it is clear that is not the case. Won't be a good idea to have a treatment that mark all cases of ellipsis and not that only helps to keep the syntax le

[2017-01-16 16:37] jnivre commented on #396
It is a trade-off. There are lots and lots of things that could potentially be useful, but in order to satisfy its goal of being a cross-linguistically consistent easily understandable syntactic annotation, UD cannot include all of them but has to put priority on basic syntactic relations. But you can always add it yourself in the MISC field or using standoff annotation.

[2017-01-17 06:19] manning commented on #371
I've just corrected this for all cases of the lexeme _let_ in the original UD_English files in the v2 dev branch. (Most of the examples were previously wrongly annotated. We should check over some other xcomp-taking verbs at some point.)

[2017-01-17 06:19] #371 closed, assigned to manning

[2017-01-17 15:02] martinpopel commented on #376
Another implementation (based on the @sebschu's one, thanks) is here:
https://github.com/udapi/udapi-python/tree/master/udapi/block/ud

I know it's too late, but it may be still useful for someone.
It is implemented using the Udapi framework (I hope the code is more readable, maintainable and powerful this way) and it supports also some edits of FEATS.
I plan to add enhanced dependencies and orpha

[2017-01-18 09:28] bguil opened #399 "right-headed flat relations?"
In the doc page of the `flat` relation (http://universaldependencies.org/u/dep/flat.html), example 11 (_Leland Stanford Jr. University_) is annoted with right-headed `flat`relations.
Is it a bug in the doc or something else?

[2017-01-18 09:31] dan-zeman commented on #399
It is a bug. All relations are reversed in that graph, which, as a result, is no longer a tree.

[2017-01-18 09:33] #399 closed, assigned to dan-zeman

[2017-01-18 10:18] bguil opened #400 "clarification about flat"
In the [documentation page of the `flat` relation](http://universaldependencies.org/u/dep/flat.html) , I don't understand how one should annotate examples 7 and 8?
In _Ludwig van Beethoven_, how _Ludwig_ is connected to _van Beethoven_?
In _Miguel de Cervantes y Saavedra_, how _Miguel_ is connected to the other part of the structure?

[2017-01-18 10:33] dan-zeman commented on #400
It is `nmod` (caused by the `case` dependents).

[2017-01-18 21:32] mcdm commented on #400
@dan-zeman: I am actually not convinced using nmod is the best analysis ;-) I would use a flat relation. It's unclear what the head is between Ludwig and Beethoven.

[2017-01-18 21:34] ftyers opened #401 "Head in Hindi/Urdu light verb constructions"
We are currently having a discussion about conversion of the Hindi/Urdu treebanks to version 2.0. One of the questions we have is which token in a light verb construction such as (1)

[code]

The light verb "intizar kiya" takes Mohan as it's second core argument in genitive (because of the nominal item "intizar"), while the agreement is all on the verb "kiya".

Going on what Joakim said in Osaka,

[2017-01-18 21:50] dan-zeman commented on #400
Depends on language. In English it would be flat because van is not a preposition in English.

[2017-01-18 22:02] vinbo8 commented on #401
If both these schemes are roughly equally valid, I'd suggest marking the noun as the head, because the verb often has very poor semantic value in light verb constructions in Hindi/Urdu - you can, for instance, have the expression "jhāḍū mārnā", literally "broomstick+NOUN hit+VERB", to mean "sweep" (eg. the floor).

I'm not sure how this is in Kurdish or Turkic, though @MemduhG claims that similar

[2017-01-18 22:14] vinbo8 commented on #386
Yeah, I'm not too comfortable with `compound:lvc` either - yes, Seiss calls them light verbs, but in my opinion calling both N+V constructions and V+V constructions "light verb constructions" is a bit dodgy - they're both very distinct syntactic combinations, and deserve distinct labels.

Semantic validity is also not really something I've noticed cross-linguistically - it appears that the Marathi

[2017-01-18 22:23] jnivre commented on #401
I think treating the verb as the head will be better for cross-linguistic parallelism.

[2017-01-18 22:25] jnivre commented on #386
Can't you use compound:lvc for N+V and compound:svc for V+V?

[2017-01-19 05:32] sebschu commented on #400
@dan-zeman I'd argue that even if part of the name is a preposition in the respective language, names like _Ludwig van Beethoven_ should always be analyzed as `flat`. For example, in German, there also exist names like _Hubertus von Hohenlohe_, which contain the preposition _von_ ('from') but _von Hohenlohe_ has the same distribution as any other last name and therefore it can also be used without

[2017-01-19 08:58] jnivre commented on #400
This argument makes a lot of sense to me.

[2017-01-19 09:16] bguil commented on #400
Agree with @sebschu. I don't see the benefit of annotating syntactic structure inside proper name.
For example in the Sequoia French corpus, we have "Dominique de Villepin" which is a French name, so _de_ should be ADP and "Hermann de Croo" which is a foreign name where _de_ is not preposition... For instance, I don't know the status of the _de_ in @mcdm's name!

[2017-01-19 10:10] spyysalo commented on #400
I'm not a great fan of marking structure in *Ludwig van Beethoven* either, but how about *Lord of the Rings*? What would the rule be for when to annotate structure in names and when to mark them with `flat`?

[2017-01-19 10:19] arademaker commented on #400
The POS tags will still be propositions and nouns etc, right ?

[2017-01-19 10:30] dan-zeman commented on #400
While I tend to agree with @sebschu 's arguments, I'm afraid that a "catastrophe" is unavoidable at the other end of the scale: is there an exact boundary between _Hubertus von Hohenlohe, Ludwig von Bayern, Ludwig Prinz von Bayern, König von Bayern_ etc.?

@arademaker : I strongly believe that _von_ should be `ADP` in German corpora, whether or not it occurs in a name, and regardless the dependenc

[2017-01-19 10:36] martinpopel commented on #244
@fginter: what about this issue?

[2017-01-19 10:48] jnivre commented on #400
@spyysalo _Lord of the Rings_ is definitely a compositional phrase. This has been discussed and settled long ago. As Dan says, a catastrophe is always looming large in these cases. For example, I have been told that, in "Leonardo da Vinci", "da Vinci" is not a a name in the modern sense, only a disambiguating locative modifier ("from Vinci"), but today I think most people regard "da Vinci" as simi

[2017-01-19 10:55] dan-zeman commented on #401
I prefer the verb as the head. But I would still make "Mohan ka" a dependent of "intizar".

[2017-01-19 16:15] vinbo8 commented on #386
I might be incorrect, but from what I can understand from #323, `compound:svc` applies when the actions denoted by two verbs occur sequentially, without explicit conjunctive markers? That wouldn't really apply here as one of the verbs doesn't actually "occur".

[2017-01-19 17:22] ftyers commented on #401
@dan-zeman Hmm, what relation would you give it ? `obj` or `nmod:poss` ?

[2017-01-19 17:29] spyysalo opened #402 "Empty nodes must have empty HEAD and DEPREL"
Regarding empty nodes, the format documentation (http://universaldependencies.org/format.html) currently reads

This implies that HEAD and DEPREL may contain non-empty (i.e. not underscore) values.

However, empty nodes do not participate in the primary tree represented in HEAD and DEPREL, and non-empty values HEAD / DEPREL values in empty nodes would not have a coherent interpretation.

The docum

[2017-01-19 17:33] spyysalo commented on #402
@fginter and @jnivre supported this chance (email/offline communication).

[2017-01-19 17:44] jnivre commented on #386
No, serial verbs do not refer to sequential events. They are complex predicates that typically refer to single events (although there are many things that have been called serial verbs).

[2017-01-19 17:54] #402 closed, assigned to spyysalo

[2017-01-19 21:32] riyazbhat commented on #401
I guess using nominal host as the head would be more appropriate and would not even violate parallelism. Light verbs function more like auxiliaries. They govern case marking, agreement and TAM. While host nominal is considered to be the true predicate in such constructions.

The evidence for host nominal as the head comes from code-mixed conversational data. In Hindi-English code-mixing, Hindi and

[2017-01-19 21:59] jnivre commented on #401
So what exactly is the analysis you are proposing? It is important that we maintain consistency across languages. Right now, it looks like we will end up with three different analyses of light-verb constructions, "obj" English (and many other languages), "compound:lvc" with verb as head in Persian, and "compound:lvc" with noun as head in Hindi. Are these distinctions really motivated or are we goi

[2017-01-20 01:03] riyazbhat commented on #401
If I am not wrong, Persian complex predicates show a similar behavior. In both languages, we can use  nominal host as head. English based analysis for complex predicates i.e. using ```obj``` is not at all valid for Hindi and Urdu and for most of the Indian languages. Objecthood is rather used as a diagnosis for differentiating between nouns that can and can't form complex predicates.

This analysi

[2017-01-20 08:29] jnivre commented on #401
I am still not convinced that the noun-as-head analysis is superior. If we accept that N+V is a complex predicate, it is nevertheless a verbal predicate. As far as I know, there are know examples of languages that drop the light verb in the same way that some languages drop the copula in nominal clauses. Hence, the predicate is not the noun, but the combination of verb and noun. And since the whol

[2017-01-20 08:46] jnivre commented on #377
Following up on the discussion about UD Japanese, it seems clear that the segmentation of derivational morphology is not consistent with general UD principles, nor with practice in other UD treebanks, so I definitely think that should be changed. Similarly, when it comes to verbal morphology, all the descriptions so far point to this being a regular and systematic case of agglutination, similar to

[2017-01-20 10:37] spyysalo commented on #377
@jnivre : thank you for addressing this issue!

There is a lot of discussion of inflectional morphology above but less of derivational, so to illustrate, one specific problem with the proposed treatment of derivational morphology is shown in [Tanaka et al. 2016](http://www.lrec-conf.org/proceedings/lrec2016/pdf/122_Paper.pdf) (page 4):

As discussed above, UD does not involve morphological segment

[2017-01-20 10:46] miyao-yusuke commented on #377
This statement requires the definition of "derivational morphological processes".  さ and っぽい are different from -ish and -like because they can be attached to any phrase or any clause.

My intention in the previous discussions is the boundary between morphology and syntax is often unclear, and we need a clear definition.

[2017-01-20 11:00] spyysalo commented on #377
Understood. We're hoping to establish cross-linguistically acceptable UD guidelines in a working group on the topic, and it would be great to have someone representing Japanese. Would you mind participating?

[2017-01-20 11:01] miyao-yusuke commented on #377
happy to join of course.

[2017-01-20 11:02] jnivre commented on #377
The main point is that "changing a noun into an adjective" is not a syntactic relation, so there is no appropriate UD relation to put on an arc between these two elements. This is a clear indication that this should be treated as word formation, not syntax, and it is exactly parallel to the argument against the old "DERIV" links in the Turkish treebank.

[2017-01-20 11:09] miyao-yusuke commented on #377
I see.  Maybe the original explanation in Tanaka et al. 2016 was not very accurate.  さ and っぽい do not only change a POS but they add some meaning, in a similar way to auxiliary verbs (they also change a POS in some cases).

[2017-01-20 11:09] spyysalo commented on #377
@miyao-yusuke :

Great, thanks!

I'll put together a brief document summarizing some of the proposals so far and will get back to everyone interested in the topic next week.

[2017-01-20 11:11] spyysalo commented on #377
This does also hold for "-ish" and "-like" in English.

(Maybe of interest: [Duncan *A Freezing Approach to the Ish-Construction in English*](http://www.ling.upenn.edu/Events/PLC/plc39/abstracts/posters/DuncanPLC39.pdf))

[2017-01-20 11:19] miyao-yusuke commented on #377
Sure, but I mean they are not purely functional.  Maybe they can be considered like "child-like"or "child like".

[2017-01-20 11:22] jnivre commented on #377
But what is the syntactic relation?

[2017-01-20 11:23] spyysalo opened #404 "When can empty nodes be used?"
I proposed an empty node example of the following type for the test suite

(where *[is]* is the empty node) and @fginter commented

I don't think this rule (empty nodes must be heads) is clear in the documentation.

We may wish to further clarify the rules on when empty nodes can be used. If hard rules of the type "empty nodes must be heads" are established, we may also want to enforce these in va

[2017-01-20 11:24] miyao-yusuke commented on #377
That's the problem, but it should be similar to "child like".

[2017-01-20 11:28] jnivre commented on #404
Filip is right, and it is clearly stated in the documentation here:http://universaldependencies.org/u/overview/specific-syntax.html#ellipsis

Case 1 says: If the elided element has no overt dependents, we do nothing.

[2017-01-20 11:47] martinpopel commented on #404
This is not the right link because [specific-syntax.html#ellipsis](http://universaldependencies.org/u/overview/specific-syntax.html#ellipsis)
discusses only basic dependencies, not the enhanced ones which can contain empty nodes.
Please correct me (and more importantly the documentation) if I am wrong.

The correct link is [enhanced-syntax.html#ellipsis](http://universaldependencies.org/u/overview

[2017-01-20 11:48] jmnybl commented on #377
Question on (Finnish) derivation lemmas: We tag the derivational forms according to the real POS tag ("childish" is tagged as ADJ, not NOUN), but sometimes, if Finnish morphological analyzer is not able to produce lemma for the final derived form, we keep the original form in the lemma field (here for example it would be the NOUN "child"). I assume that this is not the correct approach and we plan

[2017-01-20 11:49] jnivre commented on #377
@jmnybl Yes, this sounds completely correct to me.

[2017-01-20 11:53] dan-zeman commented on #401
@ftyers : Definitely not `obj`. _Intizar_ is not a transitive verb. And I also do not think that the _ka_ postposition is the way of encoding the grammatical function `P` in Hindi.

`nmod` would seem appropriate to me. Whether or not with the `:poss` extension depends on how this extension is defined in the Hindi documentation :-) Syntactically it is same as possessives, although semantically it i

[2017-01-20 12:19] danielrruf commented on #401
Same feeling here

2017-01-18 23:24 GMT+01:00 Joakim Nivre <notifications@github.com>:

[2017-01-20 13:40] fginter commented on #404
I suggest "a null node must have at least one dependent" be the principle.

[2017-01-20 14:20] dan-zeman commented on #404
Agreed with @fginter 's formulation, but I think this is one more candidate where a general CoNLL-U file could optionally allow more than UD released treebanks. I think the check could be optional in the validator, turned on by default.

[2017-01-21 12:15] mojgan-seraji commented on #401
As long as it concerns Persian and maybe similar languages I definitely prefer verb-as-head, depending on a number of reasons:

1. There are many main verbs in Persian that function as light verbs in a very abstract semantic interpretation (Seraji, 2015). For instance, the main verb "eat" can function as a light verb in "to-eat ground" (to fall down), or in "to-eat eye" (losing fortune or to be pu

[2017-01-22 00:05] manning commented on #400
I do think it is essential that we at least have clear documentation of such cases, since several of them are quite common. Even if the decisions are only conventions, and ones on which there is not full agreement, I think we need clear guidelines to try to achieve the goals of intra- and inter-treebank consistency.

I don't think the catastrophe argument is proof of anything, since if (in our sym

[2017-01-22 00:50] manning commented on #390
@nschneid They're marginal in various ways, but there are other constructions with a determiner before a pronoun.  E.g.: "I was hoping for a she in that position." "A ship is called a she because ..." I think the dubiousness/lack of passivization has a reasonable discourse explanation: This is a focusing construction whereas passivization topicalizes the subject.

I think there is an agreed analys

[2017-01-22 00:50] #390 closed, assigned to nobody

[2017-01-22 01:26] amir-zeldes commented on #400
On `Mr.` etc. see also #324 (closed but was never really concluded, and there are a lot of interesting cases and points regarding titles there)

[2017-01-22 01:27] manning commented on #374
Hi @ermanh, as you can see in the discussion @jnivre referenced, following some input from Bill Croft, most of the actual hashing out of what to do with `clf` was between @jnivre and me, and I can confidently say that neither of us consider ourselves experts in this area. So, if you wanted to expand and even change the guidelines for `clf`, we'd be very happy to have you do it! I think this would

[2017-01-22 01:39] amir-zeldes commented on #374
Is the preferred analysis the same for "one cup quinoa"? (in a recipe context)

[2017-01-22 11:24] dan-zeman commented on #374
@amir-zeldes : I would not use `clf` in languages where classifiers are not considered an established part of the grammar. I think in English you could just say that there is an elided preposition _of_.

[2017-01-22 20:10] martinpopel commented on #396
So should we add the `nsubj > obj > iobj > obl > advmod > csubj > xcomp > ccomp > advcl` priorities into the documentation?

[2017-01-23 07:59] jnivre commented on #396
Sounds good to me.

[2017-01-23 13:23] ermanh commented on #374
Hi @manning, thanks for the detailed reply. I won't claim to be an expert on classifiers as a cross-linguistic phenomenon myself either, and was very much hoping that other people working on classifier languages could chip in (e.g., Vietnamese, Japanese), but since I happen to be working on two of these languages, Cantonese and Mandarin, I've found the data to be more complicated.

I do see the me

[2017-01-23 14:59] spyysalo commented on #404
OK by me. I can add this to the validator.

[2017-01-23 19:17] jnivre commented on #374
I can see the advantages of a flat analysis, which I considered myself initially, but it would be interesting to hear some more perspectives.

@wcroft What is your take on this?

[2017-01-23 22:22] wcroft commented on #374
Hello all,

Greetings -- this is my first contribution to any UD discussion on github, so please accept my apologies for not being familiar with what went before (and for still needing to learn about how to format comments in github, which is also new to me).

 I'm a typologist who got interested in UD, in part because the goals of UD overlap with my goals of teaching typological syntax to undergr

[2017-01-24 05:10] ermanh commented on #374
Hi @wcroft, it's great to have an typologist on board. I am new to UD and the github discussions myself, so far from being in the capacity to welcome you, I'm very glad you're able to lend your expertise.

From what I understand, and if I may respond and ask for clarification on each point, you recommend:

**1. clf(NUM, CLF) whenever a numeral is present** (regardless of what else is present/absen

[2017-01-24 08:57] jnivre commented on #374
I will only comment on the general question of whether it is necessary that all languages with classifiers adopt the same analysis, and leave the finer details to those with more knowledge.

One of the golden rules of UD is: "Don't annotate the same thing in different ways!" It is the essential idea of UD. So, if two languages have essentially the same construction or phenomenon, it should be trea

[2017-01-24 10:49] dan-zeman commented on #374
@ermanh , could I ask what makes measure units and words like "day" and "year" syntactically closer to classifiers than to nouns in Chinese languages? Is it just the fact that they themselves do not require another classifier in expressions like "two years" or "fifty kilometers", or is there more to it?

As for the UPOSTAG, I assumed that Chinese classifiers would be tagged `NOUN`. Is there a reco

[2017-01-25 05:34] wcroft commented on #374
Let me start with the general issue that @jnivre brings up. It is definitely important to annotate the same thing in the same way in different languages, otherwise crosslinguistic comparability is compromised. But I would say that what is the same (comparable) across languages is a particular function performed by a word. This is what I had in mind with clf in the passage that @manning cited in ht

[2017-01-25 09:26] ermanh commented on #374
Hi @dan-zeman, Chinese classifiers and nouns differ syntactically in a number of ways, and measure words side with classifiers in all of the following. In general:

1. As you mentioned, and the most obvious, classifiers cannot be preceded by another classifier
2. Numerals can modify bare classifiers, but not bare nouns
3. Adjectives can modify/immediately precede bare nouns, but not classifiers
4.

[2017-01-25 15:35] wcroft commented on #374
A couple brief comments on POS tagging of Chinese classifiers. The UD POS tags make up a small set and so that will require lumping together of words that have somewhat different syntactic distributions. This is necessary to improve crosslinguistic comparability, and to make a practically useful POS tagset.

But in fact, even the traditional word classes given to languages lump together words that

[2017-01-25 17:06] dan-zeman commented on #222
I have now fixed the auxiliary chains in both UD_Catalan and UD_Spanish-AnCora (I have also converted them to UD v2, and this fix is a side effect). @hectormartinez it's your turn - please re-run your scripts that split/mark multi-word tokens, because another side effect is that I rewrote these changes of yours. Warning: you may need to tweak your software first, as the data now contains the Space

[2017-01-25 17:06] #222 closed, assigned to dan-zeman, ngiordani

[2017-01-26 16:32] tlynn747 commented on #274
@spyysalo @MathieuDehouck @dan-zeman Please note that we're addressing this in the v2 updates.

[2017-01-27 07:33] ermanh commented on #374
@jnivre, @wcroft, thanks for the clarifications and re-emphasis on the tenet of crosslinguistic comparability. I hope I wasn't coming off as antagonistic in some way in my attempt to illustrate how and why the Chinese data seemed like such a headache (at least to me) in my effort to figure out how to deal with classifiers in UD.

In any case, I'm happy with where the conversation has led, and it l

[2017-01-27 15:48] wcroft commented on #374
@ermanh, your conclusions in 1-2 follow my suggestions except for 2.2 -- I wrote that for Ejaghom and Kegboid an nmod analysis is etymologically correct, but synchronically it should be analyzed like other numeral classifiers, i.e. with nummod (NOUN,NUM) and clf(NUM,CLF). Not that we're going to see a treebank of a Kegboid language in the near future.

But I defer to @jnivre , @manning and the UD

[2017-01-27 16:11] dan-zeman commented on #282
Fixed in https://github.com/UniversalDependencies/UD_Polish/commit/51d01dffc31018805a4d13938495e7988ef6f36a.

[2017-01-27 16:11] #282 closed, assigned to dan-zeman

[2017-01-28 07:46] jnivre commented on #374
This all sounds great to me. Let me also say that I think this has been a very constructive discussion and not the least bit antagonistic.

[2017-01-28 07:46] jnivre commented on #374
I forgot to say that it would be excellent if someone could write this up and add it to the documentation for the "clf" relation.

[2017-01-28 14:34] dan-zeman commented on #374
@ermanh, thanks for the detailed comparison with measure words! Yes, I also think that a feature (language-specific at the moment) is the way to go when a distinct subclass of a POS category is to be labeled. `NounType=Clf` sounds perfect to me.

@jnivre, maybe we should put the summary not only to the documentation of the `clf` relation, but maybe also somewhere in the general list of constructio

[2017-01-28 16:55] dan-zeman opened #406 "V2 validation"
The validation script (https://github.com/UniversalDependencies/tools/blob/master/validate.py) and its on-line output (http://universaldependencies.org/validation.html) currently fails to report certain errors that are not allowed in UD-released data. The following should be checked:

1. Presence of (just one) `# sent_id = ` comment before every sentence.
2. Uniqueness of the sentence id (it must

[2017-01-28 18:48] msimi commented on #406
What is the best practice for including a treebank unique sent_id (say XXX) and at the same time the sentence id (say YYY) within a specific resource (say ZZZ) contributing to the treebank?

Would something like this be considered compliant?

# sent_id = ZZZ-YYY
# text = …

or we could do something like:

# sent_id = XXX
# ZZZ  id = YYY
# text = …

Also should it be NoSpaceAfter=Yes or SpaceAfter=

[2017-01-28 21:02] martinpopel commented on #406
Yes, technically any sent_id matching the regex [a-zA-Z0-9_-]+ is ok.
Slash character (/) is forbidden, except for parallel treebanks as described in
https://github.com/UniversalDependencies/docs/issues/321

Personally, I would suggest to keep sent_id short (and unique within the treebank, of course).
Sent_id may be used in future for annotating coreference, discourse relations, bridging, alignmen

[2017-01-29 00:57] manning commented on #374
Thanks, @ermanh and @wcroft (and welcome!). Not antagonistic at all. I think the tension between good language-particular analyses vs. good language-universal ones is one we all struggle with, particularly when thinking about the details of languages that we know well.

Catching up, my summary is that there are two sort of plausible analyses, the "historical" one where you have the number word mod

[2017-01-29 02:38] qipeng commented on #374
A bit late (and new) to the discussion, but here are some thoughts about the analyses and classification of measure words. A lot of this build on knowledge about Mandarin and limited knowledge about Cantonese and Japanese, and that I have personally struggled with this particular case when working on UD for Chinese (primarily Mandarin).

**Analyses**
The main discussion seems to center around the

[2017-01-29 10:49] dan-zeman commented on #406
@msimi

Yes, that is compliant.

`SpaceAfter=No`

[2017-01-30 10:30] fginter commented on #406
Little progress report on this one:

1. sent_id now deployed (including uniqueness across multiple files)
2. text and SpaceAfter=No in the works and will be deployed later today

@martinpopel  --  I'll add a check which will fail NoSpaceAfter=Yes in the validation. Good catch.

[2017-01-30 10:34] martinpopel commented on #406
Great.
Now I see where the `NoSpaceAfter=Yes` comes from: @jnivre 's [email](http://stp.lingfil.uu.se/pipermail/ud/2017-January/000379.html). So hopefully, it is not present in any treebank (yet).

[2017-01-30 10:54] jnivre commented on #406
Well, it was present in UD_Swedish, because of the same "slip of the brain" that caused it to appear in the email, but it is fixed now.

[2017-01-30 11:03] dan-zeman commented on #406
@fginter : Great news you're on the case, thanks! However, the currently deployed version still seems to not recognize the ids:

[code]

[2017-01-30 11:07] fginter commented on #406
Give me an hour. This thing is now in a free-fall state as I am putting everything together and making sure everything is in sync with everything. :)

[2017-01-30 11:09] fginter commented on #406
NoSpaceAfter=Yes will be checked in the validator now. This version will hopefully be the most paranoid version of the validator ever. :)

[2017-01-30 11:27] spyysalo commented on #406
`SpaceAfter`, not, `NoSpaceAfter`, right?

[2017-01-30 11:28] spyysalo commented on #404
Done a while ago, forgot to close.

[2017-01-30 11:28] #404 closed, assigned to nobody

[2017-01-30 11:31] jnivre commented on #406
Yes, it should be SpaceAfter=No, but because of some crossed wires in my brain I wrote NoSpaceAfter=Yes in a mail to the UD list recently (and temporarily added it to UD_Swedish). Because of this, Filip is adding a check to make sure that no one is following my example (which was corrected in a later email).

[2017-01-30 11:37] fginter commented on #406
Guys, I'm really confused with this `sent_id` attribute.

@martinpopel:

@martinpopel:

@dan-zeman:

I mean, I can code anything you want into the validator. But please tell me how do I for example check "Slash character (/) is forbidden, except for parallel treebanks" in the validator? How do I know (in the validator and the surrounding automatic validation pipeline) what is a parallel treebank a

[2017-01-30 11:52] dan-zeman commented on #406
Ah, I see the problem now, sorry for the confusion. @martinpopel wanted to reserve the slash character to have a special meaning in certain tools but I am actually using these tools to generate UD data, and as a consequence the slash character appears there. Not a big deal, I can make it disappear if that's what we want to release, just please then make the error message a bit more user-friendly (

[2017-01-30 12:02] fginter commented on #406
...for non-existence that is. :smile:

[2017-01-30 12:08] fginter commented on #406
Thanks, @dan-zeman. I will leave the slash allowed now and I can do the language code check. Since the validator gets the `--lang` parameter, that should, match, right? Also: will improve the error message. I would like to avoid things like `--slash-in-sent-id-allowed`. :smiley:

[2017-01-30 12:20] martinpopel commented on #406
Yes. To summarize:
* with `--lang=ud` a slash in `sent_id` is allowed (otherwise the whole idea of downstream use would not make sense)
* with other lang, no slash is allowed and Dan will remove it from the Arabic data. We can weaken this rule in future.

In future we can:
* allow `--lang=en,de` etc. for parallel treebanks, or `--lang=en,en` for paraphrases etc. This would allow slash in `sent_id`

[2017-01-30 12:36] fginter commented on #406
OK. So I will now code in that any non-space string is fine and should have a maximum of one slash, and that only in case of `--lang=ud`. Let's get back to the more complex stuff later. This will be deployed in 10min or so.

[2017-01-30 13:00] fginter commented on #406
OK. So to the best of my knowledge, all of what @dan-zeman listed when opening this issue is now in and deployed. I will keep checking and debugging, but closing for the time being. Reopen this, or open new issue in case the validator fails to pass or fails to fail something. :)

[2017-01-30 13:29] fginter opened #407 "SpaceAfter=No forbidden for words"
Just to make sure I am getting this right. I now added a check into the validator which forbids SpaceAfter=No on **words** which are a part of a **token**. So

[code]

I think the former makes sense because the tokens are what corresponds to the `text =` attribute and also because the `FORM` columns of the words do not have to catenate into the `FORM` column of the token.

Is this ok?

[2017-01-30 13:35] foxik commented on #407
Yes, it is exactly the behaviour specified by the [CoNLL-U format specification](http://universaldependencies.org/format.html), quoting from the "Untokenized Text" section:

[2017-01-30 13:37] fginter commented on #407
I should have RTFM. Thanks! :smile:

[2017-01-30 13:37] #407 closed, assigned to nobody

[2017-01-30 17:50] GPPassos commented on #315
Is this still being considered for an universal level treatment?

Naturally we're having this kind of issue at https://github.com/own-pt/bosque-UD and we're considering solving this as in option 1, as Dan suggested.
If we're being "intrusive" enough in mesoclisis (as in _tratar-se-á_), it makes sense being equally "intrusive" at enclisis, for instance marking _Fê-lo_ as _Fez + lo_, using underlyin

[2017-01-30 19:29] dan-zeman commented on #315
+1 for decomposing _fê-lo_ as _fez_ + _lo_. It seems also consistent with our evergreen Spanish example _vámonos_ = _vamos_ + _nos_ (OK, just realized that I am repeating myself here, sorry).

In general, I am afraid that it is not being considered for a universal guideline—not now. First, it is language-specific and it is difficult to make universal claims. Second, it is difficult to throw away e

[2017-01-30 19:29] martinpopel commented on #315
Lemmas are *do* + *not*. This is important for me.

Personally, I prefer if the concatenation of word forms gives the form of the multi-word token. Of course, this is not always possible and other guidelines are needed (and that's the topic of this issue). But in English it is possible.

[2017-01-30 22:44] yoavg commented on #315
fwiw, we had a similar discussion in the Hebrew UD two weeks ago.

https://github.com/UniversalDependencies/UD_Hebrew/issues/10

I think this should definitely be "universalized" at some point, but lets
wait for after the v2 release.

On Mon, Jan 30, 2017 at 9:29 PM, Martin Popel <notifications@github.com>
wrote:

[2017-01-31 01:28] sebschu commented on #396
This might be too late now and I don't feel too strongly about it, but what if we used a different hierarchy so that we end up with constructions that are more parallel to copular constructions (and that way potentially avoid a catastrophe in languages where copulas can optionally be omitted)?

In practice, this would mean that we put the `nsubj` much lower in the hierarchy so that it is typically

[2017-01-31 08:34] jnivre commented on #396
I can see the point of this, but I am not sure the advantages are strong enough to motivate an apparently ad hoc exception to the obliqueness hierarchy. Also, the whole point of the "orphan" relation is to have a warning flag signaling "don't trust this structure to reflect real dependencies", so I am not sure it is only an advantage if the structure looks plausible. And, yes, I think it may be to

[2017-01-31 09:53] livyreal commented on #315
For "fê-lo" the lemmas are "fazer" + "ele".

If you want to keep "lo" as a token (and not as a lemma!), it makes sense to keep "fê" as a token too, since those forms only happen in these contexts. It is consistent to treat "fê-lo" as "fê + lo" or "fez + o" ("o" is the accusative form of "ele", as him/he), but if the tokenization is "fez" + "lo", we would be using two different criteria to tokenize

[2017-01-31 10:45] hectormartinez commented on #315
Since we are aiming for harmonization across the Romance treebanks, here's
my two cents.

Clitics are (also) hyphenated in Catalan,
but in the current version the clitic keeps the hyphen

1   fer   fer    VERB
2   -ho    el    PRON

I have to insert the multiword tokens (fer-ho) in this case, but I
guess I should also remove the hyphen from the clitics, right?

Longer clitic chains can have hyphen

[2017-01-31 10:48] jnivre opened #408 "Ablative absolute and related constructions"
How do we annotate constructions similar to the latin ablative absolute such as the following:

(1a) (it came) with a warning attached to it
(1b) (they fought) with the pen as their weapon
(1c) (she arrived) with a suitcase in her hand

And how do they compare to:

(2a) (it came) with a warning
(2b) (they fought) with the pen
(2c) (she arrived) with a suitcase

The examples in (2) seem like clear

[2017-01-31 11:58] daghaug commented on #408
I think the predicative nature should take precedence. Your (1) and (2)
seem very parallel, but many examples of the predicative construction do
not have intuitive parallels in (2). For example,

(3a) With the engine removed, unbolt the rear engine mount that's
positioned on the subframe and remove it along with the two front
insulator mounts.
(3b) With the enemy destroyed, the prisoners released

[2017-01-31 12:04] jnivre commented on #408
So what is the concrete proposal?

advcl(unbolt, removed)
nsubj(removed, engine)
mark(removed, engine)

[2017-01-31 12:12] ftyers opened #409 "Possessives with secondary"
We have a question with how to annotate (1), especially with respect to (2)

[code]

We think the analysis should be:

[code]

Is there a similar case in Finnish or other languages? I know in Spanish you can say something like "Tengo las manos congeladas" but this is a slightly different construction.

[2017-01-31 12:24] jnivre commented on #409
Shouldn't it be "obl" or "obl:own", rather than "nmod:own" given that it attaches to the predicate?

[2017-01-31 12:26] ftyers commented on #409
Yes, read `obl:own` for `nmod:own`, well spotted!

[2017-01-31 12:41] daghaug commented on #408
advcl(unbolt, removed)
nsubj(removed, engine)

is how we do an ablative absolute in Latin, so I'd vote for that. And
then mark(removed, with)

[2017-01-31 12:41] gossebouma commented on #408
Shouldn't that be
nsubj:pass(removed,engine)?

Dutch has this construction as well. The literature suggests these can occur with adjectives or passive participles, but in our treebank I find only cases with PPs:

met Sheila E op de drums
with Sheila E on the drums

sometimes with the PP preceding the NP:

met tussen haakjes de postnummers
with between brackets the postnumbers

including 'adverbial

[2017-01-31 12:45] jnivre commented on #408
Yes, it should be nsubj:pass. Nice catch!

In Swedish the case with prepositional phrases also dominate. Given that we have now decided to treat prepositional phrases as predicates in copula constructions, it seems appealing to give a parallel treatment in these constructions:

NN is on the drums
nsubj(drums, NN)

with NN on the drums
nsubj(drums, NN)

[2017-01-31 14:00] gcelano commented on #408
I think that in the end it depends on how much one is willing to treat such constructions as a grammaticalized way to express a clause.

This is the case of the Latin ablative absolute, where it is treated as a kind of subordinate clause (so advcl + nsubj, which has :pass only if the participle is passive). Another similar Latin construction is ad + acc + gerundive, which usually, but not always,

[2017-01-31 14:42] daghaug commented on #408
I think the point is that if you remove "removed" from "with the engine
removed", you get a very different meaning, which shows that it cannot
be a mere adjunct. So it is too surfacey to just look at P + N +
participle strings.

Also, there are syntactic differences in many languages. Dutch and
Scandinavian were mentioned. In English too, "with the engine removed"
is different from "with the remov

[2017-01-31 20:08] dan-zeman commented on #409
Isn't it secondary predication? I see two predicates there: "child is on me (I have a child)" and "child is ill". That could lead to something like

[code]

[2017-01-31 20:27] nschneid commented on #408
In addition to a participle or PP, the construction can also be used with a non-participial adjective phrase complement:

With the staff unavailable, we had to do the work ourselves.

The construction is sometimes analyzed as a verbless small clause: With the staff ∅(BEING) unavailable.

[2017-01-31 22:41] arademaker commented on #315
For UD v2 in UD_Portuguese we will follow the decomposing fê-lo as fez + lo. We can eventually revise it latter. No hyphens in the parts, only in the multiword token.

[2017-02-01 00:28] martinpopel opened #410 "Abbreviation at the end of sentence"
The [documentation](http://universaldependencies.org/u/overview/tokenization.html) says abbreviations like _e. g._  can be annotated as multitoken words, but there is no more info on the tokenization. I understand it that it could be also annotated as one token and one word (esp. if it is written without space).

In particular, I am interested in how to deal with abbreviations at the end of senten

[2017-02-01 00:32] martinpopel commented on #410
See also related comment https://github.com/UniversalDependencies/docs/issues/112#issuecomment-63777269 and issue https://github.com/UniversalDependencies/docs/issues/181

[2017-02-01 06:38] sebschu opened #411 "Enhanced representation of gapped construction in English"
I'm currently struggling with providing the right analysis for the following sentence:

_Birds eat and sleep with their flock, not predators._

I would say that the basic representation should have the following dependencies:

`conj(eat, predators)`
`orphan(predators, not)`

But what about the enhanced representation? Should we have empty nodes for both verbs and their coordinating conjunction, an

[2017-02-01 07:37] jnivre commented on #409
Well, it depends on which paraphrase you trust. If it essentially means "my child is poor", I don't think it should be analysed as secondary predication.

[2017-02-01 08:34] dan-zeman commented on #410
As it does not involve two or more real syntactic words (i.e. something more than just a word and a symbol), I vote against C.

I also think A is bad because one does not expect tokenization (the low-level one, as oposed to word segmentation) to introduce a punctuation symbol that did not come in the input.

Whether it is better to give higher priority to the sentence-terminating function (and mak

[2017-02-01 08:52] jnivre commented on #410
This is partly a philosophical question, because we first have to agree on whether there exists one or two dots. C implements the view that "r." + "." is contracted to "r.", while B implements the view that abbreviation-final "." is omitted after sentence-final "." and D implements the view that sentence-final "." is omitted after abbreviation-final "." I personally find C most convincing theoreti

[2017-02-01 09:01] jnivre commented on #411
First of all, I would vote for advmod(predators, not) instead of orphan(predators, not). The guidelines say that we don't use "orphan" for functional relations (like "cc", for example). I agree that "advmod" is borderline in general, but I would argue that negation should go with the functional relations.

As for empty categories, I would advocate a minimal approach, which in this case just involv

[2017-02-01 09:04] gcelano commented on #408
it also seems that the case "with the engine removed..." and "it comes with a warning attached to it" are the same only on the surface. While the first with-constituent could be substituted with "after the removal of the engine", I cannot find a similar substitution for the second "with" (Prep + the attachment of a warning). In my view, the posiibility of a substitution with a deverbal noun suppor

[2017-02-01 09:07] dan-zeman commented on #411
+1 on advmod(predators, not).

It was my first reading that predators don't eat and sleep with their flock.

Finally, while I do see the missing predicate there, in this case I would feel sort of OK with just conj(birds, predators), no empty nodes involved. Consider 1. (both) birds and predators sleep; 2. birds but not predators sleep; 3. bird unlike predators sleep; 4. birds, not predators, sleep

[2017-02-01 09:23] dseddah commented on #411
Hi all,

at first I  got the second reading (predators don’t eat…).  Mb because of my non-nativeness I have troubles to get the first reading because of the  « with » ellipsis as in

1a)   I  like eating with Mary, not John   (-> john doesn’t like eating w/ M)
  b)   I like eating with Mary, not with John (—> I don’t like eating w/ J)

are both reading possible with 1a too?

Djamé

[2017-02-01 12:14] dan-zeman opened #412 "Paragraph and document boundaries"
UD guidelines currently do not specify how to mark document and paragraph boundaries and for many treebanks such information is not available (original text gone, sentences shuffled etc.) But where it is available, it can be potentially useful for applications, including but not limited to sentence segmentation.

I am going to acquire this sort of annotation from data providers who have it, and ma

[2017-02-01 12:22] ermanh commented on #374
@jnivre, @manning, @dan-zeman, glad to hear it, and thanks @manning for updating the `clf` page.

@wcroft, regarding 2.2, I was actually also (and mostly) thinking of the Chinese cases where measurement units can optionally be followed by a genitive marker before the noun. For example:

[code]

There is practically no semantic difference with or without the genitive marker, so I was thinking that

[2017-02-01 13:12] martinpopel commented on #412
I am not sure if there are more treebanks where sentences span over more paragraphs and the paragraph boundaries are annotated.
In [UD_Czech-CLTT](https://github.com/UniversalDependencies/UD_Czech-CLTT) original [data](https://lindat.mff.cuni.cz/repository/xmlui/handle/11234/1-1516), the boundaries were detected (and sub-sentence segments annotated independently, see [this prezentation](https://pr

[2017-02-01 13:57] kmuis commented on #409
Nominal in adessive  (pronoun 'mul' in the example) in this kind of constructions is termed „external possessor”; I would rather agree with the annotation proposed by ftyers, so 'haige' would be the root.

[2017-02-01 14:06] jnivre commented on #412
I guess if people are unhappy about having paragraph information at the token level, we could make a distinction between intersentential paragraph boundaries, which would be annotated at the sentence level just like the document boundaries, and intrasentential paragraph boundaries, which (where they exist) would be annotated at the token level in the MISC field.

[2017-02-01 15:07] dan-zeman commented on #409
OK, fine with me.

[2017-02-01 15:59] ftyers commented on #409
@fginter can something similar be done in Finnish, if so, what is the analysis that you use there ?

[2017-02-01 18:15] msklvsk commented on #412
Confirming: we have multiple places in Ukrainian where sentences span across paragraphs: dialogs, lists in legal texts, verse. Those pars were originally present in the source. Your proposal looks good.

[2017-02-01 22:07] sebschu commented on #411
You all confused me :)  But based on the context and on native speaker judgements, the intended reading is really that birds don't sleep and eat with predators. (Though one of our syntacticians who is a native Bulgarian had the same intuition as the three of you.)

And I'll go with Dan's suggestion to not have any empty nodes. I think we should only insert empty nodes if there are `orphan` depende

[2017-02-01 22:07] #411 closed, assigned to nobody

[2017-02-01 22:08] sebschu commented on #411
I'll also collect some of these examples while I'm annotating the treebank and I'll add them to the documentation when I get a chance.

[2017-02-01 22:31] dseddah commented on #411
while I'm here, is there a specific thread regarding enhanced dependencies? my colleagues and I are considering doing a enhanced dependency conversion of the French Treebank (already available within a graph-based deep syntax native scheme and soon available with UD 2.0 too)

[2017-02-01 22:47] sebschu commented on #411
I don't think so but you are welcome to start a thread. And that sounds great, we would love to see that happening!

[2017-02-02 09:33] liljao commented on #406
I am getting an error message on the validator page for the Norwegian Nynorsk treebank:
"Unknown UD DEPREL: nsubj:pass".

Is this a bug? We have the same secondary types in the Norwegian Bokmål treebank and it passes validation.

[2017-02-02 09:39] fcbr commented on #406
You need to make sure that `nsubj:pass` is listed in this file:

https://github.com/UniversalDependencies/tools/blob/master/data/deprel.no_nynorsk

Compare to the one for Norwegian Bokmål  https://github.com/UniversalDependencies/tools/blob/master/data/deprel.no_bokmaal

[2017-02-02 10:14] fginter commented on #406
@fcbr beats me to the reply by 10 seconds. You're fast! :smile:

[2017-02-02 10:14] #406 closed, assigned to fginter

[2017-02-02 11:33] foxik commented on #412
I like Nivre's suggestion -- maybe we could have `# newpar` comment for paragraph boundaries at sentence level, and `NewPar=Yes` for in-sentence paragraph boundaries (i.e., used only on non-first token). That way processing can be symmetrical to documents if people care only for paragraph boundaries at sentence level (which I assume would be most usages for automatic processing, judging from how I

[2017-02-02 11:59] dan-zeman commented on #412
Fair enough. So the new proposal would be:

- The first sentence of a new document contains a comment that says `# newdoc`. (Nothing more. You can have a separate comment with a document id if you like, but I want to be able to recognize documents even if they don't have ids.) It is not necessary that the first sentence of a CoNLL-U file has the `newdoc` comment (e.g. if the document is split betw

[2017-02-02 12:20] jnivre commented on #412
Looks good to me. Working on it.

[2017-02-02 13:12] jnivre commented on #412
I implemented the version with "# newdoc id = xyz". I can easily change this if people don't like it.

[2017-02-02 13:23] martinpopel commented on #412
I also agree.
Note that this is related to the way how test data for CoNLL2017 shared task will look like. (I know there is a special repo, but let's discuss it here for convenience.)
Participants' code at http://tira.io will get an input plain-text file with the test set sentences and my suggestion is
* Word-wrap all lines to 80 characters.
* Sentences are separated by a single space (sentence se

[2017-02-02 15:41] foxik commented on #412
Personally I like the `# newdoc( id = .*)?` version with optional `id`. We could allow this also for paragraphs (we needed sentence ids in V2, so maybe paragraphs ids could come up later). In case of paragraphs, in addition to `# newpar( id = .*)?` we would need a feature for MISC column -- something like `NewPar=Yes|NewParId=...`?

@martinpopel Personally I would not mark intra-sentence paragraph

[2017-02-02 15:50] dan-zeman commented on #412
OK, I will have ids in Czech as well.

@foxik : The task is about parsing raw text as in real world, thus I would not hide intra-sentence paragraphs from the systems.

Sentences in Chinese are not separated by spaces (purely visually they are, because the period glyph leans towards the left edge of the square it is assigned), so we should make sure not to add any spaces in these languages. Conside

[2017-02-02 16:10] amir-zeldes commented on #412
I've been using:

[code]

At the first sentence, based on the CoNLL coreference shared task format. But I'm happy to switch to

[code]

I would only vote against:
  * Separate comment for new document beginning and the ID (this could lead to having a doc ID without the newdoc comment, which I think is an error)
  * Marking anything with double blank lines - we have comments and we have 1 blank lin

[2017-02-02 16:11] martinpopel commented on #412
`sent_id` *can* encode the document ID and paragraph ID. This internal structure of `sent_id` is already used in several treebanks, although it is not standardized yet (e.g. `cmpr9406-009-p3s1` means doc=cmpr9406-009, paragraph=3, sentence=1).
On the one hand, I would prefer simplicity and just one attribute `sent_id` instead of `sent_id` + `newdoc` + id + `newpar` + id (not to mention the token-l

[2017-02-02 16:15] martinpopel commented on #412
This is misunderstanding. The double newline I mentioned was for *plain-text* files as an input for the parsers in CoNLL2017 *shared task*, not for the CoNLL-U format.
So don't worry, no one suggests double blank lines in CoNLL-U.

[2017-02-02 16:17] wcroft commented on #374
The discussion about classifiers and measure expressions led me to take a quick look at chapter 1 of  Karen Adams' monograph on classifiers in Austroasiatic, which can be downloaded [here](dx.doi.org/10.15144/PL-B101). Adams describes a variety of quantification types in Table 1.1, page 4, but later says, correctly I think, that they can be thought of essentially as cases of "counting" or "measuri

[2017-02-02 16:18] amir-zeldes commented on #412
Oh, OK, my apologies I misunderstood.

BTW I also embed the doc id into the sentence id, but I also use a newdoc comment. It's easy to ignore stuff you don't need...

[2017-02-02 18:52] #396 closed, assigned to nobody

[2017-02-02 19:52] sebschu opened #413 "Validation script: Mismatch between the text attribute and the FORM field error."
The validation script seems to check that the text attribute is equal to the concatenation of the form values (respecting the SpaceAfter attribute) but this leads to many validation errors in the English treebank. Our FORM values are based on the output of the PTB tokenizer but I extracted the sentences from the original untokenized text (which I and @manning strongly believe is the right thing to

[2017-02-02 20:32] jnivre commented on #413
Why does the tokenizer remove the accent? Does the PTB tokenizer produce plain ascii? I can see how it makes sense in the monolingual context to retain compatibility with existing tools, but it is more doubtful in the multilingual context if we want to encourage people to come up with solutions that generalize well across languages.

[2017-02-02 20:32] martinpopel commented on #413
Would not it be better to fix the forms, i.e. change "entree" to "entrée"? This could be done automatically. I can help with this if needed.

[2017-02-02 21:20] foxik commented on #412
I understand why @martinpopel and @dan-zeman want the inter-sentence paragraphs in the raw data, so let them be there.

BTW, note that this just means that in the raw data there are multiple types of paragraphs, because in some languages (at least English and Czech) some paragraph boundaries are used as sentence-level breaks unconditionally (I guess at least heading / text break), while some not (

[2017-02-02 21:45] fcbr commented on #413
We were also hit by this, but mostly due to `SpaceAfter` and multi-word token issues.  A few cases there was case discrepancy.

There are a few cases where there are typos in the original text (which we want to preserve, of course), and our tentative decision is to preserve them in the `form`, but keep the correct `lemma`.

[2017-02-02 21:52] sebschu commented on #413
Yes, the PTB tokenizer produces plain ascii.

I'm a bit uncertain what to do about this. From a pure UD-perspective, it would of course be better to update the forms. But given how widespread the use of the PTB tokenizer (or variants of it such as our CoreNLP tokenizer) is, it also seems very problematic to change the tokenized output. And we would also lose the correspondence with the constituent

[2017-02-03 04:47] qipeng commented on #374
@ermanh I was more trying to unify notations and give a universal analysis in that example.

Actually for Mandarin, I just realized `CLF NOUN` could be somewhat ambiguous/not distinguished. Using your example:

她     买    了        本     书
She  buy  PERF  CLF   book
She bought a book

I (as a native speaker) would instinctively consider this [CLF book] part to be equivalent to [one book] (which sug

[2017-02-03 05:48] jnivre commented on #413
In general, I think the approach of doing normalisation at the lemma level is the right one. For example, if you think that "entrée" and "entree" are alternative word forms of the same lemma, and if you think the normalised form should be "entree", you can put this into the lemma. As regards the PTB standard, we have already departed from it by using "(" instead of "-LRB-", and I honestly think th

[2017-02-03 06:04] sebschu commented on #413
After thinking more about this, I agree, we probably shouldn't cling on a standard from 1993, and instead update the FORM values and potentially keep the standardized values as lemmata. In the short term, this will make the data useless for most English pipelines but hopefully in the long run, people (including us ;)) will adapt. I'll just wait for @manning to comment on this before going ahead; h

[2017-02-03 06:38] martinpopel commented on #413
but a bit more useful for all the real-world application (unless we consider PennTB science a real application).

[2017-02-03 09:16] jmnybl commented on #409
In Finnish you can say "_mulla on lapsi sairaana_", but I did not find this from our treebank. But we have "_sulla on koti olemassa_" (on_you is home existing), which means "you have a home" and "the home exists". Is this something similar?

[2017-02-03 09:34] ftyers commented on #409
@jmnybl If you had "mulla on lapsi sairaana" in the treebank how would it be analysed ? @kmuis does this look like the same thing?

[2017-02-03 11:06] arademaker commented on #412
@dan-zeman  In the UD_Portuguese we have the original documents and their sentences. We don't have the paragraphs explicit but we may be able to recover it in the future from the original Linguateca files. About the suggestion of annotation, I would prefer to have all metadata in the comment lines in a more uniform manner `KEY = VALUE`, this would facilitate the parsing of CONLLU files. That said,

[2017-02-03 11:11] ermanh commented on #374
@wcroft, it sounds like you're inclined to suggest that measure words be linked to the noun with `nmod`, regardless of whether the construction is genitive, and regardless of whether they are regarded as classifiers in individual languages, right? -- Or in any case, never labeled with `clf`.

Just to make sure we all mean the same thing by the same terms, by "measure words" do you mean the ones in

[2017-02-03 11:51] ermanh commented on #374
@qipeng, I think I would be more inclined to use det(CLF, NOUN) even in the indefinite case in Mandarin. There does seem to be some parallel semantic correspondence between Mandarin [CLF NOUN] and English ['a' NOUN] on the one hand, and Mandarin ['one' CLF NOUN] and English ['one' NOUN] on the other hand, where including the numeral seems to add emphasis on the exact quantity (as one of the poster

[2017-02-03 12:58] kailimp commented on #409
The typical pattern is:
[Noun-adessive] [is] [shortened sentence]
Mul on auto roostes
I-ad is car in the rust - My car is rusting
Naisel on kõrvaklapid peas
Woman-ad is earphones in the head - A woman wears earphones
Mul on kõht tühi
I-ad is stomach empty - I am hungry
But one could also say
Mul läks kõht tühjaks
I-ad went stomach empty-trans - I became hungry
Mul jäi kõht tühjaks
I-ad remained st

[2017-02-03 13:20] kmuis commented on #409
I would still say that it should be annotated as a copular clause,
annotating the external possessor (mul, naisel) as obl:poss. roots would be
roostes, peas, tühi; I'm not so sure about 'olemas'.
Mul on kõht tühi vs Mul läks kõht tühjaks - we annotate differently Ma olen
kodus (I'm at home) and Ma läksin koju (I went home) anyway?

On Fri, Feb 3, 2017 at 2:58 PM, Kaili Müürisep <notifications@gith

[2017-02-03 14:09] martinpopel opened #414 "Chained goeswith"
How to annotate more than two tokens which should be written together, but the original text (incorrectly) separates them?
My suggestion (confirmed by the current practice in UD_Croatian) is they should form a right-to-left or left-to-right chain (not siblings). For example
[code]

This would have the nice (testable by [svalidation](http://universaldependencies.org/svalidation.html)) property that

[2017-02-03 14:13] jnivre commented on #414
It seems more consistent with the general UD scheme to use a left-headed structure where all non-first elements attach to the first (as for "fixed" and "flat"):

1 never ... 0 root
2 the   ... 1 goeswith
3 less  ... 1 goeswith

Would this make things worse for validation purposes?

[2017-02-03 14:26] jmnybl commented on #409
@ftyers That's a tricky question, I'm happy we don't have it. :)

I can imagine making it copula structure based on the category 4b, so "mulla" would be root and "lapsi sairaana" would be subject or maybe clausal subject if you want to analyse it as a shortened copula clause. Or do lapsi >nmod sairaana.

I think our plan was to make these copulas such that the owner is root and the owned thing is

[2017-02-03 14:36] martinpopel commented on #414
@jnivre: there are two questions: 1. head-final vs. head-initial vs. mixed-head and 2. chain vs. flat analysis.
1. The current [goeswith specification](http://universaldependencies.org/u/dep/goeswith.html) says "The head is in some sense the “main” part, often the second part." So either we need to change this specification, or we need to accept that goeswith can be sometimes head-final and someti

[2017-02-03 15:58] dan-zeman commented on #414
I think I would prefer to change the specification and treat `goeswith` as a technical relation, with a prescribed structure as in `fixed` (and `flat`). It is not always clear what is the “main” part, and there may be no good candidate (consider an extreme example where every letter is separated: _w i t h i n_).

[2017-02-03 16:37] jnivre commented on #414
Sounds good to me.

[2017-02-03 18:23] qipeng commented on #374
@ermanh Thanks for the comments. I don't disagree with your interpretations. I think the root of the problem here is the lack of distinction of indefinite reference and unity reference in these languages (compared to Indo-European languages where indefinite articles are present). I'm happy with defaulting to `det` for `CLF NOUN` phrases, but I do tend to believe that sometimes `CLF NOUN` is better

[2017-02-03 22:52] sebschu opened #415 "Analysis of titles/honorifics with internal structure"
I know we've debated what to do about titles/honorifics already a lot, so sorry for bringing it up again, but I'm not sure how we should analyze NPs with multi-word titles such as the following example:

_Minister of Defense Hazem Shaalan_

I would analyze _Minister of Defense_ as `nmod(Minister, Defense)`, and _Hazem Shaalan_  is clearly a flat NP, but I'm not sure how we should connect these two

[2017-02-04 11:24] dan-zeman commented on #415
I strongly support `nmod(Minister, Defense)`.

I am less sure about the rest. I admit that I have not foreseen `flat` with embedded non-flat constituent but do we really need to ban it? Maybe this is one of the differences between `flat` and `fixed`. The `flat` analysis essentially just says that we do not see good reasons to make any one of _Minister_, _Hazem_ and _Shaalan_ the syntactic head dom

[2017-02-04 11:27] dan-zeman commented on #415
Older related issues: #324, #400.
For `appos`, #180 is also relevant.

[2017-02-04 13:13] jnivre commented on #415
I don't think there is any reason to ban other relations inside "flat" structures. In fact, this is precisely why we have the "flat" relation in addition to "fixed". We use "fixed" for fixed MWEs, where nothing can be changed and nothing can be inserted. And we use "flat" for semi-flexible (exocentric) MWEs, which precisely allow its elements to have some internal structure.

I would advise agains

[2017-02-04 14:21] arademaker commented on #415
In the cases above, in what extend the suggestions above apply equally for titles like `President` and `Minister` and ordinary positions and professions, e.g., 'O professor Leitão de Abre' (the professor Leitão de Abreu)? First hint [here](http://bosque.mybluemix.net/query?search=Leit%C3%A3o&db=bosque&case_sensitive=True&hits_per_page=50).

[2017-02-04 15:10] msklvsk commented on #412
@arademaker Actually, the most presice solution from information preserving perspective, I belive, would be to not just mark paragraph boundaries, but paragraphs’ start/end separately. Sometimes we grab texts from the middle of the paragraph. If we enclose them in "`<p></p>`" that would not actually be truth. That is, as if we copypasted from html: we meet `</p>` we put `ParClose=Yes`, we meet `<p

[2017-02-04 15:10] dan-zeman commented on #412
@arademaker :

It sounds like unnecessarily limiting the sentence-level comments, where matching whole lines against regular expressions can pick the attribute you are looking for. I already have got a few treebanks with the `# newdoc id = xyz` pattern. But as I said, all I need now is to grep the initial keyword, so even if you have in your data `# newdoc = true`, it should be recognized when raw

[2017-02-04 17:13] dan-zeman commented on #415
@arademaker : Does _professor_ behave syntactically differently in Portuguese from _presidente_ or _ministro_? If they are syntactically equivalent then I believe they should get the same analysis.

[2017-02-04 17:45] arademaker commented on #415
The only difference is that they are not capitalized. We have the distinction between some titles (military ones, for example) that can be used as part of the name and general positions/professions that are not part of the name.

BTW, in "The New York city is amazing." the http://corenlp.run/ is giving me `compound(city, York)`. I expect all agree that it would be `nmod(city, New) flat:name(New, Y

[2017-02-04 18:21] nschneid commented on #415
@arademaker: There are a few ways to spell it: "New York City" (often abbreviated NYC), "the City of New York" (this may be the official name of the city government), "the city of New York" (i.e., disambiguating from the state of New York). For the first two, I think it would be reasonable to include "City" in the named entity. But I don't know what this implies for UD.

[2017-02-04 18:45] arademaker commented on #415
Hum , unfortunate example. Please replace New York for any other name of city! :-)

[2017-02-04 18:47] amir-zeldes commented on #415
This was discussed already in the issues mentioned by @dan-zeman , but briefly, I think the lack of independent article use in the two parts is what speaks against appos for the normal titles:

[code]
But ungrammatical:

[code]

This suggests `President Hollande` is a single NP (or DP in a DP analysis) with internal structure, not two separate NP/DPs.

[2017-02-04 18:51] arademaker commented on #415
Perfect! This is the justification for 'nmod' (if not flat:name) in my example too.

[2017-02-04 22:19] dan-zeman commented on #238
Fixed in https://github.com/UniversalDependencies/UD_Indonesian/commit/3beab3a9126021cace8ad0937b5bd9a95ae7873f

[2017-02-04 22:19] #238 closed, assigned to nobody

[2017-02-04 23:04] manning commented on #413
Hey, I'm good with updating the FORM values to what was in the original text, providing @sebschu is game to do the work (he indicated to me that he was)!

Long term, it does make sense to me to move to original, Unicode token FORMs.

The compatibility issues are non-trivial, though. When we started off with the Web Treebank, our decision was to keep the tokens and sentence breaks the same as in th

[2017-02-05 02:49] nschneid commented on #238
See also #307, where the decision was also `compound`.

[2017-02-05 21:27] sebschu commented on #415
Thanks, @dan-zeman and @jnivre! I'm also in favor of using `flat` and I just wanted to make sure that this doesn't go against the guidelines.

[2017-02-05 21:27] #415 closed, assigned to nobody

[2017-02-06 09:04] dan-zeman commented on #280
Fixed in https://github.com/UniversalDependencies/UD_Czech/commit/880efd0b80372882c232a3508fbf83cdeb44ec0b and https://github.com/UniversalDependencies/UD_Czech-CAC/commit/c298b77ba4c4949f983e689a9919102c82800032.

[2017-02-06 09:04] #280 closed, assigned to dan-zeman

[2017-02-06 11:38] dan-zeman commented on #383
Fixed in https://github.com/UniversalDependencies/UD_Slovak/commit/bed9f930e7a9e2b8c555ecaf1d040874d71a7c63.

[2017-02-06 11:38] #383 closed, assigned to dan-zeman

[2017-02-06 14:04] ftyers opened #416 "Clausal complements with different subject in Finnic"
We're looking at sentences like:

[code]

[code]

In the Finnish treebank, there is a separate `xcomp:ds` relation for these kind of sentences where the subject case is controlled by the main verb, but it is the subject of the subordinate verb. This is different from how it is done in other languages (e.g. English) where we have him/you as `obj` of made/forbid and then cry/answering as `xcomp` to

[2017-02-06 15:26] nschneid commented on #416
With respect to English, this was discussed in #371 and is documented [here](http://universaldependencies.org/u/dep/xcomp.html), ex. (7), and [here](http://universaldependencies.org/u/overview/complex-syntax.html#clausal-complements-objects), ex. (18-19). So if the Finnish construction works like in English, I would expect it should be changed so that the embedded subject is instead the matrix obj

[2017-02-06 16:00] jnivre commented on #416
I would also argue that, unless there are hidden complexities not clear to me, both Estonian and Finnish should follow the universal guidelines, which are used not only for English but for most other languages (if I am not mistaken).

[2017-02-06 17:57] dan-zeman opened #418 "Original text in UD Czech and Arabic"
When reading PDT and PADT in the original format, the `origform` attribute is lost. It is preserved in the `sentence` attribute but when we segment multi-word tokens and regenerate `sentence` from individual word forms, the original is lost there as well. The discrepancy involves

- typos in the original text;
- some question marks in original text are mysteriously represented as asterisks in word

[2017-02-06 19:19] martinpopel opened #419 "Examples of function-word dependents in ellipsis"
There is a [section](http://universaldependencies.org/u/overview/syntax.html#the-status-of-function-words) saying that function words should have no dependents, with just 4 exceptions.
One of the exceptions is [promotion by head elision](http://universaldependencies.org/u/overview/syntax.html#promotion-by-head-elision) and this subsection gives three example sentences.
The first sentence (*Bill co

[2017-02-06 19:36] martinpopel commented on #414
Closed via #417

[2017-02-06 19:36] #414 closed, assigned to nobody

[2017-02-07 04:51] wcroft commented on #374
Regarding measure terms: @ermanh, Karen Adams argues that all the words in her Table 1.1 can be categorized as either measuring or counting. I would include words like *cup* and *bundle* as measure words, since they measure out some quantity of the noun referent.

The more interesting question is: what is the head of a measure construction?

It is unclear which is the head in *a cup of coffee*, *c

[2017-02-07 06:30] dan-zeman commented on #374
@wcroft : I don't think (or remember?) we have guidelines specifically for measure expressions (there is a lot of constructions we have to cover yet!) but I think we do not want to make _a cup of_ a function word/expression in English. We always struggle with how much semantics we want to allow to guide our decisions in UD. I believe we do not want to stretch the parallelism between languages so f

[2017-02-07 09:25] jnivre commented on #374
I agree with Dan. This is similar to (not fully grammaticalised) light verbs, where we follow the "surface syntax", at least in cases where there is an overt preposition. Swedish is a bit different because we literally say "a cup coffee", and it is indeed a hotly disputed question in Swedish grammar which noun is the head. As a matter of fact, the current version of UD Swedish treats "kaffe" ("cof

[2017-02-07 16:09] wcroft commented on #374
OK. The annotation of measure constructions is an instance of a tough problem, namely that in the grammaticalization of certain common constructions, what we at UNM have come to call "head flipping" takes place:

* Verb (head) + Complement > Auxiliary + Verb (head)
* Relational Noun (head) + Noun > Adposition + Noun (head)
* Quantity (head) + Noun > Quantifier + Noun (head)

Quantity expressions i

[2017-02-07 16:16] jnivre commented on #374
@wcroft Thanks for a very nice summary of the issues. I completely agree with the overall characterisation of the problem, although perhaps not about where to draw the line. I think it would be really useful if we could work out some more systematic guidelines about what kind of evidence should count in order to promote cross-linguistic consistency.

[2017-02-07 16:42] wcroft commented on #374
You're welcome @jnivre ! This will be (part of) what I plan to talk about at the UD workshop. The important thing is to have systematic guidelines. It's such a complex issue that we will probably need guidelines for individual constructions, although some general principles may emerge.

Just to illustrate the problem further. How are Russian numeral-noun constructions annotated in UD? If you follo

[2017-02-07 21:36] dan-zeman commented on #412
I have put the specification in the documentation of the CoNLL-U format:

http://universaldependencies.org/format.html#paragraph-and-document-boundaries

[2017-02-08 13:40] martinpopel opened #420 "svalidation fails on new treebanks"
http://universaldependencies.org/svalidation.html says
Traceback (most recent call last): File “docs-pages-source/gen_index/syn_validation_run.py”, line 267, in del lang_results[lw] KeyError: 'UD_English-ParTUT'

[2017-02-08 14:10] dan-zeman commented on #420
Not only new treebanks. Same problem with UD_Polish.

[2017-02-08 14:30] fginter commented on #420
:blush:

[2017-02-08 15:18] dan-zeman commented on #348
@manning : While I have an opinion on how to draw the line within the Slavic group, at present I do not dare to say anything more general.

West Slavic treebanks have now converged in their treatment of participles (https://github.com/UniversalDependencies/UD_Polish/commit/d7ef615c6eb4f49cb528cf3fff63b24b5d647300, https://github.com/UniversalDependencies/UD_Czech/commit/b417951cf7fe40b6adb51ceb7bd

[2017-02-08 15:18] #348 closed, assigned to dan-zeman

[2017-02-08 15:29] sebschu commented on #420
There still seems to be some issue. English is now missing from the list and I know for a fact that we don't comply a 100% to the v2 guidelines yet ;)

[2017-02-08 16:41] martinpopel commented on #420
@sebschu
Meanwhile you can check the English s-validation errors here http://ufallab.ms.mff.cuni.cz/~popel/en/dev-bugs.html
(and train-bugs.html, which has 37MiB)

I've generated this using Udapi [ud.MarkBugs](https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/markbugs.py) (which has few extra tests in addition to the svalidation.html)
with this command
`udapy -HA ud.MarkBugs util.Fi

[2017-02-08 18:25] sebschu commented on #420
@martinpopel Thanks! My browser isn't too happy about the 17M but this is really useful.

[2017-02-08 18:32] martinpopel commented on #420
@sebschu Try
[code]
This gz has just 1.7 MiB and I've created it with
`udapy -TA ud.MarkBugs util.Filter keep_tree_if_node='node.misc["Bug"]' < en-ud-train.conllu | gzip > train-bugs.color.gz`

[2017-02-09 08:15] fginter commented on #420
@sebschu  - ah, now I see it. Indexing into dep_search died on the empty nodes. I'll fix this and English will be back. @martinpopel - Is there somewhere a list of the tests you added to udapi? I'd like to include them into svalidation.html, since that gets regenerated on every push to dev for all languages (or will get, once I fix my bug :) The svalidation.html tests are here: https://github.com/

[2017-02-09 08:42] martinpopel commented on #420
Yes, [here](https://github.com/udapi/udapi-python/blob/606d912f0af80968385b9ad34fb8e96c1c2cd9df/udapi/block/ud/markbugs.py#L101-L129).
The *-child test should be accompanied by the "DEBUGGING TEST..." notice (because of false alarms with head elision).

I know, and this is really very useful. This is why I recommended svalidation.html at the first place in my email.

On of my motivations for reimp

[2017-02-09 09:19] fginter commented on #420
@martinpopel thanks - I'll check it out and see if I can add the tests to svalidation.html so we keep everything in-sync. I will now also index nullnodes in dep_search and will add them a feature `Nullnode=Nullnode` that way it will be easy to look for them by simply saying `Nullnode` or something like `VERB&Nullnode` anywhere.

[2017-02-09 10:13] fginter commented on #420
@sebschu English is back in `svalidation.html`. Thanks for letting me know! It is now possible to search for the null nodes http://bionlp-www.utu.fi/dep_search/query?search=Nullnode&db=UD_English-dev&case_sensitive=True&hits_per_page=10  -- I only yet need to upgrade the Brat visualizer in dep_search so it highlights the hits correctly. Won't take long, but is usable already now. Reopen this bug i

[2017-02-09 10:13] #420 closed, assigned to fginter

[2017-02-12 15:12] dan-zeman commented on #286
Fixed in https://github.com/UniversalDependencies/UD_Croatian/commit/171c3283cb8de33119febba568729659921966c6.

[2017-02-12 15:12] #286 closed, assigned to zeljkoagic

[2017-02-12 15:13] dan-zeman commented on #279
Fixed in a series of commits finishing with https://github.com/UniversalDependencies/UD_Croatian/commit/0c92352f8a38e0fe2d080891e90a1e8286717556.

[2017-02-12 15:13] #279 closed, assigned to zeljkoagic

[2017-02-12 15:18] dan-zeman commented on #283
Croatian fixed in https://github.com/UniversalDependencies/UD_Croatian/commit/b5e64a0fc1566ccdaec3aa1f7be8708318fa2776.

[2017-02-12 15:34] dan-zeman commented on #278
Fixed in https://github.com/UniversalDependencies/UD_Croatian/commit/58c70576a812a0308310be985005b2d8fdd4dcf8.

[2017-02-12 15:34] #278 closed, assigned to zeljkoagic

[2017-02-13 00:47] martinpopel commented on #410
OK, it seems most people (and existing treebanks) prefer D.
I will convert UD_Bulgarian to this style using [Udapi](https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/bg/removedotafterabbr.py) and close this issue.

[2017-02-13 08:37] ftyers commented on #410
I realise that this is closed, but for the record, I prefer C, and this is what we do in Kazakh:

[code]

[2017-02-13 11:07] martinpopel opened #421 "Is upos=SYM deprel=punct allowed?"
[svalidation.html](http://universaldependencies.org/svalidation.html#relation-punct-is-used-for-node-that-is-not-punct) says
"Only nodes tagged PUNCT can be attached using the punct relation."
and this test is not marked as experimental, i.e. all treebanks should pass it.

However, there are several treebanks (RO, KK,...) which use upos=SYM and deprel=punct e.g. for the slash in "km / h" and sever

[2017-02-13 11:11] dan-zeman commented on #421
Slash is tough and I do not know whether it should be always PUNCT, always SYM, or both, depending on context.

But I think it should not be used with the punct deprel. By using SYM you are saying that it is NOT punctuation. And the "punct" relation is reserved for punctuation.

[2017-02-14 21:41] martinpopel opened #422 "Validation shows only treebanks A-N"
See http://universaldependencies.org/validation.html
UD Norwegian-Bokmaal is the last treebank on that page.

[2017-02-14 22:00] martinpopel commented on #376
I think we can close this issue. There are several converters in Lisp, Prolog and Python.
Udapi's [ud.Convert1to2](https://github.com/udapi/udapi-python/tree/master/udapi/block/ud) has been used for converting several treebanks.
Udapi has also tools for adding `SpaceAfter=No` according to the raw `text` or according to heuristic rules. And `ud.MarkBugs` for syntax validation.

[2017-02-14 22:00] #376 closed, assigned to nobody

[2017-02-14 22:30] arademaker commented on #422
Wow ! What happens ?

Alexandre
Sent from my iPhone

[2017-02-14 22:30] fginter commented on #422
This one is because the validator prints traceback which contains the literal string `<module>` which in turn looks like html which in turn confuses the browser. :rofl: Temporary fix now in place. What bugs me is that I fixed this months ago and have no clue how this problem made it back!

[2017-02-14 22:30] #422 closed, assigned to fginter

[2017-02-14 22:35] fginter commented on #422
...i.e. all the rest of the page was hidden under the Norwegian tab because the browser was waiting for the `</module>` that never came... :)

[2017-02-16 18:02] lauma opened #423 "Contributing to UDv2.0 language documentation"
What is the proper way to contribute to language documentation for the upcoming version?

Should I wait for the new release? Or I should I continue to change existing documentation and after release the message "This page still pertains to UD version 1." will be removed automatically? What about pages for new or renamed features?

[2017-02-16 21:44] jnivre commented on #423
We are working on this and will provide more detailed guidelines as soon as we can (but producing the data has priority right now). In the meantime, you can start changing the existing documentation. All the static pages can be edited as usual, and you can also create new pages for new or renamed features. But the overview tables will have to be generated by the documentation team later.

[2017-02-17 07:41] ermanh commented on #423
Since I've been updating the Chinese pages to v2 just recently, according to @dan-zeman you can remove the yellow v1 warning banner and change it to the green v2 banner by adding `udver: '2'` in the header at the top of the page. If I understood correctly, and to clarify, the v1 documentation is currently frozen and cannot be modified, the ones you see now on the UD main pages (that have yellow ba

[2017-02-17 07:58] dan-zeman commented on #423
@ermanh is right. The only issue here is that people writing v2 documentation would benefit if we managed to automatically modify the tables of labels, generate or rename templates for features etc. But as  Joakim said, we are unfortunately unable to attend to this right now.

[2017-02-17 12:56] lauma commented on #423
It is good to know that I will not break the version 1 documentation by contributing now. Thanks.

I got the understanding I needed, feel free to close this issue or leave it open until till the documentation force has time for updating documentation or whatever is appropriate.

[2017-02-17 14:04] jnivre commented on #423
The v1 documentation has been archived here: http://universaldependencies.org/docsv1/index.html

[2017-02-17 14:04] #423 closed, assigned to spyysalo

[2017-02-17 20:06] sebschu commented on #413
We do use now Unicode characters in the FORM values and (with the exception of punctuation marks) also in the LEMMA values.

[2017-02-17 20:06] #413 closed, assigned to nobody

[2017-02-18 15:09] martinpopel commented on #410
Reopening this issue, as there is no agreement yet and no guidelines in the documentation.
It seems that @sebschu [prefers B](https://github.com/UniversalDependencies/UD_English/commit/fa0f1715cc6287417aa71405f7ab001922db2662) in UD_English.

[2017-02-18 15:35] martinpopel opened #424 "goeswith lemma and upos"
[The definition of goeswith](http://universaldependencies.org/u/dep/goeswith.html) does not specify how to annotate LEMMA and UPOS.

* lemma=form.lower(), upos=reconstructed_upos
[code]

* head_lemma=reconstructed_lemma, nonhead_lemma=empty, upos=X
[code]
Of course, there are many other options and their combinations, e.g.:
* UD_English uses lemma=form.lower(), upos=X.
* I can imagine head_upos=re

[2017-02-18 19:11] dan-zeman commented on #424
Related: #330

[2017-02-18 23:26] sebschu commented on #410
I don't have a strong opinion about this as I don't think this decision has any practical consequences (for PCFG parsing, the sentence-final period is often important to get the right parse, but I don't think this matters much for most dependencies parsers).  The LDC Web Treebank does not seem to be very consistent in that regard, so I'd be happy to change this to variant D in the future.

[2017-02-20 13:16] olesar opened #425 "NumType for numerals with decimal point (2.3)"
Which NumType tag should be applied to numerals such as 3.14?
If they are written in digits, we tokenize them as one token but the documentation seems to miss this case.
In some languages, they behave like normal Card's (and in oral speech this would correspond to the coordination of Card and NP like "two and a half"), but I am not aware of the situation in general.

[2017-02-20 14:52] dan-zeman commented on #425
I don't think much thought has been given to this case (at least not on my part) but the general idea is that they are `NumType=Card` as well.

[2017-02-22 03:24] eromoe opened #426 "How do I map these Chinese PoS tag to universalde dependencies tag"
Hi,

I am trying to map Chinese PoS tag (Modern Chinese corpus processing specification by Peking University, Chinese Doc here: http://icl.pku.edu.cn/icl_groups/corpus/spec.htm . ) to universalde PoS tag

But I found there are some tags can't not map:

- h/前接成分  (some post-decorator of word, not adj, maybe either meaningless or meaningful like `non-` in `non-profit`)
- k/后接成分 (some tail-decorator

[2017-02-22 08:39] dan-zeman commented on #426
The last one seems easy—`o` should be `INTJ` in UD.

In general, it is not guaranteed that each tag in a non-UD tagset will have a clear counterpart in UD. A full conversion often means you have to re-tag words, considering not only their original tag, but also lemma, word form, possibly even syntactic context. Thus for abbreviation you should decide whether the word is `ADJ`, `ADV`, `VERB` or `NO

[2017-02-22 11:01] ermanh commented on #426
I second @dan-zeman on everything except for the `o` category because it's actually referring to "onomatopoeia", which can have different parts of speech depending on its usage in context. In Chinese they often function as an adverb describing the (physical or metaphorical) sound of the action conveyed by the verb, in which case ADV would seem more appropriate I think.

The "decorators" are more o

[2017-02-26 00:40] kanayamah commented on #426
For Japanese, we use ``NOUN`` for ``k`` category (接尾辞/suffix in Japanese).
http://universaldependencies.org/ja/overview/morphology.html
It is because 機 of 吸塵機 is a head of a noun phrase both in terms of syntax and semantics, and we want to reduce impacts of changes in tokenization (tokenizer may split  吸塵機 into  吸塵 and 機 or may not).

[2017-03-01 10:44] fginter opened #427 "Fail validation on missing/incomplete metadata"
We need to add metadata check into validate.html  Thanks @habeanf for the suggestion

[2017-03-01 14:13] spyysalo opened #428 "Fail validation if empty node ids are not i.1, i.2, ..."
@foxik found that the following had passed validation

    9       -       -       PUNCT   _       _       8       punct   8:punct _
    9.2     _       _       _       _       _       _       _       8.1:nsubj       _
    10      автоматическими автоматический  ADJ     _       Case=Ins|Degree=Pos|Number=Plur 11      amod    11:amod

http://universaldependencies.org/format.html specifies

This ID

[2017-03-01 16:05] #428 closed, assigned to spyysalo

[2017-03-02 18:51] msklvsk opened #429 "Why §, %, © are SYM but not NOUN?"
[SYM](http://universaldependencies.org/u/pos/SYM.html) page says to mark _§_ as `SYM`. But isn’t it a loss of information?

You read “§ 8” same as “section eight”, section symbol functions as noun and you even draw nummod(§, 8). Moreover, you feel something is wrong when language-specific validation scripts have to account for `SYM` in nominal contexts. Also, English [marks](http://bionlp-www.utu.

[2017-03-03 16:11] MemduhG opened #430 "Double Case in Kurmanji"
For things like _Pirtuka min a sor_ "my red book", book will take one synthetic and and one analytic case. _Pirtuk_ is "book", and the inflection -a is the construct/genitive case showing it belongs to _min_, "me". When the construct is extended with some other qualifier, the same phoneme is used synthetically (postpositionally? We have not decided on what exactly the POS for this will be either).

[2017-03-03 16:22] jnivre commented on #430
It sounds fine to me to treat both as case, one morphological one syntactic. It reminds me of the double definite marking in Scandinavian languages. Swedish nouns inflect for definiteness:

bok = book-indef
bok-en = book-def

But when the noun is preceded by an adjectival modifier, the definite marker is also realised as a separate article:

den röda bok-en = the red book-def

We use the "det" rel

[2017-03-03 16:26] dan-zeman commented on #430
In general, I don't see anything wrong in having morphological case marking + adposition, or 2+ adpositions on one noun. (Two morphological cases would be more difficult to annotate.) Do I understand correctly that the first _-a_ in this example links _pirtuk-_ and _min_, while the second _a_ links _pirtuka min_ and _sor_? Then we cannot express the different scope of the two case markings, but ot

[2017-03-08 08:28] dan-zeman opened #431 "Multi-word tokens with spaces"
UD v2 guidelines allow "words with spaces" in **exceptional,** approved cases. Currently, "approved" means that the data provider simply provides a regular expression that describes valid cases in their data, and all such cases then pass validation.

While that practice itself seems to me a bit too permissive, there is one special class that in particular does not seem to make any sense: using spa

[2017-03-08 11:19] jnivre commented on #431
I agree. This must be a mistake, right? @ftyers

[2017-03-08 12:10] ftyers commented on #431
Short answer: Yes, this is probably a sub-optimal conversion and should be fixed in UDv2.1...

Long answer: the tokenisation in the treebank is based on the tokenisation provided by the Apertium morphological analyser. This groups certain "clitic" items together with the preceding word regardless of if there is a space or not --- we're not big on space-based tokenisation :)

The list (tags from Ap

[2017-03-08 17:14] jonorthwash commented on #431
Everything @ftyers said is right (except the word "assimilate", at least in relation to `{M}`).  In principle, it should be trivial to treat the ones with spaces as entirely separate words for UD purposes.

[2017-03-09 09:53] jnivre opened #432 "Annotation of "car" in French"
I noticed that "car" is consistently treated as a subordinating conjunction (heading an adverbial clause) in French-ParTUT, whereas in the other French treebanks it is (almost) consistently treated as a coordinating conjunction, which I believe is the traditional analysis.

[2017-03-09 15:20] msang commented on #432
@jnivre you're right. This is a mistake we must have missed (even in the original ParTUT) just because the Italian counterpart "poiché" is an actual subordinating conjunction.
I guess it's too late to fix the error for the current release, but it will be definitely fixed for the next one.
Thank you very much for pointing this out.

[2017-03-09 15:50] jnivre commented on #432
No problem. French also has "puisque" and "parce que", which are both subordinating.

[2017-03-13 07:04] ermanh opened #433 "Other uses of XPOSTAG and DEPS columns?"
Can the 5th (XPOSTAG) and 9th (DEPS) columns be used for secondary POS tags and dependency relations other than those mentioned in the [CoNLL-U format page](http://universaldependencies.org/format.html)?

Specifically, we have a corpus of learner text where there are a lot of ungrammatical phenomena, and there are cases where we want to have two layers of annotations, one where we tag/label a word

[2017-03-13 09:32] jnivre commented on #433
The XPOSTAG is intended for a language-specific tagset, so I think it would be misleading to use it for this, even though it wouldn’t violate any rules. DEPS is reserved for the enhanced dependency representation and can definitely not be used for this. So my recommendation would be to either use MISC or add an extra layer using a standoff scheme.

Joakim

[2017-03-14 02:46] ermanh commented on #433
Thanks @jnivre. I suspected as much, but wanted to double check. By "add an extra layer using a standoff scheme" do you mean adding additional columns for our own purposes, but that those columns would still eventually have to be collapsed into MISC if presented as a UD treebank?

[2017-03-14 07:13] jnivre commented on #433
For your own purposes, you can of course use any format you like, but by standoff I mean storing annotations in a separate file that references the CoNLL-U file. As of v2, all sentences and words have unique IDs, so this should work fine. In general, I think we should encourage people who want to add special-purpose annotation to use this technique, rather than cramming everything into the MISC fi

[2017-03-14 15:28] ftyers opened #434 "Parataxis with a prepositional phrase in Breton"
There is what is traditionally called an "inflected, or conjugated" preposition in Breton "eme-" which is usually glossed as "said", e.g. emezon "I said", emezout "You said", emezi "She said" etc.

[code]

It would seem to be right to use `parataxis` here, following the documentation example with "The guy, John said, left early in the morning", but I thought I would check here first. @tlynn747 doe

[2017-03-15 07:22] ermanh commented on #433
I see, that makes a lot of sense (storing annotations in a separate file). Indeed the MISC field could get very unwieldy (we are also planning to include alignments with the parallel corpora we're building). Looking forward to the instructions whenever they're ready!

[2017-03-15 08:01] ermanh commented on #374
I've come upon another tricky situation and would like to ask for everyone's input again. According to the [ADJ](http://universaldependencies.org/u/pos/ADJ.html) page, ordinal numerals in all (?) languages should be treated as adjectives  (and therefore also labeled `amod` when modifying a noun). The page specifically mentions Czech as an example where ordinal numerals are traditionally called num

[2017-03-15 13:51] hlavacova opened #435 "(Non)empty fields for multiword tokens"
What is the reason of the requirement that all fields other than the FORM should have an empty value for "multiword" tokens? There might be proposals for tagging such words in some languages. For instance in Czech, there is a rule for their unambiguous tagging and lemmatisation. I would suggest that at least the fields LEMMA and XPOSTAG may be nonempty, too.

[2017-03-15 14:12] amir-zeldes commented on #435
+1 from me, I think there are lots of features that could be of interest for various learning approaches that could be placed on the 'big' words.

[2017-03-15 14:18] martinpopel commented on #435
+1. My suggestion is to allow nonempty LEMMA and XPOS and maybe other columns in [validate.py](https://github.com/UniversalDependencies/tools/blob/28eff4cea60b73a678ad963ef53bbd3b2d136057/validate.py#L268-L275),
at least in the `--formatonly` mode (see https://github.com/UniversalDependencies/tools/issues/1).
For UD treebanks, we may still require empty columns, although even here I think XPOS cou

[2017-03-15 14:29] olesar commented on #435
@hlavacova+1One more reason is that people are starting to convert UD data back to their "language specific" or "pipe specific" schemas, and from this point of view, some sorts of information loss seem excessive (or just a price to boost the results of several existing algorithms).

[2017-03-15 14:35] foxik commented on #435
BTW, I am not sure what the status of CoNLL-U v2 is -- has it been already released/finalized, or is it still just a draft? In a next few days UDPipe will be out and I hoped I could say "supporting CoNLL-U v2", but maybe that is not the case.

Do not take me wrong -- I am not against the change, I just want to know how to document current functionality of UDPipe :-)

[2017-03-15 16:19] jnivre commented on #435
First, to answer Milan's question, UD v2 was released December 1, so it is definitely finalised.

One can always discuss what use could be made of the additional fields for multiword tokens, but the idea is that these are not linguistically relevant units (or at least not units corresponding to words) and that it can therefore be misleading to assign them linguistic categories that apply at the wo

[2017-03-15 16:38] wcroft commented on #374
A long time ago I did a crosslinguistic survey of different types of modifier constructions, which I never published. In doing so, we started from a semantically-based classification of modifier types. In that classification, ordinals were grouped with words like *next, last* and *other* in a distinct class which we called "set-member": the modifier is used to pick out a referent from an already e

[2017-03-15 19:47] amir-zeldes commented on #435
I think the POS column can be sensible for super-tokens in cases where a native POS scheme does not align with UD guidelines.

For example, in German, fused prepositions+articles like `im` are tagged APPRART, but UD guidelines break them up. Having a POS label on the larger word form would allow us to retain APPRART in the language-specific POS tags. I have similar situations in Coptic as well.

[2017-03-15 19:52] jnivre commented on #374
Although it may not be consistent with the current documentation for ADJ, I personally don't see a problem with treating ordinals as ADJ in some languages and NUM in others (and similarly for the syntactic relations) if there is clear evidence that they behave more like adjectives in one case and more like numerals in another. To me this falls under the slogan: "Make languages as parallel as possi

[2017-03-16 00:13] wcroft commented on #374
While I think that what @jnivre suggests is the best way to go in some domains of grammar, I think it's risky in this particular case.

I assume that the motivation for analyzing Chinese ordinals as `nummod` is the use of a classifier, and the motivation for analyzing ordinals in many European language as `amod` is the use of number-gender agreement (morphologically similar or identical to the agr

[2017-03-16 00:43] martinpopel commented on #435
If we allow non-empty LEMMA and XPOS in MWTs in UD v2,
all released data will remain valid, so I don't see this as a breaking change.

Another question is whether we should require that for MWTs all UDv2-compliant tools:
* should not fail on non-empty LEMMA and XPOS
* should preserve the values of LEMMA and XPOS (unless they intentionally change it).

The first requirement is simple (instead of fa

[2017-03-16 06:43] jnivre commented on #374
Thanks, @wcroft. It seems we need to think carefully about modifiers for future versions.

[2017-03-16 07:21] foxik commented on #435
From a perspective of a tool writer, I have no problem with allowing some non-empty fields, I think we just need to have a way how to refer to such files. The CoNLL-U v2 explicitly forbid this, so we would have to update the specification and call it CoNLL-U v2.1 or something -- then tools working with CoNLL-U v2 would fail, but tools working with CoNLL-U v2.1 would preserve them. It probably make

[2017-03-16 07:46] ermanh commented on #374
Considering that the current UD guidelines already take a strictly semantic approach to `det` and particularly [`DET`](http://universaldependencies.org/u/pos/DET.html), and with respect to both your responses thus far, it seems that at this moment it would be best to apply a semantic approach and tag/label Chinese ordinals with `ADJ` and `amod` (unless we're switching over to Chinese hegemony)? Bu

[2017-03-16 12:46] BBW1 opened #437 "Macedonian needs to be added to list of languages"
Macedonian is a Slavic language and the administrative language of the Republic of Macedonia. It's missing from the list of languages. Please add it.

[2017-03-16 12:50] dan-zeman commented on #437
With pleasure - as soon as there are Macedonian data, or someone working on them. Do you want to volunteer?

[2017-03-16 13:05] BBW1 commented on #437
Ah, since some of the other languages only had placeholders, I didn't realize there had to be someone working on a language to add it. I'm quite new to the UD framework so I'm afraid not the best person to volunteer at this time.

[2017-03-16 13:21] dan-zeman commented on #437
Allright. If you happen to know any Macedonian corpus linguists who might be interested in starting at least a small UD treebank, please point them to us. It would be great to have Macedonian on board, otherwise the Slavic group is already almost complete :-)

[2017-03-16 13:21] #437 closed, assigned to nobody

[2017-03-16 18:15] wcroft commented on #374
Classifiers appear with a variety of modifiers: classifiers that are presumably numeral classifiers in origin get extended not only to demonstratives and ordinals, but also to property modifiers (adjectives) in some languages. Also, there are possessive classifiers in some languages (of independent origin). So I think `clf` should be allowed as a dependent of a variety of modifier types.

[2017-03-17 20:52] msklvsk opened #438 "Link to language-specific documentation"
What is the best way to refer someone to a language-specific documentation? If we give a link to the index page, people have to search for the specific language in a long list, while Introduction pages don't have the standart list of links. Maybe we should add that list to Introduction pages?

[2017-03-18 14:08] dan-zeman commented on #438
Are you looking for something like this?

http://universaldependencies.org/#uk

[2017-03-18 16:39] msklvsk commented on #438
Great, thanks, even better! Shame I haven't noticed that.

[2017-03-18 16:39] #438 closed, assigned to nobody

[2017-03-19 12:29] msklvsk opened #439 "Reasoning for “The dislocated elements attach to the same governor as the dependent that they double for”"
What is the reasoning for attaching [`dislocated`](http://universaldependencies.org/u/dep/dislocated.html) to “normal” element’s head instead the element itself, which at first glance seems to be the loss of information?

It’s just annotators keep making this mistake and we don’t know how to prove them they are conceptually wrong.

[2017-03-20 08:17] jnivre commented on #439
Syntactically, the dislocated element is dependent on the head (usually the predicate). If the dislocated element is co-referential with another dependent of the head, the relation between these two elements is anaphoric and does not belong in the basic dependency  representation (but may be annotated in the enhanced representation). However, not all dislocated elements do have an anaphoric relati

[2017-03-20 09:56] msklvsk commented on #439
Thank you and sorry to have bothered you with a naive question.

[2017-03-20 09:56] #439 closed, assigned to nobody

[2017-03-20 09:59] jnivre commented on #439
No need to apologise. It was a perfectly valid question (and one that was discussed when working out the guidelines). I am sorry if my answer made it seem like I thought otherwise. :)

[2017-03-20 17:25] XinyingChen commented on #374
@ermanh maybe it is a bit too late for this discussion. I would just add some points from a different perspective.

1. Why not a flat annotation?
Fist, as @wcroft described, num and clf is more like a 'phrase', if we do a flat annotation, we will loss this valuable syntactic information. However, this information can be perserved, in a way, if we do the 'num head' annotation now. Second, as @manni

[2017-03-24 16:28] ioan2 opened #440 "Non-projective punctuation"
Hello,

When working with version 2.0 of UD_French and UD_German, I noticed that the attachments of some punctuation symbols (but not only) look strange, and make the dependency tree non-projective.
For instance in de_ud_dev.conll, sentence 23 ("Ich dachte mir , dieser Shop ist für seine Schnäppchen bekannt , also bekomme ich gute Markenware zu dem günstigen Preis .") the comma after "bekannt" is

[2017-03-24 16:41] dan-zeman commented on #440
Hi Johannes, punctuation should never be attached via non-projective dependencies (http://universaldependencies.org/u/dep/punct.html), perhaps with the exception of some non-projectivities that are caused by other nodes and the punctuation symbol is just taken along. The second comma in de/dev-s23 is clearly a bug, it should be attached to _bekomme._

[2017-03-24 16:46] ioan2 commented on #440
Hi,
thanks for your confirmation, I thought so, but did not dare to ask. In fact at least in UD_French and UD_German most non-projective sentences are caused by the attachment of punctuation symbols. I will prepare a list

[2017-03-25 02:03] martinpopel commented on #440
I've generated the list for [UD_French](http://ufallab.ms.mff.cuni.cz/~popel/fr/punct-nonproj.html) and [UD_German](http://ufallab.ms.mff.cuni.cz/~popel/de/punct-nonproj.html), simply by `cat *.conllu | udapy -HM ud.MarkBugs tests=punct-nonproj > punct-nonproj.html`. See [Udapi](https://github.com/udapi/udapi-python/tree/master/udapi/block/ud).
Of course, there are many other treebanks with this k

[2017-03-25 08:29] jnivre commented on #440
Thans @martinpopel. It sounds like we should take a more general approach to this and try to fix it once and for all for version 2.1.

[2017-03-25 22:36] fginter commented on #272
https://lindat.mff.cuni.cz/repository/xmlui/handle/11234/1-1989

[2017-04-09 10:21] ftyers opened #443 "Tokenisation with case suffixes following punctuation"
I'm looking at Crimean Tatar at the moment, but I think that this applies to quite a few other languages (Armenian example also below):

The question is how to tokenise the sequence "Grad"lardan. Here "Grad" is a name enclosed in quotes, and -lardan is the plural ablative.

One tokenisation I would like is (crh-1):

[code]

e.g. just fix it in the input. An alternative would be (crh-2):

[code]

T

[2017-04-09 12:51] jnivre commented on #443
Maybe I am missing something, but aren't crh-2 and hye-1 the combination that is consistent. To me, hye-2 looks like we would treat a bound morpheme as a word, but maybe I have misunderstood something.

[2017-04-09 13:14] ftyers commented on #443
Oops, yes, you are right, crh-2 and hye-1... exactly. That was a typo. To be clear, these are the variants I think we should go for:

[code]

[code]

[2017-04-10 15:36] dan-zeman commented on #443
Although I am not particularly fond of the crh-2/hye-1 solution, it seems to be the least evil. I should not have claimed at the EACL tutorial that tokenization is an easy task :-)

[2017-04-10 15:39] jnivre commented on #443
Serves you right. ;) Maybe I shouldn't say this, but we (or at least I) have learned a lot about different languages and writing system since we designed the first version of the guidelines and CoNLL-U. Maybe for v3, we need to revisit some of the basic issues concerning tokenisation and word segmentation.

[2017-04-11 13:36] myavrum commented on #443
If you say, that tokenization is not an easy task, then... :) As I see the main problem in hye-2 is that we cannot give a POS tag (for example X) and @goeswith for -ի in CoNLL-U (yes, -ի is a bound morpheme).
the "solution" in EANC http://eanc.net/ : pls search   »ին

[2017-04-11 15:09] ftyers commented on #443
Also, it would mean putting `Case=Gen` on this bound morpheme (or leaving it off and losing the information).

Oh wow, this one is pretty gnarly... And I'm not sure about their solution, they don't seem to mark it at all. Here I would have "yes" and "no" as nouns and just tokenise it as:

(The ՛ is the emphasis mark [right?], which could be a feature on the word, or you could tokenise it as `եւ ·

[2017-04-12 10:59] ftyers opened #444 "PronType of reflexive pronoun in Finnish"
Martin's ud.MarkBugs marks as a bug those pronouns which don't have the `PronType` feature. Two questions:

1) Should this be an actual bug?
2) If it is a bug, what `PronType` should the pronoun `itse` in Finnish get?

Some related (and unrelated languages for comparison):

In Estonian, `ise` gets `PronType=Prs`.
In Hungarian, `maga` doesn't get a `PronType`
In English `myself` and friends get `Pr

[2017-04-12 11:15] jmnybl commented on #444
I guess PronType=Prs would work also in Finnish, as Reflex is a feature and not a PronType. Typically "itse" does not inflect (minä itse, sinä itse, etc.), but if it's used as an object it gets possessive suffix which will have the person (itseni, itsesi, see for example: http://bionlp-www.utu.fi/dep_search/query?search=itseni&db=UD_Finnish-v2&case_sensitive=True&hits_per_page=10).

[2017-04-12 11:28] jpiitula commented on #444
Sure it inflects: itselläni (adessive), itselleen (allative), itseään
(partitive), itsestään (elative).

[2017-04-12 11:57] jmnybl commented on #444
Sorry, my mistake.

[2017-04-12 21:19] martinpopel opened #445 "Duplicate paragraphs in UDv2"
In UD_English train data, 14 sentences are repeated exactly the same three times, IDs:
[code]
In total there are 425 sentences occurring more than once - some of those are OK ("Thanks."), but there are many long sentences.

In UD_German train data, there are 302 sentences occurring more than once, most of them too long to be considered random/natural repetitions.
For example, there are 13 sentence

[2017-04-13 08:05] dan-zeman commented on #445
German fixed in https://github.com/UniversalDependencies/UD_German/commit/97592f4894f342cd0d5bc22de26e1515f6cc4784 (dev branch). I have been thinking that duplicates have already been attended to in German (long ago by @wbwseeker) but it turns out that the first round was only about dev vs. test duplicates, which was arguably much more severe.

[2017-04-13 16:30] dan-zeman opened #446 "Object vs. oblique in Arabic"
Summary: nodes with prepositional children should not be `obj` in Arabic.

The point is, there is a relation labeled `Obj` in PADT (in the original Prague-style annotation) and it is used for various nominal arguments of verbs, including some prepositional phrases. This corresponds to the Prague broader definition of object as a nominal whose form is governed by a verb (http://ufal.mff.cuni.cz/pdt

[2017-04-13 16:35] jnivre commented on #446
I think obl:arg is a reasonable choice for people who want to encode (or preserve) the distinction between oblique arguments and other oblique dependents. I think obl:iobj is potentially confusing, given that iobj is a universal relation.

[2017-04-13 16:42] ftyers commented on #446
+1 for `obl:arg`.

[2017-04-26 05:23] Binyamephrem commented on #386
I have a question for @vinit-ivar. In the beginning of the discussion, you consider converb as main verb and marked as `VerbForm=Conv` whereas the non-main verb is considered as finite. I want to know your reason for considering coverb as main verb. Even in your example above, it seems the converb _basūn_ is a modifier of the following verb. I asked this because Amharic has converbs and wanted to

[2017-04-26 11:09] vinbo8 commented on #386
@Binyamephrem - this is largely because the finite verb is semantically bleached and functions more like an auxiliary (although not precisely like one). There's a closed set of possible finite verbs (around 15) that modify the aspect/Aktionsart of the primary verb.

In contexts where the converb functions more like Russian converbs, the finite verb would be the main verb.

[2017-04-26 13:07] Binyamephrem commented on #386
@vinit-ivar - In Amharic the literature says that converbs have features like verb form, adverbial, non-finite, and subordinate. In addition, converbs modify other verbs or sentence, but they never occur in argument position. Even they don't occur as attribute to a noun. They also uniformly lack specification for most verbal grammatical features, such as tense, aspect, and mood. Therefore it is be

[2017-04-27 03:53] jonorthwash opened #448 "Agreeing noun and "pronoun" verb dependents"
In some languages, "pronouns" are mandatory as verbal dependents even when an overt noun is used.  An example of this is Khasi (data shared with me by @nfeldbaum), where nominal subjects agree in person/number/gender with a mandatory "pronoun":  An example follows:
[code]
In this example "U Blei" can be removed and it remains grammatical, but "u la" may not be removed.

A similar pattern exists in

[2017-04-27 07:38] jnivre commented on #448
For the French case, the guidelines say that "dislocated" should be used for the non-pronominal phrase. (There is an object example in the French guidelines for "dislocated").

For words that act more like mandatory agreement morphology than like a pronoun, there are really no guidelines yet. I think we need a group who can work out guidelines for this whole complex of phenomena, which also includ

[2017-04-27 10:25] olesar commented on #448
In my view, topicalization/fronting, focus marking etc. are typologically noteworthy phenomena that UD has to take into account.
Should we reformulate the definition of "dislocated" then?
... elements that do not fulfill the usual core grammatical relations of a sentence...
http://universaldependencies.org/u/dep/dislocated.html
Perhaps mentioning information structure functions here? "Doubling" bo

[2017-04-27 12:49] vinbo8 opened #449 "Handling reduplication"
What's the current standard for handling reduplication? Marathi has reduplication in quite a few contexts, I've marked all of these with `compound` for now but I don't know how valid that is. I'll try and enumerate some examples briefly (leaving the glosses out for the duplicated phrases):

Adjectival reduplication:

* Intensification: _lāl phula_. "Red flowers" `(red flower-PL)` vs. _lāl-lāl phul

[2017-04-27 12:57] martinpopel commented on #449
See http://universaldependencies.org/tr/dep/compound-redup.html

[2017-04-27 13:24] amir-zeldes commented on #448
We have the same situation very often in Coptic and we use dislocated. I agree the name evokes a 'movement'  account, so maybe that's not ideal, but a rose by any other name... In any case +1 for making this explicit in the definition!

[2017-04-27 13:45] vinbo8 commented on #449
Perfect, I hadn't noticed that. I'll subtype `compound`, then - cheers!

[2017-04-27 13:45] #449 closed, assigned to nobody

[2017-04-27 14:32] jonorthwash commented on #448
The difference between written French and Khasi, Spanish, and colloquial French is that in written French (and many other languages, including English), the "pronoun" is optional.  This phenomenon in the other languages is emphatically not fronting or topicalisation or anything else of that ilk—it is simply the way agreement of one sort or other works.

If the proposal is that the definition of `d

[2017-04-27 14:45] jnivre commented on #448
@jonorthwash What do you mean by "referents of agreement particles"? Are these the full phrases that are in some sense co-referential with the pronouns/agreement particles?

The "dislocated" relation, like many other UD relations, is clearly used to cover many different relations (which suggests that subtyping maybe called for). It is used for topic-comment structures in Japanese (where there is n

[2017-04-27 15:03] amir-zeldes commented on #448
@jonorthwash thanks for raising this point! I've thought about this a lot too. I agree that linguistically the 100% optional and 100% obligatory situations are very different, but there is something of a continuum between them that makes things murky sometimes. Coptic, like other Afro-Asiatic languages of North Africa, has a strong tendency to prefer this construction (or a second one with right d

[2017-04-27 15:49] jnivre commented on #448
One problem with all annotation is that we have apply sharp boundaries even in cases where there is a continuum, or a gradually ongoing process of grammaticalization. Ideally, the guidelines should be sensitive to this and specify how to annotate the different stages of development. Sort of like: If completely optional, use annotation A. If completely obligatory, use annotation B. If somewhere in-

[2017-04-27 21:57] jonorthwash commented on #448
Yes.

None of the possibilities you listed are the same as what I'm talking about, though some are a little reminiscent.  It sounds like you understand what I'm talking about generally, but the fact that the conversation seems to be centered around `dislocated`—which to my knowledge isn't currently used for what I'm talking about in any language—makes me wonder if something's being lost in the con

[2017-04-27 21:59] jonorthwash commented on #448
+1.  Perhaps @nfeldbaum would like to be involved in this.  I presume the discussion will be raised here again when it's time to organise that.

[2017-04-28 06:59] jnivre commented on #448
Thanks! I might send a message to the ud list also.

[2017-04-28 07:30] jnivre commented on #448
It is always hard to tell whether something is being lost in a conversation that you are engaged in yourself, but I hope not. I think I understand the range of phenomena, and I was only using "dislocated" as en example of how UD relations in general have to cover somewhat heterogeneous phenomena because they are coarse-grained. The other relation that is used for some of these phenomena is "expl",

[2017-04-29 20:50] dan-zeman commented on #449
Also see #238 and #307. Looks like we need a section on reduplication in the docs.

[2017-04-30 09:23] jnivre commented on #449
We need a lot in the docs. Working out more complete guidelines and docs should definitely be our first priority once the dust settles after the shared task and the workshop.

[2017-05-01 16:34] manning commented on #180
For the record in case anyone comes here, as noted in #415, the advice here is no longer the preferred UDv2 structure which would use `flat` for _der Milliardär Ross Perot:_

det(Milliardär, der)
flat(Milliardär, Ross)
flat(Milliardär, Perot)

[2017-05-05 09:24] dehouck opened #451 "Complete list of planned languages abaa"
Dear All,

I am more and more willing to participate in some annotation work the UD project but I am wondering about something.
Do we have an idea of what languages are people actually working on?

Of course there is the home page list, but in a thread someone mentioned examples from the Armenian part of the PROIEL project. Do we know if someone is working on Armenian currently?

More generally, d

[2017-05-05 09:29] dan-zeman commented on #451
In general we don't. Sometimes we learn about work on a new language at the moment the data is ready. Sometimes we know for years someone is interested in working, there is a repository for the language (and an entry on the UD title page) but nothing visible happens there.

More specifically, we know there is work going on in Armenian and I suppose we may get some data for the 2.1 release. But bec

[2017-05-05 09:39] jnivre commented on #451
Thanks for your willingness to contribute. In general, I would say we want both more languages and more data, but I actually think that the most important concern for the near future will be to improve the quality and consistency of the languages and data we already have, which also implies working out more detailed guidelines both at the universal and at the language-specific level.

However, as

[2017-05-05 10:00] dehouck commented on #451
Thanks for those quick answers.

I understand the shared task must be time consuming.

Then I'll get myself more familiar with the annotation scheme and guidelines not to have to refer to them all the time and get in touch with some language specific team to see how I can help.

[2017-05-09 15:08] vinbo8 opened #452 "Non-nominative subjects and verbal agreement"
I believe the consensus for non-nominative subject constructions was that the subject ought to be the word that the verb morphologically agreed with. Ergative-absolutive alignment in Marathi forces the transitive verb to agree with the patient, which still ought to be marked with `obj` and not `nsubj`, though, unless I'm mistaken? So that leads to a situation like this:

_to khidkī ughaḍto_ `he wi

[2017-05-09 15:17] jnivre commented on #452
We probably need more discussion of how to deal with ergativity as well as quirky case, and we cannot assume that agreement is universally an acid test for subjecthood. My immediate reaction is that "he" should be "nsubj" in the first three examples, because Marathi does not have subject-verb agreement but rather agreement with highest nominative/absolutive (or something like that). I would not ex

[2017-05-09 15:22] ftyers commented on #452
Subjects may certainly be in other cases than nominative, especially ergative in languages with ergative--absolutive alignment. From the [docs](http://universaldependencies.org/u/dep/all.html#al-u-dep/nsubj):
[code]

So, in your first example, the subject could/should be "he" in all cases.

Your second question is harder, and you might have to look for other diagnostics. In Russian currently stuff

[2017-05-09 15:29] vinbo8 commented on #452
How would you have a typical grammatical test for subjecthood that doesn't get into semantic role-labelling? It seems to me that the dative subject example in the first bit fails on two counts - the "subject"/agent is in a non-nominative, non-absolutive case, and the verb agrees with the object/patient. Are there any other non-semantic tests that would firmly establish "he" as a subject I ought to

[2017-05-09 15:32] ftyers commented on #452
In addition, here are a few things to think about regarding subjecthood, the list is non-exhaustive and a bit vague, but should provide pointers for further thinking:

* Valency changing: if you have passive what happens?
* Position: Does it go in the "typical" place where a subject goes --- if this is relevant for the language in question
* Agreement: Does it undergo agreement typical to a subjec

[2017-05-09 16:02] jnivre commented on #452
The literature on quirky case (and quirky subjects in particular) contains discussion of other tests for subjecthood. I have to run now, but I will try to dig out some references.

[2017-05-09 16:41] dan-zeman commented on #452
The semantic roles are actually needed, see Andrews (2007), cited in the docs (in Shopen et al., Language Typology vol. 1). Semantic roles are cross-linguistic. Based on them you identify primary transitive verbs in your language, and note the typical coding used to mark their arguments. Then you know how to recognize the S, A and P grammatical functions in Marathi. It might include nominative/erg

[2017-05-10 10:02] jnivre commented on #452
Subject tests are described in:

Stephen Anderson. 1976. On the Notion of Subject in Ergative Languages. In Charles N. Li (ed.) _Subject and Topic_, 1--23. New York: Academic Press. URL: https://cowgill.ling.yale.edu/sra/notionofsubject.pdf

Annie Zaenen, Joan Maling, and Höskuldur Thráinsson. 1985. Case and Grammatical Functions: The Icelandic Passive. _Natural Language and Linguistic Theory_ 3:

[2017-05-10 21:01] nschneid opened #453 "Inconsistent treatment of discourse connectives"
I am noticing that constructions of the form "S1, ADV S2" are not linked consistently. "X, so Y" uses `parataxis` to link X and Y, but this is not [documented](http://universaldependencies.org/u/dep/parataxis.html). `advcl` or `ccomp` is sometimes used with other connectives like "however" and "thus".

When discourse adverbials interrupt a clause, there is inconsistency in how it is linked to the

[2017-05-11 18:17] nschneid opened #454 "UDv2 documentation of questions and relative clauses"
As far as I can tell, there is not really any discussion of questions (yes/no or wh-) in the UDv2 guidelines. Should a section on questions be added? I have received inquiries about, e.g., what should be the head of the sentence in "How are you doing?".

[2017-05-11 18:23] jnivre commented on #454
A section of questions seems like a good idea. However, the head should be the main verb ("doing") as usual:

nsubj(doing, you)
aux(doing, are)
advmod(doing, how)

[2017-05-11 18:31] nschneid opened #455 "Dates, times, addresses, currency, numbers in v2 guidelines and English data"
Some observations:

- **Currency:** A currency symbol should be related to a numeric amount via [`nummod`](http://universaldependencies.org/u/dep/nummod.html) (e.g. in "$ 40"), but in the English data [it is sometimes `compound`](http://bionlp-www.utu.fi/dep_search/query?search=%22%24%22%20%21%3Enummod%20_&db=UD_English-v2&case_sensitive=True&hits_per_page=50).

- **Dates:** [`flat`](http://univer

[2017-05-19 19:46] martinpopel commented on #440
I've improved the [ud.MarkBugs](https://github.com/udapi/udapi-python/commit/06fb8167da295) tests, so now in addition to non-projectively attached PUNCT nodes, it reports also PUNCT nodes which are causing a non-projectivity of another edge. Both these cases are forbidden according to the [guidelines](http://universaldependencies.org/u/dep/punct.html).

UDv2.0 contains many treebanks with a high n

[2017-05-19 22:29] olesar commented on #440
thanks, @martinpopel I checked the UD_Russian data and found a chain of "list" elements (X, Y, Z, W...) in which the brackets are somehow displaced: X (Y, Z, W...). So, we have a non-projectivity which cannot be considered a "norm" but still cannot be "fobidden".I think that the similar cases can pop up in conj groups: apples (and oranges, and bananas) as well as in mwe-s: and so on (and so forth)

[2017-05-19 23:33] martinpopel commented on #440
The [guidelines](http://universaldependencies.org/u/dep/punct.html) say the brackets "should be attached to the same word **unless that would create non-projectivity**" and this phrase is a nice example why the condition is needed. Here the phrase enclosed in the brackets does not have a single head, so the obvious solution (at least as implemented in [ud.FixPunct](https://github.com/udapi/udapi-p

[2017-05-19 23:41] olesar commented on #440
yes, generally the script helps us to reveal lots of errors. Thanks once more =Ok, we will follow the "right bracket to the last element" rule. Olga

[2017-05-20 09:06] jnivre commented on #440
Thanks, Martin. Very useful! We should really make a systematic effort to make use of all this information (once we have recovered from workshops and shared tasks).

Joakim

[2017-05-23 11:16] heacu opened #458 "Question particles"
It seems that no documentation on question particles reached v2, contrary to the final comment closing #178. I'd like to reopen the question of annotating question particles. See also #454 on the documentation of questions.

I am working on Tibetan, which has dedicated particles that occur in both content and Y/N questions. In our existing scheme we tag them as *cv.ques* which means _question conv

[2017-05-23 11:19] heacu commented on #458
Incidentally, WALS has a chapter on polar questions: http://wals.info/chapter/116

[2017-05-23 12:16] jnivre commented on #458
Thanks for reopening this discussion. I agree we need to do something, perhaps not only about questions but about sentence mood in general.

[2017-05-23 17:14] amir-zeldes commented on #458
I agree with @jnivre, I also think it's more of a sentence property. For example, English marks polar questions with auxiliary inversion, so you wouldn't want to put the polarity annotation on any particular word in that case. I've been using a sentence annotation for sentence mood (roughly following the SPAAC scheme) in an English corpus here for that reason (using Stanford Dependencies, not UD,

[2017-05-23 17:58] heacu commented on #458
Well, I am talking about isolating style languages with dedicated question
particles. There sure are a lot of universal features, so unless there are
good criteria for excluding such features from one's analysis I think
treating such phenomena for such languages as sentence level properties
would be missing a trick.

I think we may need to hear from people working on languages such as
Mandarin Chi

[2017-05-23 22:05] jnivre commented on #458
I didn't mean to imply that this was only a sentence level issue. For languages that use question particles, we definitely need appropriate features. But we should also think about how to capture sentence mood for languages that rely on other strategies such as subject-verb inversion.

[2017-05-24 04:21] ermanh commented on #458
I'm part of team working on Mandarin and Cantonese, but we haven't moved on to features yet, so perhaps another team(?) working on Chinese might be able to chime in. Unless I'm mistaken though, Japanese has question particles, too, and there seems to be an active Japanese team(?).

On the subject of sentence-level particles and POS/relation, we have "sentence(/utterance)-final particles" in Mandar

[2017-05-24 14:17] amir-zeldes commented on #458
@torma I definitely don't mind having more morphological features. I think for question particles in many languages this could be done mostly automatically (based on word forms and POS tags, or for Mandarin just the relevant character), but if it's done for sentences in some languages, it may make sense to standardize the existence of a sentence level annotation across languages for comparability.

[2017-05-25 09:37] martinpopel commented on #458
My two cents:
* I guess what is needed in most cases is not a *sentence-level* annotation, but a *clause-level* annotation (obviously: stored in the head word). For example, in _He asked "How are you?" and didn't wait for a reply._ we cannot mark the whole sentence as interrogative.
 (Even if a sentence-level annotation is needed for some phenomena, we would need a better CoNLL-U specification for

[2017-05-25 09:55] jnivre commented on #458
Yes, we considered adding a notion of "syntactic" or "phrase-level" features for v2, but in the end we decided against it because (a) it would have added more complexity to CoNLL-U and (b) we didn't have enough convincing use cases for it. We may have to revisit this if we get more convincing use cases. The other option would be to use subtyping on dependency relations, like "root:decl", "root:int

[2017-05-25 13:43] amir-zeldes commented on #458
@martinpopel that argument makes sense, I agree. This may be off topic, but while we're on the issue of subtyping root/clause labels, this might be another argument for allowing it:

I very often have utterances that are just a vocative NP (e.g. an utterance such as "Mike!"). In these cases UD validation tells me the root label has to be `root`, but I always feel uneasy that this isn't `vocative`.

[2017-05-25 13:57] nschneid commented on #458
Another situation where I was tempted to subtype `root`: sentences truncated due to length limits of the medium, often indicated with an ellipsis: __"I was asking him whether..."__. This situation could justify `root:incomplete` or similar, under the logic that no sentence type has been established because there is not a complete sentence.

It would also be worth considering what to do with fragme

[2017-05-25 14:00] nschneid commented on #458
Related work, reposting from [#178](https://github.com/UniversalDependencies/docs/issues/178#issuecomment-239640746):
- Friedrich (@annefried) et al., [Situation entity types: automatic classification of clause-level aspect](http://aclweb.org/anthology/P/P16/P16-1166.pdf)
- Zeldes (@amir-zeldes) & Simonson (@thedansimonson), [Different Flavors of GUM: Evaluating Genre and Sentence Type Effects on

[2017-05-25 14:37] dan-zeman commented on #458
Hi all,

I think this is actually about ellipsis in UD and whether we want to annotate it in other cases than the gapping currently supported by the guidelines.

I also think this thread has moved far from the original topic of Question particles so if you wish to discuss it further, please create a new issue and copy the relevant points there.

[2017-05-25 15:31] amir-zeldes opened #459 "Vocative as root"
Often, a complete utterance can consist of a vocative by itself. Currently, validation enforces `root` as the only possible root label, so we cannot label cases like these as vocative:

[code]

Possible solutions to this include:
  * Allow `vocative` as a root label (seems appropriate but breaks the unique root label assumption)
  * Subtype root as `root:vocative` (keeps root label independent, bu

[2017-05-25 15:33] amir-zeldes commented on #458
OK, thanks, I've opened an issue for the vocative question here: #459

If there's interest in discussing sentence types, we can open another issue or talk about it here (it seems to have come up regarding question particles already in #178)

[2017-05-25 16:01] dan-zeman commented on #459
One thing that comes to mind: `vocative` is a label for a dependency relation, not for a node. It is the relation between the NP denoting the addressee, and the (head of the) utterance directed at the addressee. If one of the two members of the relation is omitted (here the utterance is missing), it is not so surprising that the relation disappears, too.

We have it elsewhere in UD: if a node is p

[2017-05-25 16:21] martinpopel commented on #459
If we allow `root:vocative`, it would be logical to allow all other labels for fragmentary answers in dialogues. So e.g. "Mike." could be `root:nsubj` if the question was "Who did it?" and `root:obj` if "Who did you meet?" and `root:obl` if "For whom the bell tolls?" etc. I am not sure if we want to introduce so many labels. UD currently ignores cross-sentence relations and (as noted by @dan-zeman

[2017-05-25 16:30] nschneid commented on #459
Would it at least be worth marking the utterance as fragmentary, rather than a complete sentence? Of course, this raises issues of defining what counts as a complete sentence, but there are clear examples of sentences that are typical of dialogue or similarly concise genres, missing "normal" syntactic elements because they can be recovered from conversational context.

[2017-05-25 16:30] amir-zeldes commented on #459
I understand the argument about promotion and the analogy to `root:obj` etc., but I'm not sure it's exactly the same: a vocative is not really the same as the subject of a verb. Vocatives can be used anywhere, in combination with anything - they are not really arguments of any head. If I were to see a fragmentary object like 'Mike' labeled `obj`, I'd ask 'obj of what?'. But for vocative I feel lik

[2017-05-25 17:39] dan-zeman commented on #459
I assume `Case=Voc` is not suitable because the vocative is not marked morphologically in Coptic, right?

Then I would just annotate it as extra information in MISC.

[2017-05-25 19:21] amir-zeldes commented on #459
That's right, we don't have any other cases, so it would be strange. If this can't be harmonized with one of the initiatives regarding clause types/subtyping of root, then I agree that MISC looks like the only option.

Because this is an issue that is relevant to essentially any language, it would be good to get input from other people's experiences with vocatives, and then maybe we can make a glo

[2017-05-25 19:37] dan-zeman commented on #459
I could report on experience from Czech but it's not going to help you :) vocative is morphologically distinct and we use `Case=Voc`. I have worked with a number of other languages but have not yet faced the need to search for all vocatives. (Arguably, there is a number of other phenomena that one may want to search for and UD annotation will not reveal it. That applies to ellipsis in general - so

[2017-05-28 07:19] dan-zeman commented on #455
We should discuss whether listing dates as an example of `flat` was a mistake or we really want to change the previous approach. We should also create a documentation page dedicated to dates. As a matter of fact, there has been a long discussion in https://github.com/UniversalDependencies/docs/issues/113 and especially in https://github.com/UniversalDependencies/docs/issues/210.

[2017-05-28 10:02] jnivre commented on #455
Agreed. I have made this a v2.1 milestone.

[2017-05-28 16:16] nschneid commented on #455
From skimming #210, it seems that different syntactic constructions can become conventional ways to express dates. Perhaps the best solution would be not to force a uniform structure, but to subtype relations with `:date` to reflect their common function.

Thus, for English, something like:

Thursday, July 4, 1776
nummod:date(July, 4)
nmod:date(July, Thursday)
nummod:date(July, 1776)

Thursday, th

[2017-05-29 19:45] dan-zeman opened #460 "Subordinating adverbs/particles/conjunctions in Chinese"
https://github.com/slavpetrov/parallel-treebanks/issues/30 points out issues that should be resolved in UD_Chinese and UD_Chinese-PUD. Certain words, attached to verbs, and tagged either as adverbs or as particles, have actually a subordinating function; following the guidelines proposed by @ermanh and colleagues, these words should be tagged `SCONJ` and attached as `mark`.

[2017-06-01 16:18] kimgerdes opened #461 "expletive"
The **current definition** of expletives states

This definition is nonoperational.
What is an argument that does not have a semantic role?

the Wikipedia definition seems better:

It is still questionable whether expletive is a syntactic dependency relation and should thus be part of the functional tagset.

It seems clear that our definitions should exclude Idiomatic "arguments" like "ice" in "br

[2017-06-01 18:46] jnivre commented on #461
It is possible that the definition can be improved, but I would still like to defend it against the alternative. Note that the definition does not talk about an argument without a semantic role but about a "nominal in argument position" without a semantic role. This essentially restricts the notion of expletive to subject and object positions (if we interpret "argument" as "core argument"). Restri

[2017-06-06 05:32] nschneid opened #462 "Nominalized control: acl or xcomp?"
Currently, [`acl` is used](http://bionlp-www.utu.fi/dep_search/query?search=NOUN%20%3E%20%28VERB%20%3Emark%20to%29&db=UD_English-v2&case_sensitive=True&hits_per_page=250) to link an infinitive clause to a head noun, even if it is the nominalization of a control verb.

Some have the would-be subject as a modifier before the noun:

- The Coalition __decision__ to provoke a fight: currently `acl(deci

[2017-06-06 05:59] sebschu commented on #462
Re nominalization of control verbs: I don't think we will change the basic dependencies here, but @dseddah has been working on extending the enhanced representation for these cases in French and we are trying to do the same thing for English. If you happen to know of a list of these nouns, let me know :)

I have to think about the light/support verb examples, but the _make the drive to see them_ i

[2017-06-06 19:29] nschneid commented on #462
Not specific to control verbs, but these lists of verb/noun derivational relationships may be useful:

* https://amr.isi.edu/download/lists/morph-verbalization-v1.01.txt
* https://amr.isi.edu/download/lists/verbalization-list-v1.06.txt

[2017-06-06 19:30] nschneid commented on #462
Wiktionary has a list of 40 control verbs: https://en.wiktionary.org/wiki/Category:English_control_verbs

[2017-06-06 21:03] dseddah commented on #462
Thanks for the list :) very handy !

Btw, I found very interesting stuffs in the venerable Xtag grammar,
 especially a list of nouns that takes infinitive as complement. Doesn't it
seem like it contains similar analysis for adjectives though. So if anyone
has such a list, of "control adjectives", I'll be really interested.

Djamé

2017-06-06 21:30 GMT+02:00 Nathan Schneider <notifications@github.c

[2017-06-07 15:20] amir-zeldes commented on #462
Do you mean cases like these?

https://corpling.uis.georgetown.edu/annis/gum#_q=cG9zPSJKSiIgLT5kZXBbZnVuYz0veGNvbXB8dm1vZC9dIHBvcz0vVi4qLw&_c=R1VN&cl=5&cr=5&s=0&l=10

[2017-06-07 15:43] vcvpaiva commented on #462
hi Djamé,
maybe you could put the link to the list  you've found of  nouns that takes
infinitive as complement?
Thanks!

On Tue, Jun 6, 2017 at 2:03 PM, Djamé <notifications@github.com> wrote:

--
Valeria de Paiva
http://vcvpaiva.github.io/
http://research.nuance.com/author/valeria-de-paiva/
http://www.cs.bham.ac.uk/~vdp/

[2017-06-07 19:10] nschneid commented on #462
@amir-zeldes, with adjective-headed infinitives like "easy to measure", I don't think there is projection of a syntactic argument. Semantically, it seems to mean 'easy for someone to measure'; the person doing the measuring is not made explicit.

[2017-06-07 19:51] amir-zeldes commented on #462
@nschneid yes, I agree, that's usually the case with the cataphoric "it is ADJ to VERB" ones. But what would you say about number 4 in that list:

The magician behind the counter was **wise** enough not to **sell** it to me

[2017-06-07 20:04] nschneid commented on #462
Let's discuss some simpler sentences with adjective + infinitival complement:

1. The temperature was easy to measure
   * [tough-movement](https://en.wikipedia.org/wiki/Tough_movement)—what is the UD policy?
   * Semantically: `easy(measure(Thm=temperature))`
2. The magician was eager to sell it
   * A [raising adjective](http://www.cis.upenn.edu/~xtag/tech-report/node111.html)? Unlike with the c

[2017-06-07 20:08] nschneid commented on #462
The v1 English guidelines do have [a section for tough-constructions](http://universaldependencies.org/en/overview/specific-syntax.html#tough-constructions) stipulating that `xcomp` would be used. Presumably this policy would be kept for v2.

[2017-06-07 20:13] amir-zeldes commented on #462
The Stanford parser outputs `xcomp` for all of these in basic dependencies, which is what the GUM data above is corrected from. There is no different label for the cataphoric cases either, which is why the link contains a mix of constructions (though some relevant cases in basic dependencies might still be under the label `vmod`)

[2017-06-07 20:14] sebschu commented on #462
1. Yes, these guidelines stayed the same for v2, so this section is still up-to-date. (Apart from `nmod`/`obl` distinctions and other v2 changes.)

2. I would say this is one of these control cases that @dseddah is working on. But as we don't distinguish between control and raising, I would analyze it exactly the same way as raising adjectives such as _likely_. And I would add an `nsubj:xsubj` edg

[2017-06-07 20:16] sebschu commented on #462
And if you are interested in the rationale behind our analysis of tough-adjectives, see the relevant section in  [de Marneffe et al. (2013) ](https://nlp.stanford.edu/pubs/demarneffe13more.pdf).

[2017-06-07 20:35] dseddah commented on #462
@sebschu why don't you differentiate between raising and control ? pragmatism ? Recently Fernando Perreira said "no one cares" :) I'm not sure we should not as well if we can properly disambiguate.

[2017-06-07 20:47] dseddah commented on #462
@vcvpaiva
I found  that list in the syntax-coded.flat file from the xtag grammar project ( http://www.cis.upenn.edu/~xtag/gramrelease.html  , the english_gram.tar.gz archive in the english/syntax/ directory.
Then I grepped the NXNs tree families (excluding the ones that can only have a "that" S_Comp argument
cat syntax-coded.flat | grep NXNs | grep -v \#THAT

for the control verb (subj|obj)
cat sy

[2017-06-08 11:02] sylvainkahane opened #463 "Treebank's name"
We have now several treebanks for many languages. Often one of this treebank has only the language's name, while the others have particular name. For instance for French we have now 6 treebanks:

1. French
2. French-FTB
3. French-PUD
4. French-ParTUT
5. French-Sequoia
6. French-Spoken

The treebank called French is the older one, but its is not necessary the best one. Is it possible to change the

[2017-06-08 11:48] martinpopel commented on #463
Do I understand your suggestion that all treebanks (or only when there are multiple treebanks for one language) should have some specifier in names?
I understand the motivation. It would mean renaming also the GitHub repositories, but those have no web pages, so it is [doable](https://help.github.com/articles/renaming-a-repository/).

Leaving the names aside, I think it would be very valuable to m

[2017-06-08 12:35] sylvainkahane commented on #463
**About treebank's names**

If two treebanks have been done by the same team it could be good that they have a similar specifier (cf. PUD or ParTUT). This includes languages with a unique treebank. Conversely non-related treebanks (such as Finninsh-FTB and French-FTB) should not have the same specifier.

**About the merging**

I see two problems.

First, a good corpus might be provided with good m

[2017-06-09 07:06] jnivre commented on #463
Thanks for bringing this up. The naming scheme has evolved organically over time and can definitely be improve. Maybe we can set this as a goal for the November release. When it comes to merging treebanks, I think we have to be pragmatic. When nothing prevents it, it should definitely be considered, but as you both point out there are sometimes reasons not to do it. Maybe we can provide guidelines

[2017-06-09 14:26] kimgerdes commented on #461
Thanks, Joakim, for your answer!
Let me put this into yes/no questions, to understand better what we agree on.

- So do we agree that "Peter" in "Peter seems to sleep" is a nominal in an argument position of "seems"?

- Do we agree that "Peter" does not satisfy any of the semantic roles of the predicate "seems"?

- Do we agree that the two following sentences have the same "is" (that should be eit

[2017-06-09 14:51] dan-zeman commented on #461
Hi Kim, my answers to your questions would be:
yes - no - yes - yes(nsubj) - yes

[2017-06-09 15:57] jnivre commented on #461
For me, the first and last are a clear "yes". The others need more discussion, but I don't have time right now.

[2017-06-09 16:15] kimgerdes commented on #461
Hi guys,
we believe in yes yes yes yes yes

Second point:
- Do we agree that "Peter" does not satisfy any of the semantic roles of the predicate "seems"?
The standard definition of raising verbs such as "seem" is that

https://en.wikipedia.org/wiki/Raising_(linguistics)

Third point:
ok, great. we agree that "there" is an expletive and that the rest of the analysis should not change depending on t

[2017-06-09 16:28] jnivre commented on #461
I am fine with "yes" to question 2 after the clarification.

The reason I am hesitating about 3 is that this is language-specific. For Swedish, the closest correspondence to "there is a ghost in the room" would use a verb of existence that is definitely not a copula. Whether the verb is the same or not in English would have to be settled using language-specific criteria (but in accordance with the

[2017-06-09 16:53] amir-zeldes commented on #461
Thanks for this interesting discussion! I wanted to point out that the `there is` discussion also needs to include the 'pure existential' example

`There is a ghost` (maybe found more often with God, or in negation)

If we treat `There is a ghost in the room` as a copula construction and stick with the same analysis for the sentence above, then it becomes something like "Something is a ghost" (sub

[2017-06-09 18:40] jnivre commented on #461
This is precisely my point about "there is a ghost". In many languages, these go together with existentials, rather than copulas. English is tricky because they use the same verb for both. But in French, I guess they would be different:

Il y an fantôme dans la chambre.
Un fantôme est dans la chambre.

Although I seem to remember that in older varieties of French you can use "il est" instead of "i

[2017-07-04 12:39] flammie opened #464 "CONLL-U mimetype"
Does CONLL-U have a registered mimetype or suggested? Can one be registered? I'm sitting amidst CLARIN-D meeting and so I was just curious, might be helpful with some things, if it was not just text/plain.

[2017-07-04 13:04] dan-zeman commented on #464
I don't think so. I don't see the benefit right now (given that there is no CoNLL-U-specific editor) and I also don't know what it involves to register a mime type, but if you want to volunteer…

[2017-07-04 13:11] ftyers commented on #464
I think there are several groups working on editors, we have a project ongoing at the moment `ud-annotatrix`. It seems like a request can be logged here: https://www.iana.org/form/media-types , but it requires stuff like _Note: Registrations in the standards tree must be approved by the IESG or must correspond to a formal publication by a recognized standards body._

[2017-07-04 13:29] flammie commented on #464
In this context, also web services generally rely on mimetypes to identify data or publicise what can be processed for example. I've also tried to make sense of the requirements and stuff, since the most recent ones discourage x- type ad hoc prefixes, I think the rationale was somewhere in RFC that it's lightweight to register new type so it's always good to do so, but I cannot find that just now.

[2017-07-06 17:27] msklvsk opened #465 "Routes (e.g. Mumbai-Shanghai-SFO)"
What is the canonical way to annotate routes, possibly with an intermediate destination?

[2017-07-06 18:26] dan-zeman commented on #465
Sounds like a candidate for `list`. Although I believe some UD treebanks analyze it as coordination.

[2017-07-15 17:35] msklvsk opened #466 "Post-positioned cardinal NUMs acting as ordinal (e.g. “section 3”)"
In cases like _article 50_ or _Die Hard 3_, the numeral doesn't actually indicate the quantity of a nominal, it rather shows it's order (_the fifth article_, _the third Die Hard movie_).  It feels weird to mix these concepts and use `nummod` here, but many treebanks do.

Can we consider a different (and unified) solution?

[2017-07-15 17:39] msklvsk opened #467 "NUM as nonverbal predicate"
I believe there's a type of nonverbal predication not mentioned in the docs (in addition to equation, attribution, location, possession, benefaction) — quantification.

Here is an example in Ukrainian:
![image](https://user-images.githubusercontent.com/473012/28240437-84c12d0a-698a-11e7-8b37-4d240f5c15f3.png)

[code]

Also present in Czech:
![image](https://user-images.githubusercontent.com/473012

[2017-07-15 17:41] msklvsk opened #468 "Quoted sentences as modifiers"
How do we annotate such cases?

_He’s pretty much an “I love American food, good drinks on occasion, laid back” kind of guy._

This can also appear in formal texts when referencing nonnominal titles.

[2017-07-16 19:48] dan-zeman commented on #466
Agreed that this is not quantity and that we should try to find a better annotation in a future version of the guidelines.

I would not mix it with ordinals either. The ordinal meaning may be there but it is not guaranteed and syntactically it is different, too. Article 50 may turn out to be the fifty-first article if there is article 49A. It is rather something like an entity identifier. I think

[2017-07-16 20:18] dan-zeman commented on #467
Agreed. Although one could say that it is a special case of attribution.

[2017-07-16 21:54] amir-zeldes commented on #466
I think Windows 95 is similar to a left-headed compound (i.e. it's something like the "1995 Windows", a Windows characterized by 95. Maybe similar to Windows Enterprise (the Enterprise kind of Windows).

[2017-07-16 22:01] nschneid commented on #466
I guess the ordinal number of version number (*Firefox 54.0*) is more of a modifier than a head, but it seems like a subconstruction of proper names. So I'd be fine with `flat`.

[2017-07-17 00:24] sylvainkahane commented on #466
I think that `flat` should be used only when what is the head is unclear. This is the case for _John Smith_, which commutes with both _John_ and _Smith_ (although for many languages it is quite clear what is the head in a construction N N and `flat` could be replaced by another relation).

I suppose that_Firefox 54.0_ can commute with _Firefox_ but not _54.0_, so  _Firefox_ must be the head (at le

[2017-07-17 00:58] sylvainkahane commented on #468
It is a very important question. According to the current guide it should be `parataxis`. But is clear that `parataxis`covers too many different constructions and we have already decided for Spoken French to split this relation into 6 different subrelations (see http://universaldependencies.org/fr/dep/index.html).

The case you mention is even more problematic, even it is quite usual in spoken lan

[2017-07-17 03:21] nschneid opened #469 "Status of obl:agent"
In the [Simple Clauses](http://universaldependencies.org/u/overview/simple-syntax.html) documentation and the [`obl` documentation](http://universaldependencies.org/u/dep/obl.html), there are English examples with `obl:agent`. However, though [this query](http://bionlp-www.utu.fi/dep_search/query?search=_%20%3Eobl%3Aagent%20_&db=UD_Russian-v2&case_sensitive=True&hits_per_page=50) returns a few res

[2017-07-17 04:06] sebschu commented on #469
It says optional in the guidelines ;)

But no, I don't think we intend to add this to the English treebank. However, it should add this automatically when you convert to the enhanced representation (though, admittedly using a very crude heuristic, which works most of the time but will also turn obliques such as _by the table_ in _It was placed by the table_ into `obl:agent`, but these are very rar

[2017-07-17 11:42] arademaker opened #470 "Language-Specific Relations"
http://universaldependencies.org/ext-dep-index.html

Is it time for update this page? It is still with the v1 yellow banner and it can give a wrong reading that no language-specific relation exists in UD v2 treebanks.

[2017-07-17 11:45] dan-zeman commented on #470
Yes, it is time to update all documentation.

[2017-07-17 19:08] nschneid commented on #466
In the English corpus there's a sentence mentioning "Adobe Acrobat 3.0" which uses `nummod` and "Adobe Acrobat Reader 4.0" which uses `compound(4.0, Reader)`.

[2017-07-17 19:19] msklvsk opened #471 "Consequential (conclusive?) conjunctions"
There is a conjunction _то_ _(then)_ in Ukrainian, as in _If something, **then** something._
While _then_ can be `ADV`, **_то_** is a pure conjunction (has no temporal meaning), but it's neither coordinating, nor subordinating: it connects the main clause to a preceding subordinate clause. How should we treat it? Our temp v2.1 solution is `PART` with special `PartType` connected by `discourse`.
I

[2017-07-17 20:06] dan-zeman commented on #471
In Czech the corresponding word is _tak_, it is tagged `ADV` and attached as `advmod`, see here:
http://hdl.handle.net/11346/PMLTQ-IYAZ

I would incline to tag the Polish _to_ `ADV`, too (in this context). If it stays `CCONJ`, its relation should be `cc`, although there is no coordination.

[2017-07-17 20:08] dan-zeman commented on #471
(Another possible consequential adverb in Czech is _potom_. Same analysis as _tak_.)

[2017-07-17 20:12] dan-zeman commented on #471
Edit: It turns out that some trees returned by the query above contain _tak_ tagged `CCONJ`. So we have a consistency issue that should be fixed.

[2017-07-17 20:34] msklvsk commented on #471
But _то_ is not an adverb. You cannot ask “_when? — то._” There are adverbs that can be used in similar context, but _то_ is just a linker.

[2017-07-18 09:16] dan-zeman commented on #471
I see your point but I don't know what would be the best (or least evil) solution here. In Czech, _tak_ is an adverb, but it is originally a demonstrative manner adverb. You would ask _jak_ (how), not _proč_ (why). So in this context it is more of a linker, too. It is a corelative element that refers to (or represents) the whole adverbial clause that specifies the condition. The fact that it is a

[2017-07-18 11:22] jnivre commented on #471
I definitely think adverb is the best solution here. There are many discourse particles that cannot be used to answer when/why/where-type questions but are nevertheless classified as adverbs. It also seems like the best solution for cross-linguistic consistency.

[2017-07-18 15:54] nschneid opened #472 "POS tagging of "at all""
I've noticed that in the UD English treebank, both words of "at all" are tagged as `ADV` (and `RB`). This seems counterintuitive, and actually doesn't match the [PTB guidelines](https://catalog.ldc.upenn.edu/docs/LDC99T42/tagguid1.pdf), which have it as `IN` and `DET`. Is this something we should fix?

[2017-07-18 16:34] nschneid opened #473 "Attachment of punctuation with parataxis"
For forms of [parataxis](http://universaldependencies.org/u/dep/parataxis.html) where there is a separating [punctuation](http://universaldependencies.org/u/dep/punct.html) mark (such as a comma or colon), I don't see a guideline stipulating whether the punctuation mark attaches to the first part or the second part.

Both occur in the English UD corpus:

- [attaches left](http://bionlp-www.utu.fi/

[2017-07-18 17:31] martinpopel commented on #473
One of the [punctuation guidelines](http://universaldependencies.org/u/dep/punct.html) says the punctuation should be attached to the **subordinated unit** (i.e. not the governing unit).
Typically, the second part of parataxis is attached to the first part, so the punctuation should be attached to the second part.
However, the [parataxis guidelines](http://universaldependencies.org/u/dep/parataxis

[2017-07-18 17:56] nschneid commented on #473
Ah, I read "subordinated unit" as a linguistic construction (subordination), which is not really operative in parataxis.

So you're saying the punctuation should attach to the dependent, and thus [these examples](http://bionlp-www.utu.fi/dep_search/query?search=_%20%3Eparataxis%20%28_%20%21%3Epunct%20_%29&db=UD_English-v2&case_sensitive=True&hits_per_page=10) are incorrect?

[2017-07-18 18:55] dan-zeman commented on #473
Yes. A frequent function of punctuation is to delimit a nested phrase. Then it should go with the phrase it delimits, i.e. be attached to its head. Commas (or brackets, colons etc.) around parataxis seem to fit well this pattern.

[2017-07-18 19:26] martinpopel commented on #473
Yes. Linguistically, parataxis is not (by definition) subordination, but UD attaches one part of parataxis to the other, similarly as in real (linguistically hypotactic) dependencies.
Maybe we can clarify the guidelines: "subordinated" -> "dependent" and provide examples (annotating all commas and brackets in [parataxis guidelines](http://universaldependencies.org/u/dep/parataxis.html)).

Yes. All

[2017-07-19 21:28] nschneid opened #474 "discourse vs. advmod"
A couple of discrepancies:

* **actually:** The [`discourse` doc page](http://universaldependencies.org/u/dep/discourse.html) lists *actually* as an example, but in the English treebank, all *actually* tokens are (actually) attached as `advmod`. Should the distinction be clarified in the guidelines?

* **of course:** In the English treebank, there are [4 tokens](http://bionlp-www.utu.fi/dep_search

[2017-07-19 21:30] nschneid commented on #474
cf. #306

[2017-07-19 22:42] nschneid commented on #473
Thanks for the clarification. I've added `punct` edges to the examples at [`parataxis`](http://universaldependencies.org/u/dep/parataxis.html)—hope I did it correctly. Also replaced "subordinated" with "dependent" at [`punct`](http://universaldependencies.org/u/dep/punct.html) and [other constructions](http://universaldependencies.org/u/overview/specific-syntax.html).

[2017-07-20 03:22] nschneid commented on #454
Towards the goal of drafting documentation of questions, wh-words, and relative clauses, some examples:

1. Do you like my hat?
2. I wonder whether/if you like it.
3. I wonder why you don't like it.
4. Why don't you like it?
5. What don't you like about it?
6. What I don't like is the color.
7. What I don't like about it is the color.
8. I don't like what color it is.
9. What do you care about? (p

[2017-07-20 04:29] nschneid commented on #454
1: just like "You do like my hat"

2: "whether"/"if" is always `mark`

3: Not sure how to decide if "why" heads "like" or vice versa.

4: `ccomp(matrix-verb, embedded-verb)`, and "why" attaches to the embedded verb

5, 7: Is "what about it" a constituent? Or is "about it" an independent oblique of "like"?

6: pseudo-cleft: `nsubj(color, What)`, `acl:relcl(What, like)`? The [v1 English specific syn

[2017-07-20 04:29] nschneid commented on #454
Related: #326, UniversalDependencies/UD_English#23

[2017-07-20 10:02] sebschu commented on #466
I agree with @sylvainkahane's argument about the headedness, but I'm not so sure about the relation. Most of our uses of `nmod` mark relations between full NPs that can stand on their own and this isn't really true for _Enterprise_ in _Windows Enterprise_ or _B_ in _Example B_. So I'd use `compound` here but with the first noun being the head, i.e., `compound(article, 50)` or `compound(Reader, 4.0

[2017-07-20 18:42] nschneid opened #475 "In English, should a relativizer ever be attached as `mark`?"
English relativizers, including "that", are generally treated as pronouns and attached as subject/object/oblique (see #223). However, I see 14 hits in the English corpus where [the dependent of `acl:relcl` heads a `mark`](http://bionlp-www.utu.fi/dep_search/query?search=_%20%3Cmark%20%28_%20%3Cacl%3Arelcl%20_%29&db=UD_English-v2&case_sensitive=True&hits_per_page=100). Are these correct? Should som

[2017-07-20 19:11] dan-zeman commented on #475
After skimming the query results, I think that `mark` is OK most of the time (in some cases I am not sure whether perhaps `advmod` would be better). So if there is a problem, then it is the `acl` which may not be best described as `acl:relcl`?

In any case, I am pretty sure that the last two examples (no. 9 and 10) are wrong.

9: _show you how to unfreeze_ ... _how_ should be `advmod`, not `obj`;

[2017-07-20 22:05] nschneid commented on #454
Probably worth updating as part of this: neither [`acl`](http://universaldependencies.org/docs/u/dep/acl.html) nor [complex clauses](http://universaldependencies.org/u/overview/complex-syntax.html) mentions `acl:relcl`. [Nominal syntax](http://universaldependencies.org/u/overview/nominal-syntax.html) does, and I've added an example to illustrate a relative pronoun, but there is no real discussion.

[2017-07-20 22:18] nschneid commented on #454
I've updated [`acl`](http://universaldependencies.org/docs/u/dep/acl.html), adding an explicit mention of `acl:relcl` and several more examples from [v1 English syntax](http://universaldependencies.org/en/overview/specific-syntax.html#basic-analysis).

[2017-07-21 03:54] sylvainkahane commented on #475
It has often been defended since the 1970's that English wh-words are pronouns while _that_ is a pure relativizer. In particular because _that_ does not allow the pied-piping.

But here we face a general problem for a universal treebank: do we want to favor the internal consistency of the English treebank or do we want we want to favor the consistency of UD?

In any case we have a problem of inter

[2017-07-21 10:24] dan-zeman commented on #454
We lack conventions for mentioning language-specific relations in the documentation. `acl:relcl` is not supposed to be documented in the universal guidelines because it doesn't have the universal status.

On the other hand, it is obvious that this and many other language-specific subtypes are usable in a large number of languages and should be documented somewhere centrally so that people can appl

[2017-07-21 12:52] msklvsk opened #476 "acl for secondary predication"
I find `acl`(_She, sad_) in _She entered the room sad_ the most confusing part in UD.

![image](https://user-images.githubusercontent.com/473012/28386065-17bdb600-6cd3-11e7-9a27-3a9e7397ef4c.png)

This relation seems more semantic than syntactic: _sad_ intuitively modifies _entered_ _(she entered **being sad**)_. And if it really is semantic, we should apply the same logic as for dislocated (see #

[2017-07-21 13:26] martinpopel commented on #454
I think sooner or later we will need to abandon the idea that deprel subtype = language specific subtype.
Is anyone aware of a language where `acl:relcl` is not applicable? [Wikipedia](https://en.wikipedia.org/wiki/Relative_clause#Examples) mentions almost all UD languages including those missing in [those already annotated](http://universaldependencies.org/ext-dep-index.html#acl). I think promoti

[2017-07-21 13:38] msklvsk commented on #425
For the next release of Ukrainian we went unorthodox and now split decimals in 3 tokens because, well, let’s admit, they _are_ separate tokens and the sole existence of this issue proves it.

![image](https://user-images.githubusercontent.com/473012/28465165-7c74189c-6e30-11e7-8cd8-03ac43dcb3fd.png)
(slide 13 of [Tutorial on Universal Dependencies](http://universaldependencies.org/eacl17tutorial/m