[2019-03-31 18:39] dan-zeman commented on #617
These issues would perhaps belong to the [main issue tracker in docs](https://github.com/UniversalDependencies/docs/issues), but anyways:

I think UD is quite clear about nominal phrases that are used adverbially: these should be `obl`. That rules out `PRON` and `NOUN` at least, but I believe the same approach should be used for `NUM` as well. Ensuring that `advmod` is not used where `obl` is expe

[2019-03-31 18:57] nschneid commented on #617
I like to think of `advmod` as short for *adverb* modifier, not *adverbial* modifier. PPs used adverbially, for example, are `obl`. (This may well be different from what "advmod" means in other dependency schemes.)

[2019-03-31 20:40] amir-zeldes commented on #617
Right, I see, this is actually the same for English now that I think of it, where we have `obl:npmod` (formerly `npadvmod`). I have no problem with `obl` for adverbially used PPs, these just have no prepositions. I guess we'll need to decide whether we prefer to allow `obl` without a preposition in Coptic (currently not done in the treebank) or add a subtype to keep them distinct, maybe leading to

[2019-04-07 14:14] jheinecke opened #619 "Preverbal Particles"
A need an advice for the annotation of preverbal particles in Welsh, espacially in the case of auxiliaries:
"the car is red" is "y mae 'r car yn goch" in Welsh

[code]

I do not see a better way to attach the first word _y_ . However the validation scripts do not allow dependants on auxiliaries. Does anybody see a better way ?
_y_ can be replaced with the negation particle or with an interrogative

[2019-04-07 14:19] jnivre commented on #619
If it is analysed as aux, it has to be attached to the same head as the other aux. UD treats all verb clusters as a flat structure and does not allow chains. The same is true, for example, of the two auxiliaries in "she could have done it".

However, if it is a particle that alternates with negative and interrogative particles, it is not completely obvious that it should be treated as an auxiliary

[2019-04-07 15:15] jheinecke commented on #619
It is not really an aux. I just did not find a better deprel :-). And, in case of the affirmative, it contracts with the auxiliary:  _yr ydw i 'n ifanc_ ("I am young") is more often than not _rydw i 'n ifanc_. In the Welsh Treebank I have annotated these cases as multitoken
[code]

[2019-04-07 15:33] jnivre commented on #619
There has been some discussion about question particles, which I guess is relevant, but there is no consensus yet on how they should be treated. I think some other treebanks use aux as well, so I guess that is acceptable as a temporary solution. The alternatives would be advmod, which is used for negation, or discourse, but neither of them feels like a perfect fit.

[2019-04-07 15:43] jheinecke opened #620 "Verbnouns"
In Welsh, the base forms of verbs are verbnouns, which functions as nouns. There are no infinitives. Whereas infinitives (like English or German) mark direct objects in the same way for finite and infinite verbforms, verbnouns do not, cf. German

- _ich sehe ihn_ (I see him[ACC])
- _ihn[ACC] sehen_ (to see him)

and Welsh
- _Mi welais i hi_ (lit. Affirmative see-PAST-1SG she, "I saw her")
- _ei gw

[2019-04-07 16:01] jnivre commented on #620
I am not sure whether the validation script requires cop to be AUX, which would be too strict, because copulas are not (auxiliary) verbs in all languages, or whether it just objects to seeing NOUN in this position. It seems that this is a case where we should allow language-specific exceptions (because the test is useful for finding annotation errors in other languages). @dan-zeman Do you have an

[2019-04-08 07:37] jheinecke commented on #619
The negation is  annotated as ADV using the advmod rel, but again to the auxiliary and not the predicative noun/adjective, since it contracts with the auxiliary (_nid ydw_ -> _dydw_ ("I am not"), _nid wyt_ -> _dwyt_ ("you (Sing) are not") etc. I chose this to have a homogenous annotation, since when the verb _bod_ (to be) is used as a main verb all the words are attached (using aux/advmod) to _bod

[2019-04-08 07:43] jnivre commented on #619
Auxiliaries should not have dependents in this case either. The fact that the negation and auxiliary contracts does not imply that one is a dependent of the other. Many languages have contractions of adpositions and determiners that both attach to the head noun, so both the negation and and the auxiliary should attach to the main predicate. But perhaps I misunderstood you.

[2019-04-08 07:47] jheinecke commented on #619
No, you got me right! Thanks, I will modify this accordingly.
Since the negative is ADV/advmod, I wonder whether we should make the affirmative and interrogative ADV/advmod as well (eventhough historically they were articles and pronouns)

[2019-04-08 07:48] jnivre commented on #619
This sounds like a good solution to me.

[2019-04-08 12:37] LarsAhrenberg opened #618 "'mark/case' not expected to have children"
The updated validation script, validate.py, objects when a word with a 'mark'-relation has a dependent. But some temporal and causative subordinators in Scandinavian languages and English do have dependents as in

[code]
The analysis I want is:
[code]
A possible solution is to treat expressions such as 'long before' as fixed. The alternative to attach the intial adverb to the head of the subordina

[2019-04-08 13:03] dan-zeman commented on #618
The position taken in the UD guidelines is that the adverb modifies the entire phrase, not just the preposition/conjunction. It is described in the [overview of Syntax](https://universaldependencies.org/u/overview/syntax.html#function-word-modifiers) (see especially the example _right before midnight_; it uses `case` instead of `mark` because it is just a nominal, but otherwise it seems to be quit

[2019-04-08 13:14] dan-zeman commented on #618
EDIT> On the second glance, I just realized that the same section I referenced admits that light adverbials can modify subordinating conjunctions. I overlooked this when writing the validation rules—I always thought that `case` and `mark` are parallel in behavior and rules that affect them. So, should we lift the restriction on `mark` in the validator? Or should we create language-specific lists o

[2019-04-08 13:37] dan-zeman commented on #619
The guidelines actually [suggest](https://universaldependencies.org/u/pos/PART.html) that negative particles are tagged `PART`, not `ADV` (but still attached `advmod`). I am not sure whether we wanted to modify this in v2 but we didn't. This is about words whose sole function is the negation, not to negative adverbs of location or time (_nowhere, never_) which are definitely `ADV`.

[2019-04-08 13:59] amir-zeldes commented on #618
To be honest I would prefer to allow `mark` to have modifiers, for the same reason @LarsAhrenberg mentions: they form a phrase, and the dependency structure allows you to explicitly recover that phrase. This is different from CP modifying adverbs that can be placed elsewhere in the clause:

[code]

[2019-04-08 14:45] coltekin commented on #618
As noted on the issue UniversalDependencies/tools#37 this applies to `case` as well. This is not to say that they are the heads (of the whole phrase/construction), but they are sometimes modified by other words.

My original request was due to some Turkish examples which, to me, are clear cases of modification of adpositions, but I also do not think [the discussion](https://universaldependencies.o

[2019-04-08 14:51] #621 closed, assigned to nobody

[2019-04-08 16:56] LarsAhrenberg commented on #618
I would support @coltekin in loosening the restriction on `case` as well as `mark`. I don't think it would be sufficient to have a list of light adverbs. Words such as `before` and `after` may also be modified by temporal noun phrases such as `one week` or `two hours`. However, the possible dependency relations are few and may be listed. I guess `advmod` and `nmod` would suffice for Swedish.

[2019-04-08 18:20] jnivre commented on #618
I think a restricted list of relations (rather than lexical items) might be the best solution. This list should definitely involve "advmod" and "conj" (which both occur in the guidelines). If we also want to allow nominal modifiers in this position, I think we should use "obl", rather than "nmod", although it seems like a bit of a stretch.

[2019-04-09 03:46] liljao commented on #618
We have exactly the same phenomenon in the Norwegian treebanks and I
support the above suggestions to loosen the restrictions on both "mark" and
"case".
A "fixed" analysis for these examples is really not well founded given the
lexical diversity of the possible modifiers (e.g. a week before, seconds
before, etc.).

Lilja

man. 8. apr. 2019 kl. 20:20 skrev Joakim Nivre <notifications@github.com>:

[2019-04-09 09:26] lauma opened #622 "Validator: X is not a copula in language Y"
Where can I update copula/auxilliary verb list used by validator for Latvian?

After legthy discussions here locally we worked out that Latvian has 4 auxilliaries: _būt_, _kļūt_, _tikt_, _tapt_ (rare), and we have written this down in the language documentation. However, validator gives warnings `'k\u013c\u016bt' is not a copula in language [lv]` and `'tikt' is not a copula in language [lv]`. Shou

[2019-04-09 11:13] dan-zeman commented on #618
Note that this could be analyzed as ellipsis for _slightly before midnight or right after midnight_. Then we would get (by promotion, assuming that _before_ is the orphaned dependent that gets promoted):

<pre>
advmod(before, slightly)
conj(before, midnight)
cc(midnight, or)
advmod(midnight, right)
case(midnight, after)
</pre>

(_Before_ would not be banned from having dependents in this case. Sin

[2019-04-09 11:17] dan-zeman commented on #622
I will be happy to add them, although [the documentation](http://universaldependencies.org/lv/index.html#auxiliary-verbs) makes me wonder whether they are indeed [copulas in the UD sense](http://universaldependencies.org/u/dep/cop.html)?

_To become_ is not a copula in UD.

[2019-04-09 11:32] dan-zeman commented on #618
In https://github.com/UniversalDependencies/tools/commit/2f346b5b15fe35db4a31fc33b3d591cd37dd5e1c the validator was modified to accept `advmod` and `obl` (not `nmod`, which is reserved for modifiers of nominals) under `mark`.

The restrictions on `case` were not changed because that would involve changing the guidelines, and other people have already adapted their annotations to the current guidel

[2019-04-09 12:44] coltekin commented on #618
I agree that it _can_ be analyzed as ellipsis, but I feel strongly that this is wrong for Turkish. My (non-native) feeling is also that in the English examples above, the correct analysis is modification of the case marker (e.g., _before_).

The above ellipsis analysis will also make negation ambiguous for examples like _anytime after but not before midnight_, making it unclear what is negated (I

[2019-04-09 15:21] lauma commented on #622
The argument about _kļūt_ being copula went something like this:
* _kļūt_ can't be used outside of copular constructions, i.e., saying just _viņš kļūst_ 'he becomes' is incomplete and ungrammatical, and this missing part uses the nominal case or preposition _par_ as it is in copular predicates not acusative or dative as for objects.
* When _būt_ is used in existencial or locational meaning, it can

[2019-04-09 15:28] lauma commented on #622
Argument about _tapt_ is basically the same as for _kļūt_, and as people don't feel any difference between _kļūt_ and _tapt_, the last one is rapidly vanishing from the contemporary use. In some distant past there probably was some TAME-ish diference between them. Or _kļūt_ wasn't a copula back then. I don't know for sure.

Meanwhile _tikt_ is used for constructing passive voice (it is an analytic

[2019-04-09 16:37] ftyers commented on #620
In the Irish treebank, *is* is `AUX`, while *bí* is `VERB`. There appear to be no examples of *bí* used in its citation form.

@tlynn747 any thoughts?

[2019-04-09 17:21] jheinecke commented on #620
Back to Welsh: if copula is in its verbnoun form, it can have possessives which would be the subject if _bod_ was inflected. Since aux should not have children, the following is flagged by the validation script, eventhough I think it is the best way to annotate:
[code]
If we attach _fy_ and _i_ to the predicate (adjectives) we lose the relation between this circumfix possessive with the verbnoun,

[2019-04-09 18:27] jnivre commented on #620
On the other hand, if you don't attach "fy" to the predicate, you lose the subject relation, which is worse given UD's emphasis on core arguments. I think this is parallel to languages like Turkish, where complementation also involves nominalisation, and I think "fy" should simply be annotated as "nsubj", not as "nmod".

[2019-04-10 15:45] jheinecke commented on #620
I agree. But there is one thing which makes me hesitate (maybe this is not a strong argument). From a purely syntactic point of few, verbnouns are nouns, so _fy mod_ in the example above is "possessive + noun", as is _fy aval_ (my apple). The only difference is the xpos (verbnoun vs. noun) In the latter case I attached `nmod:poss(aval, fy)`, in the former `nmod:nsubj(mod, fy)`. If we attach _fy_ t

[2019-04-10 16:00] jnivre commented on #620
The fact that you get a different attachment for the possessive is due to the special treatment of copula constructions in UD. For ordinary verbs, "fy" would remain attached to the verbnoun, but I still think it should have the label nsubj (not nmod:subj) to indicate that it is a clause-level argument. If it helps, try to think of "fy" as attaching to the combination of the verbnoun and the predic

[2019-04-10 16:10] jheinecke commented on #620
Indeed, for ordinary verbnouns (not inflected verbs) it is attached to the verbnoun (as object, since  the possessive on verbnouns corresponds to direct objects of inflected verbs). I misunderstood the guidelines in that `nsubj`/`obj` are reserved for verbal heads. If this is not the case, I will modify it.

[2019-04-10 16:26] ftyers commented on #620
In Turkic languages, as @jnivre said, this would be similar, the verb is a nominal form (takes accusative case to indicate that it is a complement and it takes the embedded subject in the genitive/possessive).

[code]

We would annotate this as:

[code]

`nsubj/obj` are for predicate heads, but predicates can be either verbal or non-verbal.

A secondary question is why you have the complement as `

[2019-04-10 20:13] dan-zeman commented on #622
Thanks, Lauma, for the explanation. I think that some of your arguments would apply to the English _to become_ as well. And the fact that a verb is incomplete without its argument/complement is quite common (cf. transitive verbs). Some verbs require an `obj`, some require an `xcomp`.

Anyways, the three verbs have now been added and the validator will recognize them.

[2019-04-10 20:13] #622 closed, assigned to dan-zeman

[2019-04-11 14:21] dan-zeman commented on #618
After some more discussion, I modified the validator to (temporarily) ignore the error if a `case` node has an `advmod` or `obl` child. This will at least somewhat reduce the burden before the upcoming release. The issue should be revisited when the next version of the guidelines is discussed. Therefore, I also modified the milestone to "later" (and renamed the issue to include `case`).

[2019-04-11 14:39] jnivre commented on #618
Thanks, Dan. All things considered, I think this was a wise decision for the upcoming release. But I agree the issue needs to be discussed more thoroughly for future versions.

[2019-04-11 16:13] jheinecke commented on #620
it's an error ... it should be a `ccomp` of course (I have to rethink my validation scripts, to find annotation errors from late-night annotations :-). Thanks for spotting it

[2019-04-11 16:32] tlynn747 commented on #620
Sorry to arrive late into this conversation!

I can't really advise on how to label the Welsh data as I don't speak
Welsh, and haven't fully followed the explanation given in order to get a
clear insight. I can only explain what we've done for Irish!

As Fran points out, the copula 'is' is tagged as AUX (and will be attached
to the predicate with the cop label)

# sent_id = 7
# text = Cailín is ea

[2019-04-12 17:41] amir-zeldes opened #623 "Gaps in fixed expression: "because of" and similar"
We have a case in the Coptic TB where a fixed expression, roughly 'because of', is interrupted by some Wackernagel clitics, which appear in the second position in the sentence while ignoring syntactic structure:

[code]

The words 'ebol' and 'je' appear separately often, meaning 'out' and 'that', but the combination is consistently annotated as a fixed expression, similarly to English "because of"

[2019-04-12 19:09] jheinecke commented on #603
We annotated about 600 of questions following primarily GSD. However for pratical reasons (we want to parse questions without risking errors in _est-ce que_/_qu'est-ce que_ etc, we put them as a single word on one line: _est-ce que_ only means that the sentence is a closes questions, _qu'est-ce que_, _qui est-ce qui_ etc. can be regarded as "long form" of wh-words _qui_, _que_. From a linguistic v

[2019-04-12 20:59] dseddah commented on #603
Hi, good news about your question data set, the more the merrier :)
 It's a pity though we didn't synchronize, the next UD release will include 2300 French questions from the French QuestionBank [1], following the FTB/Sequoia original annotation scheme and converted to UD by Bruno Guillaume

Best,
Djamé
[1] https://hal.archives-ouvertes.fr/hal-01457184v2

[2019-04-13 14:02] jnivre commented on #623
The guidelines actually do not forbid discontiguous fixed expressions, and we have some in the Swedish treebank too (which are regularly discontiguous). So this is probably a case where the validator should issue a warning (which is useful for catching erroneous cases of fixed expressions) but not an error. I am not sure how to deal with this for the upcoming release, but if you have other things

[2019-04-13 19:57] dan-zeman commented on #623
Joakim is right that the UD guidelines do not explicitly forbid discontiguous fixed expressions. [The guidelines](http://universaldependencies.org/u/dep/fixed.html) refer to [Sag et al. 2001](http://lingo.stanford.edu/pubs/WP-2001-03.pdf), section 2.1. When writing the validation rules, I deduced this rule from the Sag et al.'s work, specifically from the statement that a fixed expression could be

[2019-04-13 19:59] dan-zeman commented on #623
As for the validator, I have tentatively switched this test off in https://github.com/UniversalDependencies/tools/commit/3c84a16f3f746058247217d0352e39967d4a40ed.

[2019-04-13 21:21] sylvainkahane commented on #623
I don't understand why _because of_ and your other examples should be analyzed as fixed expressions. For me it's clearly a confusion between syntax and semantics. There are a lot of adverbs in English which have complements: _regardless of N, independently of N, apart from N_, etc. I don't see any reason not to use the relation `obl` here. Cf. our paper [Multi-word annotation in syntactic treebank

[2019-04-14 10:33] ceramisch commented on #623
I agree with @sylvainkahane for _because of_

I'm not 100% familiar with the current state of the guidelines concerning `fixed' expressions, but I've been studying similar constructions in French. I tend to believe that a construction that seems syntactically regular should get a regular analysis using standard dependencies. A stand-off semantic/MWE layer would then group such "fixed" expressions

[2019-04-14 12:43] bulbulistan commented on #623
'because' is not an adverb, is it?
We'll do it regardless.
They have arrived at this conclusion independently.
Why do these two always sit apart?
*I came here because.
Or am I missing something?

On Sat, Apr 13, 2019 at 11:21 PM sylvainkahane <notifications@github.com>
wrote:

[2019-04-14 12:53] amir-zeldes commented on #623
The semantic part of the argument is that ebol does not mean because: it only means "out" by itself. The preposition for "because" would be etbe.

The argument for treating them as one unit is also syntactic though: ebol je alternates with single token marks, such as jekaas in Coptic, so we are just saying, taken together this idiomatic expression functions as one `mark`.

Finally there are perhap

[2019-04-14 12:56] amir-zeldes commented on #623
@dan-zeman @jnivre ud-cop-scriptorium now validates, thanks! On to eng-gum...

[2019-04-15 06:55] sylvainkahane commented on #623
@amir-zeldes You say: "The semantic part of the argument is that ebol does not mean because: it only means "out" by itself." That's a purely semantic argument. It does not prove that the construction is syntactically irregular.
Your other argument, _out of_ = _outta_, is morphonological, as you said, and similar to _want to_ = _wanna_, which do not trigger off a `fixed`.
@bulbulistan The fact that

[2019-04-15 07:44] jheinecke commented on #603
We can always do it at a later stage :-)
BTW, we annotated the questions, because in FTQ the questions are rather long. We needed short , quiz like questions well parsed: "Qui est-ce que le président de la France", "Combien de buts a marqués Pelé". Without our annotations GSD was 10points lower (LAS 82%) on these type of questions.

[2019-04-15 10:51] dseddah commented on #603
Yes, that's exactly the same kind of questions, the vast majority coming from a TREC multilingual task that was also used for the English Question Bank.

[2019-04-15 13:41] nschneid commented on #623
@sylvainkahane is your objection to using `fixed` for combinations like *because of* and *out of* in general, or just if some other external process can create a gap between the words, as is the case with Coptic?

[The current guidelines for `fixed`](http://universaldependencies.org/u/dep/fixed.html) clearly include *because of* and the connective *as well as*, at least for English. If you are pro

[2019-04-15 14:23] amir-zeldes commented on #623
@sylvainkahane I agree that semantics and morphophonology alone are not criteria for making syntactic decisions, but in my opinion they can be relevant when deciding between two plausible analyses, especially in ongoing or recent grammaticalization. The syntactic motivation, as I mentioned, is substitutability, which is not a semantic test: ebol je is in a pradigmatic relationship with words like

[2019-04-16 06:34] sylvainkahane commented on #623
@nschneid If it is possible to insert words between two words A and B that are linked, it means that AB has an internal syntactic structure. It is why @dan-zeman forbid gaps between fixed expressions at first.

I also think that _because of_ should be analyzed syntactically. Such a choice is particularly problematic for UD, because we know that these two words form a unit together and, due to the

[2019-04-16 13:52] amir-zeldes commented on #623
I think you could link because + of in UD and retain the case analysis in several ways, maybe most directly by treating because as an adverb that takes a PP (like 'outside'):

[code]

But I don't think this is a better analysis: for outside you can easily remove the PP, and it's clear it has an adverbial function ("I did it outside", *"I did it because"). I think for me synchronically it's strange

[2019-04-16 19:13] jheinecke commented on #620
@dan-zeman, so would it be possible to have `validation.py` accept the verbnoun _bod_/ with upos `NOUN` as `cop`.  Maybe not generally, but at least for languages where it makes sense, like Welsh, as @jnivre has proposed above?

[2019-04-17 14:53] LarsAhrenberg opened #624 "Too strict constraint "Punctuation must not cause non-projectivity of nodes"?"
Generally I find the validation very helpful in identifying errors as regards punctuation, but I have hit upon a problem with paired punctuation marks such as citation marks. The following is a (simplified) example from English_LinES:

`The Americans wanted the new regime to educate the population and create "a stable middle-class, so that real democratic institutions could develop".`

My reading

[2019-04-17 17:09] amir-zeldes commented on #624
+1, I'm having similar problems in English_GUM.

[2019-04-17 20:23] dan-zeman commented on #624
This issue overlaps with https://github.com/UniversalDependencies/docs/issues/440. (I thought there was another more recent issue about this but it turns out that it was just an e-mail exchange with a few people @perrier54 @bguil @jnivre .) Long story short: preserving projectivity has higher priority than attaching paired punctuation to the same head; the priority follows from the v2 [guidelines]

[2019-04-17 21:05] amir-zeldes commented on #624
Honestly I don't care too much about how the punctuation is attached, the problem for me is more that udapi is producing punctuation attachments that trigger validation errors. Whatever is decided for these cases, it would be great if there were a deterministic procedure to attach punctuation to an otherwise gold tree which passes validation - and even better if this can be implemented in udapi :)

[2019-04-17 21:06] dan-zeman commented on #620
So what is the criterion to rule that a dependent of a deverbal noun is `nsubj` and not `nmod`? I suppose there must be something else than just saying "this is the nominal dependent that plays the same semantic role as the subject would play if the head was still a (finite active) verb". Because not only UD annotates dependents of nouns differently from dependents of clauses; UD also tries not to

[2019-04-17 21:09] dan-zeman commented on #620
@jheinecke : Why don't you tag _bod_ `AUX` instead of `NOUN`? That would fit in the system, and the validator would be happy, too.

[2019-04-17 21:16] martinpopel commented on #624
@amir-zeldes: If you know about any cases where [Udapi](http://udapi.github.io/) (I expect you mean the [ud.FixPunct](https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/fixpunct.py) block) produces a non-valid output, please let me know. Ideally, attach a sample (single-sentence) conllu input, actual output and expected output and report it via [Udapi issues](https://github.com/udapi

[2019-04-18 07:08] jheinecke commented on #620
Because syntactically _bod_ is a noun and functions as such (.i.e. it can have possessives, genitives, ...)

[2019-04-18 08:08] dan-zeman commented on #620
But if you want to attach it via a `cop` relation, you give it a syntactic analysis that is very different from other nouns and you definitely cannot attach a possessive or genitive directly to it. You cannot have your cake and eat it too :-)

[2019-04-18 08:10] dan-zeman commented on #620
(BTW using the `AUX` tag will not prevent you from also using the `VerbForm=Vnoun` feature, so the information will not be lost.)

[2019-04-18 08:14] jheinecke commented on #620
I agree, ...
Assuming I keep _bod_ as noun,  all sentences with _bod_ + _yn_ + predicative ADJ/NOUN have to be annotated differently from sentences like _mae 'r afal yn goch_ (lit. is the apple PRED red). I will think about it. Maybe AUX for v2.4 and a changed analysis later on

[2019-04-18 08:16] jnivre commented on #620
Agreed. Note that the AUX tag in UD does not imply that the word is a verb, only that it is used to in support of a predicate and carries features associated with verbal inflection (in this case only person, if I understand correctly).

[2019-04-18 08:27] jnivre commented on #620
@dan-zeman The criteria for distinguishing clausal from nominal structures are, as in many other cases, language-specific. In the case of Turkish, the main argument is that the nominalisation is grammaticalised and obligatory in some constructions (notably complement clauses). In other languages, we have a cline such as in the standard English examples:

1. we saw that they destroyed the factory
2

[2019-04-18 08:53] LarsAhrenberg commented on #624
Thanks @dan-zeman for your answer and pointer. I think your solution makes sense, given that citation marks mostly have other motivations than syntax,

[2019-04-18 08:53] #624 closed, assigned to nobody

[2019-04-18 18:17] amir-zeldes commented on #624
@martinpopel - Yes, thanks, I meant FixPunct - here's an example that stays non-projective after process_document(): (tested with udapi 0.2.2 under Python 3.6)

[code]

[2019-04-18 18:17] amir-zeldes commented on #624
Oh wait, you wanted a udapi issue, I will open one!

[2019-04-18 19:27] jheinecke commented on #620
In Welsh these kind ob subordinates are always nominal (with at least the "direct object" in a genitive construction, there is rarely a conjugated verbform, simultaneity, anteriority or posteriority with respexct to the main phrase, is epxressed by TAM-markers. Closer to 1 would be (possibly not totally grammatical)
[code]

Closer to 6 is the (more natural)
[code]

[code]

In any way the nominal s

[2019-04-19 15:10] ftyers commented on #620
@jnivre +1 and great examples. @jheinecke I agree, for now this seems like the best option.

[2019-04-19 15:22] kanayamah commented on #356
Since the milestone of this issue has been set to v2.4, I created the right-head version of UD_Japanese-GSD data and put to ``dev-conj`` branch: https://github.com/UniversalDependencies/UD_Japanese-GSD/tree/dev_conj (please see the files with ``_conj``)

Following the discussion above (by @murawaki @sylvainkahane @dan-zeman), ``conj`` are added with the strategies below:

- ``conj`` is used for NP

[2019-04-23 11:38] prokopidis opened #625 "AUX vs PART for TAME markers"
Hi,

The `AUX` guidelines [mention](https://universaldependencies.org/u/pos/AUX.html) that "[an auxiliary] is often a verb (which may have non-auxiliary uses as well) but many languages have nonverbal TAME markers and these should also be tagged AUX." But the `PART` guidelines [mention](https://universaldependencies.org/u/pos/PART.html) "Indeclinable aspectual or tense particles: [zh] 了 / le" as e

[2019-04-23 12:49] jnivre commented on #625
Thanks for reporting this, Prokopis. I suspect the reason for this apparent inconsistency is that the PART page has not been updated for v2. In v1, the AUX tag had a more narrow definition and was limited to auxiliary verbs, I think. We should make sure that these are made consistent.

[2019-04-23 13:54] dan-zeman commented on #625
Agreed with Joakim. I have removed the Chinese example from `PART` because I think it should indeed be `AUX` in UD v2 (although I'm not a Chinese speaker and I can be missing something; but the example, as it stood there now, was misleading).

[2019-04-23 17:24] sylvainkahane commented on #625
Auxiliary verbs in Indo-European languages are verbs that subcatogorize the lexical verbs and change its form. For this reason they cannot be erased and they are the distributional head, even if UD choose to analyze them as dependents.
[code]
Aspectual particules in Chinese are quite different because they are optional and they don't change the form of the verb. I think that this difference must b

[2019-04-23 18:01] amir-zeldes commented on #625
Auxiliaries in some IE languages can be erased (especially in some historical varieties, such as earlier Slavic, leading to Russian preterit without auxiliary, or early new high German), and some particles can't be erased if you want to get a past tense reading.

Personally I don't think AUX is really a part of speech cross-linguistically, it's more of a functional category than a morphological on

[2019-04-23 19:46] dan-zeman commented on #625
In UD v1 it was assumed that `AUX` would be verbal. For v2 it was originally suggested that the `AUX` category be removed because it is simply a `VERB` attached via an `aux` relation. But the final decision was to keep the category in v2 and extend it to indeclinable particles that have a similar function as auxiliary verbs in other languages, such as the future tense particles in Bulgarian and Gr

[2019-04-24 12:49] dan-zeman commented on #356
@kanayamah, I am sorry to disappoint you but I cannot change the guidelines on my own, and there cannot be major guideline changes between two 2.* releases. If that happens, it will have to be in UD v3 guidelines.

I set the milestone to 2.4 because I thought that maybe the issue of the attachment of the `cc` node (post from 2 Nov 2018) could qualify as a small amendment to the v2 guidelines, elab

[2019-04-24 13:06] dseddah commented on #356
Hi Dan and all,
since the last UD workshop, it was my understanding that for verb final languages it would be allowed to have right-headed coordinate structures.

I'm not sure it makes sense for people to maintain 2 versions of their treebanks, one orthodox UD and one with the correct linguistic structures available from their website (Korean and Japonese). Allowing some sort of symmetries dependi

[2019-04-24 13:19] dan-zeman commented on #356
Hi Djamé, I don't know where this understanding of yours stems from :-) maybe I missed something?

There is also the opposite argument: if the UD guidelines state that something always holds, then the users can rely on it; therefore it should really hold in the data. In any case I wouldn't think it would be a good idea to abruptly change it a week before the data freeze for the next release.

Righ

[2019-04-24 14:07] liljao opened #626 "Validator: not an auxiliary verb in language"
I have recently made a change in the Norwegian Nynorsk treebank, analyzing the passive auxiliary "verte" as AUX rather than the previous (and incorrect) analysis as VERB. The validator now throws an error, is there somewhere to add this verb to an existing list?

[2019-04-24 14:32] dseddah commented on #356
Seriously, it was during the question session of that paper "Coordinate Structures in Universal Dependencies for Head-final Languages », I thought everyone was in agreement
that the current situation couldn’t/won't last long. Maybe I’m the one who missed the « nope, won’t fix it » crowd answer?

the date argument is a solid one but as I said I thought the rules were changed already .

i’m not sure

[2019-04-24 16:32] jnivre commented on #356
There are good arguments on both sides and there is an ongoing discussion, but there is definitely not any consensus yet. More importantly, as Dan pointed out, major guideline changes do not happen as a result of workshop discussions. They are decided by the universal guidelines group and require a major version change (like the change from v1 to v2). Anything else would lead to complete chaos.

[2019-04-24 17:37] kanayamah commented on #356
@dan-zeman @jnivre Thank you.  I understand that it is not a small change so I follow your decision, and nice to hear that it will surely be discussed in the v3 design.

@dseddah thank you for your support!

[2019-04-24 20:39] dan-zeman commented on #626
At present the list is hardcoded. I added _verte_ now.

[2019-04-26 13:39] jpiitula opened #627 "Is there a way to validate more words as copulas?"
Most of the remaining validation errors in Finnish-FTB are `"is not a copula in language [fi]"`. The treebank treats occurrences of several words as "cop" but the validator only accepts "olla". Can I do something to keep at least the most frequent of these, or could someone? (The stray NOUN is related to the verb "tulla" and the analysis is probably motivated by that, but I'm not a grammarian myse

[2019-04-26 13:50] jnivre commented on #627
UD is very restrictive about copulas, and normally just allows one verb in each language. This should be the completely neutral verb that just serves to link the nonverbal predicate to the subject and which  corresponds to nothing in languages that don't use a copula in these constructions. A verb like "become" in English is not treated as a copula because it has more semantic content and correspo

[2019-04-26 13:52] dan-zeman commented on #627
More copulas per language are strongly discouraged but the guidelines (see [here](http://universaldependencies.org/u/dep/cop.html)) describe some cases in which more copulas are allowed. For example, if their paradigms are defective and one copula is used in the present tense, while another copula is used in the past tense.

Given the English translations in your list, they don't seem to be copula

[2019-04-26 14:20] jpiitula commented on #627
Thank you both. The UD answer appears to be no.

This treebank is originally derived from a different analysis. I'll see
if I can recognize the occurrences that are not too tricky to transform.

[2019-04-29 02:29] murawaki commented on #356
I am sorry to repeat myself but my proposal is to drop this oversimplified assumption before changing the guidelines. (1) In reality, the boundary between coordination and dependency is not always clear, and (2) coordination constructions (as we identify them) often share still-transparent diachronic sources with dependency constructions. That's why treating coordination constructions harmoniously

[2019-04-29 14:49] vladob54 opened #628 "Bugs in Slovak"
Some Slovak participles (mapped to adjectives in UD) produce verbal lemma, most likely due to errors in the Slovak treebank.  How can I correct it?

[2019-04-30 14:25] dan-zeman commented on #627
The pull request https://github.com/UniversalDependencies/tools/pull/51 by @arademaker seems to have the same problem. I suspect that Portuguese _ficar_ and _viver_ are not [copulas under UD guidelines](http://universaldependencies.org/u/dep/cop.html).

[2019-04-30 14:37] bulbulistan commented on #627
The actual wording of the guidelines is "The cop relation should only be used for pure copulas that add at most TAME categories to the meaning of the predicate, which means that most languages have at most one copula". So most, but not all. What are the exact criteria? And what is one to do with the  individual level vs. stage level distinction (e.g. Spanish ser vs. estar)?

[2019-04-30 14:49] jnivre commented on #627
The exact criteria are always language-specific, so each group must try to interpret the universal guidelines in a way that makes sense for the given language and does not create unmotivated differences across languages. In the Spanish treebanks, both "ser" and "estar" is treated as copulas. But, for example, inchoative verbs like "become" and "get" (and their equivalents in other languages) are n

[2019-04-30 14:50] dan-zeman commented on #627
I would love to have exact criteria but I am afraid they do not exist (or better: those that exist are not exact enough). The intuition behind it is that equivalents of _to be_ can be copulas and equivalents of _to become, to stay, to seem_ etc. are not. But as I said above, translations are often misleading, so they alone cannot serve as criteria. And although the "TAME" remark was intended to ch

[2019-04-30 14:59] bulbulistan commented on #627
@jnivre "each group must try to interpret the universal guidelines" And don't these words fill you with dread? :) I do not disagree with your position, but look at it from our point of view: the wording of the guidelines and the initial interpretation by e.g. @dan-zeman above ("More copulas per language are strongly discouraged") would suggest a much stricter view than provided just now. The guide

[2019-04-30 15:06] jnivre commented on #627
I didn't mean to be any less strict than Dan (or the guidelines). The rule is "one copula per language", which means that you must have very strong arguments for exceptions. But to rule out the possibility of exceptions by stipulation would be counterproductive. And the whole UD enterprise depends on groups that have expertise in specific languages making informed choices in the spirit of the univ

[2019-05-01 10:05] lauma commented on #627
Could a language theoretically have no copula at all, if _be_ in some language is morphologically very similar to other verbs and constructions with it doesn't seem to stand out in any way?

[2019-05-01 11:30] msklvsk commented on #617
For Ukrainian, the validator generates 43 _'advmod' should be 'ADV'_ errors for a special case which we separated into special relation [`advmod:det`](http://universaldependencies.org/uk/dep/advmod-det.html). These are pronominal adjectives that modify a degree of an adjective. They agree as an adjective but are always translated as an adverb into English and West Slavics.
<img width="366" alt="im

[2019-05-01 11:34] msklvsk commented on #596
What about _N times_? In Ukrainian, _N_ is a foreign `X` and there is a `nummod`(_times_, _N_). Validator complains.

[2019-05-01 11:39] msklvsk opened #630 "Validator complains about asterisks “* * *” grouped with `flat`"
There are three asterisks separated by space. We glued them with `flat`. Should we group with a different relation? or should the validator be changed?

[2019-05-01 11:40] jnivre commented on #627
There are many languages without copulas, but then they don't use a verb at all in sentences like "she (is) smart". And I don't see why morphological similarity should be a criterion here.

[2019-05-01 11:58] msklvsk commented on #624
This rule is being triggered in Ukrainian for:

_She-said: «All [of] this happened before those big struggles» (that-is before [the] October Revolution)_

There is an `appos`(_struggles_, _Revolution_) that crosses the closing quote. Do you suggest I should connect the closing quote to _Revolution_? What is so important about projective punctuation that justifies such a butchering of a truthful an

[2019-05-01 12:07] msklvsk commented on #618
What about particles attached to `cc` and `mark` as `discourse`?

uk: _Якщо ж_
en: _If_ <emphasizing particle _ж_>

_Ж_ doesn’t seem to modify the upper clause. It cannot be moved to a different position in a sentence.

[2019-05-01 12:47] jpiitula commented on #618
I had two instances of coordinated adpositions (ADP) in a Finnish
treebank that the validator rejected because of this rule.

fi: alta ja päältä viidenkymmenen markan
en: below and above fifty marks

fi: ennen ja jälkeen [- -] lähtöä
en: before and after [- -] departure

[2019-05-01 14:14] nschneid commented on #630
`goeswith`? Are they acting as a single unit?

[2019-05-01 15:42] dan-zeman commented on #624
I suggest that you should connect the closing quote to _struggles_.

[2019-05-01 16:26] dan-zeman commented on #618
@msklvsk : [discourse](http://universaldependencies.org/u/dep/discourse.html) is supposed to be "attached to the head of the most relevant nearby clause". If it clearly modifies a subordinating conjunction then the relation probably should not be `discourse`. I think I would use `advmod` because this relation has been used with emphasizing elements, although I admit that it is not what I imagine u

[2019-05-01 16:34] dan-zeman commented on #618
@jpiitula : Coordination of adpositions is allowed. Was the structure like this?:

<pre>
conj(alta, päältä)
cc(päältä, ja)
case(markan, alta)
nummod(markan, viidenkymmenen)
</pre>

Such a tree should pass validation. A node that is attached as `case` cannot have children unless those children are attached via certain relations or have some other exceptional properties. And one of the permitted rel

[2019-05-01 16:42] dan-zeman commented on #630
Depends on what UPOS tag you use with them. You can connect them with `flat` if their tag is `SYM`. If they are `PUNCT` then you must attach each of them separately to the common parent, using the `punct` relation.

[2019-05-01 17:06] msklvsk commented on #630
@nschneid Yes, they are a single unit, they separate sections of a book. But `goeswith` implies an error, and there is none.

@dan-zeman They do not have a common parent because they are in a separate sentence. I wanted to avoid `SYM` and used `PUNCT` instead. Now I guess I should make them `SYM`.

[2019-05-01 18:15] dan-zeman commented on #630
Do you mean the sentence consists solely of the three asterisks and nothing else? If that's the case then you can make the first asterisk the head, attach it to node 0 via a `root` relation, and attach each of the other two asterisks to the head asterisk via a `punct` relation.

[2019-05-01 19:07] dan-zeman commented on #617
Would `det:advmod` be a problem, instead of `advmod:det`?

(BTW I found one occurrence of this in Czech, and it got `det`: http://hdl.handle.net/11346/PMLTQ-ZX2X)

[2019-05-01 19:46] msklvsk commented on #617
It would be a problem since it goes against [`det`](http://universaldependencies.org/u/dep/det.html)’s definition:

We thought `advmod` would be a better base relation because it can be considered adverbial (and translations show that). But I see no justification for `det`.

Also, you can always replace `DET` with an `ADV` synonym in this cases, like _настільки_ (this-much).

Interesting that Czec

[2019-05-01 21:25] dan-zeman commented on #617
I see your point. So the question is whether we want to admit that determiners can act as `advmod` for adjectives, or whether the definition of `DET` should be extended to allow adjectival heads.

In any case I think you can rest assured that I cannot implement a validation rule that requires `NOUN` as the head of a `det`. Since the noun can be elided, and UD solves such elipsis with promotion, it

[2019-05-01 21:43] sylvainkahane commented on #627
I understand @lauma's question as follows: is the notion of copula in UD a purely semantic notion or does a copula have some particular syntactic or morphological properties?

[2019-05-02 05:43] jnivre commented on #627
It is a morphosyntactic notion, since it is defined as a strategy for linking a nonverbal predicate to its subject, but there are no specific criteria concernning morphological properties (for example, inflection) or syntactic properties (for example, word order). Indeed, in many languages, the verb serving as a copula (like English "be") also has other uses (as is the case also for other auxiliar

[2019-05-02 07:21] dan-zeman commented on #596
Hmm, tough call. I am not sure that _N_ is a numeral. Semantically it is closer to indefinite quantifiers that often end up as `DET` in UD, but it is not a normal pronominal quantifier either. In any case I think that you have to decide whether _N_ is foreign **and** unanalyzable or not. If you attach it via `nummod` then you are suggesting that you know it is a numeral, thus it is not unknown and

[2019-05-02 07:25] jnivre commented on #596
I agree. The general recommendation is to provide a real analysis whenever possible, and to opt out using X and flat:foreign only when annotators cannot interpret the foreign elements. I would also expect "nummod" to imply a different postag than X.

[2019-05-02 07:53] sylvainkahane commented on #627
Sorry Joakim, but I don't see any argument in your answer explaining why the notion of copula in UD is not purely semantic. For instance, in French, we have some verbs that verbs that behave exactly as _être_ 'to be' from the syntactic point of view, like _devenir_ 'to become': same paradigm of complements, same agreement, same word order. I don't see any mophosyntactic reason to have a different

[2019-05-02 09:02] #625 closed, assigned to nobody

[2019-05-02 13:37] dan-zeman commented on #627
I think the rule that we only accept the linking _be_ verb and not other verbs actually is semantic. Since the original motivation was to make it parallel with languages that omit the copula, I guess that the _be_ verb is the closest one to &lt;NOTHING&gt; when we want parallelism across languages.

[2019-05-05 19:01] bjascob opened #631 "Incorrect Lemmatization in UD_English Corpora"
I'm attempting to use the various UD_English corpora to test the performance of some open-source lemmatizers but I'm finding the data has a ton of errors in it.  I notice this especially with ADJ types.  Words like 'longer', 'higher', 'biggest',...  are often left in their base form, in the lemma column.  Some of the files seem better than others but I think all contain a fair number of errors.

M

[2019-05-06 06:32] rueter commented on #631
Should the lemma of a comparative or superlative adjective form be the positive form or should it be the same as the form in the text?
Only one of the UD_English...test.conllu corpora is consistently placing positive forms of adjectives and adverbs alike in the lemma column.

LinES uses (Pos lemma):
less  little, more much, longer long

GUM uses (mixed):
earlier  earlier
later   late

English: Par

[2019-05-06 06:44] dan-zeman commented on #631
I would vote for the positive form as the lemma.

For some treebanks it may be difficult to achieve if the available lemmatizer works differently. But consistent annotation where comparative form serves as lemma is still better than an inconsistent mix.

[2019-05-06 08:12] jheinecke commented on #631
+1

[2019-05-06 11:49] bjascob commented on #631
I was definitely expecting the positive form for English.  Note this is an issue for adverbs too, not just adjectives.

Can you explain if the lemma are being machine generated or are the tags edited by a person.  What is the process for making updates to the corpra?

[2019-05-06 11:58] dan-zeman commented on #631
An approximate answer to how the lemmas were annotated is available in the metadata in the README file of each treebank, also accessible from the UD title page (if ou click on English, then on the treebank, then on "Treebank hub page"). For instance, for EWT it says:

_Lemmas | assigned by a program, with some manual corrections, but not a full manual verification_

Of course there are numerous po

[2019-05-06 14:30] amir-zeldes commented on #631
Discussions of lemmatization guidelines for English are surprisingly sparse online, and I can only answer for GUM, but the situation you see in that corpus is not really 'mixed', so much as POS tag dependent. Barring possible errors, it goes back to some of the CLAWS/BNC conventions. For adjectives, comparatives are lemmatized to the positive form:

http://match.grew.fr/?corpus=UD_English-GUM@2.3&

[2019-05-06 14:53] bjascob commented on #631
As an engineer, I look at this from the simple perspective that I'm expecting the lemma to be the dictionary or simplest form of the word.  To me that means the positive form.

From my coding experience, I often see ADJ and ADV get lumped together.  They fulfill similar roles, have the same inflection rules (in English anyway) and sometimes the same word can be used in for either.  From a practica

[2019-05-08 06:07] martinpopel commented on #631
@bjascob: you may be interested in yet another open-source lemmatizer for English: [code](https://github.com/ufal/treex/blob/master/lib/Treex/Tool/EnglishMorpho/Lemmatizer.pm) and [data](http://ufallab.ms.mff.cuni.cz/tectomt/share/data/models/lemmatizer/en/).
I guess now there are many better lemmatizers, but a decade ago this was the best I could get (it was evaluated as better than the BNC lemma

[2019-05-08 12:19] bjascob commented on #631
Thanks.  Looks like they have a fairly extensive set of rules and an overriding dictionary.  I'll check it out.   [CLiPS/pattern.en](https://github.com/clips/pattern/blob/master/pattern/text/en/inflect.py) also have a fairly extensive setup.  However, it's difficult to tell which is the best without a ground-truth to test against.  I was hoping the UD treebanks would be useful here but looks like

[2019-05-08 13:18] EmanuelUHH commented on #596
We have a similar problem in German. We also treat numerals like "Hundert", "Tausend" etc. as `nummod` with the POS tag `NOUN` and support @olesar's request to make the validation tool less restrictive.

@dan-zeman: I kind of get how dollars as a unit can be an `nmod` of million, but I'm not entirely convinced of this analysis. Isn't the numeral more a part of the number than of the unit?
We can w

[2019-05-08 14:06] sylvainkahane commented on #596
Again and again we have the same difficulties when deciding between analyses because UD always hesitates between semantic and syntactic criteria. Both criteria are interesting and important and both analyses are suitable. But we cannot decide because we don't have clear criteria to decide. The choice to favor relations between content words is not based on syntactic/distributional criteria and unt

[2019-05-09 00:35] amir-zeldes commented on #631
OK, I'm convinced regarding the comparative lemmas (especially since cross-linguistically this makes more sense). I've made the changes to GUM here along with some other fixes: UniversalDependencies/UD_English-GUM@a971d8831ed44696780273ee3e886eb44c2ed674

If you notice any other lemmatization issues specific to this corpus, feel free to report them in the GUM source repo (amir-zeldes/gum)

[2019-05-09 07:58] dan-zeman commented on #628
This treebank is special in that

- it is converted from a different annotation style AND
- there is currently no mechanism of editing the source data

Therefore I think the corrections should be incorporated in my conversion procedure. I could use a simple list with lines of the form

<tt>'pomätená' => 'pomätený',</tt>

which I would apply when I see an adjective with current lemma ending in "-ť"

[2019-05-09 10:02] dan-zeman commented on #628
I have fixed a subset of the problematic cases for release 2.4 in https://github.com/UniversalDependencies/UD_Slovak-SNK/commit/f947c75718e8aebf0c4558a1b2bc39011afe3f43. Only words that look like participles and have `VerbForm=Part` were modified. There are still other words that are tagged `ADJ` and their lemma ends in _-ť_:

<pre>
1       Nestoja stáť    ADJ     VLepcm- Animacy=Anim|Aspect=Imp|G

[2019-05-09 10:51] #628 closed, assigned to dan-zeman

[2019-05-10 12:43] EmanuelUHH opened #632 "flat:foreign in German"
We are not quite sure how to deal with the relation subtype `flat:foreign`. The validation tool does not accept the use of flat:foreign for German. Is that intended or should we still use it if applicable?

And if we should use it (and assuming it is for some reason not possible to annotate according to the foreign language): can `flat:foreign` be used for loanwords and foreign names when they are

[2019-05-10 12:51] dan-zeman commented on #632
As with all relation subtypes, it has to be declared specifically for each language in which it is to be used. The reason why it was not accepted by the validator is that this relation has not been used in any other German treebank and was not (until now) declared in [deprel.de](https://github.com/UniversalDependencies/tools/blob/master/data/deprel.de).

It is now allowed and you can use it. Ideal

[2019-05-10 12:57] EmanuelUHH commented on #632
Thanks. :)

[2019-05-10 12:57] #632 closed, assigned to nobody

[2019-05-10 12:57] dan-zeman commented on #632
As for your second question: If you declare a segment of your data as a foreign phrase, then I think it is up to you whether you include the foreign words (and names) that could also appear directly in German as loanwords.

You could also share a word with the foreign language although it is not a loanword (e.g. German vs. English _so_) and I think you would still treat it as foreign if it appears

[2019-05-12 02:17] bjascob commented on #631
Thanks.  Took a look at the revised corpora today and GUM looks much improved.  I think I can use GUM and LinES for some testing, at least to get started.

[2019-05-13 09:36] eduarddrenth opened #633 "feature for "children's language""
Dear all,

Would it be an idea to introduce a lexical feature denoting that a word is "children's language". I am thinking of a boolean feature "Childslang".

Regards, Eduard

[2019-05-13 09:38] dan-zeman commented on #633
Or a new value of the [Style](https://universaldependencies.org/u/feat/Style.html) feature.

[2019-05-13 09:59] jnivre commented on #633
I think it is preferable if this can be handled with an existing feature, rather than adding a new one. The focus on UD is morphosyntax, so we don't want a proliferation of features encoding other properties of language.

[2019-05-13 09:59] eduarddrenth commented on #633
This woud correspond somewhat to how TEI defines this in register or reg, see https://tei-c.org/release/doc/tei-p5-doc/en/html/DI.html#DITPUS

[2019-05-13 18:11] amir-zeldes commented on #631
Glad to hear it - we fix issues with the data as they are identified, so feel free to report any remaining errors you find.

[2019-05-28 17:58] Nofenigma commented on #616
Isn't it fixed now?

[2019-05-28 19:43] dan-zeman commented on #616
Yes, it is. These pages are generated automatically when a treebank is released.

[2019-05-28 19:43] #616 closed, assigned to nobody

[2019-05-30 18:36] amir-zeldes opened #635 "The parent of 'orphan' should normally be 'conj' but it is 'reparandum'"
Hi - a recent update to the validator creates the error message in the title, however in the Coptic corpus we have an exception that looks correct to me: a reparandum consisting of two dependents whose head is missing. I'll give the example in English for simplicity:

[code]

The alternative of saying that both 'they' and 'have' are reparandum is unappealing, because there is a whole interrupted p

[2019-05-30 19:40] dan-zeman commented on #635
I admit that when adding the validation rule, I assumed that it would spark discussion and possibly it would have to be loosened. Though the example you give is quite beyond my imagination :-) I have moved the issue to the docs repository because it is about precise interpretation of the guidelines (as most validation issues). The validator just tries to make sure that people can make assumptions

[2019-05-30 20:07] dan-zeman commented on #635
I whitelisted `reparandum` in https://github.com/UniversalDependencies/tools/commit/e8178934276e8e452ebf6f2db71d09a48f316d57. Errors of this type are currently not reported in [Coptic](http://quest.ms.mff.cuni.cz/cgi-bin/zeman/unidep/validation-report.pl?UD_Coptic-Scriptorium). I will leave this issue open for a while so that others can contribute to a better understanding of the `orphan` relation

[2019-05-30 21:47] amir-zeldes commented on #635
Thanks! The idea of promoting the auxiliary makes a lot of sense in a language like English, where the auxiliary is itself a verb. In the Coptic example, the element in question is really just a functional auxiliary, with no chance of being used as a verb, so it seems a little stranger to promote it, rather than a core argument. In terms of parallels elsewhere in the corpus, orphan is often a depe

[2019-05-31 07:51] jnivre commented on #635
The point is not that the auxiliary can be used as a main verb but that it belongs to the same nucleus (in Tesnière's sense) as the main verb. As long as there is something left of the verb group, we prefer to let this represent the verb group so that other dependents can retain their true dependency relations (rather than "orphan"). It is for the same reason that we, for example, promote determin

[2019-05-31 13:46] amir-zeldes commented on #635
Both subject and auxiliary are dependents of the (missing) main verb - in my opinion the question is only which would we rather promote. Either way some information will be lost:

1. If we promote the auxiliary, we gain the information that the subject was probably a subject, but we lose the information that ellipsis has taken place (as marked by `orphan`)
2. If we promote the subject, we lose its

[2019-05-31 14:20] dan-zeman commented on #635
@amir-zeldes : Just a note – `orphan` is not a means to mark ellipsis. Most instances of ellipsis are simply lost in UD (that is, they are hidden due to promotion). The [purpose of orphan](https://universaldependencies.org/u/dep/orphan.html) is to avoid certain relations that only occur in some instances of ellipsis and that would be "too strange". So if nsubj(AUX, PRON) is "too strange" in Coptic

[2019-06-01 16:26] sylvainkahane commented on #635
To come back to the main topic of this issue, non-constituent conjunct are quite common with reformulations. Examples:

If we use `reparandum` for such cases, the reparandum phrase (in italic in the examples) certainly needs an `orphan` relation.

[2019-06-03 09:54] dan-zeman commented on #635
@sylvainkahane I think that the three examples you gave would be solved without `orphan` according to the UD guidelines. Simple promotion of one of the orphaned dependents.

det(good-4, a-3); det(question, a-5); advmod(good-7, very); amod(question, good-7); reparandum(good-7, good-4)

case(the, about-4); case(question, about-6); det(question, my); reparandum(my, the)

mark(you-4, that-3); mark(go,

[2019-06-04 13:01] eduarddrenth opened #636 "subject/object pronoun"
Dear all,

How would one encode a subject pronoun like "I" and an object pronoun like "me" in UD?

See https://en.wikipedia.org/wiki/Object_pronoun

[2019-06-04 13:32] dan-zeman commented on #636
<pre>
1	I	I	PRON	PRP	Case=Nom|Number=Sing|Person=1|PronType=Prs	2	nsubj	2:nsubj	_
3	me	I	PRON	PRP	Case=Acc|Number=Sing|Person=1|PronType=Prs	2	obj	2:obj	_
</pre>

[2019-06-04 14:15] eduarddrenth opened #637 "encode base form?"
Would it be a good idea to be able to encode the "base form" of a word, independent from it's POS?

For verbs the baseform would be VerbForm.Inf, for other POS like ADJ (i.e. good) and NOUN (i.e. NOUN) one cannot, as far as I can see, encode a base form.

Perhaps "LEMMA" would be a good term?

[2019-06-04 14:18] dan-zeman commented on #637
Maybe you want to read the UD documentation. Lemmas are mentioned at many places, for instance, here: https://universaldependencies.org/u/overview/morphology.html#lemmas. Not all UD treebanks contain lemmas but most of them do; it is the value of the LEMMA column in the CoNLL-U format.

[2019-06-04 14:18] #637 closed, assigned to nobody

[2019-06-04 14:28] eduarddrenth commented on #637
Thanks. I do read and strive to use UD, I think it's great and very usable, I concentrate on /u/pos and /u/feat and did not stumble upon LEMMA there. Perhaps me being an ICT expert and not a linguist didn't help either.

[2019-06-04 14:35] eduarddrenth commented on #636
Hi, does this mean that object/subject will be in the v2.4 release? As new values of PronType (nsubj and obj)?

[2019-06-06 19:57] dan-zeman commented on #636
No. `nsubj` and `obj` have been in UD since 2.0 (resp. 1.0) and they are dependency relations, not values of `PronType`. The feature that distinguishes the pronoun forms is `Case=Nom` (nominative ~ subject) vs. `Case=Acc` (accusative ~ object).

[2019-06-06 19:59] #636 closed, assigned to nobody

[2019-06-07 05:19] eduarddrenth commented on #636
ok, thanks

[2019-06-08 15:42] nschneid opened #638 ""X's own" construction in English"
Nonverbal "own" is consistently tagged as `ADJ`, though it is a special adjective that must follow a possessive. But the dependency structure is inconsistent in EWT:

* possessive + own + head noun : "their own choice", "the Republican Right 's own tactics" - `nmod:poss` for possessive and `amod` for "own" are both daughters of the head noun
* P + posessive + own, no head noun: "do research projec

[2019-06-08 15:47] nschneid commented on #638
Some clear errors in English-LinES: PPs attaching as `amod` in "a world of their own" and "powerful magic of their own"

[2019-06-08 15:52] nschneid commented on #638
A special case in English-GUM—"a BART station all its own":

amod(station, own)
nmod:poss(own, its)
det:predet(its, all)

Perhaps my suggested validation rule should be limited to cases where the noun occurs to the right of the possessive and "own".

[2019-06-08 18:19] amir-zeldes commented on #638
I'm not sure, but I think the GUM case might be correct: if 'all its own' were acting as a possessive determiner, we wouldn't get 'a' (*a its own Bart station), so this analysis posits it as a heavy adjectival modifier that gets right dislocated due to its weight. So basically in transformational terms:

hypothetical:
a [all-its-own] Bart station

right dislocation:
a t1 Bart station [all its own]

[2019-06-25 02:25] murawaki commented on #377
Just posted a preprint on Japanese syntactic words in the context of UD Japanese: https://arxiv.org/abs/1906.09719

[2019-07-08 22:42] utkuturk opened #639 "Annotating Turkish "be" verb: i-"
Hello,

While annotating another treebank, I had an extremely hard time deciding on the level of representation of Turkish _i_ (be) verb. Should morphology handle it or syntax? I believe neither in IMST, nor in PUD there is no "one" way to deal with the verb _i_, in places like "-ken" meaning when or where, "-se" meaning indicative conditional, "-miş", "-dı" and other TAM-2 markers, which are clit

[2019-07-09 11:35] dan-zeman commented on #639
Since this is a guidelines question pertaining to the whole language (or even language family; rather than just a bug report in a particular treebank), I am going to move the issue to the general issue tracker of the docs repository.

[2019-07-09 12:21] ftyers commented on #639
My opinion here is that these are clitics and should be treated as such, even at the expense of "minimality". I would ask @jonorthwash, @MemduhG and @coltekin to weigh in too.

[2019-07-09 13:02] coltekin commented on #639
As far as I know, All Turkish (Turkic?) treebanks are, so far,  consistent about **not** segmenting the copular suffix _-i_ after a _verb_. If there are differences in Turkish treebanks, this must be an error rather than a deliberate decision.

Even though these are historically separate words, and one can still observe the use of non-suffix version (in marked usage), I think it is better not to s

[2019-07-09 17:32] jonorthwash commented on #639
This current approach makes sense to me for the reasons you outlined.  But I wonder what to do for other Turkic languages where tenses with copulas sometimes are mandatorily separated by a space, e.g. Kazakh:

| `kaz` | `tur` equiv | notes |
|------|------|--------|
| ішкен**мін** | içmiş**im** | `kaz` is like `tur`: historical copula is always bound
| ішкен **едім** | içmiş**tim** (içmiş **idim**

[2019-07-09 17:46] jonorthwash commented on #639
By the way, the issue of how to analyse forms of verbs like `ішкен` or `içmiş` (when followed by a copula) is a topic brought up in a paper @ftyers and I are publishing in a proceedings shortly.  We don't solve the problem, but we entertain a few possibilities:
1. **Purely etymological approach**: verbal noun or adjective with a copular verb
  Doesn't work well (at least for UD) for the reasons @c

[2019-07-14 23:29] manning commented on #638
"own" is a weird word, but I agree with the original post that we should take the first two bullets as correct analyses and the two examples in the 3rd bullet as errors – which I might just run off and correct right now.

FWIW, there is useful discussion of "own" in section 16.7 of Huddleston and Pullum (2002) – it gets a whole section. Additional notes there include that there are a few expressio

[2019-07-15 16:47] sylvainkahane commented on #638
It seems like superlatives in French:

@amir-zeldes When _le plus beau_ is extraposed, a new determiner fills the empty place. Similar with the demotion of a subject: when the subject is extraposed, an expletive subject is introduced:

[2019-07-15 17:57] amir-zeldes commented on #638
@sylvainkahane - Yes, I think this supports the argument that it is not a possessive in the right dislocated construction, as the article is normal with adjectives anyway, so it just stays there with heavy ones:

A similar book - regular amod
A similar book to the one I read - regular amod, extraposed argument
A book similar to the one I read - extraposed amod + argument, but still amod

[2019-07-16 10:30] utkuturk commented on #639
It is kind of relieving that nobody has a *correct* or *unified* answer. There is one thing that I did not wrap my head around. Do we have to separate the use of -i verb with nominals and with verbs? I believe a unified approach towards all of the -i would benefit NLP more. What I also believe is that can one split the -i verbs as such: the ones that can be used as a separate word and the ones tha

[2019-07-16 11:44] Nofenigma opened #640 "Revisiting DET/PRON for genitive (non-agreeing) pronominal forms"
It seems that the issue has not been discussed recently (though see #159, #269, and these guidelines: https://universaldependencies.org/v2/postags.html#revised-guidelines-for-pronominal-words), but some clarifications are still needed.

The problem is actual for many Indo-European languages and actually even beyond them as well.

In various European languages (Slavic, Romance, Germanic, Baltic, et

[2019-07-16 15:57] dan-zeman commented on #640
It is true that Czech _jeho_ “his”, _její_ “her”, _jejich_ “their” do not inflect and do not show agreement with the modified (possessed) noun. It seems likely that these words have been derived from the genitive forms of the third person pronouns but only _jeho_ is ambiguous with a genitive form, while the other two are different: feminine genitive is _jí/ní_ “(of) her”, plural genitive is _jich/

[2019-07-17 13:10] Nofenigma commented on #640
Thanks for the clarifications about Czech, I was a little bit suspicious about this, but didn't check the paradigms. In any case, it seems that the criterion "if the possessive pronoun is undeclinable, but still formally different from the forms of personal pronouns, that is, it should get the DET label as a determiner" should be stated more explicitly.

Why is it uncontroversial? The guidelines a

[2019-07-17 13:36] dan-zeman commented on #640
It is uncontroversial because both the clues that you cite from the guidelines hold for it. These words behave like adjectives, are likely to be used attributively, and show gender and number agreement with the modified noun.

[2019-07-17 13:50] dan-zeman commented on #640
Good question. In this particular case, the language-specific traditional grammar has the category "possessive pronouns", which contains the words _můj_ “my”, _tvůj_ “your”, _jeho_ “his”, _její_ “her” etc. The possessive semantics is one delimiting factor of the category. Another factor is adjective-like behavior: for the first and second person it is most visible in morphological agreement, but i

[2019-07-17 13:58] dan-zeman commented on #640
So am I. But it is difficult to come to a broadly acceptable compromise without leaving the impression that we are forcing language X to look like language Y, especially if the traditional grammars provide different views of the situation. Also, while the situation may be similar in the two languages, there may be a tiny difference that will weigh towards a different solution. And language X may h

[2019-07-21 23:51] manning opened #641 "Tokenization of English (especially contractions in informal genres)"
I was wondering whether we should try to do more to standardize/change the tokenization of English used in UD. (At the moment, decisions of tokenization are largely outside the scope of the UD guidelines apart from some general admonitions of UD being built on a lexicalist belief in words).

At present, UD_English-EWT almost entirely follows the tokenization done by newer LDC/Penn Treebanks like O

[2019-07-23 07:47] DavidNemeskey opened #642 "Sentence-starting hashmarks"
While not common, sentences can begin with the hash mark character, or, more likely, a hashtag. This may confuse CoNLL-U parsers. I think it made more sense if comments started with the hash mark AND space characters -- something that never occurs on a token line, since the field delimiter is the tab character.

Incidentally, all the example comments on the [CoNNL-U page](https://universaldependen

[2019-07-23 08:43] dan-zeman commented on #642
I don't see any possible confusion in the current specification. A line that starts with "#" is a comment line. A natural language sentence can start with "#" but when the sentence is encoded in CoNLL-U, this hash mark will never occur as the first character of a line. On the text metadata comment line, this will be the second hash mark:

<pre># text = # ...</pre>

And on the line describing the f

[2019-07-23 09:21] DavidNemeskey commented on #642
Oh, I completely forgot about the numeric node ID! This must be because we are using a CoNLL-U-like format, which lacks that column. So I guess this problem does not affect the regular CoNLL-U format.

[2019-07-23 09:23] #642 closed, assigned to nobody

[2019-07-23 17:03] brendano commented on #641
Thanks for the discussion. I agree with your characterization of our arguments.

[3] sounds pretty reasonable.  Another benefit it has, is that it works with a rule-based tokenizer that hardcodes the usual formal/mainstream/contemporary-but-pre-internet English conventions for splitting. This problem is much easier and more clearly defined than full-out segmentation, and is solvable by radically s

[2019-07-24 14:24] amir-zeldes commented on #641
I'm more or less on board with 3., and would like to emphasize that incompatibility with older LDC corpora is a substantial prices: The UD English corpora put together are still nowhere near the size of the full PTB, so I wouldn't want to give up on them.

As for specifics: 3. is pretty much what we do in UD-English_GUM, though we do segment alternative spellings of what would otherwise be multipl

[2019-07-26 04:40] martinpopel commented on #641
What I am missing in this discussion is the UD [distinction between words and tokens](https://universaldependencies.org/u/overview/tokenization.html). I think the tokenization should be a relatively simple task, at least for languages using spaces: tokenize on spaces and punctuation (with language-specific rules about symbols like apostrophes and hyphens). However, segmentation of tokens into word

[2019-07-27 18:46] manning commented on #641
Hi @martinpopel, my discussion above was about what **words** to recognize, and so the discussion is precisely whether "imma" is a multiword token, and more precisely whether this token is regarded as containing 1, 2, 3, or 4 words.

I agree that it would be good to represent the tokens of multiword tokens in the UD_English-EWT – and probably other UD_English treebanks that lack them – but it hasn

[2019-07-27 20:25] manning commented on #641
Along the lines @amir-zeldes suggested, I can see some appeal to the argument that you should separate off verbal arguments and so have "Imma" [ I <--nsubj-- mma], though we should of course remember that many, many languages allow subject pro drop, and even in English you can marginally have things like "Been meaning to talk to you about that."  Even adopting that principle, we'd still have [dont

[2019-07-31 09:25] amir-zeldes commented on #641
@martinpopel I think we could pretty easily include super-tokens in GUM, I think the main reason English TBs haven't been doing it is that it is usually not very complex/interesting in English, since cases like "Imma" are rather rare in the datasets we have available.

We do have an annotation in GUM that marks up things that are spelled together unusually, which we use to generate the SpaceAfter

[2019-07-31 16:24] martinpopel commented on #641
I wrote such a script two years ago: https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/joinasmwt.py
It follows the rule I mentioned in my previous post: it creates a multi-word token (MWT) if multiple neighboring words are not separated by a space and the boundaries between the word forms are alphabetical.
Do you see any cases when this script adds MWT where it should not?

[2019-08-03 09:23] amir-zeldes commented on #641
@martinpopel I'm not sure... Sometimes there are tokens spelled without spaces such as typos or unusual spellings, which are not exactly multi-word tokens. Some examples:

  * Fstatistic (tokenized as `F <--compound-- statistic` with SpaceAfter=No)
  * meirl - typo(?) for me + IRL (in real life) - not sure this should get a MWT, we tokenized it as two tokens with SpaceAfter=No

Conversely:
  * You

[2019-08-05 07:29] martinpopel commented on #641
I think Fstatistic and meirl should be a single token, but if the majority of UD core thinks otherwise, I will have to give up my rule.

Note that I don't claim my script `joinasmwt.py` finds all MWTs. I know that apostrophes and hyphens are treated differently in different languages and sometimes even within the same language. Thus these are difficult to be handled automatically.

[2019-08-06 09:39] amir-zeldes commented on #641
I think almost any rule will have a few exceptions and disagreements, but that's not a reason not to add super tokens to English UD corpora :)

@logan-siyao-peng - would you like to take a stab at writing up some suggested guidelines for English and implementing for GUM? We could then see if other English UD corpora want to use it as well.

[2019-08-20 08:15] lauma commented on #635
https://github.com/UniversalDependencies/docs/issues/635#issuecomment-497458687 :

If `advcl` is okay, is `acl` any different? If I understand correctly, it can be a subordinate clause with its own potentially gapped predicate the same as `advcl`?

E.g., in Latvian saying _viņš ēd tos ābolus, ko pirms tam [ēda] tārpi_ ('he eats the same apples, which where [eaten] by worms before that') is rather

[2019-08-21 18:39] manning commented on #631
I'm also good with the decision that the lemma of comparative/superlative adjectives/adverbs should be the positive. (I presume, however,  that we don't lemmatize regular adverbs to the corresponding adjective.) For UD_English-EWT, the story is that the originally used lemmatizer (Stanford CoreNLP) didn't do anything for adverbs and adjectives (only nouns, verbs, pronouns, auxiliaries), and while

[2019-08-21 19:05] #631 closed, assigned to nobody

[2019-08-21 19:53] dan-zeman commented on #635
Sounds good to me. Added `acl`.

[2019-08-22 12:55] lauma opened #643 "Which roles can become orphan?"
Is there something like a conclusive list which roles must become orphan in case when the predicate they are dependant of is elided? https://universaldependencies.org/u/overview/specific-syntax.html#ellipsis says following:

Would that mean that all roles from blocks Nominals, Clauses, Modifier words listed  in https://universaldependencies.org/u/dep/index.html are eligible to become `orphan`, i.e

[2019-09-03 18:42] dan-zeman commented on #643
No, I do not think such a list exists, at least not with the intention to strictly exclude everything else. You could say that the obliqueness ranking that is mentioned [in the guidelines](https://universaldependencies.org/u/overview/specific-syntax.html#ellipsis-in-clauses) lists dependent types that were foreseen to become orphans: `nsubj > obj > iobj > obl > advmod > csubj > xcomp > ccomp > adv

[2019-09-04 09:01] lauma commented on #643
Thanks! I will tune the convertor code used for Latvian to follow these prelaminary guidelines.

[2019-09-11 12:07] bguil opened #644 "Tokenization of French (contractions)"
Annotations of contractions (mainly *au*, *aux*, *du* and *des*) are not consistent among French treebanks.

Whereas *au* and *aux* are easy to manage as multiword tokens ([Tokenization and Word Segmentation](https://universaldependencies.org/u/overview/tokenization.html)), the situation for *du* and *des* is more difficult:

 * *Je rencontre des étudiants* (*I met students*) -> *des* is a determi

[2019-09-11 17:22] martinpopel commented on #644
When converting UD_French-PUD to UD, I kept *des* as a single word (and token) if it was a determiner, but split it into two words (within a single multi-word token) if it was a contraction.
For details see: https://github.com/udapi/udapi-python/blob/master/udapi/block/ud/fr/addmwt.py
Of course, the code is just a heuristics (based on the annotation style used in the original Google treebank), so

[2019-09-12 10:26] Stormur commented on #644
Hi all,

just my humble 2 cents.

In my opinion, leaving contractions (amalgames) always unsplit is the worst option of the four (both split; both unsplit; one split and one unsplit) and it is not clear to me why it should be desirable. I think also in terms of cross-treebank comparability, since the phenomenon is very similar (if not nearly identical) in Italian and other languages too.

We agree

[2019-09-13 10:37] ceramisch commented on #644
Another option which would not make tokenisation (or word splitting, to use @martinpopel's terminology) dependent on syntax would be to systematically split _des_ = _de_(`ADP`) + _les_(`DET`), and then use syntactic relations to distinguish the partitive determiner from preposition+determiner cases. There are two options to make this distinction :
 * using `obj` (partitive) vs `obl` (preposition)

[2019-09-16 15:32] EmanuelUHH opened #645 "Correct dependency structure for constructions in the style of "1920 x 1080 pixels"?"
What is the correct way to annotate phrases like "1920 x 1080 pixels"? The PDT contains similar phrases which are annotated in one of two ways:

Option 1:
nummod(pixels, 1920)
conj(1920, 1080)
cc(1080, x)

Option 2:
obj(pixels, 1920)
nmod(1920, x)
obj(x, 1080)

We prefer Option 1 since we find the phrase to be structurally similar to a conjunction, but conj+cc seems weird since there is no actual

[2019-09-16 16:12] martinpopel commented on #645
I don't feel entitled to give definite answers, but I think [flat](https://universaldependencies.org/u/dep/flat.html) should be considered as well.
(BTW: I could not find any "1080" in [PDT](https://github.com/UniversalDependencies/UD_Czech-PDT/tree/master).)

[2019-09-16 16:28] sylvainkahane commented on #645
I suppose that we want to annotate the reading of this expression in a given language. It can depend on the language considered. And it is even possible that there are two different readings in the same language with different syntaxes. If x is read "by", Option 3 seems quite good, even if `nmod` between two NUMs can be a bit unusual.

[2019-09-16 16:31] amir-zeldes commented on #645
We don't have exactly this one, but we have lots of numbers in UD_English-GUM joined by a symbol that can be read out loud as a preposition:

https://corpling.uis.georgetown.edu/annis/#_q=L1swLTldKy8gLT51ZFtkZXByZWw9Im5tb2QiXSAvWzAtOV0rLw&_c=R1VN&cl=5&cr=5&s=0&l=10

We then tag the symbol as a preposition (in this case x=ADP) and use nmod to connect the numbers like @EmanuelUHH suggests:

"1920 x

[2019-09-16 19:46] ftyers commented on #645
I agree with @amir-zeldes, in treebanks I work on, if it is an expression like this we annotate it as if it were spoken out.

[2019-09-16 20:27] kailimp commented on #645
It is flat. Otherwise I can read it loud in Estonian as  nummod nmod nummod or obj acl obl depending on my mood. This is mathematical structure, not linguistic.

[2019-09-16 21:03] EmanuelUHH commented on #645
The example was made up to be similar to those cases. Sorry, my wording was misleading. Fixed it.

[2019-09-17 01:42] nschneid commented on #645
Whether it's written with "x" or "by", this feels like a construction that has a fixed structure for specifying dimensions. I don't think it can be manipulated in ways typical of PPs:

PP coordination: ?We can print 1920 by 1080 or by 540 pixels.

CGEL p. 632 classifies "spoonful by spoonful" as a special kind of PP that is headed by "by" rather than an NP headed by the first "spoonful". Whether w

[2019-09-17 18:35] amir-zeldes commented on #645
For me the ? sentence above is fine :) (We can print 1920 by 1080 or by 540 pixels)

In any case, I don't think this is the same construction as N by N (Jackendoff has a paper detailing some of its semantic distributive properties which don't seem to apply: https://ase.tufts.edu/cogstud/jackendoff/papers/Constructionafterconstruction.pdf). I do agree that it's the entrenched way of specifying dime

[2019-09-18 02:56] nschneid commented on #645
There's a figure-ground distinction here that cognitive semanticists would say is made more explicit by using "with", which construes its head as more prominent and its object as secondary, which is why "For dinner I had some potatoes with a burger" sounds odd even though truth-semantically it's valid. (And slightly odder, IMO, than "For dinner I had some potatoes and a burger", though mentioning

[2019-09-19 14:14] lauma commented on #635
And what about other subordinate clauses - `csubj` and `ccomp`? Latvian sometimes just omits the verb in the subordintat clause, even if it is not explicitly repeated, but just easy to deduce from all other parts in that clause. We got sentence _atjēdzos, ka bez angļu valodas nekur [netikšu]_ '[I] realised, that [I will get] nowere without English' in our data. For us it felt most natural to use a

[2019-09-21 18:21] dan-zeman commented on #635
Well, perhaps all deprels that can mark incoming edges to heads of clauses make the heads technically eligible for outgoing `orphan` edges? Although this example seems even further from prototypical gapping. What do others think about this (@jnivre @manning @sebschu)?

Note that I don't doubt that this actually is ellipsis; but most types of ellipsis are annotated in UD without using the `orphan`

[2019-09-21 21:06] sebschu commented on #635
Yes, this is an interesting data point that we haven't considered so far. I always consider `orphan` to be appropriate when there is an elided predicate with multiple dependents and in our UDW-17 paper, we argued (like Gerdes and Kahane, 2015) that this also includes sentences with elided predicates where the predicate only appears in a preceding sentence (rather than in another clause in the same

[2019-09-23 12:43] EmanuelUHH commented on #645
Thank you for your insights. Since there is no universally preferred solution, we'll side with the PP analysis and stick with option 3.

[2019-09-23 12:43] #645 closed, assigned to nobody

[2019-09-23 20:01] dan-zeman commented on #645
Just a side note, the "by" argument for PP does not affect the analysis in PDT, as the corresponding word definitely is not a preposition in Czech. As @sylvainkahane noted, it can depend on the language considered.

[2019-09-24 11:25] peresolb opened #646 "Clefting in UDv2"
Hi,
I am trying to figure out how to annotate clefting constructions in Norwegian UDv2. (I am working on a gold-standard UD corpus for Norwegian.) I haven't found a lot about clefting in the documentation (but please point me in the right direction if I have missed something). There are some discussions on clefting in UDv1, like [this one](https://github.com/UniversalDependencies/UD_Danish-DDT/iss

[2019-09-24 13:25] amir-zeldes commented on #646
Just to add some facts for English, since there were some question marks above:

  * English-GUM has "it is" as nsubj+cop, and the clause as acl:relcl.
  * English-EWT has the same for "it is X that Y" (e.g. "Recall that it was two Exocets that ripped the USS Stark"), but interestingly has a WH example with expl+cop+nsubj:
    * It is always interesting what spin the press will take (with nsubj(in

[2019-09-24 15:02] peresolb commented on #646
Thanks a lot, @amir-zeldes!

I agree that expl, cop, csubj works well for the spin example from EWT. However, I am not sure that it is the same construction. It seems to me to be what we in the Norwegian Dependency Treebank project called a _clause-anticipating construction_: Instead of having a clausal subject, you put in an expletive in the subject position and move the logical subject to the ri

[2019-09-24 21:27] nschneid commented on #646
Regarding English—at [expl](https://universaldependencies.org/u/dep/expl.html) we see:

- It is clear that we should decline. expl(clear, It), csubj(clear, decline)

Is EWT distinguishing copular complements that are adjectives vs. nouns? Or is the Exocets example an error?

My native speaker intuition is that "It is John that/who should decide" is closer to the "It is clear" example than to a nor

[2019-09-25 17:28] amir-zeldes commented on #646
Agreed, and thanks for the ambiguous example! I think it nicely reveals a trade off in the choice. If we go with nsubj+acl, we can't tell apart clefts from regular clauses, but we make life harder for our parsers. If we go with expl + csubj, we have a difference, but parsers can get the structure wrong, leading to downstream errors.

I'm OK with either one, but I'd be against expl + acl - I feel l

[2019-09-25 17:36] amir-zeldes commented on #646
And BTW regarding what @peresolb pointed out above, I am definitely not saying other languages need to have an `nsubj`, my comment above about subjects was just regarding the English examples

[2019-09-29 03:35] nschneid opened #647 "Criteria for aux:pass: 'get'"
Most of the English treeabanks use `aux:pass` for passive auxiliaries. Canonically this is a form of "be", but "get" can also act as a passive aux:

- He got hit by a truck ≈ He was hit by a truck

However, "get" as a light verb is thorny and can also have causative and inchoative usages where no agent-by-phrase is possible:

- I got ready/old.
- I got everybody excited/on track.

In EWT (at least

[2019-09-29 14:10] nschneid opened #648 "Nominalizations of verb particle constructions"
In EWT, nominalizations like "set up", "check - out", and "take - out" (with or without a hyphen) are analyzed as N+N compounds headed by the second word. This seems odd because etymologically, the first word is clearly a verbal head.

True noun-noun compounds are normally right-headed (with a couple exceptions in the corpus). Should these particles be an exception? Should they even be classified

[2019-09-29 14:21] amir-zeldes commented on #648
In GUM we have the first word as the head with `compound:prt` pointing to the particle:

https://corpling.uis.georgetown.edu/annis/#_q=cG9zPSJOTiIgXz1fICJzZXQiIC4gInVwIg&_c=R1VN&cl=5&cr=5&s=0&l=10

[2019-09-29 14:30] nschneid commented on #648
Along with tagging the second word as RP.

This is reminiscent of #462—the question of whether to treat compositional structure differently when a verb is nominalized.

[2019-09-30 14:45] amir-zeldes commented on #647
Again offering GUM for comparison - we treat the ADJ class as `xcomp`, by analogy to "become", so "get mad" = xcomp(get,mad):

https://corpling.uis.georgetown.edu/annis/#_q=ImdldCIgLiAibWFkIg&_c=R1VN&cl=5&cr=5&s=0&l=10

get + VVN is interpreted as a passive auxiliary, though we probably also have some errors:

https://corpling.uis.georgetown.edu/annis/#_q=ImdldCIgXz1fIHRva19mdW5jPSJhdXhwYXNzIg&_c=

[2019-09-30 23:06] nschneid opened #649 "Hyphens/other symbols as case markers"
EWT specifies the hyphen as a case marker of the following number in e.g. "September 16 - 18". However, unlike case markers spelled as proper words, punctuation/symbol case markers are not reflected in the enhanced nmod dependency (presumably `nmod:-` would be problematic).

Should `nmod:to` be used in these cases as that is how it would be pronounced? Should the hyphen be tagged as `ADP` with "to

[2019-09-30 23:13] sebschu commented on #649
I'm not sure about the POS tag, but yes, I think the lemmas should be "to", "at", "by", etc. in these cases (and the enhanced relation `nmod:to`). IIRC, we do the same for uses of "2" instead of "to" and "4" instead of "for".

[2019-09-30 23:22] nschneid commented on #649
Correct.

One wrinkle: "/" can be ambiguous between "and" and "or", even to human readers. We could go with "slash" as the lemma in such cases.

(I could see an argument that "-", "/", "x" are actually coordinating conjunctions rather than adpositions—and Geoff Pullum was sympathetic to this analysis when I discussed it with him following #645—but this is not a hill I'm willing to die on.)

[2019-09-30 23:44] sebschu commented on #649
I don't have a strong opinion about this, but I'm not totally convinced that using "slash" instead of "/" as the lemma would be a better solution than keeping "/". In the other cases, using the preposition highlights the equivalence of "-" and "to", but that doesn't apply if we use "slash". And further, is it really always pronounced as "slash" when read aloud? i think in some cases, people just u

[2019-10-01 00:00] nschneid commented on #649
Then is there a good alternative to `nmod:/`?

[2019-10-01 01:23] sebschu commented on #649
Probably not, but I think we have to convince @dan-zeman of that, because last time I checked, the validator did not accept treebanks with special characters in the relation name :)

[2019-10-01 10:45] dan-zeman commented on #649
POS tag: If it is pronounced aloud and it has a syntactic function, it is not `PUNCT`. But if, at the same time, it resembles punctuation because it consists of special characters, the `SYM` tag is used.

Enhanced deprel: it's not just the validator, we have also specified in the guidelines the characters that can appear in a deprel. I'd really like to avoid non-alpha characters here. Using `nmod:

[2019-10-01 13:22] msang commented on #644
Hi all, I agree with Flavio: contractions and partitives have different syntactic and semantic functions,
any other option but the one that keeps a clear distinction between the two at any level (starting from word splitting) just doesn't sound right to me, for the same reasons mentioned in other posts above.
Moreover, as a contributor of a parallel treebank involving French and Italian (languages

[2019-10-01 14:58] amir-zeldes commented on #649
RE pos and lemma in GUM:
  * `-` meaning 'to': xpos="TO", upos="ADP", deprel="case", lemma="-"  (there are different types of dashes and we give them all themselves as the lemma)
  * `/` meaning 'or': xpos="SYM", upos="SYM", deprel="cc", lemma="/"

For me '/' etc. is its own word, and indeed it can be pronounced 'slash', or 'or', so it can be a distinct lemma, but syntactically it's a `cc`. The PO

[2019-10-02 05:32] nschneid opened #650 ""X's favorite" construction"
In EWT, the current policy is:

- In a noun-headed NP like "my favorite restaurant", the possessive and the adjective "favorite" are sisters under the noun.
- If a possessive and "favorite" are not followed by a noun ("this restaurant is my favorite", "my favorite is the one..."), then "favorite" heads the possessive.

(GUM has 3 instances of the former and no instances of "X's favorite" without a

[2019-10-02 12:28] Stormur commented on #650
I am actually not so convinced about the annotation change you propose, because I think that _my_ is still modifying _book_, which is the head of the phrase; we can just observe that sometimes _my_ determines a true possession and other times a looser relation with the person it expresses (probably analogous to the alienable/inalienable feature some languages display). In any case, we have a deter

[2019-10-02 14:50] amir-zeldes commented on #650
I agree with @nschneid that `my favorite` by itself is a different structure, and indeed a noun, since it is pluralizable - we can see that the phrasal head is what take pluralization:

  * My favorite/JJ book/NN
  * My favorite/NN

Because:

  * My favorite/JJ books/NNS
  * My favorites/NNS

I also agree with @Stormur that the issue is one of nesting. Even if semantics were a deciding factor, whi

[2019-10-02 16:05] sylvainkahane commented on #650
Thanks @nschneid for these interesting data. They remind me the problem of raising verbs, where we have the same mismatch between semantic and syntactic relations.
If you look at the clause _Peter seems to sleep_, clearly _Peter_ is the syntactic subject of _seems_ (linear position, verb agreement), but it is not its semantic argument: the paraphrase with _It seems that Peter is sleeping_ (as well

[2019-10-02 18:20] nschneid commented on #650
@Stormur, @amir-zeldes, if I understand correctly you're arguing that the full phrase structure should be [NP my [NP favorite book]], i.e. it is [NP favorite book] that licenses the possessive, but the two levels of nesting of modifiers must get flattened in conversion to dependencies.

I don't necessarily disagree with the phrase structure analysis, but if we think of dependencies as licensing re

[2019-10-03 18:51] nschneid commented on #650
(https://github.com/UniversalDependencies/UD_English-EWT/commit/d12f83f8fd5cb54cc0cda52eb7b9a30cc49287c9 fixes the 1 token where it should be NOUN rather than ADJ)

[2019-10-04 15:33] KoichiYasuoka commented on #617
In Classical Chinese, we observe some adverbial use of `VERB` (single word), so we introduced `VerbForm=Conv` with `advmod`:
[code]
In the particular example above "moderately use and love person", we observe `VERB` 節 is used as a [verbal adverb](https://universaldependencies.org/u/feat/VerbForm.html#conv-converb-transgressive-adverbial-participle-verbal-adverb) to modify another `VERB` 用.

[2019-10-04 16:06] KoichiYasuoka commented on #635
In Classical Chinese, very few `orphan` occurs and it was originally `cc` before stripping. For typical example "學而習" (study and practice) went "學而" in a chapter title. In this case, `conj` at 學―`conj`→習 gone away, and 而←`cc`―習 gone `orphan`. How do we do this for [the validation](https://github.com/UniversalDependencies/tools/issues/54)?

[2019-10-04 20:01] dan-zeman commented on #617
@KoichiYasuoka Words that are tagged `VERB VerbForm=Conv` are attached via `advcl` in other languages. It is not a problem that the clause consists of a single word. Single-word clauses are not so rare, especially nonfinite clauses.

Alternatively, it is possible to tag the word `ADV VerbForm=Conv` and attach it via `advmod`. So it depends on your priorities and judgment what is more acceptable: t

[2019-10-05 15:28] dan-zeman commented on #643
Unless there are objections I propose to add `dislocated` and `vocative` to the end of the obliqueness hierarchy [in the guidelines](https://universaldependencies.org/u/overview/specific-syntax.html#ellipsis-in-clauses).

[2019-10-05 16:04] dan-zeman commented on #635
This does not look like a case for `orphan` to me. Even in clauses where `orphan` is used, it does not replace a `cc` relation. In the gapping examples [in the guidelines](https://universaldependencies.org/u/overview/specific-syntax.html#ellipsis-in-clauses), the promoted heads in the gapped clauses still have `cc` children.

One possibility would be to simply attach the conjunction to the remaini

[2019-10-05 16:11] #617 closed, assigned to nobody

[2019-10-05 16:13] KoichiYasuoka commented on #635
Thank you for your comment, @dan-zeman , and I've tried `acl` to link to the "parents" of `orphan`s. I understand that this is not good choice, but only two `orphan`s in our problem might be resolved this time.
![orphan](https://user-images.githubusercontent.com/15098598/66257578-fd959600-e7d5-11e9-8461-36c26d9083d5.png)

[2019-10-05 16:15] #627 closed, assigned to dan-zeman

[2019-10-05 16:20] #623 closed, assigned to dan-zeman

[2019-10-05 16:24] #638 closed, assigned to nobody

[2019-10-05 16:36] dan-zeman commented on #650
After reading through this thread I am changing the milestone to "later" because the remaining question is about possible future changes to the guidelines for the enhanced representation.

I wonder whether there is a wider and cross-linguistic formulation of the possible new enhancement. Or is it just one word in one of the 80+ languages (+ possibly the translations of this one word in languages w

[2019-10-05 16:39] #630 closed, assigned to dan-zeman

[2019-10-05 16:40] #614 closed, assigned to dan-zeman

[2019-10-05 16:42] #610 closed, assigned to nobody

[2019-10-05 16:44] #603 closed, assigned to nobody

[2019-10-05 16:46] #602 closed, assigned to nobody

[2019-10-05 16:52] #609 closed, assigned to nobody

[2019-10-05 18:15] #619 closed, assigned to nobody

[2019-10-05 19:02] dan-zeman commented on #596
I would like to unravel and close this issue. I am afraid that the main problem is that the `nummod` relation is insufficiently motivated and defined, but we cannot simply get rid of it as long as we work under v2 guidelines. If the motivation were semantic, then it would probably include pronominal quantifiers as well as noun phrases like _a bunch of_ — but these are clearly not included. And, UD

[2019-10-05 19:04] #590 closed, assigned to nobody

[2019-10-05 19:05] #592 closed, assigned to nobody

[2019-10-05 19:09] dan-zeman commented on #594
It sounds acceptable to me. But it would be also possible to attach both occurrences to the same parent and use the `dep` relation for the second copy. I think I have seen something like that in one of the UD treebanks.

[2019-10-05 19:11] #440 closed, assigned to nobody

[2019-10-05 19:32] #283 closed, assigned to dan-zeman

[2019-10-05 19:38] #588 closed, assigned to dan-zeman

[2019-10-05 19:40] #540 closed, assigned to nobody

[2019-10-06 07:32] #595 closed, assigned to nobody

[2019-10-06 07:41] dan-zeman commented on #374
I am going to close this long issue. If I am not mistaken, classifiers are now described in the documentation, hopefully in line with this thread. The annotation is probably still not fixed in UD_Chinese-GSD but that would deserve a separate issue, I think.

[2019-10-06 07:41] #374 closed, assigned to nobody

[2019-10-06 08:39] jnivre commented on #596
Thanks, Dan. I personally think that "nummod" is similar to the old "neg" relation from v1 in that it is not a proper syntactic relation. For future versions of UD, we may consider going the same way, that is, to remove the nummod relation (and use det, amod, advmod, etc. as appropriate) and instead have a feature marking phrases as numerical or quantitative (if the postag NUM is not sufficient by

[2019-10-06 08:39] jnivre commented on #643
+1

[2019-10-06 09:14] #421 closed, assigned to nobody

[2019-10-06 09:37] #583 closed, assigned to nobody

[2019-10-06 09:39] #582 closed, assigned to nobody

[2019-10-06 09:42] #585 closed, assigned to spyysalo, fginter

[2019-10-06 09:48] #579 closed, assigned to nobody

[2019-10-06 09:58] dan-zeman commented on #578
I would not make _так_ “so” a sibling of the subordinate clause. In the English example, the first _as_ is part of the constituent _as often_, which in Czech would also have two words _(tak často)_ and I suspect the same may be the case in Ukrainian _(так часто)_. But as the Slavic examples show, we can also have just the demonstrative adverb in a similar position while I don't think it is possibl

[2019-10-06 10:04] dan-zeman commented on #570
So what is the status of this issue? Does it wait for a modification of the data or the guidelines?

[2019-10-06 10:13] dan-zeman commented on #556
I would probably analyze the two adjectives as asyndetic coordination, i.e., conj(цілісні, лінійні). If they were used attributively instead of predicatively, there would be another option: simply attach them both as `amod`s.

[2019-10-06 10:51] #559 closed, assigned to nobody

[2019-10-06 10:53] #560 closed, assigned to nobody

[2019-10-06 10:56] #557 closed, assigned to nobody

[2019-10-06 10:59] #558 closed, assigned to nobody

[2019-10-06 11:41] #547 closed, assigned to nobody

[2019-10-06 11:43] dan-zeman commented on #525
What is the status of this issue? Any pending changes to the English guidelines or data?

[2019-10-06 11:47] dan-zeman commented on #544
In the meantime, the abovementioned PDF document has been converted to MarkDown and added as a [recommendation in the guidelines](https://universaldependencies.org/u/overview/typos.html), so I am closing this issue.

[2019-10-06 11:47] #544 closed, assigned to nobody

[2019-10-06 11:51] #524 closed, assigned to nobody

[2019-10-06 11:53] #531 closed, assigned to nobody

[2019-10-06 12:01] dan-zeman commented on #552
Not sure about _anyplace_. I think it is not totally unheard of that a preposition combines with a word that lies in the gray zone between nouns and adverbs and is possibly tagged `ADV`. But one would have to search for examples. And the English-specific guidelines should probably mention the cases mentioned in this issue.

[2019-10-06 12:07] #545 closed, assigned to nobody

[2019-10-06 12:10] #541 closed, assigned to nobody

[2019-10-06 12:14] dan-zeman commented on #530
I am tentatively closing this issue. If actual annotation in UD_French-GSD still contains bugs w.r.t. attachment of _se_, please open an issue in the repository of that treebank.

[2019-10-06 12:14] #530 closed, assigned to nobody

[2019-10-06 12:57] dan-zeman commented on #566
I just checked that the complex case with multiple tokens, mentioned by @gossebouma, is now documented [in the guidelines](https://universaldependencies.org/u/overview/enhanced-syntax.html#case-information). So I think this issue can be closed.

I share the doubts about the usefulness of this enhancement type but it is a part of the current guidelines, so it is allowed to appear in the UD treebank

[2019-10-06 12:57] #566 closed, assigned to sebschu

[2019-10-06 13:01] #561 closed, assigned to nobody

[2019-10-06 14:15] dan-zeman commented on #567
I think that reaching to modified nouns goes beyond the current guidelines and beyond what @sebschu and @manning proposed in their Enhanced UD paper. That is, nouns modified by a deverbative adjective as `amod` (because we also have other similar enhancement type where we look at nouns modified by `acl:relcl`).

On the other hand, I agree that adding an enhanced nsubj(hit, agents), as well as nsub

[2019-10-06 14:27] dan-zeman commented on #568
I think it would be useful to revisit the enhanced guidelines in the near future and take all these experiences into account. Right now, traversing a `ccomp` or `advcl` does not seem to comply with the guidelines. But if I were annotating enhanced UD manually, I would at least keep these cases so that the more enhanced annotation is ready if it is allowed in the future.

As for the “subject embedd

[2019-10-06 14:35] dan-zeman commented on #474
In UD 2.4 English EWT, _actually_ is still treated as `advmod`, except for one `parataxis`; see this query: http://hdl.handle.net/11346/PMLTQ-WZIF. @manning @sebschu : Should we modify the examples in the documentation or the data?

[2019-10-06 14:52] #400 closed, assigned to nobody

[2019-10-06 14:54] #503 closed, assigned to nobody

[2019-10-06 14:55] dan-zeman commented on #503
Related: #400

[2019-10-06 14:59] dan-zeman commented on #433
A year ago, the standoff guidelines were added to the documentation, see [here](https://universaldependencies.org/ext-format.html).

[2019-10-06 14:59] #433 closed, assigned to nobody

[2019-10-06 15:13] dan-zeman commented on #445
Overlap test before release 2.4 did not report the English duplicates so I'm assuming it has been fixed.

[2019-10-06 15:13] #445 closed, assigned to sebschu

[2019-10-06 15:17] #462 closed, assigned to nobody

[2019-10-06 15:49] dan-zeman commented on #424
The examples in the [recommendations on typos](https://universaldependencies.org/u/overview/typos.html) keep the lemma and part of speech with the first part and treat the non-first parts as unknown words.

[2019-10-06 15:49] #424 closed, assigned to nobody

[2019-10-06 15:52] #466 closed, assigned to nobody

[2019-10-06 16:05] dan-zeman commented on #284
The bug still exists in UD 2.4.

[2019-10-06 16:21] #483 closed, assigned to nobody

[2019-10-06 16:22] #429 closed, assigned to nobody

[2019-10-06 16:38] dan-zeman commented on #435
Although this is an old issue, no mechanism has been defined that would allow to change the guidelines (other than upgrading to v3 UD guidelines). (And I am also not completely sure that there is consensus that the non-empty fields should be allowed.) I am changing the milestone to "later".

Note that the official validator can be run with the option `--level 1`, in which case it will not report n

[2019-10-06 16:50] #505 closed, assigned to nobody

[2019-10-06 16:51] #459 closed, assigned to nobody

[2019-10-06 18:26] #448 closed, assigned to nobody

[2019-10-06 18:28] dan-zeman commented on #581
Note: This issue seems to overlap with older #484.

[2019-10-06 18:29] dan-zeman commented on #484
Newer issue on this topic: #581.

[2019-10-06 18:29] #484 closed, assigned to nobody

[2019-10-06 18:32] #494 closed, assigned to nobody

[2019-10-06 18:42] nschneid commented on #647
#206 concerns which of these "gets" should be tagged `AUX`

[2019-10-06 18:43] nschneid commented on #649
Regarding putting the lemma in the enhanced dependency, see #566

[2019-10-06 18:44] #486 closed, assigned to nobody

[2019-10-06 18:50] dan-zeman commented on #241
Closing the issue. We no longer require each language to have a complete mirror of the pages for each tag, feature and relation. Fortunately, there is [some documentation at the universal level](https://universaldependencies.org/u/feat/AdpType.html), although it still claims pertaining to UD v1.

[2019-10-06 18:50] #241 closed, assigned to fginter

[2019-10-06 18:52] #325 closed, assigned to jpiitula, vinczev

[2019-10-06 18:55] dan-zeman commented on #328
Any development here? @jmnybl @jpiitula @kailimp @flammie @rueter @nikopartanen @vinczev

[2019-10-06 19:03] #299 closed, assigned to nobody

[2019-10-06 19:11] #342 closed, assigned to nobody

[2019-10-06 19:21] dan-zeman commented on #197
@coltekin : I am not sure what the status of this issue is. It is more than 4 years old so it is quite possible that a common solution has been found and implemented in the meantime; on the other hand, your last post is quite open-ended. I am tentatively moving it to a new milestone but perhaps we can close the issue?

[2019-10-06 19:31] #643 closed, assigned to nobody

[2019-10-06 19:44] dan-zeman commented on #596
Validator modified. Closing this issue.

[2019-10-06 19:44] #596 closed, assigned to nobody

[2019-10-06 19:46] dan-zeman commented on #646
Related older issue: UniversalDependencies/UD_Danish-DDT#11.

[2019-10-07 10:19] Stormur commented on #620
Sorry for commenting only now.

Wouldn't it be possible to introduce a double POS (where order matters), in the sense of an "external" vs. "internal" part of speech? For example, the case you mention of _destroying_: we might assign it the double POS NOUN/VERB, meaning that:

- "externally" it depends from other nodes with the deprels used for NOUNs, and it can also take determiners or adjectival

[2019-10-07 10:31] lauma commented on #594
Untill now I assumed that `dep` means incomplete or someway wrong annotation, and, thus, should be used as a last resort.

[2019-10-07 11:01] dan-zeman commented on #594
I would say that this case is a last resort :-) The `dep` relation definitely should be used as little as possible. But an ungrammatical sentence is something where I would start at least considering `dep` as a possible solution.

[2019-10-07 11:09] colinbatchelor commented on #594
In the speech subcorpus I'm annotating at the moment I'm using `dep` where the transcriber has been unable to work out what the speaker said and written `[?]`. Occasionally I can guess the part of speech from context but it seems safest just to say `dep`. Is that reasonable?

[2019-10-07 11:24] dan-zeman commented on #594
In situations where you cannot guess a different relation from context, `dep` sounds reasonable to me.

[2019-10-07 11:39] dan-zeman commented on #620
Agreed that some words sometimes behave like one category in relation to their parents and like another category in relation to their children, but no, it is not possible to express this within the UD framework. Here it is always assumed that each word in context belongs to exactly one of the 17 coarse-grained categories. If there is a secondary candidate category, it can be sometimes expressed us

[2019-10-07 12:06] Stormur commented on #620
Does the framework consequently also not allow e.g. a NOUN token with the `VerbForm` feature to take verbal deprels?

Unfortunately, this brings forth lots of very weird analyses, like case-governing prepositions attached as marks to participial forms in an attributive function... Sorry if I insist, but is this really something that cannot be introduced in UD, a future milestone? It seems to be a

[2019-10-07 13:18] LarsAhrenberg commented on #650
Just some additional cross-lingual data. In Swedish (and I suspect Norwegian and Danish), the corresponding noun is 'favorit'. When it is used as a nominal head it behaves just as the English 'favorite' but it can only combine with another noun as the first part of a compund:

Thus, here it won't even be an independent node of a UD tree. The possessive determiner is definitely the preferred one, b

[2019-10-07 13:39] dan-zeman commented on #620
This remains somewhat controversial. Since UD makes such a strict distinction between annotation of clauses vs. nominals, I believe that if you want verbal relations, you should tag the word `VERB`. If it looks more like a nominal because of case marking, articles etc., it may be a derived `NOUN` but then it should abandon clausal relations and use the nominal ones. This way it feels like a cohere

[2019-10-07 14:04] amir-zeldes commented on #594
@colinbatchelor we do the same for damaged manuscript parts in the Coptic treebank (by convention, `dep` governed by the root, or local root if there is a projectivity problem)

[2019-10-07 14:06] sylvainkahane commented on #620
The inflection can change the distribution of a lexeme towards its governor. This has already been described by many authors (rank theory of Jespersen 1924, transfer of Tesnière 1959). This is exactly what happens in these examples. In 1, the transfer is done by the complementizer _that_, in 2 by the infinitive inflexion and in 3 and 4 by the _-ing_ inflexion. In 6, it is a derivation and the lexe

[2019-10-07 17:48] rueter commented on #596
Sorry, for the late interest, but I wasn't sure that I understood the argumentation as to why the Russian numerals
 тысяча 'thousand', миллион 'million', миллиард 'billion' (and names for even larger numbers) are treated as a NOUN and NOT NUM.

What about the hundreds, which by orthographic tradition are written as single words but, in fact, satisfy part of the same criteria (1–3)
(1) пять|сот (Ge

[2019-10-07 21:01] amir-zeldes commented on #596
Let me add my voice to those who might want to keep `nummod` as a relation: the behavior of numbers in a variety of languages can be syntactically distinct from determiners and nouns, or it can be a mix of both, sometimes also varying based on the number (as in Slavic; Coptic and others also have some unique constructions).

It's true that there is something semantic about numbers, but in my opini

[2019-10-07 21:22] amir-zeldes commented on #552
Since 'place' is also a noun, maybe this is NOUN in context? The same could be said about home/NOUN vs. home/ADV depending on context.

[2019-10-07 21:28] dan-zeman commented on #596
@rueter : I think that there is again a scale.

* _миллион_ "million" is semantically a number but morphologically it is a noun, just like _регион_ "region" or _район_ "district". Syntactically it is also like many nouns and it takes genitive modifiers, although these are interpreted as partitives rather than possessives (but there are such nouns too, cf. _миллион долларов_ "million of dollars" vs

[2019-10-08 09:16] coltekin commented on #197
I do not think we have a solution. The way we currently annotate similar "multi-valued" features (something like `Voice=CauPass`) keeps the information around, but makes the use of this information difficult (e.g., most systems/people will not associate `CauPass` with `Cau` or `Pass`).

If there will be a major revision of morphological features (I vaguely recall plans of unifying with UniMorph),

[2019-10-08 10:18] rueter commented on #596
@dan-zeman : NUM seems to be inconsistent in the 4 Russian treebanks

Thanks for the idea of scale, it sounds good.

 Let's take a look at the [nummod](https://universaldependencies.org/u/dep/nummod.html) guidelines and their reference to [NUM](https://universaldependencies.org/u/pos/NUM.html).

(1) There are instances where words are treated as NOUN, but their counterparts in Western Arabic numer

[2019-10-08 13:24] perrier54 commented on #646
In the dev version of UD_French-GSD ([https://github.com/UniversalDependencies/UD_French-GSD/tree/dev](url)), we annotate cleft clauses as it is suggested by @peresolb .
See the following examples :

- _C'est à Paris que je vais (it is to Paris that I go)_

       _expl(Paris, C'); advcl:cleft(Paris, vais)_

- _C'est l'homme qui vient (it is the man who is coming)_
There are two interpretations :

[2019-10-08 19:45] dan-zeman commented on #596
(1) Agreed that _тысяча_ "thousand" should be treated consistently across the Russian treebanks. I am not so sure that `NOUN` is a good solution but consistency definitely matters. As for the Arabic digits, my bet would be that the reason is technical: you tag it `NUM` and you do not consult a dictionary... but you could also say that if you write _5000_, you lose some of the possible usages that

[2019-10-09 14:17] Stormur commented on #536
I would like to come back to this issue after I think I have gained a better insight into the problem.

I think that the best fit for an apposition-introducing element like _scilicet_, _cioè_ or _δηλαδή_ as described in the previous discussion is the part of speech `CCONJ` and, consequently, the deprel `cc` in relation to the introduced element.

While choosing to use the special deprel `advmod:cc

[2019-10-11 09:59] bguil opened #652 "Consistency of corpora in one language VS consistency of parallel corpora"
These two objectives may be sometimes contradictory, two examples:
 * The English possessives *my*, *its* are tagged `PRON` in all English corpora except **UD_English-ParTUT** where they are tagged `DET` (to be more parallel to other **ParTUT** annotation?)
 * The French possessives *mon*, *son* are tagged `DET` in all French corpora except **UD_French-PUD** where they are tagged `PRON` (to be mor

[2019-10-11 11:46] dan-zeman commented on #652
Intra-language consistency should have higher priority. Which of course does not exclude the possibility that 5 English treebanks find out they were wrong, and change their annotation to that used in English ParTUT :-)

PUD is a separate story. Most PUD treebanks were annotated in Google, following Google UD-like annotation guidelines, but not UD directly. A small group of people (incl. me) then c

[2019-10-12 03:16] qipeng opened #653 "Chinese validator doesn't recognize copula "为/為""
"为/為" is a pretty common copula in Chinese, aside from its other uses.

For instance (part of `sent_id = dev-s498` in the dev set of Chinese-GSDSimp)
[code]

[2019-10-12 15:11] nschneid opened #654 "Noun+Number constructions"
In constructions like the following, should the number or the preceding noun be the head, and if the latter, should `nummod` apply?

- This is the **number one** restaurant in town.: `nummod(number, one)`?
  * our **# 1** priority
- This restaurant is **number one**.: `nummod(number, one)`?
  * These restaurants are **number(s) one and two**.
- He works at station **number 3**: `appos(station, num

[2019-10-12 15:12] jheinecke commented on #620
Yes, verbnouns behave like nouns, inflected forms behave like verbs. Some dictionaries (like the Geiriadur Pryfysgol Cymru, http://www.geiriadur.ac.uk/, the lexical authority for Welsh), list verbs under the first person singular, present/future tense instead the verbnoun. But I would not go as far to say verbnouns are a derivation (as _destruction_ wrt _destroy_).
I agree with @sylvainkahane's ar

[2019-10-12 15:37] sylvainkahane commented on #620
An inflection morpheme can change the realization of the arguments of the lexeme it combines with. For instance, a passive morpheme will change an initial object into a subject. I think I would have a similar treatement here and consider that the verbnoun form changes the initial object into an `nmod:poss`. Relation labels are names of constructions. Clearly in the case of _ei gweld_, the construc

[2019-10-13 14:48] colinbatchelor commented on #654
I have a similar question for Scottish Gaelic. In the sports commentary subcorpus the commentator says things like "_Alba neoni Yugoslavia neoni_" 'Scotland nil Yugoslavia nil'.

This isn't nummod, though, is it? Tentatively going for `obj(Alba, neoni)` as if it's short for Scotland [have scored] nil [goals].

[2019-10-13 15:12] sylvainkahane commented on #654
@colinbatchelor in this case _neoni_ is the predicate/focus/rhema. I will put it as the root. And _Alba_ as `dislocated` (or maybe `nsubj`).

[2019-10-13 18:44] dan-zeman commented on #653
This issue seems to be a Chinese variant of the issues #622 and #627. (For the record: there was also #497 directly about the Chinese copula, although it was not about the possibility to have more than one copula in Chinese.)

So I have essentially the same question: If you look at [the copula documentation](http://universaldependencies.org/u/dep/cop.html), does this seem to be a legitimate except

[2019-10-13 19:34] colinbatchelor commented on #654
@sylvainkahane That makes sense. I think I prefer `dislocated` because Gaelic is VSO. Many thanks!

[2019-10-13 21:46] qipeng commented on #653
Thanks for the context, @dan-zeman !

为/為(wei2) does not convey more semantic information than 是(shi4) when acting like a copula, and I think in most cases they are interchangeable. The sentence in my original post reads just fine with 是:

```五楼是演艺厅。```

I think the main difference is that 是 is used both in spoken and written Mandarin, whereas 为/為 (probably also 系/係 too) is more formal and mostly

[2019-10-14 10:10] dan-zeman commented on #654
I think the current practice is to use `nummod(number, one)`. Personally I think it would be more useful to distinguish it from expressions like _one number_ but I am not aware of a guideline that would say what to do here. (On the other hand, [the nummod guideline](https://universaldependencies.org/u/dep/nummod.html) says that the modifier specifies quantity, so it should not apply to _number one

[2019-10-14 10:13] dan-zeman commented on #654
A similar older issue: #466

Perhaps we really need to put something about this in the guidelines.

[2019-10-14 14:16] nschneid commented on #654
What about subtyping, e.g. `nummod:post` (or `nummod:index` to distinguish from proper quantities)?

[2019-10-15 00:26] amir-zeldes commented on #654
I'm not sure the number is actually the modifier here, despite the pluralization of days... My expectation is that if only one of two things can be omitted then the one we can't omit is the head:

Example question "Which one do you want?". Possible answers:
  * `Number 2`
  * `2`
  * `* Number`

Couldn't 'number' be a little like a title or modifier, expanding what kind of entity '2' refers to?

I

[2019-10-15 02:34] nschneid commented on #654
One way to interpret this is that "number" turns a cardinal number into an ordinal number. Are there languages where ordinality is regularly expressed compositionally, with two syntactic words, one being a cardinal number?

[2019-10-15 02:40] nschneid commented on #654
Or rather, turning a cardinal into an ordinal is one function of this construction. Another is to express a conventional label for something: "room number 45B".

[2019-10-15 06:21] sylvainkahane commented on #654
I think that in such constructions, numbers behave like nouns (if not as nouns). The analysis might be the same as in N N constructions, such as _President Trump_ (cf. #503). Which also means that the solutions depend on the language: if in English the head seems to be the number (_number 3_ can commute with _3_ but not with _number_), in French, a determiner is obligatory and I would choose the n

[2019-10-15 06:47] dan-zeman commented on #653
@wongtaksum Should we add 為 as a second possible copula in Cantonese?

[2019-10-15 07:06] dan-zeman commented on #653
I have added 为/為 (wei2) to the Chinese list.

[2019-10-15 07:26] rueter commented on #654
@nschneid This is an interesting idea, but I have a problem with it

I presume this is analogous to your question above:
*     (a) He works at new station number 3 = (b) 'He works at the 3rd new station', not (c) 'He works at the new station, which is station number 3'

I see a contrast in (a) **new station number 3** and **old station number 3**,
but I fail to see an equivalence  in English betwe

[2019-10-15 11:37] MathieuDehouck opened #655 "Tokenization of punctuation inside words"
Hello,

I am currently annotating a bit of Walloon data following the UD guidelines.
I haven't asked for the Walloon github yet as it is still in the early stage.

Yet, I am facing a tokenisation difficulty. (Truly more than one but heh)

How are we supposed to tokenize words containing punctuation around specific morphemes.

An english example would be something like:
I was trying to fall asleep

[2019-10-15 13:28] mazharaliabro commented on #654
Hello support and friends
I am working on Sindhi language
Please help me in providing tutorial to make basic structure and include
Sindhi language

On Tue, Oct 15, 2019 at 12:26 PM rueter <notifications@github.com> wrote:

--
Thanks and regards

*Dr. Mazhar Ali *
Incharge Faculty of CS and IT
Assistant Professor
Department of Computer Science, Faculty of CS & IT
Benazir Bhutto Shaheed University,

[2019-10-15 13:50] nschneid commented on #654
@rueter

If it is a new station officially designated with the number 3, I would say "I work at **the** new station number 3". Without the determiner, I read it as equivalent to "the 3rd new station". The bracketing is presumably different: [[new station] [number 3]] being the 3rd of the new stations, vs. new [station number 3] for the officially designated Station 3.

[2019-10-15 14:03] mazharaliabro commented on #654
Dear support and friends
I want to add repository to my account UniversalDependencies/UD_Sindhi-MazharDootio
how I can?
What steps should I take to make ready my repositories to include Sindhi language in up coming  universal dependencies

[2019-10-15 14:08] mazharaliabro opened #656 "Need Help in including repositories to my account UniversalDependencies/UD_Sindhi-MazharDootio"
I am new one and want to add repositories to GitHub account UniversalDependencies/UD_Sindhi-MazharDootio
What I have to do to include Sindhi language in up coming process of universal dependency in November 2019?
Please help me in defining the steps for inclusion Sindhi language.

[2019-10-15 14:31] dan-zeman commented on #197
A major reworking of the system of morphological features would probably have to be part of a new major version (v3) of the UD guidelines. I am going to change the milestone to "later" so that we do not have to process the issue during every release but hopefully it does not get forgotten when we discuss UD v3.

[2019-10-15 15:09] qipeng commented on #653
Thanks, @dan-zeman !

[2019-10-17 09:47] rueter commented on #657
In the equation X is Y, the subject is automatically assigned to the first NP. Semantically we might be dealing with some discourse-oriented phenomenon.

(1a) The only answer is 'Nobody knows'.
(1b) The only answer is 'that Nobody knows'.
(2) 'Nobody knows' is the only answer.

(2) would be nsubj(knows, Nobody) csubj(knows, answer)
Or should someone be speaking of parataxis?

* It's not that I can

[2019-10-17 17:22] amir-zeldes commented on #657
I'm not sure it's `expl` in "It's not that I don't like him". If it's `expl`, then it should mean the same thing if the clause were the subject:

"It is not that I don't like him" = "That I don't like him is not" (this is similar to Polish pseudo-clefts with to: "it's the case that CLAUSE")

I think this is more referential, it usually means something like "The reason is not that I don't like him"

[2019-10-19 14:12] dan-zeman commented on #655
Maybe the easiest approach would be to keep _(ri)cnoxhît_ as one token and to provide normalized spelling without the brackets in the lemma. But it is also possible to split the prefix, i.e., create four tokens _( ri ) cnoxhît_; only you then also must find a relation type to connect the prefix with the main part of the verb. This problem has been discussed in #224, and the tentative conclusion se

[2019-10-19 14:40] dan-zeman commented on #656
Hi @mazharaliabro, your Github user account already has write access to the repository UD_Sindhi-MazharDootio. You can use the git tool to clone the repository to your computer, add files to your local copy of the repository, then use the commands "git commit" and "git push" to push the changes back to Github. All this is documented in our [Release Checklist](https://universaldependencies.org/rele

[2019-10-19 14:43] #653 closed, assigned to dan-zeman

[2019-10-19 16:48] dan-zeman commented on #657
In English, perhaps. Other languages do not follow the English word order rules and are free to decide that the clause is `csubj`, even if it appears second.

[2019-10-19 19:00] nschneid commented on #657
@amir-zeldes:

...

Are we defining expletive "it" in English as the byproduct of the cleft construction, where the subordinate clause can be substituted for "it" as a clausal subject, and nothing else? (related: #461)

I think that would rule out, e.g., the EWT examples "Budgies are breast feeding birds and **it** may be the male is bisexual" and "as **it** is with Kerry, ....".

Similarly vague

[2019-10-20 14:17] sylvainkahane commented on #655
As in a pun, we have two readings of the same word: _ricnoxhît_ and _cnoxhît_. We cannot annotate this properly without introducing a double annotation. I don't think it is good idea to try to annotate writing tricks. We try to annotate the syntax. I suggest to annotate the main reading (_ricnoxhît_) and to possibly encode the other one in a special feature such as `pun=cnoxhît`.

[2019-10-20 14:27] amir-zeldes commented on #655
Not sure if this helps in this situations, but in English-GUM we generally annotate as:

1. The form that agreement implies - "friend(s)" gets xpos=NNS if it has plural agreement in context, or NN if it is singular
2. Failing evidence for that distinction, we take the longest form (so friend(s) defaults to NNS, the lemma of (re)blog would be "reblog", etc.)

I agree with @sylvainkahane that fully

[2019-10-20 14:42] amir-zeldes commented on #657
@dan-zeman +1 - just as an example, Coptic has two main copula word orders:

  * SUBJ PRED COP
  * PRED COP SUBJ

The first one is considered 'canonical', but in our data, the so-called 'postponed subject' is actually more common.

[2019-10-20 14:47] amir-zeldes commented on #657
@nschneid The distinction of `expl` is more semantic than syntactic for me: I don't really see a difference between "it rained" and "Zeus rained" syntactically, except that "it" is not referential in the first case.

I definitely agree with "it" as `expl` in "it rains", as it is not referential. I'm not so sure about "it's not that..." because you could interrogate it:-"it's not that I don't like

[2019-10-20 14:57] nschneid commented on #657
This makes me wonder if we shouldn't be treating expletives as semantically-defined subtypes of ordinary grammatical relations like subject and object.

[2019-10-20 17:54] nschneid commented on #654
@manning, @sebschu: Any thoughts? While I fix the POS tags of "#" I'd like to make the dependencies consistent as well.

[2019-10-20 18:54] nschneid opened #658 "Coordination of auxiliary clusters under a predicate"
E.g. in EWT:

- "actions **have been and will be** taken"
- whether something "**is or is not** an economic hardship" (copula + negated copula)

What is the principle here, since AUXes and "not" normally depend on the main verb/predicate rather than forming a constituent?

I can think of a few options:

Option A: Everything is shallow: everything modifies the main predicate ("taken", "hardship"),

[2019-10-20 21:24] amir-zeldes commented on #657
That seems like a pretty big change, since it would affect a major deprel and therefore potentially almost all treebanks. It would be nice in that you could tell whether it was a subject or object expletive, but my preference is to 'not rock the boat' unless there is a very compelling reason :)

[2019-10-21 06:06] sylvainkahane commented on #657
In [SUD](https://www.aclweb.org/anthology/W19-7814/), the Surface-Syntactic version of UD, we decided to clearly separate surface-syntactic relations and semantic features. In consequence of that, UD `expl` such as _it_ in _it is possible that he left_ is encoded `subj@expl` in SUD and UD `csubj` between _possible_ and _left_ becomes `comp:obj@agent` (where `comp:obj` is a generalisation on `ccomp

[2019-10-21 10:40] dan-zeman commented on #658
[The guidelines](https://universaldependencies.org/u/overview/syntax.html#coordinated-function-words) actually assume that function words can be coordinated, and this is one of the exceptions where function nodes can have children. So the copula example seems clear to me and I believe I have seen such examples in the data (not only English):

cop(hardship, is-1)
conj(is-1, is-2)
cc(is-2, or)
advmo

[2019-10-21 14:43] amir-zeldes commented on #657
Big changes are not just about scripts though: there are also all the students and treebank annotators we teach UD to every year who have learned one version and then discover that some (but probably not all) resources have been changed. It can be very hard to keep track of.

By contrast, everyone knows the PTB tagset for English has a lot of broken guidelines, and IMO even outright bad decisions

[2019-10-21 15:04] nschneid commented on #658
The ellipsis analysis is interesting. It would mean that in the [enhanced representation](https://universaldependencies.org/u/overview/enhanced-syntax.html#ellipsis), the elided predicate node would be the head of the overt predicate, whereas it's usually the reverse.

[2019-10-21 15:45] sebschu commented on #658
In English it's usually the reverse, but in head-final languages this is is more common. See, for example, ex. (5) in [our paper on gapping](http://universaldependencies.org/udw17/pdf/UDW16.pdf).

[2019-10-21 16:23] sebschu commented on #654
I don't have a strong opinion on this, and I agree with a lot of the issues pointed out in the comments here. However, since the current convention is to use `nummod(number, one)` and there doesn't seem to be a substantially better solution, I would suggest we stick with that convention.

[2019-10-22 00:16] KoichiYasuoka commented on #657
I've read your SUD, @sylvainkahane, but I'm vague how we apply SUD to the predicate-object-final structure of Classical Chinese. Here we consider an example sentence 信斯言也是周無遺民也 from UD_Classical_Chinese-Kyoto.
[code]
![KR1h0001_009_par4_280-289](https://user-images.githubusercontent.com/15098598/67251497-52a9fb00-f4aa-11e9-870a-2c646c7ec25b.png)

This sentence 信斯言也是周無遺民也 consists of two clauses, 信

[2019-10-22 04:27] nschneid commented on #658
Updated the [parse](http://bionlp-www.utu.fi/dep_search/query?search=mitigating&db=UD_English-EWT-dev&case_sensitive=True&hits_per_page=10) for the "have been and will be taken" example with the ellipsis analysis.

Can somebody please double-check it?

[2019-10-22 04:56] nschneid opened #659 "Subdivided measurement notation: 5'2 or 5'2" meaning "5 feet, 2 inches""
*5'2* occurs in English-EWT. How should this be tokenized, tagged, and parsed?

(Similar notation can be used for minutes + seconds, as well as degrees + subdivisions of degrees.)

[2019-10-22 06:16] dan-zeman commented on #659
We do not have strict cross-linguistic rules for tokenization. So the tokenization should be made consistent within a corpus and, if possible, a language, although this particular example is not specific to English.

You could treat it as one token (_5'2_ would be similar to _5.2_). Then the question is whether it is OK to tag it `NUM`. I think there has been another thread with a similar issue fo

[2019-10-22 06:27] dan-zeman commented on #658
I tried but this visualization which mixes basic with enhanced and duplicates edges is terrible. I had to switch to CoNLL-U source :-) It looks good to me (except that I'm not sure we use empty nodes to resolve constructions where an auxiliary is promoted in the basic tree; but it's useful, so maybe we should think of adding it to the enhanced guidelines).

[2019-10-22 13:36] amir-zeldes commented on #659
We've had this with degrees in GUM and tokenized the circular 'degree' symbol as the head, with nummod to the amount of degrees. This looks similar to me. I haven't seen the feet and inches case, but I think conj makes the most sense to me there.

[2019-10-22 13:41] Stormur commented on #36
It seems that layered features, in particular for the possessor's number `Number[psor]`, are not accepted by the current validator. I am incurring in the errors:

[code]

Validation was done with the latest python-3 script available. Note that these features were automatically generated through _iset_ values.

Is it only my problem?

[2019-10-22 13:57] bguil commented on #36
It should be defined in the language specific features values: see for instance https://github.com/UniversalDependencies/tools/blob/master/data/feat_val.fr

[2019-10-22 15:03] Stormur commented on #36
Thank you!

By the way, why isn't it considered standard?

[2019-10-22 18:42] dan-zeman commented on #36
Because every language can have its own layer types, and some languages do not use layers at all. Admittedly, the `[psor]` layer is probably the most widely used one.

[2019-10-22 22:48] fjagiell opened #660 "Cusco Quechua Directional Suffix"
Hello,

We are wondering in the conversion of the Squoia treebank for Cusco Quechua what to make the directional suffix +Dir in UD annotation. We considered making it an aspect though it co-occurs with Inchoative aspect at DW-s384. The current idea for annotating it is "Motion=Dir" or "Aktionsart=Dir".

Please let us know if this is a good start or if there is another approach we should take.

Tha

[2019-10-22 23:08] ftyers commented on #660
@fjagiell could you paste the relevant sentence here (with the translation), people may not know where to find the Squoia treebank. Btw, [this](https://core.ac.uk/download/pdf/16105757.pdf) is a potentially interesting discussion, they propose a '+/- Motion' feature on verbs in Quechua.

[2019-10-23 00:55] fjagiell commented on #660
The sentence is "Kirguizistán -pi internet -manta ñawpaq ka -q seminario -qa ancha yachaqari -qkuna -paq hina -m ka -rqan ." The Spanish translation is "El primer seminario de internet en Kirguizistán fue una experiencia muy constructiva ." Since I do not speak Spanish, this is what Google translate is outputting from Spanish to English: "The first internet seminar in Kyrgyzstan was a very constru

[2019-10-23 01:16] ftyers commented on #660
Ok, so that is:

[code]

So the relevant word here is `yachaqariqkunapaq`, and the tree looks something like:
![Captura de 2019-10-23 02-09-46](https://user-images.githubusercontent.com/449545/67347510-381f6280-f53a-11e9-954d-881dc993f8a3.png)

If I understand correctly:
[code]
* yachaqari is a root with two derivations, this `motion` derivation and an inchoative derivation "start to X"
* to this

[2019-10-23 09:37] Stormur commented on #36
But can we not see this one (and probably others) as a potentially universally appearing morphological feature that simply is accepted when present, without need to specify it as a language-specific feature? Just to simplify debugging :-)

[2019-10-23 10:04] sylvainkahane commented on #657
@amir-zeldes I agree with you. I don't think it is now possible to leave UD v2, because we have too many ressources in this format and too many users. Which means that people who want to use a different format must be sure that their format is equivalent or richer than UD v2 and convertible into UD v2. It is what we try to do with SUD.

@KoichiYasuoka I cannot answer to your question. I don't unde

[2019-10-23 10:26] dan-zeman commented on #36
I actually think that we should do the opposite: even for the universally defined features and values, we should list the languages where they are relevant, and report an error elsewhere. But don't worry, no such change is going to take place before release 2.5 :-)

[2019-10-23 13:51] MathieuDehouck commented on #655
Thank you for those insights.

I think I will stick with the one word analysis and lemmatise it as the longest form, in this case ricnoxhî.

This issue might or not be closed, since looking at the three links provided by mr Zeman, there is, it seems, no clear definitive answer.

[2019-10-23 14:54] mforst opened #661 "Definite markers in Semitic languages"
This issue is related to #377, but much more narrow: I'd like to point out that the segmentation decisions regarding the definite marker differ between Semitic languages differ.

On https://universaldependencies.org/ar/index.html, we find this:

•	Definite articles are treated as bound morphemes and they are not cut off during tokenization.

On https://universaldependencies.org/he/index.html, howe

[2019-10-23 17:37] amir-zeldes commented on #661
+1 for standardizing this, but I'm not sure how feasible it would be to get people to change existing resources. For comparability with other UD treebanks, I would expect articles to be tokenized apart in Arabic as well (as a bonus it also reduces data sparseness in terms of lexical types).

[2019-10-23 18:02] bulbulistan commented on #661
Yes: Maltese is Maltese, Arabic is Arabic.
I mean, yes, if we're going to standardize things across language families, I agree with @amir-zeldes.

[2019-10-23 18:20] dan-zeman commented on #661
I am afraid that this is a heritage of tokenization traditions in the respective languages. Since its beginning, UD did not put enough stress on normalization of tokenization (as opposed to morphology and syntax), partially because there were pre-existing treebanks in which it was easier to convert tags and relations than to resegment words.

Maltese is different in that the definite morpheme is s

[2019-10-23 20:38] amir-zeldes commented on #661
It's true that segmenting articles in Arabic and Hebrew is not trivial, but there is good software out there for doing it. We have this tool for Hebrew and Arabic clitic splitting:

https://github.com/amir-zeldes/RFTokenizer

It gets 98.46% of super tokens split correctly in UD_Arabic-PADT, including article splitting (actually I imagine hardly any of the errors are due to articles, except perhaps

[2019-10-24 13:01] mforst commented on #661
I was not so much interested in the technical feasibility of aligning Arabic with the other two languages. Instead, it seems to me that the choice not to split 'Al' in Arabic may well have been a conscious one. (After all, splitting 'Al' is not hard when you already split all the other clitics.) And I was interested in knowing more about the potential reasoning behind that presumably conscious cho

[2019-10-24 13:17] jnivre commented on #661
I can verify that the reason for not splitting off the article in Arabic was entirely to do with backwards compatibility with the underlying treebank and standard tools for tokenization and morphological analysis.

[2019-10-24 13:30] amir-zeldes commented on #661
@mforst that all makes sense, but I'd like to point out that there are other treebanks with these properties where articles are split:

  * Ancient Greek repeats articles on adjective modifiers, and the treebanks tokenize the articles apart
  * Articles affect surrounding morphosyntax in many languages (in Hebrew they trigger differential object marking with a special prefix, for example, which is

[2019-10-24 14:36] dan-zeman commented on #661
I am not an expert on Arabic but one thing that strikes me is that nearly everyone in this thread talks about the morpheme as an “article”. For me, article is a class of **words.** But the availability of the term in English itself does not mean that we have to see the prefix as a word. It is a morpheme that switches the word to the definite state, i.e., contributes the feature `Definite=Def`, jus

[2019-10-24 14:38] mforst commented on #661
I called it "definite marker" on purpose. I used 'article' only in quotes :)

[2019-10-24 14:51] mforst commented on #661
@amir-zeldes , concerning DOM in Hebrew: Is that really triggered by ה, or is it definiteness (whether marked by ה or implicit, e.g. in proper names) that triggers it?

[2019-10-24 15:27] nschneid commented on #661
I don't know if there is a clear-cut rule for drawing the line between a prefix and an article, but for Hebrew it seems relevant that

- The use of ה for definiteness of common nouns is completely regular: its form does not depend on the noun stem. (This is not to say ה is used for all definites—there are proper nouns and other regular constructions that come into play.) So it does not feel like a

[2019-10-24 16:07] amir-zeldes commented on #661
@mforst you are right, DOM is triggered by definiteness, including proper nouns without 'ha'. The fused form [ta] only occurs with common nouns, when the object marker fuses with a potential 'ha'.

@nschneid that's all correct for colloquial Hebrew, though technically point 1 is different for 'normative' Hebrew (as spoken by newscasters and in formal speech), where you get the form 'he' before gut

[2019-10-24 18:23] bulbulistan commented on #661
A terminological quibble: the term "Arabic" is very broad, so we would be well advised to be precise about which variety were are referring to, whether it's Quranic Arabic (QA), Classical Arabic (CA), Modern Standard Arabic (MSA) or one of the vernacular varieties (which I will just for brevity's sake refer to as Neo-Arabic). Those are not the same thing, especially when it comes to syntax.

@dan-

[2019-10-24 18:45] bulbulistan opened #662 "The info page for Maltese UD"
Two issues with https://universaldependencies.org/mt/index.html:
1. It claims to pertain to v1, that is incorrect.
2. The formatting is broken.
Is there something I can do to fix it?

[2019-10-24 18:57] amir-zeldes commented on #654
Is `nummod(number,one)` really better than `compound(one,number)`? I still think 'one' is the head. We don't have this case in GUM yet, but other 'non-counting numbers' are not annotated as `nummod` already (we've used 'dep' for some similar constructions in the past)

[2019-10-24 19:15] bulbulistan opened #663 "Predicate ellipsis (and comparison) with orphaned SCONJ"
In Maltese, we have a few examples of this type of ellipsis:
![23b_04J03-18](https://user-images.githubusercontent.com/18728008/67517003-f4476d00-f6a1-11e9-8b20-bf053e48ded1.png)
Gloss: _one favors more DOM_DEF- singer /than/ DEF- song_
Translation: "One favors the singer more than the song."

The problem here is the word 'milli' (glossed as /than/) which is a subordinating conjunction and thus ge

[2019-10-24 21:19] fjagiell commented on #660
Since it appear the agentive +Ag, is not a case but rather a type of nominalizer. Is there an annotation the already exists in UD or should we create something along the lines of Nominalizer=Ag?

[2019-10-25 04:17] dan-zeman commented on #662
The Markdown header must contain the line

udver: '2'

You had "2.4" instead of "2" there, which does not work. 2.4 is release number of data, not version of guidelines.

[2019-10-25 04:20] dan-zeman commented on #662
See also here:
https://universaldependencies.org/contributing_language_specific.html
and here:
https://universaldependencies.org/contributing.html

The second link has some info on Markdown syntax which may help with the broken formatting.

[2019-10-25 04:32] dan-zeman commented on #663
case(kanzunetta, milli)
obl(aktar, kanzunetta)

See also https://universaldependencies.org/u/overview/specific-syntax.html#comparatives

[2019-10-25 08:34] dan-zeman commented on #660
I am not aware of an existing UD feature suitable to capture this. (Although you may want to use something like `VerbForm=Vnoun` in addition to `Nominalizer=Ag`.)

[2019-10-25 09:32] mforst commented on #661
@nschneid the written form of the Arabic definite marker 'Al' does not depend on the following noun/adjective, but the phonological form does, and quite heavily so. And depending on how you represent geminates (/n n/ vs. /n:/, for example), you cannot even split the definite marker from the noun/adjective when those are represented phonemically. E.g., الناس can, of course be split into ال ناس, but

[2019-10-25 10:14] bulbulistan commented on #661
@mforst
As @dan-zeman pointed out, in modern Maltese orthography, all the occurrences of the definite marker (and its fused forms) are separated by a hyphen.

Why not /ʔan na:s/, as with any assimilation?

The Wiki entry on Maltese adjectives is wrong, as evident from the first example I gave or countless other examples featuring adjectives of Semitic origin like "il-ħajt għoli" ("the high wall"),

[2019-10-25 11:05] mforst commented on #661
@bulbulistan , maybe the Maltese definite marker is evolving from a prefix to an article in the Romance sense? Given the heavy influence of Italian/Sicilian and English on Maltese, that wouldn't be too surprising, would it? And maybe the Wiki entry is misleading, but etymology might still be a factor (among several) playing into the repetition of the definite marker before adjectival modifiers?

[2019-10-25 11:24] bulbulistan commented on #661
@mforst

It would not surprise me, it would also not be the first time this sort of thing has happened in Maltese. But if so, this has been going on for centuries, as there are 18th century texts which already exhibit this ("dic il meut cherħa u terribili" = "this ugly and terrible death"). Funny how few people noticed this...

It is not misleading, it is wrong; there is no indication etymology pl

[2019-10-25 13:25] amir-zeldes commented on #661
@mforst the situation in Hebrew is pretty much the same:

  * Mehandesim "engineers", ha-mehandesim "the engineers", mehandesei ... "engineers of X" (construct state, incompatible with article)
  * In diacritized Hebrew, the same kind of gemination occurs, though it is not pronounced in Modern Hebrew: sal "basket" ha-ssal "the basket"

As for representing the geminate form, this doesn't have to be

[2019-10-25 19:10] bulbulistan commented on #663
Thank you.

[2019-10-25 19:10] #663 closed, assigned to nobody

[2019-10-27 17:59] amir-zeldes opened #664 "Long titles of works of art"
I'm pretty sure(?) the answer to this will be 'use flat', but I'm running into sometimes long titles of films in the next edition of GUM and wanted to make very sure we want these cases to be flat:

She won the César Award for Best Actress for The Old Lady Who Walked in the Sea (1992)

flat(The,Old)
flat(The,Lady)
flat(The,Who)
....
?

It seems clear to me that the title is acting as an NP, and is

[2019-10-27 18:00] amir-zeldes commented on #664
Bonus question:

nmod:tmod(The,1992)

Does that look right? (this is maybe more an English specific question)

[2019-10-27 18:49] sylvainkahane commented on #664
It would be very sad to use `flat` here. This is regular syntax and a very common construction.
But there is clearly a problem. For the French treebanks, we decided to analyse the titles but to add two features: one feature indicating that it is a title (Type=Title) and one feature indicating that it behaves as a PROPN (EXTPOS=PROPN). This feature is also used for MWEs that we decided to analyze i

[2019-10-27 19:17] nschneid commented on #664
[`flat` guidelines](https://universaldependencies.org/u/dep/flat.html): "names that have a regular syntactic structure, like The Lord of the Rings and Captured By Aliens, should be annotated with regular syntactic relations."

[2019-10-27 19:20] nschneid commented on #664
Is this addressed by #381 ?

[2019-10-27 19:24] amir-zeldes commented on #664
Thanks, @nschneid , I'd forgotten about that part! OK, then it looks like we will just get some odd structures (e.g. a title that is a PP can get an additional `case` if it it is the head of a PP...) and some differences between native and foreign (=`flat`) film titles, but that's analogous to personal names.

I see in #381 I already suggested the same analysis, and at least @arademaker seemed to

[2019-10-27 19:24] #664 closed, assigned to nobody

[2019-10-28 02:29] ftyers commented on #660
In UD_Finnish-TDT there is `Derivation=`, e.g.

[code]

And in Komi:
[code]

Of course the question is then what happens if there is more than one nominaliser in the same token? @fjagiell are there any examples of more than one nominaliser for a single token?

[2019-10-28 10:22] gossebouma commented on #657
@nschneid writes:

This is one option we considered in Bouma et al,  [Expletives in Universal Dependency Treebanks](http://universaldependencies.org/udw18/PDFs/5_Paper.pdf)
(UDW 2018). In the end, we opt for a slightly less radical approach, where expl relations are subtyped. It is equally informative but maintains more clearly the core-adjunct distinction.

[2019-10-29 15:47] wongtaksum commented on #653
Oh sorry for not replying you earlier...
為 is not used in colloquial Cantonese but only in high variety, like when reporting news.  Nevertheless, I think it is still reasonable to add this verb to the copula list in Cantonese.

[2019-10-29 19:12] parapluirevel commented on #654
![image](https://user-images.githubusercontent.com/39569728/67800883-7c40c480-fa5e-11e9-97d7-2b6e94e314dd.png)

[2019-10-29 19:56] nschneid commented on #654
@parapluirevel Yes, I agree that depending on context, "number X" can act more like an ordinal or more like a way to identify something by a proper name (that happens to involve a numeric designator). In the latter case "number" may be optional. But I'm not sure whether this ambiguity should or should not be taken into account in terms of the dependency relation.

I think it's important that the d

[2019-10-29 21:06] fjagiell opened #665 "+Cont (Continuative) in Cusco Quechua"
Hello,

In trying to determine the way to convert +Cont (Continuative), we are thinking of making it listed as a feature Aspect=Cont. Given the example below, does this seem a plausible representation within the UD framework?

Thank you!

Spanish Translation: A muchas empresas peruanas aún les falta aprovechar este servicio que ofrece la Cámara .
English Translation: Many Peruvian companies still

[2019-10-29 23:42] matanox commented on #664
I was going to open my own question style issue, but now coming here as the closest recent issue. How much do the following two documentation pieces present a consistent guideline?

[PROPN ― universal guideline](https://universaldependencies.org/u/pos/all.html#propn-proper-noun)
[PROPN ― English specific guideline](http://universaldependencies.org/docs/en/pos/all.html#al-en-pos/PROPN)

I am asking

[2019-10-30 00:06] matanox commented on #664
Adding to the former, was any of the vetting here in any way specific to long names of _works of art_, as opposed to names of places / organizations / etc, and to such names that aren't as excruciatingly long but still multi-word?

[2019-10-30 00:26] ftyers commented on #665
It appears that this suffix can also be used with nouns (from "The Cusco Quechua Reportative Evidential and Rhetorical Relations "):

[code]

and from Wiktionary, [-raq](https://en.wiktionary.org/wiki/-raq):

[code]

[2019-10-30 01:27] nschneid commented on #664
The above discussion was about dependency relations, not POS tags. English-EWT uses PROPN for both words in "United States" but treats "United" as an `amod` dependent of "States".

[2019-10-30 02:28] dan-zeman commented on #665
If it is aspect, perhaps you could use `Aspect=Prog`, which already exists in UD. I think I have seen the terms continuous/continuative and progressive used for similar things.

[https://universaldependencies.org/u/feat/Aspect.html#Prog](https://universaldependencies.org/u/feat/Aspect.html#Prog)

[2019-10-30 02:32] dan-zeman commented on #664
... which is quite odd. If the UPOS tag is `PROPN` then the relation should be `nmod`.

[2019-10-30 02:57] nschneid commented on #664
Fair enough. I wasn't involved in the original UDification of the corpus but my impression is that there are a lot of places where the UPOS tags and dependencies aren't quite consistent.

[2019-10-30 03:35] ftyers commented on #665
@dan-zeman I think `Aspect=Prog` is taken by another morpheme already, e.g. [*-chka*](https://en.wiktionary.org/wiki/-chka). Although I'm not sure of the precise semantic/syntactic/morphotactic differences between the two ... e.g. not sure if *-chka* can also go on nouns, like *-raq*. @fjagiell can you check?

[2019-10-30 13:56] gossebouma commented on #635
The constraint on the parent of orphan leaves me with a bit of a problem for cases like this:

opgesplitst in een Vlaamse en een Franstalige partij
split in a Flemish and a French-speaking party

obl(opgesplitst,Vlaamse)
orphan(Vlaamse,een-1)
cc(en,partij)
conj(Vlaamse,partij)

Should we allow configurations like this?
Only alternative is see is accepting det(Vlaamse,een) (Vlaamse is an adjective)

[2019-10-30 14:03] gossebouma commented on #635
I only noticed now that @jnivre wrote:

we promote determiners to head elliptic noun phrases even though they can never head an ordinary noun phrase.

So is that the solution here?

[2019-10-30 14:23] amir-zeldes commented on #664
I think this is just a continuation of the PTB tag `NNP` guideline, which gives priority to the proper name status of the sequence, rather than the syntactic function of the adjective. We reproduced this in GUM as well for consistency, but it would be very easy to make these all `ADJ` based on the `amod` function if one wanted to. It's a pretty substantial change in the mapping of POS tags to NER

[2019-10-30 14:34] nschneid commented on #664
In syntax is there a literature on complex proper names, dates, and other values? It's not the sort of thing that is taught in a typical syntax class. @jnivre @manning @dan-zeman

[2019-10-30 14:44] jnivre commented on #664
I think it is a typical case where you would really like to have part-of-speech tags on two levels. One for the component words and one for the whole expression (and only the latter would always be proper name). The same thing applies to many other types of multiword expressions. For example, you would like to be able to say that "in spite of" and "by and large" is a preposition and an adverb, but

[2019-10-30 14:58] nschneid commented on #664
Right, @sylvainkahane mentioned EXTPOS above.

My STREUSLE corpus (which covers the Reviews section of EWT) adds MWE annotations with supplementary tags for MWEs like "in spite of". But it doesn't alter the word-level UPOS.

[2019-10-30 15:05] jnivre commented on #664
Right. I don't think the word-level UPOS should be changed. In a case like "in spite of", they are not very interesting of course, but for the complex names they are. Presumably, the PTB practice comes from the fact that they could only represent one level and then went with the holistic analysis (assigning NNP to all component words regardless of their ordinary tag). However, this seems to be at

[2019-10-30 15:20] arademaker commented on #664
Regarding the POS for a expression, https://github.com/UniversalDependencies/docs/issues/664#issuecomment-547941040,  we have been using the MISC field with a tag MWEPOS, as described in our paper:

http://arademaker.github.io/bibliography/depling-2017.html

[2019-10-30 22:06] bulbulistan commented on #662
I fixed the second table, looks ok in https://github.com/UniversalDependencies/docs/blob/pages-source/_mt/index.md.

[2019-10-31 15:09] nschneid opened #666 "Filenames and other computery entities"
The email genre of English-EWT lists file attachments, e.g. "Constellation Power (GISB draft).doc".

1. Should filenames always be tokenized into discernible linguistic words ("ConstellationPower(GSB_draft).doc"), or only when there are spaces?
   - What about filesystem paths and URLs containing spaces?
   - Presumably we would never tokenize email addresses, hashtags, or variable names in code a

[2019-10-31 19:17] amir-zeldes opened #667 "Speaker information and quotation attribution"
I'm wondering if anyone has a good way of representing speaker information for **part** of a sentence. We're already using comments like these for whole sentences:

[code]

But for some sentences, especially in fiction, even though we have speaker information, we can't represent it as a sentence annotation for the whole sentence:

[code]

Even though we know who the speaker of tokens 1-8 is, we ha

[2019-11-01 01:46] nschneid commented on #667
CoNLL-U doesn't place any formal constraints on values in these extra comments, right? Maybe

    # speaker=Narrator,1-8:QuotedGuy

[2019-11-01 07:38] martinpopel commented on #667
We use a special extension of CoNLL-U which allows to add JSON-formatted attributes in the CoNLL-U comments.
See [this file](https://github.com/udapi/udapi-python/blob/master/udapi/core/tests/data/babinsky.conllu) for an example.
We use it for Named Entity Recognition and Linking, but it could be used for marking any sets of nodes and extra information which would be cumbersome to store in the MIS

[2019-11-01 10:25] hanneme opened #668 "New validation rules and UD_Old_Russian-TOROT"
I very belatedly had a look at the validation page, and see that UD_Old_Russian-TOROT is no longer valid. We haven't changed the contents in dev at all since the last release, so this must be due mostly to new validation rules for orphans, which rightly uncover some problems with our conversion. Unfortunately I won't have the time to fix the conversion script before the data freeze, so I wonder wh

[2019-11-01 15:08] jnivre commented on #668
If you haven't changed anything since the last release, your treebank will be regarded as a "legacy treebank" and will be included in the release. More information here: https://universaldependencies.org/validation-rules.html

[2019-11-01 15:22] dan-zeman commented on #635
Yes.

_opgesplitst in een Vlaamse en een Franstalige partij_

obl(opgesplitst, Vlaamse)
case(Vlaamse, in)
det(Vlaamse, een)
conj(Vlaamse, partij)
cc(partij, en)
det(partij, een)
amod(partij, Franstalige)

[2019-11-01 16:39] dan-zeman commented on #668
Well, actually, legacy treebanks are 2.3 and older, so we have a problem with Old Russian, which only appeared in 2.4. The "orphan-parent" error is an exception: the test was introduced after 2.4, so even 2.4 treebanks are considered legacy if this is their only error.

[2019-11-01 16:40] jnivre commented on #668
Oops, sorry. Thanks for correcting me, Dan.

[2019-11-01 16:52] hanneme commented on #668
The vast majority of errors are the orphan ones, but as I mentioned I also get an error for sentences with 'не.быти' as aux-lemma. This must mean that 'не.быти' is out of the copula list, I think, probably because you would want me to do the negation as a feature rather than operating with a separate lemma? I would probably just be able to fix this before the data freeze, if that would allow the t

[2019-11-01 17:14] amir-zeldes commented on #667
That's interesting, thanks! I think the split speech case could be handled the same as the multiple speakers case, in which case something like @nschneid 's suggestion works:

[code]

In practice we don't notate the narrator (='no speaker'), but format-wise this seems the simplest. I'll keep the json in mind though, that could come in handy for more complex annotation layers we have in parallel.

[2019-11-01 17:22] sylvainkahane commented on #635
Nobody use `orphan` in comparison? I think of sentence such as "Today I received the same message as you yesterday".

[2019-11-01 18:01] olesar commented on #626
Please add the following verbs and clitics to the auxiliary list for orv (Old Russian):
'учати', 'имати', 'яти', 'бы', 'бъ', 'ся'
cf. the current version: 'orv': ['быти', 'не быти']

[2019-11-01 18:36] hanneme commented on #626
And could you also correct  'не быти' to  'не.быти'? That would remove a swathe of validation errors for Old_Russian-TOROT.

[2019-11-01 19:50] arademaker opened #669 "workflow"
In the current workflow, only @dan-zeman promote data to the `master` branch of the repositories, right? We all prepare the data in the `dev` branch. The problem is that git insights are restricted to the master branch and people can't get a real idea of the contributors and their efforts. How to deal with that?  See PT case

https://github.com/UniversalDependencies/UD_Portuguese-Bosque/graphs/con

[2019-11-01 22:08] martinpopel commented on #669
When @dan-zeman **merges** the dev branch to the master branch, all the commits from the dev branch (since the last merge, i.e. since the last release) are included in the master and reflected in GitHub insights. So the GitHub insights reflect the number of commits of each contributor until the last release, which is quite OK, I think. (It would be different if Dan had squashed all the commits fro

[2019-11-01 22:39] arademaker commented on #669
Hi @martinpopel, thank you for clarifying. I was misguided by the current statistics in our repo.

[2019-11-01 22:39] #669 closed, assigned to nobody

[2019-11-02 01:53] dan-zeman commented on #668
I will try to look at the auxiliaries tonight when I get to the hotel. In the meantime, @hanneme and @olesar, could you please edit the template and create the language-specific documentation, which is another complaint by the validator? Thanks!

[2019-11-02 09:17] dan-zeman commented on #668
@hanneme : The validator actually contains the negated copula as a separate lemma, but (per your e-mail request from 29 April) it is spelled with a space, not with a period:

<pre>
orv: ['быти', 'не быти']
</pre>

So maybe we can change the lemma in the treebank now? @olesar, does this occur in your Old Russian corpus too? If so, how is the lemma spelled there? I could not find examples.

In the l

[2019-11-02 09:21] dan-zeman commented on #626
@hanneme : See my [comment](https://github.com/UniversalDependencies/docs/issues/668#issuecomment-549026195) in #668.

[2019-11-02 09:29] dan-zeman commented on #626
@olesar : For 'бы', 'бъ', I think you should include them under lemma _быти_, then the validator will not report them. (I see this elsewhere in your data and also in TOROT.)

[2019-11-02 10:37] hanneme commented on #668
Sure, I'll change it in the treebank now, and next time around I'll do it with the polarity feature instead.

[2019-11-02 14:25] dan-zeman commented on #626
@olesar : I don't think 'ся' is an auxiliary verb, although I can see some possible argumentation in its favor. But I think that the annotation of _ся_ in TOROT better preserves parallelism with genetically related languages.

[2019-11-02 14:34] dan-zeman commented on #626
And finally, may we also discuss _учати, имати, яти_? I am no expert on Old Russian so I may be misled but I am not convinced that the occurrences I saw in the treebank are really auxiliaries.

[2019-11-02 15:48] olesar commented on #668
hi, we only have быти as a lemma for нѣсмь etc.

[2019-11-02 19:11] hanneme commented on #668
I changed the lemmas to не быти now, but apparently it needs to be on a list of exceptions allowed to contain whitespace.

[Line 11737 Sent 127082]: [L4 Format invalid-word-with-space] 'не быти' in column LEMMA is not on the list of exceptions allowed to contain whitespace (data/tokens_w_space.LANG files).

[2019-11-02 19:18] olesar commented on #668
@hanneme, you can add the file tokens_w_space.orv here https://github.com/UniversalDependencies/tools/tree/master/data

[2019-11-02 19:21] olesar commented on #626
That is what I was asked many times by people doing Old Russian research, to represent periphrastic Future II tense. We reduced the list to what all these people believe to be a grammatical marker.

02.11.2019, 17:34, "Dan Zeman" <notifications@github.com>:And finally, may we also discuss учати, имати, яти? I am no expert on Old Russian so I may be misled but I am not convinced that the occurrence

[2019-11-02 19:35] olesar commented on #626
'бы', 'бъ' cannot be a form of быти in 1600-1700s texts, just as in the modern Russian.  As for ся/сь reflexive marker, I changed aux to expl:pv (in parallel to Polish and Czech) to distinguish between the reflexive ся  and the expletive particle се (=modern себе).

[2019-11-02 19:46] hanneme commented on #626
In TOROT we take those to be biclausal, basically because they don't seem
entirely conventionalised. So in имамъ приити we would take имамъ to be the
head and приити its xcomp dependent. The only auxiliaries we allow are быти
and не быти.

lør. 2. nov. 2019 kl. 19:21 skrev Olga Lyashevskaya <
notifications@github.com>:

[2019-11-03 05:51] dan-zeman commented on #668
I have created the exception file and the "invalid-word-with-space" errors have disappeared. So the remaining item that keeps both the Old Russian treebanks red is the language-specific documentation. Could you provide it for this release please? See [http://universaldependencies.org/contributing_language_specific.html](http://universaldependencies.org/contributing_language_specific.html) for inst

[2019-11-03 06:32] dan-zeman commented on #626
But the file `orv_rnc-ud-test.conllu` actually contains _бъ_ lemmatized as _быти_. I found it only twice (on lines 1360 and 3109), so perhaps it is an error.

Also, shouldn't this be annotated the same way in both the treebanks? In TOROT I grepped 94 instances:
<pre>grep -n -P '(бы|бъ)\tбыти' *.conllu | wc -l</pre>
while none is lemmatized as itself.

[2019-11-03 06:59] dan-zeman commented on #626
If _учати, имати, яти_ are Future II auxiliaries, what distinguishes them from full verb usages? I see only one occurrence of _учати_ tagged as `AUX` while there are 19 occurrences of this lemma tagged as `VERB`. I browsed several of the `VERB` occurrences and they do occur with an infinitive of another verb, which is attached to them as `xcomp`. Even the `AUX` occurrence is not attached as `aux`

[2019-11-03 09:19] olesar commented on #626
I re-tagged auxiliaries other than быти, бы, бъ, but re-tagging учати, имати, яти is a temporary decision as more data will move to ud.Thanks for noticing the deprel error!

[2019-11-03 09:27] hanneme commented on #626
I actually agree with Olya that these are no longer real forms of быти in the late Middle Russian period, but rather particles. The TOROT annotation is deliberately archaising – we keep taking бы as an aorist of быти even in the latest of our texts, simply in order to increase retrievability. This is part of an overarching policy difference between the two treebanks, I'm afraid: TOROT is deliberat

[2019-11-03 11:20] hanneme commented on #668
Thank you! I've started on the language-specific documentation now, but I
can of course only speak for TOROT – @olesar should also have a look.

Best wishes,

Hanne

søn. 3. nov. 2019 kl. 05:51 skrev Dan Zeman <notifications@github.com>:

[2019-11-03 13:11] hanneme commented on #668
I'm now done with the TOROT part of the documentation (it's quite brief and I aim to expand it for later releases). I changed the file name to index.md but left the instructions in for the benefit of @olesar

[2019-11-04 02:03] dan-zeman commented on #626
After adding the conditional particles to the list of auxiliaries UD_Old_Russian-RNC is valid.

[2019-11-04 02:03] #626 closed, assigned to nobody

[2019-11-04 13:38] dan-zeman commented on #668
Great, thanks!

[2019-11-05 19:49] fjagiell commented on #665
From what I have seen, the -chka is only going on verbs, while -raq is primarily nouns but limited to them.

[2019-11-05 23:29] fjagiell opened #670 "Features in Language that are not in UD"
Hello,

There are several features in the Cusco Quechua Squoia treebank we are converting, which do not have features in UD v2 according to https://universaldependencies.org/v2/features.html . These features are focus (FOC), topic (TOP), different subject (DS), and same subject (SS). These features are all referred to on the page linked above but there is no specific UD annotation for them. Would

[2019-11-06 00:20] dan-zeman commented on #665
Note that it is not necessary to invent a new feature for every suffix if the suffixes do not apply to the same word. And even if they do apply to the same word, one should ask what are the differences in usage of the suffixes by speakers. Is it really a different aspect meaning, or is it something else, e.g., colloquial register?

[2019-11-06 01:18] ftyers commented on #670
@fjagiell could you give example sentences for each of the features you are asking about. In addition to the original trees and translations?

[2019-11-06 02:26] ftyers commented on #667
Wouldn't it also be possible to put it in the `Misc` column ? e.g. for every token have a `Speaker=MartinPopel` or `Speaker=Narrator`? And if *n* people were saying the same thing at the same time you could have `Speaker=MartinPopel,Narrator`

[2019-11-06 02:26] fjagiell commented on #670
For +Top:
Spanish: La DW-AKADEMIE es el centro internacional de la Deutsche Welle para el desarrollo de medios , asesoría de medios y capacitación periodística .
English: DW-AKADEMIE is the international center of the Deutsche Welle for media development, media consulting and journalistic training.
[code]

[2019-11-06 02:32] fjagiell commented on #670
For +Foc
Spanish: Sólo pasado este plazo se puede sacar dinero sin intereses .
English: Only after this period can you get money without interest.
[code]

[2019-11-06 02:37] fjagiell commented on #670
The previous should have read for +DS
For +SS:
Spanish: Cuando pensamos en los últimos 40 años , tenemos muchas razones para llenarnos de orgullo .
English: When we think about the last 40 years, we have many reasons to be proud.
[code]
I cannot find anything with +Foc so we can ignore that one.

[2019-11-06 14:23] amir-zeldes commented on #670
If we introduce a feature `Focus=Yes`, it could also be used for the Coptic focus marker (`xpos=CFOC`). I imagine `Topic=Yes` could be used for Japanese and similar languages.

[2019-11-06 15:00] dan-zeman commented on #670
If it is in the FEATS column, it must fit with the UD style. So it cannot be just "FOC" but it can be "Focus=Yes". Sometimes you may find inspiration for features that are not universally defined but they are used in one or more treebanks, here: [https://universaldependencies.org/ext-feat-index.html](https://universaldependencies.org/ext-feat-index.html). We now have a `FocType` feature in Wolof b

[2019-11-06 21:21] amir-zeldes commented on #667
@ftyers Token-wise annotations are also possible, but seem a little spammy - I'm just a little worried there will be such a monster of text on each line that basic annotations might become unreadable. For GUM we have a huge amount of annotations, but they mostly live in other files, so it's really a question of how much to inject into the conllu files and how to represent it in the least annoying

[2019-11-07 11:26] flammie opened #671 "add vim-conllu to editor modes"
I've made a few really basic vim scripts that could be added to the editor modes section of tools page: https://github.com/flammie/vim-conllu

[2019-11-08 05:29] nschneid opened #672 "Sufficiency/excess constructions: enough/too/so X that/to Y"
E.g.:

- The apples are ripe ENOUGH to pick.
- The apples are TOO ripe to pick.
- I have ENOUGH apples to cook 10 pies.
- I have SO many applies that I can cook 10 pies.

Arguably the scalar modifier (TOO/SO/ENOUGH) licenses an optional embedded consequence clause. **Should it be the head, even if this would make the tree nonprojective?**

The apples are TOO ripe to pick.
  * advmod(ripe, too), ad

[2019-11-08 05:34] dan-zeman commented on #671
OK, feel free to add them there.

[2019-11-08 10:58] flammie commented on #671
ah yeah, I have a write permissions, doing.

[2019-11-08 10:59] #671 closed, assigned to nobody

[2019-11-08 14:25] Stormur commented on #672
I think it is not a problem of _too_ being able to be dropped in such a construction. The head still is the nominal; when doing research on these constructions, one will be able to verify that (if) an element like _enough_ or _too_ is always present as a modifier of the nominal or not. Probably we have again a case where a notation for nesting would be useful, as it is _to pick_ that can be taken

[2019-11-08 22:06] amir-zeldes commented on #672
I also agree that the nesting makes this trickier than it might be, and I don't think non-projectivity should stop us, but often the construction works without the 'enough', suggesting that it is not the head. For ripe we also have 'ripe for the picking' (suggesting that 'ripe' licenses 'ripe in what respect'), and for the pie I could say:

I have apples to cook 10 pies

Without 'enough'. In GUM y

[2019-11-09 00:06] nschneid commented on #672
I think these are different constructions—see below.

This is a weird construction that I do not fully understand and that native speakers have varying opinions about the productivity of: https://twitter.com/complingy/status/1191012756025159681

A Facebook discussion showed that "for the taking" and "for the picking" were widely accepted, but generalizing the -ING form to other verbs was controver

[2019-11-09 04:32] dan-zeman commented on #666
If there are no spaces, I would keep ".doc" together with the main name in one token.

Then it seems natural to treat the filename as one word with spaces, although personally I am not a big fan of words with spaces. The dot (adjacent to a letter on both sides) makes it recognizable as a validation exception; without extension, it would be tokenized and analyzed like movie/book titles.

Or maybe w

[2019-11-09 12:39] #662 closed, assigned to bulbulistan

[2019-11-09 12:55] dan-zeman commented on #635
@sylvainkahane : I believe `orphan` is used also in comparison in constructions like the one you mentioned. I think it has been discussed somewhere but I do not see the example directly in the guidelines.

[2019-11-09 13:10] #668 closed, assigned to nobody

[2019-11-09 13:12] dan-zeman commented on #661
I am changing the milestone to 2.6 although I think that perhaps the issue can be closed as it does not seem likely that it will lead to a change in the data or in the documentation.

[2019-11-09 13:14] #659 closed, assigned to nobody

[2019-11-09 13:15] dan-zeman commented on #658
Changing milestone to 2.6 and leaving open until the possible addition to guidelines is decided.

[2019-11-09 13:18] #657 closed, assigned to nobody

[2019-11-09 13:20] dan-zeman commented on #656
The next data freeze deadline will be May 1, 2020. I am closing this issue now.

[2019-11-09 13:20] #656 closed, assigned to dan-zeman

[2019-11-09 13:24] #652 closed, assigned to nobody

[2019-11-09 13:28] #649 closed, assigned to nobody

[2019-11-09 13:31] #646 closed, assigned to nobody

[2019-11-09 13:50] #640 closed, assigned to nobody

[2019-11-09 13:56] #605 closed, assigned to nobody

[2019-11-09 14:06] #594 closed, assigned to nobody

[2019-11-09 14:08] #581 closed, assigned to nobody

[2019-11-09 14:11] #578 closed, assigned to nobody

[2019-11-09 14:12] #570 closed, assigned to nobody

[2019-11-09 14:14] #568 closed, assigned to nobody

[2019-11-09 14:15] #567 closed, assigned to nobody

[2019-11-09 14:17] #556 closed, assigned to nobody

[2019-11-09 14:24] #552 closed, assigned to nobody

[2019-11-09 14:30] #525 closed, assigned to nobody

[2019-11-09 14:38] #501 closed, assigned to nobody

[2019-11-09 14:43] #491 closed, assigned to nobody

[2019-11-09 14:47] dan-zeman commented on #478
So what is the current status of this issue? Are we waiting for a change of the data or of the documentation?

[2019-11-09 14:49] #472 closed, assigned to nobody

[2019-11-09 14:52] #461 closed, assigned to nobody

[2019-11-09 15:01] dan-zeman commented on #453
What is the status of this issue? Are we waiting for a change in the data or in the documentation?

[2019-11-09 15:04] #410 closed, assigned to nobody

[2019-11-09 15:07] #401 closed, assigned to nobody

[2019-11-09 15:09] #328 closed, assigned to nobody

[2019-11-09 15:12] #311 closed, assigned to nobody

[2019-11-11 07:04] ikazos commented on #657
Hi all, I'm just a college student learning about UD and trying to understand the ongoing discussions about UD, and I was curious about the Classical Chinese example presented by @KoichiYasuoka, which is the sentence 信斯言也是周無遺民也. I speak Japanese and I studied a bit of Classical Chinese in school. Please correct me if I'm wrong in any of my following discussion.

First of all, the data. The sentenc

[2019-11-11 10:40] tsamardzic commented on #284
Added to my TODO for Croatian, thanks!

[2019-11-11 17:58] amir-zeldes commented on #666
I could see a case for using `goeswith` here - if you believe that filenames are 'single words' then in some sense they should be spelled together, but there is a space here. So it's somewhat similar to a single word broken up into two tokens because of a space?

[2019-11-12 07:27] martinpopel commented on #666
@amir-zeldes  If you know that a given filename does not include a space, but there is a typo in the text (e.g. "auto exec.bat" or "~/.bash rc") then you can use `goeswith`. However, nowadays there are many filenames containing spaces (e.g. "Constellation Power (GISB draft).doc" mentioned by @nschneid) and I think we should not use `goeswith` here. We should not break the rule that `goeswith` is r

[2019-11-12 14:46] amir-zeldes commented on #666
I think you definitely obtain a better file name by deleting spaces :)

But I see your point!

[2019-11-15 13:13] bguil opened #675 "Writing direction of each language"
I cannot find in corpora descriptions or in language descriptions the writing direction.

I need this information for a correct display in the [Grew-match](http://match.grew.fr) tool.
It is now available on the 2.5 data and the following languages are displayed from right to left:
 * Arabic
 * Assyrian
 * Hebrew
 * Persian
 * Urdu
 * Uyghur

All other languages are displayed from left to right. Ca

[2019-11-15 13:18] dan-zeman commented on #675
This sounds good to me.

[2019-11-15 13:21] dan-zeman commented on #675
As for listing it in the README it may a bit overkill, although it is possible that some language in the future will have two treebanks, each using a different writing system.

[2019-11-17 17:19] ftyers commented on #675
You could also use the information from CLDR, e.g. https://github.com/unicode-org/cldr/blob/master/common/supplemental/supplementalData.xml

[code]
= Mongolian Cyrillic / Mongolian Mongolian script. Cyrl is LTR, Mongolian is TTB.

I second making the script(s) part of the machine-readable metadata. I could definitely see an arabizi treebank etc. Although I wonder if it should be more on a per-sent

[2019-11-20 15:37] nschneid opened #676 "NOUN/advmod troubles in EWT"
There are a number of NOUNs attached as `advmod` in EWT. Many of these look plausible, e.g. location modifier "somewhere" and extent modifier "eight kilometers". But others are problematic, especially where the noun has a case marker:

- advmod propagated as enhanced dependency in adverb+PP coordination. There are many of these, e.g.:
  * book a cruise __online or by a travel agent__
  * equipment

[2019-11-20 15:50] amir-zeldes commented on #676
We can thank @dan-zeman and the validator for that - we just went through all cases that did have that and changed them to something else for the previous release... Often `obl:npmod`

[2019-11-21 17:17] ftyers opened #677 "Multiple values for a single feature"
We're working with Mapudungun at the moment and are coming across some issues with how to encode the category of `Aspect`. We have the example *miawkelayaymi* `miaw-ke-la-ya-y-m-i` "you must not wander":

The gloss is:
[code]
HAB = habitual
IMP = imperfective

The prohibition is habitual, but the action of ambulation is imperfective.

Some options:
* `Aspect=Imp|Aspect[neg]=Hab`
* `Aspect=HabImp`

[2019-11-21 17:39] dan-zeman commented on #677
I think I'd support something along the lines of

`Aspect=Imp|Aspect[neg]=Hab`

although I suspect that there might be other candidate labels for the `neg` layer. It depends on the nature of other possible examples of double aspect.

[2019-11-21 19:19] elejalea commented on #677
I also work in this Mapudungun project. We have not regarded all the existing uses so far. Probably there would appear a verbal form with both positive aspects. So there will be no distinction between them. That is why Fran suggests the third option

[2019-11-21 19:23] ftyers commented on #677
Well, it's one of the suggestions, it's a bit "un-UD" as these subcategories should ideally refer to something that is not a position indicator. I remember in previous discussions about Turkic that these kind of position indicators were unpreferred. I included it for completeness, because I have a feeling that at some point we will need to revisit it.

Are there any examples of three or more Aspec

[2019-12-11 19:16] nschneid opened #678 "PROPN vs. PTB NNP(S), titles in names, and compound vs. nmod vs. appos"
We are realizing that the UDv2 guideline for [`PROPN`](https://universaldependencies.org/u/pos/PROPN.html) is a pretty radical departure from the previous approach, which for English followed PTB guidelines.

It makes sense to give function words their usual tags even within names.
But enforcing this policy would require reviewing all multiword names in (at least the English) treebanks to convert

[2019-12-11 21:17] sylvainkahane commented on #678
For some UD_French treebanks we decided to introduce en external POS for MWEs and titles. In other words, words in a title or a syntactically regular MWE receive their regular POS, and the whole expression receives an EXTPOS value on the head. [For titles, EXTPOS=PROPN](http://match.grew.fr/?corpus=UD_French-GSD@2.5&custom=5df1593a8e72a). We have one example of [a one word title where POS and EXTP

[2019-12-11 21:18] amir-zeldes commented on #678
From a linguistic point of view 'being a name' is not fundamentally a morphosyntactic category in English IMO, notwithstanding article behavior (which is not 1:1). The PTB guideline (any content word in a name is `NNP`) is maybe not great, but at least more or less consistently applicable.

If I read the UD guideline literally, it sounds like a person named 'Violet Shoemaker' should not be ADJ+NOU

[2019-12-12 10:09] dan-zeman commented on #678
This seems to reiterate an old (pre-v1) discussion about whether `PROPN` is a useful category at all :-) At any rate, the problem seems to be limited to some languages (notably English). Czech adjectives are morphologically distinct, and as the name suggests, a proper noun is supposed to be a noun, so in _Kočka na rozpálené plechové střeše_ “Cat on a Hot Tin Roof”, there is no question about makin

[2019-12-12 14:02] amir-zeldes commented on #678
As I wrote above, I agree that names are not really a 'part of speech', even if they have slightly different distributions some of the time, because 1. there are lots of other categories with slightly different distributions which we don't distinguish (e.g. mass nouns) and 2. there are names that don't follow those distributions (e.g. can take articles). It's really a semantic distinction, saying

[2019-12-12 14:46] sylvainkahane commented on #678
Our goal is not to annotate named entities, but we have to ackowledge that sometimes the problem of NEs crosses the question of syntactic annotation. It happens with titles which behaves as a whole as PRONs but can be phrases of any POS.

To introduce a double POS, one for the external behavior (towards the governor of the phrase) and one for the internal behavior (inside the phrase) is quite simp

[2019-12-13 03:28] nschneid commented on #678
@sylvainkahane Agreed, I'm increasingly seeing the need for what could be called "syntactic MWEs": not all MWEs, to be sure ("pay attention" is syntactically normal), but ones that are problematic for the simple notion of head-modifier relations as a representation of syntagmatic compositionality.

1. __MWEs with internal syntax, but unpredictable external distribution:__ E.g. titles of works of a

[2019-12-13 18:04] amir-zeldes commented on #678
EXTPOS sounds great, but I don't see how we would do this for all existing corpora... And even if it's done for some data sets, my instinct is to leave POS alone (since they reflect widely used standards) and rather add 'titlehood' to the large spans (à la PTB `NP-TTL`), or also add the non-name-like information somewhere, but in any case not redefining PROPN.

Making Smith the head of Mr. Smith w

[2019-12-19 19:34] nschneid commented on #678
What about a new relation called `formulaic`, for template-like patterns that don't fall under the main syntactic relations used for normal vocabulary, but rather, specific formulas for putting together names and numbers ("Mr.", dates, units of measurement, etc.)? The technical difference would be

- `flat` and `fixed` are for combinations where it is difficult to identify a unique head, so by con

[2019-12-19 20:42] jnivre commented on #678
I think the simple solution is to use nmod (possibly with subtyping). If we assume that ”Smith” is the head, then ”Mister” is a noun modifying that head. This is what we do for similar constructions in Swedish. UD by necessity has to be rather coarse-grained, so I think we should be careful not to start proliferating relations.

Joakim

Skickat från min iPhone

19 dec. 2019 kl. 20:35 skrev Nathan

[2019-12-19 20:52] arademaker commented on #678
Why I can't use `appos` instead of `formulaic`? `appos(John, Mr.)`?

[2019-12-19 20:55] dan-zeman commented on #678
Because [appos](https://universaldependencies.org/u/dep/appos.html) is a left-to-right relation (besides also being meant for a different type of relation, but I think nobody has succeeded in precisely defining what that different relation is, while left-to-rightness is something easily testable).

[2019-12-19 20:56] jnivre commented on #678
This would indeed be classified as apposition in many traditional grammars (including the Swedish tradition), but the UD concept of apposition is narrower and restricted to thinks like ”president of X” in ”Mr. Smith, president of X”. Personally, I would be in favor of treating appos as a subtype of nmod rather than a universal relation.

Joakim

Skickat från min iPhone

19 dec. 2019 kl. 21:52 skre

[2019-12-19 21:20] nschneid commented on #678
@jnivre As applied to English thus far, `nmod` is pretty much exclusively for "case"-marked nominals (PPs and possessives). In all of EWT I can find just 20 or so other uses of nmod.

The current [definition](https://universaldependencies.org/u/dep/nmod.html) says: "The `nmod` relation is used for nominal dependents of another noun or noun phrase and functionally corresponds to an attribute, or ge

[2019-12-19 21:35] amir-zeldes commented on #678
I would also prefer not to add major types - UD is complicated enough, and stability is important. If we did do a 'this is a special thing we don't have a name for', I would say `dep:xyz` is the way to go, so maybe `dep:title`. Honestly I've gotten used to flat(Mr.,Smith), so I can live with it - I agree with Nathan that `nmod` intuitively means something different to me (prepositional/case-bearin

[2019-12-19 21:46] jnivre commented on #678
I’ve always considered nmod:npmod a strange quick of the English treebank. :) Even the name is a weird mix of dependency and phrase structure syntax.

In a cross-linguistic perspective, I think it makes more sense to use nmod for any kind of nominal modification, regardless of whether it is accompanied by head marking, dependent marking, or no marking.

Compounding is different because it is occur

[2019-12-19 21:52] amir-zeldes commented on #678
The name `nmod:npmod` is indeed odd and has purely historical reasons, but I don't agree that the functions it stands for are interchangeable with nmod. The criterion for the nmod/obl subtypes in English is that they appear without adpositions but are not objects. If we have:

I'll jog next week

Then we don't want:

obj(jog,week)

But we can't use the preposition marking guideline to do:

obl(jog

[2019-12-19 21:55] amir-zeldes commented on #678
Incidentally, we applied the same subtyping scheme to UD_Coptic for the same reasons:

https://corpling.uis.georgetown.edu/annis/#_q=cG9zPSJWIiAtPmRlcFtmdW5jPSJvYmw6bnBtb2QiXSBub3Jt&_c=Y29wdGljLnRyZWViYW5r&cl=5&cr=5&s=0&l=10&_seg=bm9ybV9ncm91cA

It has also been our main workaround for the validator shooting down advmod+not ADV.

[2019-12-19 22:21] nschneid commented on #678
I had momentarily forgotten about `nmod:npmod`. I too find it extremely confusing and it has its own issue: #478

@amir-zeldes, if the `nmod` subtypes in English are for non-case-bearing nominal modifiers, does that suggest `nmod:title` would be an appropriate solution for "Mr."? Or would you say that "Mr." is not really nominal, but rather an extremely special/miscellaneous modifier?

[2019-12-20 01:54] amir-zeldes commented on #678
It's true that the 'Mr.' modifier doesn't have an adposition, but I think it's different than the extent/spatiotemporal modifiers that typically get obl/nmod:npmod. Those are essentially adverbial, which I guess is what earns them the name 'oblique': 5 years old -> old how much? -> 5 years etc. The 'Mr.' titles are really part of the same NP they modify without instantiating a new morphosyntactic

[2019-12-20 14:40] dan-zeman commented on #678
I agree with Joakim that `nmod` denotes a nominal that modifies another nominal, and it is not important whether the dependent nominal is or is not marked for case.

What is important however is that we have a reason to believe that one of the two nominals is the head and the other is dependent. Because if we don't have the reason, then they should be connected via `flat`.

As for `nmod` vs. `comp

[2019-12-20 14:54] nschneid commented on #678
Agreed—I think the fact that in "Mr. Smith", "Mr." is optional while "Smith" is not is reason enough to consider "Smith" the head.

I agree that compound seems weird in this case, but could you elaborate on what you mean by "compounds are lexical"? In English I'd say that "valley unicorn" is just as compositional as "domestic unicorn" or "unicorn of the valley".

[2019-12-20 15:05] dan-zeman commented on #678
A short answer should probably be "no I couldn't" — that's why I say I'm not sure how exactly the distinction should be drawn.

But if I step from exact definitions to vague intuition, then my understanding of nominal compounds is that one takes two common nouns, i.e. words denoting entities with given properties, and creates something that also denotes an entity with given properties, i.e., the r

[2019-12-20 15:38] nschneid commented on #678
Related to the "two common nouns" criterion, we should also consider combinations of a normal common noun and a normal proper noun (by "normal" I mean the noun that could serve as an NP head, unlike "Mr.".):

- "the Bush administration": `compound(administration, Bush)` seems reasonable to me

- "the American singer Madonna": `compound(Madonna, singer)`? This is tougher, a combination of "the Amer

[2019-12-20 16:30] amir-zeldes commented on #678
I think "the American singer Madonna" is `appos(singer,Madonna)`, since they are independent NPs, and are also reversible:

  * Madonna the American singer
  * \* administration the Bush

The criterion for compounding in English is IMO not the fact that they create reference to an entity (so does 'unicorn of the valley'), but that they have the following properties:

  * They form a single NP, evi

[2019-12-20 17:15] nschneid commented on #678
I agree it's apposition-like, but I think there's a difference between "the American singer Madonna" and "the American singer, Madonna"—the second is a prototypical apposition which adds information about a fully established referent. "The American singer Madonna" strikes me as a descriptor-NP + name-NP construction, better paraphrased as "Madonna, the American singer". (Maybe these considerations

[2019-12-20 18:25] amir-zeldes commented on #678
I think syntactically it's the same with or without the comma - the alternative is to not have the article, in which case we have the 'title' construction again:

American singer Madonna said today...

But not:

`*` Madonna American singer said today...

As soon as it can take 'the', it's an independent NP for me, and for me an apposition is two NPs in sequence fulfilling the same syntactic functi

[2019-12-20 19:09] nschneid commented on #678
I'm OK with the `appos` solution for "the American singer Madonna" if others are.

Getting back to the broader question of how `compound` is distinguished from `nmod` in languages like English where there isn't a cue from the morphology/spelling: Do @amir-zeldes's [criteria for `compound` in English](https://github.com/UniversalDependencies/docs/issues/678#issuecomment-567985206) sit well with peo

[2019-12-20 19:23] jnivre commented on #678
The criteria look good to me. The key point is that they form a single NP or, rather, that they form a compound nominal head. That is what I meant by saying that it occurs at the lexical level, not the phrasal level.

[2019-12-20 19:24] dan-zeman commented on #678
They do not sit well with me because the term "NP" is not defined in UD :-) But it can be probably rephrased so that it is clear what is meant.

I would also appreciate examples from more languages than just English, for the three-way distinction `nmod`-`compound`-`appos`.

[2019-12-20 21:03] amir-zeldes commented on #678
I think the criteria will vary somewhat from language to language, but you can get a 3-way distinction even in other language families. For example, in Semitic languages, construct states are often identified as compounds, but while they only allow a single article, the modifier can be inflected. I'll use Hebrew and horses instead of unicorns, since 'unicorn' is itself complex in Hebrew:

[code]

[2019-12-20 21:09] amir-zeldes commented on #678
BTW for Slavic I suspect it's more difficult to make a 3-way distinction, since the (very rare) noun-noun 'compounds' inflect with agreeing case:

Polish:
krem-żel "cream gel"

And in a sentence in genitive context (real example):
to właśnie charakterystyczne cechy krem**u**-żel**u** do twarzy
"These are the characteristic features of the face cream.GEN gel.GEN"

So formally it looks a lot like an

[2019-12-20 21:25] dan-zeman commented on #678
If _kremu-żelu_ is tokenized as three tokens, can we say that one of the two lexical tokens is the head? It looks like `flat` to me.

So I actually forgot `flat` above, and it is potentially a four-way distinction:

- a noun-noun `flat`, if there is no clear head
- an `nmod`, if there are no language-specific criteria to say that it is `compound`
- a noun-noun `compound`, if language-specific crit

[2019-12-20 21:56] amir-zeldes commented on #678
Yes, I agree the possibility of multiple determiners (including demonstratives in languages without articles) is a good way to distinguish appos from flat and compound.

The krem-żel example is more flat-like than the other compound examples since, insofar as it's a compound at all, it is an example of a copulative compound, like English singer-songwriter (which is both a singer and a songwriter,

[2019-12-24 04:58] nschneid opened #679 "Conjunction-like multiword connectives in English: rather than, instead of, etc."
In EWT:

- _rather than_: `fixed(rather, than)`; sometimes attaches as `cc`, other times as `mark` or `case`
- _instead of_: `fixed(instead of)`; attaches as `mark` or `case` (except for 2 `advmod` attachments which do not use `fixed` and appear to be errors)
- _as well as_: `fixed(as, well)`, `fixed(as, as)`, attaches as `cc`
- _in addition to_: compositional analysis (`case(addition, in)`, etc.)