[2018-04-24 20:41] vcvpaiva commented on #331
thanks then.

[2018-04-24 20:41] #434 closed, assigned to nobody

[2018-04-24 20:45] dan-zeman commented on #198
Well... possibly, yes. You could even say that it is `nummod(thousand, four)` (answering "How many thousands?"). But I don't feel strongly about it.

[2018-04-24 21:02] jnivre commented on #311
I agree it should be "conj" if there is an overt "but".

[2018-04-24 23:17] nschneid commented on #541
I would treat the punctuation here as only adding stylistic/pronunciation emphasis, not changing the morphological or syntactic structure. These don't seem like parataxis to me.

[2018-04-24 23:22] nschneid commented on #311
As to the no-*but* case: Under current guidelines, `conj` would cover asyndetic coordination, whereas `parataxis` would cover juxtaposition. There are other cases where it is difficult to distinguish the two: #541

Should we err on the side of parallelism with the *but* case and call both `conj`?

[2018-04-24 23:32] nschneid commented on #472
Note that there are other fixed expressions like *at least* where it is similarly unclear (and inconsistent in the data).

[2018-04-25 00:02] nschneid commented on #545
I'm not sure what the "correct" spelling would be of such a liberal verbalization of a multiword name. (Can't think of analogous examples that are more conventional.) Orthographically it might be preferable to hyphenate and omit the apostrophe: *Home-Aloned*. The advantage of `goeswith` is it gives us a way to say that it is morphologically a single word and only one POS tag is really applicable (

[2018-04-25 07:11] dan-zeman commented on #311
+1 for calling both `conj`.

[2018-04-25 07:32] dan-zeman commented on #472
The main question is whether or not they are nominals. "Yes, they are" means `obl`. "No, they are not" means `advmod`. Both under the assumption that the parent node is a head of a clause, or an adjective, or an adverb.

If they modify a nominal (_at least three liters_), then I'm not so sure. I have been using the subtyped `advmod:emph` for similar cases in other treebanks. But our guidelines act

[2018-04-25 07:40] dan-zeman commented on #545
I don't think it can be `PROPN` if it has acquired verbal morphology. If we went with `compound`, then I would make _Alone'd_ the head, and I would tag it `VERB`. Superficially similar to _ill-suited_, although there are significant differences, the main being that _Alone_ alone would not become a verb.

[2018-04-25 07:43] vishu0047 opened #548 "Conll shared 2008-2009 format to conll-U conversion"
Hi..

I am working on parser training where I have to convert  conll data into conll-U format.
I didn't fine any script or steps on UD tool directory if any one have solution for this .please help me.
current structure of my training data:

bc/cctv/00/cctv_0001   0   0      What   WP  (TOP(SBARQ(WHNP(WHNP*        -   -   -   Speaker#1   *   -
bc/cctv/00/cctv_0001   0   1      kind   NN

[2018-04-25 08:02] dan-zeman commented on #548
This does not look like the CoNLL 2009 format. (I do not know how CoNLL 2008 looked but I suspect it should be same as 2009.)

You are right, there is no script for this conversion in the tools repository. One problem of such a script would be that it would need to know a lot about the source language and treebank (its tag set, dependency relation labels, guidelines for structural annotation). You

[2018-04-25 08:02] #548 closed, assigned to nobody

[2018-04-25 09:07] jnivre commented on #311
Fine with me too.

[2018-04-25 12:28] EricaBiagetti commented on #547
Yes, I was looking at the clause from the 'relative clause' point of view and didn't think about the possessive being the head of it. Thank you!

[2018-04-25 13:15] #419 closed, assigned to nobody

[2018-04-25 13:27] amir-zeldes commented on #472
I would be for `nmod` (or `obl` when it modifies a verb in "At least they came") because I think fixed should be a last resort. The basic structure of "at least" is a PP, I think the main reason it's less comfortable for people is that 'least' is somehow adjectival, and nominalized adjectives without "one" are uncommon in present day English. But still, I think the best one could do here while avo

[2018-04-25 13:47] amir-zeldes commented on #198
I think semantically it is 'counting', but syntactically it's more like a compound, at least if we consider "ten" in "ten year old" to be `compound`. This seems to have the same property of not pluralizing the modified number, since it is itself a modifier. It would be `nummod` for me in "she is ten years old" and "there are four thousands there".

[2018-04-25 13:48] nschneid commented on #472
I think the at+superlative construction is more productive with definite marking: _at its busiest_ is another example, but \*_at busiest_.

Without definite marking, I can think of _at least/most/worst/best_.

Different idiomatic prep + adj constructions include *at large*, *of late*, *for sure/real*, *for good*, *in full*. These all seem to be tagged as `case(ADJ, ADP)` rather than `fixed(ADP, AD

[2018-04-26 04:46] vishu0047 opened #549 "tool or mapping to convert Ontonote5.0 data to core nlp .conll-U format"
I am trying to train new parser model using Ontonotes 5.0 data set. I checked UD tool section but there was no tool committed to do the conversion. I to do the conversion using DDR (deep dependency) format but the dependency label for DDR are not same as UD dependency.
1       With    with    IN      _       4       case    _       _
2       their   their   PRP$    _       4       poss    _

[2018-04-26 05:46] lingdoc commented on #448
It sounds to me like the `AUX` + `aux` suggestion handles the case for now, though I suppose this is motivated by wanting to distinguish between markers required by the verb and those that are not? Is there a way to define this in terms of phrase structure rules within the particular language instead? Forgive my ignorance of how this all works within UD - I'm still getting my feet wet here.

In th

[2018-04-26 08:48] sylvainkahane commented on #311
If I understood what the Cambridge grammar says, "not only X but Y" can be subordinated, but "not only Y, Y" cannot. It is correct, we have two different constructions, which justifies to have two different relations. I think that `conj` is clear for "not only X but Y" and that `parataxis` is a good option to mark the contrast between the two constructions.

In French we have the same two construc

[2018-04-26 14:47] amir-zeldes commented on #549
Hi @vishu0047 , you should be able to use CoreNLP/Stanford Parser to convert the OntoNotes constituent parses to dependencies. I've done it before and I don't remember having any problems. Just use: `edu.stanford.nlp.trees.EnglishGrammaticalStructure -treeFile FILE.parse`

[2018-04-26 14:47] GPPassos commented on #523
Should this be closed? I also agree that this is a mistake and should be removed, but I don't know if and how this could be done (as I don't know which kinds of changes are allowed to the documentation, for instance due to versioning, etc)

[2018-04-26 15:23] martinpopel commented on #523
No, I think issues like this one should be closed only after the documentation is fixed. Ideally, it should be closed by merging a PR which fixes the issue.

Each documentation page has an "edit page" button which allows to propose a change. I just used it and created a PR which deletes the mistaken example. (Anyone can open a new PR with an added sentence explaining that `acl` is suitable for suc

[2018-04-26 18:42] #549 closed, assigned to nobody

[2018-04-27 03:46] nschneid commented on #545
This issue is similar to #443

[2018-04-27 04:05] nschneid commented on #311
I think that is the claim, though I'm not sold on it. The supposed ungrammatical example they give does seem a bit odd, but I found a couple examples on the web that sound fine:

* It was a brave thing to say at the time, **since not only** was it a strain, it was probably the largest strain, at least among professional Jews whom many in the media like to pretend speak for the entire community.
*

[2018-04-29 02:44] nschneid commented on #308
I would expect to see "tough" constructions and for-infinitivals documented at [complex clauses](http://universaldependencies.org/u/overview/complex-syntax.html), but I don't, so reopening.

[2018-05-01 11:37] dan-zeman commented on #448
So it seems that _la_ indeed is `AUX` (it marks the past tense) and the question is what is the second _u_, right? If it is `DET` in _u Blei_, then it probably stays `DET` here. Consequently, I am no longer convinced that it should be attached as `aux` or a subtype thereof. An analysis with `dislocated` or `expl` is probably more in line with the rest of UD.

A language-specific solution is possib

[2018-05-01 11:42] dan-zeman commented on #311
I do not think there is much benefit in distinguishing the "two different constructions" by labeling one as `conj` and the other as `parataxis`. I have the feeling that `parataxis` itself mixes various constructions that are more different from each other than this.

[2018-05-01 12:18] #523 closed, assigned to nobody

[2018-05-01 12:29] sylvainkahane commented on #311
It is true that `parataxis` must be refined, but the coordination is a quite well defined construction.  I don't know examples of a coordination XY where XY has not the same distribution as X and Y (except for the agreement). It is possible that _not only_ without _but_ works as a kinf of exclamative word that take the head of the sentence and change its distribution. But the data are flimsy since

[2018-05-01 14:56] #274 closed, assigned to tlynn747

[2018-05-01 15:03] tlynn747 commented on #434
Apologies!

yes thanks for closing @dan-zeman . I agree, an in-depth discussion/ comparison of how they're dealt with across treebanks would help. Hopefully more time for this over the summer @ftyers

As for parataxis. Yes that sort of thing happens in Irish - but rare examples in the treebank as of yet. Sent_id 159 holds an example " ......, says Pat McDonagh,......".  Most other examples are phr

[2018-05-01 18:33] dan-zeman commented on #308
@nschneid could you please propose the documentation, perhaps as a summary from the discussion in this thread?

[2018-05-01 18:39] mcdm commented on #308
We had some suggestions for analyzing “tough” adjective constructions in our Depling paper 2013 (http://ufal.mff.cuni.cz/depling13/proceedings/pdf/W13-3721.pdf <http://ufal.mff.cuni.cz/depling13/proceedings/pdf/W13-3721.pdf>). Of course these can be revisited!

Marie

[2018-05-02 03:34] nschneid commented on #308
Yes, @ngiordani made reference to the paper in [this post](#issuecomment-232790400), saying that there was a later decision not to use `ccomp` with nonverbal heads.

Is that decision still valid? I see a lot of adjective-headed `ccomp`s in the data: "It is clear that...", "I am sure that", "I was able to", etc., quite apart from tough adjectives. Those certainly look to me like complement clauses,

[2018-05-02 05:33] jnivre commented on #308
The status of adjectives as predicates (and the implications for labelling their dependents) has never been fully resolved in UD. My own feeling is that, as long as we use "amod" rather than "acl", we treat the adjective as a modifier word, not as a predicate, and should therefore not apply the core-oblique distinction to its dependents (which implies using "advcl" rather than "ccomp"). However, i

[2018-05-02 06:21] nschneid commented on #308
I'm no syntactician, but there are clear parallels with verb complement clauses:

* Verb head:
  - They were informed of the problem.
  - They were informed that it was a problem.
* Adj head:
  - They were aware of the problem.
  - They were aware that it was a problem.

From an annotator's perspective, "that" + non-relative clause is a nice recognizable pattern; it would be convenient if it alway

[2018-05-02 06:34] dan-zeman commented on #308
It could be read as an NP whose head noun has been elided, and the adjective _many/most_ has been promoted to the head position.

[2018-05-02 06:38] jnivre commented on #308
You will never get ccomp for all that-clauses as long as we use acl in constructions like "the fact that ...". Note that UD doesn't have a complement-modifier distinction, it has a core-oblique distinction, and (at least according to the current guidelines), this only applies at the clause level. So the key issue here is whether the adjective is a clausal predicate or not, which it clearly is in "

[2018-05-02 13:47] amir-zeldes commented on #308
I'm actually all for "realization ... that X" being ccomp. Treating it as acl removes the distinction between:

The realization that I was made aware of (true acl)
The realization that ice cream is delicious (a nominalized ccomp)

I understand the core/oblique distinction idea, but I'm not sure why we would want to not make the above distinction, which to me looks syntactically very clear (in one

[2018-05-02 15:30] jnivre commented on #308
That distinction is already made by having the first be acl:relcl. Using ccomp for dependents of nouns would require us to systematically distinguish complements from adjuncts in this position, which is even trickier than with verbs. I doubt that the benefits would outweigh the costs.

[2018-05-02 17:22] amir-zeldes commented on #308
Isn't acl:relcl an optional/language specific distinction? I didn't understand acl without relcl to cover adnominal argument clauses... But more importantly, I think they're not really adverbial clauses. We can actually get all three:

The realization that I was made aware of (acl:relcl)
The realization that ice cream is delicious (ccomp)
The realization as it was described at the time (advcl)

On

[2018-05-02 17:40] jnivre commented on #308
Yes, subtypes are optional, so no one is forced to distinguish relative clauses from other adnominal clauses, but most treebanks do (I think). The crucial point is that, if the subtype is used, it distinguishes relative clauses from other adnominal clauses, not adnominal adjunct clauses, because UD does not acknowledge the argument-adjunct distinction. This is exactly parallel to the nominal case,

[2018-05-02 18:11] Mark-Patterson opened #551 "The open compound noun "hot dog" is not recognized."
The Stanford Core NLP ver. 3.9.1 uses UD and parses the UD for the sentence:
"He ate a hot dog for lunch."

to mean that he ate a dog that was hot: amod(dog-5, hot-4)

![hot dog](https://user-images.githubusercontent.com/38922196/39540887-0dc92c8a-4e12-11e8-96c5-6d32f6a05ae3.jpg)

Contrast this with "He ate ice cream for lunch." which is correctly identifies "ice cream" as an open compound noun:

[2018-05-02 18:19] dan-zeman commented on #551
In general, this is probably not the proper place to post questions about the Stanford Core NLP.

However, if it contains a statistical parser that has been trained on the UD English EWT treebank, then it is not surprising that the parser does not recognize _hot dog_ as a compound. The phrase _hot dog_ does not occur in the treebank, so the parser must look at other sources of information, such as

[2018-05-02 18:22] #551 closed, assigned to nobody

[2018-05-02 18:22] Mark-Patterson commented on #551
The phrase _hot dog_ should be added to the UD English EWT Treebank and identified as an open compound noun.

[2018-05-02 18:26] dan-zeman commented on #551
Sorry, this is not how treebanks usually work. The treebank is a collection of sentences that have been written by real people and found on the web. Of course you will find sentences with _hot dog_ on the web, but it is not possible to manually annotate and add to the treebank all sentences from the web. No matter what you do, there will be always millions of phrases that exist in the language but

[2018-05-02 19:01] nschneid commented on #308
@jnivre, could you explain how the core/oblique distinction is tested for? For English verbs it seems straightforward because obliques equate to prepositional dependents of the verb. So I would expect that prepositional dependents of adjectives would be obliques as well, whereas that-clauses and infinitive-clauses that are dependents of adjectives would be core.

[2018-05-02 20:05] Mark-Patterson commented on #551
Thanks for your replies Dan!  I'm just getting up to speed.  I'm amazed that with something as fluid as language that the UD Treebank has not been designed to be extensible.

[2018-05-02 21:35] nschneid commented on #551
You are welcome to contribute a new corpus to the UD project, provided it contains full-sentence annotations according to the standard: http://universaldependencies.org/contribute.html

If you're interested in multiword expressions in particular (such as compounds with idiosyncratic meanings), you may be better off consulting WordNet or another lexical resource.

[2018-05-03 05:25] nschneid commented on #308
([This page](http://universaldependencies.org/u/overview/syntax.html#core-arguments-vs-oblique-modifiers) discusses core/oblique with respect to verbs, but doesn't mention adjective predicates.)

I see that overhauling the way we deal with adnominal clauses would be a major change. But I'm still confused on the issues regarding predicative adjectives. Let me see if I can get this right:

With a ve

[2018-05-03 07:25] dan-zeman commented on #308
It is actually questionable whether _$10_ is a core object of _worth_ (although I'm not sure what else it should be). It is obligatory and it is a bare nominal without preposition, so it does superficially resemble objects of verbs. But it cannot be promoted to subject via passivization.

[2018-05-03 07:27] gossebouma commented on #308
While introducing a core/obl distinction for nouns does introduce additional work and decisions to be made, it is also true that our underlying treebank for Dutch makes this distinction, and it do not remember it as being an especially hard or controversial distinction. Most frequent nouns in our treebank with ccomp dependents are nouns like _fact, question, moment, risk, proof, hope, impression,

[2018-05-03 09:18] jnivre commented on #308
I think many of the issues here revolve around two questions that have never been fully resolved in UD. The first is how to apply the core-oblique distinction to clauses. The original distinction from the typological literature applies only to nominal dependents, and many of the tests (passivisation, control, relativisation, etc.) are difficult or impossible to apply to clauses. It is therefore ea

[2018-05-03 13:23] dan-zeman commented on #308
The core/oblique distinction has been defined for verbs (rather than adjectives or adverbs). Verbs can be transitive but adjectives??? Probably not. Core objects are primarily observed with action verbs (while predicative adjectives tend to describe states). Then the notion is extended to some other verbs, and those verbs are called transitive, too.

I can imagine (or better: I'd be in favor of) e

[2018-05-03 13:38] nschneid commented on #308
Part of my confusion may be the terms "complement" in `ccomp` and "adverbial" in `advcl`. If those are not meant to reflect the argument/adjunct distinction, then perhaps different names are warranted (`cobj` and `cobl`?).

With respect to verbal clauses, if "alternates with `obj`" is really the criterion, then does that mean we'd have

* John said to Mary [that it was a problem]: `ccomp`, cf. Joh

[2018-05-03 14:27] amir-zeldes commented on #308
I agree with @nschneid that 'advcl' seems strange here, and with @gossebouma about annotation: we also annotated ccomp for nouns and adjectives in GUM using Stanford Dependencies (so we understood the SD guidelines to cover this), and it was not controversial among annotators. It is of course simple for us to remove the distinction in the conversion to UD, but it seems like a loss of genuinely int

[2018-05-03 19:27] dan-zeman commented on #308
@nschneid :

Agreed. I'm afraid that our current guidelines are messy. I was just trying to show what I think they imply.

@amir-zeldes :

If a modifier of an adjective uses the same coding strategy as a core argument of a verb, does it mean that it belongs to the same category as the core argument of the verb? I'm not so sure. As I understand it, one of the reasons why people want to treat the co

[2018-05-03 19:43] dan-zeman commented on #308
BTW, the [paper](http://ufal.mff.cuni.cz/depling13/proceedings/pdf/W13-3721.pdf) referenced above by @mcdm proposes `ccomp` for the relation between a tough adjective and the dependent clause. So this would be an argument in support of `ccomp` in UD, given that UD inherited `ccomp` from Stanford Dependencies. But then I think that we should abandon the claim that `ccomp` is a core argument.

[2018-05-04 07:49] jnivre commented on #308
I agree with Dan's assessment. Sorting out all these issues is for v3. (But we should make it happen!) In the meantime, we need a workable set of guidelines that can be applied consistently across guidelines, and I think there is a lot to be said for the simple rule that only verbs take core arguments (including ccomp and xcomp). For borderline cases like gerunds, this means that we have to tag th

[2018-05-04 07:58] gossebouma commented on #308
In addition to @amir-zeldes observations about adjectives taking nominal dependents (without a preposition introducing the dependent), Dutch has several of those (I counted 30 lemma's in LassySmall), ie

De flashbacks zitten vol symboliek 'The flashbacks are packed-with symbolism'
Een mand vol levensmiddelen 'A basket filled-with food'
Conform de afspraken viel Polen onder de Russische invloedsfee

[2018-05-04 15:20] amir-zeldes commented on #308
@gossebouma there is a very similar construction with 'full' in German, which is being grammaticalized from an adjective into a preposition - I coincidentally wrote a paper about this if you're interested: http://corpling.uis.georgetown.edu/amir/pdf/case_for_caseless.pdf

@dan-zeman and @jnivre - if this needs to wait for V3 that's fine, and I am happy to be on the working group for this, though I

[2018-05-05 11:20] kimgerdes commented on #308
In light-verb constructions a similar problem arises:
[code]
it seems preferable to have the same relation towards _to read that_ in the two examples: `xcomp`
If we decide to do that, we would also obtain a NOUN with an `obl` here:
[code]
This boils down to given preference to the syntactic function of the dependent rather than the POS of the governor in case these two constraints don't lead to th

[2018-05-07 06:10] dan-zeman commented on #308
@amir-zeldes :

If the "some cases" are `ADJ` and `ADV`, then it is probably a small change because that area is now fuzzy anyway. If you mean `NOUN`, sorry, no. The line between dependents of nominals and dependents of clauses is quite clear in the current guidelines. Crossing it would be a major change no matter how few characters you need to describe it.

Isn't the notion of core arguments in l

[2018-05-07 13:31] nschneid opened #552 "Preposition stranding in relative clause/question: ellipsis or nonprojectivity?"
[This query](http://bionlp-www.utu.fi/dep_search/query?search=PRON%20%3E%40R%20ADP&db=UD_English-EWT-dev&case_sensitive=True&hits_per_page=100) reveals about 50 EWT instances with the nonprojectivity analysis, where the stranded preposition is a dependent of the relativizer. In other cases similar sentences are treated as ellipsis. Which analysis is correct?

## that-RC

"a thing that you pay for"

[2018-05-07 13:41] dan-zeman commented on #552
When the pronoun is present in the clause, it is not ellipsis and the preposition should be attached to the pronoun despite the nonprojectivity.

[2018-05-07 13:42] jnivre commented on #552
Quite right.

[2018-05-07 14:08] nschneid commented on #552
OK—I couldn't find this in the guidelines, so it should probably be added somewhere!

Looks like there are at least several dozen sentences with a pronoun that need to be corrected.

What about "anyplace you want to spend more time at"? "Anyplace" is tagged as `ADV`.

[2018-05-07 14:35] amir-zeldes commented on #308
@dan-zeman - if you all say this is something that needs to wait for V3, then that's how it is, as consistency is certainly important. Our data is derived from an SD representation that makes the distinction, so it's easy enough to collapse/uncollapse.

However regarding the question: no, I don't think so, I think typologists generally accept deverbal derivations can preserve core arguments. It wo

[2018-05-07 14:55] nschneid commented on #308
Speaking more generally, I think it's fair to say that linguistic structures evolve in messy ways: for example, perhaps English *that*-clauses started out exclusively as core clausal dependents of verbs, but then got reused with deverbal adjectives and nouns (*pleased that*, *proposal that*), then got extended to some non-deverbal adjectives and nouns (*afraid that*, *the fact that*). Given the mo

[2018-05-07 17:05] dan-zeman commented on #308
Agreed that `nsubj` is a core argument and that it is used in nonverbal clauses. But my doubts are more about objects than subjects. I do not remember having seen any discussion of transitivity of non-verbs. In general it is better to refer to _predicates_ rather than to _verbs_ and both can be found in the literature. But so far I've seen nonverbal clauses typically defined in a different chapter

[2018-05-07 17:56] jnivre commented on #308
Let me try once again to explain why this would be a major change in the principles of the UD taxonomy. It is not really about verbs vs. nouns (and certainly not about postags). Nor is it primarily about whether nouns (or adjectives) can take core arguments, but about whether the same relations can be used both inside noun phrases and at the clause level.

First of all, the UD taxonomy is based on

[2018-05-08 18:18] amir-zeldes commented on #308
Thanks for that @jnivre , that does make the systematic issues clearer! I think that there are some discrepancies between current V2 practices and the division of relations above. For example, `advmod` is not just used as a modifier of modifier words in the NP domain, it is sometimes used as an adnominal modifier, and although I understand the system above, I'm not sure I find these wrong:

[code]

[2018-05-09 08:37] jnivre commented on #308
Thanks, @amir-zeldes. A few comments:

- On advmod inside NPs: This is an old hot potato that was discussed intensely a few years back and probably never fully resolved. I agree that labelling adverbs "amod" would be misleading here, and we probably just have to acknowledge that "advmod" is a bit of a wildcard that can show up in different types of structures (just like "adverb" in traditional gra

[2018-05-10 16:01] amir-zeldes commented on #308
OK, this makes sense. I think I prefer to avoid new subtypes in order to stay in sync with EWT, so I'll stick with `acl` vs. `acl:relcl` for now (@sebschu let me know if you have other preferences).

I think the reason I didn't see a problem with `ccomp` is that, unlike `nmod`/`obl`, there is no contrast between modifying an NP which happens to be a predicate, and modification of the predication (

[2018-05-12 05:41] sanjmeh commented on #516
I want to reiterate this problem of short abbreviation tagging.
The classic example is the short form `vs.` or just `v.` used in most legal text instead of the full word `versus`.
On annotating the text using udpipe `english_ewt` model it takes the period inside the token (but still isnt able to lemmatize it to VERSUS while the `english_partut` treats the period as a separate token and abruptly en

[2018-05-13 18:38] Mark-Patterson opened #553 "xcomp erroneously used for iobj/dobj constructions"
In "I threw him the ball.", "ball" is erroneously identified as an xcomp of "threw" with "him" erroneously identified as the nsubj of ball.  "ball" should have been the dobj of "threw" and "him" should have been the "iobj" of "threw".

![i threw him the ball](https://user-images.githubusercontent.com/38922196/39970514-c7db514c-56ba-11e8-852f-f22a2d534190.jpg)

(photo from Stanford CoreNLP 3.9.1 wh

[2018-05-13 18:51] jnivre commented on #553
This is not a UD issue, it is an issue for the Stanford CoreNLP parser. I think you should contact the Stanford NLP team instead.

[2018-05-13 18:51] #553 closed, assigned to nobody

[2018-05-17 04:32] lingdoc commented on #448
Yes, that's how I'd analyze it. The second `u` in Khasi is required by the verb, though, whether or not there's a dislocated (preverbal) topic, which I think is what the OP was about - whether the immediately preverbal `u` should be marked as a verbal dependent. I'm fine with leaving all pronouns as `DET` and then subclassifying the Khasi preverbal subject pronouns on a language-specific basis, ma

[2018-05-20 01:36] manning commented on #308
Sorry everyone (but especial @jnivre) that it has taken me so long to look at this! But I have just read through it all. I think I'll have to use as my example for discussion:

This thread started with adjective constructions and then veered off into noun constructions. I think the recent messages have made it clear that these should be  treated separately, at least for practical reasons of what w

[2018-05-20 15:29] jnivre commented on #308
Thanks, @manning. So, in essence, you are making two proposals: (i) divide clauses into arguments and adjuncts, rather than core and oblique, and (ii) allow adjectives to take clause-level dependents in both attributive and predicative position.

I think (ii) is probably the right thing to do. It is more or less what we have converged on in practice, and it can definitely be seen as a specificatio

[2018-05-20 16:32] nschneid commented on #308
Interesting! It seems we have two ways of looking at the head-dependent relationship: what the head licenses, vs. what grammatical encoding the dependent has. Perhaps canonically, these will match: verbs often alternate between licensing an accusative non-prepositional nominal and licensing a clause with complement marking (*that* in English, *att* in Swedish?). But some verbs, like *litar*, licen

[2018-05-20 17:58] adam-przepiorkowski commented on #308
The relation between the core/non-core and argument/adjunct distinctions is discussed in the “Arguments and Adjuncts in Universal Dependencies” paper (by myself and Agnieszka Patejuk, the developers of a new UD treebank of Polish making heavy use of enhanced dependencies) to be presented at COLING 2018.  There we explicitly argue for the consistent application of the “no argument/adjunct” principl

[2018-05-20 18:35] nschneid commented on #308
@adam-przepiorkowski, the coordination examples are interesting. To clarify: with

* He told me an idea and that he thought it was viable. — NP+clause coordination
* He told me about an idea and that he thought it was viable. — PP+clause coordination (*He told me about that he thought it was viable.) [I'm avoiding "ask" because both "ask whether" and "ask about whether" are valid, so the constitue

[2018-05-20 18:56] nschneid commented on #308
Oh, I think I see—you're assuming that the coordinated material forms a phrase which has to be either core or non-core with respect to the verb? Because of the way UD handles coordination, the answer might be that the coreness of the phrase is determined by the first conjunct. Unless you're arguing that unlike phrase coordination is evidence that UD's approach to coordination should be overhauled.

[2018-05-20 19:47] adam-przepiorkowski commented on #308
Yes, we are assuming that we want to avoid the situation where one conjunct is classified as core and the other as non-core, as then it is not clear how to treat the whole coordinated dependent.  As to ‘inheriting’ from the first conjunct, Sag et al. 1985 (the classical “Coordination and How to Distinguish Categories”) give the following minimal pair:

• I didn't remember until it was too late Joh

[2018-05-20 20:00] amir-zeldes commented on #308
Hi all, thanks for the discussion! Just two thoughts from me:

1. about @jnivre 's example with 'litar på / litar på att': I think this is what we sign up for the moment we give up prepositional heads, and more specifically labels like Stanford's `pcomp`. The reason for this is not that the verb has two complementation structures, rather we can interpret it to say it takes the same complement in b

[2018-05-20 20:01] amir-zeldes commented on #308
I'm just seeing @adam-przepiorkowski 's last response: yes, exactly, so why enforce that both conjuncts must have the same coreness? I think that doesn't work out empirically, at least in corner cases.

I think the real way to solve it, if we have the resources, is using enhanced non-trees which mark the the second (or subsequent) conjuncts separately when needed.

[2018-05-21 12:41] LarsAhrenberg commented on #308
I'd like to disagree with @amir-zeldes in his suggestion that taking the preposition as head in the constructions 'litar på / litar på att' would help. Although there are many problems with the UD analysis of prepositions as consistent case markers, in these cases the verb is critical for the selection of complements. There are other verbs that select prepositions that don't take clausal complemen

[2018-05-21 13:20] adam-przepiorkowski commented on #308
@nschneid  and @amir-zeldes: Yes, an important assumption of the argument I gave is that coreness is a property of a whole dependent, so marking a part of it as core and another part as non-core is incoherent.  I can see now that this assumption is not necessarily universally accepted.  But if it is not, it is not clear (to me) that coreness means anything substantial in UD.

The difference betwee

[2018-05-21 14:17] sylvainkahane commented on #308
@adam-przepiorkowski: UD is an annotation scheme, not a linguistic model. And UD relations are not grammatical functions. I hope that nobody beleives that `nsubj` and `csubj` correspond to two different functions. In French, an `obj`, an `xcomp` and a `ccomp` can very often fill the same grammatical function:
[code]
Maybe it would be better to have developped an annotation scheme based on grammati

[2018-05-21 14:28] jnivre commented on #308
I think it is too strong to say that UD is not based on grammatical functions. It is rather based on grammatical functions cross-classified with structural properties of the head of dependent. This is what is meant by a "mixed structural-functional system" in the guidelines (http://universaldependencies.org/u/overview/syntax.html).

[2018-05-21 14:33] adam-przepiorkowski commented on #308
@sylvainkahane: Sure, but there is a connection between grammatical functions (in the linguistic sense) and UD's core/non-core distinction, isn't there?  Doesn't the sameness of grammatical functions imply the sameness of the core/non-core status?  If so, the reasoning is:
• conjuncts have the same grammatical function with respect to the governing head (common linguistic assumption)
• hence, they

[2018-05-21 14:39] amir-zeldes commented on #308
@LarsAhrenberg : you're right, certainly not all prepositions can take NP and CP complements freely, and this can be constrained by the verb. I'm also not advocating a return to `pcomp`, I'm just pointing out that in a pcomp analysis, the problem doesn't arise, since the verb governs the preposition as `prep` either way. I think `ccomp:obl` is an elegant solution, since it delineates the categorie

[2018-05-21 16:50] adam-przepiorkowski commented on #308
@amir-zeldes: I don't know about sylleptic zeugma :-), but in the case of “He washed his neck and behind his ears”, both conjuncts are best analysed as direct objects, I think.  Such PP direct objects and subjects are extensively discussed in Ewa Jaworska's 1986 Journal of Linguistics paper, where she gives examples such as the following (any many more, from English and Polish, mainly locative and

[2018-05-22 20:18] amir-zeldes commented on #308
I fully agree that 'behind his ears' can fulfill the same thematic role as a theme phrase, but I think most UD annotators would probably label "he washed behind the ears" as obl + case, not obj + case, if only for consistency in not having obj + case in English... Because basic UD is just a dependency graph, these phrasal 'double duty' considerations have to come up short on one end or the other.

[2018-05-27 03:22] manning commented on #308
I agree that the Swedish example cited by @jnivre 6 days before this comment is quite compelling for needing clausal obliques.  (This made me curious about what you do with these at the moment in the Swedish treebank – if I successfully managed with the Turku search tool and my non-existent Swedish, it seems that you label them as `advcl`. Right?)  So maybe it would indeed be better to rename `adv

[2018-05-27 14:14] jnivre commented on #308
Yes, we analyse them as advcl, because we essentially interpret advcl as cobl. I have a hard time making up my mind about this, because I do think advcl is a familiar and intuitive name for most people. On the other hand, if we really intend it to mean cobl, one could argue that the familiarity is misleading.

[2018-05-27 14:15] jnivre commented on #308
I completely agree that we don't want a three-way distinction core-oblique-adjunct for clauses as long as we don't have it for nominals.

[2018-05-29 04:20] nschneid commented on #308
This thread has gone on for long enough that I'm not sure where things stand anymore, but here's my current thinking:

I'm very happy with the core/oblique distinction as implemented for nominal dependents of verbs in English, because there's an easy rule: __if it has a preposition, it's oblique; otherwise it's core__. Rather than ask the annotators to think about the valency of the verb (which of

[2018-05-29 04:25] nschneid commented on #308
*__Logistical aside:__* Assuming that lots more discussion of these issues is needed, will enough people be attending NAACL or COLING that we can hold such a discussion in person? (I'll be at both.)

[2018-05-29 12:00] jnivre commented on #308
Just a quick note to say that @dan-zeman is visiting us in Uppsala this week and we are hoping to put together some kind of proposal about this. I think it will be roughly consistent with what you suggest (although it is important to also think about how it generalises to other languages).

Unfortunately, I won't be at either NAACL or COLING this year, only ACL and EMNLP.

[2018-05-29 14:12] amir-zeldes commented on #308
Yes, I also think either an in person meeting, or if need be maybe video chat could be useful here.

A few quick replies to the above:

  * @nschneid - I think the Swedish `att` problem applies to English cases like "we agreed on us ordering pizza" too, which I think is clearly an argument
  * Giving up `xcomp` : `advcl` - we currently maintain this distinction in the Stanford Dependencies of GUM

[2018-06-07 16:32] amir-zeldes opened #554 "Gender/number for 'double agreement' possessives"
Some languages, e.g. Coptic, German, have possessive determiners that mark both the gender/number of the possessor and the possessed. In German, for example, these currently take the gender (and number) of the possessed, just like articles (an example is below). Do we want a feature to encode the gender/number of the possessor as well?

[code]

("he just came with **his** instruments" - the posses

[2018-06-07 16:40] ftyers commented on #554
This is what subfeatures are for, e.g. `Number[psor]`, e.g. consider this example from German:
[code]
The `Gender` comes from the agreement, and the `Gender[psor]` comes from the possessor.  The example you give is from `UD_German-GSD`:

[code]

It seems that `-GSD` doesn't encode `psor`, but `-PUD` does. This should definitely be standardised (and I would say we should include the psor info).

[2018-06-07 18:31] amir-zeldes commented on #554
OK, great - I agree it should be standardized, and I can add it to the Coptic treebank. Is the notation with square brackets standardized somewhere? And the name 'psor'? I did't see this in the documentation for the gender feature etc.

[2018-06-07 18:35] amir-zeldes commented on #554
Just discovered this:

http://universaldependencies.org/u/overview/feat-layers.html

It seems to still be marked as udver1. If this standard is acceptable to everyone maybe we could link it more prominently, and also from the pages for Gender and Number?

[2018-06-07 18:47] jnivre commented on #554
Layered features are described briefly at http://universaldependencies.org/u/overview/morphology.html, so they are definitely part of v2. The other page needs to be updated, but I will leave this to Dan, who has a better overview of the documentation of features.

[2018-06-07 18:55] amir-zeldes commented on #554
OK perfect, thanks!

[2018-06-09 11:52] dan-zeman commented on #554
Reopening until I will have fixed the page.

[2018-06-13 18:55] dan-zeman commented on #554
I have modified the guidelines, layered features are now accessible from the main TOC. I have also verified that the page about layered features is v2-compliant. Closing the issue.

[2018-06-13 18:55] #554 closed, assigned to dan-zeman

[2018-06-14 12:36] msklvsk commented on #520
Let me change this from a question to a suggestion.

The current workflow is anti-github.
* Just recently, I found people using our treebank from master, stumbling upon errors we’ve already fixed in dev.
* Constantly, somebody is pushing to master, like yesterday: https://github.com/UniversalDependencies/UD_Japanese-GSD/pull/5.
* People also visit repo’s index, which is master, and expect it to sh

[2018-06-17 20:45] dan-zeman commented on #520
We did not come up with the current policy out of the blue. Unfortunately, there were already paper submissions presenting results obtained on a Github revision of a treebank, instead of a numbered release. The current policy is a reaction to that experience. UD treebanks are not used the same way as typical open software, so it should not be too surprising if the workflow differs from typical Git

[2018-06-18 13:42] jnivre commented on #520
I agree with Dan. While it may be unfortunate if our policy clashes with the expectations of github users, our use case is in many ways different from the standard one. And changing it now could potentially create total chaos, so we would have to think this through very carefully before doing anything like that.

[2018-06-27 21:50] msklvsk commented on #429
Even those three asterisks between sections…

\* * *

…are better be treated as `PUNCT` instead of `SYM`. It seems like everything that can be read out loud can have a real POS — the POS of the word you pronounce, and `PUNCT` covers everything else.
Still not convinced `SYM` is a thing.

[2018-07-09 12:25] dan-zeman opened #555 "Should we ban duplicite DEPS?"
As reported by @bguil in https://github.com/UniversalDependencies/UD_Dutch-Alpino/issues/2 (and also for other treebanks, e.g. UD_Polish-LFG), the enhanced dependencies in the DEPS column sometimes contain duplicite entries, i.e., there are two or more relations where both the parent index and the relation label are identical.

I think it is not explicitly mentioned as an error in the current guid

[2018-07-09 12:49] martinpopel commented on #555
I vote for banning these duplicates and extending the validator. Just to be sure: we will forbid just exact duplicates and we will allow cases where the two dependencies differ in sdeprel ("language-specific" subtype of dependency relation)?

[2018-07-09 12:52] dan-zeman commented on #555
@martinpopel : Yes, that's what I meant by saying "both the parent index and the relation label are identical" :-)

[2018-07-12 10:51] msklvsk opened #556 "Coordination between packs of uncoordinated modifiers"
_The square was filled with **French** and **old Italian** cars._

_French_ here is `conj` to _old Italian_ as a whole. What is the proper way annotate that? Currently we use `conj`(French, old) with `flat:conjpack`(old, Italian).

[2018-07-12 14:12] nschneid commented on #556
I guess another option would be to treat this as ellipsis: "The square was filled with French (CARS) and old Italian cars." "French" would be promoted to be the head of the first conjunct, giving `conj(French, cars)`, `amod(cars, old)`, `amod(cars, Italian)`.

Cf. "She saw three monkeys and he saw two".

[2018-07-13 15:42] msklvsk commented on #556
The problem with ellipsis is that _“old Italian”_ is perceived (at least in my mind) as a single unit, that is, conjoined are car ‘specifications’, like _“curly black or straight brown”_ can be used to describe someone’s hair preferences.

It happens quite often, especially in legal text with _“or other alike”_ endings e.g.:
_“…tests on animals related to surgical or other harmful effect”_.

Those

[2018-07-13 15:54] nschneid commented on #556
I don't have a strong opinion and will defer to others on this, but my hunch is that this is the sort of thing where dependency syntax has inherent limitations and we'll have to make compromises. (I feel that way about coordination generally!)

[2018-07-13 16:16] martinpopel commented on #556
I think this should be handled in enhanced deps rather than in basic deps, but I don't have an exact proposal now.

A side note: in "*curly black*" it is clear that *curly* depends on *black*. I can imagine "*old Italian*" meaning *old-Italian-style* with a non-compositional semantics (i.e. not every car which is old and Italian can be called "old-Italian-style car") and I am not sure how to annot

[2018-07-13 16:46] msklvsk commented on #556
Just found an example of packing unrelated to coordination! (Should be `flat:pack` after all?)

<img width="279" alt="image" src="https://user-images.githubusercontent.com/473012/42702851-649268b6-86d3-11e8-9242-53bde9a2ff2a.png">

_The-leaves [are] entire linear._

(_Entire_ and _linear_ are the terms for the form of leaf’s edge and body respectively and do not depend on each other.)

[2018-07-15 14:10] Ansa211 commented on #412
Some remarks on the current state of `newdoc` and `newpar` comments:

- the specification says that "It is not necessary that the first sentence of a CoNLL-U file has the `newdoc` comment (e.g. if the document is split between development and test data)." But in the following corpora, none of the files starts with a `newdoc`, which I believe should not be the case (the first newdoc in the corpus i

[2018-07-16 09:08] msklvsk opened #557 "Adverbish phrases with nominative nouns e.g. cheek to cheek"
How do you annotate _“We’re out together swinging **cheek to cheek**.”_?

[2018-07-16 09:22] dan-zeman commented on #557
Noun phrases that function as adverbial modifiers are attached as `obl`, no?

[2018-07-16 10:11] msklvsk commented on #557
Just checking if `Case=Nom` won’t be a problem for `obl`. Also it feels like cheeks are modifying some elided verb in parallel, therefore I’m not sure if it’s `nmod`(_cheek_, _cheek_).

I should have asked about _“The children tease **one**.Nom **another**.Acc”_ first. Each TB does it differently.

[2018-07-16 14:58] nschneid commented on #557
At first I thought "cheek to cheek" might be a secondary depictive, and thus `acl`. But I suspect it's more of a manner adverbial. As noted on the `advmod` page: "We differentiate adverbials realized as adverbs (`advmod`) and adverbials realized by noun phrases or adpositional phrases (`obl`)." Is it a noun phrase, though? Feels more like a compound adjective or adverb to me.

For "each other" and

[2018-07-16 23:59] jnivre commented on #557
I agree it is adverbial. Historically, I think it is a clausal absolutive construction. Compare "dancing cheek to cheek" to "entering cap in hand", for example. Synchronically, however, I think the best solution is to simply use "obl", even though "cheek to cheek" is not a prototypical noun phrase.

[2018-07-17 22:21] msklvsk commented on #533
…but why? What is the reason to reject such valuable info? We can explicitly mark the elision type in `MISC` if it can’t be derived. Having the same issue as Lauma.

[2018-07-18 00:05] jnivre commented on #533
In order to fulfil its practical purposes, UD needs to be suitable for rapid consistent annotation as well as computer parsing with high accuracy. It also needs to be understandable to people without deep knowledge in linguistics. If we try to capture too many details in the annotation, it will become unusable in these respects. Exactly where to draw the line can of course be discussed, but regard

[2018-07-18 00:21] msklvsk commented on #533
I’m familiar with the law. To me it’s just a weird place to draw the line. There already is an infrastructure for null nodes: the format, annotation and visualization tools, but now we refuse to use it for nominal ellipsis, which shouldn’t be more complex than predicates. Not sure where it contradicts the law.

**upd**
I can easily imagine arguments you provide in [Sentences with Gapping: […]](htt

[2018-07-18 00:40] jnivre commented on #533
The current policy is to keep the use of the orphan relation (and null nodes in enhanced) to an absolute minimum. Therefore, we limit their use to structures involving predicates and core arguments. This is admittedly somewhat arbitrary, but we think it is a good place to draw the line in order to promote consistency across languages and treebanks.

[2018-07-18 01:33] msklvsk commented on #557
Still have some doubts about reciprocal example. Let’s take Russian for clarity, where it’s represented by nouns and you can’t analyze in EWT way.
_They love each other_
would be
_They love **friend**.Nom **friend**.Acc_.
Still `obl`(_love_, _friend.Nom_), `nmod`(_friend_, _friend.Acc_)?

[2018-07-18 07:25] dan-zeman commented on #557
I think the accusative _friend_ should be `obj` of _love_. It is an analogy of other expressions of reciprocality, such as with reflexives in some languages (_They love themselves_). I am unsure about the nominative _friend_. Using `det` as with the English _each other_ would be inappropriate. Besides, the nominative friend is not really modifying the accusative friend. It is closer to the actor r

[2018-07-18 12:14] sylvainkahane commented on #557
I think that the second noun must be the head in all these constructions (cheek to cheek, cap in hand, drug druga) because the first noun functions as a kind of "subject" of the second noun. In some example it is possible to gloss the construction with a clause by adding 'being'  (_cap in hand_ = 'her cap being in her hand'). It could even be conceivable to use the relation `nsubj`between them, ev

[2018-07-18 12:59] dan-zeman commented on #557
@sylvainkahane : The first noun is not a subject of the second noun and the second noun is not a predicate, unless it is a copula-like clause (imagine a "=" sign), which it isn't. We would have to imagine an elided verb, as @msklvsk initially suggested. But then the nominative noun would be the head and the accusative noun (in case of _drug druga_) would be attached to it as `orphan`.

[2018-07-19 23:13] amir-zeldes commented on #557
I'm not saying this is a good analysis of "drug druga" (which is highly lexicalized and functional), but for the 'cheek to cheek' case I do see @sylvainkahane 's point: if it's `obl` headed by the first, then that makes it sound like there is an NP "cheek to cheek". From a literal/etymological point of view, that is not the case IMO.

Essentially I agree it is a secondary, verbless predication: (o

[2018-07-19 23:16] jnivre commented on #557
This is what I meant by saying that it is a clausal absolutive construction. These used to be called "ablativus absolutus" in Latin, because they take ablative case there.

[2018-07-22 22:25] msklvsk opened #558 "Encoding predication for ADV predicates with dropped subject"
Consider Ukrainian “_Там добре._” or Polish “_Tam jest dobrze._” — ”_It’s good there._“
[code]

Is it `nsubj`(_dobre_, _tam_)?

[2018-07-23 06:29] ftyers commented on #558
How about:
[code]

Can you do something like "там все добро" ? Would you consider that the same structure ?

[2018-07-23 08:09] dan-zeman commented on #558
I tend to agree with @ftyers. It is nonverbal predication (even including a copula in the past tense or in related languages). Out of the two adverbs, _добре_ “well” seems to be the predicate here. But the other adverb is not the subject. To me it looks like an impersonal, subjectless clause (with the default 3rd person neuter singular agreement, if the copula is used). Therefore, _там_ “there” sh

[2018-07-23 10:24] msklvsk commented on #558
Agreed, I’m just struggling to encode the predication. Now I realize it’s OK to give up trying to do that in the basic representation and the only way is to add null nodes, correct? We can do _там все добре_ or use a “dative subject” (#248) _там всім.Dat добре_.

[2018-07-23 10:52] dan-zeman commented on #558
What do you mean by “encoding the predication”? The predicate is there, and it is the root node, as predicates often are. It has no arguments. The current enhanced guidelines introduce null nodes only in contexts different from this one, but even if it was possible to add a null node, what purpose would it serve?

[2018-07-23 11:33] msklvsk commented on #558
I mean where is the distinction between _“there good”_ and _“very good”_? There’s no predication in _“very good”_, it’s just an adverbial phrase like _“a blue sky”_ is a noun phrase, while _“there good”_ is a complete sentence. Are you saying there should be no explicit encoding of that at UD level?

[2018-07-23 12:35] msklvsk opened #559 "Elided existential predicates"
Consider the following example from a weather report (ukr).
[code]
This is not the _“she is in the kitchen“_ type of predication, rather the verb for existence (_is_, _lies_) is omitted. That would make its subject, _ice-crust_, _ожеледиця_, the root. Now does this mean `orphan`(_ожеледиця_, _дорогах_)?

These constructions are quite frequent and often there are many adjuncts to become orphans.

N

[2018-07-23 13:14] ftyers commented on #559
If this isn't the equivalent of _ожеледиця — на дорогах_, which would be:
[code]

Is this like a "shipping forecast"[1] / "list" construction ? Could you have a copula verb there in the past?(if so the "на дорогах" is already the predicate)

1. https://en.wikipedia.org/wiki/Shipping_Forecast#Broadcast_format

[2018-07-23 13:18] dan-zeman commented on #558
It is distinguished by the attachment of _добре / dobre_ “well”. If its deprel is `root`, `ccomp`, `csubj` etc., we can assume that it is a predicate because it heads a clause. If its deprel is `advmod`, we know that it is just an adverbial phrase.

We have the same thing with adjectives: in _добре скоординований механізм / dobre skoordynovanyj mechanizm_ “well coordinated mechanism”, we will have

[2018-07-23 13:46] dan-zeman commented on #559
I suppose that the past tense of the existential sense would be

_На дорогах була ожеледиця. / Na dorohach bula oželedycja._ = “There was ice crust on the roads.”

and the past tense of the locative sense would be

_Ожеледиця була на дорогах. / Oželedycja bula na dorohach._ = “The ice crust was on the roads.”

I would argue that the difference between the two sentences is only pragmatic (unlike in

[2018-07-23 13:55] ftyers commented on #559
@dan-zeman that would be my suggestion too, and follows how it works in Russian.

[2018-07-23 14:03] sylvainkahane commented on #559
In weather forecasts, it is very common to have nominal sentences. For instance in French, to have something like:

[code]
It doesn't really make sense to test the past tense for a weather forecast. I have no intuition concerning Russian, but I wouldn't be surprised that nominal sentences are also frequent in weather forecasts in Russian. If this is the case, 'ice crust' would be the root and 'on

[2018-07-23 14:16] dan-zeman commented on #559
@sylvainkahane : I think that the difference from French is that in Russian (and, I suppose, Ukrainian too), this is not some special case of  weather forecasts. The language works this way in other contexts too (_there is food in the fridge_ vs. _the food is in the fridge_).

(And I don't see anything nonsensical about converting a weather forecast to the past tense. For example, one can ask whet

[2018-07-23 14:21] msklvsk commented on #559
In the past tense, you must add a verb indeed, only it would not be copular, but existential, I believe. It is more natural to use _lay_, but you can use _was_ as well:
_На дорогах **була** ожеледиця._ — and I would analyze it as `nsubj`(_була_, _ожеледиця_).

This isn’t an extremely condensed sentence, and this phenomenon is widespread, not exclusive to forecasts (thanks @ftyers for an interestin

[2018-07-23 14:36] dan-zeman commented on #559
@msklvsk :

In languages with a fixed word order (English) it does, because word order is part of the syntax. For example, people might question whether _food_ is `nsubj` in _there is food in the fridge_, because subjects are supposed to precede the verb in English declarative sentences.

But as far as I know, in Slavic languages the word order is pragmatic rather than syntactic. Not entirely, bec

[2018-07-23 14:36] sylvainkahane commented on #559
@dan-zeman I know that the copula is absent in Russian in the present tense and for this reason it is much more difficult in Russian to decide whether nominal sentences exist or not in weather forecasts. Nevertheless, it is possible to construct examples where a copula would be quite inappropriate. Something like: 'Ice crust in the morning and heavy rain in the afternoon. No wind. Sun sporadically

[2018-07-23 14:47] msklvsk commented on #559
uk | tense | to-be | sense | en
---------|----------|---------|---------|---------
 На дорогах **є** ожеледиця. | present | optional | existential | There is ice crust on the roads.
 На дорогах ожеледиця. | present | dropped | existential | There is ice crust on the roads.
 На дорогах **була** ожеледиця. | past | mandatory | existential | There was ice crust on the roads.
 Ожеледиця **—** на дорог

[2018-07-23 14:57] dan-zeman commented on #559
So I suppose the question is whether the difference between _є_ and other forms of _бути_ is enough to distinguish copulative and existential _to be_ according to [the guidelines](http://universaldependencies.org/u/overview/simple-syntax.html#nonverbal-clauses): “If there is an overt word used in existential constructions (category 6), which is different from the copula in equational constructions

[2018-07-23 15:34] msklvsk commented on #559
In this issue, I'm pointing out that present tense existential to-be-s (which are currently allowed in UD) are often dropped in some Slavic languages.

The distinction between existential and locational senses is clear without a context in most cases (drop or no drop), and, most importantly, it's parser-trainable.

If we don't treat dropped to-be existentials as elided roots, we create an asymmetr

[2018-07-23 16:52] dan-zeman commented on #559
I would be in favor of not distinguishing existence from location, that is, I would treat all occurrences of Slavic _to be_ as either `cop` or `aux`.

[2018-07-23 17:51] msklvsk commented on #559
I would argue for the opposite. This is a valuable distinction and is very much encoded in language. How about a test: we create a task-specific dataset of sentences by marking sentences in the existing data and annotating new ones if required. We then train one of the shared task winning parsers and measure how accurately can it distinguish existentials vs locationals. Is there an accuracy percen

[2018-07-23 20:46] dan-zeman commented on #559
One reason why my preference is with not distinguishing the usages is that I'd like to avoid the asymmetry. (And orphans too.)

As for the definition what is syntax: I don't think there is a single and clearcut definition. But I never thought of syntax as everything that can be predicted by a software tool. Even if that tool has "parser" in its name.

Technically, the distinction can be made of co

[2018-07-25 17:14] GPPassos opened #560 "Ellipsis in clauses and confusion with copula"
Currently in [the documentation on ellipsis in clauses](http://universaldependencies.org/u/overview/specific-syntax.html#ellipsis-in-clauses), it is said that

The example is the following:
[code]

However, we now have a specific order for promoting dependents:

Even disregarding `orphan` analysis, this confusion with copula is now impossible, because an `obj` would never be promoted if a `nsubj`

[2018-07-25 18:53] GPPassos opened #561 "Doubt on propagation of conjuncts in Enhanced Dependencies"
The documentation of enhanced dependencies presents 3 cases: conjoined verbs and verb phrases, conjoined subjects and objects, and conjoined modifiers.

Does it mean that only these 3 cases are allowed (so, for instance, it would be forbidden to propagate an `amod` to two conjoined nominals in "_young boys and girls_", or the dependency relation in conjoined function words) or are these 3 cases me

[2018-07-25 20:31] dan-zeman commented on #560
The promotion hierarchy has been introduced as part of the `orphan` analysis. If you disregard `orphan`, you should disregard the hierarchy too. The main point is that nsubj(coffee, you) in that example is unnatural beyond the extent we are willing to tollerate. It is irrelevant which nominal you decide to promote: obj(you, coffee) is as unnatural.

I am quite fine with the example that is there n

[2018-07-25 20:34] dan-zeman commented on #561
We do not have examples with all parts of speech but coordination can apply to all parts of speech, and so does propagation of conjuncts.

[2018-07-26 20:17] GPPassos commented on #561
Thanks! May I submit a PR making this explicit?

[2018-07-26 20:20] GPPassos commented on #560
I see. I thought the example a bit misleading as `nsubj(coffee, you)` is not the only alternative for promoting without the `orphan` relation (it is actually the worst alternative possible, due to copula).

I agree that `obj(you,coffee)` appearing first would make it clearer. Perhaps it is just a matter of adding it and slightly changing the wording.

[2018-07-27 18:01] dan-zeman commented on #560
Okay, what about this.
http://universaldependencies.org/u/overview/specific-syntax.html#ellipsis-in-clauses

[2018-07-27 18:02] dan-zeman commented on #561
Yes, please do.

[2018-07-28 16:33] msklvsk commented on #561
By the way, conjoined modifiers are the most tedious part to implement enhanced dependencies for. If conjuncts are heterogeneous (e.g. adjectives mixed with noun phrases and/or clauses), you have to predict their relation, and there are dozens of combinations. Maybe it’s also worth to mention explicitly in the docs (that you have to predict).

[2018-08-01 07:56] fredrijo opened #562 "Adding Named Entity annotations"
The [Norwegian Bokmål part of UD](https://github.com/UniversalDependencies/UD_Norwegian-Bokmaal) is based on [Norwegian Dependency Treebank (NDT)](https://www.nb.no/sprakbanken/show?serial=sbr-10). NDT has now been extended with named entity annotations, and is going to be redistributed with these annotations in addition to the linguistic (syntactic and morphological) annotations.

We are interest

[2018-08-01 08:05] jnivre commented on #562
Adding more annotation layers to UD treebank is of course always welcome, since it makes the treebanks more useful. However, it is still not clear to me what is the best way to do this in practice. If the information is going to be added to the CoNLL-U files, then the MISC field is the only possibility, and it would of course be preferable if this could be done in a uniform way across treebanks, b

[2018-08-01 08:23] fredrijo commented on #562
Thank you for the answer. Treating multiword expressions and named entities in a uniform manner makes a lot of sense! I will await your decision on the standoff format then.

[2018-08-01 17:52] amir-zeldes commented on #562
One way of including this information would be to use a similar convention to WebAnno TSV:

[code]

Only multitoken spans get a span ID in WebAnno TSV, but one could assign it to all entity annotationns for consistency. Using the MISC field one could write:

[code]

We have complete entity type information (including named, non-named and pronoun mentions) for UD_English-GUM as well, which we would

[2018-08-01 20:27] savary commented on #562
The definition of a **beta** version of the standoff format, mentioned by Joakim, can be found [here](http://multiword.sourceforge.net/cupt-format/). Note that this definition includes:

- a meta format, described in the "Extended CoNLL-U format" section; it allows any initiative (like PARSEME) to add extra columns to conllu
- an instantiation (called .cupt) of this meta-format for multiword expre

[2018-08-04 01:00] arademaker commented on #562
Hi @amir-zeldes, regarding your suggestion https://github.com/UniversalDependencies/docs/issues/562#issuecomment-409663431,  why do we need to type all tokens? Why not only the head of the entity?

[2018-08-04 06:56] foxik commented on #562
In a project here in Prague, where we annotated NEs and annotated NE linking, and we ended up using sentence-level comments to embedd information in JSON format. We also used document-level comments which linked all NEs in the document. Our goal was compatibility with CoNLL-U format (so that the documents themselves can be processed by any CoNLL-U compatible tool), while allowing very general exte

[2018-08-04 06:58] amir-zeldes commented on #562
Hi all - @savary I don't mean to propose a new format if one is already established, I'm also happy to use whatever else is agreed on. Just suggesting that there are already some representations of spans in a CoNLL-U-like format that could be reused for this.

@arademaker - marking the head is not sufficient for at least two main reasons:

1. The exact extent of the entity annotation is not necess

[2018-08-04 07:04] amir-zeldes commented on #562
Just seeing @foxik 's post - for completeness I should say that we also have a different working solution at the moment. We have parallel WebAnno files next to the CoNLL-U syntax files, and both have the same tokenization so it's easy to merge. We didn't consider putting entities directly into the CoNLL files since we also have coreference for these entities, and we're already annotating them in W

[2018-08-15 12:59] pnugues opened #563 "UD web should warn about treebanks that are not yet / no longer part of the official release"
I just downloaded version 2.2 of the treebanks. Apparently, the French treebank (French-FTB) is missing from it. Is this normal?

[2018-08-15 13:12] jnivre commented on #563
Hi Pierre! It depends on what you mean. We are not allowed to distribute the original text of the FTB, but if you have a license for the treebank you can merge the UD annotations with the original text (for more information, see https://github.com/UniversalDependencies/UD_French-FTB/blob/master/README.md). Or are you saying that the annotations are missing as well? If so, this is a mistake. The FT

[2018-08-15 13:18] dan-zeman commented on #563
Hi, ud 2.2 validation is stricter than 2.1 and ftb is no longer valid. It may be reintroduced in future if the bugs are fixed.

[2018-08-15 13:21] jnivre commented on #563
Ah, I should have thought of that. Thanks!

[2018-08-15 13:23] pnugues commented on #563
Hello Joakim,
I meant, it was not included in the official release. See here: https://lindat.mff.cuni.cz/repository/xmlui/handle/11234/1-2837 and download the files to check it.

@dan-zeman If the validation rejected it, then the UD main page listing the corpora should be updated to reflect this. By the way, are there other corpora missing due to validation failures?

[2018-08-15 13:47] jnivre commented on #563
I agree it should be reflected on the main page, but it currently isn't. There are even treebanks that have never been ported from v1 that are still listed (like the English-ESL and the Swedish Sign Language treebanks). It seems appropriate to add an attribute to the treebank row (as opposed to the language row) in the at-a-glance table indicating the latest version in which it was part of the rel

[2018-08-15 14:06] dseddah commented on #563
Hi Pierre,
sorry for not including the UD_FTB in the 2.2 release but as it turned out, the new validator rejected this treebank because of 200 dependency annotation mismatches (200 out of 600k, 0.03% errors,  mostly left-to-right errors for conj and some fixed). As this treebank comes from a huge data-driven conversion process and because there were so few errors, we didn't want to correct them by

[2018-08-15 15:53] pnugues commented on #563
Hello Djamé,
Yes I have it, but I was very close to replace (and erase) the old versions of all the universal dependencies treebanks with the new ones. I will wait for the next release.

[2018-08-18 21:15] msklvsk commented on #533
(Just leaving it here.)

_The-export of-goods from Northern region increased by 125%, from-Western — by 83%, …_

Both the predicate _(increased)_ and the subject _(the-export)_ are elided. If we allow to reconstruct only predicates, we have `nsubj`(_[increased]_, _Western_) — bad for NLU, which was the main point for reconstruction.

[2018-08-20 20:48] msklvsk commented on #558
I wish it was the same thing as adjectives. You have `amod`(`NOUN`, `ADJ`) vs `nsubj`(`ADJ`, `NOUN`) — the exact encoding of a phrase vs predication. No such thing for _там добре_.

Relying on the attachment is a hack and doesn’t always work e.g. not all `root`s are predicated and `ccomp` can be buried by `conj`. If phantom _it_ is not an option, maybe a lang-specific morpho feature is, saying “th

[2018-08-23 21:26] vaporizedcamel opened #564 "How should we treat akkadian determinatives?"
Note: Question was originally asked in the email conversation with Dan Zeman

I would like to ask for an advice on the clf dependency. In Akkadian there are plenty of what assyriologists call determinatives. It would be the best to cite Huehnergard (2011) to make the case clear:

"_Some signs, again physically indistinguishable from syllable signs, are used as graphic indicators of the class of ob

[2018-08-24 08:02] dan-zeman commented on #564
Here is a copy of my e-mail reply; hopefully we get opinions of other people here :-)

I suspect that determinatives may be different from classifiers used in Chinese and other languages, although they share the trait that they semantically categorize the neighboring noun. Is it correct to assume that they are just part of the writing system? That is, if you were sitting in Babylon and hearing the

[2018-08-24 08:31] sylvainkahane commented on #564
I agree with @dan-zeman that it can be the simplest solution.
But if you want to describe the writing system and you consider that these constructions are compositional in this system, it is justified to treat determinatives as a separate nodes. I think that determinatives belong to a distributional class different from NOUN. If you do not have use DET for something else in Akkadian, you could use

[2018-08-25 18:51] vaporizedcamel commented on #564
Thank you for your answers, I will follow your advice and merge determinatives with neighbouring nouns.

[2018-09-07 12:37] msklvsk opened #565 "Enhanced Dependencies for ADV relativizers"
_the episode where Ross and Rachel take a break_

1. Is it still an `acl:relcl`(_episode_, _take_)?
1. If it is, is there a `ref`(_episode_, _where_)?
1. If it is, is there a backward `obl`(_take_, _episode_)?

[2018-09-09 10:46] msklvsk opened #566 "The purpose of adding prepositions to the relation name"
In [Enhanced Dependencies](http://universaldependencies.org/u/overview/enhanced-syntax.html), null nodes, propagation of conjuncts, `xcomp`’s subjects, `:relcl` coreference — all bring new information to the table and cannot be reliably generated without a human involved. Preposition marking, however, seems to only duplicate the existing information. If your application relies on case marking enco

[2018-09-09 16:18] msklvsk opened #567 "A ready to jump cat — nsubj:xsubj(jump, cat)?"
If we have an `nsubj:xsubj` in
<img width="288" alt="image" src="https://user-images.githubusercontent.com/473012/45266376-f8dfa080-b462-11e8-8de9-e362f70651e1.png">
[`to < (VERB <xcomp ADJ)`](http://bionlp-www.utu.fi/dep_search/query?search=to%20%3C%20%28VERB%20%3Cxcomp%20ADJ%29&db=UD_English-EWT-dev&case_sensitive=True&hits_per_page=10)

…should we have `nsubj:xsubj`(_hit_, _agents_) here?
<img

[2018-09-09 19:02] msklvsk opened #568 "How far should we reach for controlled subjects?"
<img width="297" alt="image" src="https://user-images.githubusercontent.com/473012/45263845-37149a00-b43a-11e8-997d-e5c13a245c94.png">

Everything is nice in a _Mary wants to buy a book_ example, which is more often the case in the wild.
However, sometimes the subject may reside in a higher-level clause. (Examples are translations from Slavic.):

`advcl`, converb phrase
_**They** yelled, trying **

[2018-09-15 20:23] msklvsk opened #569 "Pipe (bar) character (“|”) in MISC values"
The [guidelines](http://universaldependencies.org/format.html#miscellaneous) say `MISC` field

What if a value in `MISC` contains the bar character? Like `LTranslit=||Translit=|`.

[2018-09-15 20:34] foxik commented on #569
I believe the guidelines are unambiguous -- all bar characters are split points.

In UDPipe, we perform an internal escape mechanism to allow bars as values when needed (if you want details, we use c-string-like formatting, where `\p` is a bar character [pipe], `\n` newline, `\s` space, etc, `\\` is a backslash).

[2018-09-15 20:36] dan-zeman commented on #569
Then I'm afraid some kind of escaping is necessary. In case of `LTranslit` and `Translit`, it might be sensible to simply omit the features (provided they're just copies of LEMMA and FORM, not really transliterations of some non-Latin character). But I have to admit that my own code does not handle such cases correctly.

[2018-09-15 20:49] msklvsk commented on #569
I guess I’ll omit the translit for “|” for time being, leaving it as a surprise for downstream applications.
No real solution without an escaping standart which is inevitable for any such format.

[2018-09-15 22:02] nschneid opened #570 "Directional particle/adverb + spatial PP"
In English-EWT, there is an inconsistency for phrases like "go **back to** the city" and "drive **down from** the city", with a spatial adverb/particle followed by a spatial preposition. Sometimes the adverb/particle ("back", "down", "away", "out", tagged as `ADV`) is treated as the head of the subsequent PP, and in other cases they are sisters.

For example:

* [down/ADV heading PP](http://bionlp

[2018-09-15 23:35] nschneid commented on #570
Another consideration is that the particle + PP combination can be a predicate complement: "He is back from the trip."

I guess the possible analyses are (a) make "back" the head of "from the trip", (b) make "trip" the head of both "back" and "from", (c) make "from" the head of "back", or (d) treat this as one of the exceptional uses of the copula where it is the head of the clause, so both "back"

[2018-09-16 00:42] amir-zeldes commented on #569
Another option is to allow XML-style Unicode escapes, i.e. `| == &#124;`

[2018-09-16 00:44] amir-zeldes commented on #570
+1 for sisters in the first batch. For 'he's back from the trip' I'd say 'back' is the head, since we can't say 'he's from the trip'. If this is accepted I'd say 'from the trip' modifies 'back' (otherwise the analysis is not analogous to 'he's back', which I would think is desirable).

[2018-09-17 09:59] dan-zeman commented on #562
See http://universaldependencies.org/ext-format.html for the specification of the CoNLL-U Plus file format.

[2018-09-17 15:05] gcelano commented on #562
I think that the approach of keeping the original text separate from any other kind of annotation and reference to the original text via offsets even for sentence split and tokenization is the most/only scalable approach. Sentence split and tokenization are of course kinds of annotation, and one should consider that different segmentations may be needed.

One can think of different serializations

[2018-09-18 17:12] arademaker commented on #562
This thread started asking for named entities annotation but in the http://universaldependencies.org/ext-format.html link, I found only references to PARSEME schema for VMWE.  The IOB2 mentioned by @fredrijo has some variations, so what people. believe should be the best schema for named entities in the CoNLL-U Plus file?

[2018-09-18 18:33] amir-zeldes commented on #562
I've already pointed out WebAnno format as a candidate for a stand-alone format above, but if this is still an open discussion, another candidate to throw into the mix is to just use the MISC column with entity type brackets within the present CoNLL-U format.

This can also be complemented by coref IDs as used by the CoNLL-coref scorer, like so:

[code]

[2018-09-27 15:34] pebbe opened #571 "New tool for viewing CoNLL-U"
There is a new web-based tool for viewing Universal Dependencies.

Live site: http://www.let.rug.nl/kleiweg/conllu/

Sources available here: https://github.com/rug-compling/conllu-viewer

[2018-10-03 12:51] mcolburn opened #575 "Question: How to handle scansions in UD?"
I am using UD to annotate some Christian hymns from the 8th century, written in Greek.  These hymns were (and still are) chanted. The earliest known manuscript uses non-terminal punctuation marks as scansions.  A scansion marks the boundary between metrical units.   They are not grammatical.  That is, the scansions do not necessarily coincide with the boundary of syntactic units (phrases or clause

[2018-10-03 13:59] amir-zeldes commented on #575
We sometimes have things like that in UD_Coptic, and we're never sure if they're real 'punctuation', or 'breathing pause marks' or something else, so we just make them PUNCT and use the udapi punctuation attachment guidelines. In fact, annotators don't do anything with them manually: anything tagged PUNCT is auto-attached at the end.

[2018-10-03 14:00] mcolburn commented on #575
Interesting!  Do you attach them to the word they follow or the word that follows them?

[2018-10-03 14:03] amir-zeldes commented on #575
We use the general UD punctuation guidelines (or better to say, udapi does), so this is what we aim to produce: http://universaldependencies.org/u/dep/punct.html

In other words, if this thing happens to appear in the middle of a coordination, it acts like comma punctuation inside coordinate phrases, if it appears at clause level, attach to clause root, etc.

[2018-10-03 14:27] kajad commented on #575
We used the same PUNCT/punct principle in the Spoken Slovenian Treebank for the annotation of non-lexical tokens, such as markers of pause, laughter, yawning etc.

[2018-10-03 21:23] sylvainkahane commented on #575
For UD_Naija, which is a spoken corpus, we have both syntactic and prosodic tags in our transcription and we treat both as PUNCT. It doesn't cause any problem.

Btw, @mcolburn it is far to be clear that ponctuation in written texts is only syntactic. Many writers have an expressive ponctuation, which can be view as a transcription of prosodic breaks.

[2018-10-04 12:29] mcolburn commented on #575
Thank you all for your interesting and useful comments!  The consensus seems to be to use PUNCT as both the POS and Syntactic tag.  And, that is what I will do.

[2018-10-04 12:29] #575 closed, assigned to nobody

[2018-10-14 18:47] vaporizedcamel opened #577 "Problem with validation script/regex module"
Dear All,

As I'm fixing the issues in the Akkadian treebank, it would be convenient for me to validate the file on my own to hunt for all of the invalid lines. But for some reason I can't get to work the regex module in python 2.7 to run the script properly. I've tried some workarounds - including implementing the regex module from the python wheel, but the validate.py script is not running in an

[2018-10-14 18:55] #564 closed, assigned to nobody

[2018-10-15 13:52] msklvsk opened #578 "Demonstrative ADVs doubling for advcl: chained or parallel?"
[code]

Is it `advcl`(_so_, _possible_) or `advcl`(_designed_, _possible_)?

On one hand, we connect _as_ parallel to `advcl` in comparatives:

<img width="386" alt="image" src="https://user-images.githubusercontent.com/473012/46952196-d9a3e680-d092-11e8-8a23-0a909fe23fb7.png">

But on the other, we chain here:

<img width="412" alt="image" src="https://user-images.githubusercontent.com/473012/469

[2018-10-16 15:23] jnivre commented on #266
Fixed in 2.3.

[2018-10-16 15:23] #266 closed, assigned to jnivre

[2018-10-17 09:08] dan-zeman commented on #577
I am no expert in Python but this sounds to me as a problem that is specific to the communication between your computer and the server with Python modules, not to Python as such or to the validation script.

The regex module should be needed only to check the DEPS column, so if you have always an underscore there, and if you cannot make the standard validation script work, you should be able to ru

[2018-10-18 10:56] GuestMaru opened #579 "Korean particles vs. Japanese particles annotations"
Dear all,

first of all, thank you for your time and attention.

We are attempting to label a small Korean language corpus with POS tags.

We were looking into the Kaist database to have a standard reference, but we discovered that particles aren't getting directly tokenized. In the example below, the direct object particle (를) appears attached to the adjacent noun, and the resulting label is thus

[2018-10-18 11:27] dan-zeman commented on #579
I think the question boils down to word segmentation because if it is a separate word, it is natural to tag it `ADP` in UD, and if it is kept together with the noun, then the overall tag is of course `NOUN` but the particle is taken as a case suffix and contributes the morphological feature `Case=Acc`.

Whether or not to cut it off is a different (and difficult) question. Japanese is different bec

[2018-10-18 12:10] kanayamah commented on #579
@GuestMaru, We made a lot of discussion about the Japanese word units, and concluded that we should adopt the Japanese traditional word units because the _bunsetsu_ (correspond to Korean _eojeol_) is too big as a unit of word and it may suffer other tasks (_e.g._ dependency parsing and word embeddings).  As @dan-zeman pointed out, we do that because we don't rely on white space.  I know it is diff

[2018-10-18 13:21] amir-zeldes commented on #579
Disregarding the issue of spaces in the orthography, I think it's important that in Japanese the object marker can often be dropped (esp. in informal language), whereas the prototypical idea of case marking languages is that case is a mandatory inflection which must be marked on e.g. all accusative nouns (notwithstanding syncretism). For me this is another argument supporting the traditional small

[2018-10-20 00:57] vaporizedcamel commented on #577
Thank you for your answer. Although I couldn't get the script to work, I circumvented the problem by refreshing the validation provided online. As much as it wasn't efficient, I fixed the issues.

One last question about the validation:

What should be inserted as the line terminator at the end of the document? (I'm working on Windows, so that might be a problem)

[2018-10-20 07:39] martinpopel commented on #577
Windows usually use CRLF terminators by default, but most text editors and most [programming languages](https://stackoverflow.com/questions/2536545/how-to-write-unix-end-of-line-characters-in-windows-using-python) allow to use LF line terminators.

[2018-10-20 08:24] bulbulistan commented on #577
That’s not it, my files are CRLF and everything works fine.
I bet the actual problem is the extra file, fix that, the other one will go
away.

El ds, 20 oct 2018 a les 9:40 Martin Popel <notifications@github.com> va
escriure:

[2018-10-20 09:13] dan-zeman commented on #577
@bulbulistan : If you use CRLF in your editor, it can still work fine if your git client converts it to LF when uploading the files. Some clients are configured to work that way by default. Anyways, CRLF really is illegal in CoNLL-U files.

@vaporizedcamel : I have fixed the file for you. (FYI: I did it on Windows, too. I use "Notepad2" which allows you to switch between CRLF and LF.)

Congratulat

[2018-10-20 09:16] #577 closed, assigned to nobody

[2018-10-23 01:22] murawaki commented on #579
I did survey the definition of word. I submitted a review paper to UDW18 but it was rejected.

I don't fully support the current word segmentation criteria of UD Japanese, but as for Japanese particles like を (accusative), they are right. を is a clitic and thus should be treated as a word. Japanese particles are characterized by a high degree of interruptibility and non-selectivity. Take
男 を
man =

[2018-10-26 13:50] msklvsk commented on #119
If I still want to differentiate `nsubj:x`/`csubj:x`, `nsubj:sp` for secondary predication, and `nsubj:rel` for relative clauses, where should I add the documentation for these relations? Is putting it alongside basic subtypes fine? e.g. `docs/uk/dep/nsubj-x.html`.

[2018-10-26 15:15] dan-zeman commented on #119
I guess file-wise it is fine. But links to these files should lead from a separate section that is just about enhanced dependencies and makes it clear that these extensions are not used in basic dependencies, otherwise it may be confusing.

[2018-10-31 03:54] rafael75012 opened #580 "Absolute construction"
I wondered which relation to choose for the annotation of absolute construction.

I guess when it refers to the general situation in which the action takes place we could use `obl`
_The referee having finally arrived, the game began._

And when it refers to one of the argument of the verb, we could use `acl`?
_Hands in his pockets, he roams his city._

[2018-10-31 14:38] dan-zeman commented on #580
So what words would be connected by the `obl` relation? Isn't _arrived_ the head of the dependent phrase? Then I think it is an adverbial clause and the relation is

advcl(began, arrived)

[2018-10-31 14:56] rafael75012 commented on #580
The head would be "referee", governing "having" with acl relation?

[2018-10-31 16:19] sylvainkahane commented on #580
The most efficient test to identify the head of a unit U = AB is to look whether A or B has the same distribution than U. Here you want to decide whether A = _the referee_ or B = _having finally arrived_ is the head. What do you prefer?

[code]

Even if (2) is semantically strange, it is much better. With another verb, it is perfect:

`Having finally be prepared, the game began.
`

So no doubt tha

[2018-11-01 04:27] rafael75012 commented on #580
I think that it is the nominal part of the construction that is the head

**Syntactic criterion**
The absolute phrase have the distribution of a NP
It can be complement of a verb (a) and complement of a preposition (b)

"The referee having finally arrived, the game began."
(a)

(b)

**Morphologic criterion**
The noun is the morphological contact point, it agrees with external element

 "The refere

[2018-11-01 04:53] nschneid commented on #580
I would say:

The referee having finally arrived, the game began.

advcl(began, arrived)
nsubj(arrived, referee)
aux(arrived, having)

"The referee having finally arrived" cannot stand alone, and is optional. "The game began" is the main clause. The absolute clause could be replaced with a more standard subordinate clause, e.g. "Because the referee had finally arrived", but cannot be simplified to

[2018-11-01 05:22] rafael75012 opened #581 "Floating quantifiers"
How should we annotate floating quantifiers?

I found many diverse strategies in actual English and French corpora
In English LinES, I found
(a) _they all go out_ : `advmod`(_go_, _all_)
(b) _they all had gone_ : `obl`(_gone_, _all_)

In EWT, I found
(c) _we are all suffering_ : `advmod`(_suffering_, _all_)
(d) _you all remember_ : `det`(_you_, _all_)

In French_Sequoia :
(e) _que nous connaissons

[2018-11-01 06:32] rafael75012 opened #582 "Quantifier determiners and possessive determiners in Chinese"
I wondered why quantifiers like 所有 (all), 全部 (all) have been put into DET category, but not possessives pronouns like in 我爸爸 (me + dad : "my dad"), 我的狗 "me + part. 的 + dog : "my dog").
First, these two quantifiers are similar to pronouns as well, they can be object of a verb
我吃了所有 (me + eat + asp. part. + all : 'I ate it all")
我吃了全部 (me + eat + asp. part. + all : 'I ate it all")
我忘了一切 (me + eat +

[2018-11-01 07:25] dan-zeman commented on #582
我 _(wǒ)_ “I” is `PRON`. I think we came to the guideline that if it is the same word (pronoun) that is used in possessive constructions, then we leave it as `PRON` and do not attempt to retag it as `DET` based on context. The possessive function can still be expressed by a subtype of the dependency relation, such as `nmod:poss`.

[2018-11-01 07:41] rafael75012 commented on #582
Indeed I found the following statement (http://universaldependencies.org/u/pos/DET.html)

Just a remark : doesn't it influence parallelism between languages? For example this pair of translation, completely different analyses for the same thing
My dog : det(dog, my)
我的狗 : nmod(狗, 我); case(我, 的)

[2018-11-01 08:10] sylvainkahane commented on #580
@rafael75012 You said: "Semantic criterion. The sentences above reveal quite clearly that the absolute construction phrase as a whole refers to the entity (in a specific state), i.e. the NP, more than to the state in itself, i.e. the PP/V(-ed/-ing)/AP", but I don't see any argument supporting this affirmation.
As @nschneid said, the absolute construction can be paraphrased by "Because the referee

[2018-11-01 08:31] rafael75012 commented on #580
So "The referee having finally arrived, the game began" and  "Hands in the pockets, he roams his city" are two distinct constructions?

Following @nschneid  suggestion :
"The referee having finally arrived, the game began" : `advcl`(began, arrived)
 "Hands in his pockets, he roams his city" : `acl`(he, hands) [edited]

[2018-11-01 08:36] sylvainkahane commented on #580
"Hands in his pockets, he roams his city" : `acl`(roams, pockets).

[2018-11-01 09:05] rafael75012 commented on #580
@sylvainkahane, why "pockets" would be the head of "hands in his pockets"?
"in" is head of the PP "in his pockets", which is part of the NP "hands in his pockets"

And why `acl` linked to "roams"? `acl` is for modifiers of nouns, I guess you meant `advcl`.
But if we consider it's a depictive then we should link it to the argument of the verb directly, with `acl`

[2018-11-01 09:50] sylvainkahane commented on #580
Oh yes sorry, it must be `advcl`(roams, pockets), as it was _hands being in his pockets._ In UD the noun is the head of the PP.

[2018-11-01 10:26] rafael75012 commented on #580
So the complete annotation you propose is
`nsubj`(_pockets_, _hands_)
`case`(_pockets_, _in_)
`det`(_pockets_, _his_)
`advcl`(_roams_, _pockets_)

[2018-11-01 11:34] sylvainkahane commented on #580
Yes, even if the `nsubj` relation is a little problematic here. It is a different construction from the subject-verb construction and it is why it deserves a special name (absolute construction). Introducing a new relation for that would be costly, but I would be in favor of having something like `nsubj:absolute`.

[2018-11-01 12:23] rafael75012 opened #583 "Clarifications on pronominal adverbs"
Hi,

On this page (http://universaldependencies.org/u/overview/morphology.html#pronominal-words) we can read

(1)

**Indirect interrogatives**
In French_Sequoia
(a) _Nul ne sait où la piste conduisait ensuite_  `ccomp`(_sait_, _conduisait_); `obl:arg`(_conduisait_, _où_-`ADV`)
(b) _Je sais où ils sont_ `ccomp`(_sais_, _sont_); `obl:arg`(_sont_, _où_-`ADV`)

In English_EWT
(c) _I don't know where t

[2018-11-01 13:11] arademaker commented on #581
@rafael75012 some of those cases are normal ambiguities, don't you think? So, maybe it is normal to do have different annotations.

[2018-11-01 14:14] dan-zeman commented on #582
It does influence the parallelism. But it also highlights the different strategies that the two languages employ to express the same idea. I think UD is an attempt to find a balance between these conflicting objectives. If you give absolute priority to the parallelism, you will end up with a purely semantic representation.

[2018-11-01 15:44] omriabnd opened #584 "Clarification on PP copula objects"
I was wondering if you could clarify UD's treatment of copulas with a PP object.

My initial understanding was that they should be no different than copulas clauses with an NP object. I was relying on this: (http://universaldependencies.org/u/overview/simple-syntax.html)

However, it seems that some examples (which are not equated clauses or existentials) take the copula to be the head. Examples (

[2018-11-01 16:52] wongtaksum commented on #582
I doubt whether these are grammatical...
?我吃了所有 (me + eat + asp. part. + all : 'I ate it all")
?我吃了全部 (me + eat + asp. part. + all : 'I ate it all")
These sentences do not sound natural in colloquial Mandarin...

[2018-11-01 20:28] murawaki commented on #356
I'm late to the party. I have read http://universaldependencies.org/docs/2015-08-23-uppsala/coordination.html, http://universaldependencies.org/udw18/PDFs/10_Paper.pdf, issues #189 and #236, and this issue. I also checked Haspelmath's paper mentioned above, but I think his newer paper is more comprehensive: https://www.researchgate.net/publication/40851992_Coordinating_constructions_an_overview  S

[2018-11-01 21:00] murawaki commented on #356
The dependency label 'cc' is defined as "the relation between a conjunct and a preceding coordinating conjunction". http://universaldependencies.org/u/dep/cc.html However, the Japanese marker 'と', regardless of whether it expresses conjunctive or comitative, is an enclitic clearly attached to the host to the left, not to the right (i.e., ((A と) B), not  (A (と B))). We can also say:
[code]
See also

[2018-11-02 01:58] rafael75012 commented on #582
My informant told me that, although it is not very natural, but it's grammatical
There are also these interesting examples :
这 是 我 的 所有 (this + is + I + part. de + all : literally this is my everything;   'this is everything I have')
他 给 了 她 所有 (he + give + asp. part. + she + all : 'he gave her his all')

[2018-11-02 02:30] wongtaksum commented on #582
All of these seem to be Europeanized usages... bad Chinese...

[2018-11-02 03:06] rafael75012 commented on #582
Sorry but those examples are clearly attested https://www.chinlingo.com/articles/600461/ and have all been confirmed by informant. You could also check them on Baidu and ask some chinese native speakers.

And, it is not the main point of my post...

[2018-11-02 03:36] rafael75012 commented on #580
Ok, thanks !

[2018-11-02 03:51] rafael75012 commented on #581
Hi @arademaker, to what cases do you refer?

[2018-11-02 08:53] dan-zeman commented on #356
The coordinating conjunction used to be attached to the first conjunct in UD v1. The rule was changed in UD v2 and the conjunction is now attached to the immediately following conjunct, on the grounds that there is some evidence that they form a constituent. I think that this bit was decided with primarily European languages in mind (although the bigger question of the directionality of `conj` was

[2018-11-02 09:11] dan-zeman commented on #584
I suppose that your usage of the term _object_ is not in the UD sense. So it is actually the (nonverbal part of) predicate what you are referring to, right?

I believe that your French example is an annotation error. _Sans précédent_ should be treated as a nonverbal predicate, hence it should be the head of the adverbial clause in that sentence.

Now, I don't think that whenever there is a single

[2018-11-02 09:17] #580 closed, assigned to nobody

[2018-11-02 13:45] arademaker commented on #581
Try examples (a) and (b) in a grammar like http://erg.delph-in.net/logon. You will see that both can have many different analyses.

In the IBM English Slot Grammar we got fewer analyses for (a) because of the parse prune mechanism:

[code]

[2018-11-02 14:10] rafael75012 commented on #581
If I am not wrong, http://erg.delph-in.net/logon, for "they all go out" and "they all had gone", propose two analyses of the quantifier float, attached to the pronoun "they" with a 'det' link, or attached to the verb with an 'adv' link.
Could you indicate me how "they--`det`-->all had gone" would differ semantically from "they all<--`advmod`--had gone"?

[2018-11-02 15:52] arademaker commented on #581
Hi @rafael75012, this can be a long discussion about semantic representations. I recently read a very interesting article about it: https://aclweb.org/anthology/W/W15/W15-0128.pdf. The question is if these two different analyses are semantically identical and so they do not deserve to be considered ambiguities, right?

I read the first one as an emphasis on the fact that the subject of the action

[2018-11-02 19:10] nschneid commented on #581
I can only see the first reading. The use of "all" in that position is contingent on the subject being plural or mass. The following are terrible:

*John all had gone.
*John all has eaten the candies.

So I don't see an adverbial reading as a possibility here.

[2018-11-02 19:48] omriabnd commented on #584
Yes. Thanks for clarifying!

[2018-11-02 20:28] #584 closed, assigned to nobody

[2018-11-02 21:13] arademaker commented on #581
@nschneid I am not a native speaker, but for both cases, given a singular subject, the adverbial reading was returned by the ERG/HPSG grammar.

[2018-11-02 23:00] nschneid commented on #581
Then I think that indicates a problem with or limitation of the grammar.

(*That* sentence is definitely grammatical, by the way, but ERG rejects it.)

[2018-11-02 23:07] arademaker commented on #581
@nschneid sorry, I didn't understand. ERG didn't reject `John all has eaten the candies.` nor `John all had gone.`.  If you are talking about the sentence

you are right, all grammars leak, right? But the version below was accepted.

I was just saying that grammars help us to see ambiguities that we missed sometimes. Moreover, making annotations on corpora force us to adopt one particular interpre

[2018-11-03 03:35] msklvsk opened #585 "Website font doesn’t support Cyrillic italics"
**[update]** Upstream bug: https://github.com/adobe-fonts/source-sans-pro/issues/87.

The website font, Source Sans Pro, is actually missing italic glyphs for Cyrillic.

As seen on [Google Fonts](https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&selection.subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vi

[2018-11-03 07:06] rafael75012 commented on #582
@dan-zeman, I see
I am simply not sure that there really exists a linguistic difference between the two cases mentioned ("quantifiying determiners" and "possessives") so that it would justify to annotate them with different relations

In the lists of quantifiying determiners (1), there is some adjective-like words (整 / zhěng “whole”, 多 / duō “many”, 少 / shǎo “few”, 許多 / xǔduō “many”) and some pron

[2018-11-03 07:22] dan-zeman commented on #585
Oh dear. This issue would ideally be for @spyysalo but I am not sure that he is reachable at present.

[2018-11-03 07:27] wongtaksum commented on #582
Other than 所有、全部、一切, could you find more examples?

[2018-11-03 08:19] rafael75012 commented on #581
Thank you @arademaker  and @nschneid  for your contributions
@arademaker , yes it was my question !

Then wouldn't it be more accurate to use the treatment for depictives : `acl` when the verb is finite (linked to the argument) and `advcl` when the verb is non finite (linked to the verb)?

And there is also the question of the POS of these FQ

Would it be possible in English to remove the original

[2018-11-03 08:38] fginter commented on #585
I can also give it a stab, but am at EMNLP now, and don't have a computer with me so it will take till next week.

[2018-11-03 09:41] fginter commented on #585
If you can propose a substitute font that would be great. I don't have Safari so it's hard to test.

[2018-11-03 10:01] fginter commented on #585
https://github.com/UniversalDependencies/docs/blob/pages-source/css/style.css

this is the place but I don't dare mess with it right now because I cannot test

[2018-11-03 11:01] rafael75012 commented on #580
As @nschneid  suggested

So the annotation should rather be :

"Hands in his pockets, he roams his city"

Below, the complete annotation for non-depictive absolute construction :

"The referee having finally arrived, the game began"

[2018-11-03 11:05] dan-zeman commented on #585
Agreed that the best thing is to test (also) in Safari but in fact the first problem is that the current font lacks the Cyrillic italic glyphs. So e.g. in Chrome/Windows, you can see the letters but they are visually different from the Latin ones, so it is obvious that a substitution is needed.

[2018-11-03 13:55] fginter commented on #585
sure thing. but messing with the font settings from my mobile phone is a recipe for disaster, so I fix this one I am at a computer. If anyone wants to recommend a new font, now is the time. How about comic sans? 😁

[2018-11-03 14:12] dseddah commented on #585
you're kidding but Comic Sans is one of the best fonts for dyslexic people. (really, apparently it's super readable)

[2018-11-03 14:15] bulbulistan commented on #585
Roboto or Montserrat would be my first choice.

[2018-11-03 16:29] nschneid commented on #581
When "all" is used by itself as a subject, it feels like a quantifier/determiner being coerced into a pronoun. I think the policy is still to tag it as `DET`, but as `nsubj`.

When "all" is a floating quantifier, I think it makes sense to treat it as a dependent within the noun phrase—but probably not `acl`/`advcl`, as it is not a clause. EWT uses `det`, which seems reasonable:

- they all have th

[2018-11-03 16:53] sylvainkahane commented on #356
@murawaki Thanks for a very clear presentation of the data.
@dan-zeman I agree with your answer and I think we can go further. When analyzing A & B in a given language, the first question should be: do we have a phrase (A &) B or A (& B)? And then, considering that the CCONJ is on the second conjunct, we can decide on which direction must be conj.

So if we have (A &) B as in Japanese, we'll have:

[2018-11-03 17:16] sylvainkahane commented on #581
But we need first to decide whether the floating quantifier forms a phrase with the subject or with verb. It seems quite clear that it forms a phrase with the verb. For instance, it must be after the auxiliary:
<img width="341" alt="image" src="https://user-images.githubusercontent.com/23051796/47955085-fc8b3180-df92-11e8-8bc1-bb591699c1ec.png">
or can cooccur with a relative pronoun:
<img width="

[2018-11-03 18:05] nschneid commented on #581
No, it need not be after the auxiliary: "You all have won" and "You have all won" are both fine and semantically equivalent. Let's try VP coordination:

### Pre-aux

- They all have eaten breakfast but haven't eaten lunch.
- *They have eaten breakfast but all haven't eaten lunch. (only grammatical with the pronominal reading of "all", it which case it's not VP coordination)

Conclusion: if it prec

[2018-11-03 18:28] sylvainkahane commented on #581
In French, data are much simpler. The pronominal subject is clitic and the FQ cannot be between it and the verb: * _ils tous partent_, lit. they all leave vs _ils partent tous_ 'they all leave'
But we have a so-called strong form of the pronoun: _eux tous partent_ '(they all) leave' vs _eux partent tous_ 'they (all leave)'.
So it is likely that English has two constructions (with different prosodi

[2018-11-04 00:44] msklvsk commented on #585
Top 5 popular Google fonts, rendered in Chrome on a retina Mac
<details>
  <summary>Click to expand</summary>

# Open Sans
<img width="645" alt="image" src="https://user-images.githubusercontent.com/473012/47958684-c4a6dd00-dfd8-11e8-8878-ef7095162c26.png">

# Roboto
<img width="645" alt="image" src="https://user-images.githubusercontent.com/473012/47958690-06378800-dfd9-11e8-90bf-4fe86a59620c.png

[2018-11-04 07:52] dan-zeman commented on #585
Noto Sans seems to have a problem with rendering the back apostrophes around `nsubj` (looks like a grave accent above n).

[2018-11-04 09:10] dan-zeman commented on #585
@msklvsk could you please check whether these fonts also have italic glyphs for Greek and Armenian? (I just added examples of both to the [Style Guidelines](http://universaldependencies.org/contributing.html#style-guidelines).)

[2018-11-04 11:35] msklvsk commented on #585
Actually, none of them have Armenian at all. If we choose to switch to any of those, Armenian will remain as it currently is for your platform. Only two of them have Greek. Noto Sans is disqualified.

<details>
  <summary>Click to expand</summary>

### Open Sans
<img width="368" alt="image" src="https://user-images.githubusercontent.com/473012/47963200-62c69180-e031-11e8-857c-da6d87f4678a.png">

#

[2018-11-04 13:37] dan-zeman commented on #585
Ok, out of this selection, OpenSans seems to have better coverage than the rest, although it misses italics+bold.

[2018-11-04 13:49] msklvsk commented on #585
For my last screenshots, I just took first 4 faces. All the fonts have bold italics, see _**Which**_ in the previous comparison.

[2018-11-05 04:04] rafael75012 commented on #581
@nschneid , you said :

Do you mean that we cannot get :

So it would be a "floating" version of determiners?
Determiners accompany NP normally, not pronouns...?
FQ and determiners still differ a lot on these two properties

[2018-11-05 14:23] nschneid commented on #581
Right, *They were all. doesn't work.

Certainly FQs are not typical determiners. But if one takes the view that "They all" is a noun phrase, I'm not sure there's a better relation than `det`.

[2018-11-05 14:47] sylvainkahane commented on #581
In accordance with the [guidelines](http://universaldependencies.org/u/overview/morphology.html#pronominal-words), _all_ must be DET, whatever its position is. (The POS is an inherent value.)
But I'm not convinced by the relation `det` in _they all_. It is a very unusual position for a determiner in English. What is the commutation paradigm of _all_ in this position? In French, we can have _eux to

[2018-11-05 15:09] nschneid commented on #581
Here's what the Cambridge Grammar of the English Language (p. 413) has to say:

![image](https://user-images.githubusercontent.com/985263/48005844-7aaa1e00-e0e2-11e8-8100-ef19db2b257c.png)

I think it's just "all", "both", and "each" that can occur in this postmodifier construction (what they call *implicit partitives*).

[2018-11-05 15:33] nschneid commented on #581
It's perhaps worth noting that "only" and "just" are tagged as `ADV` and accordingly attached as `advmod` when they modify nouns. So one could argue that even though these FQ constructions bear semantic and word order similarities between English and French, they deserve different dependency relations because they draw on different lexical categories.

(Or that the criteria for `DET`/`ADJ`/`ADV` a

[2018-11-06 04:30] rafael75012 commented on #581
@nschneid, would you annotate "explicit partitives" and "implicit partitives" in the same way? With `det` relation and `DET` pos?

@sylvainkahane

In French, do we have an equivalent to English PRON + all (i.e. "they all")?

If not, then "eux aussi", etc. commute with "tous" solely in the two following positions : (3) placed after in between AUX + VERB, (4) placed after the verb

French FQ would b

[2018-11-06 19:22] fginter commented on #585
Better now? Note: you may need to hard-reload to get rid of cached css.

[2018-11-11 22:14] murawaki commented on #356
I have no objection to the decoupling proposal though I thought the rule for the coordinating conjunction was part of the the perceived cross-lingual parallelism, which in my opinion, goes against linguistic reality.

I move on to the next topic. The VP "coordination" in Japanese is interesting because it is where the limits of coordination blur again. The question is whether the VP "coordination"

[2018-11-12 10:13] msklvsk commented on #585
It must be personal, but Open Sans puts some strain on my eyes. Even dorky Roboto is a smoother read. I wonder if anyone feels the same. If you don’t mind platform differences, you can also use respective system fonts like GitHub does.

[2018-11-13 07:12] dan-zeman commented on #514
The guidelines already exist in http://universaldependencies.org/format.html#miscellaneous so I am closing this issue.

[2018-11-13 07:12] #514 closed, assigned to dan-zeman

[2018-11-13 08:04] dan-zeman opened #588 "Space in MISC"
The CoNLL-U [format specification](http://universaldependencies.org/format.html) states quite clearly that fields other than FORM and LEMMA must not contain space characters.

The validator script has been more permissive and allowed the space also in MISC (see [here](https://github.com/UniversalDependencies/tools/blob/b13b2ab096aa93718ce5fdf80923871f2d589bd7/validate.py#L265-L271)).

At least one

[2018-11-13 08:12] msklvsk commented on #569
The problem isn’t solved. No intention to introduce escaping?

[2018-11-13 08:21] dan-zeman commented on #563
I am leaving the issue open but have changed its title to reflect that now the requested action is to modify the scripts that generate the list of treebanks on the UD title page.

Treebanks that have never been released should be marked as such (they may still appear in the upper part if there is another treebank of the same language that has been released). Languages that have repositories with d

[2018-11-13 08:26] dan-zeman commented on #565
I believe the answer is 3× yes.

[2018-11-13 08:42] dan-zeman commented on #571
Added to [http://universaldependencies.org/tools.html#conll-u-viewer](http://universaldependencies.org/tools.html#conll-u-viewer).

[2018-11-13 08:42] #571 closed, assigned to nobody

[2018-11-13 08:51] dan-zeman commented on #583
If the dependent is an adverb (and not a nominal), the universal part of the relation type should not be `obl`. It should be `advmod`.

[2018-11-13 08:57] dan-zeman commented on #569
@msklvsk : Do you mean to standardize escaping in the [specification of the CoNLL-U format](http://universaldependencies.org/format.html)?

[2018-11-13 09:07] msklvsk commented on #569
Yes, I mean to change this part:

[2018-11-13 09:30] dan-zeman commented on #569
I think that the intended meaning of "without special escaping" was not to ban escaping of the vertical bar inside individual items of the list. It was meant to say that the escaping must not involve the "|" character itself (e.g. with backslash, "\\|") because then a simple `split("|")` would not work.

[2018-11-13 09:47] msklvsk commented on #569
Understood. Then we should agree on an escaping convention that doesn’t involve the pipe, like what **foxik** or **amir-zeldes** suggested. I like `\p` for pipe and `\\` for backslash. XML-style would mean lots of `&amp;` and may be confusing because actual XML special chars are not escaped.

[2018-11-13 10:28] Stormur commented on #588
Is it maybe possible to allow spaces in MISC and to agree on a standard separator for elements in that column, like ; ?

[2018-11-13 12:27] foxik commented on #588
BTW, two other treebanks have spaces in MISC, uk_iu and cop_scriptorium. Both uses the space in the sense you suggested -- they include either FORM (which can have spaces) or original version of the form.

The point that convinced me to allow spaces is the fact that FORMs can have spaces. But then if you include FORM in the MISC column, you can get invalid CoNLL-U unless you escape the space someh

[2018-11-13 12:27] foxik commented on #588
@Stormur The standard separator for MISC is `|`, see http://universaldependencies.org/format.html#miscellaneous.

[2018-11-13 13:31] dan-zeman commented on #555
There is a [prototype of a new validator](https://github.com/UniversalDependencies/tools/commit/4424c7a96fa968ec3eb0fd8d975f50005a28dd2c) (ported to Python 3), which should not allow duplicate enhanced relations. It does not affect release 2.3 but it should be in effect for 2.4.

[2018-11-13 13:31] #555 closed, assigned to dan-zeman

[2018-11-13 14:47] amir-zeldes commented on #588
+1 for allowing space - since space is not a separator, I think this shouldn't cause problems.

cop-scriptorium has a MISC annotation called Orig, containing each word form as it appeared in a manuscript, before normalization. This may contain spaces on rare occasions, and the annotation value comes from a preexisting resource, so we'd like to keep it this way.

[2018-11-13 15:31] gossebouma commented on #588
A related issue: in the enhanced DEPS field period (.) is not allowed, while it is in LEMMA. Adding the lemma of a case dependent tot obl and nmod thus sometimes leads to inconsistencies: e.g. Dutch has phrasal prepositions like _ten opzichte van_ (_with respect to_), often abbreviated as  _t.o.v._  The lemma for this token is _t.o.v._ in the underlying treebank, which I preserve in LEMMA, but in

[2018-11-13 15:51] msklvsk commented on #566
From [workgroups/enhanced.html](http://universaldependencies.org/workgroups/enhanced.html). Guy Perrier:

[2018-11-13 15:54] msklvsk commented on #588
@gossebouma That can be another argument [against](https://github.com/UniversalDependencies/docs/issues/566) bringing forms into `DEPS` at the first place.

[2018-11-13 16:13] prokopidis opened #589 "Null subjects"
Hi,

Has there been any discussion on annotating null subjects? For example, in Greek as in other languages one can say:

[code]

[code]

Could a null node be used in the enhanced representation for such cases? The first example could be annotated as:

[code]

The null subject could also be used for annotating control structures:

[code]

[2018-11-13 16:43] dan-zeman commented on #589
Technically the enhanced graph is capable of capturing elided subjects this way but the guidelines do not allow it ([the last sentence here](http://universaldependencies.org/u/overview/enhanced-syntax.html#additional-enhancements) says: _anything beyond the above additions is not part of the UD standard and should not be added to the officially released treebanks._) A new version of the guidelines

[2018-11-13 16:50] msklvsk commented on #589
The subject here is encoded in the finitness of the verb (its person). `xcomp` without an Enhanced subject means its subject is the higher verb’s subject (~~or else it’s `ccomp`~~ — upd: not sure: https://github.com/UniversalDependencies/docs/issues/200#issuecomment-439159175).

So far, no information is lost. But there are [cases](https://github.com/UniversalDependencies/docs/issues/558) where th

[2018-11-13 16:52] adam-przepiorkowski commented on #589
We have a discussion of this issue in publications accompanying the
UD_Polish-LFG treebank (available from
http://zil.ipipan.waw.pl/AdamPrzepiorkowski, search for “From Lexical
Functional Grammar”), where we identify it as the main source of
information loss in the conversion from the Polish LFG structure bank to
the corresponding Polish UD treebank.  Some of the examples discussed there
involve n

[2018-11-13 16:57] dseddah commented on #589
Hi Dan,
I was actually working under the assumption that the Enhanced guidelines were still a work on progress and thus subjected to change ?

Best,
Djamé

[2018-11-13 17:04] dan-zeman commented on #589
Hi Djamé, yes, I also think that enhanced guidelines should further evolve. But until that change happens, I suppose that the guidelines that are part of UD v2 are valid.

[2018-11-13 17:13] dseddah commented on #589
I don't know if they are valid or not. I plead guilty, after last march workshop I didn't write up our proposal for enhanced dependencies + diathesis neutralization.
@adam-przepiorkowski  Maybe it would be simpler to use the new extended Conllu format and add whatever you want in an extended column ?
1-8 : surface UD
9 :  Enhanced UD
10 : MISC
11 : Your own Enhanced UD where you fill out everythin

[2018-11-13 17:18] msklvsk commented on #589
@adam-przepiorkowski #533

Still, I think both examples don’t need a reconstructed subject. It is coreference layer’s job to mark an antecedent for a `Person` inside a verb. It’s not even necessary for some pro-drop languages to have an overt subject. You need a null subject to encode predication when otherwise it’s impossible to tell a phrase from a clause (besides general cases of non-predicate

[2018-11-14 08:47] gossebouma commented on #566
It is not completely mechanical, though. In a recent paper (submitted for TLT) I compared a language specific enhancer for Dutch (AE) with @sebschu 's language independent enhancer (SE), and noted that:

The dependencies acl and advcl are extended
with the lemma of their case or mark dependent. However, advcl and acl clauses can
contain both, as in _een zondag om nooit te vergeten (a sunday to nev

[2018-11-14 09:49] prokopidis commented on #589
An overt pronominal subject is indeed redundant in the Greek examples above and, in many contexts, may even render the sentences weird for a native speaker.  I think however that in order to annotate argument sharing between matrix and dependent clauses (as in [Controlled/raised subjects](http://universaldependencies.org/u/overview/enhanced-syntax.html#controlledraised-subjects)) and coreference l

[2018-11-15 19:22] msklvsk commented on #200
I’m having trouble interpreting the `xcomp` vs `ccomp` for elided _objects_.

<img width="221" alt="image" src="https://user-images.githubusercontent.com/473012/48676191-f3da5400-eb6b-11e8-914f-616e30bb1063.png">

If the boss instead _ordered_ to start digging, and from the context we know that _The boss ordered **[us]** to start digging_, does this make _to start_ an `xcomp`? (Inspired by #589. A

[2018-11-17 20:14] chedio opened #590 "Focus in Wolof"
Hi,
I am currently developing a UD treebank for Wolof (Niger-Congo). One of the main features of this language is that focus is marked **morphosyntactically** by means of inflectional elements. Such elements convey grammatical specifications of the verb, including person, number, mood, but also the information structure of the sentence (focus).

Wolof has three focus constructions: Subject focus,

[2018-11-17 21:47] sylvainkahane commented on #590
_moo_ combines the subject PRON _mu_ and the AUX _a_. Do you plan to split it up?

[code]
If you do that, it will be easier to find the focus marker. Of course a feature such as _Focus_ can be introduced but it becomes less necessary.

[2018-11-17 22:15] chedio commented on #590
No, I am not planing to split _moo_ for the simple reason that, unfortunately, the situation is not so easy. There are other focus markers that cannot be split in this way. For instance, _la_ cannot be split anyway. Splitting _dafa_ into da and _fa_ would not make sense, as _fa_ has no meaning.

I think that _Focus_ is really the feature that would allow to make the distinction between these three

[2018-11-18 11:20] sylvainkahane commented on #590
_la_ does not combine with a PRON, so it is not probematic. Its lemma will be _la_.

But what will be the lemma of _moo_ if you don't decompose it? What will you do when the focus marker _a_ amalgames with a NOUN or a PROPN:

_da_ combines with a PRON. For instance:

_dafa_ is an irregular form, but it doesn't matter, you can split it. The decomposition is syntactic, not morphologic:
[code]
What w

[2018-11-18 11:53] chedio commented on #590
I think the problem is not a tokenisation issue, but rather an issue of a feature. Fundamentally, I would not be in favour of splitting some of these elements and not the others. It's true that _da_ combines with _ñu_. But such a morpheme (_ñu_) also attaches to all verbs when these are inflected for person and number (for instance, in negation). In such a case, I do not attempt to split the verb

[2018-11-18 12:05] chedio commented on #590
For your first question. Yes, of course, when the focus marker _a_ amalgames with a NOUN or a PROPN (e.g. _Faatoo_), then a split occurs. _Faatoo_ becomes _Faatu a_.

[2018-11-18 14:03] sylvainkahane commented on #590
If _Faatoo_ is split in _Faatu a_, I don't understand why _moo_ is not split in _mu a_.

And you said "splitting _da-ñu_ "da-1PL" into _da_ and _ñu_ would make _ñu_ ambiguous between a subject marker and an object marker." But of course not: if _ñu_ is a token, it will receive a governor and a function. It will be clearly `nsubj` or `obj`.
_ñu_ is not cliticised in some other constructions and can

[2018-11-18 14:38] chedio commented on #590
You have right for the lemma. In the current state, I label them as _moo_, _dafa_ and _la_ (sorry for not being clear in my previous answer. I did not bother so much about the lemma so far).

But still, I would not be in favour of splitting moo into _mu+a_. The reason for splitting _Faatoo_ in _Faatu_ and _a_ is that the whole word (i.e. _Faatoo_) can only be tagged as a noun. This is quite differ

[2018-11-18 14:49] sylvainkahane commented on #590
But I don't think that _Faatu_ is subject in _Faatu moo lekk_. This sentence is better translated by 'Fatu, it's her who has eaten', in contrast with _Faatoo lekk_ 'It's Fatu who has eaten'.
I think that _Faatu_ is `dislocated` in _Faatu moo lekk_ and the subject is _mu_. Especially because _Faatu_ is not obligatory, which would be very unusual for a focused element.

[2018-11-18 15:01] chedio commented on #590
I don't think _Faatu moo lekk_ and _Faatoo lekk_ differ in meaning. In both cases, I see _Faatu_ as the subject. The fact that _Faatu_ is optional just follows the pro-drop nature of the language which holds also for non-focused constructions.

[2018-11-18 15:14] sylvainkahane commented on #590
But your argument is circular. You can only consider Wolof as a pro-drop language if you don't accept that _moo_ is _mu+a_. Before, you said that _moo_ has _mu_ as lemma and it was the subject of _lekk_ in _moo lekk_and now you say that _moo_ is an AUX and _lekk_ has no subject.
I really think that you complexifies the things. Do you have a document or guidelines for your Wolof grammar? I don't se

[2018-11-18 17:29] chedio commented on #590
The grammar is under construction and I will upload it when I have finished cleaned up some stuff. I think I my argument was quite clear: _moo_ is `nubj` if the lexical subject _Faatu_ is missing. Otherwise, if the lexical subject is present, _moo_ is `aux`. This is a quite natural behaviour of a pro-drop language.
Anyway, my main point with raising this issue was in fact only if it would be possi

[2018-11-18 17:45] claudiafreitas opened #591 "Appos and Parataxis - guidelines vs annotated golden corpus (EWT)"
1. Although guidelines on `appos` ([http://universaldependencies.org/u/dep/appos.html](http://universaldependencies.org/u/dep/appos.html)) state that
`

should not be tagged as `appos`, the following cases are tagged as `appos` in the EWT corpus:

We (in portuguese) are fine considering restrictive appositives as appos, but we thought we were diverging from the guidelines.. maybe not?

2. The foll

[2018-11-18 17:53] adam-przepiorkowski commented on #200
That's how we interpreted the guidelines when we developed the
UD_Polish-LFG treebank – there is a brief discussion of a very similar
Polish example in Patejuk and Przepiórkowski 2018
<nlp.ipipan.waw.pl/Bib/pat:prz:18:book.pdf> pp.217–218 (involving Polish
for *ordered*, with a missing controller).  We hope that this is the only
reasonable interpretation of the current guidelines.

Best,
Adam P.

[2018-11-18 20:42] sebschu commented on #591
Re 1: This distinction is a bit tricky since we only use `appos` if the descriptive noun phrase can stand on its own and be switched with the name but not in cases of "titles" such as senator which have to precede the name.

So I think all of the examples you provide should be tagged as `appos`, except perhaps _bacteriologist Dr. Abdul Qadoos Khan_ (unless there is a determiner in front of _bacter

[2018-11-19 10:47] Stormur commented on #591
1. I think that the first group of examples should all be tagged `flat`, as per the guidelines. A construction like _Ismat, her mother_ seems to have another structure and nuance to me. In one case we have a title which "binds" with the noun, in the second case we have a specifying phrase.

However, the `appos` relation has indeed shown to be somewhat controversial (I'd say too restrictive and too

[2018-11-19 14:54] amir-zeldes commented on #591
@Stormur I think the idea is that I.B. Tauris is the author, but this case actually doesn't obey the reversibility guidelines, due to the presence of the year:

`* (I.B. Tauris, 2002) author of "Sacred Space and Holy War"`

For this reason we use `dep` to attach author citations to names of works in UD_English-GUM.

As for "Ismat, Her mother", I think this is a perfectly normal apposition - we don

[2018-11-19 14:56] amir-zeldes commented on #200
+1 for "ordered to start" = xcomp(ordered, start)!

[2018-11-19 16:19] sylvainkahane commented on #590
The discussion is related to your initial question, because if you introduce focus markers as lemmas, you don't necessary need a feature _Focus_. Or at least you can add it automatically very easily (_a_ is subject focus marker, etc.).

But you propose another analysis, which I find unusual and unnecessarily complex. Your analysis is not the typical analysis of a pro-drop language. In a pro-drop l

[2018-11-19 16:50] chedio commented on #590
Ok. To make it clear: I propose two functions for _moo_ (`nsubj` vs. `aux`), but I do not propose two different POS nor two different lemmas.
1) First, the POS for _moo_ is AUX (not PRON).
2) The lemma for _moo_ and all subject focus markers is _moo_. Similarly, _dafa_ and _la_ are the markers for the verb and complement focus markers, respectively.

Now, concerning the first analysis you mention,

[2018-11-19 18:23] ftyers commented on #590
@beemorris @KatyaAplonova is there stuff like this in Laiholh and Bambara ? I seem to remember there being issues with working out which part is the subject (e.g. agreement marker/pronoun or full NP) in both those languages.

I don't know anything about Wolof, but I'm not sure if according to [the guidelines](http://universaldependencies.org/u/dep/aux_.html) the `AUX` can receive the `nsubj` relat

[2018-11-19 18:52] chedio commented on #590
Thank you for raising this issue. For me, it was not clear neither whether the guidelines forbid`AUX` to receive the `nsubj` relation. I hope someone can help us clarify this. If it is the case that `AUX` cannot bear `nsubj`, then this would naturally raise an issue for inflectional elements like _na_ as in _lekk na_ (eat 3sg, meaning he/she has aten). This is because _na_ is clearly the subject a

[2018-11-19 18:56] ftyers commented on #590
No problem! I'm curious, what are the criteria you are using for subjecthood here? Again, I don't know anything about Wolof, so it would be good to have a both positive and negative examples for each of the criteria.

[2018-11-19 19:07] jnivre commented on #590
It seems really strange to assign the relation "nsubj" to an element tagged as AUX, especially since that element occurs with the "aux" relation in other contexts. As far as I understand, Sylvain's proposed analysis is the one that fits both the data and the UD guidelines best. This includes both segmenting "moo" into "mu" and "a" and treating fatuu is "dislocated" when it cooccurs with "moo". The

[2018-11-19 19:08] chedio commented on #590
The main criterium for subjecthood I use here is subject-verb agreement. In Wolof verbs bear agreement morphology, and the subject is the argument that agrees with the verb. In the sentence given above, it is _na_ that has this function.

[2018-11-19 19:20] chedio commented on #590
Well, if `AUX` cannot be assigned the `nsubj` relation, does this mean that `na` must be a `PRON`?  I think this would not really reflected the linguistic reality of Wolof. I know we should try to comply as much as possible with the guidelines, but do we really have to analyze Wolof in the same way as French. Another issue is splitting `moo` into `mu` and `a`. Sure, such a segmentation can be done

[2018-11-19 19:29] ftyers commented on #590
So in the *lekk na* and *Faatu lekk na* examples, what is the agreement marker and what is the subject?

[2018-11-19 19:31] chedio commented on #590
_na_ is filling both functions: subject and agreement marker.

[2018-11-19 19:36] ftyers commented on #590
So, your argument is: Wolof verbs must have both an agreement marker and a subject, if there is an overt NP, the NP is the subject and the agreement marker fulfills its own role, if there is no overt subject, then the agreement marker takes on the role of subject and there is no explicit agreement marker?

[2018-11-19 19:41] chedio commented on #590
If there is an overt NP (e.g. _Faatu lekk na_), the NP (Faatu) is the subject and _na_ fulfills its role as an agreement marker. Otherwise, if there is no overt NP (e.g. _lekk na_), then _na_ has a double function as the subject and the agreement marker.

[2018-11-19 19:42] chedio commented on #590
To me, it sounds strange to not assign _na_ the _nsubj_ relation in the second case.

[2018-11-19 19:52] ftyers commented on #590
There can be a lot of strange things in linguistics :) How about these questions:

1. Does *na* behave like other subjects (pronominal and full NPs)
2. Does *na* cause agreement on the verb?
3. Is the position of *na* fixed?
4. Can there be intervening linguistic matter between *na* and the verb?
5. What other words can fill the slot that *na* has?
6. Can the *na* be dropped/elided?
7. Can other s

[2018-11-19 20:22] chedio commented on #590
1. No, _na_ does not behave like pronominal and full NPs. The latter always precede the verb, while _na_ follows the verb. Wolof has a pronoun for the 3SG which is _mu_.
2. Is already clear
3. _na_ always immediately follows the main verb, with the only exception that in rare cases the past tense particle _woon_ may intervene between _na_ and the verb.
4. _woon_ is the only element that may interv

[2018-11-19 20:22] sylvainkahane commented on #590
@chedio In _Moo lekk_ or Lekk na_, the verb is _lekk_. The verb itself is invariable and we cannot consider that the verb agrees with the subject in Wolof.
The question is whether the subjectal index on the auxiliary is a pronominal subject or an agreement morpheme. This question is debatable. But you cannot analyze this index as both the subject and the agreement with the subject.

[2018-11-19 20:27] chedio commented on #590
Why can we not consider that the verb agrees with subject in Wolof? This is only true for conjugations where the verb shows no inflection. But in other cases like in the _na_ conjugation and in negation, it is clear that the verb agrees with the subject.

[2018-11-19 20:39] KatyaAplonova commented on #590
To my knowledge, in Wolof there are many predicative elements like *ma*.
Maybe, you'll introduce a special relation for them? aux:subj?

Le lun. 19 nov. 2018 à 21:27, chedio <notifications@github.com> a écrit :

[2018-11-19 20:45] chedio commented on #590
Thank you. This seems to be a good suggestion. I am curious what the others will think about this.

[2018-11-20 07:22] jnivre commented on #590
I think we are all willing to accept that "na" can be analysed as an agreement marker (although it is not clear to me that it must be analysed this way). What most people (including me) find strange is the claim that "na" also assumes the subject function when there is no noun phrase subject. Since an agreement marker agrees with the subject, this would imply that "na" agrees with itself, which do

[2018-11-20 09:54] chedio commented on #590
Ok. To come back to the original issue, I know that many people are reluctant in having a new feature (focus), since in most other languages, information structure and syntax work at different levels, which is not the case in Wolof.

At this point, I can maybe cite Stéphane Robert (2000) in _Le verbe wolof ou la grammaticalisation du focus_. Louvain: Peeters, Coll. Afrique et Langage, 229-267.
Poi

[2018-11-20 11:02] Stormur commented on #591
My fault, I did not notice the name in parentheses! Well, it looks like a loose relation to me rather than an `appos`, with an internal `flat` structure, as typical for names. We need to see the entire sentence for clarity, though, to understand the reference and what should be the head of that element. If however _(I. B. Tauris, 2002)_ refers to the publishing house and not to the author, I see a

[2018-11-20 11:11] jnivre commented on #590
I think you misunderstood me. I was not saying that this feature should be ignored. On the contrary, it it is an aspect that is systematically encoded morpho-syntactically then it should in principle be part of the annotation. However, there is one important restriction. UD currently only allows features on single words. If a feature is realised in a construction involving multiple words, then it

[2018-11-20 11:44] chedio commented on #590
Fine. Thanks. I can take some time and try to come up with such a proposal.

Just a short note regarding the issues you mentioned. The main idea when raising this issue is that focus is systematically encoded morpho-syntactically in Wolof and that such information would be feature on single words like _moo_, _dafa_ and _la_ which respectively indicate that the constituent in focus is the subject,

[2018-11-20 11:47] chedio commented on #590
Maybe a better word for _complement_ could be something like _non-subject_.

[2018-11-20 12:56] chedio opened #592 "Noun classes in Wolof"
Like Bantu languages, Wolof has noun classes. 8 singular classes, 2 plural classes, 1 locative class and 1 manner class. The classes are identified by their index (_b, g, j, k, l, m, s, w_) for singular and (_y, ñ_) for plural, _f_ for locative and _n_ for manner. The class index functions as a stem to which an affix is added to form determiners and pronouns. For instance, dog is in the _b_ class

[2018-11-20 15:37] amir-zeldes commented on #590
Hi all, I'm also for features to encode overtly marked information structure categories.

I would like to add that we also have a single-token focus marker in Coptic (xpos=CFOC), so we could use a focus feature, too, but the Coptic one does not mark which constituent is focused, so for us it would be more useful to have something like `Focus=Yes`.

[2018-11-20 15:37] dan-zeman commented on #592
You cannot have a feature value that starts with a lowercase letter and you cannot have a non-ASCII letter (ñ) anywhere in the feature value.

The NounClass feature is described in UD because it is described in Unimorph, but at present I think it is not used in any UD treebank. We don't have Swahili (or any other Bantu language) yet.

The idea in UniMorph was that you can define one set of classes

[2018-11-20 15:50] dan-zeman commented on #591
I agree that the examples _my friend Nick_ to _our youngest daughter Elizabeth_ are not `appos`. Also note that the [current guidelines](http://universaldependencies.org/u/dep/appos.html) define `appos` as a left-to-right relation.

[2018-11-20 17:35] amir-zeldes commented on #591
I think even if there is a slight nuance to not using the comma, it's risky to rely on this, as many languages do not have reliable comma usage rules (English is not very strict either), and for some languages (especially in historical treebanks) we don't have commas at all.

Incidentally I think "her mother Ismat" is actually grammatical, and maybe only slightly odd because a mother is usually un

[2018-11-20 17:53] dan-zeman commented on #590
Oh this thread is growing rapidly. I am also for adding a feature for focus. Perhaps it should be `FocusType`, while other languages that only need a yes/no distinction would use `Focus=Yes`. I would preferably avoid one feature that can be `Yes` in some languages and multiple descriptive values in others.

As for the other issues discussed here, my impression (based only on this thread, with no p

[2018-11-20 18:53] chedio commented on #592
@dan-zeman: Thank you. Sorry that I was not clear in the previous message. For the class indexes, I actually meant that they are all in uppercase letters. The same applies for the _Deixis_ feature values. I was not aware of the fact that values cannot have a non-ASCII. Thanks for the clarification.

Your suggestion about creating an own set of classes for Wolof sounds good. As you suggested, I can

[2018-11-21 14:14] Stormur commented on #591
The comma is of course a useful convention to detect such structures, but can not be the only criterion.

I considered only a form like _Ismat her mother scolded me_ as ungrammatical.

I searched for the whole sentence, which is:

_Juan Cole ( www.juancole.com ) is a professor of modern Middle East history at the University of Michigan and author of " Sacred Space and Holy War " ( I.B. Tauris , 20

[2018-11-21 14:39] nschneid commented on #591
The examples at http://universaldependencies.org/u/dep/list.html seem to be outside of a (grammatical) sentence.

For citations and other extra metadata injected in sentences in writing, which would not normally be uttered as such in speech, `parataxis` seems better to me. Though there's probably room for clarifying or refining parataxis.

[2018-11-21 14:41] amir-zeldes commented on #591
I like parataxis for these last two cases better than list - you could consider it to be a parenthetical, similar to:

Juan Cole -- you can find more info about him at www.xyz.com -- is author of ...
parataxis(Juan,find)

This is what PTB brackets would group under a PRN node, and I understand parataxis to cover these cases as well.

[2018-11-21 15:06] sylvainkahane commented on #591
For UD_French_Spoken, we decided to split `appos` in two relations: `appos:conj` for _my sister, Mary_ or _Mary, my sister_ and `appos:nmod` for _my sister Mary_ or _le journal Le Monde_. See http://universaldependencies.org/fr/dep/index.html for details.
For written corpora the distinction can be recovered using the punctuation, but for a spoken corpus it needed to be explicitely encoded.
The dis

[2018-11-22 16:50] coltekin commented on #590
Just a note on marking focus: the issue also came up during the annotation of the Tagalog-TRG treebank (annotated by @stephsamson). Currently Tagalog treebank marks focus in the `MISC` field with tag `Focus` that takes a number of different values. I do not know the languages, but it may be a good idea to use a consistent feature/value set as much as possible.

[2018-11-22 17:23] dan-zeman commented on #590
@coltekin, @stephsamson: I had Tagalog in mind when thinking about possible Topic/Focus=Yes, but I had a look at the data now and I think the way it is used there, it should actually be recoded as the `Voice` feature in the FEATS column.

I am writing it here because I believe that it is not necessary to consider these data points when proposing the feature for Wolof. If people want to further dis

[2018-11-24 16:37] msklvsk commented on #565
I agree. However, nobody does that. Maybe we apply #593 then?

[2018-11-26 04:06] jonorthwash commented on #200
It would be good for @manning to weigh in on this.

[2018-11-26 11:37] Stormur commented on #589
Could you please make an example where a node for the null subject is necessary (or just useful) for such kinds of annotations and where dependencies are lost? Isn't all the necessary information already morphologically encoded in the verb, as @msklvsk says?
By the way, I think that in general the definition of "pro-drop" is misleading, as in these languages there is actually no drop: on the contr

[2018-11-26 11:53] Stormur commented on #558
If `there` just means _in that place_ and is not modifying good as in _very good_, and you are translating it as "It's good there", then couldn't it be:

`obl(добре, там)` ?

The predicate is missing, but that's no problem.

Update: I see that according to the guidelines `obl` is reserved to nominals, my fault. Still, it is true that here `advmod` looks ambiguous. Probably a subfeature like `advmo

[2018-11-26 11:56] bulbulistan commented on #589
It's pernicious nonsense, that's what it is, along with stuff like
"prepositional phrase" and "null subject". What's next, do we annotate XPs
and CPs?
I have no problem with individual treebanks using the misc column for
whatever the authors of the treebank think is appropriate and useful, but
UD should remain as theory neutral as possible. "null subject" is as far
from theory-neutral as can be, u

[2018-11-26 12:18] prokopidis commented on #589
@stormur, it would be useful for annotating, for example, co-reference.

Suppose we have

[code]
A null node attached to hang-3-sg-past would be used for linking της/her to. Then by linking the null node to Μαρία, a coreference chain can be created.

It would be also useful for annotating constructions like the [Controlled/raised subjects](http://universaldependencies.org/u/overview/enhanced-synta

[2018-11-26 12:24] dan-zeman commented on #589
I agree that nodes representing arguments that are not overtly expressed by independent words would be useful for coreference resolution, but coreference resolution itself is not part of UD (not even enhanced UD). Like many other things that are useful but not part of UD, it can be annotated on top of UD, using either the MISC column, or the [CoNLL-U Plus file format](http://universaldependencies.

[2018-11-26 13:19] adam-przepiorkowski commented on #589
@bulbulistan How is _null subject_ theory-internal and _null predicate_ theory neutral?  Once UD makes it possible to represent the latter, I see no reason not to represent the former.

@dan-zeman Sharing of null dependents is not co-reference, it's (at least partially) a syntactic phenomenon.  For example, co-reference makes it possible to switch from grammatical gender to natural gender (think o

[2018-11-26 13:36] bulbulistan commented on #589
@adam-przepiorkowski:
1. Are you talking about null nodes for elided predicates in ED? Because ellipsis is a very different phenomenon.
2. Null-subject is something generativists came up with (according to some, it can be traced to Luigi Rizzi. Issues in Italian syntax. Dordrecht: Foris, 1982) and as such, it is tied to its theory of sentence production. If you want to use it typologically without

[2018-11-26 14:10] sylvainkahane commented on #589
@prokopidis About your examples:
[code]
What is probably missing here is not a null subject. What could be missing is a morpheme-level analysis, where lexemes and inflectional morphemes are nodes and can receive an index or a coreference link. In fact, inflectional morphemes (such as 3 and sg in the examples) are syntactic units. Dependency analysis is usually done at the word-level for the sake o

[2018-11-26 14:17] dan-zeman commented on #589
Well, UD is quite clear about not drawing dependencies between sub-word units :-)

Besides, it is not always straightforward how to isolate the morpheme that is responsible for cross-referencing the subject (or another argument). If I wanted to design an abstract representation that would account for arguments that are only cross-referenced on the verb OR not represented at all, I would find extra

[2018-11-27 14:51] #565 closed, assigned to nobody

[2018-11-27 15:21] msklvsk commented on #200
And there is also _the boss demanded **from us** to start_. An `obl` for xsubj?
(I would say yes.)

[2018-11-27 15:27] dan-zeman commented on #592
The Unimorph specification is [here](https://unimorph.github.io/doc/unimorph-schema.pdf), deixis starts on page 22. Mapping from them may not be always straightforward because they allow to combine various subdimensions orthogonally. We need subdimensions called "Distance" and "Reference Point". Maybe we could model them as two features, `Deixis` and `DeixisRef`.

1. close to me, wherever you may

[2018-11-27 16:36] lauma opened #594 "reparandum for repeated words in poorly edited texts"
Is it permited to use role `reparandum` for poorly proofread texts where verb is ungrammatically repeated, e.g. _yesterday he was was here_. If not, what would be more appropriate?

In Latvian corpus we have a sentence _Zālē bija aizņemtas bija gandrīz visas vietas_ (all seats were taken in the hall) from relatively reputable news source. In this sentence the ungrammaticaly repeated verb "bija" (w

[2018-11-27 22:36] lauma opened #595 "Can particle be in a discourse labeled dependant of a conjunction?"
Let's consider following sentence in Latvian:
_Viņš nesteidzās, kaut arī bija vēls._
He didn't hurry even though [it] was late.

I'm struggling to determine correct UD analysis for _kaut arī_. Older grammar books for Latvian consider it together with several others like _lai arī_, _lai gan_, _kaut gan_ to be basically a multiword coordination conjunction. However, for all kinds of computational pu

[2018-11-28 06:09] dan-zeman commented on #595
I would definitely keep _kaut_ as a separate token; words with spaces should be used very sparingly.

Using `discourse` does not seem appropriate to me; [according to the guidelines](http://universaldependencies.org/u/dep/discourse.html), `discourse` would have to be attached to the head of the clause (and it would have to be something which is not clearly linked to its structure, which is not the

[2018-11-28 06:52] sylvainkahane commented on #595
Is _kaut_ a CCONJ or an SCONJ? Can you explain how you decide?

[2018-11-28 10:12] lauma commented on #595
Oh, I got corrected, in the abovementioned case _kaut_ is the subordination conjunction and _arī_ is the particle, not the opposite way.

Anyway, I like the solution with `fixed`, I'll go with it, unless someone objects.

@sylvainkahane _kaut_ is traditionally considered to be subordination conjunction, thus, `SCONJ` in UD. The newest comprehensive grammar book (Latviešu valodas gramatika, 2013) m

[2018-11-28 14:13] olesar opened #596 "nummod should be NUM but it is NOUN: validation error in larger number phrases"
In Russian UD treebanks, the lemmas тысяча 'thousand', миллион 'million', миллиард 'billion' (and names for even larger numbers) are treated as a NOUN.
The reason is that they have a category on Number which is not present in NUMs:
(1) пять тысяч.Plur евро 'five thousand.Plur euro'
(2) на тысячу.Sing человек 'on one thousand.Sing people'
(3) две тысячи.Plur грантов 'two thousand.Sing grants'

and,

[2018-11-28 14:29] dan-zeman commented on #596
I am not necessarily against changing the guidelines but I believe that the validator follows the current guidelines in this respect. The definition of [nummod](http://universaldependencies.org/u/dep/nummod.html) refers to the `NUM` UPOS tag. It does not seem to cover quantifying expressions that are not `NUM` (specifically excluding pronominal quantifiers, which are tagged `DET`). So this seems t

[2018-11-28 14:37] amir-zeldes commented on #596
I also think it may be too restrictive to limit nummod to NUM - in many languages you can get nominalized, morphologically viable numeral nouns, which are not the same as pronominal quantifiers. For cases like pluralizable 'dozens' or 'hundreds' modifying another noun, I think it makes sense for them to be NOUN (since the normal numeral 'hundred' shouldn't be able to pluralize), but also nummod, a

[2018-11-28 16:21] lauma commented on #596
To add Latvian point of view: we also treat large numbers like quadrillion (_kvadriljons_), quintillion (_kvintiljons_) and some other quantities like zero (_nulle_), [one] half (_puse_), [one] third (_trešdaļa_) to be nouns, so this issue has potential to impact Latvian, also. Latvian Treebank did this this way, because "normal" inflective numerals can have both masculine and feminine gender, e.g

[2018-11-28 22:17] dan-zeman commented on #596
@amir-zeldes : you do not need "of" but you need the genitive morphological case. And it is actually the counted noun, not the number, who is forced to genitive.

For the record, the Czech morphological analyzer also tags _tisíc_ "thousand", _milión_ "million" and _miliarda_ "billion" as nouns (_tisíc_ only in certain contexts I think). But it does not result in conflict with `nummod` in the Czech

[2018-11-29 07:53] gossebouma commented on #596
In the Dutch treebanks, nummod is either a NUM or SYM. The latter is used for the first token in strings  like '25% insuline', '1,5x1,5 centimeter', '+11,77 km' and '3x Roland Garros'.

The guidelines for SYM suggest that perhaps only the mathematical symbol in these tokens should be SYM and the rest NUM, but the underlying treebank treats these expressions as a single token (as they are  written

[2018-11-30 13:55] EmanuelUHH opened #597 "Out of date documentation pages in /docs/ ?"
I stumbled over a few documentation pages (http://universaldependencies.org/docs/u/dep/index.html and the ones linked there) that seem out of date but don't indicate that anywhere. Are they supposed to be there?

[2018-11-30 15:09] dan-zeman commented on #597
@fginter : My hypothesis is that these files survive in the html repository [universaldependencies.github.io](https://github.com/UniversalDependencies/universaldependencies.github.io) while their source .md files were removed from the docs repository long ago. Do we have a mechanism for Jekyll to remove HTML files if the corresponding MD files were removed? If we do, does it work?

[2018-11-30 18:51] bhkjersten opened #598 "UD_Hebrew-HTB analysis of מה"גרין (mh"grin) contains itself"
he_htb-ud-train.conllu version 2.0 or later contains a self-contradictory annotation that crashes our in-house CONLLU parser.

he_htb-ud-train.conllu analyzes מה"גרין (mh"grin) as מ+ה+"+מה"גרין (m+h+"+mh"grin) instead of מ+ה+"+גרין (m+h+"+grin). This means that the token is described as containing itself, and it is impossible to reconcile the length of the full token with the lengths of its consti

[2018-12-01 12:57] dan-zeman commented on #598
Seems fixed now:

<pre>
17-20	מה"גרין	_	_	_	_	_	_	_	_
17	מ	מ	ADP	ADP	_	18	case	_	_
18	ה	ה	DET	DET	PronType=Art	16	obl	_	_
19	"	"	PUNCT	PUNCT	HebSource=ConvUncertainHead	18	dep	_	_
20	גרין	גרין	PROPN	PROPN	HebSource=ConvUncertainHead	18	dep	_	_
</pre>

[2018-12-01 12:58] shovalsa commented on #598
This problem occurs whenever a PROPN is quoted immediately after a preposition. For example,
 מה"גרין קארד" שלו
from his "green card"
By chance this only occurs in the train set because this construction did not appear elsewhere.
I just fixed it by replacing the LEMMA to be identical to the FORM (which was ok).
The revised version can be found in the dev branch:
https://github.com/UniversalDepende

[2018-12-01 12:58] dan-zeman commented on #598
(BTW in general it is not guaranteed that the number of characters of a multiword token must be the sum of the characters of the individual words.)

[2018-12-01 13:00] #598 closed, assigned to nobody

[2018-12-01 14:14] gw17 opened #599 "Change filename to identify corpus for which content (words) have to be donwloaded separately"
There are several corpora for which only annotations are provided (e.g. French-FTB).

Dataset of these treebanks should have a special names (e.g. their extension can be `.conllu.without_words` to prevent them from being included when doing experiments on the whole UD Project.

[2018-12-01 15:31] dan-zeman commented on #599
There are many other respects in which the treebanks differ (although this is arguably one of the more important differences). Then we could also have .conllu.without_lemmas, .conllu.without_features_and_lemmas etc. Instead of putting metadata information into filenames, we put it in the [README files](http://universaldependencies.org/release_checklist.html#treebank-metadata). You can grep the REA

[2018-12-01 15:31] #599 closed, assigned to nobody

[2018-12-03 12:24] chedio commented on #592
Thanks. I will try with the two features `Deixis` and `DeixisRef`. For Wolof, I think this may be enough (because within the 11 paradigms, there are many allomorphs).

[2018-12-03 19:55] nschneid opened #600 "Hebrew documentation links are broken"
http://universaldependencies.org/he/ Markdown source has incorrectly quoted URLs, which breaks the links.

[2018-12-07 15:52] EmanuelUHH opened #601 "The expl relation in German"
The official documentation for German states that:

What is the reasoning behind this? Constructions with an expletive "it" are perfectly grammatical in German and there are several examples across the German treebanks where expl is actually used sensibly as a main type.

[2018-12-11 04:58] nschneid opened #602 "Definition of 'mark'"
The [`mark` definition](http://universaldependencies.org/u/dep/mark.html) begins: "A marker is the word introducing a finite clause subordinate to another clause."

Why does this specify a *finite* clause given that infinitive "to" is considered a marker? At the very least I think there should be clarification about infinitive markers.

[2018-12-11 08:18] dan-zeman commented on #602
I suppose it is a relict from some version of the Stanford Dependencies. I think finite and non-finite subordinate clauses had different relations there (not sure what they did with the infinitive marker though).

[2018-12-11 08:27] gossebouma commented on #602
An additional question is whether it is OK to have more than one mark dependent, as in Dutch:

een zondag om nooit te vergeten
a sunday TO never TO forget

where both 'om' and 'te' (comparable to EN 'to') are mark dependents of the verb 'vergeten'. It causes an issue when converting to Enhanced UD. The current treebank has

mark(vergeten,te)
mark(vergeten,om)
acl:te(zondag,vergeten)

but perhaps t

[2018-12-11 08:29] dan-zeman commented on #602
According to the German example in the documentation (coincidentally very similar to your Dutch one), it obviously is OK.

[2018-12-15 12:32] rafael75012 opened #603 "French : périphrase "qu'est-ce que" and "est-ce que""
Hi,

Seems there is no consistent annotation of "qu'est-ce que" and "est-ce que" in French treebanks.

- Qu'est-ce que

Sequoia uses `dislocated` for attributive construction

Spoken treats "qu'est-ce que" as an MWE? But without parsing it internally with `fixed`?

GSD uses `advcl:cleft`

- Est-ce que

GSD uses `ccomp`

Spoken treats "est-ce que" as a MWE, but without analyzing it internally? And

[2018-12-30 18:19] nschneid commented on #513
Looking at EWT lemmas that are not in a dictionary, I see it's not just typos and abbreviations; "sooo", "soooo", and "sooooo" are attested, for example. I wonder if we need `ExpressiveSpelling=Yes`.

[2018-12-31 12:34] amir-zeldes commented on #513
I'd vote to lemmatize as 'so', since users searching the corpus can't predict how many o's will appear and it seems like an arbitrary inflation of the lemma type count.

[2018-12-31 14:07] rueter commented on #513
@nschneid I'd also vote for "so" as the lemma.
I am also glad you have brought up the idea of ```ExpressiveSpelling=Yes```, although I am not quite sure whether that will cover other conceivable patterns, i.e. the shivering or stuttering speaker may have word-initial reduplication ```It's c-cold in here```.
Would this latter instance then be ```DescriptiveSpelling=Yes```?
(1) we are indicating the

[2018-12-31 17:00] nschneid commented on #513
@rueter good point. But I wonder if the line between expressive and descriptive would be tough to draw in some cases. E.g. in quoted speech, would "sooo" be descriptive rather than expressive?

Should the expressive use of capitalization be tagged as expressive/descriptive, even if it doesn't show up in the lowercased lemma? E.g. when a word is in all-caps for emphasis or to indicate it was said l

[2019-01-05 15:27] olesar opened #657 "Validation for the "node has more than one subject" constraint"
In sentences like
The only answer is 'Nobody knows'.
in which the the head of the reported speech is the root of the sentences, both 'answer' and 'nobody' are considered subjects:
nsubj(Nobody, knows)
nsubj(answer, knows)

This double subject construction (also with named entities that have internal syntactic structure) is attested in many languages but is treated as a 'Violation of guidelines' by

[2019-01-05 16:13] jnivre commented on #657
The guidelines say that the copula should be treated as the root when the predicate (in this case ”nobody knows”) is itself a clause. The motivation is precisely to avoid having to ”nsubj” relations. This is not an ideal solution and it may be worth reconsidering in future versions. In any case, this explains why this is flaggen as an error by the validator.

[2019-01-05 16:35] olesar commented on #657
Unfortunately, some languages do not have overt copulas. What should one practically do, say,  in Russian or Belarusian? Is the subject a root then? I also recollect an example where both subject and predicate were book titles with the verb head.

[2019-01-05 17:16] jnivre commented on #657
Good point, which underlines the questionable nature of this specific guideline. Making the subject the root seems even more questionable, so in these cases we may have to accept two nsubj relations.

[2019-01-05 20:28] nschneid commented on #657
Interestingly, looking at the [GUM corpus](http://match.grew.fr/?corpus=UD_English-GUM@2.3&custom=5c30ca0febac1), the largest proportion of these involve a shell noun ("the question/answer/problem/issue/reason/claim/agreement... is"). (Another chunk involve free relative clauses, but I'm not sure whether the parses are correct.)

The shell noun sentences can be reversed without changing the semant

[2019-01-06 17:22] amir-zeldes commented on #657
+1 for allowing double subject in this construction. Plain dependencies can't really express the nesting structure of the clause internal vs. clausal predicate subjects, so I think this is the most faithful thing we can do. In practice, it's usually not hard to tell which subject is which based on proximity to the verb.

@nschneid - I feel like csubj is putting a lot of potentially non-theory neut

[2019-01-06 17:48] nschneid commented on #657
Subject-verb agreement between singular and plural NPs in a copular construction is always dicey. "The pants are what ripped" sounds fine to me. "What ripped was/were the pants" sounds better than "What ripped is/are the pants", but still a bit awkward. Also awkward: "My favorite piece of clothing is/are my pants" (I think I'd prefer "is" to "are", but am not sure).

[2019-01-06 17:59] dan-zeman commented on #657
Okay, so how do we modify the validator without allowing multiple subjects everywhere? Is it safe to say that a `VERB` has at most one subject, and any other part of speech has at most two?

[2019-01-06 18:30] jnivre commented on #657
Sounds good to me. Ideally, one of the subjects should be subtyped, but since subtypes are never obligatory in v2, we cannot make this part of the validation.

However, before we modify the validator, we need to agree on exactly how the guidelines should be amended. It seems straightforward to say that the current guidelines (which makes the copula the root if the predicate is a clausal structure)

[2019-01-06 22:48] olesar commented on #657
I would not turn off the validation of the double subject trees entirely but rather use a warning mode along with 'errors'. In a number of treebanks, it would help to correct erroneous cases such as depictive sentences with two Nominative-like dependencies of the verb.

[2019-01-07 07:13] dan-zeman commented on #657
@jnivre, I would only extend the guidelines to the point that was not covered by the current documentation, i.e., what to do if there is no overt copula. The guidelines can be stricter than the validator if there is something that the validator cannot check automatically (but it actually can check the presence of the copula). On the other hand, I was probably wrong in claiming that the double-subj

[2019-01-07 08:20] dan-zeman commented on #601
Good catch. It looks like the claim has been copied along from another language. And overlooked.

[2019-01-07 08:21] #601 closed, assigned to dan-zeman

[2019-01-11 09:41] josalmi opened #604 "HTTPS support for universaldependencies.org domain"
GitHub has supported HTTPS for custom domains for a while now: https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

universaldependencies.org website should be updated to new A-records from GitHub and after certificate is generated https could be enforced from the settings.

[2019-01-11 12:50] dan-zeman commented on #604
Why should we use a secure protocol on a site where people do not submit their passwords?

[2019-01-11 12:57] josalmi commented on #604
https://developers.google.com/web/fundamentals/security/encrypt-in-transit/why-https

HTTPS also brings faster loading times: https://blog.github.com/2018-05-01-github-pages-custom-domains-https/#faster-site-load-times

[2019-01-11 13:18] foxik commented on #604
HTTP only sites are being marked as "not secure" by browsers, see https://www.blog.google/products/chrome/milestone-chrome-security-marking-http-not-secure/ . If I understand correctly, a more aggressive version (with red color) is planned in general.

I believe we should start offering HTTPS eventually.

[2019-01-11 13:27] fginter commented on #604
Yes, absolutely, let's do it. Right now, that option is unavailable because there's some sort of mixup with the DNS setup. I'll see if I can provide @jnivre with updated instructions. I believe Joakim will need to adjust the config before GitHub lets us turn HTTPS on.

[2019-01-11 13:34] jnivre commented on #604
Okay. Just tell me what I need to do and I'll try to do it. :)

[2019-01-11 13:38] fginter commented on #604
instructions in email :)

[2019-01-11 15:12] fginter commented on #604
...waiting for the certificate to be issued, will take 24h

[2019-01-12 10:03] sylvainkahane opened #605 "Governor of discourse markers"
Currently, the guidelines say about the `discourse` relation:  "These discourse elements are attached to the head of the most relevant nearby clause, which is why they are grouped with non-core clausal dependents even though they are normally not dependents of the predicates as such."
But some discourse markers are inside phrases which are not clauses and to attach them to the head of a clause cau

[2019-01-13 19:47] kajad commented on #605
In the Spoken Slovenian Treebank, we also followed a general rule of attaching such nodes - i.e. discourse markers (labeled as `discourse`, e.g. _well_), clausal discourse markers (`parataxis:discourse`, e.g. _you know_) and filled pauses (`discourse:filler`, e.g. _uh_) - to the highest relevant unit preserving projectivity, either a predicate or any other constituent.

However, different types of

[2019-01-14 10:55] fginter commented on #604
I think this works as of few minutes ago.

[2019-01-14 10:55] #604 closed, assigned to spyysalo

[2019-01-14 11:04] jnivre commented on #604
Great, Thanks!

[2019-01-14 16:11] amir-zeldes commented on #657
@dan-zeman sorry to reopen the discussion but upon thinking about this for a bit, I'm not sure I understand the rationale to recommend a different analysis when there is or isn't a copula. One of the strengths of the UD treatment of copulas as auxiliaries is, in my opinion, the fact that nominal sentences without copulas look the same as ones with it. Why make a distinction when the predicate is c

[2019-01-14 16:38] jnivre commented on #657
The problem is that the recommendation to make the copula the head when the predicate is clausal was adopted as part of v2 of the guidelines, and we are currently operating under the constraint that universal guidelines can only be changed as part of a major version change (which in this case would have to be from v2 to v3). The added guidelines for languages without a copula is different, because

[2019-01-14 17:00] amir-zeldes commented on #657
Yes, I can definitely understand that logic. My worry is that, for guidelines that will ultimately change, some new data sets may enter with the 'wrong' structure and then be abandoned without updates, rather than entering with the right structure to begin with. But I admit in this particular case it is probably relatively easy to recognize the construction and convert it automatically if needed.

[2019-01-17 08:46] rafael75012 commented on #476
Hello,
May I ask if we came to any decision?

[2019-01-17 08:56] rafael75012 commented on #581
For FQ in French, could we use `acl`?
Once we admit that they behavior is similar to secondary predicates, and that `advcl` has been proposed to replace `acl` for their description (*https://github.com/UniversalDependencies/docs/issues/476), `advcl` for FQ could be an option to

[2019-01-17 09:14] jnivre commented on #476
Unfortunately, nothing seems to have happened here. We need to follow up this and many other issues.

[2019-01-17 09:29] dan-zeman commented on #476
Anyways, if there is a conclusion, it will be the next version of the guidelines, right? Shall I modify the milestone to "later"?

[2019-01-17 09:44] dan-zeman commented on #581
I am inclined to use `det`, as proposed by @nschneid above. It may be unusual from the point of view of traditional grammar, but it seems in line with how quantifiers are treated in UD.

[2019-01-17 10:06] jnivre commented on #476
Right.

[2019-01-17 10:16] sylvainkahane commented on #581
`det` is a very particular relation that we need  for languages such as English were a special word is the functional head of the noun phrase (and cannot in particular be easily erased). This construction is so special that I would be very reluctant to use it for something else.

For FQ in French, we have two constructions: one where the FQ forms a phrase with the verb (_ils sont tous venus_ 'they

[2019-01-17 10:23] rafael75012 commented on #581
@dan-zeman Even for French, in which we find FQ made of a two tokens? And in which the placement is more free, and in which they are not adjacent to the element they are supposed to modify?

Just note in passing that FQ in English are very similar to FQ in Chinese, so if `DET` is adopted in English, it may also fit for Chinese :

In (2) 俩 is a numeral.

[2019-01-17 11:46] dan-zeman commented on #581
@rafael75012 : Yes, why not. There is no universal rule that a modifier must be adjacent to the element it modifies. Or that it must consist of a single token.

In your Chinese examples, I would do
`det(tāmen, dōu)`
and
`nummod(tāmen, liǎ)`,
respectively.

@sylvainkahane : Maybe the `det` relation in UD is not as specific as outside UD, but it has a misleading name. I just had a look at the guidel

[2019-01-17 12:12] rafael75012 commented on #581
@dan-zeman About the Chinese example, do you refer to this rule "However, cardinal numerals in the narrow sense (one, five, hundred) are not tagged `DET` even though some authors would include them in quantifiers. Cardinal numbers have their own tag `NUM`."? https://universaldependencies.org/u/pos/DET.html

So it would be like in the French

Where you would get :

By the way, do we agree that "tou

[2019-01-17 13:18] dan-zeman commented on #581
_tous_ `DET` is fine with me. Accompanied by `PronType=Tot`.

[2019-01-17 15:16] gcelano commented on #377
I do not know whether there is a more relevant issue opened on this, but I am wondering why rules for tokenization and word segmentation do not (routinely) allow for two ore more graphic tokens to be univerbated for the sake of syntactic analysis (e.g., "in spite of"). The guidelines explicitly advise against that (while allowing univerbation for a few exceptional cases). I can imagine that this c

[2019-01-17 15:29] dan-zeman commented on #377
The guidelines define the relation [fixed](https://universaldependencies.org/u/dep/fixed.html), which is used to connect parts of expressions like _in spite of_. You can think of that relation as technical means used to annotate (one particular type of) a syntactic word that consists of multiple orthographic words.

[2019-01-17 15:39] dan-zeman commented on #377
That page has been moved to [https://universaldependencies.org/v2/segmentation.html](https://universaldependencies.org/v2/segmentation.html). If you know where you saw the link you can fix it there. The page is part of "final reports" during the discussion before v2 guidelines were announced and I don't remember whether it is really compatible with v2 as they were approved. If there are any discre

[2019-01-17 15:57] sylvainkahane commented on #581
@dan-zeman Agreement between two units does not mean that they form a phrase together (cf. anaphoric relations). I don't see any serious argument to consider that the FQ forms a phrase with the subject. French weak subject pronouns such as _ils_ are clitics and cannot have a dependent. They can only be separated from the verb by other clitics.

[2019-01-18 11:20] gcelano commented on #377
This treatment seems to be in line with that of other "higher-order" technical dependencies, such as, for example, coordination. I have not yet reflected enough on these latter, but, in any case, I think that technical dependencies at the level of identification of the syntactic word impact formal representation consistency both crosslinguistically and intralinguistically significantly. More in ge

[2019-01-18 12:04] akoehn commented on #377
No, it is – from a technical standpoint – quite possible to have
whitespace in a token.

We have whitespace in tokens in the Hamburg
Dependency Treebank (and the WIP UD conversion) in some rare cases,
e.g.  “Michael Jackson-Fans”.  This is treated as a single word
because the modifier “-Fans” applies to “Michael Jackson” as a whole
and not just his last name.  The canonical version would be
“Micha

[2019-01-18 12:17] jnivre commented on #377
Just for completeness: Another option that is sometimes relevant is the "goeswith" relation, which can be used, for example, if a word like "furthermore" is written "further more".

In general, I agree that the use of "technical" relations can be a problem, especially for users that are not familiar with UD and assumes that every relation is a true syntactic relation. It is the price we have to pa

[2019-01-18 12:34] martinpopel commented on #377
I think the current solution (with the `fixed` relation) actually improves the consistency and usability of UD. Just that users need to be aware of the guidelines, but that is true for any guidelines and projects.

As for “Michael Jackson-Fans”: why not
[code]
?
I mean `flat` (similarly to `fixed`) means that the whole phrase act as a single syntactic unit with no inner dependencies (as the term *

[2019-01-18 12:37] sylvainkahane commented on #377
Word segmentation is part of the syntactic analysis. It is not possible to decide independently of a syntactic studies what are the words of a language. The great advantage of a purely formal tokenisation (for instance based on orthography for languages which have such a tradition) allows us to postpone this decision when we annotate and realize the syntactic analysis. If you proceed with a double

[2019-01-18 13:16] akoehn commented on #377
Then we would have to analyze "Michael-Jackson-Fans" and all other words with Durchkopplung in a similar fashion. We then would analyze "Foo-Bar" as `flat(Foo, Bar), punct(Foo, -)` but Foobar (which is just an alternative spelling of Foo-Bar) as a single word. One could continue that path and also analyze "Foobar" as two tokens but I think we all agree that this is not desireable.

This way, we sp

[2019-01-18 15:43] gcelano commented on #377
In UD a word segmentation is already "imposed" after whitespace-based tokenization, in that graphic words can be regularly split.

I take "in spite of"  as a syntactic word (on a par with "despite"). Of course, the idea is that one acknowledges that it now works as a unit (vs its more etymological analysis).

[2019-01-18 16:02] gcelano commented on #377
@akoehn, even if you (exceptionally) allow whitespaces within a syntactic word, your example still looks to me as a workaround dictated by the limitation of the format. Of course, one could potentially take "Michael(-)Jackson-Fans" as a single concept/syntactic word, but frankly, if you compare it to other similar cases, I would here identify "Michael Jackson" and "fans" as separate syntactic word

[2019-01-19 03:19] venkatasg opened #606 "Broken link in PROPN part-of-speech page"
The following link in the References section for Proper Nouns(PROPN): [Loos, Eugene E., et al. 2003. Glossary of linguistic terms: What is a proper noun?](
http://www-01.sil.org/linguistics/GlossaryOfLinguisticTerms/WhatIsAProperNoun.htm) is broken. The link is
http://www-01.sil.org/linguistics/GlossaryOfLinguisticTerms/WhatIsAProperNoun.htm.

Perhaps the new link is [this](https://glossary.sil.or

[2019-01-20 21:15] #606 closed, assigned to nobody

[2019-01-20 21:15] dan-zeman commented on #606
Thanks! Replaced with the link you found.

[2019-01-21 09:12] akoehn commented on #377
Let me prepend that a) I'm not a specialist on word segmentation stuff and b) these decisions were made by others long before my time with the HDT.

@gcelano, the question is up to which level structure should be annotated (and I don’t think that this is a *technical* limitation, it is a decision made by UD). We took the (I think reasonable) approach not to go to the sub-token level. E.g., “Blumen

[2019-01-21 10:22] gcelano commented on #377
@akoehn, the difference between “Blumentopferde” and “Blumentopf Erde” pertains only to orthography, not to syntax. Therefore, I would expect them to be syntactically analyzed in the same way (whatever analysis one choses). If we analyze them differently, this is a case where orthography unduly influences syntactic analysis. The question is to ensure that the same syntactic phenomena get the same

[2019-01-21 10:42] martinpopel commented on #377
everyone: If you have not done so yet, read the current [Tokenization and Word Segmentation guidelines](https://universaldependencies.org/u/overview/tokenization.html).

@gcelano: I agree with @akoehn that there is no *technical* limitation of UD or CoNLL-U which would prevent words with spaces. In deed, in Vietnamese UD, spaces regularly occur inside words (because they mark syllable boundaries r

[2019-01-21 10:51] akoehn commented on #377
Exactly. It is not just rare but super-rare (I would guess <= 4 tokens out of 4 million).

[2019-01-21 11:20] gcelano commented on #377
@martinpopel, the argument is that while splitting graphic words for the sake of identifying syntactic words is allowed, merging (usually) is not (even if there are clear cases where this would be required). This has as a consequence that syntactic analysis in UD has to accommodate this via the use of technical dependencies. While technical dependencies may not be a _big_ problem intralinguistical

[2019-01-21 14:38] amir-zeldes commented on #377
I think the argument for leaving compound modifiers inside tokens in German is not just a practical, but a theoretical one. German compound modifiers often have forms that do not correspond to any independent form of the noun (e.g. compounding truncation for Woll- from Wolle 'wool' in Wollknäuel 'ball of wool', or feminine compound linking 's' in Reinigung**s**firma 'cleaning company').

This topi

[2019-01-22 15:34] dan-zeman commented on #330
There has not been a formal amendment of the UD guidelines that would address typos, but the issue keeps popping up and people are repeatedly referred to this thread and to the draft Typos.pdf that I attached above.

To make it more easily accessible, I have rewritten the recommendations in MarkDown (the contents is slightly modified and extended too), uploaded them [here](https://universaldepende

[2019-01-22 16:01] jnivre commented on #330
Thanks, Dan. This all looks fine to me. One can discuss whether "Typo=Yes" is really a morphological feature, but I can see the value of including it in the FEATS column, so that typos can be filtered out when generating or checking morphological paradigms.

[2019-02-06 15:58] gnepul-ace opened #607 "Question about English UPOS verison 1.2 vs 1.3"
Hi,

I am using the UPOS 1.3, and I find some papers using version 1.2,
Could you give me a description of what is the difference between them(1.2 vs 1.3), as I want to cite the result directly?
Can you give a history track to version 1.2 of POS.

Peng

[2019-02-07 11:08] lauma opened #608 "Punctuation in flat:name"
I would like to ask regarding validator error `if UPOS is 'PUNCT',   DEPREL must be 'punct' but is 'flat:name'`.

What is the appropriate UD style solution to handle person names with hypherns in them, e.g., Wiki lists quite a few of them https://en.wikipedia.org/wiki/Double-barrelled_name, company names like Hewlett-Packard and Yahoo!, rock band AC/DC, Europian Commission directive 80/987/EEC, la

[2019-02-07 11:53] arademaker commented on #608
We have already a long discussion about tokenization in https://github.com/UniversalDependencies/docs/issues/377#issuecomment-455531838

[2019-02-07 13:07] olesar opened #609 "DEPREL: spelling out by syllables"
I am wondering what is the right way to label relations in cases such as:
(a) AF-RI-KA,
(b) AF -- RI -- KA,
(c) AF -- RI -- (say) -- KA 'Africa'
In the texts of poetry and fiction, the syllables can be written separately intentionally, so it is probably not correct to tokenize them as one word (cf. also (c)).
The relation is not `goeswith` since it is only whitespace that can divide segments accor

[2019-02-07 15:21] lauma commented on #608
Thanks! I guess, I didn't express my self clearly. I wanted to know what should one do, when some longer flat:name (actually, flat:foreign, too) contains some kind of punctuation in case decision to not tokenize it as one word is already made for whatever reasons beforehand. E.g., _Montagu-Stuart-Wortley-Mackenzie_.

Is this the correct solution?
[code]

Or can we do it like this?
[code]
Because d

[2019-02-07 15:30] amir-zeldes commented on #608
I agree with @lauma - punctuation can be a legitimate part of a name, in which case it isn't really punctuation at all. Consider also the ambiguity that making the distinction can resolve:

Clinton-Gore relations "Relations between Clinton and Gore" (two names, not flat, hyphen is `punct`)
Wortley-Mackenzie "A person whose name is Wortley-Mackenzie" (single name, everything is `flat`)

[2019-02-07 15:39] lauma commented on #608
In case of `flat:foreign` and `punct` _veni, vidi, vici_ is probably good example - in non-Latin treebanks relation I would argue people use it as a fixed formula without thinking about comma use in Latin.

[2019-02-08 08:55] dan-zeman commented on #609
Yes I think it's not `goeswith` because it's done on purpose and it's not a spelling error. Although I am wondering whether someone thought about such cases and rejected them when defining `goeswith`. Maybe the definition could be extended (and then we would have to allow `punct` nodes between two nodes connected by `goeswith`).

Other than that, perhaps we can simply use `dep`.

[2019-02-08 09:15] sylvainkahane commented on #609
I also think that `goeswith` should not be used in this case. Maybe `list` is a solution. At least from the prosodic point of view, such constructions work as lists. An extension could be used such as `list:syllable`.

[2019-02-08 09:42] dseddah commented on #609
Hi Sylvain and all,

I see the argument about list but in that case how about constructions such as

in-f.cking-deed ?
as in
https://twitter.com/spacebunth/status/1092207999408582657
or
https://twitter.com/jsmoothis2cooll/status/1090430122287599616

(easily searchable in Twitter’s seach field)

Djamé

[2019-02-08 09:50] jnivre commented on #609
Hi all,

Also keep in mind that UD does not segment words into morphemes. In some of these cases (especially the ones without spaces), the best approach is probably to just treat them as separate words. If needed, additional annotation can be used to capture what is special about them. The morphosyntactic UD annotation can never capture everything.

[2019-02-08 10:13] dseddah commented on #609
(Hi Jioakim)

I was wondering 1) how one could coordinate prefixes as in (1) and 2) if it is something we really want to do :)
1° les pros et anticommunistes se sont affrontés hier
    (Pros and anticommunists fought yesterday)

I found these two discussions, the last link on part suggests that part/prefix should be analyzed at the tokenization stage but I’m not sure it was actually done.

a) http

[2019-02-08 11:15] jnivre commented on #609
Hi Djamé,

The first case occurs all the time in Swedish, which has very productive compounding. Currently, we just fudge and treat it as ordinary coordination:

conj(pro, anticommunistes)
cc(anticommunistes, et)

This can be motivated by an analysis where the first conjunct is treated as a kind of ellipsis (where the prefix is promoted):

pro(communistes) et anticommunistes

In Swedish, this is s

[2019-02-12 06:16] rafael75012 commented on #581
@dan-zeman It agrees with the subject/object like a depictive would agree with it

So if there is no "any serious argument to consider that the FQ forms a phrase with the subject" (@sylvainkahane), except if there are arguments to consider that FQ forms a phrase with the verb, `acl` would be ok I think, as FQ relation is neither fully with the verb neither with its argument

[2019-02-12 06:36] rafael75012 opened #610 "French Causative FAIRE"
The causative FAIRE is actually treated as an auxiliary in French treebanks, I wonder if this solution could be ameliorated.

It would maybe be more accurate to treat it as a full verb, with the infinitive linked to it with `xcomp`

With all complements generated by the causative construction depending on the causative, and all complement belonging to the valency of the predicative verb depending

[2019-02-13 20:29] kdesmedt opened #611 "Add INESS to Query UD treebanks online"
The home page lists a number of sites under the heading "Query UD treebanks online".
Please add the following site:
INESS (http://clarino.uib.no/iness) maintained by the University of Bergen

[2019-02-14 13:19] jnivre commented on #611
Thanks, Koenrad. Done.

[2019-02-14 13:19] #611 closed, assigned to nobody

[2019-02-14 19:41] dan-zeman commented on #608
Punctuation can be a part of a name, but that does not mean it's no longer punctuation. Elsewhere, punctuation is part of other things (coordination, subordination, apposition, parenthetical), yet it is still punctuation.

I think we need to shift the viewing angle: the `flat` relation has not been defined to capture every token that is part of a multi-word name. Instead, it often so happens that

[2019-02-14 19:53] amir-zeldes commented on #608
In general that makes sense, but I'm wondering how you would analyze Clinton-Gore vs. Wortley-Mackenzie - maybe just conj vs. flat on the lexical items? It would be nice to be able to distinguish them.

[2019-02-14 20:56] nschneid commented on #608
Why not `compound` for Clinton-Gore?

[2019-02-14 20:59] dan-zeman commented on #608
I would do `conj(Clinton, Gore)`.

[2019-02-14 21:01] nschneid commented on #608
I think it would typically be called an exocentric compound. Is there a policy that `conj` should cover these?

[2019-02-14 21:17] amir-zeldes commented on #608
In German they're called copulative compounds, like strawberry-mango jam (the idea being that no one member is more prominent semantically, both strawberry and mango). I guess the paraphrase "strawberry and mango" or "Clinton and Gore" motivates a conj reading. It's not the same as 'and', but it's also not the same as other compounds, where the modifier constrains a head more narrowly.

[2019-02-15 08:38] dan-zeman commented on #608
I may be mistaken but I do not recall seeing a similar example in the guidelines, either with `compound` or `conj`. Yet in English, `conj` seemed natural to me, for the reasons Amir gives. In other languages the situation may be different. The Czech equivalent of _strawberry-mango jam_ is _jahodovo-mangový džem_ where the fruit part is a compound adjective, not noun (or two nouns). It could be wri

[2019-02-22 10:24] dan-zeman commented on #610
I agree. It would also be parallel to the English constructions with _make_ + `VERB` (see this query: [http://hdl.handle.net/11346/PMLTQ-PPQP](http://hdl.handle.net/11346/PMLTQ-PPQP)).

[2019-02-22 11:48] akoehn opened #612 "Data split for larger treebanks"
We are preparing a UD release of the HDT, but the [guidelines for the repository layout](https://universaldependencies.org/release_checklist.html#data-format-and-repository) only talk about smaller treebanks.

Our train set would be nearly 200mb, twice the maximum file size for files in github.  Should we simply split the file and add a merge script or are there better recommendations?

An alterna

[2019-02-22 12:02] dan-zeman commented on #612
As long as the whole treebank fits into one repository, we can use the same solution as for [UD_Czech-PDT](https://github.com/UniversalDependencies/UD_Czech-PDT). Split the train file into several smaller files of acceptable sizes, name them `de_hdt-ud-train-?.conllu` where the question mark stands for one or a few letters/digits that distinguish the files. I will then hardcode an exception in the

[2019-02-22 12:23] akoehn commented on #612
Okay, I will mention that when we ask for a repository (hopefully soon, we aim for the next UD release).

[2019-02-22 13:34] coltekin commented on #657
I'm joining to the discussion after it was cooled down, but I just realized that this is (related to) a  problem I also have been struggling with for a long time. So, adding another data point.

Here is an example from Turkish:

[code]

The verbal noun has its subject in the subordinate clause and the subject of the copula out of the subordinate clause. In Turkish treebanks, this problem is mostly

[2019-02-22 13:49] coltekin opened #621 "Validator error: 'case' not expected to have children"
I hit this validator error on the Turkish treebank for a construction like the following.

[code]
where the `ADV` modifies the `ADP`, which fits the way I understand the expression. In fact, my (non-native) feeling is that the same analysis is also appropriate in the English translation (although the `ADV` modifies the `NOUN` in similar cases in UD_English-EWT).

I think the test is useful for cat

[2019-02-22 14:24] jnivre commented on #621
Maybe the Turkish situation is different, but when similar examples were discussed before, the conclusion was that the adverb could be seen as modifying the entire prepositional phrase and that it should therefore attach to the head of this phrase, that is, to the noun.

[2019-02-22 17:20] sylvainkahane commented on #610
Each POS correspond to a distributional class. In English, AUX contains the traditional auxiliaries "have" and "be" but also modal verbs "must", "can" etc, because they share distributional properties with  "have" and "be": the initial position in questions.
In French, modal verbs do not share any interesting property with the auxiliaries "avoir" 'have' and "être" 'be' and they are not in AUX. On

[2019-02-22 17:24] sylvainkahane commented on #610
About the definition of AUX : : "An auxiliary is a function word that accompanies the lexical verb of a verb phrase and expresses grammatical distinctions not carried by the lexical verb, such as person, number, tense, mood, aspect, voice or evidentiality"
https://universaldependencies.org/u/pos/AUX_.html

This is clearly a semantic definition, which I think is not convenient. It is not even clear

[2019-02-22 17:42] #612 closed, assigned to dan-zeman

[2019-02-22 17:57] dan-zeman commented on #621
Agreed with @jnivre. [This](https://universaldependencies.org/u/overview/syntax.html#the-status-of-function-words) is the relevant section of the guidelines, especially the example _right before midnight._

[2019-02-22 18:00] dan-zeman commented on #657
The optional relation subtype is [nsubj:cop](https://universaldependencies.org/fi/dep/nsubj-cop.html), currently used in Breton, Estonian, Finnish, Hebrew, Sanskrit.

[2019-02-23 09:12] rafael75012 commented on #610
Is it the case in UD?

That's why it is often seen as a semi-auxiliary I guess
So one would have to choose on which side it should fall in, whether verb or auxiliary.

[2019-02-23 16:51] dan-zeman commented on #610
Not necessarily. Distributional criteria are important but it is not just about them.

Such a test sounds reasonable to me, so maybe it can be auxiliary after all. But I cannot be the judge on this.

[2019-02-25 08:06] rafael75012 commented on #610
The placement of clitics juste before FAIRE is not systematic

The causee can not be the exclusive object of an eventual complex predicate, because it reacts posivitely to subjecthood test

The adverbial clause **sans rien dire** is controlled by the causee.

So we have at least two clauses in causative sentences, one around the verb FAIRE, which takes the causee as object, and one around an embed

[2019-02-25 14:48] eroux opened #613 "RDF URIs for UD v2"
I want to import some UD-tagged corpus using [web annotations](https://www.w3.org/annotation/) I could define the UD URIs we need but I'm wondering if there is a project to have an RDF export of UD2? There is an RDF version of the V1 [here](http://fginter.github.io/docs/) (if you click on the small logos on the right). I'm quite used to RDF so I could help but I don't have much (time) resources at

[2019-02-25 21:17] dan-zeman commented on #613
I am not aware of any such project.

[2019-02-26 09:16] sylvainkahane commented on #610
I agree with you that we could have considered causative FAIRE as a plain verb (even if I’m not convinced by your examples, which looks too much as coined examples).
There is a continuum between pure functional verbs and plain verbs and it is difficult to decide where to cut between AUX and VERB.
Moreover in UD, functional heads are treated as dependents of lexical heads, which accentuate the limi

[2019-02-26 15:21] eroux commented on #613
This seems like a relatively scoped task we could help with, can you provide some indications about the best way to do so? I think the easiest would be to have a script that would read the data in [_data](https://github.com/UniversalDependencies/docs/tree/pages-source/_data) and fetch the labels in the various languages. It would then produce an RDF file that could live in github... does that soun

[2019-02-26 15:48] dan-zeman commented on #613
Depends on what data you need. The files in `_data` are updated irregularly and they say what language-label pairs have documentation pages, which is not the same as being a valid label that can be used in a corpus. At least now it is not (yet) the same.

[2019-02-27 09:39] eroux commented on #613
I see, thanks!

[2019-02-27 16:50] eroux commented on #613
Here's another file containing UD rdf:

http://www.acoli.informatik.uni-frankfurt.de/resources/olia/ud-pos-link.rdf

I'll contact the authors

[2019-02-27 17:32] dan-zeman commented on #613
Yes, Christian Chiarcos from Frankfurt is also the main person behind the UD V1 mapping you linked from your first post.

[2019-02-28 04:44] rafael75012 commented on #610
In which case do you have non-projectivity?
If you make the arguments generated by the causative construction depending on FAIRE and not on the plain verb, I guess you don't have non-projectivity

Treating FAIRE as a full verb has also the advantage to mark which arguments belong to the causative-construction, and which ones belong entirely to the plain verb

That is an argument of not treating FA

[2019-02-28 04:45] rafael75012 commented on #610
In which case do you have non-projectivity?
If you make the arguments generated by the causative construction depending on FAIRE and not on the plain verb, I guess you don't have non-projectivity

Treating FAIRE as a full verb has also the advantage to mark which arguments belong to the causative-construction, and which ones belong entirely on the plain verb

That is an argument of not treating FA

[2019-02-28 10:36] sylvainkahane commented on #610
"In which case do you have non-projectivity?"

_le_ depends on _lire_. If the subject _le professeur_ is linked to _fait_, the tree is non projective.

"That is an argument of not treating FAIRE as an auxiliary I gave earlier, because once you go beyond the limit of AVOIR and ÊTRE, it is hard to know where to stop"
We have to decide where to stop, before or after FAIRE. We decided to use the cliti

[2019-02-28 14:17] sylvainkahane commented on #610
I forgot to mention one important property of the demoted subject in French causative constructions: the realization of the demoted subject depends on the subcategorisation of the lexical verb. If the verb is intransitive, it becomes a direct object (1); if the verb is transitive, it becomes an indirect object (2); and if the verb is ditransitive, it becomes an oblique complement (3).

For this re

[2019-02-28 14:35] amir-zeldes commented on #610
Not sure that this should make a difference for French, but for FWIW for Coptic we made the causative marker be a VERB in UPOS and made it the head, since it takes its own tense and subject agreement (she causes, he had caused, etc.), so it seemed reasonable to treat it as a full verb which can govern its own auxiliaries.

I do remember briefly debating it in the project and eventually deciding ba

[2019-03-04 10:22] perrier54 commented on #440
We can annotate the example X ( Y, Z,W ...) by keeping the projectivity and by attaching the brackets to the head of the expression they delimit. For this purpose, we consider that (Y,Z,W ...) is an enumeration that is part of another enumeration constiting of two elements: X and (Y,Z,W ...). In this view, brackets depend on Y and only Y depends on X. Such annotation is consistent with the interpr

[2019-03-04 21:33] ftyers opened #614 "'contigo' in Spanish treebanks"
Currently in the treebanks where it appears, the Spanish *contigo* "with you" appears with different labels for morphology:

AnCora:
```24      contigo tú      PRON    PRON    Number=Sing|Person=2|PrepCase=Pre|PronType=Prs  23      obj     _       SpaceAfter=No```

GSD:
```40      contigo tú      PRON    _       Case=Com|Number=Sing|Person=2|PronType=Ind      39      case    _       _```

PUD:
```

[2019-03-12 16:36] EmanuelUHH opened #615 "The ambiguity of pronouns"
The documentation for amod explicitly states that it is for modifiers of a noun, but in phrases like "something else" it is commonly used to attach the adjectival modifier to a pronoun. I have two questions related to this:

1.) How strongly does "noun" imply the use of both nouns and pronouns?
While they are used the same way, they are also clearly distinguishable, which I'd take as reason to men

[2019-03-13 10:52] gossebouma commented on #615
The Dutch data for "iets anders" follows the English analysis, ie with something/iets as the head. I would think this is the preferred analysis, as it seems wrong to label something/etwas/iets as a determiner (it cannot be used as determiner in combination with other nouns). Note that the "iets ADJ+s" construction is productive: iets vreemds (something strange), iets lekkers (something sweet), etc

[2019-03-13 11:14] sylvainkahane commented on #615
In French, these constructions have also been analyzed with theb ADJ depending on the pronoun but it is interesting to note that in french, as in Dutch and in German, the ADJ has also a genitive case marker, the preposition DE:

[2019-03-14 23:34] EmanuelUHH commented on #615
A genitive? That's very interesting indeed.
In German, the adjective in these constructions "etwas ADJ+es" is nominalised, i.e. "something strange" would become "etwas Seltsames". Sadly the few examples I've found in UD treebanks were very inconsistent, but in annotations specific to German I've often seen attributive pronouns subordinated to the nominalised adjective as a determiner, which kind o

[2019-03-20 20:39] ftyers opened #616 "UD_Lithuanian-ALKSNIS treebank hub page is a 404"
There is a link to this page from the main page, but it doesn't exist:

http://universaldependencies.org/treebanks/lt_alksnis/index.html

[2019-03-26 14:54] dan-zeman commented on #615
Ad question 1: I think `amod` is a modifier within a nominal phrase, which can be also headed by a pronoun, hence an `amod` attached to a pronoun can be correct. Maybe we should mention it somewhere in the documentation.

Ad question 2: where did you see _etwas anderes_? I did not find a single occurrence, neither in UD 2.3 German GSD, nor in German PUD. There are a few other examples of _etwas *e

[2019-03-26 15:52] dan-zeman commented on #615
_Etwas *es_ made consistent in the dev branch of UD_German-GSD. I am tentatively closing this issue, although I am aware that it was not just about German GSD. Feel free to reopen if more discussion is needed.

[2019-03-26 15:52] #615 closed, assigned to nobody

[2019-03-26 21:45] dan-zeman commented on #614
`PronType=Ind` resulted from a bug. All three treebanks now use `PronType=Prs` for _conmigo, contigo, consigo_. They also use the comitative case, although we may want to treat it as a multi-word token instead, and split it to _con tí_.

[2019-03-27 14:33] EmanuelUHH commented on #615
That was part of the problem - sorry if my wording was somewhat ambiguous. I meant to say that the few examples I found were only for "etwas ADJ+es", not actually for "etwas anderes".

The nominalisation of adjectives is the main reason I thought that `amod` seemed weird even though the structures are highly similar. I like your solution a lot; `nmod`allows us to maintain the same dependency struc

[2019-03-29 22:34] manning commented on #607
Hi Peng,

At the level of specifications, there is no difference between UPOS v1.2 and v1.3. They both had the same set of UPOS with the same definitions (modulo minor clarifications which may have been added to the documentation). The only changes in the set and their definitions occurred between UD v1 and UD v2.

If the question is in practice how the corpora differed, then for UD_English-EWT, i

[2019-03-29 22:35] #607 closed, assigned to sebschu

[2019-03-30 09:10] wongtaksum commented on #581
倆 liǎr = two pieces
I do not think it is a numeral while 倆liar refers to 他們tamen.  I would use appos(倆, 他們).
What is the problem of treating 都dou as an adverb?

[2019-03-31 15:23] amir-zeldes opened #617 "advmod but not UPOS=ADV"
In UD_Coptic-Scriptorium we have a number of exceptions to the advmod=ADV convention, which the validation script flags. However I'm not sure I want to change these cases to ADV, so I'd appreciate input on these situations:

1. `NUM` can be `advmod` - for example, Coptic often uses repeated numbers adverbially to indicate distributive quantities. For example: joou-se snau snau, lit. "send them two